.rs-callback {
    position: relative;
    background-color: #EEEEEE;
}

.rs-callback__inner {
    padding-top: 40px;
    padding-bottom: 30px;
    display: -ms-flexbox;
    display: flex;
}

.rs-callback__inner h4 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    color: #222222;
    margin-top: 0;
    margin-bottom: 8px;
}

.rs-callback__inner p {
    font-size: 14px;
    line-height: 1.4;
    color: #666666;
    margin-top: 0;
}

.rs-callback__inner p:not(:last-child) {
    margin-bottom: 8px;
}

.rs-callback__form {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 160px;
}

.rs-callback .callback-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    -ms-flex-align: start;
    align-items: start;
}

.rs-callback .callback-form p {
    grid-column: span 4;
    color: #999999;
    line-height: 1.4;
    font-weight: 300;
    margin-top: -20px;
    margin-bottom: 0;
}

.rs-callback .callback-form p a {
    color: #999999;
    text-decoration: underline;
}

@media (max-width: 991.98px) {
    .rs-callback__inner {
        display: block;
    }

    .rs-callback__form {
        margin-left: 0;
    }
}

@media (max-width: 767.98px) {
    .rs-callback .callback-form {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .rs-callback .callback-form p {
        -ms-flex-order: 4;
        order: 4;
        margin-bottom: 10px;
    }

    .rs-callback .callback-form .btn-color {
        -ms-flex-order: 5;
        order: 5;
    }
}