.footer-menu {
    font-size: 14px;
    line-height: 1.7142857143;
}

.footer-menu__list {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-menu__list li:not(:last-child) {
    margin-bottom: 0.8571428571em;
}

.footer-menu__list li a {
    display: inline-block;
    font-size: 1em;
    color: #666666;
    transition: 0.5s;
}

.footer-menu__list li a:hover {
    color: #3893d4;
}

.footer-menu_grid .footer-menu__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    -webkit-column-gap: 92px;
    -moz-column-gap: 92px;
    column-gap: 92px;
}

.rs-footer__top {
    padding-top: 90px;
    padding-bottom: 35px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rs-footer__menu {
    margin-bottom: 40px;
}

.rs-footer__menu:not(:last-child) {
    margin-right: 10px;
}

.rs-footer__contacts {
    width: 360px;
    margin-right: 10px;
}

.rs-footer._init .footer-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.rs-footer._init .footer-title::after,
.rs-footer._init .footer-title::before {
    content: "";
    position: absolute;
    background-color: #222222;
    transition: -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
}

.rs-footer._init .footer-title::after {
    right: 18px;
    width: 2px;
    height: 14px;
}

.rs-footer._init .footer-title::before {
    top: 50%;
    right: 12px;
    height: 2px;
    width: 14px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-footer._init .footer-title._active::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rs-footer._init .footer-title._active::before {
    -webkit-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
}

.rs-footer._init .not-spoller.footer-title::after,
.rs-footer._init .not-spoller.footer-title::before {
    display: none;
}

.rs-footer .footer-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
    color: #222222;
    margin-top: 0;
    margin-bottom: 32px;
}

.footer-contacts {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
    color: #222222;
}

.footer-contacts__phone {
    margin-bottom: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 72px;
    position: relative;
    min-height: 49px;
    color: #222222;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    transition-duration: 0.3s;
}

.footer-contacts__phone span {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2142857143;
    margin-bottom: 5px;
}

.footer-contacts__phone::before {
    content: url(../../img/icons/footer_icon.svg);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #f78e16;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer-contacts__phone:hover {
    color: #3893d4;
}

.footer-contacts__wrapper {
    padding-top: 32px;
    border-top: 1px solid #ebebeb;
}

.footer-contacts__address {
    margin-bottom: 12px;
}

.footer-contacts__shedule {
    margin-bottom: 12px;
}

.footer-contacts__mail {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-contacts__mail li:not(:last-child) {
    border-right: 1px solid #222222;
    padding-right: 4px;
}

.footer-contacts__mail li:not(:first-child) {
    padding-left: 4px;
}

.footer-contacts__mail li a {
    transition-duration: 0.3s;
}

.footer-contacts__mail li a:hover {
    color: #3893d4;
}

.rs-footer .footer-bottom {
    font-size: 14px;
    color: #666666;
    line-height: 1.7142857143;
    padding-top: 33px;
    padding-bottom: 33px;
    border-top: 1px solid #ebebeb;
}

.rs-footer .footer-bottom__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-footer .footer-bottom p {
    margin-bottom: 0;
    margin-top: 0;
}

.rs-footer .footer-bottom a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #666666;
}

.rs-footer .footer-bottom a img {
    margin-left: 8px;
}

@media (max-width: 1450px) {
    .rs-footer__top {
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media (max-width: 991.98px) {
    .footer-menu_grid .footer-menu__list {
        display: block;
    }

    .rs-footer__top {
        display: block;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .rs-footer__menu {
        margin-bottom: 0;
    }

    .rs-footer__menu:not(:last-child) {
        margin-right: 0;
    }

    .rs-footer__contacts {
        margin-right: 0 !important;
        width: auto;
    }

    .rs-footer .footer-wrapper {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .rs-footer .footer-title {
        margin-top: 25px;
        margin-bottom: 0;
    }

    .footer-contacts__phone {
        margin-bottom: 0;
    }

    .footer-contacts__wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer-contacts__address {
        margin-right: 30px;
    }

    .footer-contacts__address br {
        display: none;
    }

    .footer-contacts__shedule {
        margin-right: 30px;
    }

    .rs-footer .footer-bottom__container {
        -ms-flex-align: center;
        align-items: center;
        display: block;
        max-width: none;
    }

    .rs-footer .footer-bottom p {
        text-align: center;
    }

    .rs-footer .footer-bottom a {
        -ms-flex-pack: center;
        justify-content: center;
    }
}