.rs-product h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    color: #222222;
    margin-top: 0;
    margin-bottom: 16px;
}

.rs-product p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
    margin-top: 0;
    margin-bottom: 0;
}

.rs-product p:not(:last-child) {
    margin-bottom: 10px;
}

.rs-product__info {
    margin-bottom: 120px;
}

.rs-product .product-info {
    display: grid;
    grid-template-columns: 41% 1fr;
    grid-template-rows: auto;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

.rs-product .product-info h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    color: #222222;
    margin-top: 0;
    margin-bottom: 40px;
}

.rs-product .product-info__photo {
    grid-row: span 2;
    position: relative;
    padding-bottom: 68%;
}

.rs-product .product-info__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-product .product-info__inner {
    display: grid;
    grid-template-columns: 1fr 350px;
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;
    row-gap: 20px;
}

.rs-product .product-info__param {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.rs-product .product-info__param a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    color: #f78e16;
    display: inline-block;
    border-bottom: 1px dashed #f78e16;
}

.rs-product .product-info__param ul li {
    padding-top: 8px;
    padding-bottom: 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-product .product-info__param ul li span:first-child {
    color: #222222;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
}

.rs-product .product-info__param ul li span:first-child::after {
    content: "";
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: inline-block;
    height: 1px;
    background-color: #e5e5e5;
    margin-left: 16px;
    margin-right: 16px;
}

.rs-product .product-info__param ul li span:last-child {
    color: #666666;
}

.rs-product .product-info__turn {
    background-color: #f2f2f2;
    padding: 24px 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-product .product-info__price {
    font-weight: 500;
    font-size: 24px;
    line-height: 41px;
    color: #222222;
    margin-bottom: 4px;
}

.rs-product .product-info__old-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
    margin-bottom: 16px;
}

.rs-product .product-info__old-price span {
    padding: 2px 6px;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    line-height: 9px;
    background-color: #3893d4;
    border-radius: 20px;
}

.rs-product .product-info__holder {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
    margin-bottom: auto;
}

.rs-product .product-info__stock {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #69be15;
    margin-right: 16px;
}

.rs-product .product-info__stock::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #69be15;
    margin-right: 8px;
}

.rs-product .product-info__code {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
}

.rs-product .product-info__quick-order {
    margin-top: 8px;
    display: -ms-flexbox;
    display: flex;
}

.rs-product .product-info__question {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 43px;
    width: 43px;
    border-radius: 50%;
    position: relative;
    transition-duration: 0.4s;
    border: 1px solid #3893d4;
    background-color: #ffffff;
    margin-left: 8px;
}

.rs-product .product-info__question img {
    width: 44%;
}

.rs-product .product-tabs {
    margin-right: 430px;
}

.rs-product .product-tabs__nav {
    border-bottom: 1px solid #e5e5e5;
}

.rs-product .product-tabs__nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    overflow-y: auto;
}

.rs-product .product-tabs__nav ul li:not(:last-child) {
    margin-right: 40px;
}

.rs-product .product-tabs__nav ul li.active a {
    color: #7bbe47;
}

.rs-product .product-tabs__nav ul li.active a::after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.rs-product .product-tabs__nav ul li a {
    display: block;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color: #666666;
    transition-duration: 0.3s;
    position: relative;
}

.rs-product .product-tabs__nav ul li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #7bbe47;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition-duration: 0.3s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.rs-product .product-tabs__nav ul li a:hover {
    color: #7bbe47;
}

.rs-product .product-tabs__content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.rs-product .tab-param ul {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 180px;
    -moz-column-gap: 180px;
    column-gap: 180px;
}

.rs-product .tab-param ul li {
    padding-top: 8px;
    padding-bottom: 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-product .tab-param ul li span:first-child {
    color: #222222;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
}

.rs-product .tab-param ul li span:first-child::after {
    content: "";
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: inline-block;
    height: 1px;
    background-color: #e5e5e5;
    margin-left: 16px;
    margin-right: 16px;
}

.rs-product .tab-param ul li span:last-child {
    text-align: right;
    max-width: 248px;
    color: #666666;
}

.rs-product .tab-documents ul {
    margin-top: 0;
    margin-bottom: 0;
}

.rs-product .tab-documents ul li {
    border: 1px solid #e5e5e5;
}

.rs-product .tab-documents ul li:not(:last-child) {
    border-bottom: none;
}

.rs-product .tab-documents ul li a {
    display: block;
    padding: 24px 64px 24px 96px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    transition-duration: 0.3s;
    position: relative;
}

.rs-product .tab-documents ul li a:before {
    content: url(../../img/icons/doc_icon.svg);
    position: absolute;
    left: 24px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-product .tab-documents ul li a::after {
    content: url(../../img/icons/download_icon.svg);
    position: absolute;
    right: 24px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-product .tab-documents ul li a span {
    margin-top: 4px;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
}

.rs-product .tab-documents ul li a:hover {
    background: #eff8ff;
}

@media (max-width: 1500px) {
    .rs-product .product-tabs {
        margin-right: 0;
    }
}

@media (max-width: 1450px) {
    .rs-product .product-info__inner {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 991.98px) {
    .rs-product .product-info {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .rs-product .product-info h1 {
        -ms-flex-order: 1;
        order: 1;
    }

    .rs-product .product-info__photo {
        width: 100%;
        -ms-flex-order: 2;
        order: 2;
    }

    .rs-product .product-info__inner {
        -ms-flex-order: 3;
        order: 3;
    }

    .rs-product .tab-param ul {
        -webkit-column-gap: 80px;
        -moz-column-gap: 80px;
        column-gap: 80px;
    }
}

@media (max-width: 767.98px) {
    .rs-product .tab-param ul {
        grid-template-columns: 1fr;
    }
}