* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:root {
	--gap: 3em;
	--index: calc(1vw + 1vh);
}

body {
	overflow: hidden;
	height: 100vh;
  width: 100%;
	display: flex;
  align-items: flex-start;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: calc(var(--index) * 2.8);
	position: absolute;
	font-weight: 200;
	text-align: center;
	opacity: 0.9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header span {
	display: block;
	font-size: calc(var(--index) * 0.75);
  opacity: 1;
  visibility: visible;
}

.portfolio { 
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-wrap: wrap;
  gap: var(--gap);
  will-change: transform;
  transition: opacity 0.3s ease-in;
}

.portfolio__item {	
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.loaded .portfolio {
  opacity: 1;
  visibility: visible;
}

.loaded .header span {
	opacity: 0;
  visibility: hidden;
}
/* ==================================================================================================== */
.card {
	position: relative;	
	padding: 25px;
	min-height: 250px;
	width: 250px;	
	display: flex;
	justify-content: center;
	align-items: center;
}

.card:hover .card__image img {
	opacity: 0.3;
}

.card:hover .card__content div {
	visibility: visible;
	opacity: 1;
	transform: translate(0px, 0px);
}

.card .card__image {
  background-color: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;	
}

.card .card__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: center top;
}

.card .card__content {
}

.card__content div {
	color: #fff;
	transition: 0.2s;
	visibility: hidden;
	opacity: 0;
	transform: translate(0px, 50px);
}

.card .card__link {
	position: relative;
	display: block;
	color: #fff;
	text-align: center;
	background: transparent;
	padding: 7px 15px;
	letter-spacing: 1.5px;
	font-size: 12px;
	font-weight: 700;
	margin: 10px 0;
	border: 1px solid #fff;
	transition: all 0.3s ease 0s;
	text-decoration: none;
}

.card .card__link:hover {
	color: #03a9f4;
	background: #fff;
}
