@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap&subset=cyrillic-ext);

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --gap: 1em;
  --index: calc(1vw + 1vh);
}