.rs-17 .rs-footer {
  padding-top: 70px;
  background-color: #f2f2f2;
}
.rs-17 .rs-footer .footer-block {
  margin-bottom: 30px;
}
.rs-17 .rs-footer .footer-block h4 {
  font-size: 16px;
  font-weight: 600;
  color: #1f354f;
  text-transform: uppercase;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
.rs-17 .rs-footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.rs-17 .rs-footer ul a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.rs-17 .rs-footer .info-list li {
  margin-bottom: 10px;
}
.rs-17 .rs-footer .info-list li a {
  color: #1f354f;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}
.rs-17 .rs-footer .info-list li a:hover,
.rs-17 .rs-footer .info-list li a:focus {
  color: #538fa5;
  text-decoration: none;
}
.rs-17 .rs-footer .contacts-list li {
  margin-bottom: 10px;
  color: #1f354f;
  padding-left: 40px;
  position: relative;
}
.rs-17 .rs-footer .contacts-list li a {
  font-weight: 600;
  color: #1f354f;
  font-size: 13px;
}
.rs-17 .rs-footer .contacts-list li a span {
  font-size: 16px;
}
.rs-17 .rs-footer .contacts-list li {
  font-weight: 600;
  color: #1f354f;
  font-size: 13px;
}
.rs-17 .rs-footer .contacts-list li span {
  font-size: 16px;
}
.rs-17 .rs-footer .contacts-list li i {
  color: #60738a;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 0;
}
.rs-17 .rs-footer .contacts-list li a:hover,
.rs-17 .rs-footer .contacts-list li a:focus {
  color: #424242;
  text-decoration: none;
}
.rs-17 .rs-footer .link-underline {
  text-decoration: underline;
}
.rs-17 .rs-footer .footer-bottom {
  padding-top: 15px;
  min-height: 57px;
  border-top: 2px solid #dddddd;
  background-color: #e3e8ef;
}
.rs-17 .rs-footer .social-list {
  display: inline-block;
}
.rs-17 .rs-footer .social-list li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
}
.rs-17 .rs-footer .social-list li a {
  font-size: 24px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #60738a;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(96, 115, 138, 0.2);
}
.rs-17 .rs-footer .social-list li a:hover {
  border: 1px solid #60738a;
  background-color: #60738a;
  color: #ffffff;
}
.rs-17 .rs-footer .social-list li a i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.rs-17 .rs-footer .social-list li a i.fa-vk {
  margin-left: -1px;
}
.rs-17 .rs-footer .copyright {
  padding-top: 5px;
}
.rs-17 .rs-footer .copyright,
.rs-17 .rs-footer .dev {
  color: #424242;
  font-family: Commissioner;
  font-size: 12px;
}
.rs-17 .rs-footer .dev:hover {
  text-decoration: none;
}
.rs-17 .rs-footer .right-block {
  padding-bottom: 10px;
}
.rs-17 .rs-footer .dev img {
  vertical-align: initial;
  padding-left: 3px;
}

.rs-17 .rs-footer .footer-images {
  padding: 32px 0px 42px;
  border-top: 1px solid #e3e8ef;
}

@media (max-width: 991px) {
  .rs-17 .rs-footer .footer-block {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
  }
}
@media (max-width: 767px) {
  .rs-17 .rs-footer .copyright,
  .rs-17 .rs-footer .right-block {
    float: none !important;
    text-align: center;
  }
  .rs-17 .rs-footer .social-list,
  .rs-17 .rs-footer .dev {
    display: block;
  }
  .rs-17 .rs-footer .social-list {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
