.rs-17 .rs-text-block {
  padding: 90px 0px 50px 0px;
  position: relative;
}
.rs-17 .rs-text-block h2 {
  margin-bottom: 20px;
  color: #538fa5;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}
.rs-17 .rs-text-block p {
  color: #112338;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  margin-bottom: 15px;
}
.rs-17 .rs-text-block .text-block-contains {
  text-align: center;
  padding: 37px 140px;
  box-shadow: 0 0 46px rgba(31, 53, 79, 0.11);
  border-radius: 10px;
  background-color: #ffffff;
}
.rs-17 .rs-text-block .text-block-bg {
  position: absolute;
  bottom: 15px;
  right: 30px;
}
@media (max-width: 767px) {
  .rs-17 .rs-text-block .text-block-contains {
    padding: 27px 37px;
  }
}
@media (max-width: 470px) {
  .rs-17 .rs-text-block h2 {
    font-size: 30px;
  }
}
