.footer-menu__list {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-menu__list li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-menu__list li a {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.footer-menu_grid .footer-menu__list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
}

.rs-footer {
    position: relative;
    background: rgba(0, 0, 0, 0.3) url("../../img/bg_gradient.png") 0 0 no-repeat;
    -webkit-backdrop-filter: blur(22.5px);
    backdrop-filter: blur(22.5px);
    padding-top: 78px;
}

.rs-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 340px 9%;
    -webkit-column-gap: 55px;
    -moz-column-gap: 55px;
    column-gap: 55px;
    position: relative;
}

.rs-footer__wrapper::before {
    content: "";
    height: 1.5px;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.3;
}

.rs-footer__info {
    padding-bottom: 65px;
    padding-top: 65px;
}

.rs-footer__info p {
    max-width: 738px;
    color: #fff;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: 1.65px;
    text-transform: lowercase;
    margin-bottom: 64px;
}

.rs-footer__contacts {
    padding-bottom: 65px;
    padding-top: 65px;
}

.rs-footer__menu {
    padding-bottom: 65px;
    padding-top: 65px;
}

.rs-footer__bottom {
    padding: 30px 0px;
    grid-area: auto/1/auto/-1;
    position: relative;
    display: grid;
    grid-template-columns: subgrid;
    row-gap: 5px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rs-footer__bottom::before {
    content: "";
    height: 1.5px;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.3;
}

.rs-footer .footer-title {
    margin-bottom: 25px;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
}

.rs-footer .footer-contacts {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.54px;
}

.rs-footer .footer-contacts .address:not(:last-child) {
    margin-bottom: 50px;
}

.rs-footer .footer-contacts h6 {
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

.rs-footer .footer-contacts ul {
    margin-bottom: 40px;
}

.rs-footer .footer-contacts ul li:not(:last-child) {
    margin-bottom: 5px;
}

.rs-footer .footer-contacts ul li a {
    position: relative;
}

.rs-footer .footer-contacts ul li a::after {
    content: "";
    height: 1px;
    width: 100%;
    background: currentColor;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.rs-footer .footer-contacts ul li a[href^="tel:"] {
    color: #00f1cc;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.78px;
    display: inline-block;
    margin-bottom: 5px;
}

.rs-footer .footer-contacts ul li a:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.rs-footer._init .footer-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.rs-footer._init .footer-title::after,
.rs-footer._init .footer-title::before {
    content: "";
    position: absolute;
    background-color: #00f1cc;
    transition: -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
}

.rs-footer._init .footer-title::after {
    right: 18px;
    width: 2px;
    height: 14px;
}

.rs-footer._init .footer-title::before {
    top: 50%;
    right: 12px;
    height: 2px;
    width: 14px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-footer._init .footer-title._active::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rs-footer._init .footer-title._active::before {
    -webkit-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
}

.rs-footer._init .not-spoller.footer-title::after,
.rs-footer._init .not-spoller.footer-title::before {
    display: none;
}

.rs-footer .rs-footer__menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-footer .rs-footer__menu > a {
    margin-top: 30px;
}

@media (min-width: 991.98px) {
    .rs-footer .rs-footer__menu > a {
        margin-top: auto;
        -ms-flex-item-align: end;
        align-self: end;
    }
}

@media (max-width: 1790px) {
    .rs-footer__wrapper {
        -webkit-column-gap: 35px;
        -moz-column-gap: 35px;
        column-gap: 35px;
        grid-template-columns: 1fr 340px auto;
    }
}

@media (max-width: 1500px) {
    .footer-menu_grid .footer-menu__list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (max-width: 991.98px) {
    .rs-footer__wrapper {
        grid-template-columns: 1fr;
    }

    .rs-footer__info {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-footer__contacts {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .rs-footer__menu {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .rs-footer .footer-wrapper {
        padding-bottom: 15px;
        padding-top: 15px;
    }
}

@media (max-width: 767.98px) {
    .footer-menu__list li a {
        font-size: 13px;
    }

    .rs-footer {
        padding-top: 30px;
    }

    .rs-footer__info p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .rs-footer__info .btn-color {
        width: 100%;
    }

    .rs-footer__bottom {
        text-align: center;
        padding: 17px 0px;
    }

    .rs-footer .footer-title {
        font-size: 13px;
        margin-bottom: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .rs-footer .footer-contacts {
        font-size: 13px;
    }

    .rs-footer .footer-contacts .address:not(:last-child) {
        margin-bottom: 20px;
    }

    .rs-footer .footer-contacts h6 {
        font-size: 9px;
    }

    .rs-footer .footer-contacts ul {
        margin-bottom: 20px;
    }

    .rs-footer .footer-contacts ul li a[href^="tel:"] {
        font-size: 16px;
    }
}

@media (any-hover: hover) {
    .footer-menu__list li a:hover {
        color: #00f1cc;
    }
}