.rs-video {
    position: relative;
}

.rs-video__wrapper {
    display: grid;
    grid-template-columns: 450px 1fr;
    gap: 146px;
}

.rs-video__video:not(.mobile) {
    overflow: hidden;
    position: relative;
    padding-bottom: 56.1%;
}

.rs-video__video:not(.mobile) video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.rs-video__video:not(.mobile) button.mute {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.rs-video__video:not(.mobile) button.mute.active svg path#mute {
    display: none;
}

.rs-video__video.mobile {
    overflow: hidden;
    position: relative;
    height: 187px;
}

.rs-video__video.mobile video {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-video__video.mobile button.play {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #00f1cc;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rs-video__video.mobile button.play.active {
    display: none;
}

@media (min-width: 767.98px) {
    .rs-video__video.mobile {
        display: none;
    }
}

@media (max-width: 1790px) {
    .rs-video__wrapper {
        gap: 45px;
    }
}

@media (max-width: 991.98px) {
    .rs-video__wrapper {
        grid-template-columns: 1fr;
    }

    .rs-video__video:not(.mobile) {
        height: auto;
    }
}

@media (max-width: 767.98px) {
    .rs-video__wrapper {
        gap: 25px;
    }

    .rs-video__video:not(.mobile) {
        display: none;
    }
}