.rs-about {
    background: #f9f9f9;
    display: grid;
    grid-template-columns: 1fr 49%;
    overflow: hidden;
    position: relative;
}

.rs-about::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 122px);
    background: #1f2133;
}

.rs-about__left {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-about__content {
    position: relative;
    padding-top: 87px;
    padding-bottom: 20px;
    padding-right: 75px;
    padding-left: 15px;
}

.rs-about__content h3 {
    font-size: 40px;
    line-height: 128%;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 30px;
}

.rs-about__content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    color: #ffffff;
}

.rs-about__content p:not(:last-child) {
    margin-bottom: 20px;
}

.rs-about__content .btn-border {
    margin-top: 70px;
}

.rs-about__img {
    height: 535px;
    position: relative;
}

.rs-about__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-about__img-mobile {
    height: 420px;
    position: relative;
}

.rs-about__img-mobile img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-about__right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 177px;
    padding-bottom: 122px;
    position: relative;
}

.rs-about__right::before {
    content: "";
    display: block;
    width: 122px;
    height: 122px;
    background: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
}

.rs-about__right::after {
    content: "";
    display: block;
    width: 61px;
    height: 61px;
    background: #ffffff;
    position: absolute;
    top: 0;
    right: 122px;
}

.rs-about__logo {
    font-weight: 800;
    font-size: 100px;
    line-height: 72px;
    color: #6150e9;
    -webkit-filter: url(#outerText);
    filter: url(#outerText);
}

.rs-about__list {
    position: relative;
    background: #6150e9;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 15px;
}

.rs-about__list h4 {
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 14px;
}

.rs-about__list ul {
    margin-bottom: 0;
}

.rs-about__list ul:not(:last-child) {
    margin-bottom: 25px;
}

.rs-about__list ul li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    color: #ffffff;
}

.rs-about__list ul li:not(:last-child) {
    margin-bottom: 20px;
}

.rs-about__list ul li::before {
    content: url("../../img/icons/marker.svg");
    margin-right: 15px;
}

.rs-about__list p {
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    color: #ffffff;
    margin-bottom: 0;
}

.rs-about_diff {
    background: #ffffff;
}

.rs-about_diff .rs-about__left {
    padding-bottom: 122px;
}

.rs-about_diff .rs-about__right {
    padding-top: 277px;
}

@media (min-width: 767.98px) {
    .rs-about__img-mobile {
        display: none;
    }
}

@media (min-width: 1500px) {
    .rs-about__content {
        padding-left: calc((100vw - 1470px) / 2);
    }

    .rs-about__list {
        padding-right: calc((100vw - 1470px) / 2);
    }
}

@media (max-width: 1733px) {
    .rs-about__content {
        padding-top: 120px;
    }
}

@media (max-width: 1500px) {
    .rs-about__logo {
        font-size: 52px;
        line-height: 42px;
    }
}

@media (max-width: 1300px) {
    .rs-about__content {
        padding-right: 15px;
    }

    .rs-about__list {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 15px;
    }
}

@media (max-width: 991.98px) {
    .rs-about__content h3 {
        font-size: 16px;
        margin-bottom: 11px;
    }

    .rs-about__content p {
        font-size: 13px;
    }

    .rs-about__logo {
        font-size: 36px;
        line-height: 28px;
    }

    .rs-about__list h4 {
        font-size: 16px;
    }

    .rs-about__list ul li:not(:last-child) {
        margin-bottom: 12px;
    }

    .rs-about__list ul li {
        font-size: 13px;
    }

    .rs-about__list p {
        font-size: 13px;
    }
}

@media (max-width: 767.98px) {
    .rs-about {
        grid-template-columns: 1fr;
    }

    .rs-about__content {
        padding-top: 20px;
    }

    .rs-about__content .btn-border {
        margin-top: 30px;
    }

    .rs-about__img {
        display: none;
    }

    .rs-about__right {
        padding-top: 0;
        padding-bottom: 0;
    }

    .rs-about__right::before {
        display: none;
    }

    .rs-about__right::after {
        display: none;
    }

    .rs-about__logo {
        padding-left: 15px;
        padding-right: 15px;
    }

    .rs-about_diff .rs-about__left {
        padding-bottom: 0;
    }

    .rs-about_diff .rs-about__right {
        padding-top: 0;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-about__content {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }

    .rs-about__logo {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }

    .rs-about__list {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }
}