.rs-consulting {
    margin-top: -122px;
    background: #f9f9f9;
    overflow: hidden;
    position: relative;
}

.rs-consulting::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 61px;
    height: 61px;
    background: #ffffff;
}

.rs-consulting__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
}

.rs-consulting__content {
    padding-top: 80px;
    padding-bottom: 80px;
}

.rs-consulting__content h3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 128%;
    color: #1f2133;
    margin-top: 0;
    margin-bottom: 30px;
}

.rs-consulting__content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 128%;
    color: #1f2133;
    margin-bottom: 25px;
}

.rs-consulting__content h4 {
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    color: #1f2133;
    margin-top: 0;
    margin-bottom: 5px;
}

.rs-consulting__content ul {
    margin-bottom: 0;
}

.rs-consulting__content ul li {
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    color: #1f2133;
    position: relative;
    padding-left: 26px;
}

.rs-consulting__content ul li::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #6150e9;
    position: absolute;
    left: 0;
    top: 11px;
}

.rs-consulting__content ul li:not(:last-child) {
    margin-bottom: 21px;
}

.rs-consulting__content ul li span {
    display: block;
}

.rs-consulting__content ul li span:not(:last-child) {
    margin-bottom: 5px;
}

.rs-consulting__content .list {
    background: #ffffff;
    border-left: 5px solid #6150e9;
    padding-left: 35px;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.rs-consulting__content .btn-border {
    margin-top: 25px;
}

.rs-consulting__img {
    position: relative;
}

.rs-consulting__img img {
    position: absolute;
    bottom: 0;
    left: 180px;
}

@media (max-width: 1600px) {
    .rs-consulting__img img {
        left: 0;
    }
}

@media (max-width: 1500px) {
    .rs-consulting__container {
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }
}

@media (max-width: 991.98px) {
    .rs-consulting__content h3 {
        font-size: 20px;
    }

    .rs-consulting__content p {
        font-size: 13px;
    }

    .rs-consulting__content h4 {
        font-size: 16px;
    }

    .rs-consulting__content ul li {
        font-size: 13px;
    }
}

@media (max-width: 767.98px) {
    .rs-consulting__container {
        grid-template-columns: 1fr;
    }

    .rs-consulting__content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .rs-consulting__img img {
        position: relative;
        width: 100%;
    }
}