.rs-equip {
    padding-top: 107px;
    padding-bottom: 107px;
}

.rs-equip__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 130px;
    -moz-column-gap: 130px;
    column-gap: 130px;
    -ms-flex-align: start;
    align-items: start;
}

.rs-equip__content {
    position: sticky;
    top: 10%;
}

.rs-equip__content h2 {
    font-size: 40px;
    line-height: 128%;
    color: #1f2133;
    margin-top: 0;
    margin-bottom: 30px;
}

.rs-equip__content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    color: #1f2133;
}

.rs-equip__item {
    position: sticky;
    top: 32%;
}

.rs-equip__item:not(:last-child) {
    margin-bottom: 30px;
}

.rs-equip__item:nth-child(1) {
    top: 10%;
}

.rs-equip__item:nth-child(2) {
    top: 12%;
}

.rs-equip__item:nth-child(3) {
    top: 14%;
}

.rs-equip__item:nth-child(4) {
    top: 16%;
}

.rs-equip__item:nth-child(5) {
    top: 18%;
}

.rs-equip__item:nth-child(6) {
    top: 20%;
}

.rs-equip__item:nth-child(7) {
    top: 22%;
}

.rs-equip__item:nth-child(8) {
    top: 24%;
}

.rs-equip__item:nth-child(9) {
    top: 26%;
}

.rs-equip__item:nth-child(10) {
    top: 28%;
}

.rs-equip__item:nth-child(11) {
    top: 30%;
}

.rs-equip .equip-card {
    background: #ffffff;
    border: 1px solid #cecdde;
    border-radius: 5px;
    padding: 40px;
}

.rs-equip .equip-card__number {
    font-weight: 700;
    font-size: 30px;
    line-height: 128%;
    color: #6150e9;
    -webkit-filter: url(#outerText);
    filter: url(#outerText);
}

.rs-equip .equip-card__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 135.5%;
    color: #1f2133;
    margin-top: 3px;
    margin-bottom: 27px;
}

.rs-equip .equip-card__img {
    height: 230px;
    position: relative;
}

.rs-equip .equip-card__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 991.98px) {
    .rs-equip__inner {
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }

    .rs-equip__content h2 {
        font-size: 28px;
    }

    .rs-equip__content p {
        font-size: 13px;
    }

    .rs-equip .equip-card {
        padding: 20px;
    }

    .rs-equip .equip-card__title {
        font-size: 13px;
        margin-bottom: 12px;
    }

    .rs-equip .equip-card__img {
        height: 140px;
    }
}

@media (max-width: 767.98px) {
    .rs-equip {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-equip__inner {
        grid-template-columns: 1fr;
    }
}