.menu {
    height: 100%;
    font-size: 16px;
}

.menu .menu-wrapper {
    height: 100%;
}

.menu .menu__list {
    height: 100%;
    margin: 0;
    display: grid;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    grid-template-columns: repeat(6, 1fr);
}

.menu .menu__list > li {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.menu .menu__list > li > a {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 1em;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: normal;
    color: #ffffff;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    text-transform: none;
}

.menu .menu__dropdown {
    position: relative;
}

.menu .menu__dropdown-list {
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    background-color: #ffffff;
    border-top: 1px solid rgba(114, 114, 114, 0.2);
}

.menu .menu__dropdown-list .menu__dropdown-list {
    top: -10px;
    left: 100%;
}

.menu .menu__dropdown-list a {
    display: block;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.4;
    color: #1f2133;
    text-transform: none;
    white-space: nowrap;
}

.menu__dropdown-arrow {
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 20px;
    color: #ffffff;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.menu__dropdown-arrow._active {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.menu__dropdown-list .menu__dropdown-arrow {
    display: block;
}

.menu__dropdown.hover > .menu__dropdown-list {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.menu-overlay {
    pointer-events: none;
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #1f2133;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    transform-origin: top;
}

.menu-overlay.active {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.menu-overlay::before {
    content: "";
    position: absolute;
    top: 47px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}

.nav > li > a {
    padding: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.menu-burger {
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 1;
    z-index: 5;
    background-color: transparent;
}

.menu-burger:before,
.menu-burger::after {
    content: "";
    height: 2px;
    width: 24px;
    background: #FFFFFF;
    display: block;
    position: absolute;
    left: 7px;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
}

.menu-burger:before {
    -webkit-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0);
}

.menu-burger::after {
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
}

.menu-burger span {
    display: block;
    position: absolute;
    top: 13px;
    right: 7px;
    width: 22px;
    height: 2px;
    background: #FFFFFF;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform-origin: right;
    transform-origin: right;
    transition: -webkit-transform 0.5s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.5s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.5s cubic-bezier(0.42, 0, 0.002, 1), -webkit-transform 0.5s cubic-bezier(0.42, 0, 0.002, 1);
}

.menu-burger span:nth-child(2) {
    width: 12px;
    top: 18px;
    right: 7px;
    transition-delay: 0.1s;
}

.menu-burger span:nth-child(3) {
    width: 18px;
    top: 23px;
    right: 7px;
    transition-delay: 0.2s;
}

.menu-burger.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.menu-burger.active:before {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    transition-delay: 0.5s;
}

.menu-burger.active::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
    transition-delay: 0.5s;
}

.header-search {
    padding-left: 10px;
    padding-right: 10px;
}

.header-search__box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.header-search__input {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background-color: #f2f2f7;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    height: 48px;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    padding-left: 12px;
    padding-right: 48px;
}

.header-search__input::-webkit-input-placeholder {
    color: #999999;
}

.header-search__input::-moz-placeholder {
    color: #999999;
}

.header-search__input:-ms-input-placeholder {
    color: #999999;
}

.header-search__input::-ms-input-placeholder {
    color: #999999;
}

.header-search__input::placeholder {
    color: #999999;
}

.header-search__input:focus {
    outline: none;
}

.header-search__submit {
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    width: 48px;
    background: transparent;
}

.rs-header__top {
    position: relative;
    height: 98px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-header__logo {
    position: relative;
    z-index: 2;
    -ms-flex-preferred-size: 276px;
    flex-basis: 276px;
}

.rs-header__logo img {
    width: 100%;
}

.rs-header__logo_dark {
    display: none;
}

.rs-header__bottom {
    height: 44px;
}

.rs-header__contacts {
    margin-bottom: 0;
    display: -ms-flexbox;
    display: flex;
    margin-right: 53px;
    margin-left: auto;
}

.rs-header__contacts li:not(:last-child) {
    margin-right: 36px;
}

.rs-header__contacts li a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
    transition: color 0.3s ease-in;
}

.rs-header__contacts li a:hover {
    color: #6150E9;
}

.rs-header .header-btns-mobile {
    padding-top: 17px;
    padding-bottom: 17px;
}

.rs-header .header-btns-mobile a {
    width: 100%;
}

.rs-header .header-contacts-mobile {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    color: #ffffff;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sticky .rs-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

@media (min-width: 991.98px) {
    .menu .menu__dropdown-list li {
        border-bottom: 1px solid #d9d9d9;
    }

    .menu__list > li {
        height: 100%;
        position: relative;
    }

    .menu__list > li::before {
        content: "";
        height: 1px;
        width: 100%;
        background-color: #6150e9;
        position: absolute;
        top: -1px;
        left: 0;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    }

    .menu__list > li.active::before,
  .menu__list > li:hover::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .menu__dropdown-list li > a {
        transition: color 0.3s ease;
    }

    .menu__dropdown-list li:hover > a {
        color: #6150E9;
    }

    .menu__dropdown-list .menu__dropdown-arrow {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        display: none;
    }

    .menu__dropdown-list li:hover > .menu__dropdown-arrow,
  .menu__dropdown-list li.hover > .menu__dropdown-arrow {
        -webkit-transform: rotate(-90deg) translateY(10px);
        transform: rotate(-90deg) translateY(10px);
    }

    .menu__dropdown.hover > .menu__dropdown-arrow {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }

    .menu-overlay {
        display: none;
    }

    .rs-header .header-btns-mobile {
        display: none;
    }

    .rs-header .header-contacts-mobile {
        display: none;
    }

    .sticky.out .rs-header {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s;
    }
}

@media (any-hover: hover) and (min-width: 991.98px) {
    .menu__dropdown:hover > .menu__dropdown-arrow {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}

@media (max-width: 1500px) {
    .menu .menu__dropdown-list a {
        white-space: normal;
    }
}

@media (max-width: 1400px) {
    .menu {
        font-size: 13px;
    }
}

@media (max-width: 991.98px) {
    .menu {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        left: 0;
        height: calc(100vh - 47px);
        position: fixed;
        top: 47px;
        width: 100%;
        transition: opacity 0.3s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
        transition: transform 0.5s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
        transition: transform 0.5s ease-in-out 0s, opacity 0.3s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
        overflow-y: auto;
        font-size: 13px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .menu.active {
        visibility: visible;
        pointer-events: auto;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        transition: opacity 0.3s ease-in-out 0.8s, -webkit-transform 0.5s ease-in-out 0.8s;
        transition: transform 0.5s ease-in-out 0.8s, opacity 0.3s ease-in-out 0.8s;
        transition: transform 0.5s ease-in-out 0.8s, opacity 0.3s ease-in-out 0.8s, -webkit-transform 0.5s ease-in-out 0.8s;
    }

    .menu .menu-wrapper {
        height: auto;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 375px;
        margin: 0 auto;
    }

    .menu .menu__list {
        display: block;
        height: auto;
    }

    .menu .menu__list > li {
        height: auto;
        margin-right: 0 !important;
        padding-top: 13px;
        padding-bottom: 13px;
        margin-left: 0;
    }

    .menu .menu__list > li > a {
        color: #ffffff;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: normal;
    }

    .menu .menu__dropdown {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .menu .menu__dropdown-list {
        position: static;
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        margin: 0;
        padding: 20px 0px 7px 0px;
        pointer-events: auto;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        height: auto;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu .menu__dropdown-list .menu__dropdown-list {
        padding: 10px 0px 0px 20px;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu .menu__dropdown-list a {
        color: #ffffff;
        white-space: normal;
        padding-left: 0;
        padding-right: 0;
    }

    .menu__dropdown-arrow {
        color: #ffffff;
        margin-left: 20px;
    }

    .rs-header__top {
        height: 47px;
    }

    .rs-header__logo {
        -ms-flex-preferred-size: 158px;
        flex-basis: 158px;
    }

    .rs-header__bottom {
        height: 0;
    }

    .rs-header__contacts {
        display: none;
    }

    .rs-header__btns {
        display: none;
    }
}

@media (max-width: 991px) {
    .menu-burger {
        display: block;
    }
}

@media (max-width: 380px) {
    .rs-header .header-contacts-mobile {
        font-size: 10px;
    }
}

@media (any-hover: hover) {
    .menu__dropdown:hover > .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}