.rs-news {
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
}

.rs-news__slider {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.rs-news__catalog {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 40px;
}

.rs-news h1 {
    font-size: 70px;
    line-height: 100%;
    color: #1f2133;
    margin-top: 0;
    margin-bottom: 0;
}

.rs-news .news-slider {
    position: relative;
}

.rs-news .news-slider__slider {
    overflow: visible;
}

.rs-news .news-slider__swiper {
    padding-top: 35px;
    padding-bottom: 40px;
}

.rs-news .news-slider__nav .slider-arrows {
    position: absolute;
    top: -51px;
    right: 0px;
}

.rs-news .news-card {
    width: 426px;
    height: 570px;
    position: relative;
    background: #f9f9f9;
    padding: 53px 40px 26px 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-news .news-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    transition: -webkit-clip-path 0.3s ease-out;
    transition: clip-path 0.3s ease-out;
    transition: clip-path 0.3s ease-out, -webkit-clip-path 0.3s ease-out;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.rs-news .news-card h4 {
    font-weight: 500;
    font-size: 21px;
    line-height: 128%;
    color: #1f2133;
    margin-top: 0px;
    margin-bottom: auto;
    position: relative;
    transition: color 0.3s ease-out;
}

.rs-news .news-card__date {
    position: relative;
    border-top: 2px solid #dddddd;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 128%;
    color: #1f2133;
    transition: color 0.3s ease-out;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -ms-flex-align: center;
    align-items: center;
}

.rs-news .news-card__date .day {
    font-weight: 700;
    font-size: 90px;
    color: #6150e9;
    grid-row: span 2;
}

.rs-news .news-card__date .month {
    text-align: right;
}

.rs-news .news-card__date .year {
    text-align: right;
}

.rs-news .news-card > a {
    font-size: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.rs-news .news-card_catalog {
    width: 100%;
    height: 462px;
    padding: 43px 30px 21px 30px;
}

.rs-news .news-card_catalog .news-card__date .day {
    font-size: 65px;
}

.rs-news .news-card:hover img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.rs-news .news-card:hover .news-card__date,
.rs-news .news-card:hover h4 {
    color: #FFFFFF;
}

@media (min-width: 1500px) {
    .rs-news__slider {
        padding-left: calc((100% - 1470px) / 2);
        padding-right: calc((100% - 1470px) / 2);
    }
}

@media (max-width: 767.98px) {
    .rs-news {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .rs-news__catalog {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .rs-news h1 {
        font-size: 16px;
    }

    .rs-news .news-slider__swiper {
        padding-top: 19px;
        padding-bottom: 0;
    }

    .rs-news .news-slider__nav {
        display: none;
    }

    .rs-news .news-card {
        width: 267.79px;
        height: 358.31px;
        padding: 15px;
    }

    .rs-news .news-card h4 {
        font-size: 15px;
    }

    .rs-news .news-card__date {
        font-size: 13px;
    }

    .rs-news .news-card__date .day {
        font-size: 55px;
    }

    .rs-news .news-card_catalog .news-card__date .day {
        font-size: 40px;
    }

    .rs-news .news-card_catalog .news-card__date {
        padding-top: 12px;
        padding-bottom: 0;
    }

    .rs-news .news-card_catalog {
        width: 100%;
        height: auto;
        padding: 18px;
    }

    .rs-news .news-card_catalog h4 {
        margin-bottom: 12px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-news__slider {
        padding-left: calc((100vw - 375px) / 2);
    }
}