.rs-sertificates {
    padding-top: 107px;
    padding-bottom: 107px;
}

.rs-sertificates__items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rs-sertificates .sertificates-item {
    height: 100%;
    display: block;
    border: 1px solid #d9d9d9;
    padding: 25px 65px 25px 84px;
    transition: background 0.3s ease-out;
    position: relative;
}

.rs-sertificates .sertificates-item::before,
.rs-sertificates .sertificates-item::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-sertificates .sertificates-item::before {
    content: url("../../img/icons/upload-icon.svg");
    left: 26px;
}

.rs-sertificates .sertificates-item::after {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    -webkit-mask-image: url("../../img/icons/download-icon.svg");
    mask-image: url("../../img/icons/download-icon.svg");
    background: #abadbf;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: 0.3s ease-out;
    right: 26px;
}

.rs-sertificates .sertificates-item .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 143%;
    color: #1f2133;
}

.rs-sertificates .sertificates-item:hover {
    background: #f9f9f9;
}

.rs-sertificates .sertificates-item:hover::after {
    background: #6150e9;
}

@media (max-width: 767.98px) {
    .rs-sertificates {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-sertificates__items {
        grid-template-columns: 1fr;
    }

    .rs-sertificates .sertificates-item .title {
        font-size: 13px;
    }
}