.rs-title {
    padding-top: 165px;
    --index: 1vw;
}

.rs-title h2 {
    font-weight: 800;
    font-size: calc(var(--index) * 7.41);
    line-height: 109%;
    text-transform: uppercase;
    color: #676a84;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

.rs-title__container {
    position: relative;
}

.rs-title__logo {
    position: absolute;
    bottom: 0px;
    right: 22px;
}

.rs-title__logo svg {
    display: inline-block;
    width: calc(var(--index) * 22.79);
    height: calc(var(--index) * 22.79);
}

.rs-title__logo.in-view svg path {
    -webkit-animation: stroke 7s alternate;
    animation: stroke 7s alternate;
}

@media (min-width: 1920px) {
    .rs-title h2 {
        font-size: 155px;
    }

    .rs-title__logo {
        bottom: 22px;
    }

    .rs-title__logo svg {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 767.98px) {
    .rs-title h2 {
        font-size: 30px;
    }

    .rs-title__logo svg {
        width: 170px;
        height: 170px;
    }
}