.rs-text-block {
    display: grid;
    grid-template-columns: 1fr 49%;
    -webkit-column-gap: 75px;
    -moz-column-gap: 75px;
    column-gap: 75px;
    -ms-flex-align: end;
    align-items: end;
    padding-top: 107px;
    padding-bottom: 107px;
}

.rs-text-block__left {
    padding-left: 15px;
    padding-bottom: 122px;
}

.rs-text-block__content {
    margin-bottom: 141px;
}

.rs-text-block__content h3 {
    font-size: 40px;
    line-height: 128%;
    color: #1f2133;
    margin-top: 0;
    margin-bottom: 30px;
}

.rs-text-block__content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    color: #1f2133;
}

.rs-text-block__content h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    color: #1f2133;
    margin-top: 30px;
    margin-bottom: 14px;
}

.rs-text-block__content ul {
    margin-bottom: 0;
}

.rs-text-block__content ul li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    color: #1f2133;
}

.rs-text-block__content ul li:not(:last-child) {
    margin-bottom: 20px;
}

.rs-text-block__content ul li::before {
    content: url("../../img/icons/marker-dark.svg");
    margin-right: 15px;
}

.rs-text-block__right {
    padding-bottom: 122px;
}

.rs-text-block_diff .rs-text-block__content {
    margin-bottom: 71px;
}

.rs-text-block .text-block-logo svg {
    max-width: 100%;
    width: 538px;
    height: 448px;
}

.rs-text-block .text-block-logo.in-view svg path {
    -webkit-animation: stroke 7s alternate;
    animation: stroke 7s alternate;
}

.rs-text-block .text-block-list {
    position: relative;
    background: #6150e9;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 15px;
}

.rs-text-block .text-block-list h4 {
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 14px;
}

.rs-text-block .text-block-list ul {
    margin-bottom: 0;
}

.rs-text-block .text-block-list ul li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    color: #ffffff;
}

.rs-text-block .text-block-list ul li:not(:last-child) {
    margin-bottom: 20px;
}

.rs-text-block .text-block-list ul li::before {
    content: url("../../img/icons/marker.svg");
    margin-right: 15px;
}

@media (min-width: 1500px) {
    .rs-text-block__left {
        padding-left: calc((100vw - 1470px) / 2);
    }

    .rs-text-block .text-block-list {
        padding-right: calc((100vw - 1470px) / 2);
    }
}

@media (max-width: 1300px) {
    .rs-text-block .text-block-list {
        padding-top: 45px;
        padding-bottom: 45px;
        padding-left: 45px;
    }
}

@media (max-width: 991.98px) {
    .rs-text-block {
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }

    .rs-text-block__content {
        margin-bottom: 30px;
    }

    .rs-text-block__content h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .rs-text-block__content p {
        font-size: 13px;
    }

    .rs-text-block__content h4 {
        font-size: 16px;
    }

    .rs-text-block__content ul li:not(:last-child) {
        margin-bottom: 12px;
    }

    .rs-text-block__content ul li {
        font-size: 13px;
    }

    .rs-text-block .text-block-list h4 {
        font-size: 16px;
    }

    .rs-text-block .text-block-list ul li:not(:last-child) {
        margin-bottom: 12px;
    }

    .rs-text-block .text-block-list ul li {
        font-size: 13px;
    }
}

@media (max-width: 767.98px) {
    .rs-text-block {
        grid-template-columns: 1fr;
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .rs-text-block__left {
        padding-bottom: 0;
    }

    .rs-text-block__right {
        padding-bottom: 0;
    }

    .rs-text-block_diff .rs-text-block__left {
        padding-bottom: 30px;
    }

    .rs-text-block_diff .rs-text-block__content {
        margin-bottom: 30px;
    }

    .rs-text-block .text-block-logo svg {
        height: auto;
    }

    .rs-text-block .text-block-list {
        padding: 15px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-text-block__left {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }

    .rs-text-block .text-block-list {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }
}