.rs-17 .rs-certificates .gradient {
    z-index: 2;
}

.rs-17 .rs-certificates {
    position: relative;
    padding-top: 79px;
    padding-bottom: 115px;
}

.rs-17 .rs-certificates__container {
    position: relative;
    z-index: 3;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
}

.rs-17 .rs-certificates__head {
    position: relative;
    -ms-flex: 0 0 375px;
    flex: 0 0 375px;
}

.rs-17 .rs-certificates__head h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: #1c1b20;
    font-family: "CormorantInfant";
    font-size: 36px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.rs-17 .rs-certificates__pagination {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.rs-17 .rs-certificates__pagination .swiper-pagination-bullet {
    border-radius: 50%;
    border: 1px solid #707070;
    background-color: transparent;
}

.rs-17 .rs-certificates__pagination .swiper-pagination-bullet-active {
    border-color: #000;
}

.rs-17 .rs-certificates__arrows {
    display: inline-block;
    position: relative;
}

.rs-17 .rs-certificates__arrow {
    position: relative;
    font-size: 45px;
    z-index: 2;
    width: 70px;
    height: 70px;
}

.rs-17 .rs-certificates__slider {
    min-width: 0;
    display: -ms-flexbox;
    display: flex;
}

.rs-17 .rs-certificates__item {
    display: block;
    position: relative;
    width: 490px;
    height: 365px;
}

.rs-17 .rs-certificates__item img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-17 .rs-certificates .progress-btn {
    position: absolute;
    width: 165px;
    height: 165px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: -webkit-transform 0.8s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.8s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.8s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.8s cubic-bezier(0.7, 0, 0.3, 1);
}

.rs-17 .rs-certificates .progress-btn__circle,
.rs-17 .rs-certificates .progress-btn__path {
    fill: none;
    stroke: #e63718;
    stroke-width: 1px;
}

.rs-17 .rs-certificates .progress-btn__path {
    stroke: #e63718;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset 0.8s cubic-bezier(0.7, 0, 0.3, 1);
}

.rs-certificates__arrows:hover .progress-btn {
    -webkit-transform: translate(-50%, -50%) scale3d(1.2, 1.2, 1);
    transform: translate(-50%, -50%) scale3d(1.2, 1.2, 1);
}

.rs-certificates__arrows:hover .progress-btn__path {
    stroke-dashoffset: 0;
}

@-webkit-keyframes line-visible {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }

    50% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }

    51% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

@keyframes line-visible {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }

    50% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }

    51% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

.rs-certificates__arrow_next:hover svg path:nth-child(2) {
    -webkit-animation: line-visible cubic-bezier(0.68, 0.17, 0.25, 1) 1s forwards;
    animation: line-visible cubic-bezier(0.68, 0.17, 0.25, 1) 1s forwards;
}

.rs-certificates__arrow_prev:hover svg path:nth-child(2) {
    animation: line-visible cubic-bezier(0.68, 0.17, 0.25, 1) 1s reverse;
}

@media (min-width: 1630px) {
    .rs-17 .rs-certificates__container {
        margin-right: calc((100vw - 1600px) / -2);
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-certificates__container {
        display: block;
    }

    .rs-17 .rs-certificates__head {
        height: 165px;
    }

    .rs-17 .rs-certificates__pagination {
        left: auto !important;
        right: 0 !important;
        width: auto !important;
    }
}