.rs-17 .rs-give {
    font-size: 10px;
    position: relative;
}

.rs-17 .rs-give._init .rs-give__title {
    position: relative;
}

.rs-17 .rs-give._init .rs-give__title::after {
    content: '';
    position: absolute;
    right: 10px;
    width: 2px;
    height: 14px;
    top: calc(50% - 7px);
    background-color: #000;
    transition: all 0.3s ease 0s;
}

.rs-17 .rs-give._init .rs-give__title::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 4px;
    height: 2px;
    width: 14px;
    background-color: #000;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-17 .rs-give._init .rs-give__title._active::after {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.rs-17 .rs-give__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rs-17 .rs-give__column {
    position: relative;
    -ms-flex: 1 1 33.3333%;
    flex: 1 1 33.3333%;
    padding-top: 85px;
    padding-left: 65px;
    padding-bottom: 84px;
    padding-right: 60px;
}

.rs-17 .rs-give__column:nth-child(1) {
    padding: 0;
}

.rs-17 .rs-give__column:nth-child(2) {
    background-color: #faf9f8;
    -ms-flex-order: 1;
    order: 1;
}

.rs-17 .rs-give__column:nth-child(3) {
    background-color: #f8eee9;
    -ms-flex-order: 2;
    order: 2;
}

.rs-17 .rs-give__img-holder {
    position: relative;
    width: 100%;
    height: 100%;
}

.rs-17 .rs-give__img-holder img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top center;
    object-position: top center;
}

.rs-17 .rs-give__title {
    margin-top: 0;
    margin-bottom: 35px;
    color: #000000;
    font-family: "CormorantInfant";
    font-size: 3.6em;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.rs-17 .rs-give__btn-holder {
    margin-top: 45px;
}

.rs-17 .rs-give .block-list li {
    font-size: 1.6em;
}

@media (max-width: 1630px) {
    .rs-17 .rs-give {
        font-size: calc(5px + 5 * ((100vw - 320px) / 1310));
    }
}

@media (max-width: 1600px) {
    .rs-17 .rs-give__column {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-give .ball,
  .rs-17 .rs-give .gradient,
  #give-path {
        display: none;
    }

    .rs-17 .rs-give {
        font-size: 10px;
    }

    .rs-17 .rs-give {
        padding-top: 25px;
    }

    .rs-17 .rs-give__container {
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0px 15px;
    }

    .rs-17 .rs-give__column {
        padding: 0;
    }

    .rs-17 .rs-give__column:nth-child(1) {
        padding-bottom: 69%;
        -ms-flex-order: 3;
        order: 3;
    }

    .rs-17 .rs-give__column:nth-child(2) {
        background-color: transparent;
        border-radius: 5px;
        border: 2px solid #f8eee9;
        margin-bottom: 7px;
    }

    .rs-17 .rs-give__column:nth-child(3) {
        background-color: transparent;
        border-radius: 5px;
        border: 2px solid #f8eee9;
        margin-bottom: 7px;
    }

    .rs-17 .rs-give__img-holder {
        padding-bottom: 69%;
    }

    .rs-17 .rs-give__title {
        cursor: pointer;
        margin: 0;
        padding: 15px 25px;
        font-size: 2.2em;
        text-align: center;
        background-color: #f8eee9;
    }

    .rs-17 .rs-give__btn-holder {
        margin-top: 0;
    }

    .rs-17 .rs-give__btn {
        -ms-flex-order: 4;
        order: 4;
        margin-top: 7px;
    }

    .rs-17 .rs-give__btn a {
        width: 100%;
    }

    .rs-17 .rs-give .block-list {
        padding-top: 45px;
    }
}