.rs-17 .rs-help {
    position: relative;
    background-color: #faf9f8;
    padding-top: 80px;
    padding-bottom: 100px;
    font-size: 10px;
}

.rs-17 .rs-help__container {
    position: relative;
    display: -ms-flexbox;
    display: flex;
}

.rs-17 .rs-help__content {
    position: relative;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding-left: 95px;
    padding-right: 92px;
    padding-top: 35px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
}

.rs-17 .rs-help__content h2 {
    font-family: "CormorantInfant";
    font-size: 4.9em;
    font-weight: 500;
    text-transform: uppercase;
    line-height: normal;
    margin-bottom: 35px;
}

.rs-17 .rs-help__note {
    position: relative;
    padding-left: 95px;
    margin-bottom: 35px;
}

.rs-17 .rs-help__note span {
    font-size: 6.8em;
    position: absolute;
    top: -10px;
    left: 0;
}

.rs-17 .rs-help__note h6 {
    margin-top: 0;
    margin-bottom: 8px;
    color: #000000;
    font-family: "CormorantInfant";
    font-size: 2.3em;
    text-transform: uppercase;
}

.rs-17 .rs-help__note p {
    margin-top: 0;
    margin-bottom: 5px;
    color: #252525;
    font-size: 1.5em;
    line-height: 1.5;
    letter-spacing: 0.38px;
}

.rs-17 .rs-help__photo {
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
}

.rs-17 .rs-help__photo-holder {
    position: relative;
    padding-bottom: 101%;
}

.rs-17 .rs-help__photo-holder img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top center;
    object-position: top center;
}

.rs-17 .rs-help__btn {
    margin-top: 10px;
}

@media (max-width: 1630px) {
    .rs-17 .rs-help {
        padding-bottom: calc(35px + 65 * ((100vw - 320px) / 1310));
    }

    .rs-17 .rs-help {
        font-size: calc(6px + 4 * ((100vw - 320px) / 1310));
    }
}

@media (max-width: 1550px) {
    .rs-17 .rs-help__content {
        padding-left: 45px;
        padding-right: 25px;
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-help .ball {
        display: none;
    }

    .rs-17 .rs-help {
        font-size: 8px;
    }

    .rs-17 .rs-help__container {
        display: block;
    }

    .rs-17 .rs-help__content {
        padding: 0;
    }
}