@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500&display=swap");

@font-face {
    font-family: "CormorantInfant";
  font-display: swap;
  src: url("../../fonts/CormorantInfant-Bold.woff") format("woff"), url("../../fonts/CormorantInfant-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: "CormorantInfant";
  font-display: swap;
  src: url("../../fonts/CormorantInfant-Italic.woff") format("woff"), url("../../fonts/CormorantInfant-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
    font-family: "CormorantInfant";
  font-display: swap;
  src: url("../../fonts/CormorantInfant-Medium.woff") format("woff"), url("../../fonts/CormorantInfant-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: "CormorantInfant";
  font-display: swap;
  src: url("../../fonts/CormorantInfant-Regular.woff") format("woff"), url("../../fonts/CormorantInfant-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "Montserrat";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "Montserrat";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    color: #000000;
    background: #ffffff;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

body._lock {
    overflow: hidden;
}

.wrapper,
.site {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.container-fluid {
    max-width: 1630px;
}

header {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
}

.page,
.site-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.num-text {
    background-image: linear-gradient(-33deg, #ee9b8b 0%, #fbaea2 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "CormorantInfant";
    font-weight: 600;
    text-transform: uppercase;
}

.btn-color {
    display: inline-block;
    padding: 18px 34px;
    position: relative;
    text-align: center;
}

.btn-color:hover .btn-color__border {
    stroke-dashoffset: -182%;
    stroke-dasharray: 395% 60px;
}

.btn-color__border {
    position: absolute;
    top: -2px;
    left: 0;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    fill: transparent;
    color: #e63718;
    stroke: currentColor;
    stroke-width: 4;
    transition: 1.5s;
    stroke-dashoffset: -30%;
    stroke-dasharray: 395% 0;
    transition-timing-function: cubic-bezier(0.37, 0.24, 0.07, 0.92);
}

.btn-color__text {
    color: #1a1a1a;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.link-kale {
    position: relative;
    transition: color 0.3s ease 0s;
}

.link-kale::before,
.link-kale::after {
    content: "";
    position: absolute;
    width: 100%;
    background: #e63718;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link-kale::before {
    height: 10px;
    top: 100%;
    opacity: 0;
}

.link-kale::after {
    transition: opacity 0.3s;
    opacity: 0;
    transition-delay: 0s;
}

.link-kale:hover {
    color: #e63718;
}

.link-kale:hover::before {
    opacity: 1;
    -webkit-animation: lineUp 0.3s ease forwards;
    animation: lineUp 0.3s ease forwards;
}

.link-kale:hover::after {
    opacity: 1;
    transition-delay: 0.3s;
}

.link-iocaste {
    display: inline-block;
    overflow: hidden;
    padding: 3px 0;
    position: relative;
    white-space: nowrap;
}

.link-iocaste .link__slide {
    top: -3px;
    stroke-width: 2px;
    transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    fill: none;
    stroke: #000;
    stroke-width: 3px;
}

.link-iocaste:hover .link__slide {
    -webkit-transform: translate3d(-66.6%, 0, 0);
    transform: translate3d(-66.6%, 0, 0);
}

ul.block-list li {
    background: url("../../img/icons/list_arrow.svg") -3px 2px no-repeat;
    padding-left: 25px;
    margin-bottom: 7px;
    font-size: 1.8em;
    line-height: 25px;
    letter-spacing: 0.45px;
}

.btn-minimal {
    position: relative;
    display: inline-block;
    font-weight: 600;
    outline: 0;
    text-align: left;
    color: #e63718;
    border: 1px solid #e63718;
    font-size: 13px;
    background-color: transparent;
    overflow: hidden;
    height: 41px;
    width: 41px;
    transition: all 0.2s ease-in-out;
}

.btn-minimal__text {
    color: #e63718;
    line-height: 41px;
    padding-left: 41px;
    opacity: 0;
    transition: all 0.2s ease 0.2s;
}

.btn-minimal__icon {
    color: #e63718;
    position: absolute;
    left: 0;
    top: 0;
    width: 41px;
    height: 41px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn-minimal:hover {
    width: 137px;
    color: #e63718;
}

.btn-minimal:hover .btn-minimal__text {
    opacity: 1;
}

.ball {
    pointer-events: none;
    z-index: 10;
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: var(--width);
    height: var(--height);
    -webkit-animation: ballMover 10s var(--delay) infinite alternate linear;
    animation: ballMover 10s var(--delay) infinite alternate linear;
}

.ball img {
    width: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    transition: all 0.1s ease-out 0s;
}

.ball.inViewport img {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    transition: all 0.9s ease-out var(--delay);
}

@-webkit-keyframes ballMover {
    0% {
        -webkit-transform: perspective(600px) translate3d(0px, 0px, 0px);
        transform: perspective(600px) translate3d(0px, 0px, 0px);
    }

    20% {
        -webkit-transform: perspective(600px) translate3d(9px, -4px, 0px);
        transform: perspective(600px) translate3d(9px, -4px, 0px);
    }

    40% {
        -webkit-transform: perspective(600px) translate3d(-3px, -7px, 0px);
        transform: perspective(600px) translate3d(-3px, -7px, 0px);
    }

    60% {
        -webkit-transform: perspective(600px) translate3d(-8px, 3px, 0px);
        transform: perspective(600px) translate3d(-8px, 3px, 0px);
    }

    80% {
        -webkit-transform: perspective(600px) translate3d(-3px, 8px, 0px);
        transform: perspective(600px) translate3d(-3px, 8px, 0px);
    }

    100% {
        -webkit-transform: perspective(600px) translate3d(0px, 0px, 0px);
        transform: perspective(600px) translate3d(0px, 0px, 0px);
    }
}

@keyframes ballMover {
    0% {
        -webkit-transform: perspective(600px) translate3d(0px, 0px, 0px);
        transform: perspective(600px) translate3d(0px, 0px, 0px);
    }

    20% {
        -webkit-transform: perspective(600px) translate3d(9px, -4px, 0px);
        transform: perspective(600px) translate3d(9px, -4px, 0px);
    }

    40% {
        -webkit-transform: perspective(600px) translate3d(-3px, -7px, 0px);
        transform: perspective(600px) translate3d(-3px, -7px, 0px);
    }

    60% {
        -webkit-transform: perspective(600px) translate3d(-8px, 3px, 0px);
        transform: perspective(600px) translate3d(-8px, 3px, 0px);
    }

    80% {
        -webkit-transform: perspective(600px) translate3d(-3px, 8px, 0px);
        transform: perspective(600px) translate3d(-3px, 8px, 0px);
    }

    100% {
        -webkit-transform: perspective(600px) translate3d(0px, 0px, 0px);
        transform: perspective(600px) translate3d(0px, 0px, 0px);
    }
}

.gradient {
    pointer-events: none;
    position: absolute;
    top: var(--y);
    left: var(--x);
}

@-webkit-keyframes gradientMover {
    0% {
        -webkit-transform: perspective(600px) translate3d(0px, 0px, 0px);
        transform: perspective(600px) translate3d(0px, 0px, 0px);
    }

    20% {
        -webkit-transform: perspective(600px) translate3d(59px, -54px, 0px);
        transform: perspective(600px) translate3d(59px, -54px, 0px);
    }

    40% {
        -webkit-transform: perspective(600px) translate3d(-53px, -57px, 0px);
        transform: perspective(600px) translate3d(-53px, -57px, 0px);
    }

    60% {
        -webkit-transform: perspective(600px) translate3d(-58px, 53px, 0px);
        transform: perspective(600px) translate3d(-58px, 53px, 0px);
    }

    80% {
        -webkit-transform: perspective(600px) translate3d(-53px, 58px, 0px);
        transform: perspective(600px) translate3d(-53px, 58px, 0px);
    }

    100% {
        -webkit-transform: perspective(600px) translate3d(0px, 0px, 0px);
        transform: perspective(600px) translate3d(0px, 0px, 0px);
    }
}

@keyframes gradientMover {
    0% {
        -webkit-transform: perspective(600px) translate3d(0px, 0px, 0px);
        transform: perspective(600px) translate3d(0px, 0px, 0px);
    }

    20% {
        -webkit-transform: perspective(600px) translate3d(59px, -54px, 0px);
        transform: perspective(600px) translate3d(59px, -54px, 0px);
    }

    40% {
        -webkit-transform: perspective(600px) translate3d(-53px, -57px, 0px);
        transform: perspective(600px) translate3d(-53px, -57px, 0px);
    }

    60% {
        -webkit-transform: perspective(600px) translate3d(-58px, 53px, 0px);
        transform: perspective(600px) translate3d(-58px, 53px, 0px);
    }

    80% {
        -webkit-transform: perspective(600px) translate3d(-53px, 58px, 0px);
        transform: perspective(600px) translate3d(-53px, 58px, 0px);
    }

    100% {
        -webkit-transform: perspective(600px) translate3d(0px, 0px, 0px);
        transform: perspective(600px) translate3d(0px, 0px, 0px);
    }
}

.line-path {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    --opacity: 1;
}

.line-path svg path {
    --path: 2374.125;
    stroke-dasharray: var(--path);
    stroke-dashoffset: var(--path);
    -webkit-animation: draw 7s ease-in-out infinite;
    animation: draw 7s ease-in-out infinite;
}

#give-path {
    pointer-events: none;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 33.33%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#give-path svg path {
    --opacity: 0.2;
    stroke: #e63718;
    fill: none;
    stroke-dasharray: var(--path);
    stroke-dashoffset: var(--path);
    -webkit-animation: draw 10s ease-in-out infinite;
    animation: draw 10s ease-in-out infinite;
}

#give-path svg path:nth-child(1) {
    --path: 5427.60546875;
}

#give-path svg path:nth-child(2) {
    --path: 6244.9130859375;
}

#give-path svg path:nth-child(3) {
    --path: 917.0835571289062;
}

#give-path svg path:nth-child(4) {
    --path: 526.59619140625;
}

#invite-path {
    pointer-events: none;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#invite-path svg {
    width: 100%;
    height: 800px;
}

#invite-path svg path {
    --opacity: 1;
    --path: 1;
    stroke: #e63718;
    fill: none;
    stroke-width: 0.5px;
    stroke-dasharray: var(--path);
    stroke-dashoffset: var(--path);
    -webkit-animation: draw 10s ease-in-out infinite;
    animation: draw 10s ease-in-out infinite;
}

#help-path {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@-webkit-keyframes draw {
    0% {
        stroke-dashoffset: var(--path);
        opacity: var(--opacity);
    }

    80% {
        stroke-dashoffset: 0;
        opacity: var(--opacity);
    }

    90% {
        stroke-dashoffset: 0;
        opacity: 0;
    }

    100% {
        stroke-dashoffset: 0;
        opacity: 0;
    }
}

@keyframes draw {
    0% {
        stroke-dashoffset: var(--path);
        opacity: var(--opacity);
    }

    80% {
        stroke-dashoffset: 0;
        opacity: var(--opacity);
    }

    90% {
        stroke-dashoffset: 0;
        opacity: 0;
    }

    100% {
        stroke-dashoffset: 0;
        opacity: 0;
    }
}

@media (min-width: 991.98px) {
    .gradient img {
        -webkit-animation: gradientMover 12s var(--delay) infinite alternate linear;
        animation: gradientMover 12s var(--delay) infinite alternate linear;
    }
}