<!DOCTYPE html>
<html lang="ru">
   <head>
	<title>Главная</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="css/style.min.css">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
    <div class="wrapper">
      <!-- header -->
      <header class="header">
  <div class="header__content _container">
    <a href="" class="header__logo"><img src="img/logo.png" alt="" /></a>
    <div class="header__menu menu">
      <div class="menu__icon icon-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="menu__body">
        <ul class="menu__list">
          <li><a href="" class="menu__link">Главная </a></li>
          <li><a href="" class="menu__link">SOFIT EVENT HOUSE</a></li>
          <li><a href="" class="menu__link">МЕРОПРИЯТИЯ</a></li>
          <li><a href="" class="menu__link">ТУРИСТАМ</a></li>
          <li><a href="" class="menu__link">КЕЙТЕРИНГ</a></li>
          <li><a href="" class="menu__link">ДЛЯ АГЕНТСТВ</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

      <!-- main content -->
      <main class="page">
        <!-- main slider -->
        <div class="page__mainslider">
          <div class="mainslider">
            <div class="mainslider__body _swiper">
              <div class="mainslider__item item-mainslider">
                <div class="item-mainslider__body">
                  <div class="item-mainslider__image _ibg"><img src="img/mainslide1.jpg" alt="" /></div>
                  <div class="item-mainslider__desc">
                    <div class="item-mainslider__row">
                      <div class="item-mainslider__title">корпоративы</div>
                      <div class="item-mainslider__text">Отметьте лучший праздник в лучшем дворце Петербурга!</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mainslider__item item-mainslider">
                <div class="item-mainslider__body">
                  <div class="item-mainslider__image _ibg"><img src="img/mainslide2.jpg" alt="" /></div>
                  <div class="item-mainslider__desc">
                    <div class="item-mainslider__row">
                      <div class="item-mainslider__title">свадьбы</div>
                      <div class="item-mainslider__text">Отметьте лучший праздник в лучшем дворце Петербурга!</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mainslider__item item-mainslider">
                <div class="item-mainslider__body">
                  <div class="item-mainslider__image _ibg"><img src="img/mainslide3.jpg" alt="" /></div>
                  <div class="item-mainslider__desc">
                    <div class="item-mainslider__row">
                      <div class="item-mainslider__title">званые вечера</div>
                      <div class="item-mainslider__text">Отметьте лучший праздник в лучшем дворце Петербурга!</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mainslider__control">
              <div class="mainslider__arrow mainslider__arrow_prev">^</div>
              <div class="mainslider__pagination"></div>
              <div class="mainslider__arrow mainslider__arrow_next">^</div>
            </div>
          </div>
        </div>
        <!-- block about -->
        <div class="page__about">
          <section class="about">
            <div class="about__content _container">
              <div class="about__title block-title">
                <h2 class="block-title__title">О РЕСТОРАНЕ</h2>
                <div class="block-title__image"><img src="img/block-title-icon.png" alt="" /></div>
                <div class="block-title__subtitle">летний дворец</div>
              </div>
              <div class="about__video">
                <video src="img/about.mp4" muted poster="img/about-video.jpg"></video>
                <div class="about__play-btn _ibg"><img src="img/play-button.png" alt="" /></div>
              </div>
              <div class="about__body">
                <div class="about__column">
                  <div class="about__logo"><img src="img/logo.png" alt="" /></div>
                  <div class="about__text">
                    <p>Добро пожаловать в Летний Дворец!</p>
                    <p>
                      Всего в 12 километрах от Петербурга, неподалеку от знаменитых фонтанов и парков Петергофа воплощен в жизнь один из
                      самых грандиозных проектов event-индустрии России – ресторанный комплекс «Летний Дворец». Открытый в 2009 году, он
                      объединил под одной крышей современный банкетный зал в исторических дворцовых интерьерах на 800 гостей и собственный
                      кейтеринг.
                    </p>
                  </div>
                </div>
                <div class="about__column">
                  <div class="about__row">
                    <div class="about__item">
                      <div class="about__label">
                        <div class="about__icon"><img src="img/about-icon-01.png" alt="" /></div>
                        <span>площадка</span>
                      </div>
                      <div class="about__text">
                        <p>
                          Сочетание классических интерьеров и современных технических возможностей выгодно отличают Летний Дворец от
                          большинства других исторических площадок города.
                        </p>
                      </div>
                    </div>
                    <div class="about__item">
                      <div class="about__label">
                        <div class="about__icon"><img src="img/about-icon-02.png" alt="" /></div>
                        <span>интерьеры</span>
                      </div>
                      <div class="about__text">
                        <p>
                          Изысканное внутреннее убранство Летнего Дворца — тонко выполненная стилизация с использованием традиционных
                          технологий и материалов — мрамора, бронзового литья.
                        </p>
                      </div>
                    </div>
                    <div class="about__item">
                      <div class="about__label">
                        <div class="about__icon"><img src="img/about-icon-03.png" alt="" /></div>
                        <span>технологии</span>
                      </div>
                      <div class="about__text">
                        <p>
                          Возможности «Летнего Дворца» практически безграничны с точки зрения проведения мероприятий самого разного формата
                          и масштаба.
                        </p>
                      </div>
                    </div>
                    <div class="about__item">
                      <div class="about__label">
                        <div class="about__icon"><img src="img/about-icon-04.png" alt="" /></div>
                        <span>оборудование</span>
                      </div>
                      <div class="about__text">
                        <p>
                          Установлен комплект самого современного звукового оборудования, который приятно удивит даже знатока качественного
                          звука.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- block gallery -->
        <div class="page__gallery">
          <div class="gallery">
            <div class="gallery__content _container">
              <div class="gallery__body _gallery">
                <div class="gallery__row">
                  <div class="gallery__item">
                    <div class="gallery__title">
                      <div class="block-title">
                        <h2 class="block-title__title">Галлерея</h2>
                        <div class="block-title__image"><img src="img/block-title-icon.png" alt="" /></div>
                        <div class="block-title__subtitle">летний дворец</div>
                      </div>
                    </div>
                  </div>
                  <div class="gallery__item">
                    <a href="img/mainslide2.jpg" class="gallery__link"><img src="img/mainslide2.jpg" alt="" /> </a>
                  </div>
                  <div class="gallery__item">
                    <a href="img/galery01.jpg" class="gallery__link"><img src="img/galery01.jpg" alt="" /></a>
                  </div>
                  <div class="gallery__item">
                    <a href="img/about-video.jpg" class="gallery__link"><img src="img/about-video.jpg" alt="" /></a>
                  </div>
                  <div class="gallery__item gallery__item_twin">
                    <a href="img/mainslide3.jpg" class="gallery__link"><img src="img/mainslide3.jpg" alt="" /></a>
                    <a href="img/mainslide1.jpg" class="gallery__link"><img src="img/mainslide1.jpg" alt="" /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- block download -->
        <div class="page__download">
          <div class="download">
            <div class="download__title">узнайте о нас больше</div>
            <div class="download__row">
              <a href="" class="download__link">Скачать план</a>
              <a href="" class="download__link">Скачать презентацию</a>
            </div>
          </div>
        </div>
        <!-- block contact -->
        <div class="page__contact">
          <div class="contact _container">
            <div class="contact__content">
              <div class="contact__column">
                <div class="contact__title">хотите провести мероприятие?</div>
                <div class="contact__text">
                  <p>
                    Или у вас остались вопросы, на которые мы сможем вам ответить в процессе разговора - напишите нам. Мы открыты для
                    диалога!
                  </p>
                </div>
                <div class="contact__row">
                  <div class="contact__body">
                    <div class="contact__subtitle">ресторан</div>
                    <div class="contact__address">Санкт-Петербургское шоссе, д 130, к. 7</div>
                    <a href="tel:+78122106795" class="contact__phone">+7 (812) 210 67 95</a>
                    <a href="mailto:hello@summerpalace.ru" class="contact__email">hello@summerpalace.ru</a>
                  </div>
                  <div class="contact__body">
                    <div class="contact__subtitle">офис</div>
                    <div class="contact__address">ст. м. «Лиговский проспект», ул. Черняховского, д. 75</div>
                    <a href="tel:+78122106795" class="contact__phone">+7 (812) 210 67 95</a>
                    <a href="mailto:hello@summerpalace.ru" class="contact__email">hello@summerpalace.ru</a>
                  </div>
                </div>
              </div>
              <div class="contact__column">
                <form action="#" class="contact__form form-contact">
                  <div class="form-contact__input">
                    <input autocomplete="off" type="text" name="form[]" data-error="" data-value="Ваше имя" class="input _req" />
                  </div>
                  <div class="form-contact__input">
                    <input autocomplete="off" type="text" name="form[]" data-error="" data-value="Ваш e-mail" class="input _req _email" />
                  </div>
                  <div class="form-contact__input">
                    <textarea autocomplete="off" name="form[]" data-value="Сообщение" data-error="" class="input"></textarea>
                  </div>
                  <button type="submit" class="form-contact__btn btn"><span>отправить</span></button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- block instagram -->
        <div class="page__instagram">
          <section class="instagram">
            <div class="instagram__content _container">
              <div class="instagram__title block-title">
                <h2 class="block-title__title">наш instagram</h2>
                <div class="block-title__image"><img src="img/block-title-icon.png" alt="" /></div>
                <div class="block-title__subtitle">летний дворец</div>
              </div>
            </div>
            <div class="instagram__images">
              <div class="instagram__img _ibg"><img src="img/mainslide1.jpg" alt="" /></div>
              <div class="instagram__img _ibg"><img src="img/mainslide2.jpg" alt="" /></div>
              <div class="instagram__img _ibg"><img src="img/mainslide3.jpg" alt="" /></div>
              <div class="instagram__img _ibg"><img src="img/mainslide1.jpg" alt="" /></div>
              <div class="instagram__img _ibg"><img src="img/mainslide2.jpg" alt="" /></div>
            </div>
          </section>
        </div>
      </main>
      <!-- footer -->
      <footer class="footer">
  <div class="footer__content _container">
    <div class="footer__text">Copyright (с) 2019 Ресторан “Летний дворец”</div>
    <div class="footer__social">
      <a href="" class="footer__link">Facebook</a>
      <a href="" class="footer__link">Vkontakte</a>
      <a href="" class="footer__link">Instagram</a>
    </div>
  </div>
</footer>

    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
<script src="js/vendors.min.js"></script>
<script src="js/app.min.js"></script>
  </body>
</html>
