@charset "UTF-8";

.rs-17 .rs-about {
    margin-top: -75px;
}

.rs-17 .rs-about__body {
    position: relative;
}

.rs-17 .rs-about__body::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    background: url("../../img/about-advantages/advantages_background.png") right bottom/cover no-repeat;
}

.rs-17 .rs-about__image {
    overflow: hidden;
    height: 473px;
    width: 100%;
    position: relative;
    margin-top: -236px;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.rs-17 .rs-about__container {
    padding-top: 144px;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
}

.rs-17 .rs-about__column {
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

.rs-17 .rs-about__column:first-child {
    padding-right: 95px;
}

.rs-17 .rs-about__column:last-child {
    padding-left: 95px;
    padding-right: 20px;
    padding-bottom: 100px;
}

.rs-17 .rs-about__inner h4 {
    margin-bottom: 15px;
}

.rs-17 .rs-about__inner p {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: #424242;
}

.rs-17 .rs-about__quotes {
    margin: 45px 0px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: #282828;
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
}

.rs-17 .rs-about__quotes:before {
    content: '”';
    position: absolute;
    top: 80px;
    left: 0;
    -webkit-text-stroke: 1px rgba(255, 121, 25, 0.3);
    font-size: 200px;
    line-height: 0px;
    font-weight: 700;
    color: transparent;
    z-index: -1;
}

.rs-17 .rs-about__advantages {
    color: #fff;
}

.rs-17 .rs-about__advantages h4 {
    font-size: 35px;
    line-height: 1.2;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 60px;
}

.rs-17 .rs-about__advantages-list {
    counter-reset: advantages;
}

.rs-17 .rs-about__advantages-list li {
    counter-increment: advantages;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    display: -ms-flexbox;
    display: flex;
}

.rs-17 .rs-about__advantages-list li:not(:last-child) {
    margin-bottom: 60px;
}

.rs-17 .rs-about__advantages-list li::before {
    content: "0" counter(advantages);
    display: block;
    width: 65px;
    -ms-flex: 0 0 65px;
    flex: 0 0 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgba(255, 242, 232, 0.1);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 16px;
}

@media (max-width: 1170px) {
    .rs-17 .rs-about__column:first-child {
        padding-right: calc(0px + 95 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-about__column:last-child {
        padding-left: calc(0px + 95 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-about__column:last-child {
        padding-right: calc(0px + 20 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-about__column:last-child {
        padding-bottom: calc(0px + 100 * ((100vw - 320px) / 850));
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-about__body::before {
        display: none;
    }

    .rs-17 .rs-about__image {
        margin-top: 0;
    }

    .rs-17 .rs-about__container {
        display: block;
        padding-top: 100px;
    }

    .rs-17 .rs-about__column:first-child {
        padding: 0;
    }

    .rs-17 .rs-about__column:last-child {
        background-color: #aa62a7;
        margin: 0px -15px;
        padding: 0px 15px 30px;
    }

    .rs-17 .rs-about__advantages {
        padding-top: 10px;
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-about__advantages h4 {
        font-size: 28px;
    }
}