.rs-17 .rs-metrics {
    padding-top: 36px;
    padding-bottom: 64px;
    position: relative;
    z-index: 10;
}

.rs-17 .rs-metrics::before {
    content: '';
    display: block;
    position: absolute;
    width: 75%;
    height: 100%;
    top: 0;
    right: 25%;
    background: #fff2e8 url("../../img/metrics/metrics_bg.png") left 50% no-repeat;
}

.rs-17 .rs-metrics__container {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
}

.rs-17 .rs-metrics__column {
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

.rs-17 .rs-metrics__column:last-child {
    padding-top: 60px;
}

.rs-17 .rs-metrics__items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.rs-17 .rs-metrics__item {
    padding: 0px 15px;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    margin-top: 64px;
}

.rs-17 .rs-metrics__volume {
    display: block;
    font-size: 55px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #aa62a7;
    margin-bottom: 21px;
}

.rs-17 .rs-metrics__text {
    display: block;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: #111111;
    max-width: 300px;
}

.rs-17 .rs-metrics__image {
    position: relative;
    height: 100%;
}

.rs-17 .rs-metrics__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50px;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (min-width: 1170px) {
    .rs-17 .rs-metrics__image {
        margin-right: calc((100vw - 1170px) / -2);
    }
}

@media (max-width: 1200px) {
    .rs-17 .rs-metrics::before {
        width: 100%;
        right: 0;
    }

    .rs-17 .rs-metrics__column {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .rs-17 .rs-metrics__column:last-child {
        display: none;
    }
}

@media (max-width: 1170px) {
    .rs-17 .rs-metrics {
        padding-top: calc(0px + 36 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-metrics {
        padding-bottom: calc(30px + 34 * ((100vw - 320px) / 850));
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-metrics__item {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        text-align: center;
    }

    .rs-17 .rs-metrics__text {
        margin: 0 auto;
    }
}