.header-search__box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header-search__input {
    height: 30px;
    width: 225px;
    font-weight: 300;
    font-size: 12px;
    color: #A6A7A9;
    padding-left: 8px;
    padding-right: 8px;
}

.header-search__submit {
    height: 30px;
    width: 30px;
    background: url("../../img/svgicons/search_icon.svg") center/13px 13px no-repeat;
    border: 1px solid #FFFFFF;
}

.rs-17 .rs-header-contacts {
    height: 34px;
    background-color: #005CB9;
}

.rs-17 .rs-header-contacts__container {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-17 .rs-header-contacts__wrapper {
    display: -ms-flexbox;
    display: flex;
}

.rs-17 .rs-header-contacts__item {
    font-weight: 500;
    font-size: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #FFFFFF;
}

.rs-17 .rs-header-contacts__item:not(:last-child) {
    margin-right: 33px;
}

.rs-17 .rs-header-contacts__item span::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    transition: -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
}

.rs-17 .rs-header-contacts__item:hover span::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.rs-17 .rs-header-contacts__item .icon {
    margin-right: 9px;
    width: 14px;
    height: 14px;
}

@media (max-width: 991.98px) {
    .rs-17 .rs-header-contacts {
        display: none;
    }
}