.rs-17 .rs-about {
    position: relative;
}

.rs-17 .rs-about::before {
    content: url("../../img/shape2.svg");
    display: block;
    width: 177px;
    height: 164px;
    position: absolute;
    top: -75px;
    right: 130px;
    z-index: 5;
}

.rs-17 .rs-about::after {
    content: url("../../img/shape4.svg");
    display: block;
    width: 177px;
    height: 164px;
    position: absolute;
    bottom: -30px;
    right: 20px;
    z-index: 5;
}

.rs-17 .rs-about__container {
    display: -ms-flexbox;
    display: flex;
}

.rs-17 .rs-about__column:first-child {
    -ms-flex: 0 1 54%;
    flex: 0 1 54%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-17 .rs-about__column:last-child {
    -ms-flex: 0 1 46%;
    flex: 0 1 46%;
    background: url("../../img/about/adv_background.jpg") center/cover no-repeat;
}

.rs-17 .rs-about .about-block {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 67px;
    padding-right: 64px;
    padding-bottom: 100px;
    padding-left: 15px;
}

.rs-17 .rs-about .about-block h2 {
    margin-bottom: 27px;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    color: #030925;
    max-width: 425px;
}

.rs-17 .rs-about .about-block h2 span {
    color: #ff7029;
}

.rs-17 .rs-about .about-block p {
    font-size: 14px;
    line-height: 171.42857%;
    font-weight: 400;
    color: #616161;
}

.rs-17 .rs-about .about-block p:not(:last-child) {
    margin-bottom: 12px;
}

.rs-17 .rs-about .about-block__sertificat {
    background-color: #ffffff;
    box-shadow: 10px 14px 24px 0px rgba(41, 47, 51, 0.09);
    border-radius: 15px;
    margin-top: 31px;
    margin-bottom: 31px;
    padding: 33px;
    font-size: 14px;
    line-height: 171.42857%;
    font-weight: 400;
    color: #616161;
}

.rs-17 .rs-about .about-block__sertificat-link {
    display: block;
    color: #ff7029;
}

.rs-17 .rs-about .special-block {
    position: relative;
    background: url("../../img/special_paralax.jpg") 0 0/cover no-repeat fixed;
    min-height: 586px;
    padding-left: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-17 .rs-about .special-block h2 {
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-bottom: 22px;
}

.rs-17 .rs-about .special-block h2 span {
    font-weight: 700;
}

.rs-17 .rs-about .special-block p {
    letter-spacing: 0.025em;
    color: #ffffff;
    font-size: 17px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 30px;
}

.rs-17 .rs-about .special-block__play-btn {
    position: absolute;
    right: 42px;
    bottom: 42px;
}

.rs-17 .rs-about .advantage-block {
    padding-top: 55px;
    padding-bottom: 65px;
    padding-left: 49px;
    padding-right: 15px;
}

.rs-17 .rs-about .advantage-block h2 {
    margin-bottom: 28px;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}

.rs-17 .rs-about .advantage-block h2 span {
    color: #ff7029;
}

.rs-17 .rs-about .advantage-block .slick-track {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

.rs-17 .rs-about .advantage-block__item {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 34px;
    padding-right: 34px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin-bottom: 20px;
}

.rs-17 .rs-about .advantage-block__item h6 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    color: #ffffff;
}

.rs-17 .rs-about .advantage-block__item p {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

@media (min-width: 1170px) {
    .rs-17 .rs-about .about-block {
        padding-left: calc((100vw - 1170px) / 2);
    }

    .rs-17 .rs-about .special-block {
        padding-left: calc((100vw - 1170px) / 2);
    }

    .rs-17 .rs-about .advantage-block {
        padding-right: calc((100vw - 1170px) / 2);
    }
}

@media (max-width: 1600px) {
    .rs-17 .rs-about::before {
        display: none;
    }

    .rs-17 .rs-about::after {
        display: none;
    }
}

@media (max-width: 1170px) {
    .rs-17 .rs-about .advantage-block__item {
        padding-top: calc(8px + 10 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-about .advantage-block__item {
        padding-bottom: calc(8px + 10 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-about .advantage-block__item {
        padding-left: calc(8px + 26 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-about .advantage-block__item {
        padding-right: calc(8px + 26 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-about .advantage-block__item h6 {
        font-size: calc(14px + 4 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-about .advantage-block__item p {
        font-size: calc(11px + 3 * ((100vw - 320px) / 850));
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-about__container {
        display: block;
    }

    .rs-17 .rs-about .about-block {
        padding-right: 15px;
        padding-bottom: 35px;
        padding-top: 35px;
    }

    .rs-17 .rs-about .special-block {
        display: block;
        padding-top: 30px;
        padding-bottom: 250px;
        min-height: auto;
    }

    .rs-17 .rs-about .advantage-block {
        padding-left: 15px;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .rs-17 .rs-about .advantage-block__item {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-about .advantage-block__items {
        display: -ms-flexbox;
        display: flex;
        margin: 0px -15px;
    }
}