.rs-17 .rs-catalog {
    padding-top: 41px;
    padding-bottom: 51px;
}

.rs-17 .rs-catalog__container {
    display: -ms-flexbox;
    display: flex;
    padding-top: 31px;
}

.rs-17 .rs-catalog__aside {
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
    margin-right: 65px;
}

.rs-17 .rs-catalog__content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.rs-17 .rs-catalog__sort {
    margin-bottom: 26px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-17 .rs-catalog__sort-total {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #616161;
    margin-left: 15px;
}

.rs-17 .rs-catalog__items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px -13px;
}

.rs-17 .rs-catalog__item {
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    padding: 0px 13px;
    margin-bottom: 26px;
}

.rs-17 .rs-catalog .catalog-head {
    padding: 19px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-17 .rs-catalog .catalog-head__column:nth-child(1) {
    -ms-flex: 0 1 40%;
    flex: 0 1 40%;
}

.rs-17 .rs-catalog .catalog-head__column:nth-child(2) {
    -ms-flex: 0 1 60%;
    flex: 0 1 60%;
}

.rs-17 .rs-catalog .catalog-head__title {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    color: #030925;
    margin-top: 10px;
    margin-bottom: 0;
}

.rs-17 .rs-catalog .catalog-head__categories {
    display: -ms-flexbox;
    display: flex;
    gap: 33px;
}

.rs-17 .rs-catalog .category-item {
    background-color: #f4f5f5;
    color: #1f1f26;
    border-radius: 11px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    padding: 16px;
}

.rs-17 .rs-catalog .category-item:hover {
    color: #fff;
    background-color: #1f1f27;
}

.rs-17 .rs-catalog .category-item:hover .category-item__number {
    background-color: #ff7029;
}

.rs-17 .rs-catalog .category-item__number {
    -ms-flex: 0 0 28px;
    flex: 0 0 28px;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 600;
    width: 28px;
    height: 28px;
    border: 2px solid #ff7029;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.rs-17 .rs-catalog .category-item__name {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
    margin-left: 15px;
}

.rs-17 .rs-catalog .footnotes {
    padding-top: 23px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.rs-17 .rs-catalog .footnotes__title {
    font-size: 21px;
    line-height: 114.28571%;
    font-weight: 700;
    color: #1f1f26;
    margin-bottom: 15px;
}

.rs-17 .rs-catalog .footnotes__text {
    font-size: 14px;
    line-height: 171.42857%;
    font-weight: 400;
    color: #616161;
}

.rs-17 .rs-catalog .filter-form__group {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #616161;
    margin-bottom: 35px;
}

.rs-17 .rs-catalog .filter-form__label {
    font-weight: 700;
    color: #030925;
}

.rs-17 .rs-catalog .filter-form__radio {
    display: block;
    margin-bottom: 15px;
}

.rs-17 .rs-catalog .filter-form__radio input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.rs-17 .rs-catalog .filter-form__radio input:checked + span {
    font-weight: 600;
    color: #030925;
}

.rs-17 .rs-catalog .filter-form__radio:hover span {
    color: #ff7029;
}

.rs-17 .rs-catalog .filter-form__radio span {
    transition: color 0.3s ease 0s;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #616161;
}

.rs-17 .rs-catalog .filter-form__checkbox {
    display: block;
    margin-bottom: 15px;
}

.rs-17 .rs-catalog .filter-form__checkbox_w {
    float: left;
    width: 50%;
}

.rs-17 .rs-catalog .filter-form__checkbox input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.rs-17 .rs-catalog .filter-form__checkbox input:checked + span {
    font-weight: 700;
    color: #616161;
}

.rs-17 .rs-catalog .filter-form__checkbox input:checked + span:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.rs-17 .rs-catalog .filter-form__checkbox:hover span {
    color: #ff7029;
}

.rs-17 .rs-catalog .filter-form__checkbox span {
    padding-left: 28px;
    transition: color 0.3s ease 0s;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #616161;
    position: relative;
}

.rs-17 .rs-catalog .filter-form__checkbox span:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #9b9fa5;
}

.rs-17 .rs-catalog .filter-form__checkbox span:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid #034ea2;
    background: #ff7029;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.rs-17 .rs-catalog .filter-form_hrz .filter-form__group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.rs-17 .rs-catalog .filter-form_hrz .filter-form__radio {
    padding-left: 10px;
}

.rs-17 .rs-catalog .filter-form_hrz .filter-form__label {
    font-weight: 400;
    color: #616161;
}

.rs-17 .rs-catalog .filter-form .range-slider__values {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px -7px 19px;
}

.rs-17 .rs-catalog .filter-form .range-slider__value {
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin: 0px 7px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: #9b9fa5;
    padding: 15px 10px;
    border: 1px solid #9b9fa5;
    border-radius: 6px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-17 .rs-catalog .filter-form .range-slider__value input {
    display: inline-block;
    width: 100%;
    padding-left: 5px;
}

.rs-17 .rs-catalog .filter-form .range-slider .noUi-target {
    background: #9b9fa5;
    border: none;
    border-radius: none;
    height: 1px;
    position: relative;
}

.rs-17 .rs-catalog .filter-form .range-slider .noUi-connect {
    background: #ff7029;
}

.rs-17 .rs-catalog .filter-form .range-slider .noUi-horizontal .noUi-handle {
    width: 12px;
    height: 12px;
    right: -8px;
    top: -6px;
}

.rs-17 .rs-catalog .filter-form .range-slider .noUi-handle {
    background: #ff7029;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 1170px) {
    .rs-17 .rs-catalog__aside {
        margin-right: calc(0px + 65 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-catalog .category-item {
        padding: calc(8px + 8 * ((100vw - 320px) / 850));
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-catalog__item {
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
    }

    .rs-17 .rs-catalog .catalog-head {
        display: block;
    }

    .rs-17 .rs-catalog .catalog-head__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-catalog__container {
        display: block;
    }

    .rs-17 .rs-catalog .catalog-head__categories {
        display: block;
    }

    .rs-17 .rs-catalog .catalog-head__categories * {
        margin-bottom: 5px;
    }

    .rs-17 .rs-catalog .filter-form form {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0px -15px;
    }

    .rs-17 .rs-catalog .filter-form__group {
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        padding: 0px 15px;
    }

    .rs-17 .rs-catalog .filter-form__group:nth-child(3) {
        -ms-flex-order: 5;
        order: 5;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
    }

    .rs-17 .rs-catalog .filter-form__checkbox_w {
        width: 100%;
    }

    .rs-17 .rs-catalog .filter-form_hrz .filter-form__group {
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
    }
}

@media (max-width: 479.98px) {
    .rs-17 .rs-catalog__item {
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
    }
}