.rs-17 .rs-form {
    padding-top: 68px;
    padding-bottom: 48px;
    background: url("../../img/form/form_img.png") calc(100% + 130px) calc(100% - 20px) no-repeat, url("../../img/shape4.svg") calc(100% + 200px) 50%/400px 400px no-repeat;
}

.rs-17 .rs-form h2 {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    color: #030925;
}

.rs-17 .rs-form h2 span {
    color: #ff7029;
}

@media (max-width: 1170px) {
    .rs-17 .rs-form {
        padding-top: calc(15px + 53 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-form {
        padding-bottom: calc(15px + 33 * ((100vw - 320px) / 850));
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-form {
        background: none;
    }
}