.rs-17 .rs-howto {
    padding-top: 36px;
    padding-bottom: 80px;
}

.rs-17 .rs-howto h2 {
    max-width: 485px;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    color: #030925;
}

.rs-17 .rs-howto h2 span {
    color: #ff7029;
}

.rs-17 .rs-howto__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 32px;
}

.rs-17 .rs-howto__body {
    display: -ms-flexbox;
    display: flex;
    margin-left: -25px;
    margin-right: -25px;
}

.rs-17 .rs-howto__item {
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.rs-17 .rs-howto__item h4 {
    font-size: 18.1px;
    line-height: 1.2;
    font-weight: 700;
    color: #030925;
    margin-bottom: 15px;
}

.rs-17 .rs-howto__item p {
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: #616161;
}

.rs-17 .rs-howto__item-icon {
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
}

.rs-17 .rs-howto__item-icon img {
    -webkit-animation: howtoIcon 3s ease-in-out infinite;
    animation: howtoIcon 3s ease-in-out infinite;
    position: absolute;
    left: 0;
    bottom: 0;
}

.rs-17 .rs-howto__item-number {
    opacity: 0.1;
    font-size: 87px;
    font-weight: 800;
    color: #030925;
    line-height: 66px;
}

@-webkit-keyframes howtoIcon {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes howtoIcon {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@media (max-width: 1170px) {
    .rs-17 .rs-howto {
        padding-top: calc(25px + 11 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-howto {
        padding-bottom: calc(25px + 55 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-howto__body {
        margin-left: calc(-5px + -20 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-howto__body {
        margin-right: calc(-5px + -20 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-howto__item {
        margin-left: calc(5px + 20 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-howto__item {
        margin-right: calc(5px + 20 * ((100vw - 320px) / 850));
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-howto__header {
        display: block;
    }
}