.rs-17 .rs-metrics {
    color: #ffffff;
}

.rs-17 .rs-metrics__container {
    position: relative;
    z-index: 2;
    min-height: 200px;
    background: url("../../img/bg_parallax.jpg") 50% 50%/cover no-repeat fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 15px;
}

.rs-17 .rs-metrics__container #mask1,
.rs-17 .rs-metrics__container #mask2 {
    display: none;
}

.rs-17 .rs-metrics__container::before {
    display: none;
}

.rs-17 .rs-metrics__items {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-17 .rs-metrics__item {
    padding: 0px 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-17 .rs-metrics__count {
    font-size: 55px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 25px;
}

.rs-17 .rs-metrics__text {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 235px;
    margin: 0 auto;
}

@media (min-width: 1170px) {
    .rs-17 .rs-metrics__container {
        padding-left: calc((100vw - 1170px) / 2);
        margin-right: calc(((100vw - 1170px) / 2) - 171px);
        padding-right: 171px;
    }

    .rs-17 .rs-metrics__container #mask1 {
        display: block;
        position: absolute;
        right: 92px;
        top: 0;
        fill: #ffffff;
    }

    .rs-17 .rs-metrics__container #mask2 {
        display: block;
        position: absolute;
        right: 0px;
        bottom: 0px;
        fill: #f2f6f9;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    .rs-17 .rs-metrics__container::before {
        content: '';
        display: block;
        width: 218px;
        height: 206px;
        background: url("../../img/shape1.svg") 0 0 no-repeat;
        position: absolute;
        right: -120px;
        bottom: -165px;
        z-index: 2;
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-metrics__item {
        display: block;
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-metrics__items {
        display: block;
        text-align: center;
    }

    .rs-17 .rs-metrics__count {
        margin: 0;
    }
}