.rs-17 .rs-menu-form {
    position: relative;
    color: #ffffff;
}

.rs-17 .rs-menu-form__container {
    height: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-17 .rs-menu-form__menu {
    margin-right: auto;
}

.rs-17 .rs-menu-form__actions {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.rs-17 .rs-menu-form__actions a:not(:last-child) {
    margin-right: 27px;
}

.rs-17 .rs-menu-form__burger {
    z-index: 9999999999;
    cursor: pointer;
    display: none;
}

.rs-17 .rs-menu-form__burger span {
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
}

.rs-17 .rs-menu-form__burger span:not(:last-child) {
    margin-bottom: 3px;
}

.rs-17 .rs-menu-form__burger.active {
    position: fixed;
    top: 15px;
    left: 15px;
}

.rs-17 .rs-menu-form__burger.active span:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
}

.rs-17 .rs-menu-form__burger.active span:nth-child(2) {
    opacity: 0;
}

.rs-17 .rs-menu-form__burger.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px);
}

.rs-17 .rs-menu-form__search-open {
    margin-right: 25px;
}

.rs-17 .rs-menu-form__search-open button {
    height: 19px;
    width: 19px;
    background-color: transparent;
}

.rs-17 .rs-menu-form__search-open button img {
    width: 100%;
}

.menu {
    height: 100%;
}

.menu__list {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.menu__list > li {
    margin-right: 25px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.menu__list > li:hover > a {
    color: #ff7029;
}

.menu__list > li:hover > a::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.menu__list > li > a {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    transition: all 0.3s ease 0s;
}

.menu__list > li > a::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ff7029;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    -webkit-transform-origin: right;
    transform-origin: right;
}

.menu__dropdown.hover > .menu__dropdown-list {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    pointer-events: auto;
}

.menu__dropdown.hover > .menu__dropdown-arrow {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.menu__dropdown-arrow {
    color: #fff;
    background-color: transparent;
    font-size: 18px;
    padding: 0 8px;
    transition: all 0.3s ease 0s;
}

.menu__dropdown-arrow._active {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.menu__dropdown-list {
    padding: 23px 0;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 285px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0px, -20px);
    transform: translate(0px, -20px);
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    background-color: #1f1f26;
}

.menu__dropdown-list li {
    padding-left: 23px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    transition: all 0.3s ease 0s;
}

.menu__dropdown-list .menu__dropdown-arrow._active {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.menu__dropdown-list a {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #ffffff;
    transition: all 0.3s ease 0s;
}

.menu__dropdown-list a::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ff7029;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    -webkit-transform-origin: right;
    transform-origin: right;
}

.menu__dropdown-list a:hover {
    color: inherit;
}

.menu__dropdown-list .menu__dropdown-list {
    padding: 23px 0;
    top: 0;
    left: calc(100% + 5px);
}

.menu__dropdown-list .menu__dropdown-list::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 5px;
    top: 0;
    left: -5px;
    background-color: transparent;
}

.menu-tabs {
    display: none;
    color: #fff;
    width: 100%;
    padding-bottom: 20px;
}

.menu-tabs a {
    color: inherit;
}

.menu-tabs__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
    border: none;
    margin-bottom: 18px;
}

.menu-tabs__list li {
    margin: 0px 5px;
}

.menu-tabs__list li.active .menu-tabs__link {
    background-color: #cacaca;
    color: #616161;
}

.menu-tabs__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border: 0.5px solid #cacaca;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}

.menu-tabs__pane {
    text-align: center;
}

.sticky .rs-menu-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.sticky.out .rs-menu-form {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.header-search {
    z-index: 99999999999999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #141414;
    -webkit-clip-path: inset(0 0 0 100%);
    clip-path: inset(0 0 0 100%);
    transition: all 0.64s ease-in-out 0s;
}

.search-is-open .header-search {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.header-search__box {
    height: 100%;
}

.header-search__input {
    padding-right: 50px;
    padding-left: 35px;
    color: #fff;
    font-size: 18px;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.header-search__submit {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent;
    height: 19px;
    width: 19px;
}

.header-search__submit img {
    width: 100%;
}

@media (any-hover: hover) and (min-width: 991.98px) {
    .menu__dropdown:hover > .menu__dropdown-arrow {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

@media (min-width: 991.98px) {
    .menu__dropdown-list li:hover > .menu__dropdown-arrow {
        color: #ff7029;
        -webkit-transform: translate(10px, 0px);
        transform: translate(10px, 0px);
    }

    .menu__dropdown-list li:hover > a::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left;
        transform-origin: left;
    }

    .menu__dropdown-list li.hover > .menu__dropdown-arrow {
        color: #ff7029;
        -webkit-transform: translate(10px, 0px);
        transform: translate(10px, 0px);
    }

    .menu__dropdown-list li.hover > a::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-menu-form__burger {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 20px;
        margin-right: auto;
    }

    .menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 320px;
        background-color: #1f1f26;
        -webkit-transform: translate(-100%, 0px);
        transform: translate(-100%, 0px);
        transition: all 0.3s ease 0s;
        z-index: 999999999;
        padding: 50px 35px 30px 35px;
        overflow-y: auto;
    }

    .menu.active {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    .menu__list {
        display: block;
        height: auto;
    }

    .menu__list > li {
        margin-bottom: 15px;
        display: block;
        height: auto;
    }

    .menu__list > li > a::after {
        display: none;
    }

    .menu__list {
        display: block;
    }

    .menu__dropdown-list {
        position: static;
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        margin: 0;
        padding: 0px 0px 0px 15px;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        pointer-events: auto;
        transition: all 0.3s ease 0s;
        font-size: 15px;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

    .menu__dropdown-list li {
        padding-left: 0;
        display: block;
    }

    .menu__dropdown-list li:hover > a {
        color: #ff7029;
    }

    .menu__dropdown-list li.hover > a {
        color: #ff7029;
    }

    .menu__dropdown-list .menu__dropdown-arrow {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .menu__dropdown-list a::after {
        display: none;
    }

    .menu__dropdown-list .menu__dropdown-list::before {
        display: none;
    }

    .menu__dropdown-list .menu__dropdown-list {
        padding: 10px 0px 0px 10px;
    }

    .menu-tabs {
        display: block;
    }
}

@media (any-hover: hover) {
    .menu__dropdown:hover > .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        pointer-events: auto;
    }
}