.rs-17 .rs-top-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.rs-17 .rs-top-header__above {
    min-height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-17 .rs-top-header__loc {
    margin-right: auto;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.rs-17 .rs-top-header__social * {
    margin-right: 11px;
}

.rs-17 .rs-top-header__under {
    min-height: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-17 .rs-top-header__logo {
    margin-right: auto;
    display: block;
    width: 189px;
    height: 70px;
}

.rs-17 .rs-top-header__logo img {
    width: 100%;
}

.rs-17 .rs-top-header__item:not(:last-child) {
    padding-right: 34px;
    margin-right: 34px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.rs-17 .rs-top-header__item a {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #ffffff;
    transition: all 0.3s ease 0s;
}

.rs-17 .rs-top-header__item a:hover,
.rs-17 .rs-top-header__item a:focus {
    color: #ff7029;
}

.rs-17 .rs-top-header__item span {
    display: block;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
}

@media (max-width: 1170px) {
    .rs-17 .rs-top-header__item:not(:last-child) {
        padding-right: calc(0px + 34 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-top-header__item:not(:last-child) {
        margin-right: calc(0px + 34 * ((100vw - 320px) / 850));
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-top-header__above {
        display: none;
    }

    .rs-17 .rs-top-header__item {
        display: none;
    }
}