.rs-17 .rs-text-block {
    position: relative;
    background-color: #f2f6f9;
    padding-top: 157px;
    padding-bottom: 79px;
}

.rs-17 .rs-text-block p {
    font-size: 14px;
    line-height: 171.42857%;
    font-weight: 400;
    color: #616161;
}

.rs-17 .rs-text-block p:not(:last-child) {
    margin-bottom: 12px;
}

.rs-17 .rs-text-block p.shadow-box {
    background-color: #ffffff;
    box-shadow: 10px 14px 24px 0px rgba(41, 47, 51, 0.09);
    border-radius: 15px;
    margin-top: 31px;
    margin-bottom: 31px;
    padding: 33px;
}

.rs-17 .rs-text-block::before {
    content: '';
    background: url("../../img/shape2.svg") 0 0/cover no-repeat;
    display: block;
    width: 300px;
    height: 210px;
    position: absolute;
    bottom: -120px;
    left: -20px;
}

.rs-17 .rs-text-block::after {
    content: '';
    background: url("../../img/shape4.svg") 0 0/cover no-repeat;
    display: block;
    width: 263px;
    height: 250px;
    position: absolute;
    bottom: -49px;
    left: -112px;
}

.rs-17 .rs-text-block__container {
    position: relative;
    z-index: 2;
    display: -ms-flexbox;
    display: flex;
}

.rs-17 .rs-text-block__column:nth-child(1) {
    padding-right: 47px;
}

.rs-17 .rs-text-block__column:nth-child(2) {
    display: -ms-flexbox;
    display: flex;
}

.rs-17 .rs-text-block__img {
    position: relative;
}

.rs-17 .rs-text-block__img:nth-child(1) {
    width: 371px;
    height: 552px;
}

.rs-17 .rs-text-block__img:nth-child(1)::before {
    content: '';
    background: url("../../img/shape2.svg") 0 0/cover no-repeat;
    display: block;
    width: 159px;
    height: 135px;
    position: absolute;
    top: -49px;
    right: -64px;
}

.rs-17 .rs-text-block__img:nth-child(2) {
    width: 251px;
    height: 401px;
    margin-left: -147px;
    margin-top: 280px;
}

.rs-17 .rs-text-block__img:nth-child(2)::before {
    content: '';
    background: url("../../img/shape3.svg") 0 0/cover no-repeat;
    display: block;
    width: 305px;
    height: 247px;
    position: absolute;
    bottom: -67px;
    right: -161px;
}

.rs-17 .rs-text-block__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left top;
    object-position: left top;
}

@media (max-width: 1170px) {
    .rs-17 .rs-text-block {
        padding-top: calc(35px + 122 * ((100vw - 320px) / 850));
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-text-block__container {
        display: block;
    }

    .rs-17 .rs-text-block__column:nth-child(1) {
        padding-right: 0;
    }

    .rs-17 .rs-text-block__column:nth-child(2) {
        display: none;
    }

    .rs-17 .rs-text-block__img:nth-child(2) {
        -ms-flex-item-align: center;
        align-self: center;
    }
}