.rs-17 .rs-offers {
  position: relative;
}
.rs-17 .rs-offers .offers-row {
  display: flex;
  align-items: center;
  position: relative;
}
.rs-17 .rs-offers .offers-row::after {
  content: '';
  display: block;
  width: 132px;
  height: 100%;
  background: #45c3d0 url('../../img/pattern-parallax.svg') left / 132px 132px repeat-y;
  position: absolute;
  right: 0;
  top: 0;
}
.rs-17 .rs-offers .offer-content {
  flex: 0 0 472px;
  margin-right: 150px;
}
.rs-17 .rs-offers .offer-content h2 {
  color: #262a31;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  letter-spacing: 1.25px;
  margin-bottom: 30px;
  font-weight: 400;
}
.rs-17 .rs-offers .offer-content p {
  color: #1d1d1d;
  font-family: 'Open Sans';
  font-size: 18px;
  text-align: left;
  letter-spacing: 0.45px;
  line-height: 24px;
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .rs-17 .rs-offers .offer-content {
    margin-right: 30px;
    flex: 0 0 336px;
  }
}
@media (max-width: 991px) {
  .rs-17 .rs-offers .offers-row {
    display: block;
  }
  .rs-17 .rs-offers .offers-row::after {
    display: none;
  }
}
