.rs-17 .rs-slider {
  height: 623px;
  position: relative;
}
.rs-17 .rs-slider .rs-slider-container {
  height: 100%;
  position: relative;
  transition: all 0.7s ease-out;
}
.rs-17 .rs-slider .slider-item {
  width: 100%;
  height: 623px;
  position: relative;
}
.rs-17 .rs-slider .slider-info {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.rs-17 .rs-slider .slider-info .container-fluid {
  height: 100%;
  position: relative;
}
.rs-17 .rs-slider .slider-inner {
  padding: 43px 41px 44px 0px;
  position: absolute;
  color: #ffffff;
  bottom: 0;
  right: 45%;
}
.rs-17 .rs-slider .slider-inner::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #45c3d0;
  opacity: 0.9;
  z-index: -1;
}
.slider-item-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-item-img > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.rs-17 .rs-slider .slider-inner h2 {
  color: #f8f9fc;
  font-weight: 400;
  font-size: 28px;
  text-align: left;
  letter-spacing: 0.7px;
  line-height: 37px;
  margin: 0;
  padding-left: 15px;
}
.rs-17 .rs-slider .slider-btn {
  display: flex;
  align-items: center;
  position: absolute;
  right: 148px;
  bottom: 61px;
  color: #1d1d1d;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.rs-17 .rs-slider .slider-btn .btn-icon {
  margin-right: 16px;
}
/* -------------------------------------------------- */
.rs-17 .rs-slider .slick-prev,
.rs-17 .rs-slider .slick-next {
  font-size: 0;
  position: absolute;
  left: calc(55% + 140px);
  bottom: 41px;
  opacity: 0.6;
  display: block;
  width: 74px;
  height: 74px;
  border: 0;
  border-radius: 50%;
  color: #fff;
  padding: 0;
  z-index: 200;
  cursor: pointer;
  text-align: center;
  outline: none;
  background-color: #4493cf;
  transition: opacity 0.3s ease;
}
.rs-17 .rs-slider .slick-prev {
  margin-left: -90px;
}
.rs-17 .rs-slider .slick-next {
  margin-right: -90px;
}
.rs-17 .rs-slider .slick-prev:hover,
.rs-17 .rs-slider .slick-next:hover {
  opacity: 1;
}
.rs-17 .rs-slider .slick-prev:before,
.rs-17 .rs-slider .slick-next:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
.rs-17 .rs-slider .slick-prev:before {
  content: '\f060';
  padding-right: 3px;
}
.rs-17 .rs-slider .slick-next:before {
  content: '\f061';
  padding-left: 3px;
}
/* ----------------------------------------- */
.rs-17 .rs-slider .topAnima,
.rs-17 .rs-slider .bottomAnima {
  opacity: 0;
}
.rs-17 .rs-slider .slick-active .topAnima {
  opacity: 1 !important;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 0.7s;
  visibility: visible !important;
}
.rs-17 .rs-slider .slick-active .bottomAnima {
  opacity: 1 !important;
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 1s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
  visibility: visible !important;
}
/* ----------------------------------------- */
@media (max-width: 1549px) {
  .rs-17 .rs-slider .slider-btn {
    right: 15px;
  }
  .rs-17 .rs-slider .slider-inner {
    padding: 15px 15px 15px 0px;
  }
}
@media (max-width: 1199px) {
  .rs-17 .rs-slider .slider-btn {
    margin-left: -90px;
    left: calc(55% + 140px);
    bottom: 10px;
  }
  .rs-17 .rs-slider .slick-prev,
  .rs-17 .rs-slider .slick-next {
    bottom: 61px;
  }
}
@media (max-width: 991px) {
  .rs-17 .rs-slider .slider-btn {
    display: none;
  }
  .rs-17 .rs-slider .slider-inner {
    right: 0;
  }
}
@media (max-width: 767px) {
  .rs-17 .rs-slider {
    height: 423px;
  }

  .rs-17 .rs-slider .slider-item {
    height: 423px;
  }
}
