.footer-menu {
    position: relative;
}

.footer-menu__list li a {
    display: block;
    font-weight: 400;
    font-size: var(--fluid-18-15);
    line-height: 150%;
    color: var(--text-color-2);
    padding: 6px 0px;
    transition: color var(--animation-duration) var(--timing-func);
}

.footer {
    background: var(--bg-color-3);
    border-top: 1px solid var(--border-color);
}

.footer__row:nth-child(1) {
    padding-top: 61px;
    padding-bottom: 68px;
}

.footer__row:nth-child(2) {
    padding: 24px 0px;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__grid {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 14.5% 14.5%;
}

.footer-title {
    font-weight: 700;
    font-size: var(--fluid-20-18);
    line-height: 140%;
    letter-spacing: -0.02em;
    color: var(--text-color-2);
    margin-bottom: 3px;
}

._spoller-init .footer-title.spollers__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 0;
    padding: 20px 0px;
    border-top: 1px solid var(--border-color);
}

._spoller-init .footer-title.spollers__title::after {
    display: inline-block;
    transition: transform var(--animation-duration) var(--timing-func);
    content: "";
    background-image: url('data:image/svg+xml,<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L6 6L11 1" stroke="%239397AD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

._spoller-init .footer-title.spollers__title._spoller-active::after {
    transform: rotateX(-180deg);
}

.footer-contacts {
    max-width: 360px;
}

.footer-contacts__list p,
.footer-contacts__list a {
    font-weight: 400;
    font-size: var(--fluid-18-15);
    line-height: 150%;
    color: var(--text-color-2);
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: start;
    align-items: start;
    gap: 8px;
    padding: 6px 0px;
}

.footer-contacts__list p.location::before {
    content: url("../img/icons/f_loc_icon.svg");
}

.footer-contacts__list p.clock::before {
    content: url("../img/icons/f_clock_icon.svg");
}

.footer-contacts__list a {
    transition: color var(--animation-duration) var(--timing-func);
}

.footer-contacts__list a[href^="tel:"]::before {
    content: url("../img/icons/f_phone_icon.svg");
}

.footer-contacts__list a[href^="mailto:"]::before {
    content: url("../img/icons/f_mail_icon.svg");
}

.footer-copyright {
    font-weight: 400;
    font-size: var(--fluid-14-12);
    line-height: 160%;
    color: var(--text-color-2);
}

.footer-dev {
    font-weight: 400;
    font-size: var(--fluid-14-12);
    line-height: 160%;
    color: var(--text-color-2);
    opacity: 0.5;
    transition: opacity var(--animation-duration) var(--timing-func);
}

@media (min-width: 767.98px) {
    .footer-menu_grid .footer-menu__list {
        column-count: 3;
        column-gap: 60px;
    }
}

@media (max-width: 1023.98px) {
    .footer-menu__list {
        padding: 0px 0px 20px 0px;
    }

    .footer__grid {
        grid-template-columns: 1fr 20% 20%;
    }
}

@media (max-width: 767.98px) {
    .footer__row:nth-child(2) {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer__grid {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .footer-contacts {
        margin-bottom: 24px;
    }
}

@media (any-hover: hover) {
    .footer-menu__list li a:hover {
        color: var(--primary-color);
    }

    .footer-contacts__list a:hover {
        color: var(--primary-color);
    }

    .footer-dev:hover {
        opacity: 1;
    }
}