.footer-menu {
    position: relative;
}

.footer-menu__list li:not(:last-child) {
    margin-bottom: 24px;
}

.footer-menu__list li a {
    font-size: 22px;
    color: var(--text-color-2);
    transition: color var(--animation-duration) var(--timing-func);
}

.footer {
    padding-top: 51px;
}

.footer__picture {
    margin-bottom: calc(var(--fluid-390-270) * -1);
}

.footer__picture img {
    width: 100%;
}

.footer__wrapper {
    position: relative;
    background: url("../img/footer_form.png") center bottom/100% 100% no-repeat;
    padding-top: 352px;
    padding-bottom: 76px;
    padding-left: 84px;
    padding-right: 69px;
    display: grid;
    gap: 42px;
    grid-template-columns: 366px 1fr 34px;
}

.footer__column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__column:nth-child(3) {
    padding-top: 30px;
}

.footer__grid {
    height: 100%;
    display: grid;
    gap: 18px;
    grid-template-columns: auto auto;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    grid-template-rows: 1fr auto;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 41px;
}

.footer-logo img {
    max-width: 100%;
}

.footer-def-list {
    margin-bottom: 52px;
}

.footer-def-list dt {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--text-color-gray);
    margin-bottom: 9px;
}

.footer-def-list dd {
    font-size: 18px;
    line-height: 125%;
    color: var(--text-color-2);
}

.footer-def-list dd:not(:last-child) {
    margin-bottom: 41px;
}

.footer-contacts__list dt {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--text-color-gray);
    margin-bottom: 15px;
}

.footer-contacts__list dd {
    font-size: 50px;
    letter-spacing: 0.03em;
    color: var(--text-color-2);
}

.footer-contacts__list dd:not(:last-child) {
    margin-bottom: 45px;
}

.footer-contacts__list a {
    text-wrap: nowrap;
    transition: color var(--animation-duration) var(--timing-func);
}

.footer-copyright {
    margin-top: auto;
    grid-column: span 2;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--text-color-gray);
}

.back-to-top-link {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--text-color-2);
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 14px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: color var(--animation-duration) var(--timing-func);
}

.back-to-top-link span {
    white-space: nowrap;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.back-to-top-link svg {
    transition: stroke var(--animation-duration) var(--timing-func);
}

@media (min-width: 767.98px) {
    .footer-menu_grid .footer-menu__list {
        column-count: 2;
        column-gap: 30px;
    }
}

@media (min-width: 1200px) {
    .footer-copyright {
        display: grid;
        grid-template-columns: subgrid;
    }
}

@media (max-width: 1500px) {
    .footer__wrapper {
        padding-left: 24px;
        padding-right: 24px;
        grid-template-columns: 306px 1fr 34px;
    }

    .footer-contacts__list dd {
        font-size: 32px;
    }
}

@media (max-width: 1200px) {
    .footer-copyright {
        text-align: right;
    }
}

@media (max-width: 1023.98px) {
    .footer__picture {
        display: none;
    }

    .footer__wrapper {
        grid-template-columns: 1fr 34px;
        background: #001b2e;
        padding-top: 68px;
    }

    .footer__column:nth-child(1) {
        -ms-flex-order: 1;
        order: 1;
    }

    .footer__column:nth-child(2) {
        -ms-flex-order: 3;
        order: 3;
        grid-column: span 2;
    }

    .footer__column:nth-child(3) {
        -ms-flex-order: 2;
        order: 2;
    }

    .footer__grid {
        display: contents;
    }

    .footer-contacts {
        margin-top: 32px;
    }

    .footer-copyright {
        text-align: center;
        margin-top: 32px;
    }
}

@media (max-width: 767.98px) {
    .footer-menu__list li a {
        font-size: 16px;
    }

    .footer__wrapper {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .footer-contacts__list dd {
        font-size: 22px;
    }
}

@media (any-hover: hover) {
    .footer-menu__list li a:hover {
        color: #566ef7;
    }

    .footer-contacts__list a:hover {
        color: #566ef7;
    }

    .footer-copyright a:hover {
        color: #566ef7;
    }

    .back-to-top-link:hover {
        color: #566ef7;
    }

    .back-to-top-link:hover svg {
        stroke: #566ef7;
    }
}