.footer-menu {
    position: relative;
}

.footer-menu__list li:not(:last-child) {
    margin-bottom: 24px;
}

.footer-menu__list li a {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: var(--fluid-16-14);
    line-height: 150%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-menu__list li a span {
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 1px;
    transition: background-size 500ms ease-in-out;
}

.footer {
    padding-top: 53px;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 33.3% 25.8%;
}

.footer__column {
    position: relative;
}

.footer__column:nth-child(1), .footer__column:nth-child(2), .footer__column:nth-child(3) {
    min-height: 466px;
    display: grid;
    -ms-flex-line-pack: start;
    align-content: start;
}

.footer__column:nth-child(1) {
    -ms-flex-line-pack: center;
    align-content: center;
    border-right: 1px solid var(--border-color);
    padding: 30px 75px 30px 175px;
}

.footer__column:nth-child(2) {
    padding: 85px 75px 25px 75px;
    border-right: 1px solid var(--border-color);
}

.footer__column:nth-child(3) {
    padding: 75px 75px 25px 75px;
}

.footer__column:nth-child(4) {
    padding: 30px 115px 30px 175px;
    border-right: 1px solid var(--border-color);
}

.footer__column:nth-child(5) {
    grid-column: span 2;
    padding: 30px 75px;
}

.footer__column:nth-child(5)::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 200vw;
    display: block;
    background: var(--border-color);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer-title {
    font-weight: 400;
    font-size: var(--fluid-25-18);
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 20px;
}

.footer ._spoller-init .spollers__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    gap: 10px;
    margin-bottom: 0;
}

.footer ._spoller-init .spollers__title::after {
    display: inline-block;
    transition: transform var(--animation-duration) var(--timing-func);
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00081 6.00002L0.757812 1.75702L2.17281 0.343018L5.00081 3.17202L7.82881 0.343018L9.24381 1.75702L5.00081 6.00002Z' fill='white' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.footer ._spoller-init .spollers__title._spoller-active::after {
    transform: rotateX(-180deg);
}

.footer ._spoller-init .spollers__body {
    padding: 15px;
}

.footer ._spoller-init .spollers__item {
    border-bottom: 1px solid var(--border-color);
}

.footer-logo {
    margin-bottom: -50%;
    margin-left: 175px;
    display: inline-block;
    position: relative;
}

.footer-logo::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100vw;
    display: block;
    background: var(--border-color);
    top: 50%;
    left: 100%;
    transform: translateY(-1px);
}

.footer-logo img {
    max-width: 100%;
}

.footer-contacts__list {
    font-weight: 400;
    font-size: var(--fluid-16-14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    max-width: 245px;
}

.footer-contacts__list dl dt {
    font-weight: 400;
    font-size: var(--fluid-20-16);
    color: #fff;
    margin-bottom: 10px;
    margin-top: 15px;
}

.footer-copyright {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-line-menu {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: var(--fluid-14-12);
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #fff;
    max-width: 881px;
}

.footer-line-menu ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-cb {
    margin-top: 25px;
}

.footer-cb__title {
    font-weight: 300;
    font-size: var(--fluid-35-22);
    line-height: 107%;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 0.8em;
}

.footer-cb__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: var(--fluid-14-12);
    color: var(--text-color-gray);
    margin-bottom: 45px;
}

.footer-cb__btn {
    display: grid;
    max-width: 371px;
}

@media (min-width: 767.98px) {
    .footer-menu_grid .footer-menu__list {
        column-count: 2;
        column-gap: 30px;
    }

    .footer-title_mb {
        display: none;
    }
}

@media (max-width: 1890px) {
    .footer__column:nth-child(4) {
        padding: 30px 75px 30px 175px;
    }
}

@media (max-width: 1730px) {
    .footer__column:nth-child(1) {
        padding: 30px 75px;
    }

    .footer__column:nth-child(4) {
        padding: 30px 75px;
    }

    .footer-logo {
        margin-left: 75px;
    }
}

@media (max-width: 1500px) {
    .footer__column:nth-child(1) {
        padding: 30px;
    }

    .footer__column:nth-child(2) {
        padding: 30px;
    }

    .footer__column:nth-child(3) {
        padding: 30px;
    }

    .footer__column:nth-child(4) {
        padding: 30px;
    }

    .footer__column:nth-child(5) {
        padding: 30px;
    }

    .footer-logo {
        margin-left: 30px;
    }
}

@media (max-width: 1023.98px) {
    .footer__column:nth-child(1), .footer__column:nth-child(2), .footer__column:nth-child(3) {
        min-height: auto;
    }

    .footer__column:nth-child(4) {
        -ms-flex-order: 6;
        order: 6;
        grid-column: span 3;
        border-right: none;
        border-top: 1px solid var(--border-color);
    }

    .footer__column:nth-child(5) {
        grid-column: span 3;
    }

    .footer-line-menu {
        max-width: none;
    }
}

@media (max-width: 767.98px) {
    .footer__wrapper {
        grid-template-columns: 1fr;
    }

    .footer__column:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid var(--border-color);
    }

    .footer__column:nth-child(2) {
        border: none;
        padding: 0;
    }

    .footer__column:nth-child(3) {
        padding: 0;
    }

    .footer__column:nth-child(4) {
        grid-column: auto;
        border: none;
    }

    .footer__column:nth-child(5) {
        grid-column: auto;
        padding: 0;
    }

    .footer__column:nth-child(5)::before {
        display: none;
    }

    .footer-line-menu ul {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 12px;
    }
}

@media (any-hover: hover) {
    .footer-menu__list li a:hover span {
        background-size: 100% 1px;
    }
}