.footer-menu {
    position: relative;
}

.footer-menu__list {
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
}

.footer-menu__list li a {
    border-radius: 100px;
    padding: 0px 1.5em;
    height: 52px;
    background: var(--main-bg-clr);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: var(--fluid-6);
    transition: all var(--animation-duration) var(--timing-func);
}

.footer {
    margin-top: 24px;
    margin-bottom: 0;
}

.footer__wrapper {
    position: relative;
    border-radius: 30px;
    background: var(--bg-clr-2);
}

.footer__row:nth-child(1) {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__row:nth-child(2) {
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer__grid {
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}

.footer__column {
    -ms-flex: 1;
    flex: 1;
    display: grid;
    -ms-flex-line-pack: start;
    align-content: start;
    gap: 32px 0px;
}

.footer__copyright {
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: var(--fluid-4);
    line-height: 120%;
    margin-bottom: 8px;
}

._spoller-init .footer-title.spollers__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 0;
    padding: 20px 0px;
}

._spoller-init .footer-title.spollers__title::after {
    display: inline-block;
    transition: transform var(--animation-duration) var(--timing-func);
    content: "";
    background-image: url('data:image/svg+xml,<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L6 6L11 1" stroke="%239397AD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

._spoller-init .footer-title.spollers__title._spoller-active::after {
    transform: rotateX(-180deg);
}

.footer-contacts a {
    display: inline-block;
    transition: color var(--animation-duration) var(--timing-func);
}

.footer-contacts__list {
    font-weight: 500;
    font-size: var(--fluid-6);
    line-height: 140%;
}

.footer-contacts__list li a,
.footer-contacts__list li p {
    padding: 6px 0px;
}

.footer-contacts__list li:first-child a,
.footer-contacts__list li:first-child p {
    padding-top: 0;
}

.footer-contacts__list li:last-child a,
.footer-contacts__list li:last-child p {
    padding-bottom: 0;
}

.footer-copyright {
    font-weight: 500;
    font-size: var(--fluid-6);
    line-height: 140%;
    color: #1d1e21;
    text-align: center;
}

.footer-dev {
    font-weight: 500;
    font-size: var(--fluid-6);
    line-height: 140%;
    color: #1d1e21;
    transition: color var(--animation-duration) var(--timing-func);
}

.scroll-to-top-link {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
    border-radius: 51px;
    padding: 24px 12px;
    background: var(--primary-clr);
    font-family: var(--second-family);
    font-weight: 500;
    font-size: var(--fluid-6);
    line-height: 160%;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    white-space: nowrap;
    color: var(--txt-clr-2);
    transition: background var(--animation-duration) var(--timing-func);
}

@media (min-width: 767.98px) {
    .footer-menu_grid .footer-menu__list {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 16px;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .footer__column:nth-child(1) {
        max-width: 230px;
    }

    .footer__column:nth-child(2) {
        max-width: 360px;
    }

    .footer__column:nth-child(3) {
        max-width: 228px;
    }

    .footer__column:nth-child(4) {
        max-width: 490px;
        margin-left: auto;
    }
}

@media (min-width: 767.98px) and (max-width: 1023.98px) {
    .footer__column:nth-child(4) {
        padding-right: 35px;
    }
}

@media (min-width: 767.98px) and (max-width: 767.98px) {
    .footer__column:nth-child(4) {
        padding-right: 0;
    }
}

@media (max-width: 1699.23px) {
    .scroll-to-top-link {
        right: -25px;
    }
}

@media (max-width: 1562px) {
    .scroll-to-top-link {
        right: -16px;
        padding: 12px 6px;
    }
}

@media (max-width: 1023.98px) {
    .scroll-to-top-link {
        right: 0;
    }
}

@media (max-width: 767.98px) {
    .footer-menu__list li a {
        height: 37px;
    }

    .footer__column {
        padding: 0px 0px 20px 0px;
        border-bottom: 1px solid var(--border-clr);
    }

    .footer__row:nth-child(1) {
        padding-top: 42px;
        padding-bottom: 0;
    }

    .footer__grid {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer__copyright {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .scroll-to-top-link {
        display: none;
    }
}

@media (any-hover: hover) {
    .footer-menu__list li a:hover {
        background: var(--primary-clr);
        color: #fff;
    }

    .footer-contacts a:hover {
        color: var(--primary-clr);
    }

    .footer-dev:hover {
        color: var(--primary-clr);
    }

    .scroll-to-top-link:hover {
        background: var(--accent-clr);
    }
}