header {
    transition: all 0.25s ease-in;
    border-bottom: 1px solid transparent;
}

header._header-scroll {
    position: fixed;
    left: 0;
    width: 100%;
}

header .header__wrapper {
    transition: all 0.25s ease-in;
}

header .header-logo {
    transition: all 0.25s ease-in;
}

.menu {
    font-family: var(--second-family);
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 100%;
    font-size: var(--fluid-7);
}

.menu .menu-wrapper {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-clr) #fff;
}

.menu .menu-wrapper::-webkit-scrollbar {
    width: 12px;
}

.menu .menu-wrapper::-webkit-scrollbar-track {
    background: #fff;
}

.menu .menu-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--primary-clr);
    border-radius: 0px;
    border: 3px solid #fff;
}

.menu .menu-footer {
    display: grid;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--border-clr);
}

.menu .menu__list {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 24px;
}

.menu .menu__list > li {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.menu .menu__list > li > a {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 1em;
    line-height: normal;
    font-weight: 500;
    letter-spacing: normal;
    color: var(--main-txt-clr);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}

.menu .menu__dropdown {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu .menu__dropdown-list {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu .menu__dropdown-list::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 5px;
    background: transparent;
}

.menu .menu__dropdown-list .menu__dropdown-list {
    top: -10px;
    left: 100%;
}

.menu .menu__dropdown-list li a {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: var(--font-family);
    font-size: var(--fluid-6);
    font-weight: 500;
    letter-spacing: normal;
    line-height: normal;
    color: var(--main-txt-clr);
    text-transform: none;
}

.menu .menu__dropdown-arrow {
    position: relative;
    background-color: transparent;
    width: 24px;
    height: 24px;
    transition: transform var(--animation-duration) var(--timing-func);
}

.menu .menu__dropdown-arrow::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url('data:image/svg+xml,<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 11L6 6L1 1" stroke="%239397AD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    mask-image: url('data:image/svg+xml,<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 11L6 6L1 1" stroke="%239397AD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    background: #9397ad;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: auto;
    mask-size: auto;
    transition: background var(--animation-duration) var(--timing-func);
    transform: rotate(90deg);
}

.menu-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(95, 96, 98, 0.3);
    transform: scaleY(0);
    transform-origin: bottom;
    opacity: 0;
    transition: transform 0s, opacity 0.5s;
    backdrop-filter: blur(10px);
}

.menu-overlay.active {
    transform: scaleY(1);
    opacity: 1;
}

.nav > li > a {
    padding: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.menu-burger {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: none;
    position: relative;
    width: 113px;
    height: 50px;
    overflow: hidden;
    background: var(--primary-clr);
    border-radius: 51px;
    border: 1px solid var(--primary-clr);
}

.menu-burger span {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    gap: 4px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    transition: transform var(--animation-duration) var(--timing-func);
    transform: translateY(-100%);
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
}

.menu-burger span svg {
    margin-top: -2px;
}

.menu-burger span:first-child {
    background: #fff;
    color: #000;
}

.menu-burger.active span {
    transform: translateY(0);
}

.header-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 106px;
    background: var(--main-bg-clr);
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
    transition: opacity var(--animation-duration) var(--timing-func), transform var(--animation-duration) var(--timing-func);
    z-index: 99;
    padding-left: max(63px, (100% - 1530px) / 2);
    padding-right: max(63px, (100% - 1530px) / 2);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header-search form {
    width: 100%;
    position: relative;
    height: 54px;
}

.header-search form input {
    height: 100%;
    background: #fff;
    border: 1px solid var(--border-clr);
    border-radius: 7px;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    color: var(--zagolovki);
    outline: none;
    padding: 0px 70px;
}

.header-search form input:-ms-input-placeholder {
    color: var(--main-txt-cle);
}

.header-search form input::placeholder {
    color: var(--main-txt-cle);
}

.header-search form button {
    position: absolute;
    height: 100%;
    top: 0;
    aspect-ratio: 1;
    border-radius: 7px;
}

.header-search form button[type=reset] {
    right: 0;
}

.header-search form button[type=reset]:before, .header-search form button[type=reset]:after {
    content: "";
    display: block;
    background: #000;
    height: 2px;
    width: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: background var(--animation-duration) var(--timing-func);
}

.header-search form button[type=reset]:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.header-search form button[type=reset]:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.header-search form button[type=submit] {
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header-search form button[type=submit] svg path {
    transition: fill var(--animation-duration) var(--timing-func);
}

.search-is-open .header-search {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.header-search-open {
    border-radius: 4px;
    padding: 8px;
    width: 57px;
    height: 54px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    transition: background var(--animation-duration) var(--timing-func);
}

.header-search-open svg path {
    transition: stroke var(--animation-duration) var(--timing-func);
}

.mobile-menu-search {
    padding: 12px 15px;
    background: var(--main-bg-clr);
}

.mobile-menu-search__box {
    position: relative;
    height: 46px;
}

.mobile-menu-search input[type=search] {
    background: var(--bg-clr-2);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding: 0px 46px 0px 20px !important;
    outline: none;
    box-shadow: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--main-txt-clr);
}

.mobile-menu-search input[type=search]:-ms-input-placeholder {
    color: var(--main-txt-clr);
}

.mobile-menu-search input[type=search]::placeholder {
    color: var(--main-txt-clr);
}

.mobile-menu-search button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent;
}

.header {
    max-width: 1786px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 36px;
    padding-right: 36px;
    position: relative;
}

.header .header-logo {
    position: relative;
    z-index: 2;
    -ms-flex: 0 0 237px;
    flex: 0 0 237px;
}

.header .header-logo img {
    width: 100%;
}

.header .header-nav-contacts {
    position: relative;
}

.header .header-nav-contacts ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    column-gap: 16px;
}

.header .header-nav-contacts a {
    white-space: nowrap;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: var(--fluid-7);
    line-height: 160%;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 4px;
    transition: color var(--animation-duration) var(--timing-func);
}

.header .header-nav-contacts a::before {
    content: "";
    width: 18px;
    height: 18px;
    background: var(--primary-clr);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    line-height: 0;
}

.header .header-nav-contacts a[href^="tel:"]::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.22222C0 9.83148 6.16852 16 13.7778 16C14.1211 16 14.4615 15.9874 14.7985 15.9628C15.1852 15.9344 15.3786 15.9203 15.5546 15.8189C15.7004 15.735 15.8387 15.5862 15.9118 15.4347C16 15.2517 16 15.0383 16 14.6115V12.1073C16 11.7484 16 11.5689 15.9409 11.4151C15.8888 11.2792 15.804 11.1582 15.6941 11.0627C15.5697 10.9547 15.4011 10.8933 15.0638 10.7707L12.2133 9.73413C11.8209 9.59143 11.6247 9.52008 11.4385 9.53219C11.2743 9.54287 11.1164 9.59889 10.9822 9.69402C10.83 9.8019 10.7226 9.98093 10.5077 10.339L10.5077 10.339L9.77778 11.5556C7.42234 10.4888 5.5128 8.57678 4.44444 6.22222L5.66101 5.49229C6.01907 5.27745 6.1981 5.17003 6.30598 5.01783C6.40111 4.88363 6.45713 4.72566 6.46781 4.56151C6.47992 4.37535 6.40857 4.17913 6.26587 3.78671L5.22932 0.936188C5.10667 0.598899 5.04534 0.430252 4.93726 0.305864C4.84179 0.19599 4.7208 0.111243 4.58491 0.0590678C4.43107 0 4.25162 0 3.89273 0H1.38846C0.96167 0 0.748276 0 0.565315 0.0882247C0.41378 0.161295 0.265011 0.299568 0.181069 0.445362C0.0797174 0.621392 0.0655565 0.814772 0.0372347 1.20153C0.0125563 1.53854 0 1.87892 0 2.22222Z' fill='%236E99C6' /%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.22222C0 9.83148 6.16852 16 13.7778 16C14.1211 16 14.4615 15.9874 14.7985 15.9628C15.1852 15.9344 15.3786 15.9203 15.5546 15.8189C15.7004 15.735 15.8387 15.5862 15.9118 15.4347C16 15.2517 16 15.0383 16 14.6115V12.1073C16 11.7484 16 11.5689 15.9409 11.4151C15.8888 11.2792 15.804 11.1582 15.6941 11.0627C15.5697 10.9547 15.4011 10.8933 15.0638 10.7707L12.2133 9.73413C11.8209 9.59143 11.6247 9.52008 11.4385 9.53219C11.2743 9.54287 11.1164 9.59889 10.9822 9.69402C10.83 9.8019 10.7226 9.98093 10.5077 10.339L10.5077 10.339L9.77778 11.5556C7.42234 10.4888 5.5128 8.57678 4.44444 6.22222L5.66101 5.49229C6.01907 5.27745 6.1981 5.17003 6.30598 5.01783C6.40111 4.88363 6.45713 4.72566 6.46781 4.56151C6.47992 4.37535 6.40857 4.17913 6.26587 3.78671L5.22932 0.936188C5.10667 0.598899 5.04534 0.430252 4.93726 0.305864C4.84179 0.19599 4.7208 0.111243 4.58491 0.0590678C4.43107 0 4.25162 0 3.89273 0H1.38846C0.96167 0 0.748276 0 0.565315 0.0882247C0.41378 0.161295 0.265011 0.299568 0.181069 0.445362C0.0797174 0.621392 0.0655565 0.814772 0.0372347 1.20153C0.0125563 1.53854 0 1.87892 0 2.22222Z' fill='%236E99C6' /%3E%3C/svg%3E");
}

.header .header-nav-contacts a[href^="mailto:"]::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0495854 1.49783C0.25173 0.640213 1.04822 0 2 0H14C14.9518 0 15.7483 0.640213 15.9504 1.49783L8 6.17647L0.0495854 1.49783ZM0 2.59719V9.4376L5.80319 6.01224L0 2.59719ZM6.7614 6.57612L0.191871 10.4538C0.512604 11.1051 1.20168 11.5556 2 11.5556H14C14.7983 11.5556 15.4874 11.1051 15.8081 10.4538L9.2386 6.57612L8 7.30501L6.7614 6.57612ZM10.1968 6.01224L16 9.4376V2.59719L10.1968 6.01224Z' fill='%236E99C6' /%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0495854 1.49783C0.25173 0.640213 1.04822 0 2 0H14C14.9518 0 15.7483 0.640213 15.9504 1.49783L8 6.17647L0.0495854 1.49783ZM0 2.59719V9.4376L5.80319 6.01224L0 2.59719ZM6.7614 6.57612L0.191871 10.4538C0.512604 11.1051 1.20168 11.5556 2 11.5556H14C14.7983 11.5556 15.4874 11.1051 15.8081 10.4538L9.2386 6.57612L8 7.30501L6.7614 6.57612ZM10.1968 6.01224L16 9.4376V2.59719L10.1968 6.01224Z' fill='%236E99C6' /%3E%3C/svg%3E");
}

.header .header-nav {
    position: relative;
}

.header .header-nav__icons {
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
}

.header .header-nav .header-nav-link {
    position: relative;
    background: var(--main-bg-clr);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: background var(--animation-duration) var(--timing-func);
    border-radius: 50%;
    padding: 8px;
    width: 46px;
    height: 46px;
}

.header .header-nav .header-nav-link::before {
    content: "";
    width: 20px;
    height: 20px;
    background: var(--primary-clr);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
    transition: background var(--animation-duration) var(--timing-func);
}

.header__btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
}

.header__holder {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    padding: 4px 4px 4px 24px;
    background: var(--bg-clr-2);
}

.header__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 12px;
    height: 106px;
}

.mobile-menu-contacts__title {
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    margin-bottom: 20px;
}

.mobile-menu-contacts__list {
    display: grid;
    gap: 16px;
}

.mobile-menu-contacts__list a {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
}

.mobile-menu-contacts__list a[href^="tel:"]::before {
    content: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1.94444C0 8.60254 5.39746 14 12.0556 14C12.3559 14 12.6538 13.989 12.9487 13.9674C13.2871 13.9426 13.4563 13.9302 13.6103 13.8416C13.7379 13.7681 13.8589 13.6379 13.9228 13.5053C14 13.3453 14 13.1585 14 12.7851V10.5939C14 10.2798 14 10.1228 13.9483 9.9882C13.9027 9.8693 13.8285 9.76344 13.7324 9.6799C13.6235 9.58532 13.476 9.53166 13.1808 9.42434L10.6866 8.51736C10.3433 8.3925 10.1716 8.33007 10.0087 8.34066C9.86505 8.35001 9.72682 8.39903 9.6094 8.48227C9.47622 8.57666 9.38223 8.73332 9.19425 9.04662L8.55556 10.1111C6.49455 9.1777 4.8237 7.50468 3.88889 5.44444L4.95338 4.80575C5.26668 4.61777 5.42334 4.52378 5.51773 4.3906C5.60097 4.27318 5.64999 4.13495 5.65934 3.99132C5.66993 3.82843 5.6075 3.65674 5.48264 3.31337L4.57566 0.819164C4.46834 0.524037 4.41468 0.37647 4.3201 0.267631C4.23657 0.171491 4.1307 0.0973377 4.0118 0.0516843C3.87719 0 3.72017 0 3.40614 0H1.2149C0.841461 0 0.654742 0 0.49465 0.0771966C0.362057 0.141133 0.231885 0.262122 0.158435 0.389692C0.0697527 0.543718 0.0573619 0.712926 0.0325804 1.05134C0.0109868 1.34622 0 1.64405 0 1.94444Z' fill='%23fd4b12' /%3E%3C/svg%3E");
    line-height: 0;
}

.mobile-menu-contacts__list a[href^="mailto:"]::before {
    content: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0433872 1.3106C0.220264 0.560186 0.917196 0 1.75 0H12.25C13.0828 0 13.7797 0.560186 13.9566 1.3106L7 5.40441L0.0433872 1.3106ZM0 2.27254V8.2579L5.0778 5.26071L0 2.27254ZM5.91623 5.75411L0.167887 9.14709C0.448529 9.717 1.05147 10.1111 1.75 10.1111H12.25C12.9485 10.1111 13.5515 9.717 13.8321 9.14709L8.08377 5.75411L7 6.39188L5.91623 5.75411ZM8.9222 5.26071L14 8.2579V2.27254L8.9222 5.26071Z' fill='%23fd4b12' /%3E%3C/svg%3E");
    line-height: 0;
}

@media (min-width: 767.98px) {
    header._header-scroll .header__wrapper {
        height: 58px;
        background: var(--bg-clr-2);
        border-radius: 50px;
    }

    header._header-scroll .header-logo {
        transform: translateX(24px);
        -ms-flex: 0 0 157px;
        flex: 0 0 157px;
    }

    .mobile-menu-search {
        display: none;
    }
}

@media (min-width: 1023.98px) {
    header._header-scroll {
        padding-top: 24px;
    }
}

@media (min-width: 1399.98px) {
    .menu .menu-wrapper {
        display: contents;
    }

    .menu .menu-footer {
        display: none;
    }

    .menu .menu__dropdown-list {
        background-color: #fff;
        max-width: 240px;
        width: -webkit-max-content;
        width: max-content;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 16px;
        box-shadow: 9px 11px 29px 0 rgba(125, 138, 152, 0.15);
    }

    .menu .menu__dropdown-list li a {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .menu .menu__list > li > a {
        height: 100%;
        position: relative;
        transition: color var(--animation-duration) var(--timing-func);
    }

    .menu .menu__list > li.current-menu-item > a {
        color: var(--primary-clr);
    }

    .menu .menu__list > li:not(.current-menu-item):hover > a {
        color: var(--primary-clr);
    }

    .menu .menu__dropdown-list li > a {
        transition: color var(--animation-duration) var(--timing-func);
    }

    .menu .menu__dropdown-list li > a:hover {
        color: var(--primary-clr);
    }

    .menu .menu__dropdown-list .menu__dropdown-arrow {
        width: 40px;
        height: 24px;
        padding-right: 24px;
    }

    .menu .menu__dropdown-list {
        opacity: 0;
        transform: rotateX(-90deg);
        transition: transform 450ms ease;
        transform-origin: top;
        transform-style: preserve-3d;
    }

    .menu .menu__dropdown-list > li {
        transform: translateY(10px);
        opacity: 0;
        transition: transform 250ms ease, opacity 250ms ease;
        transition-delay: 0ms;
    }

    .menu__dropdown.hover > .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
        transform: rotateX(0deg);
        pointer-events: auto;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li {
        transform: translateY(0px);
        opacity: 1;
        transition-delay: calc(sibling-index() * 0.07s);
    }

    .menu-overlay {
        display: none;
    }
}

@media (min-width: 1399.98px) and (any-hover: hover) {
    .menu__dropdown:hover > .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
        transform: rotateX(0deg);
        pointer-events: auto;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li {
        transform: translateY(0px);
        opacity: 1;
        transition-delay: calc(sibling-index() * 0.07s);
    }
}

@media (max-width: 1449.98px) {
    .menu .menu__list {
        gap: 12px;
    }
}

@media (max-width: 1399.98px) {
    .menu {
        background: var(--bg-clr-2);
        pointer-events: none;
        height: auto;
        max-height: calc(100svh - 135px);
        position: fixed;
        right: 15px;
        top: 130px;
        width: 375px;
        border-radius: 16px;
        font-size: 15px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        transition: all var(--animation-duration) var(--timing-func);
        -webkit-clip-path: inset(0 0 100% 0 round 0px);
        clip-path: inset(0 0 100% 0 round 0px);
    }

    .menu.active {
        pointer-events: auto;
        -webkit-clip-path: inset(0 0 0 0 round 0px);
        clip-path: inset(0 0 0 0 round 0px);
    }

    .menu .menu-wrapper {
        height: auto;
        width: 100%;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        overflow-y: auto;
    }

    .menu .menu-footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu .menu__list {
        display: block;
        height: auto;
    }

    .menu .menu__list > li {
        height: auto;
        margin-right: 0 !important;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0;
    }

    .menu .menu__list > li > a {
        -ms-flex-pack: start;
        justify-content: flex-start;
        color: var(--main-txt-clr);
        font-weight: 500;
        line-height: normal;
        letter-spacing: normal;
    }

    .menu .menu__dropdown {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .menu .menu__dropdown-list::before {
        display: none;
    }

    .menu .menu__dropdown-list {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
        pointer-events: auto;
        border: 0;
        height: auto;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
    }

    .menu .menu__dropdown-list .menu__dropdown-list {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu .menu__dropdown-list li a {
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
        color: var(--main-txt-clr);
        font-weight: 500;
        -ms-flex-preferred-size: calc(100% - 30px);
        flex-basis: calc(100% - 30px);
        width: calc(100% - 30px);
    }

    .menu .menu__dropdown .menu__dropdown-arrow {
        width: 25px;
        height: 25px;
        padding-right: 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .menu .menu__dropdown .menu__dropdown-arrow._spoller-active::before {
        transform: rotateZ(-90deg);
    }

    .menu-burger {
        display: block;
        position: relative;
        z-index: 2;
    }

    .header .header-logo {
        margin-right: auto;
    }

    .header-nav-contacts {
        display: none;
    }

    .header__holder {
        padding: 4px;
    }
}

@media (max-width: 1399.98px) and (max-width: 1023.98px) {
    .menu {
        width: 100%;
        border-radius: 0px;
        top: 0;
        left: 0;
        padding-top: 73px;
        border: none;
        height: auto;
        max-height: calc(100svh - 24px);
        padding-right: max(15px, (100% - 768px) / 2);
        padding-left: max(15px, (100% - 768px) / 2);
    }
}

@media (max-width: 1399.98px) and (max-width: 767.98px) {
    .menu {
        padding-top: 53px;
    }
}

@media (max-width: 1023.98px) {
    .menu .menu-wrapper {
        border-top: 1px solid var(--border-clr);
        padding-left: 0;
        padding-right: 0;
    }

    .menu .menu-footer {
        padding-left: 0;
        padding-right: 0;
    }

    .menu-burger {
        height: 42px;
        width: 103px;
    }

    .header-search {
        height: 73px;
    }

    .header .header-logo {
        -ms-flex: 0 0 183px;
        flex: 0 0 183px;
    }

    .header__btn {
        display: none;
    }

    .header {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header__wrapper {
        height: 73px;
    }
}

@media (max-width: 767.98px) {
    .menu .menu-footer {
        border-top: none;
    }

    .header-search {
        height: 53px;
    }

    .header-search form {
        height: 35px;
    }

    .mobile-menu-search {
        margin: 0px -15px;
    }

    .header-nav {
        display: none;
    }

    .header .header-logo {
        -ms-flex: 0 0 126px;
        flex: 0 0 126px;
    }

    .header {
        background: var(--bg-clr-2);
        border-radius: 0 0 15px 15px;
    }

    .header__holder {
        display: contents;
    }

    .header__wrapper {
        height: 53px;
    }
}

@media (any-hover: hover) {
    .menu .menu__dropdown-arrow {
        display: none;
    }

    .header-search form button[type=reset]:hover::before, .header-search form button[type=reset]:hover::after {
        background: var(--primary-clr);
    }

    .header-search form button[type=submit]:hover svg path {
        fill: var(--primary-clr);
    }

    .header-search-open:hover {
        background: var(--accent-clr);
    }

    .header-search-open:hover svg path {
        stroke: #fff;
    }

    .header .header-nav-contacts a:hover {
        color: var(--primary-clr);
    }

    .header .header-nav .header-nav-link:hover {
        background: var(--primary-clr);
    }

    .header .header-nav .header-nav-link:hover::before {
        background: #fff;
    }
}