.menu {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 100%;
    font-size: 15px;
}

.menu .menu-wrapper {
    position: relative;
    padding: 16px;
    border-top: 1px solid var(--border-color);
}

.menu .menu-footer {
    border-top: 1px solid var(--border-color);
    padding: 20px 0px;
    display: grid;
    gap: 20px;
}

.menu .menu__list {
    height: 100%;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.menu .menu__list > li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.menu .menu__list > li > a {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 1em;
    line-height: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    text-transform: none;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
}

.menu .menu__dropdown {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu .menu__dropdown-list {
    position: absolute;
    top: 100%;
    left: 0px;
    border-radius: 0px;
    border: 1px solid var(--border-color);
    background: var(--main-bg-color);
    padding-top: 22px;
    padding-bottom: 22px;
    box-shadow: 2px 1px 6px 0 rgba(0, 0, 0, 0.1), 10px 6px 11px 0 rgba(0, 0, 0, 0.09), 22px 13px 15px 0 rgba(0, 0, 0, 0.05), 39px 24px 18px 0 rgba(0, 0, 0, 0.01), 60px 37px 20px 0 rgba(0, 0, 0, 0);
}

.menu .menu__dropdown-list .menu__dropdown-list {
    top: -15px;
    left: 100%;
}

.menu .menu__dropdown-list li a {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: normal;
    color: var(--main-text-color);
    text-transform: none;
}

.menu__dropdown-arrow {
    position: relative;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.menu__dropdown-arrow::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url("../img/icons/z_menu_icon.svg");
    mask-image: url("../img/icons/z_menu_icon.svg");
    background: #9397ad;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: auto;
    mask-size: auto;
    transition: background var(--animation-duration) var(--timing-func);
}

.menu .switch-back {
    display: none;
    background: url("../img/icons/z_switch_back_icon.svg") 0px 50% no-repeat;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    color: #9397ad;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

.menu-overlay {
    pointer-events: none;
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background: #fff;
    transform: scaleY(0);
    transform-origin: bottom;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.menu-overlay.active {
    transform: scaleY(1);
}

.nav > li > a {
    padding: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.menu-burger {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: none;
    position: relative;
    width: 103px;
    height: 37px;
    overflow: hidden;
    border-radius: 0px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    transition: background var(--animation-duration) var(--timing-func);
}

.menu-burger span {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    gap: 4px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    transition: transform var(--animation-duration) var(--timing-func);
    transform: translateY(-100%);
    font-weight: 500;
    font-size: 13px;
    line-height: 160%;
    color: #fff;
}

.menu-burger span svg {
    margin-top: -2px;
}

.menu-burger span:first-child {
    color: #0b0f19;
}

.menu-burger.active {
    background: #fff;
}

.menu-burger.active span {
    transform: translateY(0);
}

.header .menu-burger {
    margin-left: auto;
}

.header .menu {
    -ms-flex: 0 1 48%;
    flex: 0 1 48%;
}

.header .header-nav-contacts {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.header {
    border-bottom: 1px solid var(--border-color);
    position: relative;
    background: var(--main-bg-color);
}

.header__container {
    height: 100%;
}

.header__wrapper {
    height: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header__btn {
    margin-left: auto;
}

.header-logo {
    margin-right: 12px;
    position: relative;
    z-index: 2;
    -ms-flex: 0 0 293px;
    flex: 0 0 293px;
}

.header-logo img {
    width: 100%;
}

.mobile-menu-contacts__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    margin-bottom: 20px;
}

.mobile-menu-contacts__list {
    display: grid;
    gap: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 130%;
}

.mobile-menu-contacts a,
.mobile-menu-contacts p {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 5px;
}

.mobile-menu-contacts a::before,
.mobile-menu-contacts p::before {
    margin-top: 2px;
}

.mobile-menu-contacts a[href^="tel:"]::before,
.mobile-menu-contacts p[href^="tel:"]::before {
    content: url("../img/icons/phone_icon.svg");
}

.mobile-menu-contacts a[href^="mailto:"]::before,
.mobile-menu-contacts p[href^="mailto:"]::before {
    content: url("../img/icons/mail_icon.svg");
}

.mobile-menu-contacts a.location::before,
.mobile-menu-contacts p.location::before {
    content: url("../img/icons/loc_icon.svg");
}

.header-nav-contacts {
    position: relative;
    margin-left: 12px;
    margin-right: 12px;
}

.header-nav-contacts ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 12px;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.header-nav-contacts a {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03em;
    transition: color var(--animation-duration) var(--timing-func);
}

.header-nav-contacts a[href^="tel:"] {
    font-size: 18px;
    color: var(--accent-color);
}

@media (any-hover: hover) and (min-width: 1023.98px) {
    .menu__dropdown-arrow {
        display: none;
    }
}

@media (min-width: 1023.98px) {
    .menu .menu-wrapper {
        display: contents;
    }

    .menu .menu-footer {
        display: none;
    }

    .menu .menu__dropdown-list {
        max-width: 314px;
        min-width: 177px;
        width: -webkit-max-content;
        width: max-content;
    }

    .menu .menu__dropdown-list {
        top: 100%;
    }

    .menu .menu__dropdown-list li a {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .menu .menu__list {
        -ms-flex-align: center;
        align-items: center;
    }

    .menu .menu__list > li > a {
        height: 100%;
        position: relative;
        transition: color var(--animation-duration) var(--timing-func);
    }

    .menu .menu__list > li.current-menu-item > a,
  .menu .menu__list > li:not(.current-menu-item):hover > a {
        color: var(--primary-color);
    }

    .menu .menu__list > li.current-menu-item > .menu__dropdown-arrow::before,
  .menu .menu__list > li:not(.current-menu-item):hover > .menu__dropdown-arrow::before {
        background: var(--primary-color);
    }

    .menu .menu__dropdown-list li > a {
        transition: color var(--animation-duration) var(--timing-func);
    }

    .menu .menu__dropdown-list li:hover > a {
        color: var(--primary-color);
    }

    .menu .menu__dropdown-list {
        opacity: 0;
        transform: rotateX(-90deg);
        transition: transform 450ms ease;
        transform-origin: top;
        transform-style: preserve-3d;
    }

    .menu .menu__dropdown-list > li {
        transform: translateY(10px);
        opacity: 0;
        transition: transform 250ms ease, opacity 250ms ease;
        transition-delay: 0ms;
    }

    .menu__dropdown.hover > .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
        transform: rotateX(0deg);
        pointer-events: auto;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li {
        transform: translateY(0px);
        opacity: 1;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(1) {
        transition-delay: 0.2s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(2) {
        transition-delay: 0.3s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(3) {
        transition-delay: 0.4s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(4) {
        transition-delay: 0.5s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(5) {
        transition-delay: 0.6s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(6) {
        transition-delay: 0.7s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(7) {
        transition-delay: 0.8s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(8) {
        transition-delay: 0.9s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(9) {
        transition-delay: 1s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(10) {
        transition-delay: 1.1s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(11) {
        transition-delay: 1.2s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(12) {
        transition-delay: 1.3s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(13) {
        transition-delay: 1.4s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(14) {
        transition-delay: 1.5s;
    }

    .menu-overlay {
        display: none;
    }
}

@media (min-width: 1023.98px) and (any-hover: hover) {
    .menu__dropdown:hover > .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
        transform: rotateX(0deg);
        pointer-events: auto;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li {
        transform: translateY(0px);
        opacity: 1;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(1) {
        transition-delay: 0.14s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(2) {
        transition-delay: 0.21s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(3) {
        transition-delay: 0.28s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(4) {
        transition-delay: 0.35s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(5) {
        transition-delay: 0.42s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(6) {
        transition-delay: 0.49s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(7) {
        transition-delay: 0.56s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(8) {
        transition-delay: 0.63s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(9) {
        transition-delay: 0.7s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(10) {
        transition-delay: 0.77s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(11) {
        transition-delay: 0.84s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(12) {
        transition-delay: 0.91s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(13) {
        transition-delay: 0.98s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(14) {
        transition-delay: 1.05s;
    }
}

@media (max-width: 1920px) {
    .menu .menu__dropdown-list li a {
        white-space: normal;
    }
}

@media (max-width: 1350px) {
    .menu {
        font-size: 13px;
    }

    .header-logo {
        -ms-flex: 0 0 190px;
        flex: 0 0 190px;
    }

    .header-nav-contacts a {
        font-size: 13px;
    }

    .header-nav-contacts a[href^="tel:"] {
        font-size: 13px;
    }
}

@media (max-width: 1023.98px) {
    .menu {
        background: #fff;
        pointer-events: none;
        height: auto;
        right: 15px;
        top: 100px;
        position: fixed;
        border: 1px solid var(--border-color);
        border-radius: 15px;
        width: 375px;
        font-size: 15px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
    }

    .menu.active {
        visibility: visible;
        pointer-events: auto;
    }

    .menu .menu-wrapper {
        padding: 16px 0px;
    }

    .menu .menu__list {
        display: block;
        height: auto;
    }

    .menu .menu__list > li {
        height: auto;
        margin-right: 0 !important;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .menu .menu__list > li > a {
        color: var(--main-text-color);
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal;
    }

    .menu .menu__dropdown {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .menu .menu__dropdown-list {
        background: #fff;
        position: static;
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
        pointer-events: auto;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        height: auto;
        min-width: auto;
        max-width: auto;
    }

    .menu .menu__dropdown-list .menu__dropdown-list {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu .menu__dropdown-list li a {
        white-space: normal;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        color: var(--main-text-color);
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal;
    }

    .menu__dropdown-arrow {
        margin-left: 10px;
    }

    .menu {
        -webkit-clip-path: inset(0% 0% 100% 0%);
        clip-path: inset(0% 0% 100% 0%);
        transition: -webkit-clip-path var(--animation-duration) var(--timing-func);
        transition: clip-path var(--animation-duration) var(--timing-func);
        transition: clip-path var(--animation-duration) var(--timing-func), -webkit-clip-path var(--animation-duration) var(--timing-func);
    }

    .menu.active {
        -webkit-clip-path: inset(0% 0% 0% 0%);
        clip-path: inset(0% 0% 0% 0%);
    }

    .menu .switch-back {
        display: block;
    }

    .menu .menu-wrapper {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .menu .menu__dropdown {
        position: static;
    }

    .menu .menu__dropdown-list .menu__dropdown-list {
        top: 0;
        left: 0;
    }

    .menu .menu__dropdown-list {
        position: absolute;
        padding: 0px;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100%;
        z-index: 2;
        transform: translateX(-100%);
        border-radius: 0;
        transition: transform var(--animation-duration) var(--timing-func);
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .menu .menu__dropdown-list::-webkit-scrollbar {
        width: 0;
    }

    .menu .menu__dropdown-list.is-active {
        transform: none;
    }

    .menu-burger {
        display: block;
        position: relative;
        z-index: 2;
    }

    .header__wrapper {
        height: 83px;
    }

    .header__btn {
        display: none;
    }

    .header-logo {
        -ms-flex: 0 0 183px;
        flex: 0 0 183px;
    }

    .header-nav-contacts {
        display: none;
    }
}

@media (max-width: 1023.98px) and (max-width: 1023.98px) {
    .menu {
        width: 100%;
        border-radius: 0px;
        top: 0;
        left: 0;
        padding-top: 83px;
        border: none;
        height: 100svh;
        padding-right: max(15px, (100% - 768px) / 2);
        padding-left: max(15px, (100% - 768px) / 2);
    }
}

@media (max-width: 1023.98px) and (max-width: 767.98px) {
    .menu {
        padding-top: 53px;
    }
}

@media (max-width: 767.98px) {
    .header {
        border-radius: 0px 0px 15px 15px;
    }

    .header__wrapper {
        height: 53px;
    }

    .header-logo {
        -ms-flex: 0 0 144px;
        flex: 0 0 144px;
    }
}

@media (any-hover: hover) {
    .header-nav-contacts a:hover {
        color: var(--accent-color);
    }
}