.menu {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 100%;
    font-size: 14px;
    font-family: var(--font-family);
}

.menu .menu-wrapper {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #fff;
}

.menu .menu-wrapper::-webkit-scrollbar {
    width: 12px;
}

.menu .menu-wrapper::-webkit-scrollbar-track {
    background: #fff;
}

.menu .menu-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 0px;
    border: 3px solid #fff;
}

.mobile-menu-footer {
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.menu .menu__list {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 37px;
}

.menu .menu__list > li {
    font-family: var(--second-family);
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.menu .menu__list > li > a {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 1em;
    line-height: normal;
    font-weight: 400;
    letter-spacing: normal;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}

.menu .menu__dropdown {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu .menu__dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu .menu__dropdown-list .menu__dropdown-list {
    top: -15px;
    left: 100%;
}

.menu .menu__dropdown-list li a {
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    color: #fff;
    text-transform: none;
}

.menu .menu__dropdown-arrow {
    position: relative;
    background-color: transparent;
    width: 24px;
    height: 24px;
    transition: transform var(--animation-duration) var(--timing-func);
}

.menu .menu__dropdown-arrow::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url('data:image/svg+xml,<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 11L6 6L1 1" stroke="%239397AD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    mask-image: url('data:image/svg+xml,<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 11L6 6L1 1" stroke="%239397AD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    background: #9397ad;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: auto;
    mask-size: auto;
    transition: background var(--animation-duration) var(--timing-func);
    transform: rotate(90deg);
}

.menu-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transform: scaleY(0);
    transform-origin: bottom;
    opacity: 0;
    transition: transform 0s, opacity 0.5s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.menu-overlay.active {
    transform: scaleY(1);
    opacity: 1;
}

.nav > li > a {
    padding: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.menu-burger {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: none;
    position: relative;
    width: 133px;
    height: 54px;
    overflow: hidden;
    border-radius: 0px;
    border: 1px solid #fff;
    background: transparent;
}

.menu-burger span {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    gap: 4px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    transition: transform var(--animation-duration) var(--timing-func);
    transform: translateY(-100%);
    font-weight: 500;
    font-size: 13px;
    line-height: 160%;
    color: #fff;
}

.menu-burger span svg {
    margin-top: -2px;
}

.menu-burger.active span {
    transform: translateY(0);
}

.header-logo {
    margin-left: 55px;
    margin-right: 77px;
}

.header__btn {
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.header__btn .btn-border {
    height: 100%;
    border-top: none;
    border-bottom: none;
}

.header {
    position: relative;
}

.header__wrapper {
    height: 93px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
}

.header__btn {
    margin-left: auto;
}

.header-logo {
    position: relative;
    z-index: 2;
    -ms-flex: 0 0 197px;
    flex: 0 0 197px;
}

.header-logo img {
    width: 100%;
}

.mobile-menu-contacts__title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    color: #0b0f19;
    margin-bottom: 20px;
}

.mobile-menu-contacts__list {
    display: grid;
    gap: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: #141517;
}

.mobile-menu-contacts a,
.mobile-menu-contacts p {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 5px;
}

.mobile-menu-contacts a::before,
.mobile-menu-contacts p::before {
    margin-top: 2px;
}

.mobile-menu-contacts a[href^="tel:"]::before,
.mobile-menu-contacts p[href^="tel:"]::before {
    content: url("../img/icons/phone_icon.svg");
}

.mobile-menu-contacts a[href^="mailto:"]::before,
.mobile-menu-contacts p[href^="mailto:"]::before {
    content: url("../img/icons/mail_icon.svg");
}

.mobile-menu-contacts a.location::before,
.mobile-menu-contacts p.location::before {
    content: url("../img/icons/loc_icon.svg");
}

.mobile-menu-contacts a.clock::before,
.mobile-menu-contacts p.clock::before {
    content: url("../img/icons/clock_icon.svg");
}

@media (min-width: 1023.98px) {
    .menu .menu-wrapper {
        display: contents;
    }

    .mobile-menu-footer {
        display: none;
    }

    .menu .menu__dropdown-list {
        background-color: #000;
        max-width: 266px;
        width: -webkit-max-content;
        width: max-content;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 0;
    }

    .menu .menu__dropdown-list li a {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .menu .menu__list li {
        height: 100%;
    }

    .menu .menu__list > li > a {
        height: 100%;
    }

    .menu .menu__list > li > a span {
        position: relative;
    }

    .menu .menu__list > li > a span::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        bottom: 0;
        left: 0;
        background: #fff;
        transform: scale(0);
        transition: transform var(--animation-duration) var(--timing-func);
    }

    .menu .menu__list > li:not(.current-menu-item):hover > a span::after {
        transform: scale(1);
    }

    .menu .menu__dropdown-list li > a {
        transition: opacity var(--animation-duration) var(--timing-func);
        opacity: 0.5;
    }

    .menu .menu__dropdown-list li > a:hover {
        opacity: 1;
    }

    .menu .menu__dropdown-list .menu__dropdown-arrow {
        width: 40px;
        height: 24px;
        padding-right: 24px;
    }

    .menu .menu__dropdown-list {
        opacity: 0;
        transform: rotateX(-90deg);
        transition: transform 450ms ease;
        transform-origin: top;
        transform-style: preserve-3d;
    }

    .menu .menu__dropdown-list > li {
        transform: translateY(10px);
        opacity: 0;
        transition: transform 250ms ease, opacity 250ms ease;
        transition-delay: 0ms;
    }

    .menu__dropdown.hover > .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
        transform: rotateX(0deg);
        pointer-events: auto;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li {
        transform: translateY(0px);
        opacity: 1;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(1) {
        transition-delay: 0.2s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(2) {
        transition-delay: 0.3s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(3) {
        transition-delay: 0.4s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(4) {
        transition-delay: 0.5s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(5) {
        transition-delay: 0.6s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(6) {
        transition-delay: 0.7s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(7) {
        transition-delay: 0.8s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(8) {
        transition-delay: 0.9s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(9) {
        transition-delay: 1s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(10) {
        transition-delay: 1.1s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(11) {
        transition-delay: 1.2s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(12) {
        transition-delay: 1.3s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(13) {
        transition-delay: 1.4s;
    }

    .menu__dropdown.hover > .menu__dropdown-list > li:nth-child(14) {
        transition-delay: 1.5s;
    }

    .menu-overlay {
        display: none;
    }
}

@media (min-width: 1023.98px) and (any-hover: hover) {
    .menu__dropdown:hover > .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
        transform: rotateX(0deg);
        pointer-events: auto;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li {
        transform: translateY(0px);
        opacity: 1;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(1) {
        transition-delay: 0.14s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(2) {
        transition-delay: 0.21s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(3) {
        transition-delay: 0.28s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(4) {
        transition-delay: 0.35s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(5) {
        transition-delay: 0.42s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(6) {
        transition-delay: 0.49s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(7) {
        transition-delay: 0.56s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(8) {
        transition-delay: 0.63s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(9) {
        transition-delay: 0.7s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(10) {
        transition-delay: 0.77s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(11) {
        transition-delay: 0.84s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(12) {
        transition-delay: 0.91s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(13) {
        transition-delay: 0.98s;
    }

    .menu__dropdown:hover > .menu__dropdown-list > li:nth-child(14) {
        transition-delay: 1.05s;
    }
}

@media (max-width: 1360px) {
    .menu .menu__list {
        gap: 24px;
    }

    .header-logo {
        margin-right: 25px;
        margin-left: 15px;
    }
}

@media (max-width: 1023.98px) {
    .menu {
        background: #000;
        height: auto;
        max-height: calc(100svh - 65px);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        border-radius: 0px;
        font-size: 14px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        transition: all var(--animation-duration) var(--timing-func);
        -webkit-clip-path: inset(0 0 100% 0 round 0px);
        clip-path: inset(0 0 100% 0 round 0px);
        padding-top: 93px;
        padding-left: 0;
        padding-right: 0;
    }

    .menu.active {
        pointer-events: auto;
        -webkit-clip-path: inset(0 0 0 0 round 0px 0px 15px 15px);
        clip-path: inset(0 0 0 0 round 0px 0px 15px 15px);
    }

    .menu .menu-wrapper {
        border-top: 1px solid var(--border-color);
        height: auto;
        width: 100%;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        overflow-y: auto;
    }

    .mobile-menu-footer {
        border-top: 1px solid var(--border-color);
        height: auto;
        width: 100%;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu .menu__list {
        display: block;
        height: auto;
    }

    .menu .menu__list > li {
        height: auto;
        margin-right: 0 !important;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0;
    }

    .menu .menu__list > li > a {
        -ms-flex-pack: start;
        justify-content: flex-start;
        color: #fff;
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal;
    }

    .menu .menu__dropdown {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .menu .menu__dropdown-list {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
        pointer-events: auto;
        border: 0;
        height: auto;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
    }

    .menu .menu__dropdown-list .menu__dropdown-list {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu .menu__dropdown-list li a {
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
        color: #fff;
        font-weight: 400;
        -ms-flex-preferred-size: calc(100% - 30px);
        flex-basis: calc(100% - 30px);
        width: calc(100% - 30px);
    }

    .menu .menu__dropdown .menu__dropdown-arrow {
        width: 25px;
        height: 25px;
        padding-right: 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .menu .menu__dropdown .menu__dropdown-arrow._spoller-active::before {
        transform: rotateZ(-90deg);
    }

    .menu-burger {
        height: 37px;
        width: 103px;
    }

    .menu-burger {
        display: block;
        position: relative;
        z-index: 2;
    }

    .header-logo {
        margin-right: auto;
        margin-left: 0;
    }

    .header__wrapper {
        height: 73px;
    }

    .header__wrapper {
        padding-left: max(15px, (100% - 768px) / 2);
        padding-right: max(15px, (100% - 768px) / 2);
    }

    .header__btn {
        display: none;
    }

    .header-logo {
        -ms-flex: 0 0 154px;
        flex: 0 0 154px;
    }
}

@media (max-width: 1023.98px) and (max-width: 1023.98px) {
    .menu {
        padding-top: 73px;
    }
}

@media (max-width: 1023.98px) and (max-width: 767.98px) {
    .menu {
        padding-top: 53px;
    }
}

@media (max-width: 767.98px) {
    .mobile-menu-footer {
        max-width: 375px;
    }

    .header__wrapper {
        height: 53px;
    }

    .header-logo {
        -ms-flex: 0 0 121px;
        flex: 0 0 121px;
    }
}

@media (any-hover: hover) {
    .menu .menu__dropdown-arrow {
        display: none;
    }
}