.about__wrapper {
    display: grid;
    gap: 32px;
}

.about__block {
    display: grid;
    grid-template-columns: 1fr 57.5%;
    gap: 80px;
    -ms-flex-align: center;
    align-items: center;
}

.about .about-photo {
    border-radius: var(--block-radius);
    overflow: hidden;
}

.about .about-photo img {
    max-width: 100%;
}

.rs-about {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (min-width: 1023.98px) {
    .about__block:nth-child(even) .about__column:last-child {
        -ms-flex-order: -1;
        order: -1;
    }
}

@media (max-width: 1023.98px) {
    .about__block {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .rs-about {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}