.adv__head {
    margin-bottom: 60px;
}

.adv__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.adv-card__title {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: var(--fluid-28-20);
    margin-top: 24px;
}

.adv-card__text {
    font-size: var(--fluid-20-13);
    color: var(--black);
    opacity: 0.7;
    margin-top: 12px;
}

.rs-adv {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (max-width: 1023.98px) {
    .rs-adv {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .adv__items {
        gap: 24px;
    }
}

@media (max-width: 479.98px) {
    .adv__items {
        grid-template-columns: 1fr;
    }
}