.benefit {
    position: relative;
    padding-left: 155px;
}

.benefit__head {
    margin-bottom: 55px;
}

.benefit__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 96px 38px;
}

.benefit__item {
    position: relative;
}

.benefit__item svg {
    max-width: 100%;
}

.benefit__item:nth-child(3) .benefit-picture {
    aspect-ratio: 1.505;
    bottom: 0;
    left: 0;
}

.benefit__item:nth-child(4) .benefit-picture {
    margin-left: -160px;
    margin-right: 65px;
    aspect-ratio: 1.017;
    top: 0;
    right: 0;
}

.benefit__item:nth-child(8) .benefit-picture {
    margin-left: -185px;
    margin-right: 80px;
    margin-top: 10px;
    aspect-ratio: 1.99636;
    box-shadow: -26px -19px 26px 0 rgba(0, 0, 0, 0.51);
    top: 0;
    right: 0;
}

.benefit__item:nth-child(9) {
    margin-right: -23px;
}

.benefit-picture {
    position: absolute;
}

.benefit-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.benefit-card {
    display: grid;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
    gap: 30px 36px;
    max-width: 374px;
}

.benefit-card__num {
    grid-row: span 2;
    font-weight: 300;
    font-size: var(--fluid-30-20);
    text-transform: uppercase;
}

.benefit-card__title {
    font-weight: 400;
    font-size: var(--fluid-20-16);
    letter-spacing: 0.03em;
    margin-top: 8px;
}

.benefit-card__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: var(--fluid-14-12);
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--text-color-gray);
}

.rs-benefit {
    padding-top: 80px;
    padding-bottom: 85px;
}

.rs-benefit__wrapper {
    padding: 0px 149px;
}

@media (max-width: 1600px) {
    .benefit {
        padding: 0;
    }
}

@media (max-width: 1500px) {
    .benefit__item:nth-child(4) .benefit-picture {
        margin-right: 0;
        margin-left: 0;
    }

    .rs-benefit__wrapper {
        padding: 0;
    }
}

@media (max-width: 1023.98px) {
    .benefit__items {
        grid-template-columns: 1fr 1fr;
    }

    .benefit__item_des {
        display: none;
    }
}

@media (max-width: 479.98px) {
    .benefit__items {
        grid-template-columns: 1fr;
    }
}