.benefit {
    position: relative;
}

.benefit__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.benefit__item {
    background: #001b2e;
}

.benefit__item > img {
    width: 100%;
}

.benefit-card {
    padding: 160px 64px 0px 64px;
}

.benefit-card__num {
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: var(--primary-color);
    filter: url(#outerText);
}

.benefit-card__title {
    font-weight: 500;
    font-size: var(--fluid-22-15);
    line-height: 110%;
    color: var(--text-color-2);
    margin-top: 0.9090909091em;
}

.benefit-card__text {
    font-size: var(--fluid-18-13);
    line-height: 150%;
    color: var(--text-color-2);
    margin-top: 1.1111111111em;
}

.rs-benefit {
    padding-top: 70px;
    padding-bottom: 65px;
}

@media (min-width: 1023.98px) {
    .benefit__item:not(:last-child) {
        border-right: 1px solid var(--border-color);
    }

    .benefit__item:nth-child(1) {
        margin-top: -115px;
    }

    .benefit__item:nth-child(2) {
        margin-top: -70px;
    }

    .benefit__item:nth-child(3) {
        margin-top: -35px;
    }
}

@media (min-width: 1400px) {
    .benefit__item:nth-child(1) {
        margin-top: -230px;
    }

    .benefit__item:nth-child(2) {
        margin-top: -140px;
    }

    .benefit__item:nth-child(3) {
        margin-top: -70px;
    }
}

@media (max-width: 1400px) {
    .benefit-card {
        padding: 160px 24px 0px 24px;
    }
}

@media (max-width: 1023.98px) {
    .benefit__items {
        grid-template-columns: repeat(2, 1fr);
    }

    .benefit__item > img {
        display: none;
    }

    .benefit-card {
        padding: 24px;
    }

    .rs-benefit {
        padding-bottom: 30px;
        padding-top: 0px;
    }
}

@media (max-width: 767.98px) {
    .benefit__items {
        grid-template-columns: 1fr;
    }
}