.banner {
    height: 525px;
    position: relative;
    min-width: 0;
    overflow: hidden;
    background: url("../img/banner_bg.jpg") 0 0/cover no-repeat;
}

.banner > svg {
    position: absolute;
    right: 0;
    top: 0;
}

.banner__slider {
    height: 100%;
}

.banner__swiper {
    height: 100%;
}

.banner__slide {
    height: 100%;
}

.banner__nav {
    position: absolute;
    z-index: 2;
    bottom: 16px;
    left: 69px;
    padding: 0px 27px;
}

.banner__nav .banner-arrows {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    pointer-events: none;
}

.banner__nav .banner-arrows .banner-arrow {
    pointer-events: auto;
}

.banner__nav .banner-paging.swiper-pagination-lock {
    display: none;
}

.banner__nav .banner-paging.swiper-pagination-bullets.swiper-pagination-horizontal, .banner__nav .banner-paging.swiper-pagination-bullets.swiper-pagination-vertical {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.banner__nav .banner-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet, .banner__nav .banner-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet {
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: transparent;
    opacity: 1;
    margin: 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
}

.banner__nav .banner-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active, .banner__nav .banner-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #fff;
    color: #fff;
}

.banner__nav .banner-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:focus, .banner__nav .banner-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet:focus {
    outline: none;
}

.banner__nav .banner-paging.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-clickable .swiper-pagination-bullet, .banner__nav .banner-paging.swiper-pagination-bullets.swiper-pagination-vertical.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.banner .slide {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 52.5% 1fr;
    gap: 30px;
}

.banner .slide__media {
    position: relative;
}

.banner .slide__media video,
.banner .slide__media img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: left bottom;
}

.banner .slide__content {
    padding-bottom: 65px;
    padding-top: 73px;
    padding-left: 84px;
    display: grid;
    -ms-flex-line-pack: start;
    align-content: start;
}

.banner .slide__title {
    font-weight: 500;
    font-size: var(--fluid-72-25);
    line-height: 95%;
    color: var(--text-color-2);
}

.banner .slide__title span {
    color: var(--text-color-gray);
}

.banner .slide__text {
    margin-top: 30px;
    font-size: var(--fluid-24-14);
    line-height: 150%;
    color: var(--text-color-2);
}

.banner__slide .slide__title,
.banner__slide .slide__text,
.banner__slide .slide__btns {
    transform: translateY(40px);
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function: ease-out;
}

.banner__slide .slide__media {
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
}

.banner__slide .slide__media {
    transition-duration: 0.9s;
    transition-delay: 0.4s;
}

.banner__slide .slide__title {
    transition-duration: 0.5s;
    transition-delay: 0.4s;
}

.banner__slide .slide__text {
    transition-duration: 0.5s;
    transition-delay: 0.7s;
}

.banner__slide .slide__btns {
    transition-duration: 0.5s;
    transition-delay: 0.9s;
}

.banner__slide.swiper-slide-active .slide__title,
.banner__slide.swiper-slide-active .slide__text,
.banner__slide.swiper-slide-active .slide__btns {
    opacity: 1;
    transform: translateY(0px);
}

.banner__slide.swiper-slide-active .slide__media {
    opacity: 1;
    transform: scale(1);
}

.rs-banner {
    padding-bottom: 65px;
}

@media (max-width: 1023.98px) {
    .banner {
        margin-top: -83px;
    }

    .banner__nav {
        display: none;
    }

    .banner .slide {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        gap: 0px;
        padding-top: 107px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .banner .slide__media video,
  .banner .slide__media img {
        object-position: center bottom;
        width: 100%;
        object-fit: contain;
    }

    .banner .slide__content {
        display: contents;
    }

    .banner .slide__text {
        margin-top: 8px;
    }

    .rs-banner {
        padding-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .banner {
        height: 100svh;
        margin-top: -53px;
    }

    .banner .slide {
        padding-top: 77px;
    }
}