.callback {
    position: relative;
    height: 100svh;
    overflow: hidden;
}

.callback > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transform: scale(1.2);
    transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.callback_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #15256d;
    transition: opacity 0.6s ease;
}

.callback > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.callback__wrapper {
    height: 100%;
    padding: 42px;
    display: grid;
    -ms-flex-align: center;
    align-items: center;
}

.callback__content {
    position: relative;
    max-width: 810px;
}

.callback__content h2 {
    font-weight: 500;
    font-size: var(--fluid-72-22);
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 16px;
}

.callback__content p {
    font-weight: 400;
    font-size: var(--fluid-24-18);
    line-height: 160%;
    color: #fff;
    margin-bottom: 2.3333333333em;
}

.callback:has(.btn-color:hover) > img {
    transform: none;
}

.callback:has(.btn-color:hover) > svg {
    transform: scale(1.7);
}

.callback:has(.btn-color:hover) .callback_bg {
    opacity: 0;
}

.rs-callback {
    padding-top: 68px;
}

@media (max-width: 1023.98px) {
    .rs-callback {
        padding-top: 34px;
    }
}