.catalog {
    position: relative;
}

.catalog__head {
    margin-bottom: 30px;
}

.catalog__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.catalog-card {
    position: relative;
    height: 100%;
    border-radius: var(--block-radius);
    padding: 16px;
    background: var(--main-bg-color);
    display: grid;
    grid-template-columns: 39.5% 1fr;
    gap: 24px;
}

.catalog-card > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    font-size: 0;
}

.catalog-card__photo {
    position: relative;
    padding-bottom: 70.24%;
    border-radius: 16px;
    overflow: hidden;
}

.catalog-card__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.catalog-card__title {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: var(--fluid-20-16);
    line-height: 120%;
}

.catalog-card button {
    border: 1.25px solid var(--border-color);
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.catalog-card .catalog-card__title {
    transition: color var(--animation-duration) var(--timing-func);
}

.catalog-card button svg {
    transition: transform var(--animation-duration) var(--timing-func);
}

.catalog-card button svg path {
    transition: stroke var(--animation-duration) var(--timing-func);
}

.rs-catalog {
    padding-top: 40px;
    padding-bottom: 40px;
}

.rs-catalog__wrapper {
    border-radius: var(--block-radius);
    padding: 80px 70px;
    background: var(--bg-color-3) url("../img/bg_4.png") left/cover no-repeat;
}

@media (min-width: 405px) and (max-width: 767px) {
    .catalog__items {
        margin-right: calc((100vw - 375px) / -2);
    }
}

@media (min-width: 1023.98px) {
    .catalog-card button {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }
}

@media (max-width: 1300px) {
    .rs-catalog__wrapper {
        padding: 35px;
    }
}

@media (max-width: 1200px) {
    .catalog__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1023.98px) {
    .catalog__items {
        display: grid;
        gap: 24px;
        grid-template-columns: 240px;
        grid-auto-flow: column;
        grid-auto-columns: 240px;
        overflow-x: auto;
        overflow-y: hidden;
        margin-right: -15px;
        padding-right: 15px;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    }

    .catalog__item {
        scroll-snap-align: start;
    }

    .catalog-card {
        grid-template-columns: 1fr;
    }

    .rs-catalog {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (any-hover: hover) {
    .catalog-card:hover .catalog-card__title {
        color: var(--primary-color);
    }

    .catalog-card:hover button svg {
        transform: translateX(2px);
    }

    .catalog-card:hover button svg path {
        stroke: var(--primary-color);
    }
}