@charset "UTF-8";

.category {
    position: relative;
    padding-bottom: 56px;
}

.category__title {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: var(--fluid-40-24);
    line-height: 120%;
    margin-bottom: 48px;
}

.category__wrapper {
    display: grid;
    grid-template-columns: 306px 1fr;
    gap: 26px;
}

.category__aside {
    position: relative;
}

.category__content {
    position: relative;
}

.category__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    padding-bottom: 30px;
}

.category__pagination {
    padding: 24px 0px;
}

.category .collection-filter {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 42px;
}

.category .collection-sorting-select {
    margin-left: auto;
}

.collection-total-product {
    font-size: var(--fluid-14-12);
    line-height: 114%;
    color: #6c6b6b;
}

.category .filter-sidebar {
    display: grid;
    gap: 16px;
    margin-bottom: 32px;
}

.side-panel {
    position: relative;
    padding: 16px;
    border: 1px solid var(--border-color);
    border-radius: var(--block-radius);
}

.side-panel__title {
    cursor: pointer;
    padding: 8px 0px;
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
}

.side-panel__title::after {
    display: inline-block;
    transition: transform var(--animation-duration) var(--timing-func);
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00081 6.00002L0.757812 1.75702L2.17281 0.343018L5.00081 3.17202L7.82881 0.343018L9.24381 1.75702L5.00081 6.00002Z' fill='black' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.side-panel__title._spoller-active::after {
    transform: rotateX(-180deg);
}

.side-panel__body {
    padding-top: 6px;
    padding-bottom: 8px;
}

.product-card {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 16px;
    border-radius: var(--block-radius);
    border: 1px solid var(--border-color);
}

.product-card__photo {
    aspect-ratio: 1.2;
    overflow: hidden;
}

.product-card__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card__content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-top: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
}

.product-card__title {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: var(--fluid-18-14);
    line-height: 130%;
    margin-bottom: 0.4444444444em;
}

.product-card__price {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: var(--fluid-22-18);
    line-height: 130%;
    margin-bottom: 0.7272727273em;
}

.product-card__price::after {
    content: " " attr(data-currency);
}

.product-card .btn-color {
    margin-top: auto;
}

.categories-menu-list li a {
    display: block;
    padding: 6px 0px;
    font-size: 14px;
    line-height: 150%;
    transition: color var(--animation-duration) var(--timing-func);
}

.categories-menu-list li.current-menu-item a {
    font-weight: 700;
}

.range-slider {
    position: relative;
    padding-top: 7px;
}

.range-slider .prefix {
    margin-right: -30px;
    padding-left: 16px;
}

.range-slider__target {
    margin-top: 16px;
    margin-bottom: 18px;
}

.range-slider__values {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 8px 12px;
}

.range-slider__values button {
    height: 40px;
    border-radius: 8px;
    background: var(--primary-color);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px 14px;
    margin-left: 6px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    transition: background var(--animation-duration) var(--timing-func);
}

.range-slider__value {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.range-slider__value input {
    background: transparent;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0px 6px;
    font-weight: 400;
    font-size: 16px;
    color: var(--main-text-color);
    border-radius: 0px;
}

.range-slider__value:first-child::after {
    content: "—";
}

.range-slider .noUi-target {
    background: rgba(130, 196, 95, 0.15);
    border: none;
    border-radius: 2px;
    height: 4px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.range-slider .noUi-connect {
    background: var(--primary-color);
}

.range-slider .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    right: -10px;
    top: -8.5px;
    border-radius: 50%;
}

.range-slider .noUi-handle {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

.filters .filters-group:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.filters .filters-title {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
}

.filters .filters-content {
    padding-top: 12px;
    padding-bottom: 25px;
}

.filters .filters-block {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 220px;
    display: grid;
    gap: 16px;
    justify-items: start;
}

.filters .filters-block::-webkit-scrollbar {
    cursor: pointer;
    width: 5px;
    background: #f5f5f5;
    border-radius: 3px;
}

.filters .filters-block::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 3px;
    background: var(--primary-color);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.filters .filters-submit {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.filters .filters-block .checkbox {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.filters .filters-block .checkbox > input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.filters .filters-block .checkbox__text {
    text-align: left;
    display: inline-block;
    padding-left: 28px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--main-text-color);
    position: relative;
}

.filters .filters-block .checkbox__text:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: var(--main-bg-color);
    border: 1px solid var(--border-color);
    transition: background 0.3s ease;
}

.filters .filters-block .checkbox__text:after {
    content: url('data:image/svg+xml,<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.0473 2.09209L6.29733 10.8421C5.97189 11.1675 5.44425 11.1675 5.11882 10.8421L0.952148 6.67542L2.13066 5.49691L5.70807 9.07432L13.8688 0.913574L15.0473 2.09209Z" fill="white" /></svg>');
    position: absolute;
    top: 2px;
    left: 2px;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.filters .filters-block .checkbox input:checked + span:after {
    transform: scale(1);
}

.filters .filters-block .checkbox input:checked + span:before {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.filters .filters-title.spollers__title {
    padding: 12px 0px;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
}

.filters .filters-title.spollers__title::after {
    display: inline-block;
    transition: transform var(--animation-duration) var(--timing-func);
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00081 6.00002L0.757812 1.75702L2.17281 0.343018L5.00081 3.17202L7.82881 0.343018L9.24381 1.75702L5.00081 6.00002Z' fill='black' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.filters .filters-title.spollers__title._spoller-active::after {
    transform: rotateX(-180deg);
}

@media (min-width: 1023.98px) {
    .category .aside-sticky-block {
        position: -webkit-sticky;
        position: sticky;
        top: 60px;
    }

    .category .filter-toggle {
        display: none;
    }

    .category .filter-sidebar {
        display: grid !important;
        padding: 0 !important;
    }
}

@media (max-width: 1023.98px) {
    .category__wrapper {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .category .aside-sticky-block {
        display: contents;
    }

    .category .filter-sidebar {
        display: none;
    }

    .side-panel {
        margin-bottom: 16px;
    }
}

@media (max-width: 600px) {
    .category .collection-filter {
        display: grid;
    }

    .category .collection-filter label {
        display: none;
    }

    .category .collection-filter select {
        width: 100%;
        margin-left: 0;
    }

    .category .collection-sorting-select {
        margin-left: 0;
    }
}

@media (any-hover: hover) {
    .categories-menu-list li a:hover {
        color: var(--primary-color);
    }

    .range-slider__values button:hover {
        background: var(--accent-color);
    }
}