@charset "UTF-8";

.categories-chart-menu {
    padding-top: 41px;
    border-top: 1px solid var(--border-color);
}

.categories-chart-menu .categories-chart-menu-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
}

.categories-chart-menu .categories-chart-menu-list a {
    position: relative;
    border: 2px solid #f4f7ff;
    border-radius: 24px;
    padding: 0px 0px 0px 24px;
    height: 97px;
    overflow: hidden;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.categories-chart-menu .categories-chart-menu-list a h6 {
    position: relative;
    font-weight: 600;
    font-size: var(--fluid-21-14);
    transition: color var(--animation-duration) var(--timing-func);
}

.categories-chart-menu .categories-chart-menu-list a img {
    position: relative;
}

.categories-chart-menu .categories-chart-menu-list a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(42deg, #0090ff 0%, #1346c5 100%);
    transition: opacity var(--animation-duration) var(--timing-func);
    opacity: 0;
}

.category {
    position: relative;
    padding-top: 60px;
    padding-bottom: 126px;
}

.category__head {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 413px 1fr;
    gap: 50px;
}

.category__wrapper {
    display: grid;
    grid-template-columns: 413px 1fr;
    gap: 50px;
}

.category__aside {
    position: relative;
}

.category__content {
    position: relative;
}

.category__grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    padding-bottom: 24px;
}

.category__pagination {
    padding: 24px 0px 0px 0px;
}

.category .aside-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #040404;
}

.category .collection-filter {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 15px;
}

.collection-total-product {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #040404;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
}

.collection-total-product::before {
    content: attr(data-title);
    font-weight: 400;
    letter-spacing: -0.02em;
}

.category .filter-toggle {
    position: relative;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 22px;
    background: var(--primary-color);
    border-radius: 30px;
    max-width: 100%;
    height: 43px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    color: #fff;
}

.category .filter-sidebar {
    width: 100%;
    display: grid;
    gap: 16px;
    margin-bottom: 32px;
}

#filterSidebar {
    width: 100%;
    max-width: 550px;
}

.side-panel {
    position: relative;
}

.range-slider {
    position: relative;
    padding-top: 7px;
}

.range-slider .prefix {
    margin-right: -30px;
    padding-left: 16px;
}

.range-slider__target {
    margin-top: 16px;
    margin-bottom: 18px;
}

.range-slider__values {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 8px 12px;
}

.range-slider__values button {
    height: 40px;
    border-radius: 8px;
    background: var(--primary-color);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px 14px;
    margin-left: 6px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    transition: background var(--animation-duration) var(--timing-func);
}

.range-slider__value {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.range-slider__value input {
    background: transparent;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0px 6px;
    font-weight: 400;
    font-size: 16px;
    color: var(--main-text-color);
    border-radius: 0px;
}

.range-slider__value:first-child::after {
    content: "—";
}

.range-slider .noUi-target {
    background: rgba(130, 196, 95, 0.15);
    border: none;
    border-radius: 2px;
    height: 4px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.range-slider .noUi-connect {
    background: var(--primary-color);
}

.range-slider .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    right: -10px;
    top: -8.5px;
    border-radius: 50%;
}

.range-slider .noUi-handle {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

.filters .filters-group {
    border-top: 1px solid var(--border-color);
}

.filters .filters-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #040404;
}

.filters .filters-content {
    padding-top: 0px;
    padding-bottom: 24px;
}

.filters .filters-block {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 230px;
    display: grid;
    gap: 16px;
    justify-items: start;
}

.filters .filters-block::-webkit-scrollbar {
    cursor: pointer;
    width: 5px;
    background: #f5f5f5;
    border-radius: 3px;
}

.filters .filters-block::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 3px;
    background: var(--primary-color);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.filters .filters-submit {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.filters .filters-block .checkbox {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.filters .filters-block .checkbox > input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.filters .filters-block .checkbox__text {
    text-align: left;
    display: inline-block;
    padding-left: 26px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #000;
    position: relative;
}

.filters .filters-block .checkbox__text:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 19px;
    height: 19px;
    border-radius: 4px;
    background: #eef3ff;
}

.filters .filters-block .checkbox__text:after {
    content: url('data:image/svg+xml,<svg width="11" height="8" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.1167 0.158593C10.2183 0.26017 10.2753 0.39792 10.2753 0.541551C10.2753 0.685182 10.2183 0.822932 10.1167 0.924509L4.02732 7.01447C3.97199 7.06983 3.90629 7.11374 3.83399 7.1437C3.76168 7.17366 3.68417 7.18908 3.60591 7.18908C3.52764 7.18908 3.45013 7.17366 3.37783 7.1437C3.30552 7.11374 3.23982 7.06983 3.18449 7.01447L0.158739 3.98872C0.108412 3.93839 0.0684913 3.87865 0.0412549 3.81289C0.0140184 3.74714 5.30275e-10 3.67666 0 3.60549C-5.30275e-10 3.53432 0.0140184 3.46384 0.0412549 3.39809C0.0684913 3.33233 0.108412 3.27259 0.158739 3.22226C0.209065 3.17193 0.268811 3.13201 0.334566 3.10478C0.40032 3.07754 0.470796 3.06352 0.541968 3.06352C0.61314 3.06352 0.683616 3.07754 0.74937 3.10478C0.815125 3.13201 0.874871 3.17193 0.925197 3.22226L3.60645 5.90351L9.35028 0.158593C9.45186 0.0570459 9.58961 0 9.73324 0C9.87687 0 10.0152 0.0570459 10.1167 0.158593Z" fill="white" /></svg>');
    position: absolute;
    top: 3px;
    left: 3px;
    transform: scale(0);
    transition: transform 0.3s ease;
    border-radius: 2px;
    width: 13px;
    height: 13px;
    background: var(--primary-color);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.filters .filters-block .checkbox input:checked + span:after {
    transform: scale(1);
}

.filters .switch {
    padding-top: 24px;
    padding-bottom: 24px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 6px;
}

.filters .switch__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #040404;
}

.filters .switch__btn {
    position: relative;
    width: 56px;
    height: 32px;
    border-radius: 8px;
    background: #ccd3e6;
    cursor: pointer;
    transition: background var(--animation-duration) var(--timing-func);
}

.filters .switch__btn > input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.filters .switch__btn:after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 6px;
    width: 24px;
    height: 24px;
    background: #fff;
    transition: transform var(--animation-duration) var(--timing-func);
}

.filters .switch__btn:has(input:checked) {
    background: var(--primary-color);
}

.filters .switch__btn:has(input:checked):after {
    transform: translateX(24px);
}

.switch {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.switch__text {
    text-align: left;
    display: inline-block;
    padding-right: 66px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #040404;
    position: relative;
}

.switch input:checked + span:after {
    transform: scale(1);
}

.filters .filters-block .radio {
    display: block;
}

.filters .filters-block .radio input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.filters .filters-block .radio span {
    display: inline-block;
    padding-left: 26px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #000;
    position: relative;
}

.filters .filters-block .radio span:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 19px;
    height: 19px;
    background: #eef3ff;
    border-radius: 50%;
}

.filters .filters-block .radio span:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%) scale(0);
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--primary-color);
    transform-origin: center center;
    transition: transform var(--animation-duration) var(--timing-func);
}

.filters .filters-block .radio input:checked + span:after {
    transform: translateY(-50%) scale(1);
}

.filters .filters-title.spollers__title {
    padding: 24px 0px;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
}

.filters .filters-title.spollers__title::after {
    display: inline-block;
    content: "+";
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    background: var(--primary-color);
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
}

.filters .filters-title.spollers__title._spoller-active::after {
    content: "-";
}

@media (min-width: 1023.98px) {
    .categories-chart-menu .categories-chart-menu-list li {
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 305px;
    }

    .category .aside-sticky-block {
        position: -webkit-sticky;
        position: sticky;
        top: 60px;
    }

    .category .filter-toggle {
        display: none;
    }

    .category .filter-sidebar {
        display: grid !important;
        padding: 0 !important;
    }
}

@media (max-width: 1023.98px) {
    .categories-chart-menu .categories-chart-menu-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px 8px;
    }

    .categories-chart-menu .categories-chart-menu-list a {
        padding: 0px 0px 0px 12px;
    }

    .category__head {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .category__wrapper {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .category .aside-title {
        display: none;
    }

    .category .aside-sticky-block {
        display: contents;
    }

    .category .collection-filter {
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .category .filter-sidebar {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .categories-chart-menu {
        padding-top: 16px;
    }

    .categories-chart-menu .categories-chart-menu-list a {
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 16px 8px 0px;
        height: 147px;
        text-align: center;
    }

    .category__grid {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
}

@media (any-hover: hover) {
    .categories-chart-menu .categories-chart-menu-list a:hover h6 {
        color: #fff;
    }

    .categories-chart-menu .categories-chart-menu-list a:hover::before {
        opacity: 1;
    }

    .range-slider__values button:hover {
        background: var(--accent-color);
    }
}