.catalog {
    position: relative;
}

.catalog__head {
    margin-bottom: 131px;
    max-width: 885px;
}

.catalog__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 56px;
}

.catalog-card {
    position: relative;
    aspect-ratio: 1.3096;
    border-radius: var(--block-radius);
    padding: 26px;
    overflow: hidden;
    display: grid;
    place-items: end;
}

.catalog-card > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    font-size: 0;
}

.catalog-card > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-func);
}

.catalog-card__title {
    position: relative;
    font-weight: 500;
    font-size: var(--fluid-21-16);
    text-align: center;
    border-radius: 8px;
    padding: 0.7619047619em 1.4761904762em;
    background: #fff;
}

.rs-catalog {
    padding-top: 68px;
    padding-bottom: 68px;
}

@media (min-width: 1023.98px) {
    .catalog__item:nth-child(2) {
        margin-top: -71px;
    }

    .catalog__item:nth-child(3) {
        margin-top: -150px;
    }
}

@media (max-width: 1023.98px) {
    .catalog__head {
        margin-bottom: 32px;
    }

    .catalog__items {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .rs-catalog {
        padding-top: 34px;
        padding-bottom: 34px;
    }
}

@media (any-hover: hover) {
    .catalog-card:hover > img {
        transform: scale(1.1);
    }
}