.rs-faq {
    padding-top: 60px;
    padding-bottom: 148px;
}

.rs-faq__wrapper {
    display: grid;
    grid-template-columns: 1fr 48%;
    gap: 70px;
}

.rs-faq__head {
    margin-bottom: 40px;
}

.rs-faq__column:last-child {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-faq__column:last-child .btn-color {
    margin-top: 24px;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

@media (min-width: 767.98px) {
    .rs-faq__head .section-title {
        text-align: left;
    }

    .rs-faq__head .section-title > span {
        -ms-flex-pack: start;
        justify-content: start;
    }
}

@media (max-width: 1023.98px) {
    .rs-faq__wrapper {
        gap: 32px;
    }
}

@media (max-width: 767.98px) {
    .rs-faq {
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .rs-faq__wrapper {
        grid-template-columns: 1fr;
    }

    .rs-faq__column:last-child {
        -ms-flex-order: -1;
        order: -1;
    }
}