.rs-feedback__head {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 16px;
}

.rs-feedback__body {
    margin-top: 30px;
}

.rs-feedback__footer {
    display: grid;
}

.rs-feedback .content-slider__slide:nth-child(3n+1) {
    --clr-1: var(--fon-siniy);
    --clr-2: var(--goluboy-luch);
}

.rs-feedback .content-slider__slide:nth-child(3n+2) {
    --clr-1: var(--fon-zheltyy);
    --clr-2: var(--zheltyy-luch);
}

.rs-feedback .content-slider__slide:nth-child(3n+3) {
    --clr-1: var(--fon-zelenyy);
    --clr-2: var(--lazurnyy-luch);
}

@media (min-width: 767.98px) {
    .rs-feedback__head .site-slide-icon {
        display: none;
    }

    .rs-feedback__footer {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .rs-feedback__head .btn-border {
        display: none;
    }
}