.hero-slider {
    height: 996px;
    position: relative;
    min-width: 0;
    overflow: hidden;
}

.hero-slider > svg {
    position: absolute;
    right: 0;
    top: 0;
}

.hero-slider__slider {
    height: 100%;
}

.hero-slider__swiper {
    height: 100%;
}

.hero-slider__slide {
    height: 100%;
}

.hero-slider__nav {
    position: absolute;
    z-index: 2;
    bottom: 212px;
    left: 69px;
    padding: 0px 27px;
}

.hero-slider__nav .hero-slider-arrows {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    pointer-events: none;
}

.hero-slider__nav .hero-slider-arrows .hero-slider-arrow {
    pointer-events: auto;
}

.hero-slider__nav .hero-slider-paging.swiper-pagination-lock {
    display: none;
}

.hero-slider__nav .hero-slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal, .hero-slider__nav .hero-slider-paging.swiper-pagination-bullets.swiper-pagination-vertical {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-slider__nav .hero-slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet, .hero-slider__nav .hero-slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet {
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: transparent;
    opacity: 1;
    margin: 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    color: #afbcd3;
}

.hero-slider__nav .hero-slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active, .hero-slider__nav .hero-slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #001b2e;
    color: #001b2e;
}

.hero-slider__nav .hero-slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:focus, .hero-slider__nav .hero-slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet:focus {
    outline: none;
}

.hero-slider__nav .hero-slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-clickable .swiper-pagination-bullet, .hero-slider__nav .hero-slider-paging.swiper-pagination-bullets.swiper-pagination-vertical.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.hero-slider .slide {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 48.4% 1fr;
    gap: 30px;
}

.hero-slider .slide__media {
    position: relative;
}

.hero-slider .slide__media video,
.hero-slider .slide__media img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    object-position: right;
}

.hero-slider .slide__content {
    padding-bottom: 258px;
    padding-top: 125px;
    padding-left: 69px;
    display: grid;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-right: -79px;
}

.hero-slider .slide__title {
    font-weight: 500;
    font-size: var(--fluid-80-25);
    line-height: 95%;
    color: var(--main-text-color);
}

.hero-slider .slide__title span {
    color: var(--text-color-gray);
}

.hero-slider .slide__text {
    margin-top: 20px;
    font-size: var(--fluid-24-14);
    line-height: 150%;
    color: var(--main-text-color);
}

.hero-slider .slide__btns {
    margin-top: 15px;
}

.hero-slider__slide .slide__title,
.hero-slider__slide .slide__text,
.hero-slider__slide .slide__btns {
    transform: translateY(40px);
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function: ease-out;
}

.hero-slider__slide .slide__media {
    opacity: 0;
    transform: scale(0);
    transform-origin: right;
}

.hero-slider__slide .slide__media {
    transition-duration: 0.9s;
    transition-delay: 0.4s;
}

.hero-slider__slide .slide__title {
    transition-duration: 0.5s;
    transition-delay: 0.4s;
}

.hero-slider__slide .slide__text {
    transition-duration: 0.5s;
    transition-delay: 0.7s;
}

.hero-slider__slide .slide__btns {
    transition-duration: 0.5s;
    transition-delay: 0.9s;
}

.hero-slider__slide.swiper-slide-active .slide__title,
.hero-slider__slide.swiper-slide-active .slide__text,
.hero-slider__slide.swiper-slide-active .slide__btns {
    opacity: 1;
    transform: translateY(0px);
}

.hero-slider__slide.swiper-slide-active .slide__media {
    opacity: 1;
    transform: scale(1);
}

.rs-intro {
    position: relative;
}

@media (min-width: 1023.98px) {
    .hero-slider {
        margin-right: -15px;
    }

    .hero-slider .slide__btns {
        max-width: 531px;
    }
}

@media (max-width: 1200px) {
    .hero-slider .slide__content {
        padding-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 1023.98px) {
    .hero-slider {
        height: 648px;
        margin-top: -83px;
    }

    .hero-slider__nav {
        display: none;
    }

    .hero-slider .slide {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        gap: 0px;
        padding-top: 107px;
        padding-bottom: 30px;
    }

    .hero-slider .slide__content {
        display: contents;
    }

    .hero-slider .slide__text {
        margin-top: 8px;
    }

    .hero-slider .slide__btns {
        -ms-flex-order: 4;
        order: 4;
        margin-top: 8px;
    }
}

@media (max-width: 767.98px) {
    .hero-slider {
        height: 100svh;
        margin-top: -53px;
    }

    .hero-slider .slide {
        padding-top: 77px;
    }
}