.metrics {
    position: relative;
}

.metrics__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.metrics .metrics-item {
    border-radius: var(--main-chamfer);
    padding: 0.8333333333em;
    height: 100%;
    font-size: var(--fluid-48-24);
}

.metrics .metrics-item:nth-child(4n+1) {
    background: var(--fon-zelenyy);
    --item-clr: var(--lazurnyy-luch);
}

.metrics .metrics-item:nth-child(4n+2) {
    background: var(--fon-zheltyy);
    --item-clr: var(--zheltyy-luch);
}

.metrics .metrics-item:nth-child(4n+3) {
    background: var(--fon-siniy);
    --item-clr: var(--goluboy-luch);
}

.metrics .metrics-item:nth-child(4n+4) {
    background: var(--fon-zelenyy);
    --item-clr: var(--lazurnyy-luch);
}

.metrics .metrics-item__title {
    font-weight: 500;
    font-size: 1em;
    line-height: 110%;
    color: var(--item-clr);
}

.metrics .metrics-item__text {
    font-weight: 500;
    font-size: var(--fluid-20-16);
    line-height: 130%;
}

.rs-metrics {
    padding-bottom: 0;
}

@media (max-width: 1023.98px) {
    .metrics__items {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}