.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 575px;
    overflow: hidden;
    --gap: 8px;
}

.marquee__track {
    position: absolute;
    height: 100%;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 30s linear infinite;
}

.marquee__content {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: calc(var(--gap) * 2);
    font-weight: 300;
    font-size: 100px;
    line-height: 120%;
    text-align: center;
    color: var(--main-text-color);
}

.marquee__content > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(var(--long) - var(--gap)));
    }
}

.rs-marquee {
    padding-bottom: 65px;
}

.rs-marquee__wrapper {
    margin: 0px -15px;
}

@media (max-width: 1023.98px) {
    .marquee {
        height: 315px;
    }

    .rs-marquee {
        padding-bottom: 30px;
    }
}