.news {
    position: relative;
    container-type: inline-size;
}

.news__head {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 16px;
}

.news__body {
    margin-top: 30px;
}

.news__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 56px;
}

@container (width < 1100px) {
    .news__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@container (width < 500px) {
    .news__items {
        grid-template-columns: 1fr;
    }
}

.news-card {
    height: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #f4f7ff;
    border-radius: var(--block-radius);
    padding: 36px;
}

.news-card > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    font-size: 0;
}

.news-card__photo {
    position: relative;
    padding-bottom: 89.21%;
    border-radius: 8px;
    overflow: hidden;
}

.news-card__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-func);
}

.news-card__content {
    margin-bottom: 22px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
}

.news-card__date {
    font-weight: 600;
    font-size: var(--fluid-14-11);
    color: var(--primary-color);
    background: #fff;
    border-radius: 50px;
    padding: 0.5714285714em 1.1428571429em;
    margin-bottom: 1.1428571429em;
}

.news-card__title {
    font-weight: 600;
    font-size: var(--fluid-21-16);
    transition: color var(--animation-duration) var(--timing-func);
}

.rs-news {
    padding-top: 68px;
    padding-bottom: 68px;
}

@media (max-width: 1400px) {
    .news__items {
        gap: 18px;
    }
}

@media (max-width: 1200px) {
    .news-card {
        padding: 22px;
    }
}

@media (max-width: 1023.98px) {
    .rs-news {
        padding-top: 34px;
        padding-bottom: 34px;
    }
}

@media (any-hover: hover) {
    .news-card:hover .news-card__title {
        color: var(--primary-color);
    }

    .news-card:hover .news-card__photo img {
        transform: scale(1.1);
    }
}