.product {
    position: relative;
}

.product__name {
    font-weight: 500;
    font-size: var(--fluid-36-22);
    line-height: 120%;
    text-transform: uppercase;
    margin-top: 16px;
}

.product__summary {
    container-type: inline-size;
}

.product .product-grid {
    display: grid;
    grid-template-columns: 50.65% 1fr;
    gap: 47px;
}

.product .product-grid__item {
    position: relative;
}

.product .product-grid__item:nth-child(2) {
    max-width: 777px;
    justify-self: center;
    padding-top: 36px;
}

.product .description {
    display: grid;
    gap: 16px;
    font-weight: 500;
    font-size: var(--fluid-16-13);
    line-height: 130%;
}

.product .description h6 {
    font-weight: 600;
    font-size: var(--fluid-14-11);
    line-height: 130%;
    color: #777d89;
}

.product .description h5 {
    font-weight: 600;
    font-size: var(--fluid-16-13);
    line-height: 130%;
}

.product .description__row {
    border-radius: var(--block-radius);
    padding: 16px 24px;
    background: #fff;
    display: grid;
    gap: 10px;
}

.product .description__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.product .product-description-list {
    margin-top: 26px;
}

.product .product-description-list__line {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 16px;
}

.product .product-description-list dt,
.product .product-description-list dd {
    font-weight: 500;
    font-size: var(--fluid-14-12);
    line-height: 150%;
}

.product .product-description-list dt {
    color: #6c6b6b;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
}

.product .product-description-list dt::after {
    content: "";
    height: 1px;
    width: 100%;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-bottom: 1px dotted var(--border-color);
}

.product .product-description-list dd {
    text-align: right;
}

.product-gallery {
    display: grid;
    grid-template-columns: 82px 1fr;
    gap: 8px;
}

.product-gallery__slider {
    min-width: 0;
    width: 100%;
    position: relative;
    height: 876px;
}

.product-gallery__slide {
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0px;
    background: #fff;
}

.product-gallery__slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}

.product-gallery .product-gallery-thumbs .product-gallery__slide {
    border-radius: 16px;
    border: 2px solid transparent;
    cursor: pointer;
    width: 100%;
    height: auto;
    padding-bottom: 100%;
    opacity: 0.5;
}

.product-gallery .product-gallery-thumbs .product-gallery__slide.swiper-slide-thumb-active {
    opacity: 1;
    border-color: var(--primary-color);
}

.product-gallery .product-gallery-main {
    position: relative;
    border-radius: var(--block-radius);
    overflow: hidden;
}

.product-gallery-labels {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 8px;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 16px;
    padding: 0px 16px;
    font-weight: 600;
    font-size: var(--fluid-16-13);
    line-height: 120%;
    color: #fff;
}

.product-gallery-labels li {
    border-radius: 50px;
    padding: 0px 16px;
    height: 51px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 6px;
}

.product-gallery-labels .popular {
    background: #407bff;
}

.product-gallery-labels .new {
    background: #4bc47d;
}

.product-gallery-labels .sale {
    background: #fb6361;
}

.product-gallery-labels .for {
    background: #f4f7ff;
    color: #191919;
}

.summary {
    display: grid;
    grid-template-columns: 1fr auto;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px 0px;
}

@container (width < 450px) {
    .summary {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

.price-amount {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 16px;
    font-weight: 500;
    font-size: var(--fluid-36-22);
    line-height: 120%;
    text-transform: uppercase;
}

.price-amount p {
    background: linear-gradient(42deg, #0090ff 0%, #1346c5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.price-amount del {
    font-weight: 600;
    font-size: var(--fluid-16-13);
    line-height: 130%;
    color: var(--text-color-gray);
}

.product-spollers {
    display: grid;
    gap: 8px;
}

.product-spollers__item {
    border-radius: 16px;
    padding: 0px 16px 0px 24px;
    background: #fff;
}

.product-spollers__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    padding: 16px 0px;
}

.product-spollers__body {
    padding-bottom: 16px;
}

.product-spollers .spollers__title {
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
}

.product-spollers .spollers__title::after {
    content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.73145 1.28892L7.73145 14.174" stroke="%23191919" stroke-width="1.82222" stroke-linecap="round" stroke-linejoin="round" /><path d="M14.174 7.73145L7.73145 14.174L1.28892 7.73144" stroke="%23191919" stroke-width="1.82222" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    width: 41px;
    height: 41px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #e9eaef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1;
    background: #fff;
    margin-left: auto;
}

.product-spollers .spollers__title._spoller-active::after {
    transform: rotate(-180deg);
    background: var(--primary-color);
    border-color: transparent;
    content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.73145 1.28892L7.73145 14.174" stroke="%23FFF" stroke-width="1.82222" stroke-linecap="round" stroke-linejoin="round" /><path d="M14.174 7.73145L7.73145 14.174L1.28892 7.73144" stroke="%23FFF" stroke-width="1.82222" stroke-linecap="round" stroke-linejoin="round" /></svg>');
}

.rs-product {
    border-radius: var(--block-radius);
    padding: 80px 42px;
    background: #f4f7ff;
}

@media (max-width: 1858px) {
    .rs-product {
        padding: 80px 0px;
    }
}

@media (max-width: 1400px) {
    .product-gallery__slider {
        height: 568px;
    }
}

@media (max-width: 1023.98px) {
    .product__name {
        -ms-flex-order: -1;
        order: -1;
    }

    .product .breadcrumbs {
        -ms-flex-order: -2;
        order: -2;
    }

    .product .product-grid {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .product .product-grid__item {
        display: contents;
    }

    .product-gallery__slider {
        height: 428px;
    }

    .product-gallery-labels li {
        padding: 0px 8px;
        height: 32px;
    }
}

@media (max-width: 767.98px) {
    .product-gallery {
        grid-template-columns: 60px 1fr;
    }

    .rs-product {
        padding: 32px 0px;
    }
}