.post {
    position: relative;
}

.post:nth-child(even) .post__column:last-child {
    -ms-flex-order: -1;
    order: -1;
}

.post:nth-child(even) .pst-gallery__nav {
    left: auto;
    right: 16px;
}

.post__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -ms-flex-align: center;
    align-items: center;
}

.post__column:first-child {
    min-width: 0;
}

.post__column:last-child {
    padding: 0px 24px;
    justify-self: center;
}

.post .post-content {
    max-width: 695px;
}

.pst-gallery {
    position: relative;
}

.pst-gallery__slider {
    border-radius: 0px;
}

.pst-gallery__slide > * {
    -webkit-clip-path: inset(0 0 0 100%);
    clip-path: inset(0 0 0 100%);
    transition: -webkit-clip-path var(--animation-duration) var(--timing-func) var(--animation-duration);
    transition: clip-path var(--animation-duration) var(--timing-func) var(--animation-duration);
    transition: clip-path var(--animation-duration) var(--timing-func) var(--animation-duration), -webkit-clip-path var(--animation-duration) var(--timing-func) var(--animation-duration);
}

.pst-gallery__slide.swiper-slide-active > * {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    transition: -webkit-clip-path var(--animation-duration) var(--timing-func) 0s;
    transition: clip-path var(--animation-duration) var(--timing-func) 0s;
    transition: clip-path var(--animation-duration) var(--timing-func) 0s, -webkit-clip-path var(--animation-duration) var(--timing-func) 0s;
}

.pst-gallery__nav {
    position: absolute;
    z-index: 2;
    bottom: 16px;
    left: 16px;
}

.pst-gallery .pst-slide {
    position: relative;
    padding-bottom: 89.1%;
}

.pst-gallery .pst-slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.rs-post-catalog {
    padding-top: 65px;
    padding-bottom: 65px;
}

.rs-post-catalog__wrapper {
    display: grid;
    gap: 90px;
}

@media (max-width: 1023.98px) {
    .post__wrapper {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .post__column:last-child {
        -ms-flex-order: -1;
        order: -1;
    }

    .rs-post-catalog {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}