.content-tabs {
    display: grid;
}

.content-tabs__section {
    scroll-margin-top: 276px;
    transition: all 0.8s var(--timing-func);
}

.content-tabs__tabs {
    overflow-x: auto;
    overflow-y: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0px;
    padding: 3px;
    border-radius: 15px;
    background: var(--bg-clr-2);
}

.content-tabs__tab {
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-weight: 500;
    font-size: var(--fluid-16-13);
    line-height: 100%;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 13px;
    padding: 0px 16px;
    height: 45px;
    background: transparent;
    transition: background var(--animation-duration) var(--timing-func);
}

.content-tabs__tab.sel {
    background: var(--primary-clr);
    color: #fff;
}

.content-tabs__body {
    padding-top: 30px;
}

@starting-style {
    .content-tabs__section {
        opacity: 0;
        translate: 0 10px;
    }
}

.rs-recipe {
    padding-top: 60px;
    padding-bottom: 60px;
}

.rs-recipe__head {
    margin-bottom: 40px;
}

.rs-recipe__footer {
    margin-top: 40px;
    text-align: center;
}

.recipe p {
    margin-bottom: 0;
}

.recipe__wrap {
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
}

.recipe__wrap:not(:last-child) {
    margin-bottom: 30px;
}

.recipe__wrap > *:nth-child(1) {
    -ms-flex: 1 0 39.59%;
    flex: 1 0 39.59%;
}

.recipe__wrap > *:nth-child(2) {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.recipe__steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 40px;
}

.recipe__step {
    min-height: 123px;
    border-radius: 20px;
    padding: 16px 14px;
    background: #f7f7f8;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 12px;
}

.recipe__step p {
    font-weight: 400;
    font-size: var(--fluid-16-13);
}

.recipe .single-video__wrapper,
.recipe .single-video__content {
    height: 100%;
}

@media (max-width: 1250px) {
    .content-tabs__tab {
        padding: 0px 8px;
    }
}

@media (max-width: 1023.98px) {
    .rs-recipe {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .recipe__wrap {
        gap: 0px;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .recipe__steps {
        margin-top: 40px;
        gap: 12px;
    }
}

@media (max-width: 767.98px) {
    .recipe__step {
        min-height: auto;
    }
}

@media (max-width: 479.98px) {
    .recipe__steps {
        grid-template-columns: 1fr;
    }
}

@media (any-hover: hover) {
    .content-tabs__tab:hover {
        background: var(--primary-clr);
        color: #fff;
    }
}