.services {
    position: relative;
}

.services__head {
    max-width: 760px;
    margin-bottom: 79px;
    padding-left: 69px;
}

.services__items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.services-card {
    position: relative;
    overflow: hidden;
    aspect-ratio: 0.9779;
}

.services-card > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    font-size: 0;
}

.services-card__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.services-card__content {
    padding: 60px;
    position: relative;
}

.services-card__title {
    font-weight: 500;
    font-size: var(--fluid-50-25);
    line-height: 110%;
    color: var(--text-color-2);
}

.services-card__text {
    font-size: var(--fluid-18-13);
    line-height: 150%;
    color: var(--text-color-2);
    margin-top: 1.1111111111em;
}

.services-card .services-card__photo {
    transition: transform var(--animation-duration) var(--timing-func);
}

.rs-services {
    padding-top: 65px;
    padding-bottom: 65px;
}

@media (max-width: 1023.98px) {
    .services__head {
        padding-left: 0;
        margin-bottom: 32px;
    }

    .services-card__content {
        padding: 24px;
    }

    .rs-services {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .services__items {
        grid-template-columns: 1fr;
    }
}

@media (any-hover: hover) {
    .services-card:hover .services-card__photo {
        transform: scale(1.07);
    }
}