.single-service__wrapper {
    display: grid;
    gap: 32px;
}

.single-service__block {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 16px;
}

.single-service__column:last-child {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}

.single-service__numb {
    margin-top: auto;
}

.single-service .single-service-content {
    margin-bottom: 24px;
}

.single-service .single-service-photo {
    overflow: hidden;
    height: 100%;
    -webkit-clip-path: inset(0 0 89% 0);
    clip-path: inset(0 0 89% 0);
    opacity: 0;
    transition: opacity 0.3s ease-in, -webkit-clip-path 1.1s ease-in;
    transition: clip-path 1.1s ease-in, opacity 0.3s ease-in;
    transition: clip-path 1.1s ease-in, opacity 0.3s ease-in, -webkit-clip-path 1.1s ease-in;
}

.single-service .single-service-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(20px);
    transform: scale(1.5);
    transition: all 1.1s ease-in;
}

.single-service .single-service-photo.in-view {
    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.single-service .single-service-photo.in-view img {
    filter: blur(0px);
    transform: scale(1);
}

.rs-single-service {
    padding-top: 65px;
    padding-bottom: 65px;
}

@media (min-width: 1023.98px) {
    .single-service__numb {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .single-service .single-service-content {
        max-width: 695px;
        margin: 0 auto;
    }
}

@media (max-width: 1023.98px) {
    .single-service__block {
        grid-template-columns: 1fr;
    }

    .single-service__column:last-child {
        -ms-flex-order: -1;
        order: -1;
    }

    .rs-single-service {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}