.services-page__block {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 1fr 57.5%;
    gap: 81px;
    -ms-flex-align: center;
    align-items: center;
}

.services-page .services-page-photo {
    border-radius: var(--block-radius);
    overflow: hidden;
}

.services-page .services-page-photo img {
    max-width: 100%;
}

@media (min-width: 1023.98px) {
    .services-page__block:nth-child(even) {
        grid-template-columns: 57.5% 1fr;
    }

    .services-page__block:nth-child(even) .services-page__column:last-child {
        -ms-flex-order: -1;
        order: -1;
    }
}

@media (max-width: 1023.98px) {
    .services-page__block {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media (max-width: 767.98px) {
    .services-page .services-page-content {
        display: grid;
    }
}