.services {
    position: relative;
    padding-left: 155px;
}

.services__head {
    max-width: 785px;
    margin-right: 190px;
}

.services .services-slider {
    position: relative;
    padding-top: 76px;
}

.services .services-slider__slide {
    height: auto;
    width: 450px;
}

.services .services-slider__nav {
    display: inline-grid;
    position: relative;
    position: absolute;
    right: 0;
    bottom: 100%;
    margin-right: 149px;
}

.services .services-slider__nav .slider-arrows {
    position: absolute;
    left: 0;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.services .services-slider__nav .slider-paging {
    display: inline-block;
    padding: 0px 51px;
}

.services-card {
    position: relative;
    overflow: hidden;
    aspect-ratio: 0.703125;
    position: relative;
    display: grid;
    -ms-flex-align: end;
    align-items: end;
}

.services-card > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    font-size: 0;
}

.services-card::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 13.51%, rgba(0, 0, 0, 0.6) 75.38%);
}

.services-card__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.services-card__content {
    padding: 55px;
    position: relative;
    z-index: 2;
}

.services-card__title {
    font-weight: 400;
    font-size: var(--fluid-25-18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 1.4em;
    color: #fff;
}

.services-card .services-card__photo {
    transition: transform var(--animation-duration) var(--timing-func);
}

.services-card .style-2 {
    height: 30px;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
}

.services-card .style-2 .mask {
    position: relative;
    padding: 0;
    height: 20px;
    overflow: hidden;
}

.services-card .style-2 .mask .link-container {
    transition: transform 0.4s ease;
}

.services-card .style-2 .mask .title {
    display: block;
    font-size: var(--fluid-14-12);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 20px;
    transition: transform 0.4s ease;
}

.services-card .style-2 .mask .link-title1 {
    transform-origin: right center;
}

.services-card .style-2 .mask .link-title2 {
    transform-origin: left center;
    transform: rotate(20deg);
}

.services-card .style-2 .link-icon {
    position: relative;
    width: 10px;
    height: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 6px;
    overflow: hidden;
}

.services-card .style-2 .link-icon .icon {
    display: block;
    position: absolute;
    transition: transform 0.4s ease;
}

.services-card .style-2 .link-icon .icon:nth-child(2) {
    transform: translate(-10px);
}

.services-card:hover .style-2 {
  /* Move up two texts (20px = font-size) */
}

.services-card:hover .style-2 .link-container {
    transform: translateY(-20px);
}

.services-card:hover .style-2 .link-title1 {
    transform: rotate(20deg);
}

.services-card:hover .style-2 .link-title2 {
    transform: rotate(0);
}

.services-card:hover .style-2 .icon:first-child {
    transform: translate(40px);
}

.services-card:hover .style-2 .icon:nth-child(2) {
    transform: translate(0px);
}

.rs-services {
    padding-top: 80px;
    padding-bottom: 80px;
}

.rs-services__wrapper {
    padding-left: 149px;
}

@media (max-width: 1600px) {
    .services {
        padding: 0;
    }
}

@media (max-width: 1500px) {
    .services .services-slider__nav {
        margin-right: 0;
    }

    .rs-services__wrapper {
        padding: 0;
    }
}

@media (max-width: 1023.98px) {
    .services .services-slider__slide {
        width: 350px;
    }

    .services-card__content {
        padding: 18px;
    }
}

@media (max-width: 767.98px) {
    .services__head {
        margin-right: 0;
    }

    .services .services-slider {
        padding-bottom: 76px;
        padding-top: 25px;
    }

    .services .services-slider__slide {
        width: 280px;
    }

    .services .services-slider__nav {
        bottom: 0;
    }

    .rs-services {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (any-hover: hover) {
    .services-card:hover .services-card__photo {
        transform: scale(1.1);
    }
}