.topic__head {
    max-width: 1093px;
    margin-bottom: 50px;
}

.topic__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.topic__column > img {
    width: 100%;
}

.topic__column .btn-color {
    margin-top: auto;
}

.topic__column:last-child {
    -ms-flex-item-align: end;
    align-self: end;
}

.topic__column:first-child {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
}

.rs-topic {
    padding-top: 65px;
    padding-bottom: 65px;
}

@media (max-width: 1023.98px) {
    .rs-topic {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media (max-width: 767.98px) {
    .topic__head {
        margin-bottom: 34px;
    }

    .topic__wrapper {
        grid-template-columns: 1fr;
    }
}