.topic__wrapper {
    display: grid;
    grid-template-columns: 1fr 49.34%;
    gap: 22px;
    -ms-flex-align: center;
    align-items: center;
}

.topic .topic-photo {
    overflow: hidden;
    height: 100%;
    border-radius: var(--block-radius);
}

.topic .topic-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rs-topic {
    padding-top: 68px;
    padding-bottom: 68px;
}

@media (min-width: 1023.98px) {
    .topic_rev .topic__wrapper {
        grid-template-columns: 49.34% 1fr;
    }

    .topic_rev .topic__column:last-child {
        -ms-flex-order: -1;
        order: -1;
    }

    .topic_rev .topic__column:first-child {
        justify-self: end;
    }

    .topic .topic-content {
        max-width: 836px;
    }
}

@media (max-width: 1023.98px) {
    .topic__wrapper {
        grid-template-columns: 1fr !important;
    }

    .rs-topic {
        padding-top: 34px;
        padding-bottom: 34px;
    }
}