* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

ul {
    margin-bottom: 0;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --main-bg-color: #fff;
    --main-text-color: #191919;
    --primary-color: #407bff;
    --border-color: rgba(25, 25, 25, 0.15);
    --error-color: #f15c5c;
    --bg-color-2: #15256d;
    --text-color-2: #fff;
    --text-color-gray: rgba(4, 4, 4, 0.5);
    --animation-duration: 0.45s;
    --timing-func: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    --block-radius: 24px;
    --fluid-96-32: clamp(32px, -14.3698113208px + 6.0377358491vw, 96px);
    --fluid-72-22: clamp(22px, -14.2264150943px + 4.7169811321vw, 72px);
    --fluid-70-22: clamp(22px, -12.7773584906px + 4.5283018868vw, 70px);
    --fluid-24-18: clamp(18px, 13.6528301887px + 0.5660377358vw, 24px);
    --fluid-21-16: clamp(16px, 12.3773584906px + 0.4716981132vw, 21px);
    --fluid-18-14: clamp(14px, 11.1018867925px + 0.3773584906vw, 18px);
    --fluid-14-11: clamp(11px, 8.8264150943px + 0.2830188679vw, 14px);
}

html {
    font-size: 16px;
    height: 100%;
    min-width: 320px;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

body.loaded {
    overflow: auto;
    -ms-touch-action: auto;
    touch-action: auto;
}

body.mobile-menu-opened {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.site {
    position: relative;
    overflow: clip;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.site > .site-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.site > .site-content > .site-wrapper {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.site > .site-content > .site-wrapper > .site-main {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.site-content {
    padding-top: 162px;
}

header {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    position: relative;
}

.globals,
.modals {
    display: contents;
}

[class*=__container] {
    max-width: 1828px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fancybox__container {
    max-width: none !important;
    padding: 0 !important;
}

input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none;
}

header {
    transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1), background 0.1s linear;
}

header._header-scroll {
    position: fixed;
    left: 0;
    width: 100%;
    background: var(--main-bg-color);
}

.btn-color {
    transform: translateZ(0);
    position: relative;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 50px;
    background: var(--primary-color);
    border-radius: 30px;
    max-width: 100%;
    height: 60px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 17px;
}

.btn-color span {
    font-weight: 500;
    font-size: 16px;
    text-transform: lowercase;
    color: var(--text-color-2);
    transition: transform 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-color__circle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-clip-path: circle(0 at 50% 50%);
    clip-path: circle(0 at 50% 50%);
    transition: -webkit-clip-path 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: clip-path 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: clip-path 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-clip-path 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    width: 28px;
    height: 28px;
    background-color: var(--main-bg-color);
    z-index: 2;
    position: absolute;
    top: 16px;
    right: 24px;
}

.btn-color__icon {
    transform: translateX(-28px);
    transition: transform 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    overflow: hidden;
    fill: var(--primary-color);
    stroke: var(--primary-color);
    max-width: 100%;
}

.btn-color_small {
    padding: 0px 30px;
    height: 43px;
}

.btn-color_small .btn-color__circle {
    width: 20px;
    height: 20px;
    top: 11px;
    right: 18px;
    padding: 5px;
}

.btn-border {
    transform: translateZ(0);
    position: relative;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 30px;
    background: transparent;
    border-radius: 30px;
    border: 1px solid var(--main-text-color);
    max-width: 100%;
    height: 43px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 4px;
}

.btn-border span {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-transform: lowercase;
    color: var(--main-text-color);
    transition: transform 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-border__circle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-clip-path: circle(0 at 50% 50%);
    clip-path: circle(0 at 50% 50%);
    transition: -webkit-clip-path 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: clip-path 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: clip-path 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-clip-path 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    z-index: 2;
    position: absolute;
    top: 11px;
    right: 18px;
}

.btn-border__icon {
    transform: translateX(-20px);
    transition: transform 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    overflow: hidden;
    fill: #fff;
    stroke: #fff;
}

.section-title > h2 {
    font-weight: 500;
    font-size: var(--fluid-72-22);
    line-height: 125%;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.section-title > h2 span {
    color: var(--primary-color);
}

.slider-arrows {
    pointer-events: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
}

.slider-arrows .slider-arrow {
    pointer-events: auto;
    position: relative;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    background: var(--main-bg-color);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all var(--animation-duration) var(--timing-func);
}

.slider-arrows .slider-arrow svg path {
    transition: all var(--animation-duration) var(--timing-func);
}

.slider-arrows .slider-arrow_prev:not(.swiper-button-disabled):hover, .slider-arrows .slider-arrow_next:not(.swiper-button-disabled):hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.slider-arrows .slider-arrow_prev:not(.swiper-button-disabled):hover svg path, .slider-arrows .slider-arrow_next:not(.swiper-button-disabled):hover svg path {
    stroke: #fff;
    fill: #fff;
}

.slider-arrows .slider-arrow.swiper-button-disabled {
    cursor: default;
    opacity: 0.5;
}

.slider-arrows .slider-arrow.swiper-button-lock {
    display: none;
}

.preloader {
    pointer-events: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #15256d;
}

.preloader > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.preloader__wrapper {
    height: 100%;
    padding: 42px;
    display: grid;
    place-items: center;
}

.preloader__content {
    position: relative;
    max-width: 580px;
    font-weight: 400;
    font-size: var(--fluid-24-18);
    line-height: 160%;
    color: #fff;
    text-align: center;
}

.preloader__content img {
    margin-bottom: 12px;
    max-width: 100%;
}

.preloader__content img:last-of-type {
    opacity: 0.3;
}

.preloader__content img:first-of-type {
    position: absolute;
    -webkit-clip-path: inset(0 calc(100% - var(--progress)) 0 0);
    clip-path: inset(0 calc(100% - var(--progress)) 0 0);
}

.preloader {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 50%, 100% 50%, 100% 50%, 0 50%, 0 100%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 50%, 100% 50%, 100% 50%, 0 50%, 0 100%, 100% 100%, 100% 0%);
    transition: -webkit-clip-path 0.95s var(--timing-func) 0.55s;
    transition: clip-path 0.95s var(--timing-func) 0.55s;
    transition: clip-path 0.95s var(--timing-func) 0.55s, -webkit-clip-path 0.95s var(--timing-func) 0.55s;
}

.loaded .preloader {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.site-fullhd {
    max-width: 1920px;
    margin: 0 auto;
}

.site-social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.site-social__title {
    font-weight: 700;
    font-size: 16px;
    text-wrap: nowrap;
}

.site-social__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
}

.site-social__list li {
    list-style: none;
    padding: 0;
}

.site-social__list li a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0;
    padding: 0px;
    width: 32px;
    height: 32px;
    transition: transform var(--animation-duration) var(--timing-func);
}

.site-social__list li a img {
    max-width: 100%;
}

@media (max-width: 1023.98px) {
    .site-content {
        padding-top: 83px;
    }

    [class*=__container] {
        max-width: 768px;
    }
}

@media (max-width: 767.98px) {
    :root {
        --block-radius: 15px;
    }

    .site-content {
        padding-top: 53px;
    }

    .slider-arrows .slider-arrow {
        width: 52px;
        height: 52px;
    }
}

@media (any-hover: hover) {
    .btn-color:hover span {
        transform: translateX(-28px);
    }

    .btn-color:hover .btn-color__circle {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
    }

    .btn-color:hover .btn-color__icon {
        transform: translateX(0);
    }

    .btn-color_small:hover span {
        transform: translateX(-14px);
    }

    .btn-border:hover span {
        transform: translateX(-14px);
    }

    .btn-border:hover .btn-border__circle {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
    }

    .btn-border:hover .btn-border__icon {
        transform: translateX(0);
    }

    .site-social__list li a:hover {
        transform: translateY(-4px) scale(1.1);
    }
}

@media (any-hover: none) {
    [data-hidescroll]::-webkit-scrollbar {
        width: 0;
    }

    [data-hidescroll] {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}