@font-face {
    font-family: "NT Somic";
    src: url("../fonts/NTSomic-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NT Somic";
  src: url("../fonts/NTSomic-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "NT Somic";
  src: url("../fonts/NTSomic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

ul {
    margin-bottom: 0;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --font-family: "NT Somic", sans-serif;
    --main-bg-color: #f8f8f8;
    --main-text-color: #011c2f;
    --primary-color: #5784d5;
    --border-color: #afbcd3;
    --error-color: #f15c5c;
    --accent-color: #3a53e1;
    --bg-color-2: #fff;
    --text-color-2: #fff;
    --text-color-gray: #afbcd3;
    --animation-duration: 0.35s;
    --timing-func: ease-out;
    --block-radius: 32px;
    --fluid-390-270: clamp(270px, 187.8609625668px + 10.6951871658vw, 390px);
    --fluid-90-35: clamp(35px, -2.6470588235px + 4.9019607843vw, 90px);
    --fluid-80-25: clamp(25px, -12.6470588235px + 4.9019607843vw, 80px);
    --fluid-72-25: clamp(25px, -7.1711229947px + 4.1889483066vw, 72px);
    --fluid-50-25: clamp(25px, 7.8877005348px + 2.2281639929vw, 50px);
    --fluid-24-14: clamp(14px, 7.1550802139px + 0.8912655971vw, 24px);
    --fluid-22-15: clamp(15px, 10.2085561497px + 0.623885918vw, 22px);
    --fluid-18-13: clamp(13px, 9.577540107px + 0.4456327986vw, 18px);
    --fluid-16-12: clamp(12px, 9.2620320856px + 0.3565062389vw, 16px);
}

html {
    font-size: 16px;
    height: 100%;
    min-width: 320px;
}

body {
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

body.mobile-menu-opened {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.site {
    position: relative;
    overflow: clip;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.site > .site-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.site > .site-content > .site-wrapper {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.site > .site-content > .site-wrapper > .site-main {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.site-wrapper {
    opacity: 0;
    transition: opacity 0s 0.3s;
}

body.loaded .site-wrapper {
    opacity: 1;
}

.site-content {
    padding-top: 100px;
}

header {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    position: relative;
}

.globals,
.modals {
    display: contents;
}

[class*=__container] {
    max-width: 1890px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fancybox__container {
    max-width: none !important;
    padding: 0 !important;
}

header {
    transition: transform 0.25s ease-out;
}

header.sticky {
    position: fixed;
    left: 0;
    width: 100%;
}

header.sticky {
    box-shadow: 5px 4px 22px 0 rgba(0, 58, 108, 0.1);
}

.base-content {
    font-size: var(--fluid-18-13);
    line-height: 12px;
}

.base-content * {
    line-height: normal;
}

.base-content * span {
    color: var(--primary-color);
}

.base-content .wrap {
    line-height: 8px;
}

.base-content .wrap * {
    line-height: normal;
}

.base-content[data-site-columns] {
    display: grid;
    gap: 16px 60px;
}

.base-content[data-site-columns="2"] {
    grid-template-columns: repeat(2, 1fr);
}

.base-content[data-site-columns="3"] {
    grid-template-columns: repeat(3, 1fr);
}

.base-content blockquote {
    line-height: 8px;
    padding: 16px 0px 16px 24px;
    border-left: 5px solid var(--primary-color);
}

.base-content blockquote * {
    line-height: normal;
}

.base-content p {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    line-height: 150%;
}

.base-content p.quote {
    color: var(--primary-color);
    text-align: right;
}

.base-content h3 {
    font-weight: 500;
    font-size: var(--fluid-50-25);
    line-height: 110%;
}

.base-content ul {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    padding-left: 26px;
}

.base-content ul li {
    line-height: 150%;
    list-style: disc;
}

.base-content ul.marker-list {
    display: grid;
    gap: 16px;
    padding-left: 0;
}

.base-content ul.marker-list li {
    list-style: none;
    padding-left: 32px;
    position: relative;
}

.base-content ul.marker-list li::before {
    content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="%2382C45F" stroke="%2382C45F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M16.125 9.75L10.625 15L7.875 12.375" stroke="%23006241" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    position: absolute;
    left: 0;
    top: 0;
}

.base-content ol {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    padding-left: 26px;
}

.base-content .site-table {
    display: grid;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1px;
}

.base-content .site-table table {
    border-radius: 10px;
    box-shadow: 0 0 0 1px var(--border-color);
    text-align: left;
    border-collapse: collapse;
}

.base-content .site-table table th:not(:last-child) {
    border-right: 1px solid var(--border-color);
}

.base-content .site-table table td {
    border-top: 1px solid var(--border-color);
}

.base-content .site-table table td:not(:last-child) {
    border-right: 1px solid var(--border-color);
}

.base-content .site-table table th,
.base-content .site-table table td {
    padding: 15px 20px;
}

.btn-color {
    transform: translateZ(0);
    position: relative;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 50px;
    background: var(--primary-color);
    border-radius: 0px;
    max-width: 100%;
    height: 69px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 8px;
    transition: background var(--animation-duration) var(--timing-func);
}

.btn-color span {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color-2);
}

.btn-icon {
    transform: translateZ(0);
    position: relative;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 69px;
    display: inline-grid;
    grid-template-columns: 1fr 69px;
    gap: 12px;
}

.btn-icon span {
    background: var(--primary-color);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.btn-icon__title {
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color-2);
    padding: 0px 25px;
}

.btn-icon__icon {
    padding: 8px;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn-icon__icon img {
    max-width: 100%;
}

.btn-icon span {
    transition: background var(--animation-duration) var(--timing-func);
}

.section-title > span {
    display: block;
    font-size: var(--fluid-16-12);
    text-transform: uppercase;
    color: var(--text-color-gray);
    margin-bottom: 2.8125em;
}

.section-title > h2 {
    font-weight: 500;
    font-size: var(--fluid-50-25);
    line-height: 110%;
    color: var(--main-text-color);
}

.section-title > h2 span {
    color: var(--text-color-gray);
}

.slider-arrows {
    pointer-events: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 7px;
}

.slider-arrows .slider-arrow {
    pointer-events: auto;
    position: relative;
    width: 72px;
    height: 72px;
    border-radius: 0px;
    background: var(--main-bg-color);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider-arrows .slider-arrow svg path {
    transition: stroke var(--animation-duration) var(--timing-func);
}

.slider-arrows .slider-arrow_prev:not(.swiper-button-disabled):hover svg path, .slider-arrows .slider-arrow_next:not(.swiper-button-disabled):hover svg path {
    stroke: var(--primary-color);
}

.slider-arrows .slider-arrow.swiper-button-disabled {
    cursor: default;
    opacity: 0.5;
}

.slider-arrows .slider-arrow.swiper-button-lock {
    display: none;
}

.stripes {
    width: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    pointer-events: none;
}

.stripes__container {
    height: 100%;
}

.stripes__wrapper {
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    justify-items: start;
    position: relative;
}

.stripes__stripe {
    width: 1px;
    background-color: var(--border-color);
}

.stripes__stripe_right {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0px;
}

.page-head {
    position: relative;
    padding-top: 39px;
    padding-bottom: 40px;
}

.page-head__wrapper {
    position: relative;
}

.page-head__wrapper > svg {
    position: absolute;
    right: -15px;
    top: 0;
}

.page-head__content {
    padding-left: 69px;
    padding-top: 25px;
    max-width: 999px;
}

.page-head__content h1 {
    font-weight: 500;
    font-size: var(--fluid-72-25);
    line-height: 95%;
}

.page-head__content h1 span {
    color: var(--text-color-gray);
}

.page-head__content p {
    font-size: var(--fluid-24-14);
    line-height: 150%;
    margin-top: 1.25em;
}

.rolling-numb__line {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: var(--fluid-90-35);
    line-height: 1.3888888889em;
    color: #011c2f;
    display: -ms-flexbox;
    display: flex;
    height: 1.3888888889em;
    overflow: hidden;
    text-align: right;
}

.rolling-numb__up {
    transform: translateY(-800%);
    transition: transform 1.2s ease-in-out;
}

.rolling-numb__down {
    transition: transform 1.5s ease-in-out;
}

.rolling-numb__suffix {
    color: var(--primary-color);
}

.rolling-numb__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--fluid-18-13);
    line-height: 110%;
    color: #011c2f;
}

.rolling-numb.in-view .rolling-numb__up {
    transform: translateY(0%);
}

.rolling-numb.in-view .rolling-numb__down {
    transform: translateY(-800%);
}

.site-fullhd {
    max-width: 1920px;
    margin: 0 auto;
}

.site-logos {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
}

.site-logos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.site-social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.site-social__title {
    font-weight: 700;
    font-size: 16px;
    text-wrap: nowrap;
}

.site-social__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
}

.site-social__list li {
    list-style: none;
    padding: 0;
}

.site-social__list li a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    width: 44px;
    height: 44px;
    background: var(--primary-color);
}

.site-social__list li a img {
    max-width: 100%;
}

@media (max-width: 1350px) {
    .btn-color {
        padding: 0px 15px;
    }
}

@media (max-width: 1023.98px) {
    .site-content {
        padding-top: 83px;
    }

    [class*=__container] {
        max-width: 768px;
    }

    .base-content[data-site-columns="2"] {
        grid-template-columns: 1fr;
    }

    .base-content[data-site-columns="3"] {
        grid-template-columns: 1fr 1fr;
    }

    .stripes {
        display: none;
    }

    .page-head__wrapper > svg {
        display: none;
    }

    .page-head__content {
        padding-left: 0;
        padding-top: 0;
    }

    .rolling-numb {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        gap: 0px 24px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (max-width: 767.98px) {
    :root {
        --block-radius: 15px;
    }

    .site-content {
        padding-top: 53px;
    }

    .base-content[data-site-columns="3"] {
        grid-template-columns: 1fr;
    }

    .btn-color {
        height: 61px;
    }

    .btn-icon {
        height: 61px;
        grid-template-columns: 1fr 61px;
    }

    .btn-icon__title {
        padding: 0px 12px;
    }

    .slider-arrows .slider-arrow {
        width: 43px;
        height: 43px;
    }
}

@media (any-hover: hover) {
    .btn-color:hover {
        background: #7ba5f1;
    }

    .btn-icon:hover span {
        background: #7ba5f1;
    }
}

@media (any-hover: none) {
    [data-hidescroll]::-webkit-scrollbar {
        width: 0;
    }

    [data-hidescroll] {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}