@charset "UTF-8";

@font-face {
    font-family: "Pragmatica";
  src: url("../fonts/pragmatica.woff2") format("woff2"), url("../fonts/pragmatica.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

ul {
    margin-bottom: 0;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --font-family: "Nunito Sans", sans-serif;
    --second-family: "Nunito", sans-serif;
    --third-family: "Manrope", sans-serif;
    --main-bg-color: #fff;
    --main-text-color: #000;
    --primary-color: #82c45f;
    --border-color: #eaeaea;
    --error-color: #f15c5c;
    --accent-color: #a4e980;
    --bg-color-2: #f0f6f4;
    --bg-color-3: #f0ffe8;
    --bg-color-4: #006241;
    --text-color-2: #fff;
    --text-color-3: #6d758d;
    --animation-duration: 0.35s;
    --timing-func: ease-out;
    --block-radius: 32px;
    --fluid-44-22: clamp(22px, 0.9850746269px + 2.736318408vw, 44px);
    --fluid-40-24: clamp(24px, 8.7164179104px + 1.9900497512vw, 40px);
    --fluid-32-20: clamp(20px, 8.5373134328px + 1.4925373134vw, 32px);
    --fluid-22-18: clamp(18px, 14.1791044776px + 0.4975124378vw, 22px);
    --fluid-20-16: clamp(16px, 12.1791044776px + 0.4975124378vw, 20px);
    --fluid-18-14: clamp(14px, 10.1791044776px + 0.4975124378vw, 18px);
    --fluid-15-13: clamp(13px, 11.0895522388px + 0.2487562189vw, 15px);
    --fluid-14-12: clamp(12px, 10.0895522388px + 0.2487562189vw, 14px);
}

html {
    font-size: 16px;
    height: 100%;
    min-width: 320px;
}

body {
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

body.mobile-menu-opened {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.main {
    opacity: 0;
    transition: opacity 0.1s 0.4s;
}

body.loaded .main {
    opacity: 1;
}

.site-wrapper,
.site {
    position: relative;
    overflow: clip;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.site-wrapper > .main,
.site-wrapper .site-content,
.site > .main,
.site .site-content {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

header {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    position: relative;
}

.main,
.site-content {
    position: relative;
    padding-top: 146px;
}

.globals,
.modals {
    display: contents;
}

[class*=__container] {
    max-width: 1572px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fancybox__container {
    max-width: none !important;
    padding: 0 !important;
}

input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none;
}

.base-content {
    font-size: var(--fluid-18-14);
    font-family: var(--third-family);
    line-height: 15px;
}

.base-content * {
    line-height: normal;
}

.base-content * span {
    color: var(--primary-color);
}

.base-content .wrap {
    line-height: 8px;
}

.base-content .wrap * {
    line-height: normal;
}

.base-content[data-site-columns] {
    display: grid;
    gap: 16px 60px;
}

.base-content[data-site-columns="2"] {
    grid-template-columns: repeat(2, 1fr);
}

.base-content[data-site-columns="3"] {
    grid-template-columns: repeat(3, 1fr);
}

.base-content blockquote {
    line-height: 8px;
    padding: 16px 0px 16px 24px;
    border-left: 5px solid var(--primary-color);
}

.base-content blockquote * {
    line-height: normal;
}

.base-content p {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    line-height: 160%;
}

.base-content p.quote {
    color: var(--primary-color);
    text-align: right;
}

.base-content h2 {
    font-size: var(--fluid-40-24);
    font-weight: 700;
    line-height: 120%;
}

.base-content h3 {
    font-weight: 700;
    font-size: var(--fluid-32-20);
    line-height: 120%;
}

.base-content h4 {
    font-size: var(--fluid-24-20);
    font-weight: 700;
    line-height: 120%;
}

.base-content ul {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    padding-left: 26px;
}

.base-content ul li {
    list-style: disc;
}

.base-content ul.marker-list {
    display: grid;
    gap: 16px;
    padding-left: 0;
}

.base-content ul.marker-list li {
    list-style: none;
    padding-left: 32px;
    position: relative;
}

.base-content ul.marker-list li::before {
    content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="%2382C45F" stroke="%2382C45F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M16.125 9.75L10.625 15L7.875 12.375" stroke="%23006241" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    position: absolute;
    left: 0;
    top: 0;
}

.base-content ol {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    padding-left: 26px;
}

.base-content .site-table {
    display: grid;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1px;
}

.base-content .site-table table {
    border-radius: 10px;
    box-shadow: 0 0 0 1px var(--border-color);
    text-align: left;
    border-collapse: collapse;
}

.base-content .site-table table th:not(:last-child) {
    border-right: 1px solid var(--border-color);
}

.base-content .site-table table td {
    border-top: 1px solid var(--border-color);
}

.base-content .site-table table td:not(:last-child) {
    border-right: 1px solid var(--border-color);
}

.base-content .site-table table th,
.base-content .site-table table td {
    padding: 15px 20px;
}

.btn-color {
    transform: translateZ(0);
    position: relative;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 32px;
    background: var(--primary-color);
    border-radius: 16px;
    max-width: 100%;
    height: 62px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 8px;
    transition: background var(--animation-duration) var(--timing-func);
}

.btn-color span {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: var(--text-color-2);
}

.btn-color span {
    transition: color var(--animation-duration) var(--timing-func);
}

.btn-color_small {
    height: 50px;
    padding: 0px 24px;
}

.btn-color_small span {
    font-size: 16px;
}

.btn-color_gray {
    background: #f0f6f4;
}

.btn-color_gray span {
    color: var(--main-text-color);
}

.btn-color_dark {
    background: #006241;
}

.btn-color_light {
    background: #f0ffe8;
}

.btn-color_light span {
    color: #006241;
}

.btn-border {
    max-width: 100%;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--primary-color);
    padding: 0px 32px;
    border: 1px solid var(--primary-color);
    border-radius: 0px;
    height: 50px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: all var(--animation-duration) var(--timing-func);
}

.section-title > h2 {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: var(--fluid-40-24);
    line-height: 120%;
}

.slider-arrows {
    pointer-events: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 7px;
}

.slider-arrows .slider-arrow {
    pointer-events: auto;
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 70px;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider-arrows .slider-arrow svg path {
    transition: stroke var(--animation-duration) var(--timing-func);
}

.slider-arrows .slider-arrow_prev:not(.swiper-button-disabled):hover svg path, .slider-arrows .slider-arrow_next:not(.swiper-button-disabled):hover svg path {
    stroke: var(--primary-color);
}

.slider-arrows .slider-arrow.swiper-button-disabled {
    cursor: default;
    opacity: 0.5;
}

.slider-arrows .slider-arrow.swiper-button-lock {
    display: none;
}

.breadcrumbs {
    padding: 40px 0px 16px 0px;
    font-size: 14px;
    line-height: 150%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 8px;
}

.breadcrumbs a {
    transition: opacity var(--animation-duration) var(--timing-func);
    color: inherit;
    display: inline-block;
    opacity: 0.5;
}

.breadcrumbs a:hover {
    opacity: 1;
}

.breadcrumbs span {
    display: inline-block;
    cursor: default;
}

.page-pagination {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 16px;
}

.page-pagination span,
.page-pagination a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #1a1a1f;
}

.page-pagination a {
    transition: color var(--animation-duration) var(--timing-func);
}

.page-pagination .next svg,
.page-pagination .prev svg {
    max-width: 100%;
}

.page-pagination .next svg path,
.page-pagination .prev svg path {
    transition: stroke var(--animation-duration) var(--timing-func);
}

.page-pagination .next {
    margin-left: auto;
}

.page-pagination .prev {
    margin-right: auto;
}

.page-pagination .current {
    color: #fff;
    background: var(--primary-color);
}

.sidebar-menu {
    position: relative;
    border: 1px solid #cfebc0;
    border-radius: 15px;
    background: var(--bg-color-3);
}

.sidebar-menu__list li {
    padding: 7px 6px;
}

.sidebar-menu__list li:not(:last-child) {
    border-bottom: 1px solid #cfebc0;
}

.sidebar-menu__list li a {
    display: block;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: var(--main-text-color);
    border-radius: 5px;
    transition: all var(--animation-duration) var(--timing-func);
}

.sidebar-menu__list li.current-menu-item a {
    background: var(--primary-color);
    color: #fff;
}

select {
    margin-left: 2px;
    height: 24px;
    -webkit-appearance: none;
    appearance: none !important;
    border: none;
    padding: 0px 24px 0px 6px;
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-color);
    background: url("../img/icons/chevron_down_icon.svg") calc(100% - 8px) center no-repeat;
}

select::-ms-expand {
    display: none;
}

select:focus {
    outline: none;
}

select option {
    font-weight: normal;
}

label:has(+ select) {
    font-size: 14px;
    line-height: 114%;
    color: #6c6b6b;
}

.range-slider {
    position: relative;
    padding-top: 7px;
}

.range-slider .prefix {
    margin-right: -30px;
    padding-left: 16px;
}

.range-slider__target {
    margin-top: 16px;
    margin-bottom: 18px;
}

.range-slider__values {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 8px 12px;
}

.range-slider__values button {
    height: 40px;
    border-radius: 8px;
    background: var(--primary-color);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px 14px;
    margin-left: 6px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    transition: background var(--animation-duration) var(--timing-func);
}

.range-slider__value {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.range-slider__value input {
    background: transparent;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0px 6px;
    font-weight: 400;
    font-size: 16px;
    color: var(--main-text-color);
    border-radius: 0px;
}

.range-slider__value:first-child::after {
    content: "—";
}

.range-slider .noUi-target {
    background: rgba(130, 196, 95, 0.15);
    border: none;
    border-radius: 2px;
    height: 4px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.range-slider .noUi-connect {
    background: var(--primary-color);
}

.range-slider .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    right: -10px;
    top: -8.5px;
    border-radius: 50%;
}

.range-slider .noUi-handle {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

.quantity {
    height: 46px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    background: #fff;
}

.quantity__button {
    width: 40px;
    height: 100%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.quantity__button svg path {
    transition: fill var(--animation-duration) var(--timing-func);
}

.quantity__button:hover svg path {
    fill: #145243;
}

.quantity__input {
    width: 91px;
    height: 100%;
}

.quantity__input input {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #1a1a1f;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.quantity__input input:focus {
    outline: none;
}

.quantity__input input[type=number]::-webkit-outer-spin-button,
.quantity__input input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.quantity__input input[type=number],
.quantity__input input[type=number]:hover,
.quantity__input input[type=number]:focus {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
}

.page-sidebar {
    display: grid;
    grid-template-columns: 371px 1fr;
    gap: 30px;
    position: relative;
}

.page-sidebar__aside {
    position: relative;
}

.page-sidebar__content {
    min-width: 0;
}

.site-fullhd {
    max-width: 1920px;
    margin: 0 auto;
}

.site-padding {
    padding: 0px 40px;
}

.site-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: var(--primary-color);
    transition: all var(--animation-duration) var(--timing-func);
}

.site-social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.site-social__title {
    font-weight: 700;
    font-size: 16px;
    text-wrap: nowrap;
}

.site-social__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
}

.site-social__list li {
    list-style: none;
    padding: 0;
}

.site-social__list li a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    width: 44px;
    height: 44px;
    background: var(--primary-color);
}

.site-social__list li a img {
    max-width: 100%;
}

.site-documents {
    display: grid;
    gap: 24px;
}

.site-documents-link {
    display: block;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 6px -1px rgba(11, 15, 25, 0.03), 0 4px 10px -1px rgba(11, 15, 25, 0.06);
    background: var(--bg-color-3);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px 16px;
    transition: background var(--animation-duration) var(--timing-func);
}

.site-documents-link span {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 10px;
    width: 56px;
    height: 56px;
    background: var(--main-bg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #006241;
    grid-row: span 2;
}

.site-documents-link h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #0b0f19;
}

.site-documents-link p {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #383b56;
}

.site-documents-link h6,
.site-documents-link p {
    transition: color var(--animation-duration) var(--timing-func);
}

@media (min-width: 1023.98px) {
    .page-sidebar__aside > * {
        position: -webkit-sticky;
        position: sticky;
        top: 80px;
    }
}

@media (max-width: 1023.98px) {
    .main,
  .site-content {
        padding-top: 86px;
    }

    [class*=__container] {
        max-width: 768px;
    }

    .base-content[data-site-columns="2"] {
        grid-template-columns: 1fr;
    }

    .base-content[data-site-columns="3"] {
        grid-template-columns: 1fr 1fr;
    }

    .page-sidebar {
        grid-template-columns: 1fr;
    }

    .site-padding {
        padding: 0;
    }
}

@media (max-width: 767.98px) {
    :root {
        --block-radius: 15px;
    }

    .main,
  .site-content {
        padding-top: 53px;
    }

    .base-content[data-site-columns="3"] {
        grid-template-columns: 1fr;
    }

    .btn-color {
        height: 46px;
    }

    .btn-color span {
        font-size: 14px;
    }
}

@media (max-width: 479.98px) {
    .page-pagination {
        gap: 6px;
    }

    .page-pagination span,
  .page-pagination a {
        width: 28px;
        height: 28px;
        font-size: 12px;
    }

    .page-pagination .next,
  .page-pagination .prev {
        padding: 11px;
    }
}

@media (any-hover: hover) {
    .btn-color:hover {
        background: var(--accent-color);
    }

    .btn-color_light:hover {
        background: var(--primary-color);
    }

    .btn-color_light:hover span {
        color: var(--text-color-2);
    }

    .btn-border:hover {
        color: var(--text-color-2);
        background: var(--primary-color);
    }

    .page-pagination a:hover {
        color: var(--primary-color);
    }

    .page-pagination .next:hover svg path,
  .page-pagination .prev:hover svg path {
        stroke: var(--primary-color);
    }

    .sidebar-menu__list li a:hover {
        background: var(--primary-color);
        color: #fff;
    }

    .range-slider__values button:hover {
        background: var(--accent-color);
    }

    .site-link:hover {
        letter-spacing: 1px;
    }

    .site-documents-link:hover {
        background: var(--primary-color);
    }

    .site-documents-link:hover h6,
  .site-documents-link:hover p {
        color: #fff;
    }
}

@media (any-hover: none) {
    [data-hidescroll]::-webkit-scrollbar {
        width: 0;
    }

    [data-hidescroll] {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}