.rs-17 .rs-history {
    font-size: 10px;
}

.rs-17 .rs-history h2 {
    font-size: 5em;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #040303;
}

.rs-17 .rs-history__container {
    padding-top: 80px;
    padding-left: 126px;
    padding-right: 126px;
    position: relative;
}

.rs-17 .rs-history__content {
    padding-top: 160px;
    padding-bottom: 160px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rs-17 .rs-history__years {
    -ms-flex: 0 1 66.6667%;
    flex: 0 1 66.6667%;
}

.rs-17 .rs-history__events {
    -ms-flex: 0 1 33.3333%;
    flex: 0 1 33.3333%;
}

.rs-17 .rs-history__events-block.is-active .rs-history__events-item span,
.rs-17 .rs-history__events-block.is-active .rs-history__events-item p {
    color: #aa2230;
}

.rs-17 .rs-history__events-item {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #c5c5c5;
}

.rs-17 .rs-history__events-item span {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #c4c4c4;
    transition: color 0.3s ease 0s;
}

.rs-17 .rs-history__events-item p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: #5b5b5b;
    padding-top: 0;
    margin-bottom: 0;
    transition: color 0.3s ease 0s;
}

.rs-17 .rs-history .years {
    position: relative;
}

.rs-17 .rs-history .years__circle {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-17 .rs-history .years__circle rect {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.25, 0.74, 0.22, 0.99);
    transition-property: stroke-dashoffset;
    fill: none;
    stroke: #c4c4c4;
    stroke-width: 1.25;
    stroke-dasharray: 1;
    stroke-dashoffset: 2;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    rx: 240px;
    ry: 240px;
    opacity: 0.45;
    transform-origin: 50% 50%;
}

.rs-17 .rs-history .years__circle rect + rect {
    stroke: #aa2230;
    stroke-dashoffset: 1;
    stroke-width: 0.75;
    opacity: 1;
}

.rs-17 .rs-history .years__vertical {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    font-weight: 600;
    font-size: 260px;
    line-height: 1;
    text-transform: uppercase;
}

.rs-17 .rs-history .years__left {
    position: relative;
    z-index: 1;
    color: #aa2230;
}

.rs-17 .rs-history .years__right-list {
    position: absolute;
}

.rs-17 .rs-history .years__right-list-item {
    color: #c4c4c4;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0.2;
    transition: all 0.3s ease 0s;
}

.rs-17 .rs-history .years__right-list-item.is-active {
    opacity: 1;
    color: #aa2230;
}

@media (max-width: 1695px) {
    .rs-17 .rs-history {
        font-size: calc(8px + 2 * ((100vw - 320px) / 1375));
    }
}

@media (max-width: 1500px) {
    .rs-17 .rs-history__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .rs-17 .rs-history .years__vertical {
        font-size: 180px;
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-history__content {
        display: block;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .rs-17 .rs-history__years {
        display: none;
    }
}