.rs-17 .rs-metrics {
    overflow: hidden;
    font-size: 10px;
}

.rs-17 .rs-metrics__container {
    display: -ms-flexbox;
    display: flex;
}

.rs-17 .rs-metrics__text {
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding-left: 126px;
    border-right: 1px solid #c5c5c5;
    padding-right: 130px;
    padding-top: 53px;
    padding-bottom: 90px;
}

.rs-17 .rs-metrics__text h2 {
    font-size: 5em;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #0c0c0d;
    margin-bottom: 29px;
}

.rs-17 .rs-metrics__text h6 {
    font-size: 2.1em;
    line-height: 1.4;
    color: #424242;
    margin-bottom: 10px;
}

.rs-17 .rs-metrics__text p {
    font-size: 1.6em;
    line-height: 1.75;
    color: #424242;
    margin-bottom: 10px;
}

.rs-17 .rs-metrics__text a {
    margin-top: 19px;
}

.rs-17 .rs-metrics__nums {
    background: url("../../img/metrics_bg.jpg") 0 0/cover no-repeat;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rs-17 .rs-metrics__nums-item {
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding-left: 37px;
    padding-right: 37px;
    display: -ms-flexbox;
    display: flex;
}

.rs-17 .rs-metrics__nums-item:nth-child(even) {
    border-left: 1px solid #c5c5c5;
}

.rs-17 .rs-metrics__nums-item:nth-child(1) {
    border-bottom: 1px solid #c5c5c5;
}

.rs-17 .rs-metrics__nums-item:nth-child(2) {
    border-bottom: 1px solid #c5c5c5;
}

.rs-17 .rs-metrics__nums-body {
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding-bottom: 46px;
}

.rs-17 .rs-metrics__nums-body p {
    font-size: 1.8em;
    font-weight: 600;
    color: #040404;
    line-height: 1.2;
    margin-top: 10px;
}

@media (max-width: 1695px) {
    .rs-17 .rs-metrics {
        font-size: calc(5px + 5 * ((100vw - 320px) / 1375));
    }

    .rs-17 .rs-metrics__text {
        padding-right: calc(-70px + 200 * ((100vw - 320px) / 1375));
    }

    .rs-17 .rs-metrics__text {
        padding-top: calc(20px + 33 * ((100vw - 320px) / 1375));
    }

    .rs-17 .rs-metrics__text {
        padding-bottom: calc(20px + 70 * ((100vw - 320px) / 1375));
    }
}

@media (max-width: 1400px) {
    .rs-17 .rs-metrics__nums-item {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-metrics__container {
        display: block;
    }

    .rs-17 .rs-metrics__text {
        padding-left: 15px;
        padding-right: 15px;
    }

    .rs-17 .rs-metrics__nums {
        border-top: 1px solid #c5c5c5;
    }
}

@media (max-width: 479.98px) {
    .rs-17 .rs-metrics__nums {
        display: block;
    }

    .rs-17 .rs-metrics__nums-item:nth-child(3) {
        border-bottom: 1px solid #c5c5c5;
    }
}