.rs-17 .rs-slider {
    overflow: hidden;
    position: relative;
}

.rs-17 .rs-slider .container-fluid {
    border: none;
    position: relative;
}

.rs-17 .rs-slider__container {
    background: url("../../img/slider/slide_backgorund.jpg") 0 0/cover no-repeat;
}

.rs-17 .rs-slider__adv {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 66%;
}

.rs-17 .rs-slider .slider-adv {
    padding: 25px 0px;
    min-height: 150px;
    background-color: #a9232e;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 10px;
}

.rs-17 .rs-slider .slider-adv__items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rs-17 .rs-slider .slider-adv__item {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 52px;
    padding-right: 52px;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
}

.rs-17 .rs-slider .slider-adv__item:nth-child(1) {
    transition-delay: 0.2s;
}

.rs-17 .rs-slider .slider-adv__item:nth-child(2) {
    transition-delay: 0.4s;
}

.rs-17 .rs-slider .slider-adv__item:nth-child(3) {
    transition-delay: 0.6s;
}

.rs-17 .rs-slider .slider-adv__icon {
    height: 28px;
    margin-bottom: 13px;
}

.rs-17 .rs-slider .slider-adv__text {
    font-size: 1.6em;
    line-height: 1.2;
    font-weight: 600;
    color: #ffffff;
}

.rs-17 .rs-slider .main-slider {
    font-size: 10px;
}

.rs-17 .rs-slider .main-slider__slide {
    position: relative;
    min-height: 936px;
}

.rs-17 .rs-slider .main-slider__slide-inner {
    max-width: 910px;
    padding-left: 126px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}

.rs-17 .rs-slider .main-slider__slide-header h1 {
    margin-top: -30px;
    font-size: 7.2em;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #0c0c0d;
    margin-bottom: 10px;
}

.rs-17 .rs-slider .main-slider__slide-text {
    font-size: 5em;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #0c0c0d;
    margin-bottom: 65px;
}

.rs-17 .rs-slider .main-slider__buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
}

.rs-17 .rs-slider .main-slider__btn {
    margin-bottom: 15px;
}

.rs-17 .rs-slider .main-slider__btn:not(:last-child) {
    margin-right: 30px;
}

.rs-17 .rs-slider .main-slider__slide-img {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-17 .rs-slider .main-slider__slide-img img {
    -webkit-animation: moverProduct 5s ease-in-out infinite;
    animation: moverProduct 5s ease-in-out infinite;
}

@-webkit-keyframes moverProduct {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    50% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }

    55% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }

    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes moverProduct {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    50% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }

    55% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }

    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.rs-17 .rs-slider .slick-initialized .slick-prev,
.rs-17 .rs-slider .slick-initialized .slick-next {
    font-size: 15px;
    display: -ms-flexbox;
    display: flex;
    width: 32px;
    height: 12px;
    color: #fff;
    background-color: transparent;
    padding: 0;
    z-index: 2;
    cursor: pointer;
    text-align: center;
    outline: none;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
}

.rs-17 .rs-slider .slick-initialized .slick-prev {
    left: 24px;
}

.rs-17 .rs-slider .slick-initialized .slick-next {
    right: 24px;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.rs-17 .rs-slider .slick-initialized .slick-prev:before {
    content: url("../../img/arrow_light.svg");
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    display: block;
    margin-right: 10px;
}

.rs-17 .rs-slider .slick-initialized .slick-next:before {
    content: url("../../img/arrow_light.svg");
    display: block;
    margin-left: 10px;
}

.main-slider__slide .main-slider__slide-header {
    transition: all 0.6s ease-out 0s;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.main-slider__slide .main-slider__slide-text {
    transition: all 0.6s ease-out 0.4s;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.main-slider__slide .main-slider__buttons {
    transition: all 0.6s ease-out 0.8s;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.main-slider__slide.isActive .main-slider__slide-header {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.main-slider__slide.isActive .main-slider__slide-text {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.main-slider__slide.isActive .main-slider__buttons {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

@media (min-width: 1695px) {
    .rs-17 .rs-slider .slider-adv {
        padding-right: calc((100vw - 1695px) / 2);
    }
}

@media (max-width: 1695px) {
    .rs-17 .rs-slider__adv {
        width: 100%;
        position: static;
    }

    .rs-17 .rs-slider .slider-adv {
        font-size: calc(7px + 3 * ((100vw - 320px) / 1375));
    }

    .rs-17 .rs-slider .slider-adv {
        padding-left: 126px;
        padding-right: 126px;
    }

    .rs-17 .rs-slider .slider-adv__item {
        padding-left: calc(5px + 47 * ((100vw - 320px) / 1375));
    }

    .rs-17 .rs-slider .slider-adv__item {
        padding-right: calc(5px + 47 * ((100vw - 320px) / 1375));
    }

    .rs-17 .rs-slider .main-slider {
        font-size: calc(6px + 4 * ((100vw - 320px) / 1375));
    }
}

@media (max-width: 1350px) {
    .rs-17 .rs-slider .slick-initialized .slick-prev,
  .rs-17 .rs-slider .slick-initialized .slick-next {
        top: auto;
        bottom: 124px;
    }
}

@media (max-width: 1200px) {
    .rs-17 .rs-slider .main-slider__slide-img {
        opacity: 0.3;
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-slider .slider-adv {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-slider .slider-adv__items {
        display: block;
    }

    .rs-17 .rs-slider .slider-adv__item {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .rs-17 .rs-slider .slider-adv__icon {
        margin-bottom: 0;
    }

    .rs-17 .rs-slider .main-slider__slide-inner {
        text-align: center;
        max-width: none;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 0px 10px;
    }

    .rs-17 .rs-slider .main-slider__buttons {
        display: block;
        text-align: center;
    }

    .rs-17 .rs-slider .main-slider__btn:not(:last-child) {
        margin-right: 0;
    }
}