.footer-menu {
    position: relative;
}

.footer-menu__list li:not(:last-child) {
    margin-bottom: 8px;
}

.footer-menu__list li a {
    font-size: 16px;
    color: var(--text-color-2);
    transition: color var(--animation-duration) var(--timing-func);
}

.fos {
    position: relative;
}

.footer {
    background: var(--bg-color-2);
    padding: 48px 0px;
    margin-top: 36px;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 22.4% 22.4% 22.4%;
    column-gap: 60px;
    row-gap: 12px;
}

.footer__copyright {
    grid-column: 1/-1;
}

.footer .footer-logo img {
    max-width: 100%;
}

.footer .footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 30px;
}

.footer .footer-content__menu {
    display: grid;
    gap: 30px;
}

.footer .footer-title {
    font-weight: 700;
    font-size: 16px;
    color: var(--text-color-2);
    margin-bottom: 8px;
}

.footer .footer-contacts__list {
    font-size: 16px;
    color: var(--text-color-2);
}

.footer .footer-contacts__list li:not(:last-child) {
    margin-bottom: 8px;
}

.footer .footer-contacts__list a {
    transition: color var(--animation-duration) var(--timing-func);
}

.footer .footer-address {
    font-size: 16px;
    color: var(--text-color-2);
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer .footer-address p:last-child {
    margin-top: auto;
}

.footer .footer-social {
    margin-top: 8px;
}

.footer .footer-social__list {
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer .footer-social a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.footer .footer-social a img {
    max-width: 100%;
}

.footer .footer-copyright {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 14px;
    font-size: 16px;
    color: var(--text-color-2);
    text-align: center;
}

.footer .footer-copyright a {
    transition: opacity var(--animation-duration) var(--timing-func);
    opacity: 0.5;
}

@media (min-width: 767.98px) {
    .footer-menu_grid .footer-menu__list {
        column-count: 2;
        column-gap: 30px;
    }

    .footer .footer-content__menu {
        grid-column: span 3;
        grid-template-columns: subgrid;
    }

    .footer .footer-content__copyright {
        grid-column: span 3;
        margin-top: 6px;
    }
}

@media (min-width: 1550px) {
    .footer__copyright {
        grid-column: 3/-1;
    }
}

@media (max-width: 1450px) {
    .footer__wrapper {
        column-gap: 24px;
    }
}

@media (max-width: 1023.98px) {
    .footer__wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767.98px) {
    .footer .footer-content {
        grid-template-columns: 1fr;
    }

    .footer .footer-copyright {
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 18px 0px;
    }
}

@media (any-hover: hover) {
    .footer-menu__list li a:hover {
        color: var(--hover-text-color);
    }

    .footer .footer-contacts__list a:hover {
        color: var(--hover-text-color);
    }

    .footer .footer-copyright a:hover {
        opacity: 1;
    }
}