.footer-menu__list {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-menu__list li:not(:last-child) {
    margin-bottom: 13px;
}

.footer-menu__list li a {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #393939;
    transition: color var(--animation-duration) var(--timing-func);
}

.footer-menu_grid .footer-menu__list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 76px;
    -ms-flex-pack: start;
    justify-content: start;
}

.rs-footer {
    position: relative;
}

.rs-footer__contacts {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #000;
}

.rs-footer__contacts ul {
    display: grid;
    gap: 26px;
}

.rs-footer__contacts ul li span {
    display: block;
    font-size: 16px;
    color: #393939;
    line-height: 1;
}

.rs-footer__top {
    display: grid;
    grid-template-columns: 1fr 15% 14%;
    gap: 84px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.rs-footer__copyright {
    border-top: 1px solid #eaeaea;
    padding: 29px 0px;
    font-weight: 300;
    font-size: 13px;
    color: #393939;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-footer .footer-title {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: #424242;
    margin-bottom: 35px;
}

@media (max-width: 1023.98px) {
    .rs-footer__top {
        grid-template-columns: 1fr 20% 20%;
        gap: 45px;
    }
}

@media (max-width: 767.98px) {
    .footer-menu__list li:not(:last-child) {
        margin-bottom: 7px;
    }

    .footer-menu__list li a {
        font-size: 13px;
    }

    .rs-footer__contacts {
        font-size: 16px;
    }

    .rs-footer__contacts ul {
        gap: 10px;
    }

    .rs-footer__contacts ul li span {
        font-size: 13px;
    }

    .rs-footer__top {
        gap: 20px;
        grid-template-columns: 1fr;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .rs-footer__copyright {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .rs-footer .footer-title {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

@media (any-hover: hover) {
    .footer-menu__list li a:hover {
        color: #000;
    }
}