.rs-portfolio {
    padding-top: 60px;
    padding-bottom: 100px;
}

.rs-portfolio__container {
    position: relative;
}

.rs-portfolio__wrapper {
    position: relative;
    padding-left: 90px;
}

.rs-portfolio__head {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-right: 90px;
}

.rs-portfolio .portfolio-slider__slider {
    margin-right: -15px;
}

.rs-portfolio .portfolio-slider__slide {
    width: 737px;
    height: 607px;
}

.rs-portfolio .portfolio-slider .slider-nav {
    margin-top: 30px;
}

.portfolio-card {
    position: relative;
    background: #000;
    width: 100%;
    height: 100%;
    padding: 30px 160px 30px 30px;
    display: grid;
    -ms-flex-line-pack: end;
    align-content: end;
}

.portfolio-card > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    font-size: 0;
}

.portfolio-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.75;
    transition: opacity var(--animation-duration) var(--timing-func);
}

.portfolio-card h4 {
    position: relative;
    color: #fff;
}

.portfolio-card .icon {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: block;
    width: 41px;
    height: 41px;
    background: url("../../img/icons/expand.svg") center/contain no-repeat;
}

@media (min-width: 1790px) {
    .rs-portfolio .portfolio-slider__slider {
        margin-right: calc((100vw - 1760px) / -2);
    }
}

@media (max-width: 1790px) {
    .rs-portfolio__head {
        padding-right: 0;
    }
}

@media (max-width: 1023.98px) {
    .rs-portfolio__wrapper {
        padding-bottom: 70px;
        padding-left: 0;
    }

    .rs-portfolio .btn-color {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .rs-portfolio .portfolio-slider .slider-nav {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .rs-portfolio {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .rs-portfolio__head {
        margin-bottom: 15px;
    }

    .rs-portfolio .portfolio-slider__slide {
        width: 315px;
        height: 259px;
    }

    .portfolio-card {
        padding: 10px 30px 10px 12px;
    }

    .portfolio-card .icon {
        width: 17px;
        height: 17px;
        bottom: 10px;
        right: 12px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-portfolio .portfolio-slider__slider {
        margin-right: calc((100vw - 375px) / -2);
    }
}

@media (any-hover: hover) {
    .portfolio-card:hover img {
        opacity: 1;
    }
}