.rs-text {
    position: relative;
}

.rs-text__container {
    position: relative;
}

.rs-text__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
}

.rs-text__wrapper .lines {
    border-left: 1px solid #eaeaea;
    width: 330px;
    padding-left: 165px;
    position: relative;
}

.rs-text__wrapper .lines::before {
    content: "";
    width: 1px;
    height: 100%;
    background: #eaeaea;
    position: absolute;
    left: 50%;
    top: 0;
}

.rs-text__content {
    position: relative;
    padding: 59px 215px 41px 82px;
}

.rs-text__content p:not(:last-child) {
    margin-bottom: 15px;
}

@media (min-width: 767.98px) {
    .rs-text {
        border-bottom: 1px solid #eaeaea;
    }

    .rs-text__wrapper {
        border-left: 1px solid #eaeaea;
        border-right: 1px solid #eaeaea;
    }
}

@media (min-width: 1300px) {
    .rs-text__content {
        column-count: 2;
        column-gap: 60px;
    }
}

@media (max-width: 1790px) {
    .rs-text__content {
        padding: 80px;
    }
}

@media (max-width: 1023.98px) {
    .rs-text__wrapper .lines {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .rs-text__content {
        padding: 40px;
    }
}