.rs-callback {
    padding-top: 60px;
    padding-bottom: 0px;
    background: linear-gradient(94.56deg, #6E0B6C -0.77%, #780D76 100.74%);
    position: relative;
}

.rs-callback h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 8px;
}

.rs-callback p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 30px;
}

.rs-callback__form {
    margin-top: -127px;
    position: relative;
    bottom: -127px;
}

.rs-callback .callback-form {
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
}

.rs-callback .callback-form__row {
    display: grid;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    grid-template-columns: 1fr 1fr;
}

.rs-callback .callback-form__submit {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 32px;
}

.rs-callback .callback-form__submit p {
    font-size: 14px;
    text-align: left;
    color: #817B80;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 15px;
    margin-right: 32px;
}

.rs-callback .callback-form__submit p a {
    color: #817B80;
    text-decoration: underline;
}

.rs-callback .callback-form__submit button {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

@media (max-width: 767.98px) {
    .rs-callback .callback-form__row {
        grid-template-columns: 1fr;
    }

    .rs-callback .callback-form__submit {
        display: block;
    }
}

@media (max-width: 479.98px) {
    .rs-callback .callback-form {
        padding: 15px;
    }
}