.mobile-menu-tabs {
    display: none;
    color: #fff;
    width: 100%;
    padding-bottom: 20px;
}

.mobile-menu-tabs a {
    color: inherit;
}

.mobile-menu-tabs__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
    border: none;
    margin-bottom: 18px;
}

.mobile-menu-tabs__list li {
    margin: 0px 5px;
}

.mobile-menu-tabs__list li.active .mobile-menu-tabs__link {
    background-color: #fff;
    color: #940491;
}

.mobile-menu-tabs__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.mobile-menu-tabs__pane {
    font-size: 0.875em;
    font-weight: 500;
    text-align: center;
}

.mobile-menu-tabs__pane a,
.mobile-menu-tabs__pane span {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.mobile-menu-search {
    display: none;
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
}

.mobile-menu-search__box {
    position: relative;
    height: 100%;
}

.mobile-menu-search__input {
    width: 100%;
    height: 100%;
    color: #616161;
    border-radius: 10px;
    background-color: #ffffff;
    padding-left: 48px;
}

.mobile-menu-search__button {
    position: absolute;
    left: 18px;
    top: 50%;
    color: #616161;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent;
}

.menu {
    height: 80px;
    font-size: 16px;
}

.menu__list {
    height: 100%;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.menu__list > li {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.menu__list > li > a {
    font-size: 1em;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: normal;
    color: #181618;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.menu__dropdown {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu__dropdown-arrow {
    position: relative;
    background-color: transparent;
    margin-left: 3px;
    margin-right: 3px;
    width: 20px;
    height: 15px;
    color: #FFFFFF;
    transition: -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
}

.menu__dropdown-arrow._active {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.menu__dropdown-list .menu__dropdown-arrow {
    display: block;
}

.menu__dropdown-list {
    position: absolute;
    top: 100%;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.8s cubic-bezier(0.24, 0.002, 0.002, 1);
    background-color: #24303f;
    box-shadow: 0px 0px 59px rgba(26, 38, 53, 0.3);
}

.menu__dropdown-list .menu__dropdown-list {
    top: 0px;
    left: 100%;
}

.menu__dropdown-list li {
    padding-left: 42px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.menu__dropdown-list a {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.6;
    color: #817B80;
    white-space: nowrap;
    transition: color 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
}

.menu__dropdown.hover > .menu__dropdown-list {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.menu-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
}

.menu-overlay.active {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
}

.nav > li > a {
    padding: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.menu-burger {
    -ms-flex: 0 0 42px;
    flex: 0 0 42px;
    display: none;
    position: relative;
    width: 42px;
    height: 40px;
    padding: 13px 10px;
    line-height: 1;
    z-index: 15;
    background-color: transparent;
}

.menu-burger span {
    display: block;
    position: absolute;
    top: 13px;
    left: auto;
    right: 10px;
    width: 22px;
    height: 2px;
    background: #940491;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: color 0.3s cubic-bezier(0.28, 0, 0.49, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: color 0.3s cubic-bezier(0.28, 0, 0.49, 1), transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: color 0.3s cubic-bezier(0.28, 0, 0.49, 1), transform 0.3s cubic-bezier(0.42, 0, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
}

.menu-burger span:nth-child(2) {
    top: 19px;
    width: 16px;
}

.menu-burger span:nth-child(3) {
    top: 25px;
}

.menu-burger.active span {
    background: #940491;
}

.menu-burger.active span:nth-child(1) {
    -webkit-transform: rotate(45deg) translateY(4px) translateX(4px);
    transform: rotate(45deg) translateY(4px) translateX(4px);
}

.menu-burger.active span:nth-child(2) {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.menu-burger.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-4.5px) translateX(4.5px);
    transform: rotate(-45deg) translateY(-4.5px) translateX(4.5px);
}

.rs-header {
    background-color: #FFFFFF;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 80px;
    padding-right: 60px;
    padding-left: 60px;
}

.rs-header__logo {
    margin-right: 82px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition-duration: 0.4s;
}

.rs-header__logo img {
    width: 100%;
}

.rs-header__wrapper {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-header__menu {
    margin-left: auto;
}

.rs-header__catalog-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 56px;
    background: #940491;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    align-items: center;
    color: #FFFFFF;
    padding-left: 24px;
    padding-right: 24px;
    transition-duration: 0.4s;
    white-space: nowrap;
}

.rs-header__catalog-btn:hover {
    background: #781876;
    color: #FFFFFF;
}

.sticky .rs-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition-duration: 0.4s;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
}

.sticky .rs-header .rs-header__logo {
    -webkit-transform: none;
    transform: none;
}

.sticky.out .rs-header {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

@media (min-width: 991.98px) {
    .menu__dropdown-list .menu__dropdown-arrow {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .menu__dropdown.hover > .menu__dropdown-arrow {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    .menu__dropdown-list li:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    .menu__list > li > a {
        height: 100%;
        padding-left: 1em;
        padding-right: 1em;
        transition-duration: 0.4s;
    }

    .menu__list > li.active > a {
        color: #940491;
    }

    .menu__list > li:hover > a {
        background: #F8F6F9;
        color: #940491;
    }

    .menu-overlay {
        display: none;
    }
}

@media (any-hover: hover) and (min-width: 991.98px) {
    .menu__dropdown:hover > .menu__dropdown-arrow {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

@media (min-width: 991.98px) and (min-width: 991.98px) {
    .menu__dropdown-list li:hover > .menu__dropdown-arrow,
  .menu__dropdown-list li.hover > .menu__dropdown-arrow {
        -webkit-transform: rotate(-90deg) translateY(10px);
        transform: rotate(-90deg) translateY(10px);
    }
}

@media (min-width: 1176px) {
    .rs-header__logo {
        -ms-flex-preferred-size: 245px;
        flex-basis: 245px;
    }
}

@media (max-width: 1750px) {
    .rs-header {
        padding-right: 15px;
        padding-left: 15px;
    }

    .rs-header__logo {
        margin-right: 12px;
    }
}

@media (max-width: 1450px) {
    .rs-header__catalog-btn {
        display: none;
    }
}

@media (max-width: 1176px) {
    .menu__dropdown-list li {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu__dropdown-list a {
        white-space: normal;
    }
}

@media (max-width: 991.98px) {
    .mobile-menu-tabs {
        display: block;
    }

    .mobile-menu-search {
        display: block;
    }

    .menu {
        height: calc(100% - 80px);
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        background-color: #940491;
        -webkit-transform: translateY(calc(-100% - 80px));
        transform: translateY(calc(-100% - 80px));
        transition: -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
        transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
        transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        overflow-y: auto;
    }

    .menu.active {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .menu__list {
        display: block;
        height: auto;
    }

    .menu__list > li {
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-bottom: 20px;
        height: auto;
        margin-right: 0 !important;
    }

    .menu__list > li > a {
        color: #FFFFFF;
    }

    .menu__dropdown {
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .menu__dropdown-list {
        position: static;
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        margin: 0;
        padding: 0px 0px 0px 15px;
        pointer-events: auto;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        height: auto;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu__dropdown-list .menu__dropdown-list {
        padding: 10px 0px 0px 20px;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu__dropdown-list li {
        padding-right: 0;
        padding-left: 0;
    }

    .menu__dropdown-list a {
        color: #817B80;
        white-space: normal;
    }

    .rs-header__logo {
        -webkit-transform: none;
        transform: none;
    }
}

@media (max-width: 991px) {
    .menu-burger {
        display: block;
    }
}

@media (max-width: 320px) {
    .rs-header__logo {
        -ms-flex-preferred-size: 155px;
        flex-basis: 155px;
    }
}

@media (min-width: 992px) and (max-width: 1600px) {
    .menu {
        font-size: clamp( 10px , 0.2105263158px  +  0.9868421053vw , 16px );
    }
}

@media (min-width: 320px) and (max-width: 1176px) {
    .rs-header__logo {
        -ms-flex-preferred-size: clamp( 155px , 121.3551401869px  +  10.5140186916vw , 245px );
        flex-basis: clamp( 155px , 121.3551401869px  +  10.5140186916vw , 245px );
    }
}

@media (any-hover: hover) {
    .menu__dropdown-arrow {
        display: none;
    }

    .menu__dropdown:hover > .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}