.rs-working {
    padding-top: 60px;
    padding-bottom: 0px;
    background: linear-gradient(94.56deg, #6E0B6C -0.77%, #780D76 100.74%);
    position: relative;
}

.rs-working h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 8px;
}

.rs-working p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 30px;
}

.rs-working__steps {
    margin-top: -139px;
    position: relative;
    bottom: -139px;
}

.rs-working .working-steps {
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rs-working .working-steps__item {
    height: 139px;
    border: 1px solid #E4E4E4;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    position: relative;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.rs-working .working-steps__item:nth-child(1) {
    border-top: none;
    border-left: none;
}

.rs-working .working-steps__item:nth-child(2) {
    border-top: none;
    border-left: none;
}

.rs-working .working-steps__item:nth-child(3) {
    border-top: none;
    border-left: none;
}

.rs-working .working-steps__item:nth-child(4) {
    border-top: none;
    border-left: none;
}

.rs-working .working-steps__item:nth-child(5) {
    border-top: none;
    border-left: none;
}

.rs-working .working-steps__item:nth-child(6) {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.rs-working .working-steps__item:after,
.rs-working .working-steps__item:before {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    content: "";
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.rs-working .working-steps__item:before {
    background: #f6eff7;
    z-index: 2;
    top: -220px;
    right: -220px;
}

.rs-working .working-steps__item:after {
    background: #f8f6f9;
    z-index: 1;
    top: -220px;
    right: -70px;
}

.rs-working .working-steps__item:hover:before {
    top: -110px;
    right: -100px;
    opacity: 1;
}

.rs-working .working-steps__item:hover:after {
    top: -80px;
    right: -70px;
    opacity: 1;
}

.rs-working .working-steps__item-wrapper {
    height: 100%;
    position: relative;
    z-index: 3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.rs-working .working-steps__item-number {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #F2A231;
    display: block;
    margin-bottom: 12px;
}

.rs-working .working-steps__item-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #181618;
    display: block;
}

.rs-working .working-steps__item-icon {
    margin-bottom: 10px;
}

@media (min-width: 479.98px) {
    .rs-working .working-steps__item:nth-child(5) {
        border-bottom: none;
    }
}

@media (min-width: 767.98px) {
    .rs-working .working-steps__item:nth-child(3) {
        border-right: none;
    }

    .rs-working .working-steps__item:nth-child(4) {
        border-bottom: none;
    }
}

@media (max-width: 767.98px) {
    .rs-working .working-steps__item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

@media (max-width: 479.98px) {
    .rs-working .working-steps__item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}