@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

ul {
    margin-bottom: 0;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --font-family: "Inter", sans-serif;
    --main-bg-color: #1c1c1e;
    --main-text-color: #fff;
    --primary-color: #b29b69;
    --error-color: #e00000;
    --bd-color: rgba(255, 255, 255, 0.1);
    --animation-duration: 0.45s;
    --timing-func: ease-out;
}

html {
    font-size: 16px;
    height: 100%;
    min-width: 320px;
}

body {
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: normal;
    font-style: normal;
    opacity: 0;
}

body.loaded {
    opacity: 1;
}

body.mobile-menu-opened,
body.filters-opened {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.site-wrapper,
.site {
    overflow: hidden;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.site-wrapper > .main,
.site-wrapper .site-content,
.site > .main,
.site .site-content {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.site-wrapper > *,
.site > * {
    min-width: 0;
}

header {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    position: relative;
}

[class*=__container] {
    max-width: 1440px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fancybox__container {
    max-width: none !important;
}

.form form {
    display: grid;
    gap: 16px;
}

.form .form-group {
    margin-bottom: 0;
    position: relative;
}

.form .form-submit {
    display: grid;
    gap: 33px;
    justify-items: start;
}

.form .form-submit p {
    font-weight: 400;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0.08em;
    color: rgba(255, 255, 255, 0.5);
}

.form input,
.form textarea {
    outline: none;
    width: 100%;
    padding: 0px 20px;
    height: 64px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: 300;
    font-size: 16px;
    line-height: 136%;
    color: #fff;
}

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
    color: #fff;
}

.form input::placeholder,
.form textarea::placeholder {
    color: #fff;
}

.form input.valid,
.form textarea.valid {
    border-color: rgba(178, 155, 105, 0.5);
}

.form input.valid ~ span.valid-icon,
.form textarea.valid ~ span.valid-icon {
    transform: scale(1);
}

.form textarea {
    height: 100%;
    resize: none;
    min-height: 120px;
    padding-top: 14px;
}

.form .checkbox {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.form .checkbox > input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.form .checkbox span {
    text-align: left;
    display: inline-block;
    padding-left: 26px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #757575;
    position: relative;
}

.form .checkbox span a {
    text-decoration: underline;
}

.form .checkbox span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #b22727;
}

.form .checkbox span:after {
    content: url("../../img/icons/checkmark_icon.svg");
    position: absolute;
    top: 0px;
    left: 0px;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.form .checkbox input:checked + span.checkbox__text {
    color: #2f2f2f;
}

.form .checkbox input:checked + span:after {
    transform: scale(1);
}

.form label.error {
    position: absolute;
    color: var(--error-color);
    right: 20px;
    top: 23px;
    font-weight: 300;
    font-size: 13px;
    line-height: 136%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.form label.error::before {
    content: url("../../img/icons/warn_icon.png");
    line-height: 1;
    margin-right: 9px;
}

.form span.valid-icon {
    position: absolute;
    right: 20px;
    top: 28px;
    display: block;
    width: 12px;
    height: 12px;
    background: url("../../img/icons/valid_icon.png") center/contain no-repeat;
    transform: scale(0);
    transition: transform var(--animation-duration) var(--timing-func);
}

header {
    transition: background var(--animation-duration) var(--timing-func);
}

header .rs-header__wrapper {
    transition: height var(--animation-duration) var(--timing-func);
}

header::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity var(--animation-duration) var(--timing-func);
}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header.sticky::before {
    opacity: 1;
}

[data-animate] {
    visibility: hidden;
    will-change: transform;
}

[data-animate].in-view {
    visibility: visible;
    animation-name: var(--animateName);
    animation-duration: var(--animateDuration, 450ms);
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    will-change: auto;
}

[data-animate-stager] > * {
    visibility: hidden;
    will-change: transform;
}

[data-animate-stager] > *.in-view {
    visibility: visible;
    animation-name: var(--animateName);
    animation-duration: var(--animateDuration, 450ms);
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    will-change: auto;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.slider-arrows {
    display: grid;
    gap: 20px;
    pointer-events: none;
}

.slider-arrows .slider-arrow {
    pointer-events: auto;
    width: 90px;
    height: 90px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.slider-arrows .slider-arrow.swiper-button-disabled {
    opacity: 0.5;
    cursor: default;
}

.section-title h2 {
    font-weight: 300;
    font-size: 50px;
    line-height: 103%;
    letter-spacing: -0.04em;
    color: #fff;
}

.btn-color {
    position: relative;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    min-height: 54px;
    max-width: 100%;
    border-radius: 5px;
    background: #0e0e0f;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn-color span.title {
    font-weight: 500;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #efefef;
    padding: 0px 18px;
}

.btn-color span.icon {
    width: 54px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    transition: background var(--animation-duration) var(--timing-func);
}

.btn-color span.icon svg path {
    transition: stroke var(--animation-duration) var(--timing-func);
}

@keyframes buttonArrow {
    30% {
        transform: translateX(45px) scale(0);
    }

    35% {
        transform: translateX(-45px) scale(0);
    }

    100% {
        transform: translateX(0px) scale(1);
    }
}

.stripes {
    --color: rgba(255, 255, 255, 0.1);
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.stripes__container {
    position: relative;
    height: 100%;
}

.stripes__wrapper {
    position: relative;
    height: 100%;
}

.stripes .stripe {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background: var(--color);
}

.stripes .stripe_m {
    left: 50%;
    transform: translateX(-1px);
}

.stripes .stripe_l {
    left: 0px;
}

.stripes .stripe_ll {
    left: 16.666%;
}

.stripes .stripe_lr {
    left: 33.333%;
}

.stripes .stripe_rl {
    right: 33.333%;
}

.stripes .stripe_rr {
    right: 16.666%;
}

.stripes .stripe_r {
    right: 0px;
}

[data-ibg] {
    overflow: hidden;
}

[data-ibg] video,
[data-ibg] img {
    transition: transform 4s ease-out;
    transform: scale(1.3);
}

[data-ibg]::after {
    content: "";
    z-index: 3;
    width: 450%;
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    transform: skew(-60deg) translateX(-15%);
    transition: transform 4s ease-out;
    left: 0;
    top: 0;
}

[data-ibg].in-view video,
[data-ibg].in-view img {
    transform: scale(1);
}

[data-ibg].in-view::after {
    transform: skew(-60deg) translateX(120%);
}

@media (min-width: 767.98px) {
    [data-animate].in-view {
        animation-delay: var(--animateDelay);
    }

    [data-animate-stager] > *.in-view {
        animation-delay: var(--animateDelay);
    }
}

@media (min-width: 1023.98px) {
    header.sticky .rs-header__wrapper {
        height: 84px;
    }
}

@media (max-width: 1023.98px) {
    [class*=__container] {
        max-width: 768px;
    }

    .stripes {
        display: none;
    }
}

@media (max-width: 767.98px) {
    [class*=__container] {
        max-width: 375px;
    }

    .form input,
  .form textarea {
        height: 42px;
    }

    .section-title h2 {
        font-size: 20px;
    }

    .btn-color {
        min-height: 42px;
    }

    .btn-color span.icon {
        width: 42px;
    }
}

@media (any-hover: none) {
    [data-hidescroll]::-webkit-scrollbar {
        width: 0;
    }

    [data-hidescroll] {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@media (any-hover: hover) {
    .btn-color:hover span.icon {
        background: #b29b69;
    }

    .btn-color:hover span.icon svg {
        animation: buttonArrow 0.6s ease-out;
    }

    .btn-color:hover span.icon svg path {
        stroke: #fff;
    }
}