.rs-ceo {
    position: relative;
}

.rs-ceo__border {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 33%;
}

.rs-ceo__content {
    padding-top: 120px;
    padding-bottom: 90px;
    padding-left: 83px;
    padding-right: 83px;
    font-weight: 400;
    font-size: 16px;
    line-height: 148.7%;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.rs-ceo__wrapper {
    max-width: 719px;
    margin: 51px auto 0;
}

.rs-ceo__photo {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: end;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 90px;
    padding-left: 25px;
    padding-right: 25px;
}

.rs-ceo__photo-holder {
    position: relative;
    z-index: 2;
    height: 321px;
    width: 100%;
    max-width: 360px;
    overflow: hidden;
}

.rs-ceo__photo-holder img {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 991.98px) {
    .rs-ceo__content {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 13px;
    }
}

@media (max-width: 767.98px) {
    .rs-ceo__border {
        grid-template-columns: 1fr;
    }

    .rs-ceo__content {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-ceo__photo {
        padding-top: 0px;
        padding-bottom: 30px;
    }
}