.rs-about-service {
    padding-top: 80px;
    padding-bottom: 80px;
}

.rs-about-service__wrapper {
    display: grid;
    grid-template-columns: 1fr 44%;
    -webkit-column-gap: 100px;
    -moz-column-gap: 100px;
    column-gap: 100px;
}

.rs-about-service__adv {
    margin-top: 20px;
}

.rs-about-service__callback {
    margin-top: 44px;
}

.rs-about-service h3 {
    color: #15141c;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 30px;
}

.rs-about-service p {
    color: #616161;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.rs-about-service .equipment {
    border-radius: 3px;
    background: #f2f4f6 url("../../img/equip-bg.png") right bottom/70% no-repeat;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-about-service .equipment__content {
    padding: 60px;
}

.rs-about-service .equipment__content h4 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 20px;
}

.rs-about-service .equipment__content ul {
    color: #616161;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    counter-reset: equip;
}

.rs-about-service .equipment__content ul li {
    counter-increment: equip;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.rs-about-service .equipment__content ul li:not(:last-child) {
    margin-bottom: 10px;
}

.rs-about-service .equipment__content ul li::before {
    content: "0" counter(equip);
    margin-right: 16px;
    width: 32px;
    height: 32px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #e6e6e9;
    background: #fff;
    color: #01448b;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.rs-about-service .equipment .picture {
    margin-top: auto;
    padding-bottom: 45%;
    position: relative;
}

.rs-about-service .equipment .picture img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-about-service .adv h4 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 30px;
}

.rs-about-service .adv__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.rs-about-service .adv__item {
    border-radius: 3px;
    border: 1px solid #e6e6e9;
    background: #fff;
    padding: 20px 30px;
}

.rs-about-service .adv__item img {
    margin-bottom: 11px;
}

.rs-about-service .adv__item p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.rs-about-service .callback {
    border-radius: 3px;
    background: linear-gradient(275deg, #033b7d 4.08%, #0053b5 99.74%);
    padding: 75px 70px;
}

.rs-about-service .callback h4 {
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 17px;
}

.rs-about-service .callback p {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 34px;
}

@media (max-width: 1510px) {
    .rs-about-service .adv__items {
        gap: 20px;
    }
}

@media (max-width: 991.98px) {
    .rs-about-service__wrapper {
        grid-template-columns: 1fr;
        row-gap: 35px;
    }

    .rs-about-service .adv__items {
        gap: 10px;
    }

    .rs-about-service .adv__item {
        padding: 20px;
    }

    .rs-about-service .adv__item p {
        font-size: 16px;
    }
}

@media (max-width: 767.98px) {
    .rs-about-service {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-about-service h3 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .rs-about-service p {
        font-size: 13px;
    }

    .rs-about-service .equipment__content {
        padding: 20px;
    }

    .rs-about-service .equipment__content h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .rs-about-service .equipment__content ul {
        font-size: 13px;
    }

    .rs-about-service .adv h4 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .rs-about-service .adv__items {
        grid-template-columns: 1fr;
    }

    .rs-about-service .adv__item {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 10px;
    }

    .rs-about-service .callback {
        padding: 35px;
    }

    .rs-about-service .callback h4 {
        font-size: 18px;
    }

    .rs-about-service .callback p {
        font-size: 13px;
    }
}