.rs-callback {
    padding-bottom: 50px;
}

.rs-callback__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    border-radius: 3px;
    background: linear-gradient(275deg, #033b7d 4.08%, #0053b5 99.74%);
}

.rs-callback__content {
    padding-top: 75px;
    padding-bottom: 65px;
    padding-right: 175px;
    padding-left: 30px;
}

.rs-callback__content h3 {
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 17px;
}

.rs-callback__content p {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 34px;
}

.rs-callback__picture {
    position: relative;
}

.rs-callback__picture img {
    width: 100%;
    position: absolute;
}

@media (max-width: 1510px) {
    .rs-callback__content {
        padding-right: 30px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 991.98px) {
    .rs-callback__content h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .rs-callback__content p {
        font-size: 13px;
        margin-bottom: 20px;
    }
}

@media (max-width: 767.98px) {
    .rs-callback__wrapper {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .rs-callback__content {
        padding: 15px;
    }

    .rs-callback__picture img {
        position: static;
    }
}