.menu {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 100%;
    font-size: 18px;
}

.menu .menu-wrapper {
    height: 100%;
    position: relative;
}

.menu .menu__list {
    height: 100%;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
}

.menu .menu__list > li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.menu .menu__list > li:not(:last-child) {
    margin-right: 1.875em;
}

.menu .menu__list > li > a {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 1em;
    line-height: normal;
    font-weight: 500;
    letter-spacing: normal;
    color: #15141c;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    text-transform: none;
}

.menu .menu__dropdown {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu .menu__dropdown-list {
    min-width: 260px;
    position: absolute;
    top: 100%;
    left: 0px;
    visibility: hidden;
    pointer-events: none;
    background-color: #fff;
    border: 1px solid #E6E6E9;
    padding-top: 25px;
    padding-bottom: 25px;
}

.menu .menu__dropdown-list .menu__dropdown-list {
    top: -25px;
    left: 100%;
}

.menu .menu__dropdown-list li a {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    color: #15141c;
    text-transform: none;
}

.menu__dropdown-arrow {
    position: relative;
    background: url("../../img/icons/menu_icon.svg") center no-repeat;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transition: -webkit-transform 0.35s ease;
    transition: transform 0.35s ease;
    transition: transform 0.35s ease, -webkit-transform 0.35s ease;
}

.menu .menu__dropdown-list {
    opacity: 0;
    -webkit-transform: translate(0px, 20px);
    transform: translate(0px, 20px);
    transition: all 0.35s ease;
}

.menu__dropdown.hover > .menu__dropdown-list {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    pointer-events: auto;
}

.menu .menu__dropdown-list .switch-back {
    display: none;
}

.menu-overlay {
    pointer-events: none;
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background: #fff;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    display: none;
}

.menu-overlay.active {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.nav > li > a {
    padding: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.menu-burger {
    -ms-flex: 0 0 34px;
    flex: 0 0 34px;
    display: none;
    position: relative;
    width: 34px;
    height: 34px;
    line-height: 1;
}

.menu-burger span {
    display: block;
    position: absolute;
    top: 11px;
    right: 6px;
    width: 20px;
    height: 2px;
    background: #303030;
    border-radius: 2px;
    transition: all 0.35s ease;
}

.menu-burger span:nth-child(2) {
    top: 16px;
}

.menu-burger span:nth-child(3) {
    top: 21px;
}

.menu-burger.active span:nth-child(2) {
    opacity: 0;
}

.menu-burger.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 15px;
}

.menu-burger.active span:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.header-search {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 48px;
    height: 75px;
    z-index: 99;
}

.header-search__box {
    height: 90px;
    width: 360px;
    border: 1px solid #e6e6e9;
    background: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
    transition: transform 0.35s ease, opacity 0.35s ease;
    transition: transform 0.35s ease, opacity 0.35s ease, -webkit-transform 0.35s ease;
}

.header-search__input {
    border-bottom: 1px solid #616161;
    padding-bottom: 9px;
    height: 30px;
    width: 100%;
    color: #616161;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    outline: none;
    background-color: transparent;
}

.header-search__reset {
    display: none;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-search__reset:before,
.header-search__reset:after {
    content: "";
    display: block;
    background: #004737;
    height: 2px;
    width: 25px;
    position: relative;
    position: absolute;
    left: 12px;
}

.header-search__reset:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header-search__reset:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header-search__submit {
    height: 30px;
    width: 30px;
    background: url("../../img/icons/search-icon.svg") 5px 0/21px 21px no-repeat;
    border-bottom: 1px solid #616161;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    padding-bottom: 9px;
}

.search-is-open .header-search .header-search__box {
    visibility: visible;
    pointer-events: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.header-search-open {
    width: 48px;
    height: 48px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-search-open::before {
    content: "";
    width: 24px;
    height: 24px;
    background: #004737;
    -webkit-mask-image: url("../../img/icons/search-icon.svg");
    mask-image: url("../../img/icons/search-icon.svg");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    transition: background 0.35s ease;
}

.header-search-open::after {
    content: "";
    width: 24px;
    height: 24px;
    background: #0082C2;
    -webkit-mask-image: url("../../img/icons/close-icon.svg");
    mask-image: url("../../img/icons/close-icon.svg");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 12px 12px;
    mask-size: 12px 12px;
    display: none;
}

.header-search-open:hover::before {
    background: #0082C2;
}

.search-is-open .header-search-open::before {
    display: none;
}

.search-is-open .header-search-open::after {
    display: block;
}

.rs-header {
    background: #ffffff;
    position: relative;
    border-bottom: 1px solid #e6e6e9;
}

.rs-header::after {
    content: "";
    position: absolute;
    top: 119px;
    left: 50%;
    height: 1px;
    width: 100%;
    background: #e6e6e9;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.rs-header__top {
    position: relative;
    height: 119px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-header__logo {
    -ms-flex-preferred-size: 147px;
    flex-basis: 147px;
}

.rs-header__logo img {
    width: 100%;
}

.rs-header__search {
    margin-left: 26px;
}

.rs-header__contacts {
    margin-left: auto;
}

.rs-header__bottom {
    height: 75px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-header__icon {
    margin-left: auto;
    margin-right: 25px;
    width: 97px;
}

.rs-header__icon img {
    width: 100%;
}

.rs-header .header-contacts {
    margin-bottom: 0;
    display: -ms-flexbox;
    display: flex;
}

.rs-header .header-contacts li:not(:last-child) {
    margin-right: 60px;
}

.rs-header .header-contacts li a {
    display: block;
    white-space: nowrap;
    transition: all 0.35s ease;
    color: #15141c;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.rs-header .header-contacts li a[href^="mailto:"] {
    position: relative;
}

.rs-header .header-contacts li a[href^="mailto:"]::after {
    content: "";
    height: 2px;
    width: 100%;
    background: currentColor;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    transition: -webkit-transform 0.35s ease;
    transition: transform 0.35s ease;
    transition: transform 0.35s ease, -webkit-transform 0.35s ease;
}

.rs-header .header-contacts li a:hover {
    color: #0d99ff;
}

.rs-header .header-contacts li span {
    margin-top: 4px;
    display: block;
    color: #616161;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.rs-header .header-logo-mobile {
    position: relative;
    z-index: 2;
    -ms-flex: 0 0 69px;
    flex: 0 0 69px;
    margin-left: 15px;
    margin-right: 15px;
}

.rs-header .header-logo-mobile img {
    width: 100%;
}

.sticky .rs-header .header-logo-mobile {
    display: block;
}

.rs-header .mobile-menu-contacts a,
.rs-header .mobile-menu-contacts p {
    color: #212121;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

.rs-header .mobile-menu-contacts a span,
.rs-header .mobile-menu-contacts p span {
    font-weight: 400;
}

.rs-header .mobile-menu-contacts a::before,
.rs-header .mobile-menu-contacts p::before {
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.rs-header .mobile-menu-contacts a[href^="tel:"]::before,
.rs-header .mobile-menu-contacts p[href^="tel:"]::before {
    content: url("../../img/icons/phone-icon.svg");
}

.rs-header .mobile-menu-contacts a[href^="mailto:"]::before,
.rs-header .mobile-menu-contacts p[href^="mailto:"]::before {
    content: url("../../img/icons/mail-icon.svg");
}

.rs-header .mobile-menu-contacts a.shedule::before,
.rs-header .mobile-menu-contacts p.shedule::before {
    content: url("../../img/icons/clock-icon.svg");
    top: 2px;
}

.rs-header .mobile-menu-search__box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-header .mobile-menu-search__input {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #e6e6e9;
    background: #f2f3f5;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    color: #0a1229;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.rs-header .mobile-menu-search__button {
    margin-left: 5px;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background: #0d99ff;
}

.rs-header .mobile-menu-search__button::before {
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    -webkit-mask-image: url("../../img/icons/search-icon.svg");
    mask-image: url("../../img/icons/search-icon.svg");
    background: #fff;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.sticky .rs-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: all 0.35s ease;
}

.sticky.out .rs-header {
    -webkit-transform: none;
    transform: none;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.sticky .rs-header .rs-header__top {
    display: none;
}

.sticky .rs-header::after {
    display: none;
}

@media (min-width: 991.98px) {
    .menu .menu__dropdown-list li a {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .menu__list > li > a {
        height: 100%;
    }

    .menu__list > li > a span {
        padding-bottom: 9px;
        padding-top: 9px;
        overflow: hidden;
        position: relative;
        transition: color 0.35s ease;
    }

    .menu__list > li > a span::after {
        content: "";
        width: 100%;
        height: 2px;
        background: #0082c2;
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transition: -webkit-transform 0.35s ease;
        transition: transform 0.35s ease;
        transition: transform 0.35s ease, -webkit-transform 0.35s ease;
        -webkit-transform-origin: right;
        transform-origin: right;
    }

    .menu__list > li.current-menu-item > a,
  .menu__list > li:hover > a {
        color: #0082c2;
    }

    .menu__list > li.current-menu-item > a span::after,
  .menu__list > li:hover > a span::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left;
        transform-origin: left;
    }

    .menu__dropdown-list li > a {
        transition: color 0.2s linear;
    }

    .menu__dropdown-list li:hover > a {
        color: #0082c2;
        font-weight: 600;
    }

    .menu__dropdown-list .menu__dropdown-arrow {
        display: block;
        width: 46px;
        background-position: left center;
    }

    .menu-overlay {
        display: none;
    }

    .rs-header .header-logo-mobile {
        display: none;
    }

    .rs-header .mobile-menu-contacts {
        display: none;
    }

    .rs-header .mobile-menu-search {
        display: none;
    }
}

@media (min-width: 1510px) {
    .header-search__reset {
        right: calc((100% - 1480px) / 2);
    }
}

@media (max-width: 1510px) {
    .menu .menu__list > li:not(:last-child) {
        margin-right: 1.25em;
    }

    .menu .menu__dropdown-list li a {
        white-space: normal;
    }
}

@media (max-width: 1300px) {
    .menu {
        font-size: 12px;
    }
}

@media (max-width: 991.98px) {
    .menu {
        pointer-events: none;
        left: 0;
        height: calc(100vh - 63px);
        position: fixed;
        top: 63px;
        width: 100%;
        overflow-y: auto;
        font-size: 15px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .menu.active {
        visibility: visible;
        pointer-events: auto;
    }

    .menu .menu-wrapper {
        height: auto;
        width: 100%;
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .menu .menu-wrapper::before {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #F2F2F2;
    }

    .menu .menu__list {
        display: block;
        height: auto;
    }

    .menu .menu__list > li {
        height: auto;
        margin-right: 0 !important;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0;
    }

    .menu .menu__list > li > a {
        color: #15141c;
        font-weight: 500;
        line-height: normal;
        letter-spacing: normal;
    }

    .menu .menu__dropdown {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .menu .menu__dropdown-list {
        position: static;
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        padding: 10px 0px 7px 15px;
        pointer-events: auto;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        height: auto;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu .menu__dropdown-list .menu__dropdown-list {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu .menu__dropdown-list li a {
        white-space: normal;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .menu__dropdown-arrow {
        margin-left: 20px;
    }

    .menu {
        background: #fff;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    }

    .menu.active {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .menu .menu__dropdown-list {
        padding-left: 15px;
        padding-right: 15px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        border-radius: 0;
        background: #fff;
        transition: -webkit-transform 0.35s ease;
        transition: transform 0.35s ease;
        transition: transform 0.35s ease, -webkit-transform 0.35s ease;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .menu .menu__dropdown-list::-webkit-scrollbar {
        width: 0;
    }

    .menu .menu__dropdown-list.is-active {
        -webkit-transform: none;
        transform: none;
    }

    .menu .menu__dropdown-list .switch-back {
        background: url("../../img/icons/switch-back-icon.png") 0px 50% no-repeat;
        display: block;
        color: #212121;
        font-size: 15px;
        font-weight: 600;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 25px;
        text-align: center;
        border-bottom: 1px solid #f2f2f2;
        border-top: 1px solid #f2f2f2;
    }

    .menu .menu__dropdown-list .menu__dropdown-list {
        top: 0;
        left: 0;
    }

    .rs-header::after {
        display: none;
    }

    .rs-header__top {
        display: none;
    }

    .rs-header__search {
        display: none;
    }

    .rs-header__bottom {
        height: 63px;
    }

    .rs-header__icon {
        width: 71px;
        margin-right: 10px;
    }
}

@media (max-width: 991px) {
    .menu-burger {
        display: block;
        position: relative;
        z-index: 2;
    }
}

@media (max-width: 991.98px) and (min-width: 405px) and (max-width: 767px) {
    .menu .menu__dropdown-list {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }
}

@media (any-hover: hover) {
    .menu__dropdown-arrow {
        display: none;
    }

    .menu__dropdown:hover > .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        pointer-events: auto;
    }

    .rs-header .header-contacts li a[href^="mailto:"]:hover::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
}