.rs-benefit {
    position: relative;
    z-index: 2;
    border-radius: var(--bdrd) var(--bdrd) 0 0;
    background: #fff;
}

.rs-benefit__container {
    height: 100%;
    position: relative;
}

.rs-benefit__wrapper {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 49% 1fr;
    -ms-flex-align: center;
    align-items: center;
    gap: 180px;
}

.rs-benefit__media {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.rs-benefit__media video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.rs-benefit__content .scroller {
    overflow-y: hidden;
}

.rs-benefit__content p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: var(--color-6);
}

.rs-benefit__content h4 {
    font-weight: 700;
    font-size: 23px;
    line-height: 105%;
    letter-spacing: -0.01em;
    color: var(--color-3);
}

.rs-benefit__content h3 {
    margin-bottom: 47px;
    font-weight: 700;
    font-size: 45px;
    line-height: 95%;
    letter-spacing: -0.01em;
    color: var(--color-3);
}

.rs-benefit__content ul {
    display: grid;
    gap: 47px;
}

.rs-benefit__content ul li {
    display: grid;
    grid-template-columns: 67px 1fr;
    gap: 10px 24px;
}

.rs-benefit__content ul li img {
    width: 100%;
    grid-row: span 2;
}

.rs-benefit .pin {
    position: absolute;
    right: calc(100% + 50px);
    top: 50%;
    transform: translateY(-50%);
    height: 468px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.rs-benefit .pin .arrow {
    pointer-events: auto;
    width: 43px;
    height: 43px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.rs-benefit .pin .arrow_prev {
    transform: scaleX(-1);
}

.rs-benefit .pin .arrow.swiper-button-disabled {
    opacity: 0.5;
    cursor: default;
}

.rs-benefit .pin .line {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 3px;
    background: #d9d9d9;
    position: relative;
}

.rs-benefit .pin .line span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--color-2);
}

@media (min-width: 1023.98px) {
    .rs-benefit {
        min-height: 100vh;
    }

    .rs-benefit__media {
        min-height: 80%;
        display: grid;
    }

    .rs-benefit__content {
        height: 70%;
        max-height: 587px;
        display: grid;
        overflow: hidden;
    }
}

@media (max-width: 1556px) {
    .rs-benefit__wrapper {
        gap: 45px;
    }
}

@media (max-width: 1023.98px) {
    .rs-benefit {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .rs-benefit__wrapper {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .rs-benefit__media {
        height: 431px;
        -ms-flex-order: 2;
        order: 2;
        border-radius: 14px;
    }

    .rs-benefit__content .scroller {
        display: contents;
    }

    .rs-benefit .pin {
        display: none;
    }

    .rs-benefit .pin .arrow {
        width: 37px;
        height: 37px;
    }
}

@media (max-width: 1023.98px) and (max-width: 767.98px) {
    .rs-benefit {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 767.98px) {
    .rs-benefit__content p {
        font-size: 13px;
    }

    .rs-benefit__content h4 {
        font-size: 13px;
    }

    .rs-benefit__content h3 {
        font-size: 24px;
    }

    .rs-benefit__content ul {
        gap: 15px;
    }

    .rs-benefit__content ul li {
        grid-template-columns: 40px 1fr;
        gap: 4px 12px;
    }
}