.rs-goods {
    padding-top: 112px;
    padding-bottom: 112px;
    position: relative;
    z-index: 2;
    background: #fff;
    border-radius: var(--bdrd);
}

.rs-goods__head {
    max-width: 980px;
    margin-bottom: 33px;
}

.rs-goods .goods-slider__slide {
    height: auto;
}

.rs-goods .goods-slider .slider-nav {
    margin-left: auto;
}

.rs-goods__head {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity var(--animation-duration) var(--timing-func), transform var(--animation-duration) var(--timing-func);
}

.rs-goods__head.in-view {
    opacity: 1;
    transform: translateX(0px);
}

@media (max-width: 1023.98px) {
    .rs-goods__head {
        margin-bottom: 20px;
    }

    .rs-goods .goods-slider__slider {
        overflow: visible;
    }

    .rs-goods .goods-slider__slide {
        width: 318px;
    }
}

@media (max-width: 767.98px) {
    .rs-goods {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}