.rs-benefit {
    padding-top: 60px;
    padding-bottom: 60px;
}

.rs-benefit__head {
    margin-bottom: 20px;
}

.rs-benefit__head h3 {
    color: #292930;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 121.1%;
    letter-spacing: 0.9px;
}

.rs-benefit__items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.rs-benefit__item {
    -ms-flex: 1 1 33.3333333%;
    flex: 1 1 33.3333333%;
    padding: 0px 15px;
    margin-bottom: 30px;
}

.rs-benefit .benefit-item {
    height: 100%;
    position: relative;
    display: block;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 19px 34px 0px rgba(0, 0, 0, 0.05);
    padding: 30px;
    transition: background 0.3s ease-out;
}

.rs-benefit .benefit-item h6 {
    color: #292930;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    transition: color 0.3s ease-out;
}

.rs-benefit .benefit-item .wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 57px;
}

.rs-benefit .benefit-item .icon {
    display: block;
    width: 50px;
    height: 50px;
    background: #15c3ee;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: background 0.3s ease-out;
    margin-left: 45px;
}

.rs-benefit .benefit-item .button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    width: 45px;
    height: 45px;
    background: #b9edfa;
    transition: background 0.3s ease;
}

@media (max-width: 1506px) {
    .rs-benefit .benefit-item h6 {
        font-size: 16px;
    }
}

@media (max-width: 767.98px) {
    .rs-benefit {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .rs-benefit__head h3 {
        font-size: 25px;
    }

    .rs-benefit__items {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .rs-benefit__item {
        -ms-flex: 0 0 315px;
        flex: 0 0 315px;
    }

    .rs-benefit .benefit-item {
        padding: 20px;
        box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
    }

    .rs-benefit .benefit-item h6 {
        -ms-flex-order: 2;
        order: 2;
    }

    .rs-benefit .benefit-item .wrap {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .rs-benefit .benefit-item .icon {
        margin-left: 0;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 10px;
        width: 36px;
        height: 36px;
    }

    .rs-benefit .benefit-item .button {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-benefit__items {
        margin-right: calc((100vw - 375px) / -2);
    }
}

@media (any-hover: hover) {
    .rs-benefit .benefit-item:hover {
        background: #15c3ee;
    }

    .rs-benefit .benefit-item:hover h6 {
        color: #fff;
    }

    .rs-benefit .benefit-item:hover .icon {
        background: #fff;
    }
}