.rs-slider {
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rs-slider__wrapper {
    position: relative;
}

.rs-slider__slider {
    position: relative;
    height: 764px;
    border-bottom-left-radius: 250px;
}

.rs-slider__nav {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-slider__swiper {
    height: 100%;
}

.rs-slider__slide {
    pointer-events: none;
    height: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 60px;
}

.rs-slider__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-slider__slide-inner {
    margin-top: -50px;
    z-index: 2;
    padding-left: 123px;
    padding-right: 123px;
}

.rs-slider__slide-content {
    max-width: 600px;
}

.rs-slider__slide-content h2 {
    color: #292930;
    font-size: 60px;
    font-weight: 500;
    line-height: 121.1%;
    letter-spacing: 1.8px;
    margin-bottom: 16px;
}

.rs-slider__slide-content p {
    color: #6a6f7d;
    font-size: 26px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-bottom: 48px;
}

.rs-slider__progress-bar {
    position: absolute;
    left: 42px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-slider .progress-bar {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.rs-slider .progress-bar .start {
    color: #15c3ee;
}

.rs-slider .progress-bar .bar {
    height: 160px;
    width: 2px;
    background: #c4c4c4;
    margin: 12px 0px;
    position: relative;
}

.rs-slider .progress-bar .bar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--h);
    background: #15c3ee;
}

.rs-slider .progress-bar .total {
    color: #6a6f7d;
}

.rs-slider__slider {
    opacity: 0;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
}

.rs-slider__slider.swiper-initialized {
    opacity: 1;
}

.rs-slider__slide .rs-slider__slide-inner h2,
.rs-slider__slide .rs-slider__slide-inner p,
.rs-slider__slide .rs-slider__slide-inner a {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
    transition-property: -webkit-transform opacity;
    transition-property: transform opacity;
    transition-property: transform opacity, -webkit-transform opacity;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transition-duration: 0s;
}

.rs-slider__slide.swiper-slide-active.is-active .rs-slider__slide-inner a {
    pointer-events: auto;
}

.rs-slider__slide.swiper-slide-active.is-active .rs-slider__slide-inner h2,
.rs-slider__slide.swiper-slide-active.is-active .rs-slider__slide-inner p,
.rs-slider__slide.swiper-slide-active.is-active .rs-slider__slide-inner a {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition-duration: 0.5s;
}

.rs-slider__slide.swiper-slide-active.is-active .rs-slider__slide-inner p {
    transition-delay: 0.3s;
}

.rs-slider__slide.swiper-slide-active.is-active .rs-slider__slide-inner a {
    transition-delay: 0.6s;
}

@media (min-width: 1506px) {
    .rs-slider__wrapper {
        padding-left: 80px;
    }
}

@media (max-width: 1506px) {
    .rs-slider__progress-bar {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .rs-slider__slider {
        border-bottom-left-radius: 90px;
    }
}

@media (max-width: 767.98px) {
    .rs-slider__slider {
        height: 552px;
    }

    .rs-slider__nav {
        bottom: 25px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .rs-slider__slide {
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .rs-slider__slide-inner {
        margin-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .rs-slider__slide-content {
        padding-left: 30px;
        padding-right: 30px;
    }

    .rs-slider__slide-content h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .rs-slider__slide-content p {
        font-size: 13px;
        margin-bottom: 10px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-slider__slide-inner {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }
}