<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Estetic home | Проекты</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Raleway:wght@100..900&display=swap" rel="stylesheet">

	

	<script src="libs/pace/pace.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/pace/pace-theme-default.min.css" />

	<script src="libs/fancybox/fancybox.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/fancybox/fancybox.css" />

	<script src="libs/swiper/swiper-bundle.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/swiper/swiper-bundle.min.css" />

	
	
	

	<script src="libs/pixi/pixi.min.js" defer></script>
	<script src="libs/pixi/pixi-filters.min.js" defer></script>

	<script src="libs/gsap/gsap.min.js" defer></script>
	<script src="libs/gsap/ScrollTrigger.min.js" defer></script>
	
	
	
	
	
	
	
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="js/app.js" defer></script>

</head>

  <body class="temp-layout">
    <div class="site-wrapper">    
      <div class="main">        
         

<!-- rs-projects -->
<link rel="stylesheet" href="css/rs-projects.css" />
<section class="rs-projects">
  <div class="rs-projects__container">
    <div class="rs-projects__wrapper">
      

 





<div class="projects">
  <div class="projects__head">
    
<div class="section-title section-title_dark">
	
	
	<h2>Примеры дизайн-проектов жилого интерьера</h2>	
	
	
</div>
 
  </div>
  <div class="projects__content">
    <div class="projects-slider">
      <div class="projects-slider__slider">
        <div class="projects-slider__swiper">
          
            <div class="projects-slider__slide">
<article class="project-card">	
  <img src="img/6.jpg" alt="">
  <div class="project-card__content">
    <h5 class="project-card__title">ЖК на петровском острове</h5>
    <div class="project-card__collaps">
      <p class="project-card__text">ЖК на петровском острове Сочетание комфорта, стиля и функциональности. Мы учли все нюансы объекта, разработали уникальный проект, соответствующий современным стандартам.</p>
    </div>
    <button class="link style-2">
      <span class="mask">
        <span class="link-container">
          <span class="link-title1 title">Смотреть проект</span>
          <span class="link-title2 title">Смотреть проект</span>
        </span>
      </span>
      <span class="link-icon">
        <svg class="icon" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.353516 0.353577L4.85352 4.85358L0.353516 9.35358" stroke="white"></path>
        </svg>
        <svg class="icon" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.353516 0.353577L4.85352 4.85358L0.353516 9.35358" stroke="white"></path>
        </svg>
      </span>
    </button>
  </div>
  <a href="#">ЖК на петровском острове</a>  
</article>
</div>         
          
            <div class="projects-slider__slide">
<article class="project-card">	
  <img src="img/7.jpg" alt="">
  <div class="project-card__content">
    <h5 class="project-card__title">ЖК на петровском острове</h5>
    <div class="project-card__collaps">
      <p class="project-card__text">ЖК на петровском острове Сочетание комфорта, стиля и функциональности. Мы учли все нюансы объекта, разработали уникальный проект, соответствующий современным стандартам.</p>
    </div>
    <button class="link style-2">
      <span class="mask">
        <span class="link-container">
          <span class="link-title1 title">Смотреть проект</span>
          <span class="link-title2 title">Смотреть проект</span>
        </span>
      </span>
      <span class="link-icon">
        <svg class="icon" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.353516 0.353577L4.85352 4.85358L0.353516 9.35358" stroke="white"></path>
        </svg>
        <svg class="icon" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.353516 0.353577L4.85352 4.85358L0.353516 9.35358" stroke="white"></path>
        </svg>
      </span>
    </button>
  </div>
  <a href="#">ЖК на петровском острове</a>  
</article>
</div>         
          
            <div class="projects-slider__slide">
<article class="project-card">	
  <img src="img/6.jpg" alt="">
  <div class="project-card__content">
    <h5 class="project-card__title">ЖК на петровском острове</h5>
    <div class="project-card__collaps">
      <p class="project-card__text">ЖК на петровском острове Сочетание комфорта, стиля и функциональности. Мы учли все нюансы объекта, разработали уникальный проект, соответствующий современным стандартам.</p>
    </div>
    <button class="link style-2">
      <span class="mask">
        <span class="link-container">
          <span class="link-title1 title">Смотреть проект</span>
          <span class="link-title2 title">Смотреть проект</span>
        </span>
      </span>
      <span class="link-icon">
        <svg class="icon" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.353516 0.353577L4.85352 4.85358L0.353516 9.35358" stroke="white"></path>
        </svg>
        <svg class="icon" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.353516 0.353577L4.85352 4.85358L0.353516 9.35358" stroke="white"></path>
        </svg>
      </span>
    </button>
  </div>
  <a href="#">ЖК на петровском острове</a>  
</article>
</div>         
          
            <div class="projects-slider__slide">
<article class="project-card">	
  <img src="img/7.jpg" alt="">
  <div class="project-card__content">
    <h5 class="project-card__title">ЖК на петровском острове</h5>
    <div class="project-card__collaps">
      <p class="project-card__text">ЖК на петровском острове Сочетание комфорта, стиля и функциональности. Мы учли все нюансы объекта, разработали уникальный проект, соответствующий современным стандартам.</p>
    </div>
    <button class="link style-2">
      <span class="mask">
        <span class="link-container">
          <span class="link-title1 title">Смотреть проект</span>
          <span class="link-title2 title">Смотреть проект</span>
        </span>
      </span>
      <span class="link-icon">
        <svg class="icon" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.353516 0.353577L4.85352 4.85358L0.353516 9.35358" stroke="white"></path>
        </svg>
        <svg class="icon" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.353516 0.353577L4.85352 4.85358L0.353516 9.35358" stroke="white"></path>
        </svg>
      </span>
    </button>
  </div>
  <a href="#">ЖК на петровском острове</a>  
</article>
</div>         
                  
        </div>
      </div>
      <div class="projects-slider__nav">
        <div class="slider-arrows">
	<button type="button" class="slider-arrow slider-arrow_prev">
		<svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M22.3213 5.76042L0.72129 5.76042M0.72129 5.76042L6.33729 0.36042M0.72129 5.76042L6.33729 11.1604" stroke="black" />
		</svg>
	</button>
	<button type="button" class="slider-arrow slider-arrow_next">
		<svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 5.76042L21.6 5.76042M21.6 5.76042L15.984 0.36042M21.6 5.76042L15.984 11.1604" stroke="black" />
		</svg>
	</button>
</div>

        <div class="slider-paging"></div>
      </div>
    </div>
  </div>
</div>


    </div>
  </div>
</section>
<!-- end rs-projects -->



      </div>
    </div>   
  </body>
</html>
