<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>ООО Ренконс Арктик</title>

	<script src="js/jquery-2.1.3.min.js" defer></script>

	
	

	<script src="js/swiper-bundle.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css" />

	<script src="js/gsap/gsap.min.js" defer></script>
	<script src="js/gsap/ScrollTrigger.min.js" defer></script>
	<script src="js/gsap/CustomEase.min.js" defer></script>	
	<script src="js/gsap/ScrollToPlugin.min.js" defer></script>	
	<script src="js/gsap/SplitText.min.js" defer></script>	
		
	<link rel="stylesheet" type="text/css" href="css/block-css/style.css" />
	<script src="js/app.js" defer></script>

</head>



  <body class="page-type-default">
    
    
      
      
    

    <div class="site-wrapper">      

      <header>
        <span class="menu-overlay" data-js-overlay></span>
         




<link rel="stylesheet" href="css/block-css/rs-header.css" />
<div class="rs-header">	
		<div class="rs-header__wrapper">
			
			<div class="rs-header__topline">
				<div class="header-topline">
					<div class="header-topline__wrapper">
						<a href="#" class="header-topline__address">Адрес: Мурманск, Нижне-Ростинское шоссе, д. 39</a>
						<a href="malto:rencons-arctic-murmansk@rencons.com" class="header-topline__contact">Email: rencons-arctic-murmansk@rencons.com</a>
						<div class="header-topline__lang">
							<ul class="lang-picker-desktop">
								<li class="lang-picker-desktop__current">Рус</li>
								<li><a href="#">Eng</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="rs-header__main">
				<div class="header-main">
					<div class="header-main__wrapper">
						<a href="#" class="header-main__logo">
							<img class="main-logo" src="img/logo_desctop.png" alt="">
							<img class="tablet-logo" src="img/logo_tablet.png" alt="">
						</a>
						



<nav class="menu">

	<div class="menu-wrapper">
		<ul class="menu__list">
			<li class="current-menu-item"><a href="#"><span>Главная</span></a></li>	
			<li><a href="#"><span>О компании</span></a></li>
			<li class="menu__dropdown">
				<a href="#"><span>Производство</span></a>
				<button type="button" class="menu__dropdown-arrow"></button>
				<ul class="menu__dropdown-list">
					<li class="switch-back">Производство</li>
					<li><a href="#"><span>Примеры работ</span></a></li>
					<li><a href="#"><span>Тяжелые металлоконструкции</span></a></li>
					<li><a href="#"><span>Узлы трубопроводов</span></a></li>
					<li><a href="#"><span>Ёмкости</span></a></li>
					<li><a href="#"><span>Покраска</span></a></li>
				</ul>
			</li>			
			<li><a href="#"><span>Качество</span></a></li>
			<li><a href="#"><span>Наше оборудование</span></a></li>
			<li><a href="#"><span>Техника безопасности</span></a></li>
			<li><a href="#"><span>Транспорт</span></a></li>
			<li><a href="#"><span>Карьера</span></a></li>
			<li><a href="#"><span>Контакты</span></a></li>
		</ul>
	</div>

	<div class="mobile-menu-contacts">
		<div class="menu-wrapper">		
			<div class="mobile-menu-contacts__title">Свяжитесь с нами</div>		
			<ul class="mobile-menu-contacts__list">
				<li><a href="tel:+78152566808"><img src="img/icons/phone_mobile_icon.svg" alt=""> +7 8152 56-68-08</a></li>
				<li><a href="mailto:tsniism@tsniism.ru"><img src="img/icons/mail_mobile_icon.svg" alt=""> mail@rosait.ru</a></li>
				<li><a href="#"><img src="img/icons/loc_mobile_icon.svg" alt=""> Мурманск, Нижне-Ростинское шоссе, д. 39</a></li>
			</ul>
		</div>
	</div>

	<div class="mobile-menu-lang">
		<div class="menu-wrapper">				
			<ul class="mobile-menu-lang__list">
				<li><a href="#"><img src="img/icons/lang_mobile_icon.svg" alt="">Русский</a></li>
				<li><a href="#"><img src="img/icons/lang_mobile_icon.svg" alt="">English</a></li>
			</ul>
		</div>
	</div>

</nav>

						<a href="tel:+78152566808" class="header-main__phone">Телефон: <span>+7 8152 56-68-08</span></a>
						<div class="header-tablet-contacts">
							<a href="tel:+78152566808"><img src="img/icons/phone_icon.svg" alt=""></a>
							<a href="malto:rencons-arctic-murmansk@rencons.com"><img src="img/icons/mail_icon.svg" alt=""></a>
						</div>
						<div class="header-tablet-lang">
							<div class="lang-picker">
  <button type="button" class="lang-picker__current">    
    <span>Ru</span>
  </button>
  <ul class="lang-picker__dropdown">
    <li>
      <a href="#">En</a>
    </li>
  </ul>
</div>

						</div>
						<button class="menu-burger">
  <span><img src="img/icons/close_icon.svg" alt=""> Закрыть</span>
  <span><img src="img/icons/burger_icon.svg" alt=""> Меню</span>
</button>

					</div>
				</div>
			</div>
					
		</div>
</div>
 
      </header>

      <div class="main">        
        

  <!-- rs-slider -->
  





	 






<link rel="stylesheet" href="css/block-css/rs-slider.css" />
<div class="rs-slider" id="heroSlider">	
	<div class="rs-slider__wrapper">		

		<div class="rs-slider__slider">
			<div class="hero-slider">
				<div class="hero-slider__slider">
					<div class="hero-slider__swiper">							
						
							<div class="hero-slider__slide">
<div class="slide">
	<div class="slide__media">
		<div class="desktop"><img src="img/slider_1.jpg" alt=""></div>
		<div class="mobile"><img src="img/slider_min_1.jpg" alt=""></div>
	</div>
	<div class="slide__content">
		<h2 class="m-title">
			<span class="m-title-inner">
				<span class="m-title-highlight">
					<span class="m-title-highlight-original">Производство</span>
					<span class="m-title-highlight-fake">Производство</span>
				</span>
				и сборка модульных металлоконструкций
			</span>
		</h2>
		<p class="m-text">Надёжное оборудование, опытные специалисты и контроль всех производственных процессов</p>
	</div>
</div>
</div>
						
							<div class="hero-slider__slide">
<div class="slide">
	<div class="slide__media">
		<div class="desktop"><img src="img/slider_2.jpg" alt=""></div>
		<div class="mobile"><img src="img/slider_min_2.jpg" alt=""></div>
	</div>
	<div class="slide__content">
		<h2 class="m-title">
			<span class="m-title-inner">
				<span class="m-title-highlight">
					<span class="m-title-highlight-original">Качественное</span>
					<span class="m-title-highlight-fake">Качественное</span>
				</span>
				выполнение вашего проекта
			</span>
		</h2>
		<p class="m-text">С 2020 года выполняем услуги в сфере проектирования и производства металлоконструкций</p>
	</div>
</div>
</div>
						
							<div class="hero-slider__slide">
<div class="slide">
	<div class="slide__media">
		<div class="desktop"><img src="img/slider_3.jpg" alt=""></div>
		<div class="mobile"><img src="img/slider_min_3.jpg" alt=""></div>
	</div>
	<div class="slide__content">
		<h2 class="m-title">
			<span class="m-title-inner">
				<span class="m-title-highlight">
					<span class="m-title-highlight-original">Широкий</span>
					<span class="m-title-highlight-fake">Широкий</span>
				</span>
				спектр производственных услуг
			</span>
		</h2>
		<p class="m-text">От проектирования до пусконаладочных работ</p>
	</div>
</div>
</div>
						
							<div class="hero-slider__slide">
<div class="slide">
	<div class="slide__media">
		<div class="desktop"><img src="img/slider_4.jpg" alt=""></div>
		<div class="mobile"><img src="img/slider_min_4.jpg" alt=""></div>
	</div>
	<div class="slide__content">
		<h2 class="m-title">
			<span class="m-title-inner">
				<span class="m-title-highlight">
					<span class="m-title-highlight-original">Производство</span>
					<span class="m-title-highlight-fake">Производство</span>
				</span>
				и сборка модульных металлоконструкций
			</span>
		</h2>
		<p class="m-text">Надёжное оборудование, опытные специалисты и контроль всех производственных процессов</p>
	</div>
</div>
</div>
						
							<div class="hero-slider__slide">
<div class="slide">
	<div class="slide__media">
		<div class="desktop"><img src="img/slider_5.jpg" alt=""></div>
		<div class="mobile"><img src="img/slider_min_5.jpg" alt=""></div>
	</div>
	<div class="slide__content">
		<h2 class="m-title">
			<span class="m-title-inner">
				<span class="m-title-highlight">
					<span class="m-title-highlight-original">Производство</span>
					<span class="m-title-highlight-fake">Производство</span>
				</span>
				и сборка модульных металлоконструкций
			</span>
		</h2>
		<p class="m-text">Надёжное оборудование, опытные специалисты и контроль всех производственных процессов</p>
	</div>
</div>
</div>
						
							<div class="hero-slider__slide">
<div class="slide">
	<div class="slide__media">
		<div class="desktop"><img src="img/slider_6.jpg" alt=""></div>
		<div class="mobile"><img src="img/slider_min_6.jpg" alt=""></div>
	</div>
	<div class="slide__content">
		<h2 class="m-title">
			<span class="m-title-inner">
				<span class="m-title-highlight">
					<span class="m-title-highlight-original">Производство</span>
					<span class="m-title-highlight-fake">Производство</span>
				</span>
				и сборка модульных металлоконструкций
			</span>
		</h2>
		<p class="m-text">Надёжное оборудование, опытные специалисты и контроль всех производственных процессов</p>
	</div>
</div>
</div>
						
						<div class="hero-slider__slide">
<div class="slide">
	<div class="slide__media">
		<div class="desktop"><video src="img/7_slider_video.mp4" loop muted autoplay></video></div>
		<div class="mobile"><video src="img/7_slider_video.mp4" loop muted autoplay></video></div>
	</div>
	<div class="slide__content">
		<h2 class="m-title">
			<span class="m-title-inner">
				<span class="m-title-highlight">
					<span class="m-title-highlight-original">Производство</span>
					<span class="m-title-highlight-fake">Производство</span>
				</span>
				и сборка модульных металлоконструкций
			</span>
		</h2>
		<p class="m-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quidem quam nulla ratione explicabo numquam beatae ad, quae odio doloribus sit dolor impedit et consequuntur aut, enim, accusantium non optio.</p>
	</div>
</div>
</div>
					</div>
				</div>				
				<div class="hero-slider__nav">
					<div class="slider-paging"></div>
				</div>
			</div>
		</div>		

	</div>
</div>    
  
  <!-- rs-metrics -->
  







<link rel="stylesheet" href="css/block-css/rs-metrics.css" />
<section class="rs-metrics">
	<div class="stripes">  
  <span class="stripe stripe_m"></span>
</div>
	<div class="rs-metrics__wrapper">

		<div class="rs-metrics__head">
			
<div class="section-title " data-check-view="100%">
	
	<span>цифры компании</span>
	
	<h2>Доступные мощности и производительность</h2>	
	
</div>

		</div>

		<div class="rs-metrics__items" data-animate-stager="fadeInUp:200">				
			<div class="rs-metrics__item">
<div class="metrics-item">	
	<h6 class="metrics-item__title"><span class="counter">40000</span> м2</h6>	
	<p class="metrics-item__text">закрытых площадей</p>
</div>
</div>
			<div class="rs-metrics__item">
<div class="metrics-item">	
	<h6 class="metrics-item__title"><span class="counter">98000</span> м2</h6>	
	<p class="metrics-item__text">открытых площадей</p>
</div>
</div>
			<div class="rs-metrics__item">
<div class="metrics-item">	
	<h6 class="metrics-item__title"><span class="counter">138000</span> м2</h6>	
	<p class="metrics-item__text">общая площадь</p>
</div>
</div>
			<div class="rs-metrics__item">
<div class="metrics-item">	
	<h6 class="metrics-item__title"><span class="counter">400000</span> WDI/г</h6>	
	<p class="metrics-item__text">производство труб</p>
</div>
</div>
			<div class="rs-metrics__item">
<div class="metrics-item">	
	<h6 class="metrics-item__title"><span class="counter">24000</span> т/г</h6>	
	<p class="metrics-item__text">производство МК</p>
</div>
</div>
			<div class="rs-metrics__item">
<div class="metrics-item">	
	<h6 class="metrics-item__title"><span class="counter">280000</span> м2/г</h6>	
	<p class="metrics-item__text">нанесение покрытий</p>
</div>
</div>
		</div>

	</div>
</section>

  
  
  <!-- rs-services -->
   




<link rel="stylesheet" href="css/block-css/rs-services.css" />
<section class="rs-services"> 
  <div class="rs-services__wrapper">

    <div class="rs-services__media" data-parallax>
      <img src="img/services.jpg" alt="">
    </div>

    <div class="rs-services__content">
      
<div class="section-title section-title_light" data-check-view="100%">
	
	<span>Наша деятельность</span>
	
	<h2>Наши производственные мощности позволяют нам выполнять следующие типы&nbsp;заказов:</h2>	
	
</div>

      <ul data-animate-stager="fadeInUp:200">
        <li><span>01.</span> Трубные заготовки морских эстакад</li>
        <li><span>02.</span> Строительный инжиниринг</li>
        <li><span>03.</span> Поставка и изготовление первичных, вторичных и третичных стальных конструкций</li>
        <li><span>04.</span> Транспортировка материалов</li>
        <li><span>05.</span> Предпусковая наладка</li>
        <li><span>06.</span> Пескоструйные и малярные мастерские</li>
        <li><span>07.</span> Производство испытаний неразрушающими / разрушающими способами</li>
        <li><span>08.</span> Сварочные работы</li>
      </ul>
    </div>

  </div>	
</section>
 
  
  <!-- rs-benefit -->
   








<link rel="stylesheet" href="css/block-css/rs-benefit.css" />
<section class="rs-benefit">
  <div class="stripes">  
  <span class="stripe stripe_m"></span>
</div>
  <div class="rs-benefit__wrapper">
    <div class="rs-benefit__head">
      
<div class="section-title " data-check-view="100%">
	
	<span>о компании</span>
	
	<h2>Преимущества работы с нами</h2>	
	
</div>

    </div>

    <div class="rs-benefit__items" data-animate-stager="fadeInUp:200::300">					
      
        <div class="rs-benefit__item">
<div class="benefit-card">  
  <div class="benefit-card__icon"><img src="img/benefit_1.svg" alt=""></div>
  <h4 class="benefit-card__title">Большой опыт</h4>
  <p class="benefit-card__text">Мы готовы быстро и качественно выполнить ваши заказы по производству металлоконструкций</p>  
</div>
</div>
      
        <div class="rs-benefit__item">
<div class="benefit-card">  
  <div class="benefit-card__icon"><img src="img/benefit_2.svg" alt=""></div>
  <h4 class="benefit-card__title">Широкий спектр услуг</h4>
  <p class="benefit-card__text">От проектирования до пусконаладочных работ в различных сферах строительства</p>  
</div>
</div>
      
        <div class="rs-benefit__item">
<div class="benefit-card">  
  <div class="benefit-card__icon"><img src="img/benefit_3.svg" alt=""></div>
  <h4 class="benefit-card__title">Крупное производство</h4>
  <p class="benefit-card__text">В нашем распоряжении не только большая площадь производства, но и надёжное оборудование</p>  
</div>
</div>
      
        <div class="rs-benefit__item">
<div class="benefit-card">  
  <div class="benefit-card__icon"><img src="img/benefit_4.svg" alt=""></div>
  <h4 class="benefit-card__title">Работаем быстро и качественно</h4>
  <p class="benefit-card__text">Гарантируем, что ваш заказ будет выполнен в минимально короткое время с высоким качеством</p>  
</div>
</div>
      
    </div>

  </div>	
</section>

  
  <!-- rs-gallery -->
   




<link rel="stylesheet" href="css/block-css/rs-gallery.css" />
<section class="rs-gallery"> 
  <div class="rs-gallery__wrapper">

    <div class="rs-gallery__head">
      
<div class="section-title section-title_light" data-check-view="100%">
	
	<span>фотографии</span>
	
	<h2>Наше производство</h2>	
	
</div>
     
    </div>

    <div class="rs-gallery__slider">
      <div class="gallery-slider">
        <div class="gallery-slider__slider">
          <div class="gallery-slider__swiper">
            <div class="gallery-slider__slide"><div class="gallery-slide"><img src="img/gallery_big_2.jpg" alt=""></div></div>
            <div class="gallery-slider__slide"><div class="gallery-slide"><img src="img/gallery_big_1.jpg" alt=""></div></div>
            <div class="gallery-slider__slide"><div class="gallery-slide"><img src="img/gallery_big_3.jpg" alt=""></div></div>
            <div class="gallery-slider__slide"><div class="gallery-slide"><img src="img/gallery_big_5.jpg" alt=""></div></div>
            <div class="gallery-slider__slide"><div class="gallery-slide"><img src="img/gallery_big_3.jpg" alt=""></div></div>
            <div class="gallery-slider__slide"><div class="gallery-slide"><img src="img/gallery_big_1.jpg" alt=""></div></div>
          </div>
        </div>
        <div class="gallery-slider__nav">
          <div class="slider-paging"></div>
        </div>
      </div>
    </div>    

  </div>	
</section>
 



      </div>

      <footer>       
        




<link rel="stylesheet" href="css/block-css/rs-footer.css" />
<section class="rs-footer">	
	<div class="stripes">  
  <span class="stripe stripe_m"></span>
</div>	
	<div class="rs-footer__wrapper">
		<div class="rs-footer__content">
			<a href="tel:+78152566808">+7 8152 56-68-08</a>
			<a href="mailto:rencons-arctic-murmansk@rencons.com">rencons-arctic-murmansk@rencons.com</a>
			<a href="#">183034, г. Мурманск, Нижне-Ростинское шоссе, д. 39</a>
			<a href="#" class="rs-footer__dev">Разработано в Россайт</a>
		</div>
	</div>
</section>

      </footer>
      
    </div>
  </body>
</html>
