.rs-consultation {
    background-color: #f9f7f2;
    padding-top: 105px;
    padding-bottom: 110px;
}

.rs-consultation__container {
    position: relative;
    display: grid;
    grid-template-columns: 55% 1fr;
}

.rs-consultation__column {
    position: relative;
    z-index: 2;
}

.rs-consultation__content {
    color: #262626;
}

.rs-consultation__content h4 {
    font-family: "Bona Nova";
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 35px;
}

.rs-consultation__content p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

.rs-consultation__content p:not(:last-of-type) {
    margin-bottom: 35px;
}

.rs-consultation__content p mark {
    font-family: "Bona Nova";
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    padding: 0;
    background: none;
}

.rs-consultation__content img {
    margin-top: 20px;
}

.rs-consultation__img {
    position: absolute;
    bottom: -110px;
    right: -145px;
    -webkit-transform: translate(0px, -120px);
    transform: translate(0px, -120px);
    opacity: 0;
    transition: all 1s ease-out;
}

.rs-consultation__img.in-viewport {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
}

.rs-consultation__bg {
    position: absolute;
    bottom: -25px;
    right: -365px;
}

.rs-consultation__bg svg {
    width: 910px;
    height: 538px;
    fill: none;
    stroke: #e9d2a8;
    stroke-width: 2;
    opacity: 0;
}

.rs-consultation__bg.in-viewport svg {
    opacity: 1;
}

.rs-consultation__bg.in-viewport svg path {
    -webkit-animation: stroke 5s alternate;
    animation: stroke 5s alternate;
}

@media (min-width: 1170px) {
    .rs-consultation__content h4 {
        font-size: 40px;
    }
}

@media (max-width: 991.98px) {
    .rs-consultation__container {
        grid-template-columns: 1fr;
    }

    .rs-consultation__img {
        position: relative;
        top: 50px;
        left: 0;
    }

    .rs-consultation__img img {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .rs-consultation__content h4 {
        font-size: 24px;
    }
}

@media (min-width: 320px) and (max-width: 1170px) {
    .rs-consultation__content h4 {
        font-size: clamp( 24px , 17.9764705882px  +  1.8823529412vw , 40px );
    }
}