<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Белкартон</title>

	<script src="js/jquery-2.1.3.min.js" defer></script>
	<script src="js/lenis.min.js" defer></script>

	<script src="js/waypoints.min.js" defer></script>
	<script src="js/jquery.counterup.min.js" defer></script>

	<script src="js/swiper-bundle.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css" />

	<script src="js/validate/jquery.validate.min.js" defer></script>

	<script src="js/gsap/gsap.min.js" defer></script>
	<script src="js/gsap/ScrollTrigger.min.js" defer></script>
	<script src="js/gsap/CustomEase.min.js" defer></script>	
	<script src="js/gsap/ScrollToPlugin.min.js" defer></script>	
	
		
	<link rel="stylesheet" type="text/css" href="css/block-css/style.css" />
	<script src="js/app.js" defer></script>

</head>



  <body class="page-type-default">
    <div class="site-wrapper">
      
      <header>
        <span class="menu-overlay" data-js-overlay></span>
         




<link rel="stylesheet" href="css/block-css/rs-header.css" />
<div class="rs-header">
	<div class="rs-header__container">
		<div class="rs-header__wrapper">
			
			<div class="rs-header__logo"><a href="#"><img src="img/logo.png" alt="" /></a></div>
			<div class="rs-header__holder">
				


<nav class="menu" data-spollers="1149, max">	
	
	
	<div class="menu-wrapper">
		<ul class="menu__list">
			<li><a href="#"><span>Главная</span></a></li>
			<li class="menu__dropdown">
				<a href="#"><span>услуги</span></a>
				<button type="button" class="menu__dropdown-arrow" data-spoller></button>
				<ul class="menu__dropdown-list">
					<li><a href="#"><span>Проектирование упаковки</span></a></li>					
					<li><a href="#"><span>Нанесение логотипа методом флексопечати</span></a></li>
					<li><a href="#"><span>Изготовление коробов различной конфигурации</span></a></li>
					<li><a href="#"><span>Контроль качества</span></a></li>
					<li><a href="#"><span>Доставка</span></a></li>
				</ul>
			</li>
			<li><a href="#"><span>продукция</span></a></li>
			<li><a href="#"><span>О компании</span></a></li>
			<li><a href="#"><span>Контакты</span></a></li>
		</ul>
	</div>

	<div class="header-contacts-mobile">	
		<div class="menu-wrapper">
			<ul>
				<li><a href="mailto:belkarton@mail.ru">belkarton@mail.ru</a></li>
				<li><a href="tel:+78126775650">+7 812 677-56-50</a></li>
			</ul>
		</div>
	</div>

	<div class="header-buttons-mobile">	
		<div class="menu-wrapper">
			<a href="#">Оставить заявку</a>
		</div>
	</div>


</nav>







				<div class="rs-header__contacts">
					<a href="mailto:belkarton@mail.ru">belkarton@mail.ru</a>
					<a href="tel:+78126775650">+7 812 677-56-50</a>
				</div>
			</div>
			<button class="menu-burger">
  <span></span>
  <span></span>
  <span></span>
</button>
			<div class="rs-header__btn"><a href="#">Оставить заявку</a></div>
					
		</div>
	</div>
</div>

      </header>

      <div class="main">        
        

  <!-- rs-slider -->
  











<link rel="stylesheet" href="css/block-css/rs-slider.css" />
<div class="rs-slider" id="heroSlider">	
	<div class="rs-slider__wrapper">		

		<div class="rs-slider__slider">
			<div class="hero-slider">
				<div class="hero-slider__slider">
					<div class="hero-slider__swiper">							
						<div class="hero-slider__slide">
<div class="slide">
	<div class="stripes">
  <div class="stripes__container">
    <div class="stripes__wrapper">
      <span class="stripe stripe_l"></span>
      <span class="stripe stripe_ll"></span>
      <span class="stripe stripe_lr"></span>
      <span class="stripe stripe_m"></span>
      <span class="stripe stripe_rl"></span>
      <span class="stripe stripe_rr"></span>
      <span class="stripe stripe_r"></span>
    </div>
  </div>
</div>
	<div class="slide__media">
		<div class="desktop"><video src="img/slider_1.mp4" muted autoplay loop></video></div>
		<div class="mobile"><img src="img/slider_mobile_1.jpg" alt=""></div>
	</div>
	<div class="slide__content">
		<div class="slide__container">
			<h2>Создадим гофроупаковку для вашей продукции</h2>
			<p>Упаковки для различных промышленных отраслей <br> в Санкт-Петербурге и ЛО</p>
			
<a href="#" class="btn-color ">
	<span class="title">Подробнее</span>
	<span class="icon">
		<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.36426 0.927246L5.69416 6.04361C5.69416 6.04361 1.48559 11.0167 1.36718 11.1571" stroke="#B29B69" stroke-width="1.46182" />
			<path d="M6.63916 0.910156L10.9691 6.02652L6.63916 11.1429" stroke="#B29B69" stroke-width="1.46182" />
		</svg>
	</span>	
</a>

		</div>
	</div>
</div>
</div>						
						<div class="hero-slider__slide">
<div class="slide">
	<div class="stripes">
  <div class="stripes__container">
    <div class="stripes__wrapper">
      <span class="stripe stripe_l"></span>
      <span class="stripe stripe_ll"></span>
      <span class="stripe stripe_lr"></span>
      <span class="stripe stripe_m"></span>
      <span class="stripe stripe_rl"></span>
      <span class="stripe stripe_rr"></span>
      <span class="stripe stripe_r"></span>
    </div>
  </div>
</div>
	<div class="slide__media">
		<div class="desktop"><img src="img/slider_2.jpg" alt=""></div>
		<div class="mobile"><img src="img/slider_mobile_2.jpg" alt=""></div>
	</div>
	<div class="slide__content">
		<div class="slide__container">
			<h2>Индивидуальное производство из гофрированного картона</h2>
			<p>Простые и сложные конфигурации упаковок подчеркнут особенность ваших товаров</p>
			
<a href="#" class="btn-color ">
	<span class="title">Подробнее</span>
	<span class="icon">
		<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.36426 0.927246L5.69416 6.04361C5.69416 6.04361 1.48559 11.0167 1.36718 11.1571" stroke="#B29B69" stroke-width="1.46182" />
			<path d="M6.63916 0.910156L10.9691 6.02652L6.63916 11.1429" stroke="#B29B69" stroke-width="1.46182" />
		</svg>
	</span>	
</a>

		</div>
	</div>
</div>
</div>						
						<div class="hero-slider__slide">
<div class="slide">
	<div class="stripes">
  <div class="stripes__container">
    <div class="stripes__wrapper">
      <span class="stripe stripe_l"></span>
      <span class="stripe stripe_ll"></span>
      <span class="stripe stripe_lr"></span>
      <span class="stripe stripe_m"></span>
      <span class="stripe stripe_rl"></span>
      <span class="stripe stripe_rr"></span>
      <span class="stripe stripe_r"></span>
    </div>
  </div>
</div>
	<div class="slide__media">
		<div class="desktop"><img src="img/slider_3.jpg" alt=""></div>
		<div class="mobile"><img src="img/slider_mobile_3.jpg" alt=""></div>
	</div>
	<div class="slide__content">
		<div class="slide__container">
			<h2>Производство гофроупаковки с 2004 года</h2>
			<p>Предлагаем качественную упаковку и выгодные условия сотрудничества</p>
			
<a href="#" class="btn-color ">
	<span class="title">Подробнее</span>
	<span class="icon">
		<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.36426 0.927246L5.69416 6.04361C5.69416 6.04361 1.48559 11.0167 1.36718 11.1571" stroke="#B29B69" stroke-width="1.46182" />
			<path d="M6.63916 0.910156L10.9691 6.02652L6.63916 11.1429" stroke="#B29B69" stroke-width="1.46182" />
		</svg>
	</span>	
</a>

		</div>
	</div>
</div>
</div>						
					</div>
				</div>				
				<div class="hero-slider__nav">
					<div class="slider-arrows">
	<button type="button" class="slider-arrow slider-arrow_prev">
		<svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M15 9C12.0711 5.48528 7.5 -6.25839e-07 7.5 -6.25839e-07C7.5 -6.25839e-07 2.92893 5.48528 0 9" fill="white" />
		</svg>
	</button>
	<button type="button" class="slider-arrow slider-arrow_next">
		<svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M15 0C12.0711 3.51472 7.5 9 7.5 9C7.5 9 2.92893 3.51472 0 -6.55671e-07" fill="white" />
		</svg>
	</button>
</div>

				</div>
			</div>
		</div>		

	</div>
</div>  
  
  <!-- rs-services -->
   






<link rel="stylesheet" href="css/block-css/rs-services.css" />
<section class="rs-services">
  <div class="stripes">
  <div class="stripes__container">
    <div class="stripes__wrapper">
      <span class="stripe stripe_l"></span>
      <span class="stripe stripe_ll"></span>
      <span class="stripe stripe_lr"></span>
      <span class="stripe stripe_m"></span>
      <span class="stripe stripe_rl"></span>
      <span class="stripe stripe_rr"></span>
      <span class="stripe stripe_r"></span>
    </div>
  </div>
</div>
	<div class="rs-services__container">    
		<div class="rs-services__wrapper">

      <div class="rs-services__content">
        <div class="rs-services__head" data-animate="fadeInUp">
          
<div class="section-title" >
	
	<h2>Наши услуги</h2>	
	
</div>

        </div>
        <div class="rs-services__items" data-hidescroll data-animate-stager="zoomIn:200">
          
          <div class="rs-services__item">
<article class="services-item">
  <div class="content">
    <img src="img/service_1.png" alt="">
    <h4>Изготовление коробов различной конфигурации</h4>
    <p>Индивидуальное изготовление упаковки для различных товаров, качественные материалы и гибкая конфигурация</p>
    <div class="button">
      <span class="text">01</span>
      <span class="icon"></span>
    </div>
  </div>
  <a href="#">Изготовление коробов различной конфигурации</a>
</article>
</div>
          
          <div class="rs-services__item">
<article class="services-item">
  <div class="content">
    <img src="img/service_2.png" alt="">
    <h4>Проектирование упаковки</h4>
    <p>Создадим уникальный дизайн и конструкцию упаковки, которая эффективно защищает и сохраняет продукт</p>
    <div class="button">
      <span class="text">02</span>
      <span class="icon"></span>
    </div>
  </div>
  <a href="#">Проектирование упаковки</a>
</article>
</div>
          
          <div class="rs-services__item">
<article class="services-item">
  <div class="content">
    <img src="img/service_4.png" alt="">
    <h4>Нанесение логотипа методом флексопечати</h4>
    <p>Индивидуальное нанесение логотипа: высокое качество изображения, стойкость к воздействиям, широкий спектр цветов</p>
    <div class="button">
      <span class="text">03</span>
      <span class="icon"></span>
    </div>
  </div>
  <a href="#">Нанесение логотипа методом флексопечати</a>
</article>
</div>
          
          <div class="rs-services__item">
<article class="services-item">
  <div class="content">
    <img src="img/service_3.png" alt="">
    <h4>Контроль качества</h4>
    <p>Комплексный контроль качества продукции на всех этапах производства, проверка соответствия стандартам качества</p>
    <div class="button">
      <span class="text">04</span>
      <span class="icon"></span>
    </div>
  </div>
  <a href="#">Контроль качества</a>
</article>
</div>
          
          <div class="rs-services__item">
<article class="services-item">
  <div class="content">
    <img src="img/service_5.png" alt="">
    <h4>Доставка</h4>
    <p>Быстрая доставка товаров с соблюдением сроков и сохранности, предлагаем различные варианты доставки</p>
    <div class="button">
      <span class="text">05</span>
      <span class="icon"></span>
    </div>
  </div>
  <a href="#">Доставка</a>
</article>
</div>
          
        </div>
      </div>

		</div>		
	</div>	
</section>
 
  
  <!-- rs-video -->
  



<link rel="stylesheet" href="css/block-css/rs-video.css" />
<section class="rs-video">	
	<div class="rs-video__container">

		<div class="rs-video__wrapper">
			<div class="rs-video__head" data-animate="fadeInUp">
				
<div class="section-title" >
	
	<h2>Безопасность и надежность: изготовление гофроупаковки на заказ</h2>	
	
</div>

			</div>
			
			<div class="rs-video__content" data-video data-ibg>
				<video src="img/slider_1.mp4" poster="img/video_poster.jpg"></video>
				<button type="button" data-play>
					<svg width="26" height="32" viewBox="0 0 26 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M26 16L0.499999 31.5885L0.5 0.411542L26 16Z" fill="#1C1C1E" />
					</svg>
				</button>
				<div class="border"><span class="top"></span><span class="bottom"></span></div>
			</div>
		</div>	
	</div>
</section>


 

  <!-- rs-stretch -->
  





<link rel="stylesheet" href="css/block-css/rs-stretch.css" />
<section class="rs-stretch">
	<div class="rs-stretch__wrapper">
		<div class="pattern-background"></div>
		<div class="rs-stretch__picture" data-ibg>
			<div id="showcase-tilt"><img src="img/paralax_img.jpg" alt=""></div>
		</div>
		<div class="rs-stretch__container">
			<div class="rs-stretch__content">
				<h3>Подберем лучшую цену!</h3>
				<p>Предлагаем скидки взависимости от компоновки сырья <br> и размера партии</p>
				
<a href="#" class="btn-color ">
	<span class="title">Подробнее</span>
	<span class="icon">
		<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.36426 0.927246L5.69416 6.04361C5.69416 6.04361 1.48559 11.0167 1.36718 11.1571" stroke="#B29B69" stroke-width="1.46182" />
			<path d="M6.63916 0.910156L10.9691 6.02652L6.63916 11.1429" stroke="#B29B69" stroke-width="1.46182" />
		</svg>
	</span>	
</a>

			</div>
		</div>
	</div>
</section>

 

  <!-- rs-about -->
   



<link rel="stylesheet" href="css/block-css/rs-about.css" />
<section class="rs-about">
	<div class="rs-about__container">    
		<div class="rs-about__wrapper">

      <div class="rs-about__content" data-animate-stager="fadeInUp:200">
        <h3>О компании «БелКартон»</h3>
        <p>Компания «БелКартон» с 2004 года изготавливает гофроупаковки для различных промышленных отраслей. Сотрудничаем сфизическими и юридическими лицами в Санкт-Петербурге и Ленинградской области. У нас вы можете заказать как простые конструкции упаковок, так и сложные конфигурации, которые выделят ваши товары на полках магазинов. В нашем каталоге представлены четырехклапанные ящики, гофроупаковка для пищевых продуктов, кондитерских и табачных изделий,фруктов, овощей, моющих средств, консервов и пищевых жидкостей, товаров производственного назначения.</p>
        <div class="footnote">
          <p>Обращаясь к нам, вы можете рассчитывать на то, что для вашей продукции будет создана идеальная упаковка.</p>
          
<a href="#" class="btn-color ">
	<span class="title">Оставить заявку</span>
	<span class="icon">
		<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.36426 0.927246L5.69416 6.04361C5.69416 6.04361 1.48559 11.0167 1.36718 11.1571" stroke="#B29B69" stroke-width="1.46182" />
			<path d="M6.63916 0.910156L10.9691 6.02652L6.63916 11.1429" stroke="#B29B69" stroke-width="1.46182" />
		</svg>
	</span>	
</a>

        </div>
      </div>

			<div class="rs-about__picture">
        <div class="holder" data-ibg>
          <img src="img/about_img.jpg" alt="">          
          <div class="pattern-background"></div>
        </div>
        <div class="about-label">
          <h4><span class="counter">20</span> +</h4>
          <p>Более двадцати лет производим упаковки из гофрокартона</p>
        </div>
      </div>      

		</div>		
	</div>	
</section>
 

  <!-- rs-benefit -->
   








<link rel="stylesheet" href="css/block-css/rs-benefit.css" />
<section class="rs-benefit">	
	<div class="rs-benefit__container">
		<div class="rs-benefit__wrapper">
      <div class="rs-benefit__head" data-animate="fadeInUp">
        
<div class="section-title" >
	
	<h2>Почему с нами выгодно сотрудничать</h2>	
	
</div>

      </div>
			<div class="rs-benefit__items" data-animate-stager="zoomIn:200">					
				
					<div class="rs-benefit__item">
<div class="benefit-item">  
  <img src="img/benefit_1.png" alt="">
  <h5>Выгодные цены на услуги</h5>
  <p>Предлагаем честные ценына производство стильных и надежных решений для упаковки вашего товара</p>  
</div>
</div>
				
					<div class="rs-benefit__item">
<div class="benefit-item">  
  <img src="img/benefit_2.png" alt="">
  <h5>Работаем быстро и точно</h5>
  <p>Всегда соблюдаем установленные сроки и сдаем заказы в согласованное время</p>  
</div>
</div>
				
					<div class="rs-benefit__item">
<div class="benefit-item">  
  <img src="img/benefit_3.png" alt="">
  <h5>Современные технологии</h5>
  <p>На нашем производстве работают современные линии по изготовлению гофроупаковок</p>  
</div>
</div>
				
			</div>
		</div>		
	</div>	
</section>
 


      </div>

      <footer>       
        








<link rel="stylesheet" href="css/block-css/rs-footer.css" />
<section class="rs-footer">	
	
	<div class="rs-footer__container">
		<div class="rs-footer__wrapper">
			
			<div class="rs-footer__top">
				<div class="rs-footer__fos">
					
<div class="footer-fos">
	<h3 class="footer-title">Нужна консультация специалиста?</h3>
	<div class="form">
		<form action="#" id="fosForm">
			<div class="form-group">
				<input type="text" id="fosName" name="fosName" placeholder="Ваше ФИО" required />
				<span class="valid-icon"></span>
			</div>
			<div class="form-group">
				<input type="tel" id="fosPhone" name="fosPhone" placeholder="Телефон" maxlength="18" required data-tel-input>
				<span class="valid-icon"></span>
			</div>
			<div class="form-group">
				<input type="email" id="fosMail" name="fosMail" placeholder="E-mail" required />
				<span class="valid-icon"></span>
			</div>
			<div class="form-submit">						
				<p>Нажимая на кнопку «Оставить заявку», вы соглашаетесь на обработку персональных данных в соответствии с пользовательским соглашением</p>
				<button type="submit" class="btn-color">
					<span class="title">Оставить заявку</span>
					<span class="icon">
						<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.36426 0.927246L5.69416 6.04361C5.69416 6.04361 1.48559 11.0167 1.36718 11.1571" stroke="#B29B69" stroke-width="1.46182" />
							<path d="M6.63916 0.910156L10.9691 6.02652L6.63916 11.1429" stroke="#B29B69" stroke-width="1.46182" />
						</svg>
					</span>	
				</button>
			</div>
		</form>
	</div>
</div>

				</div>
				<div class="rs-footer__contacts">
					<h3 class="footer-title">КОнтакты</h3>
					<ul>
						<li><a href="tel:+78126775650">+7 (812) 677-56-50</a></li>
						<li><a href="tel:+79110999119">+7 (911) 099-91-19</a></li>
						<li><a href="mailto:belkarton@mail.ru">belkarton@mail.ru</a></li>
						<li>Пн-Пт: с 09:00 до18:00</li>
						<li>Санкт-Петербург,ул.&nbsp;Софийская, д.&nbsp;6,&nbsp;к.&nbsp;8, офис&nbsp;203</li>
					</ul>
				</div>				
				<div class="rs-footer__menu">
					<h3 class="footer-title">Услуги</h3>
					
<nav class="footer-menu "> 
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Проектирование упаковки</span></a></li>
    
    <li><a href="#"><span>Нанесение логотипа методом флексопечати</span></a></li>
    
    <li><a href="#"><span>Изготовление коробов различной конфигурации</span></a></li>
    
    <li><a href="#"><span>Контроль качества</span></a></li>
    
    <li><a href="#"><span>Доставка</span></a></li>
       
  </ul>
</nav>

				</div>			
			</div>

			<div class="rs-footer__copyright">
				<p>© ООО «БелКартон» 2023. Все права защищены.</p>
				<a href="#">Разработано в Россайт</a>
			</div>
			
			<a href="#heroSlider" class="scroll-top" data-anchor>
				<span class="icon">
					<svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M11 7C8.85212 4.26633 5.5 -2.36425e-07 5.5 -2.36425e-07C5.5 -2.36425e-07 2.14788 4.26633 0 7" fill="white" />
					</svg>
				</span>
				<span class="content">ВЕрнуться к началу</span>
			</a>
		</div>
	</div>
</section>


      </footer>
      
    </div>
  </body>
</html>
