<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Lampadario | Светильник бра Berry W</title>


	

	<script src="libs/pace/pace.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/pace/pace-theme-default.min.css" />

	<script src="libs/fancybox/fancybox.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/fancybox/fancybox.css" />

	<script src="libs/swiper/swiper-bundle.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/swiper/swiper-bundle.min.css" />

	<script src="libs/nouislider/nouislider.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/nouislider/nouislider.css" />
	<script src="libs/nouislider/wNumb.min.js" defer></script>

	
	

	
	
	
	
	
	
	
	
	
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="js/app.js" defer></script>

</head>

  <body class="default-layout">
    
    
      
      
    
    
    <div class="site-wrapper">      
      
      <header>
        <span class="menu-overlay" data-js-overlay></span>
         

<link rel="stylesheet" href="css/header.css" />
<div class="header">	
	<div class="header__container">
		<div class="header__holder">		
			<div class="header__wrapper">
				
				
<nav class="menu">

	<div class="menu-wrapper">
		<ul class="menu__list">		
			<li class="menu__dropdown">
				<a href="#"><span>Каталог</span></a>
				<button type="button" class="menu__dropdown-arrow"></button>
				<ul class="menu__dropdown-list">
					<li class="switch-back">Каталог</li>
					<li><a href="#"><span>Мебель</span></a></li>
					<li class="menu__dropdown">
						<a href="#"><span>Декор</span></a>
						<button type="button" class="menu__dropdown-arrow"></button>
						<ul class="menu__dropdown-list">
							<li class="switch-back">Декор</li>
							<li><a href="#"><span>Диваны</span></a></li>
							<li><a href="#"><span>Кресла</span></a></li>
							<li><a href="#"><span>Пуфы</span></a></li>
							<li><a href="#"><span>Кровати</span></a></li>
						</ul>
					</li>
					<li><a href="#"><span>Светильники</span></a></li>
				</ul>
			</li>				
			<li><a href="#"><span>Фабрики</span></a></li>
			<li><a href="#"><span>Новинки</span></a></li>
			<li><a href="#"><span>Услуги</span></a></li>
			<li><a href="#"><span>Статьи</span></a></li>
			<li><a href="contacts.html"><span>Контакты</span></a></li>
		</ul>
	</div>

	<div class="menu-footer">
		<form action="#" class="mobile-menu-search">
  <div class="mobile-menu-search__box">
    <input type="search" name="search" placeholder="Введите текст">
    <button type="submit">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.7984 13.8099L19.004 19M16.0034 8.49772C16.0034 12.6408 12.6448 15.9993 8.50175 15.9993C4.35871 15.9993 1.00012 12.6408 1.00012 8.49772C1.00012 4.35469 4.35871 0.996094 8.50175 0.996094C12.6448 0.996094 16.0034 4.35469 16.0034 8.49772Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </div>  
</form>
		<div class="mobile-menu-contacts">
			<div class="mobile-menu-contacts__title">Свяжитесь с нами</div>
			<ul class="mobile-menu-contacts__list">
				<li><a href="tel:+78123088813">+7 (812) 308-88-13</a></li>
				<li><a href="tel:+79818088813">+7 (981) 808-88-13</a></li>
				<li><a href="mailto:salon@lampadario.ru">salon@lampadario.ru</a></li>
			</ul>
		</div>		
	</div>

</nav>
				<form action="#" class="header-search header-search_des">		
  <input type="search" name="headerSearch" placeholder="Введите текст" />
  <button type="submit">
    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.7983 14.3099L19.0039 19.5M16.0033 8.99772C16.0033 13.1408 12.6447 16.4993 8.50163 16.4993C4.35859 16.4993 1 13.1408 1 8.99772C1 4.85469 4.35859 1.49609 8.50163 1.49609C12.6447 1.49609 16.0033 4.85469 16.0033 8.99772Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>
</form>
				
				<a href="index.html" class="header-logo">
					<img src="img/logo.png" alt="" />
				</a>				
				
				<button class="menu-burger">
  <span>
    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1.5L11 11.5M11 1.5L1 11.5" stroke="#CC2229" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    Закрыть
  </span>
  <span>
    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.07703 7.46167H12.9232" stroke="white" stroke-width="1.85" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M1.07703 3.19263H12.9232" stroke="white" stroke-width="1.85" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M1.07703 11.7307H12.9232" stroke="white" stroke-width="1.85" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
     Меню
  </span>
</button>

			</div>
		</div>
	</div>
</div> 
      </header>
      
      <div class="main">        
        

 
<!-- rs-breadcrumbs -->
<div class="rs-breadcrumbs">
  <div class="rs-breadcrumbs__container">
    
<nav class="breadcrumbs " role="navigation" aria-label="breadcrumbs" data-hidescroll>    
  
    <a href="#">Главная</a>
    <span class="breadcrumb__divider" aria-hidden="true">
      <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0.5L5 4.5L1 8.5" stroke="#999999" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </span>
  
    <a href="#">Каталог</a>
    <span class="breadcrumb__divider" aria-hidden="true">
      <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0.5L5 4.5L1 8.5" stroke="#999999" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </span>
  
    <a href="#">Свет</a>
    <span class="breadcrumb__divider" aria-hidden="true">
      <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0.5L5 4.5L1 8.5" stroke="#999999" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </span>
  
    <a href="#">Декоративный свет</a>
    <span class="breadcrumb__divider" aria-hidden="true">
      <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0.5L5 4.5L1 8.5" stroke="#999999" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </span>
  
    <a href="#">Бра</a>
    <span class="breadcrumb__divider" aria-hidden="true">
      <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0.5L5 4.5L1 8.5" stroke="#999999" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </span>
      
  <span>Светильник бра Berry W</span>    
</nav>

  </div>
</div>

<!-- rs-product -->
<link rel="stylesheet" href="css/rs-product.css" />
<section class="rs-product">
  <div class="rs-product__container">
    <div class="rs-product__wrapper">
       
 
 
 



<div class="product">
  <div class="product-grid">
    <div class="product-grid__item">
      <div class="product__gallery">
         
 




<div class="product-gallery">	
	<div class="product-gallery__slider product-gallery-main">
		<div class="product-gallery__swiper">
      
        <div class="product-gallery__slide"><img src="img/product_1.jpg" alt=""></div>
      
        <div class="product-gallery__slide"><img src="img/product_2.jpg" alt=""></div>
      
        <div class="product-gallery__slide"><img src="img/product_3.jpg" alt=""></div>
      
        <div class="product-gallery__slide"><img src="img/product_4.jpg" alt=""></div>
      
        <div class="product-gallery__slide"><img src="img/product_5.jpg" alt=""></div>
      
        <div class="product-gallery__slide"><img src="img/product_6.jpg" alt=""></div>
      
        <div class="product-gallery__slide"><img src="img/product_1.jpg" alt=""></div>
      
        <div class="product-gallery__slide"><img src="img/product_2.jpg" alt=""></div>
      
		</div>
		<div class="product-gallery__nav">
			<div class="slider-arrows">
	<button type="button" class="slider-arrow slider-arrow_prev">
		<svg width="36" height="26" viewBox="0 0 36 26" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M2.84611 13.6986H36V12.18H2.96764L14.0426 1.105L12.9688 0.031189L0 13L12.9688 25.9689L14.0426 24.8951L2.84618 13.6986H2.84611Z" fill="white" />
		</svg>
	</button>
	<button type="button" class="slider-arrow slider-arrow_next">
		<svg width="36" height="26" viewBox="0 0 36 26" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M33.1539 13.6986H0V12.18H33.0324L21.9574 1.105L23.0312 0.031189L36 13L23.0312 25.9689L21.9574 24.8951L33.1538 13.6986H33.1539Z" fill="white" />
		</svg>
	</button>
</div>

		</div>
	</div>
  <div class="product-gallery__slider product-gallery-thumbs">
		<div class="product-gallery__swiper">
			
        <div class="product-gallery__slide"><img src="img/product_1.jpg" alt=""></div>
      
        <div class="product-gallery__slide"><img src="img/product_2.jpg" alt=""></div>
      
        <div class="product-gallery__slide"><img src="img/product_3.jpg" alt=""></div>
      
        <div class="product-gallery__slide"><img src="img/product_4.jpg" alt=""></div>
      
        <div class="product-gallery__slide"><img src="img/product_5.jpg" alt=""></div>
      
        <div class="product-gallery__slide"><img src="img/product_6.jpg" alt=""></div>
      
        <div class="product-gallery__slide"><img src="img/product_1.jpg" alt=""></div>
      
        <div class="product-gallery__slide"><img src="img/product_2.jpg" alt=""></div>
      
		</div>
	</div>
</div>
      </div>
      <div class="product__tabs">
        

<div class="product-tabs" id="productTabs">
  <div class="product-tabs__section" id="descProductTab">
    <h3 class="product-tabs__title">Описание</h3>
    <div class="product-tabs__content base-content">
      <p>Настенный светильник Berry W испанской фабрики B.lux.</p>
      <br>
      <p>В коллекции Berry представлены светильники, оснащенные магнитной системой, которая позволяет регулировать их положение по желанию заказчика.</p>
      <br>
      <p>Настенный светильник Berry W изготовлен из алюминия и оснащен светодиодным источником света с концентрированной оптикой, что позволяет фокусировать и направлять свет в пространстве. </p>
      <br>
      <p>Его диаметр составляет 8 см, а общая высота – 35 см.</p>
      <br>
      <p><strong>Доступные цвета:</strong> бежевый, чёрный, бронзовый и белый.</p>
      <br>
      <p>Купить настенный светильник Berry W испанской фабрики B.lux можно в салоне европейского света Lampadario. Светильник представлен на экспозиции в чёрном цвете.</p>
    </div>
  </div>
  <div class="product-tabs__section" id="diagramProductTab">
    <h3 class="product-tabs__title">Техническая схема</h3>
    <div class="product-tabs__content">
      <img src="img/shema.jpg" alt="">
    </div>
  </div>
</div>
      </div>
    </div>
    <div class="product-grid__item">
      <div class="summary">
        <div class="product-label">Скоро в продаже <span></span> бра</div>
        <p class="product-article-number" data-label="Артикул: ">123456</p>
        <h1 class="product-name">B.Lux Berry W</h1>
        <p class="product-price">50 000 ₽</p>
        
<a href="#" class="btn-color btn-color_dark btn-color_big">	
	<span>заказать</span>
</a>
        
        <dl class="product-description-list">
          <div class="product-description-list__line">
            <dt>Фабрика:</dt> <dd>B.Lux</dd>
          </div>
          <div class="product-description-list__line">
            <dt>Температура света: </dt> <dd>2700 aК</dd>
          </div>
          <div class="product-description-list__line">
            <dt>Тип светильника: </dt> <dd>бра</dd>
          </div>
          <div class="product-description-list__line">
            <dt>Световой поток: </dt> <dd>546 Лм</dd>
          </div>
          <div class="product-description-list__line">
            <dt>Модель:</dt> <dd>Berry W</dd>
          </div>
          <div class="product-description-list__line">
            <dt>Цвет:</dt> <dd>чёрный и белый</dd>
          </div>
          <div class="product-description-list__line">
            <dt>Материал:</dt> <dd>алюминий</dd>
          </div>
          <div class="product-description-list__line">
            <dt>Тип патрона: </dt> <dd>LED GU10</dd>
          </div>
          <div class="product-description-list__line">
            <dt>Диаметр:</dt> <dd>8 см</dd>
          </div>
          <div class="product-description-list__line">
            <dt>Кол-во лампочек: </dt> <dd>1</dd>
          </div>
          <div class="product-description-list__line">
            <dt>Высота: </dt> <dd>35 см</dd>
          </div>
          <div class="product-description-list__line">
            <dt>Страна:</dt> <dd>Испания</dd>
          </div>
          <div class="product-description-list__line">
            <dt>Мощность: </dt> <dd>4,5 Вт</dd>
          </div>
          <div class="product-description-list__line">
            <dt>Стиль: </dt> <dd>современный</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>



    </div>
  </div>
</section>
<!-- end rs-product -->

<!-- rs-goods -->

<link rel="stylesheet" href="css/rs-goods.css" />
<section class="rs-goods">
  <div class="rs-goods__container">
    <div class="rs-goods__wrapper">
      
 





<div class="goods">
  <div class="goods__head">
    
<div class="section-title ">
	
	
	<h2>похожие товары</h2>	
	
	
</div>
    
  </div>
  <div class="goods__content site-padding">
    <div class="goods-slider">
      <div class="goods-slider__slider">
        <div class="goods-slider__swiper">
          
          <div class="goods-slider__slide">
<article class="goods-card">
  <div class="goods-card__photo">
    <img src="img/new_1.jpg" alt="">    
  </div>
  <div class="goods-card__content">
    <h5 class="goods-card__title">Подвесной светильник Covali JPL-23504 Латунь</h5>
    <p class="goods-card__brand">Covali</p>
    <p class="goods-card__price">92 000 ₽</p>    
  </div>  
  <a href="#">Подвесной светильник Covali JPL-23504 Латунь</a>
</article>
</div>
          
          <div class="goods-slider__slide">
<article class="goods-card">
  <div class="goods-card__photo">
    <img src="img/new_2.jpg" alt="">    
  </div>
  <div class="goods-card__content">
    <h5 class="goods-card__title"> Настольный светильник Flos spa Snoopy <br> Marble</h5>
    <p class="goods-card__brand">Flos spa</p>
    <p class="goods-card__price">135 000 ₽</p>    
  </div>  
  <a href="#"> Настольный светильник Flos spa Snoopy &lt;br&gt; Marble</a>
</article>
</div>
          
          <div class="goods-slider__slide">
<article class="goods-card">
  <div class="goods-card__photo">
    <img src="img/new_3.jpg" alt="">    
  </div>
  <div class="goods-card__content">
    <h5 class="goods-card__title">Подвесной светильник Covali JPL-23537 Состаренная латунь </h5>
    <p class="goods-card__brand">Covali</p>
    <p class="goods-card__price">25 000 ₽</p>    
  </div>  
  <a href="#">Подвесной светильник Covali JPL-23537 Состаренная латунь </a>
</article>
</div>
          
          <div class="goods-slider__slide">
<article class="goods-card">
  <div class="goods-card__photo">
    <img src="img/new_4.jpg" alt="">    
  </div>
  <div class="goods-card__content">
    <h5 class="goods-card__title"> Настольный светильник Tossb Sphere big 3 <br> Black</h5>
    <p class="goods-card__brand">Tossb</p>
    <p class="goods-card__price">162 000 ₽</p>    
  </div>  
  <a href="#"> Настольный светильник Tossb Sphere big 3 &lt;br&gt; Black</a>
</article>
</div>
          
          <div class="goods-slider__slide">
<article class="goods-card">
  <div class="goods-card__photo">
    <img src="img/new_1.jpg" alt="">    
  </div>
  <div class="goods-card__content">
    <h5 class="goods-card__title">Подвесной светильник Covali JPL-23504 Латунь</h5>
    <p class="goods-card__brand">Covali</p>
    <p class="goods-card__price">92 000 ₽</p>    
  </div>  
  <a href="#">Подвесной светильник Covali JPL-23504 Латунь</a>
</article>
</div>
          
          <div class="goods-slider__slide">
<article class="goods-card">
  <div class="goods-card__photo">
    <img src="img/new_2.jpg" alt="">    
  </div>
  <div class="goods-card__content">
    <h5 class="goods-card__title"> Настольный светильник Flos spa Snoopy Marble</h5>
    <p class="goods-card__brand">Flos spa</p>
    <p class="goods-card__price">135 000 ₽</p>    
  </div>  
  <a href="#"> Настольный светильник Flos spa Snoopy Marble</a>
</article>
</div>
          
        </div>
      </div>
      <div class="goods-slider__nav">
        <div class="slider-arrows">
	<button type="button" class="slider-arrow slider-arrow_prev">
		<svg width="36" height="26" viewBox="0 0 36 26" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M2.84611 13.6986H36V12.18H2.96764L14.0426 1.105L12.9688 0.031189L0 13L12.9688 25.9689L14.0426 24.8951L2.84618 13.6986H2.84611Z" fill="white" />
		</svg>
	</button>
	<button type="button" class="slider-arrow slider-arrow_next">
		<svg width="36" height="26" viewBox="0 0 36 26" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M33.1539 13.6986H0V12.18H33.0324L21.9574 1.105L23.0312 0.031189L36 13L23.0312 25.9689L21.9574 24.8951L33.1538 13.6986H33.1539Z" fill="white" />
		</svg>
	</button>
</div>

      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</section>
<!-- end rs-goods -->

<!-- rs-goods -->

<section class="rs-goods">
  <div class="rs-goods__container">
    <div class="rs-goods__wrapper">
      
 





<div class="goods">
  <div class="goods__head">
    
<div class="section-title ">
	
	
	<h2>Вы смотрели</h2>	
	
	
</div>
    
  </div>
  <div class="goods__content site-padding">
    <div class="goods-slider">
      <div class="goods-slider__slider">
        <div class="goods-slider__swiper">
          
          <div class="goods-slider__slide">
<article class="goods-card">
  <div class="goods-card__photo">
    <img src="img/new_1.jpg" alt="">    
  </div>
  <div class="goods-card__content">
    <h5 class="goods-card__title">Подвесной светильник Covali JPL-23504 Латунь</h5>
    <p class="goods-card__brand">Covali</p>
    <p class="goods-card__price">92 000 ₽</p>    
  </div>  
  <a href="#">Подвесной светильник Covali JPL-23504 Латунь</a>
</article>
</div>
          
          <div class="goods-slider__slide">
<article class="goods-card">
  <div class="goods-card__photo">
    <img src="img/new_2.jpg" alt="">    
  </div>
  <div class="goods-card__content">
    <h5 class="goods-card__title"> Настольный светильник Flos spa Snoopy <br> Marble</h5>
    <p class="goods-card__brand">Flos spa</p>
    <p class="goods-card__price">135 000 ₽</p>    
  </div>  
  <a href="#"> Настольный светильник Flos spa Snoopy &lt;br&gt; Marble</a>
</article>
</div>
          
          <div class="goods-slider__slide">
<article class="goods-card">
  <div class="goods-card__photo">
    <img src="img/new_3.jpg" alt="">    
  </div>
  <div class="goods-card__content">
    <h5 class="goods-card__title">Подвесной светильник Covali JPL-23537 Состаренная латунь </h5>
    <p class="goods-card__brand">Covali</p>
    <p class="goods-card__price">25 000 ₽</p>    
  </div>  
  <a href="#">Подвесной светильник Covali JPL-23537 Состаренная латунь </a>
</article>
</div>
          
          <div class="goods-slider__slide">
<article class="goods-card">
  <div class="goods-card__photo">
    <img src="img/new_4.jpg" alt="">    
  </div>
  <div class="goods-card__content">
    <h5 class="goods-card__title"> Настольный светильник Tossb Sphere big 3 <br> Black</h5>
    <p class="goods-card__brand">Tossb</p>
    <p class="goods-card__price">162 000 ₽</p>    
  </div>  
  <a href="#"> Настольный светильник Tossb Sphere big 3 &lt;br&gt; Black</a>
</article>
</div>
          
          <div class="goods-slider__slide">
<article class="goods-card">
  <div class="goods-card__photo">
    <img src="img/new_1.jpg" alt="">    
  </div>
  <div class="goods-card__content">
    <h5 class="goods-card__title">Подвесной светильник Covali JPL-23504 Латунь</h5>
    <p class="goods-card__brand">Covali</p>
    <p class="goods-card__price">92 000 ₽</p>    
  </div>  
  <a href="#">Подвесной светильник Covali JPL-23504 Латунь</a>
</article>
</div>
          
          <div class="goods-slider__slide">
<article class="goods-card">
  <div class="goods-card__photo">
    <img src="img/new_2.jpg" alt="">    
  </div>
  <div class="goods-card__content">
    <h5 class="goods-card__title"> Настольный светильник Flos spa Snoopy Marble</h5>
    <p class="goods-card__brand">Flos spa</p>
    <p class="goods-card__price">135 000 ₽</p>    
  </div>  
  <a href="#"> Настольный светильник Flos spa Snoopy Marble</a>
</article>
</div>
          
        </div>
      </div>
      <div class="goods-slider__nav">
        <div class="slider-arrows">
	<button type="button" class="slider-arrow slider-arrow_prev">
		<svg width="36" height="26" viewBox="0 0 36 26" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M2.84611 13.6986H36V12.18H2.96764L14.0426 1.105L12.9688 0.031189L0 13L12.9688 25.9689L14.0426 24.8951L2.84618 13.6986H2.84611Z" fill="white" />
		</svg>
	</button>
	<button type="button" class="slider-arrow slider-arrow_next">
		<svg width="36" height="26" viewBox="0 0 36 26" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M33.1539 13.6986H0V12.18H33.0324L21.9574 1.105L23.0312 0.031189L36 13L23.0312 25.9689L21.9574 24.8951L33.1538 13.6986H33.1539Z" fill="white" />
		</svg>
	</button>
</div>

      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</section>
<!-- end rs-goods -->


      </div>

      <footer>
         
 






















<link rel="stylesheet" href="css/footer.css" />
<section class="footer site-fullhd">
	<div class="footer__container">

		<div class="footer__wrapper">

			<div class="footer__column">
				<div class="footer-logo"><img src="img/logo_footer.png" alt=""></div>
			</div>

			<div class="footer__column">
				<div class="footer-content">
					<div class="footer-content__address">
<div class="footer-address">
	<h4 class="footer-title">Адрес и режим работы: </h4>
	<p>197022, г. Санкт-Петербург, Каменноостровский пр-кт, д. 62</p>
	<p>Ежедневно с 10:00 до 19:00</p>
</div>
</div>
					<div class="footer-content__contacts">
<div class="footer-contacts">
	<h4 class="footer-title">Контакты</h4>	
	<ul class="footer-contacts__list">
		<li><a href="tel:+78123088813">+7 (812) 308-88-13</a></li>
		<li><a href="tel:+79818088813">+7 (981) 808-88-13</a></li>
		<li><a href="mailto:salon@lampadario.ru">salon@lampadario.ru</a></li>
	</ul>	
</div>	
</div>
					<div class="footer-content__social">
<div class="footer-social">
	<h4 class="footer-title">Мы в социальных сетях</h4>	
	<ul class="footer-social__list">
		<li><a href="#"><img src="img/icons/wa_icon.svg" alt=""></a></li>
		<li><a href="#"><img src="img/icons/tg_icon.svg" alt=""></a></li>
		<li><a href="#"><img src="img/icons/vk_icon.svg" alt=""></a></li>
		<li><a href="#"><img src="img/icons/social_icon.svg" alt=""></a></li>
	</ul>	
</div>
</div>
					<div class="footer-content__menu">
						
<div class="footer__menu">
	<h4 class="footer-title">Компания:</h4>
	
<nav class="footer-menu ">  
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Магазин</span></a></li>
    
    <li><a href="#"><span>Дизайнерам</span></a></li>
    
    <li><a href="#"><span>FAQ</span></a></li>
    
    <li><a href="#"><span>Политика конфиденциальности</span></a></li>
    
    <li><a href="#"><span>Пользовательское соглашение</span></a></li>
       
  </ul>
</nav>

</div>

						
<div class="footer__menu">
	<h4 class="footer-title">Магазин:</h4>
	
<nav class="footer-menu ">  
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Доставка и оплата</span></a></li>
    
    <li><a href="#"><span>Обмен и возврат</span></a></li>
       
  </ul>
</nav>

</div>

						
<div class="footer__menu">
	<h4 class="footer-title">На связи:</h4>
	
<nav class="footer-menu ">  
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Журнал</span></a></li>
       
  </ul>
</nav>

</div>

					</div>
					<div class="footer-content__copyright ">
<div class="footer-copyright">	
	<p>© Lampadario Interior – интерьерный салон 2025. Все права защищены.</p>	
	<a href="#">Разработано в Россайт</a>
</div>
</div>
				</div>
			</div>

		</div>
		

	</div>

</section>



      </footer>

      <div class="modals">
        <div class="modal-dialog" id="callbackModal">
  <div class="modal-dialog-wrapper">
    <div class="modal-dialog-header">
      <h4>Заголовок</h4>
      <p>Подзаголовок, Тут будет текст для Формы обратной связи</p>
    </div>
    <div class="modal-dialog-content">
      
 

<div class="md-fos" >	
	<div class="md-fos__wrapper">		
		<div class="md-fos__content">			
			<form action="#" id="mdFosForm" class="base-form">	
				<div class="form-group">
					 
   
<input type="text" id="mdFosName" name="mdFosName" placeholder="Ваше имя" required>

				</div>
				<div class="form-group">						
					 
   
<input type="email" id="mdFosMail" name="mdFosMail" placeholder="Email" required>

				</div>				
				<div class="form-group">
					 
   
<input type="tel" id="mdFosPhone" name="mdFosPhone" placeholder="Телефон" required maxlength="18" data-tel-input>

				</div>						
				<div class="form-group">					
					
   
<textarea id="mdFosMessage" name="mdFosMessage" placeholder="Ваше сообщение" required></textarea>

				</div>									
				<div class="form-submit form-submit_clm">
					<p>Нажимая кнопку «Отправить заявку» вы соглашаетесь на обработку ваших персональных данных в соответствии с <a href="#">пользовательским соглашением</a></p>
					<button type="submit" class="btn-color"><span>Отправить заявку</span></button>
				</div>
			</form>
		</div>			
	</div>
</div>
              
    </div>
    
  </div>
</div>

      </div>
      
    </div>

    
  </body>
</html>
