<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Lampadario | Дизайн-проект в ЖК «Modum», 98м²</title>


	

	<script src="libs/pace/pace.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/pace/pace-theme-default.min.css" />

	<script src="libs/fancybox/fancybox.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/fancybox/fancybox.css" />

	<script src="libs/swiper/swiper-bundle.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/swiper/swiper-bundle.min.css" />

	<script src="libs/nouislider/nouislider.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/nouislider/nouislider.css" />
	<script src="libs/nouislider/wNumb.min.js" defer></script>

	
	

	
	
	
	
	
	
	
	
	
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="js/app.js" defer></script>

</head>

  <body class="default-layout">
    
    
      
      
    
    
    <div class="site-wrapper">      
      
      <header>
        <span class="menu-overlay" data-js-overlay></span>
         

<link rel="stylesheet" href="css/header.css" />
<div class="header">	
	<div class="header__container">
		<div class="header__holder">		
			<div class="header__wrapper">
				
				
<nav class="menu">

	<div class="menu-wrapper">
		<ul class="menu__list">		
			<li class="menu__dropdown">
				<a href="about.html" class="menu__dropdown-arrow"><span>О компании</span></a>
				<ul class="menu__dropdown-list" style="background-image: url('img/bg_about_menu.jpg');">
					<li class="menu__dropdown-list-header">
						<button type="button" class="switch-back"><img src="img/icons/close_icon.svg" alt=""></button>
					</li>
					<li><a href="about.html" class="main-link"><span>О компании</span></a></li>
					<li><a href="team.html"><span>Наша команда</span></a></li>
					<li><a href="collaboration.html"><span>Сотрудничество</span></a></li>
					<li><a href="#"><span>Реквизиты</span></a></li>
				</ul>
			</li>
			<li class="menu__dropdown">
				<a href="#"  class="menu__dropdown-arrow"><span>Каталог</span></a>				
				<ul class="menu__dropdown-list" style="background-image: url('img/bg_kt_menu.jpg');">
					<li class="menu__dropdown-list-header">
						<button type="button" class="switch-back"><img src="img/icons/close_icon.svg" alt=""></button>
					</li>
					<li><a href="about.html" class="main-link"><span>Каталог</span></a></li>
					<li>
						<a href="#"><span>Мебель</span></a>
						<ul>
							<li><a href="#"><span>Мягкая мебель</span></a></li>
							<li><a href="#"><span>Столы и стулья</span></a></li>
							<li><a href="#"><span>Шкафы</span></a></li>
							<li><a href="#"><span>Тумбы</span></a></li>
							<li><a href="#"><span>Уличная мебель</span></a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span>Светильники</span></a>
						<ul>
							<li><a href="#"><span>Декоративный свет</span></a></li>
							<li><a href="#"><span>Технический свет</span></a></li>
							<li><a href="#"><span>Архитектурный свет</span></a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span>Декор</span></a>
						<ul>
							<li><a href="#"><span>Зеркала</span></a></li>
							<li><a href="#"><span>Вазы</span></a></li>
							<li><a href="#"><span>Часы</span></a></li>
							<li><a href="#"><span>Панно</span></a></li>
							<li><a href="#"><span>Прочее</span></a></li>
						</ul>
					</li>
				</ul>
			</li>				
			<li><a href="fabricator.html"><span>Производители</span></a></li>
			<li><a href="projects.html"><span>Проекты</span></a></li>
			<li><a href="blog.html"><span>Блог</span></a></li>
			<li><a href="contacts.html"><span>Контакты</span></a></li>
		</ul>
	</div>

	<div class="menu-footer">
		<form action="#" class="mobile-menu-search">
  <div class="mobile-menu-search__box">
    <input type="search" name="search" placeholder="Введите текст">
    <button type="submit">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.7984 13.8099L19.004 19M16.0034 8.49772C16.0034 12.6408 12.6448 15.9993 8.50175 15.9993C4.35871 15.9993 1.00012 12.6408 1.00012 8.49772C1.00012 4.35469 4.35871 0.996094 8.50175 0.996094C12.6448 0.996094 16.0034 4.35469 16.0034 8.49772Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </div>  
</form>
		<div class="mobile-menu-contacts">
			<div class="mobile-menu-contacts__title">Свяжитесь с нами</div>
			<ul class="mobile-menu-contacts__list">
				<li><a href="tel:+78123088813">+7 (812) 308-88-13</a></li>
				<li><a href="tel:+79818088813">+7 (981) 808-88-13</a></li>
				<li><a href="mailto:salon@lampadario.ru">salon@lampadario.ru</a></li>
			</ul>
		</div>		
	</div>

</nav>
				<form action="#" class="header-search header-search_des">		
  <input type="search" name="headerSearch" placeholder="Введите текст" />
  <button type="submit">
    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.7983 14.3099L19.0039 19.5M16.0033 8.99772C16.0033 13.1408 12.6447 16.4993 8.50163 16.4993C4.35859 16.4993 1 13.1408 1 8.99772C1 4.85469 4.35859 1.49609 8.50163 1.49609C12.6447 1.49609 16.0033 4.85469 16.0033 8.99772Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>
</form>
				
				<a href="index.html" class="header-logo">
					<img src="img/logo.png" alt="" />
				</a>				
				
				<button class="menu-burger">
  <span>
    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1.5L11 11.5M11 1.5L1 11.5" stroke="#CC2229" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    Закрыть
  </span>
  <span>
    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.07703 7.46167H12.9232" stroke="white" stroke-width="1.85" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M1.07703 3.19263H12.9232" stroke="white" stroke-width="1.85" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M1.07703 11.7307H12.9232" stroke="white" stroke-width="1.85" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
     Меню
  </span>
</button>

			</div>
		</div>
	</div>
</div> 
      </header>
      
      <div class="main">        
         

 
<!-- rs-breadcrumbs -->
<div class="rs-breadcrumbs">
  <div class="rs-breadcrumbs__container">
    
<nav class="breadcrumbs " role="navigation" aria-label="breadcrumbs" data-hidescroll>    
  
    <a href="#">Главная</a>
    <span class="breadcrumb__divider" aria-hidden="true">
      <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0.5L5 4.5L1 8.5" stroke="#999999" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </span>
  
    <a href="#">Проекты</a>
    <span class="breadcrumb__divider" aria-hidden="true">
      <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0.5L5 4.5L1 8.5" stroke="#999999" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </span>
      
  <span>Строгий интерьер в ЖК «Modum»</span>    
</nav>

  </div>
</div>

<!-- rs-single-project -->
  
<link rel="stylesheet" href="css/rs-single-project.css" />
<section class="rs-single-project">
  <div class="rs-single-project__container">
    <div class="rs-single-project__head">
      
<div class="section-title ">
	
	
	<h2>Дизайн-проект в ЖК «Modum», 98м²</h2>	
	
	
</div>

    </div>
    <div class="rs-single-project__description base-content site-padding">
      <p><strong>Стиль:</strong> современный с элементами ар-деко.</p>
      <p><strong>Особенности:</strong> продуманная планировка с характером, серебристая цветовая гамма с контрастными акцентами в отделке стен, крупноформатный керамогранит.</p>
      <p><strong>Автор проекта:</strong> Виктор Мойса (студия элитного жилья Александра Акименкова)</p>
    </div>
    <div class="rs-single-project__wrapper site-padding">
      <div class="fbxgrid-gallery base-content">
	<a class="fbxgrid-slide _full"  href="img/projects/pic_p1.jpg" data-fancybox="gallery"><img src="img/projects/pic_p1.jpg" alt="" /></a>
	<p>Искусство света – это сочетание дизайна, формы и материалов. В наших проектах мы используем светильники ведущих европейских брендов: от Италии и Чехии до Австрии и Франции. Каждая модель – это не просто источник света, а часть интерьера, подчеркивающая стиль пространства.</p>
	<a class="fbxgrid-slide"  href="img/projects/pic_p2.jpg" data-fancybox="gallery"><img src="img/projects/pic_p2.jpg" alt="" /></a>
	<a class="fbxgrid-slide"  href="img/projects/pic_p3.jpg" data-fancybox="gallery"><img src="img/projects/pic_p3.jpg" alt="" /></a>
	<a class="fbxgrid-slide _wide"  href="img/projects/pic_p4.jpg" data-fancybox="gallery"><img src="img/projects/pic_p4.jpg" alt="" /></a>
	<p>Искусство света – это сочетание дизайна, формы и материалов. В наших проектах мы используем светильники ведущих европейских брендов: от Италии и Чехии до Австрии и Франции. Каждая модель – это не просто источник света, а часть интерьера, подчеркивающая стиль пространства.</p>
	<a class="fbxgrid-slide _wide"  href="img/projects/pic_p5.jpg" data-fancybox="gallery"><img src="img/projects/pic_p5.jpg" alt="" /></a>
	<a class="fbxgrid-slide _wide"  href="img/projects/pic_p6.jpg" data-fancybox="gallery"><img src="img/projects/pic_p6.jpg" alt="" /></a>
	<p>Искусство света – это сочетание дизайна, формы и материалов. В наших проектах мы используем светильники ведущих европейских брендов: от Италии и Чехии до Австрии и Франции. Каждая модель – это не просто источник света, а часть интерьера, подчеркивающая стиль пространства.</p>
	<a class="fbxgrid-slide"  href="img/projects/pic_p7.jpg" data-fancybox="gallery"><img src="img/projects/pic_p7.jpg" alt="" /></a>
	<a class="fbxgrid-slide"  href="img/projects/pic_p8.jpg" data-fancybox="gallery"><img src="img/projects/pic_p8.jpg" alt="" /></a>
	<a class="fbxgrid-slide"  href="img/projects/pic_p9.jpg" data-fancybox="gallery"><img src="img/projects/pic_p9.jpg" alt="" /></a>
	<a class="fbxgrid-slide"  href="img/projects/pic_p10.jpg" data-fancybox="gallery"><img src="img/projects/pic_p10.jpg" alt="" /></a>
	<p>Искусство света – это сочетание дизайна, формы и материалов. В наших проектах мы используем светильники ведущих европейских брендов: от Италии и Чехии до Австрии и Франции. Каждая модель – это не просто источник света, а часть интерьера, подчеркивающая стиль пространства.</p>
	<a class="fbxgrid-slide _wide"  href="img/projects/pic_p11.jpg" data-fancybox="gallery"><img src="img/projects/pic_p11.jpg" alt="" /></a>
	<a class="fbxgrid-slide"  href="img/projects/pic_p12.jpg" data-fancybox="gallery"><img src="img/projects/pic_p12.jpg" alt="" /></a>
	<a class="fbxgrid-slide"  href="img/projects/pic_p13.jpg" data-fancybox="gallery"><img src="img/projects/pic_p13.jpg" alt="" /></a>
</div> 
    </div>
  </div>
</section>
<!-- end rs-single-project -->



      </div>

      <footer>
         
 






















<link rel="stylesheet" href="css/footer.css" />
<section class="footer site-fullhd">
	<div class="footer__container">

		<div class="footer__wrapper">

			<div class="footer__column">
				<div class="footer-logo"><img src="img/logo_footer.png" alt=""></div>
			</div>

			<div class="footer__column">
				
<div class="footer-contacts">
	<h4 class="footer-title">Адрес и режим работы: </h4>
	<ul class="footer-contacts__list">
		<li><p>197022, г. Санкт-Петербург, <br> Каменноостровский пр-кт, д. 62</p></li>
		<li><p>Пн-Пт с 10:00 до 19:00 <br> Сб-Вс с 11:00 до 18:00</p></li>
		<li><a href="tel:+78123088813">+7 (812) 308-88-13</a></li>
		<li><a href="tel:+79818088813">+7 (981) 808-88-13</a></li>
		<li><a href="mailto:salon@lampadario.ru">salon@lampadario.ru</a></li>
	</ul>	
</div>	

			</div>

			<div class="footer__column">
				
<div class="footer__menu">
	<h4 class="footer-title">Компания:</h4>
	
<nav class="footer-menu ">  
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Дизайнерам</span></a></li>
    
    <li><a href="#"><span>FAQ</span></a></li>
    
    <li><a href="#"><span>Политика конфиденциальности</span></a></li>
    
    <li><a href="#"><span>Пользовательское соглашение</span></a></li>
       
  </ul>
</nav>

</div>

			</div>

			<div class="footer__column">
				
<div class="footer__menu">
	<h4 class="footer-title">Магазин:</h4>
	
<nav class="footer-menu ">  
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Доставка и оплата</span></a></li>
    
    <li><a href="#"><span>Обмен и возврат</span></a></li>
       
  </ul>
</nav>

</div>

				
<div class="footer-social">
	
	<ul class="footer-social__list">
		<li><a href="#"><img src="img/icons/wa_icon.svg" alt=""></a></li>
		<li><a href="#"><img src="img/icons/tg_icon.svg" alt=""></a></li>
		<li><a href="#"><img src="img/icons/vk_icon.svg" alt=""></a></li>
		<li><a href="#"><img src="img/icons/social_icon.svg" alt=""></a></li>
	</ul>	
</div>

			</div>

			


			<div class="footer__copyright ">
<div class="footer-copyright">	
	<p>© Lampadario Interior – интерьерный салон 2025. Все права защищены.</p>	
	<a href="#">Разработано в Россайт</a>
</div>
</div>

		</div>
		

	</div>

</section>



      </footer>

      <div class="modals">
        <div class="modal-dialog" id="callbackModal">
  <div class="modal-dialog-wrapper">
    <div class="modal-dialog-header">
      <h4>Заголовок</h4>
      <p>Подзаголовок, Тут будет текст для Формы обратной связи</p>
    </div>
    <div class="modal-dialog-content">
      
 

<div class="md-fos" >	
	<div class="md-fos__wrapper">		
		<div class="md-fos__content">			
			<form action="#" id="mdFosForm" class="base-form">	
				<div class="form-group">
					 
   
<input type="text" id="mdFosName" name="mdFosName" placeholder="Ваше имя" required>

				</div>
				<div class="form-group">						
					 
   
<input type="email" id="mdFosMail" name="mdFosMail" placeholder="Email" required>

				</div>				
				<div class="form-group">
					 
   
<input type="tel" id="mdFosPhone" name="mdFosPhone" placeholder="Телефон" required maxlength="18" data-tel-input>

				</div>						
				<div class="form-group">					
					
   
<textarea id="mdFosMessage" name="mdFosMessage" placeholder="Ваше сообщение" required></textarea>

				</div>									
				<div class="form-submit form-submit_clm">
					<p>Нажимая кнопку «Отправить заявку» вы соглашаетесь на обработку ваших персональных данных в соответствии с <a href="#">пользовательским соглашением</a></p>
					<button type="submit" class="btn-color"><span>Отправить заявку</span></button>
				</div>
			</form>
		</div>			
	</div>
</div>
              
    </div>
    
  </div>
</div>

      </div>
      
    </div>

    
  </body>
</html>
