<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Lampadario | Главная</title>


	

	<script src="libs/pace/pace.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/pace/pace-theme-default.min.css" />

	<script src="libs/fancybox/fancybox.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/fancybox/fancybox.css" />

	<script src="libs/swiper/swiper-bundle.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/swiper/swiper-bundle.min.css" />

	<script src="libs/nouislider/nouislider.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/nouislider/nouislider.css" />
	<script src="libs/nouislider/wNumb.min.js" defer></script>

	
	

	
	
	
	
	
	
	
	
	
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="js/app.js" defer></script>

</head>

  <body class="default-layout">
    
    
      
      
    
    
    <div class="site-wrapper">      
      
      <header>
        <span class="menu-overlay" data-js-overlay></span>
         

<link rel="stylesheet" href="css/header.css" />
<div class="header">	
	<div class="header__container">
		<div class="header__holder">		
			<div class="header__wrapper">
				
				
<nav class="menu">

	<div class="menu-wrapper">
		<ul class="menu__list">		
			<li class="menu__dropdown">
				<a href="#"><span>Каталог</span></a>
				<button type="button" class="menu__dropdown-arrow"></button>
				<ul class="menu__dropdown-list">
					<li class="switch-back">Каталог</li>
					<li><a href="#"><span>Мебель</span></a></li>
					<li class="menu__dropdown">
						<a href="#"><span>Декор</span></a>
						<button type="button" class="menu__dropdown-arrow"></button>
						<ul class="menu__dropdown-list">
							<li class="switch-back">Декор</li>
							<li><a href="#"><span>Диваны</span></a></li>
							<li><a href="#"><span>Кресла</span></a></li>
							<li><a href="#"><span>Пуфы</span></a></li>
							<li><a href="#"><span>Кровати</span></a></li>
						</ul>
					</li>
					<li><a href="#"><span>Светильники</span></a></li>
				</ul>
			</li>				
			<li><a href="#"><span>Фабрики</span></a></li>
			<li><a href="#"><span>Новинки</span></a></li>
			<li><a href="#"><span>Услуги</span></a></li>
			<li><a href="#"><span>Статьи</span></a></li>
			<li><a href="contacts.html"><span>Контакты</span></a></li>
		</ul>
	</div>

	<div class="menu-footer">
		<form action="#" class="mobile-menu-search">
  <div class="mobile-menu-search__box">
    <input type="search" name="search" placeholder="Введите текст">
    <button type="submit">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.7984 13.8099L19.004 19M16.0034 8.49772C16.0034 12.6408 12.6448 15.9993 8.50175 15.9993C4.35871 15.9993 1.00012 12.6408 1.00012 8.49772C1.00012 4.35469 4.35871 0.996094 8.50175 0.996094C12.6448 0.996094 16.0034 4.35469 16.0034 8.49772Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </div>  
</form>
		<div class="mobile-menu-contacts">
			<div class="mobile-menu-contacts__title">Свяжитесь с нами</div>
			<ul class="mobile-menu-contacts__list">
				<li><a href="tel:+78123088813">+7 (812) 308-88-13</a></li>
				<li><a href="tel:+79818088813">+7 (981) 808-88-13</a></li>
				<li><a href="mailto:salon@lampadario.ru">salon@lampadario.ru</a></li>
			</ul>
		</div>		
	</div>

</nav>
				<form action="#" class="header-search header-search_des">		
  <input type="search" name="headerSearch" placeholder="Введите текст" />
  <button type="submit">
    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.7983 14.3099L19.0039 19.5M16.0033 8.99772C16.0033 13.1408 12.6447 16.4993 8.50163 16.4993C4.35859 16.4993 1 13.1408 1 8.99772C1 4.85469 4.35859 1.49609 8.50163 1.49609C12.6447 1.49609 16.0033 4.85469 16.0033 8.99772Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>
</form>
				
				<a href="index.html" class="header-logo">
					<img src="img/logo.png" alt="" />
				</a>				
				
				<button class="menu-burger">
  <span>
    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1.5L11 11.5M11 1.5L1 11.5" stroke="#CC2229" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    Закрыть
  </span>
  <span>
    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.07703 7.46167H12.9232" stroke="white" stroke-width="1.85" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M1.07703 3.19263H12.9232" stroke="white" stroke-width="1.85" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M1.07703 11.7307H12.9232" stroke="white" stroke-width="1.85" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
     Меню
  </span>
</button>

			</div>
		</div>
	</div>
</div> 
      </header>
      
      <div class="main">        
         

 
<!-- rs-breadcrumbs -->
<div class="rs-breadcrumbs">
  <div class="rs-breadcrumbs__container">
    
<nav class="breadcrumbs " role="navigation" aria-label="breadcrumbs" data-hidescroll>    
  
    <a href="#">Главная</a>
    <span class="breadcrumb__divider" aria-hidden="true">
      <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0.5L5 4.5L1 8.5" stroke="#999999" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </span>
      
  <span>Магазин</span>    
</nav>

  </div>
</div>


<!-- text-block -->
<section class="text-block">
  <div class="text-block__container">
    
<div class="section-title ">
	
	
	<h2>О компании</h2>	
	
	
</div>

    <div class="text-block__wrapper base-content site-padding site-mt site-mb">
      <h3>Люстра и бра – что лучше</h3>
      <br>
      <p>Компания «Премиум Лайт» была основана в 2002 году и с самого первого дня ориентирована на высокое качество продукции, уникальный дизайн каждой модели и премиальный стиль.</p>
      <br>
      <p>В 2010 году открылся салон шоу-рум Lampadario в Санкт-Петербурге. На экспозиции салона всегда представлен широкий модельный ряд декоративного и архитектурного освещения от ведущих мировых брендов Италии, Испании, Германии, Австрии, Нидерландов. Регулярно посещая специализированные выставки, мы отбираем для экспозиции самые инновационные решения с точки зрения технологии, дизайна и эстетического восприятия.</p>
      <br>
      <p>С нашей помощью были созданы интерьеры подворья Спасо-преображенского Валаамского монастыря, гостиницы на острове Валаам, офисов компаний Газпрома, РосСтройИнвеста, гостиницы «Отель Санкт-Петербург», гольф-клуба «Горки», Аквапарка в г. Мирный, учебно-тренировочной базы «Четук» футбольного клуба «Краснодар». А также многочисленные интерьеры частных домов, апартаментов и квартир.</p>
      <br>
      <ul>
        <li>Компания «Премиум Лайт» была основана в 2002 году и с самого первого дня ориентирована на высокое качество продукции, уникальный дизайн каждой модели и премиальный стиль.</li>
        <li>В 2010 году открылся салон шоу-рум Lampadario в Санкт-Петербурге. На экспозиции салона всегда представлен широкий модельный ряд декоративного и архитектурного освещения от ведущих мировых брендов Италии, Испании, Германии, Австрии, Нидерландов. Регулярно посещая специализированные выставки, мы отбираем для экспозиции самые инновационные решения с точки зрения технологии, дизайна и эстетического восприятия.</li>
        <li>С нашей помощью были созданы интерьеры подворья Спасо-преображенского Валаамского монастыря, гостиницы на острове Валаам, офисов компаний Газпрома, РосСтройИнвеста, гостиницы «Отель Санкт-Петербург», гольф-клуба «Горки», Аквапарка в г. Мирный, учебно-тренировочной базы «Четук» футбольного клуба «Краснодар». А также многочисленные интерьеры частных домов, апартаментов и квартир.</li>
      </ul>
      <br>
      <ol>
        <li>Компания «Премиум Лайт» была основана в 2002 году и с самого первого дня ориентирована на высокое качество продукции, уникальный дизайн каждой модели и премиальный стиль.</li>
        <li>В 2010 году открылся салон шоу-рум Lampadario в Санкт-Петербурге. На экспозиции салона всегда представлен широкий модельный ряд декоративного и архитектурного освещения от ведущих мировых брендов Италии, Испании, Германии, Австрии, Нидерландов. Регулярно посещая специализированные выставки, мы отбираем для экспозиции самые инновационные решения с точки зрения технологии, дизайна и эстетического восприятия.</li>
        <li>С нашей помощью были созданы интерьеры подворья Спасо-преображенского Валаамского монастыря, гостиницы на острове Валаам, офисов компаний Газпрома, РосСтройИнвеста, гостиницы «Отель Санкт-Петербург», гольф-клуба «Горки», Аквапарка в г. Мирный, учебно-тренировочной базы «Четук» футбольного клуба «Краснодар». А также многочисленные интерьеры частных домов, апартаментов и квартир.</li>
      </ol>
      <br>
      <br>
      <br>
      <h3>«Дарить людям качественный свет» – это основной принцип работы салона Lampadario.</h3>
      <br>
      <br>
      <p>Мы являемся официальными дилерами наиболее известных европейских производителей, в числе которых: Artemide, Flos, Barovier e Toso, IDL, Patrizia Garganti, Masiero, Panzeri.</p>
      <br>
      <p>Наша цель – создавать элитный функциональный интерьер. Мы также организуем для архитекторов и дизайнеров семинары с участием представителей итальянских фабрик, рассказываем о новых технологиях и модных направлениях в световом дизайне.</p>
      <br>
      <p>К услугам наших клиентов – удобно расположенный шоу-рум с автомобильной парковкой, творческая рабочая атмосфера, обширная библиотека каталогов и образцов отделки материалов, квалифицированные дизайнеры-консультанты.</p>
      <br>
      <p>В нашей команде работают профессиональные инженеры по свету, поэтому мы одни из немногих в России можем предоставить вам такую услугу, как профессиональное проектирование освещения.</p>
      <br>
      <br>
      <p class="quote">Lampadario – это решение любых задач в мире света! </p>
      <br>
      <br>
      <br>
      <blockquote>
        <h3>«Дарить людям качественный свет» – это основной принцип работы салона Lampadario.</h3>
        <br>
        <br>
        <p>Мы являемся официальными дилерами наиболее известных европейских производителей, в числе которых: Artemide, Flos, Barovier e Toso, IDL, Patrizia Garganti, Masiero, Panzeri.</p>
        <br>
        <p>Наша цель – создавать элитный функциональный интерьер. Мы также организуем для архитекторов и дизайнеров семинары с участием представителей итальянских фабрик, рассказываем о новых технологиях и модных направлениях в световом дизайне.</p>
        <br>
        <p>К услугам наших клиентов – удобно расположенный шоу-рум с автомобильной парковкой, творческая рабочая атмосфера, обширная библиотека каталогов и образцов отделки материалов, квалифицированные дизайнеры-консультанты.</p>
        <br>
        <p>В нашей команде работают профессиональные инженеры по свету, поэтому мы одни из немногих в России можем предоставить вам такую услугу, как профессиональное проектирование освещения.</p>
        <br>
        <br>
        <p class="quote">Lampadario – это решение любых задач в мире света! </p>
      </blockquote>
    </div>
    
<div class="section-title ">
	
	
	<h2>Светильники бра умело создают уют</h2>	
	
	
</div>

    <div class="text-block__wrapper base-content site-mt site-mb" data-site-columns="2">
      <div class="wrap">
        <p>Светильники бра, изобретенные французскими мастерами, широко используются в помещениях любого назначения – квартирах, дачах, офисах, торговых центрах и банкетных залах. В квартире бра применяются для выделения отдельных зон:</p>
        <br>
        <ul>
          <li>подсветки картины,</li>
          <li>зеркала,</li>
          <li>ниши.</li>
        </ul>
        <br>
        <p>С их помощью нередко выделяют зоны для чтения, ведь светильники бра обладают ярким, но мягким светом, не напрягающим глаз.</p>
        <p>Чаще всего бра используются в качестве дополнительного источника освещения, но небольшие помещения могут ограничиваться только ими. При выключенном верхнем освещении эксклюзивные настенные бра создают атмосферу непринужденности, романтическую обстановку, располагающую к неформальному общению. Стильный светильник бра – важный декоративный элемент, который лучше всего смотрится на светлой поверхности.</p>
        <br>
        <br>
        <br>
        <h3>Люстра и бра – что лучше</h3>
        <br>
        <p>Бра идеально подходят для небольших помещений с низкими потолками, где нет возможности повесить люстру. Конечно, дорогая люстра выглядит гораздо более торжественно, но зато люстра бра выгодно экономит ограниченное пространство. С помощью нескольких светильников можно визуально расширить пространство, скрасить слишком длинный коридор. В этом случае светильники располагают вдоль стен. В больших помещениях необычные настенные бра нередко используются наравне с люстрами, подчеркивая основной источник света. Такой прием применим в банкетных залах или больших офисах. При этом важно гармоничное сочетание основного и дополнительного освещения. </p>
      </div>
      <div class="wrap">
        <h3>Как выбирать бра настенные</h3>
        <br>
        <p>Настенные бра из Италии должны сочетаться с интерьером помещения по:</p>
        <br>
        <ul>
          <li>цвету, </li>
          <li>текстуре, </li>
          <li>стилистическому оформлению.</li>
        </ul>
        <br>
        <p>При этом стоит учитывать габариты комнаты. Компактные бра при правильном подборе цвета визуально сливаются со стеной – их удобно размещать в ванной комнате, прихожей и других небольших помещениях. У нас также представлены настенные светильники бра, которые представляют собой люстры в миниатюре. Такой выбор подойдет тем, кто хочет внести в интерьер, скажем, гостиной, нотки торжественности. Для создания зоны для чтения стоит обратить внимание на бра с подвижным креплением. </p>
        <br>
        <p>В интернет-магазине Lampadario Interior представлены свыше 200 моделей настенных и потолочных бра, которые выпускают ведущие фабрики по производству светильников. Бра настенные итальянских, испанских, чешских мастеров удачно впишутся в интерьер любого помещения благодаря многообразию цветовых и стилистических решений. </p>
      </div>
    </div>
    
<div class="section-title ">
	
	
	<h2>Светильники бра умело создают уют</h2>	
	
	
</div>

    <div class="text-block__wrapper base-content site-mt site-mb">
      <div class="site-table">
        <table>
          <thead>
            <tr>
              <th>Наименование</th>
              <th>Цена</th>
              <th>Цена</th>
              <th>Цена</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Здесь будет Ваш текст, описывающий вашу услугу.</td>
              <td>8600</td>
              <td>18 600</td>
              <td>29 430</td>
            </tr>
            <tr>
              <td>Вы сможете его редактировать через систему управления. Здесь будет Ваш текст. Вы сможете его редактировать</td>
              <td>29 430</td>
              <td>4 930</td>
              <td>1 300</td>
            </tr>
            <tr>
              <td>Отправьте нам информацию мы ее разместим или сделаем рерайт</td>
              <td>1 300</td>
              <td>1 300</td>
              <td>1 300</td>
            </tr>
            <tr>
              <td>Вы сможете его редактировать. Здесь будет Ваш текст, описывающий вашу услугу.</td>
              <td>4 930</td>
              <td>29 430</td>
              <td>29 430</td>
            </tr>
            <tr>
              <td>Здесь будет Ваш текст. Вы сможете его редактировать через систему управления.</td>
              <td>66845</td>
              <td>29 430</td>
              <td>4 930</td>
            </tr>
            <tr>
              <td>Неограниченное количество страниц</td>
              <td>18 600</td>
              <td>4 930</td>
              <td>1 300</td>
            </tr>
            <tr>
              <td>Вы сможете его редактировать через систему управления. Здесь будет ваш текст.</td>
              <td>5684551</td>
              <td>29 430</td>
              <td>18 600</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- end text-block --> 


      </div>

      <footer>
         
 






















<link rel="stylesheet" href="css/footer.css" />
<section class="footer site-fullhd">
	<div class="footer__container">

		<div class="footer__wrapper">

			<div class="footer__column">
				<div class="footer-logo"><img src="img/logo_footer.png" alt=""></div>
			</div>

			<div class="footer__column">
				<div class="footer-content">
					<div class="footer-content__address">
<div class="footer-address">
	<h4 class="footer-title">Адрес и режим работы: </h4>
	<p>197022, г. Санкт-Петербург, Каменноостровский пр-кт, д. 62</p>
	<p>Ежедневно с 10:00 до 19:00</p>
</div>
</div>
					<div class="footer-content__contacts">
<div class="footer-contacts">
	<h4 class="footer-title">Контакты</h4>	
	<ul class="footer-contacts__list">
		<li><a href="tel:+78123088813">+7 (812) 308-88-13</a></li>
		<li><a href="tel:+79818088813">+7 (981) 808-88-13</a></li>
		<li><a href="mailto:salon@lampadario.ru">salon@lampadario.ru</a></li>
	</ul>	
</div>	
</div>
					<div class="footer-content__social">
<div class="footer-social">
	<h4 class="footer-title">Мы в социальных сетях</h4>	
	<ul class="footer-social__list">
		<li><a href="#"><img src="img/icons/wa_icon.svg" alt=""></a></li>
		<li><a href="#"><img src="img/icons/tg_icon.svg" alt=""></a></li>
		<li><a href="#"><img src="img/icons/vk_icon.svg" alt=""></a></li>
		<li><a href="#"><img src="img/icons/social_icon.svg" alt=""></a></li>
	</ul>	
</div>
</div>
					<div class="footer-content__menu">
						
<div class="footer__menu">
	<h4 class="footer-title">Компания:</h4>
	
<nav class="footer-menu ">  
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Магазин</span></a></li>
    
    <li><a href="#"><span>Дизайнерам</span></a></li>
    
    <li><a href="#"><span>FAQ</span></a></li>
    
    <li><a href="#"><span>Политика конфиденциальности</span></a></li>
    
    <li><a href="#"><span>Пользовательское соглашение</span></a></li>
       
  </ul>
</nav>

</div>

						
<div class="footer__menu">
	<h4 class="footer-title">Магазин:</h4>
	
<nav class="footer-menu ">  
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Доставка и оплата</span></a></li>
    
    <li><a href="#"><span>Обмен и возврат</span></a></li>
       
  </ul>
</nav>

</div>

						
<div class="footer__menu">
	<h4 class="footer-title">На связи:</h4>
	
<nav class="footer-menu ">  
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Журнал</span></a></li>
       
  </ul>
</nav>

</div>

					</div>
					<div class="footer-content__copyright ">
<div class="footer-copyright">	
	<p>© Lampadario Interior – интерьерный салон 2025. Все права защищены.</p>	
	<a href="#">Разработано в Россайт</a>
</div>
</div>
				</div>
			</div>

		</div>
		

	</div>

</section>



      </footer>

      <div class="modals">
        <div class="modal-dialog" id="callbackModal">
  <div class="modal-dialog-wrapper">
    <div class="modal-dialog-header">
      <h4>Заголовок</h4>
      <p>Подзаголовок, Тут будет текст для Формы обратной связи</p>
    </div>
    <div class="modal-dialog-content">
      
 

<div class="md-fos" >	
	<div class="md-fos__wrapper">		
		<div class="md-fos__content">			
			<form action="#" id="mdFosForm" class="base-form">	
				<div class="form-group">
					 
   
<input type="text" id="mdFosName" name="mdFosName" placeholder="Ваше имя" required>

				</div>
				<div class="form-group">						
					 
   
<input type="email" id="mdFosMail" name="mdFosMail" placeholder="Email" required>

				</div>				
				<div class="form-group">
					 
   
<input type="tel" id="mdFosPhone" name="mdFosPhone" placeholder="Телефон" required maxlength="18" data-tel-input>

				</div>						
				<div class="form-group">					
					
   
<textarea id="mdFosMessage" name="mdFosMessage" placeholder="Ваше сообщение" required></textarea>

				</div>									
				<div class="form-submit form-submit_clm">
					<p>Нажимая кнопку «Отправить заявку» вы соглашаетесь на обработку ваших персональных данных в соответствии с <a href="#">пользовательским соглашением</a></p>
					<button type="submit" class="btn-color"><span>Отправить заявку</span></button>
				</div>
			</form>
		</div>			
	</div>
</div>
              
    </div>
    
  </div>
</div>

      </div>
      
    </div>

    
  </body>
</html>
