<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>ООО «СК-78» | Главная</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

	

	<script src="libs/pace/pace.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/pace/pace-theme-default.min.css" />

	<script src="libs/fancybox/fancybox.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/fancybox/fancybox.css" />

	<script src="libs/swiper/swiper-bundle.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="libs/swiper/swiper-bundle.min.css" />

	
	
	

	
	

	
	
	
	
	
	
	
	
	
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="js/app.js" defer></script>

</head>

  <body class="default-layout">
    
    

    
      
      
      
    
    
    <div class="site">
      
      <header>
        <span class="menu-overlay" data-js-overlay></span>
         


















<link rel="stylesheet" href="css/header.css" />
<div class="header">	
	
	<div class="header__holder">
		<div class="header__container">
			<div class="header__wrapper">
				
<a href="index.html" class="header-logo">
	<img src="img/logo.png" alt="" />
</a>

				 

<nav class="menu" data-spollers="1399.98, max">	
	
	<div class="menu-wrapper">
		
		<ul class="menu__list">			
			
			<li><a href="#"><span>Главная</span></a></li>
			<li class="menu__dropdown spollers__item">
				<a href="#"><span>Услуги</span></a>
				<button type="button" class="menu__dropdown-arrow spollers__title" data-spoller data-spoller-close></button>
				<ul class="menu__dropdown-list spollers__body">
					<li><a href="#"><span>Здесь будет ваш текст</span></a></li>
					<li class="menu__dropdown spollers__item">
						<a href="#"><span>Здесь будет ваш текст</span></a>
						<button type="button" class="menu__dropdown-arrow spollers__title" data-spoller data-spoller-close></button>
						<ul class="menu__dropdown-list spollers__body">
							<li><a href="#"><span>Здесь будет ваш текст</span></a></li>
							<li class="menu__dropdown spollers__item">
								<a href="#"><span>Здесь будет ваш текст</span></a>
								<button type="button" class="menu__dropdown-arrow spollers__title" data-spoller data-spoller-close></button>
								<ul class="menu__dropdown-list spollers__body">
									<li><a href="#"><span>Здесь будет ваш текст</span></a></li>
									<li><a href="#"><span>Здесь будет ваш текст</span></a></li>
									<li><a href="#"><span>Здесь будет ваш текст</span></a></li>
									<li><a href="#"><span>Здесь будет ваш текст</span></a></li>
									<li><a href="#"><span>Здесь будет ваш текст</span></a></li>
								</ul>					
							</li>
							<li><a href="#"><span>Здесь будет ваш текст</span></a></li>
							<li><a href="#"><span>Здесь будет ваш текст</span></a></li>
						</ul>
					</li>
					<li><a href="#"><span>Здесь будет ваш текст</span></a></li>
					<li><a href="#"><span>Здесь будет ваш текст</span></a></li>
					<li><a href="#"><span>Здесь будет ваш текст</span></a></li>
					<li><a href="#"><span>Здесь будет ваш текст</span></a></li>
					<li><a href="#"><span>Здесь будет ваш текст</span></a></li>
				</ul>
			</li>
			<li><a href="#"><span>Проекты</span></a></li>
			<li><a href="#"><span>О компании</span></a></li>
			<li><a href="#"><span>Контакты</span></a></li>
		</ul>
	</div>

	
	<div class="menu-footer">
		<div class="mobile-menu-contacts">
			<div class="mobile-menu-contacts__title">Свяжитесь с нами</div>
			<ul class="mobile-menu-contacts__list">
				
				<li><a href="mailto:ooo.SK-78@yandex.ru">ooo.SK-78@yandex.ru</a></li>
			</ul>
		</div>				
	</div>	
</nav>







				
<div class="header-nav-contacts">
	<ul>
		<li><a href="mailto:ooo.SK-78@yandex.ru">ooo.SK-78@yandex.ru</a></li>
		
	</ul>
</div>

				
				
<div class="header__btn">
	
	
<a href="#" class="btn-color ">	
	<span class="btn-color__masked"></span>
	<span class="btn-color__title">Оставить заявку</span>
</a>

</div>

				<button class="menu-burger">
  <span>
    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1.5L11 11.5M11 1.5L1 11.5" stroke="#ff682c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    Закрыть
  </span>
  <span>
    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.07703 7.46167H12.9232" stroke="white" stroke-width="1.85" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M1.07703 3.19263H12.9232" stroke="white" stroke-width="1.85" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M1.07703 11.7307H12.9232" stroke="white" stroke-width="1.85" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
     Меню
  </span>
</button>

			</div>
		</div>
	</div>
</div>


 
      </header>
      
      <div class="site-content">
        <div class="site-wrapper">

          <div class="site-main">
             

<!-- rs-intro -->
<link rel="stylesheet" href="css/rs-intro.css" />
<section class="rs-intro">  
  <div class="rs-intro__wrapper site-stripes">
    <div class="rs-intro__container">
       
 











 


<div class="hero-slider">
  <div class="hero-slider__slider">
    <div class="hero-slider__swiper">
      
        <div class="hero-slider__slide">
<div class="slide">		
	<div class="slide__content">
		
		<span class="slide__subtitle">Строительная компания – 78</span>
		
		<h2 class="slide__title">Строим будущее вместе с вами</h2>
		<div class="slide__text">Надёжный партнёр для реализации строительных&nbsp;проектов любой сложности с нуля</div>
		
	</div>
	<div class="slide__media">
		<picture>
			<source media="(max-width: 767.98px)" srcset="img/slider_1.jpg">
			<img src="img/slider_1.jpg" alt="">
		</picture>			
	</div>
</div>
</div>
      
        <div class="hero-slider__slide">
<div class="slide">		
	<div class="slide__content">
		
		<h2 class="slide__title">Изготовление металлоконструкций</h2>
		<div class="slide__text">Собственный завод металлоконструкций в Ленинградской области с производительностью до 350 тонн в месяц. Изготавливаем и монтируем конструкции для промышленных, инфраструктурных и гражданских объектов.</div>
		
		<div class="slide__btns">
			
<a href="#" class="btn-color ">	
	<span class="btn-color__masked"></span>
	<span class="btn-color__title">Получить расчёт стоимости</span>
</a>

		</div>
		
	</div>
	<div class="slide__media">
		<picture>
			<source media="(max-width: 767.98px)" srcset="img/slider_2.jpg">
			<img src="img/slider_2.jpg" alt="">
		</picture>			
	</div>
</div>
</div>
      
        <div class="hero-slider__slide">
<div class="slide">		
	<div class="slide__content">
		
		<h2 class="slide__title">Строительная спецтехника</h2>
		<div class="slide__text">Собственный парк строительной техники для выполнения строительных и инфраструктурных работ. Обеспечиваем объекты необходимыми ресурсами без привлечения сторонних арендодателей.</div>
		
		<div class="slide__btns">
			
<a href="#" class="btn-color ">	
	<span class="btn-color__masked"></span>
	<span class="btn-color__title">Запросить технику</span>
</a>

		</div>
		
	</div>
	<div class="slide__media">
		<picture>
			<source media="(max-width: 767.98px)" srcset="img/slider_3.jpg">
			<img src="img/slider_3.jpg" alt="">
		</picture>			
	</div>
</div>
</div>
      
    </div>
  </div>
  <div class="hero-slider__nav">
<div class="hero-slider-arrows">
	<button type="button" class="hero-slider-arrow hero-slider-arrow_prev">
		<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0.215826 6.02812C-0.0719404 5.73645 -0.0719404 5.26355 0.215826 4.97188L4.90506 0.218757C5.19281 -0.0729191 5.65935 -0.0729191 5.9471 0.218757C6.23487 0.510432 6.23487 0.98333 5.9471 1.275L1.7789 5.5L5.9471 9.725C6.23487 10.0167 6.23487 10.4896 5.9471 10.7812C5.65935 11.0729 5.19281 11.0729 4.90506 10.7812L0.215826 6.02812ZM14 5.5L14 6.24688H0.736847V5.5V4.75312H14L14 5.5Z" fill="white" />
		</svg>
	</button>
	<button type="button" class="hero-slider-arrow hero-slider-arrow_next">
		<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M13.7842 6.02812C14.0719 5.73645 14.0719 5.26355 13.7842 4.97188L9.09494 0.218757C8.80719 -0.0729191 8.34065 -0.0729191 8.0529 0.218757C7.76513 0.510432 7.76513 0.98333 8.0529 1.275L12.2211 5.5L8.0529 9.725C7.76513 10.0167 7.76513 10.4896 8.0529 10.7812C8.34065 11.0729 8.80719 11.0729 9.09494 10.7812L13.7842 6.02812ZM6.44168e-08 5.5L0 6.24688H13.2632V5.5V4.75312H1.28834e-07L6.44168e-08 5.5Z" fill="white" />
		</svg>
	</button>
</div>
</div>
	<dl class="intro-metrics">
		<div>
			<dt>11+</dt>
			<dd>лет успешной работы</dd>
		</div>
		<div>
			<dt>80+</dt>
			<dd>завершённых проектов</dd>
		</div>
		<div>
			<dt>>100 <span>тыс. м³</span></dt>
			<dd>забетонированных конструкций</dd>
		</div>
	</dl>
</div>      
  </div>
</section>
<!-- end rs-intro -->

<!-- rs-services -->
<link rel="stylesheet" href="css/rs-services.css" />
<section class="rs-services">
  <div class="rs-services__wrapper site-stripes">
    <div class="rs-services__container">
       
 








<div class="services site-padding">
  
  <div class="services__body">
    <div class="services__items">
      
      <div class="services__item">
<article class="services-card">	 
  <div class="services-card__photo"><img src="img/s_1.jpg" alt=""></div>
  <div class="services-card__content">
    <h4 class="services-card__title">Изготовление металлоконструкций</h4>
  </div>
	<a href="#">Изготовление металлоконструкций</a>
</article>
</div>
      
      <div class="services__item">
<article class="services-card">	 
  <div class="services-card__photo"><img src="img/s_2.jpg" alt=""></div>
  <div class="services-card__content">
    <h4 class="services-card__title">Монолитные и железобетонные работы</h4>
  </div>
	<a href="#">Монолитные и железобетонные работы</a>
</article>
</div>
      
    </div>
  </div>
</div>




    </div>
  </div>
</section>
<!-- end rs-services -->

<!-- rs-about -->
<link rel="stylesheet" href="css/rs-about.css" />
<section class="rs-about">
  <div class="rs-about__wrapper site-stripes">
    <div class="rs-about__container">
      
 



<div class="about">    
  <div class="about__wrapper">        
    <div class="about__column">
      <div class="about-content">
        <h2>Строительная компания — 78. Надёжные монолитные решения для объектов любой сложности</h2>
        <p>ООО «СК-78» выполняет полный комплекс монолитных и железобетонных работ – от устройства фундамента до возведения кровли. В работе используем современные технологии и проверенные материалы, что позволяет обеспечивать точность, прочность и соблюдение сроков на каждом этапе строительства.</p>
        <p>Производственно-складское помещение компании расположено с удобной транспортной доступностью. Это даёт возможность оперативно организовывать поставку оборудования и материалов, необходимых для бесперебойного выполнения работ на объектах.</p>
        <blockquote>
          Берём ответственность за результат: планируем работы, контролируем качество и держим согласованные сроки.
        </blockquote>
        <div class="about-content__btns">
          
<a href="#" class="btn-color ">	
	<span class="btn-color__masked"></span>
	<span class="btn-color__title">Начать сотрудничество</span>
</a>

          
<a href="#" class="btn-color btn-color_dark">	
	<span class="btn-color__masked"></span>
	<span class="btn-color__title">Подробнее о нас</span>
</a>

        </div>
      </div>      
    </div> 
    <div class="about__column" data-check-view>
      <img src="img/about.jpg" alt="">
    </div>    
  </div>  
</div>




    </div>
  </div>
</section>
<!-- end rs-about -->

<!-- rs-benefit -->
<link rel="stylesheet" href="css/rs-benefit.css" />
<section class="rs-benefit">
  <div class="rs-benefit__wrapper site-stripes">
    <div class="rs-benefit__container">
       
 







<div class="benefit">
  <div class="benefit__head">
    <h2>Почему выбирают нас</h2>
  </div>
  <div class="benefit__body">
    <div class="benefit__items">
      
      <div class="benefit__item">
<article class="benefit-card">  
  <h4 class="benefit-card__title">Материальная база</h4>
  <p class="benefit-card__text">Используем сертифицированные материалы и собственную базу поставщиков, что позволяет обеспечивать стабильный результат, соблюдение технологий и качество конструкций на всех объектах</p>
  <img src="img/b_1.svg" alt="">
</article>
</div>
      
      <div class="benefit__item">
<article class="benefit-card">  
  <h4 class="benefit-card__title">Системный контроль</h4>
  <p class="benefit-card__text">Строгий контроль на всех этапах работ гарантирует соответствие проектной документации, строительным нормам, требованиям безопасности и согласованным срокам выполнения работ заказчика</p>
  <img src="img/b_2.svg" alt="">
</article>
</div>
      
      <div class="benefit__item">
<article class="benefit-card">  
  <h4 class="benefit-card__title">Профессиональная команда</h4>
  <p class="benefit-card__text">Опытные инженеры и квалифицированные рабочие обеспечивают точное соблюдение технологий, слаженную работу команды и стабильное качество монолитных конструкций на всех этапах</p>
  <img src="img/b_3.svg" alt="">
</article>
</div>
      
    </div>
  </div>
</div>
    </div>
  </div>
</section>
<!-- end rs-benefit -->

<!-- rs-projects -->
<link rel="stylesheet" href="css/rs-projects.css" />
<section class="rs-projects">
  <div class="rs-projects__wrapper site-stripes">
    <div class="rs-projects__container">
      
 
 





<div class="projects site-padding">  
  <div class="projects__head">
    <h2>Исследуйте с комфортом</h2>
    
<a href="#" class="btn-color ">	
	<span class="btn-color__masked"></span>
	<span class="btn-color__title">Все проекты</span>
</a>

  </div>
  <div class="projects__content">
    <div class="projects-slider">
      <div class="projects-slider__slider">
        <div class="projects-slider__swiper">
          
          <div class="projects-slider__slide">
<article class="project-card">	
  <div class="project-card__photo">
    <img src="img/p_1.jpg" alt="">
  </div>
  <div class="project-card__content">
    <h5 class="project-card__title">Автомобильные примыкания к дороге</h5>
    <p class="project-card__text">Проектирование и устройство примыканий с полным комплексом дорожных работ</p>
  </div>
  <span class="project-card__arrow"></span>
  <a href="#">Автомобильные примыкания к дороге</a>  
</article>
</div>
          
          <div class="projects-slider__slide">
<article class="project-card">	
  <div class="project-card__photo">
    <img src="img/p_2.jpg" alt="">
  </div>
  <div class="project-card__content">
    <h5 class="project-card__title">Торговый центр</h5>
    <p class="project-card__text">Возведение объектов коммерческой недвижимости и инженерной инфраструктуры</p>
  </div>
  <span class="project-card__arrow"></span>
  <a href="#">Торговый центр</a>  
</article>
</div>
          
          <div class="projects-slider__slide">
<article class="project-card">	
  <div class="project-card__photo">
    <img src="img/p_1.jpg" alt="">
  </div>
  <div class="project-card__content">
    <h5 class="project-card__title">Автомобильные примыкания к дороге</h5>
    <p class="project-card__text">Проектирование и устройство примыканий с полным комплексом дорожных работ</p>
  </div>
  <span class="project-card__arrow"></span>
  <a href="#">Автомобильные примыкания к дороге</a>  
</article>
</div>
          
          <div class="projects-slider__slide">
<article class="project-card">	
  <div class="project-card__photo">
    <img src="img/p_2.jpg" alt="">
  </div>
  <div class="project-card__content">
    <h5 class="project-card__title">Торговый центр</h5>
    <p class="project-card__text">Возведение объектов коммерческой недвижимости и инженерной инфраструктуры</p>
  </div>
  <span class="project-card__arrow"></span>
  <a href="#">Торговый центр</a>  
</article>
</div>
          
        </div>
      </div>
      <div class="projects-slider__nav">
        <div class="slider-arrows">
	<button type="button" class="slider-arrow slider-arrow_prev">
		<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0.215826 6.02812C-0.0719404 5.73645 -0.0719404 5.26355 0.215826 4.97188L4.90506 0.218757C5.19281 -0.0729191 5.65935 -0.0729191 5.9471 0.218757C6.23487 0.510432 6.23487 0.98333 5.9471 1.275L1.7789 5.5L5.9471 9.725C6.23487 10.0167 6.23487 10.4896 5.9471 10.7812C5.65935 11.0729 5.19281 11.0729 4.90506 10.7812L0.215826 6.02812ZM14 5.5L14 6.24688H0.736847V5.5V4.75312H14L14 5.5Z" fill="#0D0D0D" />
		</svg>
	</button>
	<button type="button" class="slider-arrow slider-arrow_next">
		<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M13.7842 6.02812C14.0719 5.73645 14.0719 5.26355 13.7842 4.97188L9.09494 0.218757C8.80719 -0.0729191 8.34065 -0.0729191 8.0529 0.218757C7.76513 0.510432 7.76513 0.98333 8.0529 1.275L12.2211 5.5L8.0529 9.725C7.76513 10.0167 7.76513 10.4896 8.0529 10.7812C8.34065 11.0729 8.80719 11.0729 9.09494 10.7812L13.7842 6.02812ZM6.44168e-08 5.5L0 6.24688H13.2632V5.5V4.75312H1.28834e-07L6.44168e-08 5.5Z" fill="#0D0D0D" />
		</svg>
	</button>	
</div>

      </div>
    </div>
  </div>
</div>

    </div>
  </div>
</section>
<!-- end rs-projects -->

<!-- rs-callback -->
<link rel="stylesheet" href="css/rs-callback.css" />
<section class="rs-callback">
    <div class="rs-callback__wrapper site-stripes">
      <div class="rs-callback__container">
       

 
 

<div class="callback" >
	<div class="callback__background"><img src="img/callback_bg.jpg" alt=""></div>
	<div class="callback__wrapper">		
		<h3 class="callback__title">Задать вопрос специалисту</h3>
		<div class="callback__form">
				<form action="#" id="callbackForm" class="callback-form">				
					<div class="form-row">
						 
   
<input type="text" id="callbackName" name="callbackName" placeholder="ФИО" required>

						 
   
<input type="tel" id="callbackPhone" name="callbackPhone" placeholder="Телефон" required maxlength="18" data-tel-input>

						 
   
<input type="email" id="callbackMail" name="callbackMail" placeholder="E-mail" required>

						<button type="submit" class="btn-color">
							<span class="btn-color__masked"></span>
							<span class="btn-color__title">Отправить заявку</span>
						</button>
					</div>
					<div class="form-confirm">
						
<label class="checkbox">
  <input type="checkbox" name="callbackCofirm">
  <span>Я даю согласие на обработку персональных данных</span>
</label>

						
<label class="checkbox">
  <input type="checkbox" name="callbackCofirm">
  <span>Я ознакомлен(а) с Политикой обработки персональных данных и принимаю её условия.</span>
</label>

					</div>
				</form>	
		</div>
	</div>
</div>
	
    </div>
  </div>
</section>
<!-- end rs-callback -->


          </div>

          <footer>
             
 
 














<link rel="stylesheet" href="css/footer.css" />
<section class="footer">

		<div class="footer__wrapper site-stripes" data-spollers="1023.98,max" data-one-spoller>
			<div class="footer__container">
		
				<div class="footer__holder site-padding">
					<div class="footer__row">
						<div class="footer__grid">
							
<div class="footer-contacts">
	<h4 class="footer-title">Контакты</h4>
	<ul class="footer-contacts__list">
		
		<li><a href="mailto:ooo.SK-78@yandex.ru">ooo.SK-78@yandex.ru</a></li>
		<li><p class="clock">Пн-Пт: с 10:00 до 18:00, Сб-Вс: выходной</p></li>
		<li><p class="location">194017, г. Санкт-Петербург, пр-кт Удельный, д. 5, лит. А, помещ. 16-Н/2-8</p></li>
	</ul>		
</div>	

							
<div class="footer__menu spollers__item">
	<h4 class="footer-title spollers__title" data-spoller>Услуги</h4>
	
<nav class="footer-menu  spollers__body">  
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Изготовление металлоконструкций</span></a></li>
    
    <li><a href="#"><span>Монолитные и железобетонные работы</span></a></li>
       
  </ul>
</nav>

</div>

							
<div class="footer__menu spollers__item">
	<h4 class="footer-title spollers__title" data-spoller>Информация</h4>
	
<nav class="footer-menu  spollers__body">  
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Главная</span></a></li>
    
    <li><a href="#"><span>Проекты</span></a></li>
    
    <li><a href="#"><span>О компании</span></a></li>
    
    <li><a href="#"><span>Контакты</span></a></li>
       
  </ul>
</nav>

</div>

						</div>
					</div>
					<div class="footer__row">
						<div class="footer__copyright">
							<div class="footer-copyright">© ООО «СК-78» 2025. Все права защищены.</div>
							<a href="#" class="footer-dev">Разработано в Россайт</a>
						</div>
					</div>
				</div>

			</div>
		</div>

</section>



          </footer>
          
        </div>
      </div>
      
    </div>

    
    
  </body>
</html>
