.rs-17 .rs-about {
    position: relative;
    z-index: 10;
}

.rs-17 .rs-about__path {
    position: absolute;
    top: 100px;
    right: 0px;
}

.rs-17 .rs-about__path-img {
    height: 100%;
    overflow: hidden;
    transition: width 0.3s ease 0s;
}

.rs-17 .rs-about__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 85px;
    padding-top: 68px;
    position: relative;
}

.rs-17 .rs-about .section-title {
    -ms-flex: 0 0 780px;
    flex: 0 0 780px;
}

.rs-17 .rs-about .section-title span {
    opacity: 0;
}

.rs-17 .rs-about .section-title h2 {
    -webkit-transform: translateY(135%);
    transform: translateY(135%);
}

.rs-17 .rs-about__text {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    margin-top: 49px;
    margin-left: 90px;
    margin-right: 70px;
}

.rs-17 .rs-about__text p {
    opacity: 0.7;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
}

.rs-17 .rs-about__text p:not(:last-child) {
    margin-bottom: 20px;
}

.rs-17 .rs-about__label {
    position: absolute;
    bottom: 0;
    left: 620px;
}

.photostory .swiper-wrapper {
    transition-timing-function: linear;
}

.photostory__card {
    height: 378px !important;
    width: 610px !important;
    position: relative;
    margin-left: 48px;
}

.photostory__card:nth-child(1n) {
    margin-top: 0px;
}

.photostory__card:nth-child(2n) {
    margin-top: 136px;
}

.photostory__card:nth-child(3n) {
    margin-top: 52px;
}

.photostory__card img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 1300px) {
    .rs-17 .rs-about__inner {
        padding-bottom: 140px;
    }

    .rs-17 .rs-about .section-title {
        -ms-flex: 0 0 477px;
        flex: 0 0 477px;
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-about__inner {
        display: block;
        padding-bottom: 130px;
    }

    .rs-17 .rs-about__text {
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
    }

    .rs-17 .rs-about__label {
        left: auto;
        right: 0;
    }
}