.rs-17 .rs-anchor-links {
    border-top: 1px solid #353c44;
    border-bottom: 1px solid #353c44;
}

.rs-17 .rs-anchor-links borde .container-fluid {
    padding: 0;
}

.rs-17 .rs-anchor-links__items {
    min-height: 117px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
}

.rs-17 .rs-anchor-links__items li {
    position: relative;
    -ms-flex: 1 1 12.5%;
    flex: 1 1 12.5%;
    min-width: 230px;
    border-bottom: 1px solid #353c44;
    background-color: transparent;
    transition: all 0.3s ease 0s;
}

.rs-17 .rs-anchor-links__items li:not(:last-child) {
    border-right: 1px solid #353c44;
}

.rs-17 .rs-anchor-links__items li:hover {
    background-color: #7abcde;
}

.rs-17 .rs-anchor-links__items li:hover a {
    color: #141c25;
}

.rs-17 .rs-anchor-links__items a {
    padding: 5px 20px;
    position: relative;
    z-index: 2;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 1.4;
    color: #ffffff;
    transition: color 0.3s ease 0s;
}

.rs-17 .rs-anchor-links__items a::after {
    content: '\f063';
    font-family: fontAwesome;
    font-size: 16px;
    margin-left: 20px;
}

.rs-17 .rs-anchor-links__items a:hover {
    color: #141c25;
}