.rs-17 .rs-services-inner__item:nth-child(even) .service-item {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.rs-17 .rs-services-inner__item:nth-child(even) .service-item__info {
    padding-right: 15px;
    padding-left: 136px;
}

.rs-17 .rs-services-inner__item:nth-child(even) .service-item__img {
    border-right: 1px solid rgba(255, 255, 255, 0.14);
    border-left: none;
}

.rs-17 .rs-services-inner .service-item {
    font-size: 10px;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    display: -ms-flexbox;
    display: flex;
}

.rs-17 .rs-services-inner .service-item__info {
    position: relative;
    z-index: 2;
    min-height: 844px;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding-right: 136px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}

.rs-17 .rs-services-inner .service-item__info a {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.rs-17 .rs-services-inner .service-item__info h4 {
    margin-top: 0;
    font-size: 2.1em;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
}

.rs-17 .rs-services-inner .service-item .section-title-inner {
    font-size: 4.2em;
    margin-bottom: 35px;
}

.rs-17 .rs-services-inner .service-item__list {
    margin-top: 0px;
    margin-bottom: 15px;
}

.rs-17 .rs-services-inner .service-item__list li {
    position: relative;
    opacity: 0.7;
    font-weight: 300;
    color: #ffffff;
    padding-left: 17px;
}

.rs-17 .rs-services-inner .service-item__list > li {
    font-size: 1.8em;
    margin-bottom: 18px;
    line-height: 1.2;
}

.rs-17 .rs-services-inner .service-item__list > li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 9px;
    height: 9px;
    background-color: #83cdf0;
    border-radius: 50%;
}

.rs-17 .rs-services-inner .service-item__list ul {
    padding-top: 11px;
    padding-left: 8px;
}

.rs-17 .rs-services-inner .service-item__list ul > li {
    font-size: 1em;
    margin-bottom: 18px;
    line-height: 1.3;
}

.rs-17 .rs-services-inner .service-item__list ul > li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 9px;
    height: 9px;
    border: 1px solid #83cdf0;
    border-radius: 50%;
}

.rs-17 .rs-services-inner .service-item__img {
    border-left: 1px solid rgba(255, 255, 255, 0.14);
    border-right: none;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding: 32px;
}

.rs-17 .rs-services-inner .service-item__img-wrap {
    height: 100%;
    position: relative;
}

.rs-17 .rs-services-inner .service-item__img-wrap img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (min-width: 1600px) {
    .rs-17 .rs-services-inner__item:nth-child(even) .service-item__info {
        padding-right: calc((100vw - 1570px) / 2);
    }

    .rs-17 .rs-services-inner .service-item__info {
        padding-left: calc((100vw - 1570px) / 2);
    }
}

@media (max-width: 1600px) {
    .rs-17 .rs-services-inner__item:nth-child(even) .service-item__info {
        padding-left: calc(0px + 136 * ((100vw - 320px) / 1280));
    }

    .rs-17 .rs-services-inner .service-item {
        font-size: calc(7.5px + 2.5 * ((100vw - 320px) / 1280));
    }

    .rs-17 .rs-services-inner .service-item__info {
        padding-right: calc(0px + 136 * ((100vw - 320px) / 1280));
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-services-inner__item:nth-child(even) .service-item__info {
        padding-left: 15px;
    }

    .rs-17 .rs-services-inner .service-item {
        display: block;
    }

    .rs-17 .rs-services-inner .service-item__info {
        padding-right: 15px;
    }

    .rs-17 .rs-services-inner .service-item__img {
        padding: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.4;
    }
}