.rs-benefit {
    margin-top: -1px;
}

.rs-benefit__wrapper {
    position: relative;
}

.rs-benefit__wrapper::after {
    content: "";
    display: block;
    width: 100%;
    height: calc(100% - 170px);
    position: absolute;
    top: 0;
    left: 0;
    background: #f5f6ff;
}

.rs-benefit__container {
    position: relative;
    z-index: 3;
}

.rs-benefit__body {
    margin-top: 60px;
}

.rs-benefit .benefit-slider__nav {
    margin-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.rs-benefit .benefit-item {
    background: #ffffff;
    border-radius: 20px;
    position: relative;
    padding: 32px;
    height: 100%;
}

.rs-benefit .benefit-item__icon {
    margin-bottom: 24px;
}

.rs-benefit .benefit-item__content {
    margin-top: 24px;
}

.rs-benefit .benefit-item__content h6 {
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    color: #020626;
}

.rs-benefit .benefit-item__content p {
    font-size: 18px;
    line-height: 160%;
    color: #4d5499;
    margin-top: 16px;
}

.rs-benefit .benefit-item > a {
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

@media (max-width: 1600px) {
    .rs-benefit__wrapper::after {
        height: calc(100% + 10px);
    }
}

@media (max-width: 767.98px) {
    .rs-benefit__body {
        margin-top: 30px;
    }

    .rs-benefit .benefit-slider__nav {
        display: none;
    }

    .rs-benefit .benefit-item__content {
        margin-top: 10px;
    }

    .rs-benefit .benefit-item__content h6 {
        font-size: 16px;
    }

    .rs-benefit .benefit-item__content p {
        font-size: 13px;
        margin-top: 0;
    }
}