.rs-fos {
    padding-bottom: 80px;
    position: relative;
}

.rs-fos__container {
    display: grid;
    grid-template-columns: 1fr 53%;
    -webkit-column-gap: 120px;
    -moz-column-gap: 120px;
    column-gap: 120px;
}

.rs-fos__content p {
    font-size: 18px;
    line-height: 160%;
    color: #d9ddff;
    margin-top: 20px;
}

.rs-fos__title span {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #aab1f2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-fos__title span img {
    margin-right: 8px;
}

.rs-fos__title h2 {
    margin-top: 16px;
    font-size: 36px;
    line-height: 120%;
    color: #ffffff;
}

.rs-fos .fos-form__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;
}

.rs-fos .fos-form__submit {
    margin-top: 36px;
}

.rs-fos .fos-form .form-control {
    margin-bottom: 20px;
    background: rgba(77, 84, 153, 0.4);
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #0090EA;
    font-size: 16px;
    line-height: 160%;
    color: #aab1f2;
    height: 58px;
    padding-left: 16px;
    padding-right: 16px;
}

.rs-fos .fos-form .form-control::-webkit-input-placeholder {
    color: #aab1f2;
    transition-duration: 0.3s;
}

.rs-fos .fos-form .form-control::-moz-placeholder {
    color: #aab1f2;
    transition-duration: 0.3s;
}

.rs-fos .fos-form .form-control:-ms-input-placeholder {
    color: #aab1f2;
    transition-duration: 0.3s;
}

.rs-fos .fos-form .form-control::-ms-input-placeholder {
    color: #aab1f2;
    transition-duration: 0.3s;
}

.rs-fos .fos-form .form-control::placeholder {
    color: #aab1f2;
    transition-duration: 0.3s;
}

.rs-fos .fos-form .form-control.error {
    border-color: #ff3844;
}

.rs-fos .fos-form textarea.form-control {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 100%;
    resize: none;
    min-height: 204px;
}

@media (max-width: 1550px) {
    .rs-fos__container {
        -webkit-column-gap: 35px;
        -moz-column-gap: 35px;
        column-gap: 35px;
    }
}

@media (max-width: 991.98px) {
    .rs-fos .fos-form__row {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767.98px) {
    .rs-fos__container {
        grid-template-columns: 1fr;
    }

    .rs-fos__title span {
        font-size: 10px;
    }
}