.rs-news-details__head {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #147af0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 35px;
}

.rs-news-details__link a {
    color: #147af0;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
}

.rs-news-details__link a:hover {
    color: #147af0;
}

.rs-news-details__link a::before {
    content: "";
    display: inline-block;
    margin-right: 7px;
    -webkit-transform: translateY(3px) scaleX(-1);
    transform: translateY(3px) scaleX(-1);
    width: 16px;
    height: 16px;
    -webkit-mask-image: url("../../img/icons/link-button-arrow.svg");
    mask-image: url("../../img/icons/link-button-arrow.svg");
    background: #147af0;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.rs-news-details__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 115px;
}

.rs-news-details__content h1 {
    font-weight: 400;
    font-size: 68px;
    line-height: 120%;
    letter-spacing: 1.92px;
    color: #ffffff;
    margin-bottom: 10px;
}

.rs-news-details__content p {
    font-size: 18px;
    line-height: 160%;
    color: #ffffff;
}

.rs-news-details__photo {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    min-height: 226px;
}

.rs-news-details__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-news-details__recent {
    margin-top: 180px;
}

.rs-news-details .recent-news h4 {
    font-weight: 400;
    font-size: 68px;
    line-height: 120%;
    color: #ffffff;
}

.rs-news-details .recent-news__items {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 40px;
}

.rs-news-details .recent-news .news-card {
    height: 100%;
    background: #ffffff;
    border-radius: 20px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
}

.rs-news-details .recent-news .news-card__photo {
    position: relative;
    width: 100%;
    padding-bottom: 56%;
    border-radius: 20px;
    overflow: hidden;
}

.rs-news-details .recent-news .news-card__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-news-details .recent-news .news-card__wrapper {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.rs-news-details .recent-news .news-card__date {
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #4d5499;
    margin-bottom: 16px;
}

.rs-news-details .recent-news .news-card h4 {
    font-size: 22px;
    line-height: 130%;
    color: #020626;
    margin-bottom: 8px;
}

.rs-news-details .recent-news .news-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #4d5499;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (min-width: 1520px) {
    .rs-news-details {
        padding-bottom: 550px;
    }
}

@media (max-width: 1550px) {
    .rs-news-details__body {
        gap: 30px;
    }

    .rs-news-details__content h1 {
        font-size: 48px;
    }
}

@media (max-width: 991.98px) {
    .rs-news-details__content h1 {
        font-size: 20px;
    }

    .rs-news-details__content p {
        font-size: 13px;
    }

    .rs-news-details .recent-news h4 {
        font-size: 38px;
    }
}

@media (max-width: 767px) {
    .rs-news-details {
        padding-bottom: 150px;
    }
}

@media (max-width: 767.98px) {
    .rs-news-details__head {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .rs-news-details__link {
        margin-top: 10px;
    }

    .rs-news-details__link a {
        font-size: 13px;
    }

    .rs-news-details__body {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .rs-news-details__recent {
        margin-top: 80px;
    }

    .rs-news-details .recent-news h4 {
        font-size: 20px;
    }

    .rs-news-details .recent-news__items {
        grid-template-columns: 1fr;
        row-gap: 20px;
        margin-top: 20px;
    }

    .rs-news-details .recent-news .news-card__wrapper {
        margin-bottom: 10px;
    }

    .rs-news-details .recent-news .news-card__date {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .rs-news-details .recent-news .news-card h4 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .rs-news-details .recent-news .news-card p {
        font-size: 13px;
    }
}

@media (min-width: 767px) and (max-width: 1520px) {
    .rs-news-details {
        padding-bottom: clamp( 150px , -257.4369189907px  +  53.1208499336vw , 550px );
    }
}