.rs-protection {
    padding-top: 120px;
    padding-bottom: 550px;
    background: url("../../img/rs-protection/protection_bg.png") center bottom/cover no-repeat;
    text-align: center;
}

.rs-protection__content {
    max-width: 738px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

.rs-protection__content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #d9ddff;
}

@media (max-width: 1300px) {
    .rs-protection {
        padding-bottom: 400px;
    }
}

@media (max-width: 991.98px) {
    .rs-protection {
        padding-bottom: 250px;
    }
}

@media (max-width: 767.98px) {
    .rs-protection {
        padding-bottom: 150px;
    }
}