.rs-scope {
    background: url("../../img/rs-scope/4_banner.jpg") center bottom/cover no-repeat;
    padding-top: 230px;
    padding-left: 15px;
    min-height: 100vh;
}

.rs-scope__head {
    margin-bottom: 65px;
}

.rs-scope__head h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 120%;
    letter-spacing: 1.92px;
    color: #ffffff;
}

.rs-scope__wrapper {
    height: 474px;
    position: relative;
}

.rs-scope__items {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    position: absolute;
}

.rs-scope__item {
    width: 335px;
    height: 100%;
    -ms-flex: 0 0 335px;
    flex: 0 0 335px;
    margin-right: 60px;
}

.rs-scope__item:nth-child(even) {
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
}

.rs-scope .scope-item {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #6700ea 0%, #03081a 99.96%);
    padding: 30px;
    position: relative;
    overflow: hidden;
}

.rs-scope .scope-item__wrapper h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #ffffff;
}

.rs-scope .scope-item__wrapper img {
    -webkit-transform: translateX(-16px);
    transform: translateX(-16px);
}

.rs-scope .scope-item__img {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
}

.rs-scope .scope-item > a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    font-size: 0;
}

@media (min-width: 1520px) {
    .rs-scope {
        padding-bottom: 485px;
    }
}

@media (min-width: 1550px) {
    .rs-scope {
        padding-left: calc((100% - 1520px) / 2);
    }
}

@media (max-width: 767px) {
    .rs-scope {
        padding-bottom: 100px;
    }
}

@media (max-width: 767.98px) {
    .rs-scope {
        padding-top: 100px;
    }

    .rs-scope__head h1 {
        font-size: 36px;
    }
}

@media (min-width: 767px) and (max-width: 1520px) {
    .rs-scope {
        padding-bottom: clamp( 100px , -292.1580345286px  +  51.1288180611vw , 485px );
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-scope {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }
}