.rs-profit {
    padding-top: 224px;
    padding-bottom: 128px;
}

.rs-profit__head {
    color: #071f34;
    font-family: "TT Travels Next";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 121%;
    margin-bottom: 43px;
}

.rs-profit__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.rs-profit__item {
    min-height: 400px;
}

.rs-profit .profit-item {
    border-radius: 20px;
    background: #f1f3f6;
    height: 100%;
    padding: 24px;
    position: relative;
    display: grid;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    gap: 5px;
    transition: background 0.35s ease;
}

.rs-profit .profit-item > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    font-size: 0;
}

.rs-profit .profit-item h4 {
    color: #071f34;
    font-family: "TT Travels Next";
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 123%;
}

.rs-profit .profit-item p {
    color: #071f34;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

@media (max-width: 1400px) {
    .rs-profit__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 991.98px) {
    .rs-profit {
        padding-top: 26px;
        padding-bottom: 26px;
    }
}

@media (max-width: 767.98px) {
    .rs-profit__head {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .rs-profit__items {
        gap: 18px;
    }

    .rs-profit__items {
        grid-template-columns: 273px;
        grid-auto-flow: column;
        grid-auto-columns: 273px;
        overflow-x: auto;
        overflow-y: hidden;
        margin-right: -15px;
        padding-right: 15px;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    }

    .rs-profit__item {
        scroll-snap-align: start;
    }

    .rs-profit__item {
        min-height: 233px;
    }

    .rs-profit .profit-item h4 {
        font-size: 18px;
    }

    .rs-profit .profit-item p {
        font-size: 13px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-profit__items {
        margin-right: calc((100vw - 375px) / -2);
    }
}

@media (any-hover: hover) {
    .rs-profit .profit-item:hover {
        background: #b8d049;
    }
}