.checkout {
    position: relative;
    padding: 50px;
}

.checkout__head {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 40px;
    margin-bottom: 55px;
}

.checkout__head h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: var(--chernyy-shrit);
}

.checkout .checkout-form {
    display: grid;
    -ms-flex-align: start;
    align-items: start;
    grid-template-columns: 1fr 410px;
    column-gap: 68px;
}

.checkout .customer-details {
    display: grid;
    gap: 10px;
}

.checkout .checkout-related {
    margin-top: 16px;
    background: var(--seryy-fon-gotovye-resheniya);
    border-radius: 20px;
    padding: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 16px;
}

.checkout .checkout-related_qty {
    background: #fff;
    border-radius: 60px;
}

.checkout .checkout-related__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: var(--chernyy-shrit);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.checkout .checkout-related__title img {
    margin-right: 16px;
}

.checkout .checkout-payment {
    position: relative;
    margin-top: 35px;
}

.checkout .checkout-payment h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: var(--chernyy-shrit);
    margin-bottom: 13px;
}

.checkout .checkout-payment .payment-methods {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.checkout .checkout-payment .payment-methods li:not(:last-child) {
    margin-right: 100px;
}

.checkout .checkout-review {
    border-radius: 20px;
    padding: 30px;
    background: var(--seryy-fon-gotovye-resheniya);
}

.checkout .checkout-review h4 {
    font-weight: 400;
    font-size: 22px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: var(--chernyy-shrit);
}

.checkout .checkout-review__subtotal {
    margin-top: 31px;
    margin-bottom: 31px;
}

.checkout .checkout-review__subtotal li {
    display: grid;
    grid-template-columns: 1fr auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.checkout .checkout-review__subtotal li:not(:last-child) {
    margin-bottom: 20px;
}

.checkout .checkout-review__subtotal li h6 {
    color: var(--cvet-podskazok);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
}

.checkout .checkout-review__subtotal li h6::after {
    content: "";
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 1px;
    border-bottom: 1px dashed #dddddd;
    margin-bottom: 2px;
}

.checkout .checkout-review__subtotal li p {
    font-weight: 700;
    color: var(--chernyy-shrit);
}

.checkout .checkout-review__total {
    border-radius: 20px;
    padding: 20px;
    background: var(--belyy);
    display: grid;
}

.checkout .checkout-review__amount {
    margin-bottom: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    line-height: normal;
    color: var(--chernyy-shrit);
}

.checkout .checkout-review__amount::before {
    content: attr(data-title);
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.03em;
    text-transform: none;
    color: var(--cvet-podskazok);
    margin-right: auto;
}

@media (max-width: 1023.98px) {
    .checkout .checkout-form {
        gap: 30px;
    }

    .checkout .checkout-payment .payment-methods li:not(:last-child) {
        margin-right: 0;
    }
}

@media (max-width: 767.98px) {
    .checkout {
        padding: 50px 16px;
    }

    .checkout .checkout-form {
        grid-template-columns: 1fr;
    }

    .checkout .checkout-review {
        padding: 30px 16px;
        border-radius: 10px;
    }

    .checkout .checkout-review__total {
        padding: 10px;
        border-radius: 8px;
    }
}