.order-confirm {
    position: relative;
    padding: 50px;
}

.order-confirm__head {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 50px;
}

.order-confirm__head img {
    margin-bottom: 45px;
}

.order-confirm__head h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: var(--chernyy-shrit);
}

.order-confirm__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.order-confirm .order-confirm-detail h4 {
    font-weight: 400;
    font-size: 22px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: var(--chernyy-shrit);
    margin-bottom: 17px;
}

.order-confirm .order-confirm-detail table {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: var(--chernyy-shrit);
}

.order-confirm .order-confirm-detail table tr:not(:last-child) td {
    border-bottom: 1px solid var(--border);
}

.order-confirm .order-confirm-detail table td {
    border-collapse: collapse;
    padding: 15px 20px;
}

.order-confirm .order-confirm-detail table td.title {
    text-align: left;
}

.order-confirm .order-confirm-detail table td.title span {
    color: var(--osnovnoy-shrift);
    display: block;
    font-weight: 350;
}

.order-confirm .order-confirm-detail table td.price {
    font-weight: 700;
}

.order-confirm .order-confirm-review {
    border-radius: 20px;
    padding: 30px;
    background: var(--seryy-fon-gotovye-resheniya);
}

.order-confirm .order-confirm-review h4 {
    font-weight: 400;
    font-size: 22px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: var(--chernyy-shrit);
}

.order-confirm .order-confirm-review__subtotal {
    margin-top: 31px;
    margin-bottom: 31px;
}

.order-confirm .order-confirm-review__subtotal li {
    display: grid;
    grid-template-columns: 1fr auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.order-confirm .order-confirm-review__subtotal li:not(:last-child) {
    margin-bottom: 20px;
}

.order-confirm .order-confirm-review__subtotal li h6 {
    color: var(--cvet-podskazok);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
}

.order-confirm .order-confirm-review__subtotal li h6::after {
    content: "";
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 1px;
    border-bottom: 1px dashed #dddddd;
    margin-bottom: 2px;
}

.order-confirm .order-confirm-review__subtotal li p {
    font-weight: 700;
    color: var(--chernyy-shrit);
}

.order-confirm .order-confirm-review__total {
    border-radius: 20px;
    padding: 20px;
    background: var(--belyy);
    display: grid;
}

.order-confirm .order-confirm-review__amount {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    line-height: normal;
    color: var(--chernyy-shrit);
}

.order-confirm .order-confirm-review__amount::before {
    content: attr(data-title);
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.03em;
    text-transform: none;
    color: var(--cvet-podskazok);
    margin-right: auto;
}

@media (max-width: 767.98px) {
    .order-confirm {
        padding: 50px 16px;
    }

    .order-confirm__content {
        grid-template-columns: 1fr;
    }
}