.rs-about {
    padding-top: 140px;
    padding-bottom: 160px;
    position: relative;
}

.rs-about__inner {
    padding-left: 15px;
}

.rs-about__content {
    overflow: visible;
    margin-top: 60px;
}

.rs-about .about-item {
    position: relative;
}

.rs-about .about-item__photo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-about .about-item__photo img:nth-child(2) {
    margin-top: 30px;
}

.rs-about .about-item__wrapper {
    background: #ffffff;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 32px;
}

.rs-about .about-item__wrapper p {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #122223;
}

.rs-about .about-item__wrapper p span {
    display: block;
    font-family: "Cormorant Infant";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #122223;
}

@media (min-width: 767.98px) {
    .rs-about__items {
        margin: 0px -15px;
    }

    .rs-about__item {
        padding: 0px 15px;
    }

    .rs-about__item:nth-child(1n+3) {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }

    .rs-about .about-item__wrapper {
        position: absolute;
        top: -24px;
        left: 0;
    }

    .rs-about .about-item_bottom .about-item__wrapper {
        top: auto;
        bottom: -24px;
    }
}

@media (min-width: 1375px) {
    .rs-about__inner {
        padding-left: calc((100% - 1345px) / 2);
    }
}

@media (max-width: 767.98px) {
    .rs-about {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .rs-about__content {
        margin-top: 15px;
    }

    .rs-about .about-item__photo {
        width: 291px;
        height: 301px;
        position: relative;
    }

    .rs-about .about-item__photo img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .rs-about .about-item__photo img:nth-child(2) {
        display: none;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-about__inner {
        padding-left: calc((100vw - 375px) / 2);
    }
}