.rs-article {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.rs-article__wrapper {
    padding-right: 95px;
}

.rs-article__title {
    position: relative;
}

.rs-article__block-title {
    font-weight: 500;
    font-size: var(--fluid-32-60);
    line-height: 110%;
    color: var(--seryy-zagolovki);
    margin-bottom: 1.6666666667em;
}

.rs-article__content .column:first-child {
    max-width: 845px;
    justify-self: start;
}

@media (max-width: 1790px) {
    .rs-article__wrapper {
        padding-right: 0;
    }
}

@media (max-width: 767.98px) {
    .rs-article {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}