.rs-banner {
    position: relative;
    background: #021527;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 15px;
}

.rs-banner__content {
    position: relative;
    z-index: 2;
    min-height: 419px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 15px;
}

.rs-banner__title {
    margin-top: 40px;
    margin-bottom: 10px;
}

.rs-banner__title h3 {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #e5d1c1;
    margin-top: 0;
    margin-bottom: 0;
}

.rs-banner__photo {
    overflow: hidden;
    position: relative;
}

.rs-banner__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

@media (min-width: 1375px) {
    .rs-banner {
        padding-left: calc((100% - 1345px) / 2);
    }
}

@media (max-width: 991.98px) {
    .rs-banner__title h3 {
        font-size: 25px;
    }
}

@media (max-width: 767.98px) {
    .rs-banner {
        grid-template-columns: 1fr;
    }

    .rs-banner__photo {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-banner {
        padding-left: calc((100% - 375px) / 2);
        padding-right: calc((100% - 375px) / 2);
    }
}