.rs-banner {
    position: relative;
    padding-top: 60px;
    padding-bottom: 70px;
}

.rs-banner__wrapper {
    margin-bottom: 50px;
}

.rs-banner__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: var(--belyy);
    background: var(--svetlo-zelenyy);
    border-radius: 20px;
    padding: 0px 3px;
    height: 44px;
}

.rs-banner__content {
    display: grid;
    grid-template-columns: 1fr 55%;
    gap: 70px;
    -ms-flex-align: start;
    align-items: start;
}

.rs-banner__content .banner-subtitle {
    font-weight: 500;
    font-size: var(--fluid-24-40);
    line-height: 120%;
    letter-spacing: 0.03em;
    color: var(--seryy-zagolovki);
}

.rs-banner__content .banner-text {
    font-weight: 400;
    font-size: var(--fluid-13-20);
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--seryy-zagolovki);
}

.rs-banner__content .banner-text p:not(:last-child) {
    margin-bottom: 0.9em;
}

.rs-banner__photo {
    aspect-ratio: 3.024;
    border-radius: 50px;
}

@media (max-width: 1790px) {
    .rs-banner__content {
        gap: 30px;
    }
}

@media (max-width: 1023.98px) {
    .rs-banner__photo {
        border-radius: var(--fluid-15-30);
    }
}

@media (max-width: 767.98px) {
    .rs-banner {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-banner__wrapper {
        margin-bottom: 30px;
    }

    .rs-banner__content {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}