.rs-bg-text {
    pointer-events: none;
}

.rs-bg-text__item {
    position: absolute;
    top: var(--top);
    z-index: 3;
}

.rs-bg-text__item span {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 300;
    font-size: var(--fz);
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ede0d6;
}

.rs-bg-text__item_right {
    right: -100px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rs-bg-text__item_left {
    left: -50px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

@media (max-width: 1700px) {
    .rs-bg-text {
        display: none;
    }
}