.rs-banner {
    margin-bottom: 150px;
}

.rs-banner__wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    background: #004737;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 115px;
    padding-top: 115px;
}

.rs-banner__content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.rs-banner__content h2 {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 20px;
}

.rs-banner__content p {
    color: #fff;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.5%;
    margin-bottom: 20px;
}

.rs-banner__content .buttons {
    display: grid;
    grid-template-columns: auto auto;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 15px;
}

.rs-banner__bg {
    position: absolute;
    top: 30%;
    left: 70%;
    z-index: 1;
    -webkit-animation: rotate-animation 25s infinite linear;
    animation: rotate-animation 25s infinite linear;
    -webkit-transform-origin: 70% 70%;
    transform-origin: 70% 70%;
    will-change: transform;
}

.rs-banner__bg_small {
    -webkit-transform-origin: 30% 30%;
    transform-origin: 30% 30%;
    top: -40%;
    left: 0;
}

@media (max-width: 767.98px) {
    .rs-banner {
        margin-bottom: 30px;
    }

    .rs-banner {
        background: #004737;
    }

    .rs-banner__wrapper {
        background: transparent;
        overflow: visible;
        padding-left: 0;
        padding-right: 0;
    }

    .rs-banner__content h2 {
        font-size: 20px;
    }

    .rs-banner__content p {
        font-size: 14px;
    }

    .rs-banner__content .buttons {
        grid-template-columns: 1fr;
    }
}