.rs-callback {
    padding-top: 50px;
    padding-bottom: 50px;
}

.rs-callback__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 110px;
}

.rs-callback__title > span {
    display: inline-block;
    color: #2f3635;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 38px;
    background: #ebecef;
}

.rs-callback__title h2 {
    color: #2f3635;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    margin-top: 20px;
}

.rs-callback__title h2 span {
    color: #01855c;
}

.rs-callback__bg {
    margin-top: 70px;
}

.rs-callback__bg img:nth-child(1) {
    -webkit-transform: translateY(20px) scale(0.5);
    transform: translateY(20px) scale(0.5);
}

.rs-callback__bg img:nth-child(2) {
    -webkit-transform: translateY(-20px) scale(0.7);
    transform: translateY(-20px) scale(0.7);
}

.rs-callback .callback-form__submit {
    color: rgba(93, 99, 106, 0.7);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.5%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 200px;
    -ms-flex-align: center;
    align-items: center;
}

.rs-callback .callback-form__submit p {
    color: rgba(93, 99, 106, 0.7);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.5%;
}

.rs-callback .callback-form__submit p a {
    text-decoration: underline;
}

.rs-callback .callback-form .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
}

.rs-callback .callback-form input,
.rs-callback .callback-form textarea {
    outline: none;
    width: 100%;
    border-radius: 13px;
    border: 1px solid #c7c7c7;
    color: rgba(93, 99, 106, 0.7);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.5%;
    height: 61px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.rs-callback .callback-form input::-webkit-input-placeholder, .rs-callback .callback-form textarea::-webkit-input-placeholder {
    color: rgba(93, 99, 106, 0.7);
}

.rs-callback .callback-form input:-ms-input-placeholder, .rs-callback .callback-form textarea:-ms-input-placeholder {
    color: rgba(93, 99, 106, 0.7);
}

.rs-callback .callback-form input::-ms-input-placeholder, .rs-callback .callback-form textarea::-ms-input-placeholder {
    color: rgba(93, 99, 106, 0.7);
}

.rs-callback .callback-form input::placeholder,
.rs-callback .callback-form textarea::placeholder {
    color: rgba(93, 99, 106, 0.7);
}

.rs-callback .callback-form input.error,
.rs-callback .callback-form textarea.error {
    border-color: #ff3844;
}

.rs-callback .callback-form textarea {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    resize: none;
    min-height: 139px;
}

@media (max-width: 1600px) {
    .rs-callback__content {
        gap: 30px;
    }

    .rs-callback .callback-form__submit {
        gap: 30px;
    }
}

@media (max-width: 767.98px) {
    .rs-callback {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .rs-callback__content {
        grid-template-columns: 1fr;
    }

    .rs-callback__title > span {
        font-size: 13px;
    }

    .rs-callback__title h2 {
        font-size: 20px;
        margin-top: 15px;
    }

    .rs-callback__bg {
        display: none;
    }

    .rs-callback .callback-form__submit {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .rs-callback .callback-form .form-row {
        grid-template-columns: 1fr;
    }
}