.rs-catalog {
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
}

.rs-catalog__wrapper {
    padding-right: 95px;
}

.rs-catalog__title {
    position: relative;
}

.rs-catalog__slider {
    overflow: hidden;
}

.rs-catalog .catalog-slider {
    position: relative;
    background: var(--belyy);
    border-radius: 20px;
    padding: 10px 100px 10px 159px;
    display: grid;
    grid-template-columns: 34% 1fr;
    gap: 50px;
    -ms-flex-align: center;
    align-items: center;
    height: 630px;
}

.rs-catalog .catalog-slider__slider {
    min-width: 0;
    width: 100%;
}

.rs-catalog .catalog-slider__nav {
    display: contents;
}

.rs-catalog .catalog-slider__nav .slider-paging {
    position: absolute;
    left: 40px;
    bottom: 50%;
    transform: translateY(50%);
}

.rs-catalog .catalog-slider__nav .slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal,
.rs-catalog .catalog-slider__nav .slider-paging.swiper-pagination-bullets.swiper-pagination-vertical {
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
}

.rs-catalog .catalog-slider__nav .slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet,
.rs-catalog .catalog-slider__nav .slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #252525;
    transition: background var(--animation-duration) var(--timing-func);
}

.rs-catalog .catalog-slider__nav .slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet::after,
.rs-catalog .catalog-slider__nav .slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet::after {
    display: none;
}

.rs-catalog .catalog-slider__nav .slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active,
.rs-catalog .catalog-slider__nav .slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--primary-color);
}

.rs-catalog .catalog-slider__nav .slider-arrows {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.rs-catalog .catalog-slider__nav .slider-arrow {
    border-color: #252525;
}

.rs-catalog .catalog-slider__nav .slider-arrow path {
    stroke: #252525;
    transition: stroke var(--animation-duration) var(--timing-func);
}

.rs-catalog .catalog-slider-thumbs {
    position: relative;
}

.rs-catalog .catalog-slider-thumbs__slide {
    height: auto;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: var(--fluid-14-18);
    line-height: 100%;
    letter-spacing: 0.03em;
    opacity: 0.4;
    color: var(--seryy-zagolovki);
    transition: all var(--animation-duration) var(--timing-func);
}

.rs-catalog .catalog-slider-thumbs__slide.swiper-slide-thumb-active {
    font-weight: 500;
    font-size: var(--fluid-24-40);
    opacity: 1;
    transform: scale(1);
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.rs-catalog .catalog-slider-thumbs__slide.swiper-slide-thumb-active br {
    display: none;
}

.rs-catalog .catalog-slider-main {
    height: 100%;
    overflow: visible;
}

.rs-catalog .catalog-slider-main__slide {
    pointer-events: none;
    position: relative;
    background: #fff;
}

.rs-catalog .catalog-slider-main__slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}

.rs-catalog .catalog-slider-main__slide.swiper-slide-active {
    pointer-events: auto;
}

@media (min-width: 767.98px) {
    .rs-catalog .catalog-slider-thumbs {
        height: 65%;
        margin-top: 52px;
    }
}

@media (max-width: 1790px) {
    .rs-catalog__wrapper {
        padding-right: 0;
    }
}

@media (max-width: 1400px) {
    .rs-catalog .catalog-slider {
        padding: 50px;
    }

    .rs-catalog .catalog-slider__nav .slider-paging {
        left: 15px;
    }

    .rs-catalog .catalog-slider__nav .slider-arrows {
        right: 15px;
    }
}

@media (max-width: 1023.98px) {
    .rs-catalog .catalog-slider {
        padding: 50px 25px;
        gap: 25px;
    }

    .rs-catalog .catalog-slider__nav .slider-paging {
        display: none;
    }

    .rs-catalog .catalog-slider__nav .slider-arrows {
        bottom: 15px;
        top: auto;
        transform: none;
    }
}

@media (max-width: 767.98px) {
    .rs-catalog {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .rs-catalog .catalog-slider {
        grid-template-columns: 1fr;
        height: auto;
    }

    .rs-catalog .catalog-slider-thumbs__slide {
        font-size: var(--fluid-24-40);
        opacity: 1;
    }

    .rs-catalog .catalog-slider-main__slide {
        padding-bottom: 100%;
    }
}

@media (any-hover: hover) {
    .rs-catalog .catalog-slider__nav .slider-arrow:hover path {
        stroke: #fff;
    }
}