.rs-category {
    position: relative;
}

.rs-category__wrapper {
    border-top: 1px solid #bdbd9f;
    padding-top: 80px;
    padding-bottom: 80px;
    display: -ms-flexbox;
    display: flex;
}

.rs-category__aside {
    -ms-flex: 0 0 321px;
    flex: 0 0 321px;
}

.rs-category__content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 37px;
}

.rs-category__footer {
    margin-top: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.rs-category .products {
    position: relative;
}

.rs-category .products__items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}

.rs-category .product-card {
    position: relative;
    background: var(--belyy);
    border-radius: var(--fluid-10-20);
    padding: var(--fluid-15-30);
}

.rs-category .product-card__photo {
    display: block;
    position: relative;
    padding-bottom: 91%;
}

.rs-category .product-card__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    transition: transform var(--animation-duration) var(--timing-func);
}

.rs-category .product-card__content {
    margin-top: 20px;
    display: grid;
}

.rs-category .product-card__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: var(--fluid-15-25);
    line-height: 110%;
    letter-spacing: 0.03em;
    color: var(--seryy-zagolovki);
    margin-bottom: 0.4em;
    transition: color var(--animation-duration) var(--timing-func);
}

.rs-category .product-card__desc {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: var(--fluid-13-16);
    line-height: 130%;
    letter-spacing: 0.03em;
    color: var(--seryy-zagolovki);
    margin-bottom: 1.25em;
}

.rs-category .filter-sidebar {
    display: grid;
    gap: 16px;
    margin-bottom: 30px;
}

.rs-category .side-panel {
    background: var(--belyy);
    border-radius: 20px;
    padding: 20px 16px;
}

.rs-category .side-panel .side-panel-title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: var(--seryy-zagolovki);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
}

.rs-category .side-panel .side-panel-title::after {
    content: url("../../img/icons/chevron_down_icon.svg");
    transition: transform var(--animation-duration) var(--timing-func);
}

.rs-category .side-panel .side-panel-title.is-active::after {
    transform: rotateX(180deg);
}

.rs-category .side-panel .side-panel-content {
    padding-top: 13px;
}

.rs-category .categories {
    position: relative;
}

.rs-category .categories .categories-list {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #272727;
}

.rs-category .categories .categories-list a {
    display: block;
    padding: 8px 15px;
    transition: color var(--animation-duration) var(--timing-func);
}

.rs-category .categories .categories-list li.has-child > a {
    position: relative;
}

.rs-category .categories .categories-list li.has-child > a::before {
    content: url("../../img/icons/chevron_left_icon.svg");
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.rs-category .categories .categories-list .current-menu-item {
    color: var(--zelenyy);
    background: #ebebda;
    cursor: default;
}

.rs-category .filters {
    position: relative;
    display: grid;
    gap: 25px;
}

.rs-category .filters .filters-submit {
    display: grid;
    gap: 10px;
}

.rs-category .filters .filters-submit button[type=reset] {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    color: #272727;
}

.rs-category .filters .filters-block {
    display: grid;
    gap: 12px;
}

.rs-category .filters .filters-block .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.rs-category .filters .filters-block .checkbox > input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
}

.rs-category .filters .filters-block .checkbox span {
    text-align: left;
    display: inline-block;
    padding-left: 32px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #272727;
    transition: color var(--animation-duration) var(--timing-func);
    position: relative;
}

.rs-category .filters .filters-block .checkbox span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #d6dbe0;
    background: transparent;
    transition: background var(--animation-duration) var(--timing-func);
}

.rs-category .filters .filters-block .checkbox span:after {
    content: url("../../img/icons/check_icon.svg");
    position: absolute;
    top: 1px;
    left: 2px;
    transform: scale(0);
    transition: transform var(--animation-duration) var(--timing-func);
}

.rs-category .filters .filters-block .checkbox input:checked + span:before {
    background: var(--primary-color);
    border-color: transparent;
}

.rs-category .filters .filters-block .checkbox input:checked + span:after {
    transform: scale(1);
}

.rs-category .filters .filters-block .checkbox:hover span {
    color: var(--primary-color);
}

@media (max-width: 1023.98px) {
    .rs-category__wrapper {
        display: block;
    }

    .rs-category__content {
        padding-left: 0;
    }
}

@media (max-width: 767.98px) {
    .rs-category__wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (any-hover: hover) {
    .rs-category .product-card__photo:hover img {
        transform: scale(1.05);
    }

    .rs-category .product-card__title:hover {
        color: var(--primary-color);
    }

    .rs-category .categories .categories-list a:hover {
        color: var(--primary-color);
    }
}