.footer-menu__list li:not(:last-child) {
    margin-bottom: 16px;
}

.footer-menu__list li a {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: var(--belyy);
    transition: color var(--animation-duration) var(--timing-func);
}

.rs-footer {
    position: relative;
    max-width: 1846px;
    margin: 55px auto;
    padding: 0px 15px;
}

.rs-footer__wrapper {
    display: grid;
    gap: 15px;
    grid-template-columns: 24.5% 24.5% 1fr 18%;
    grid-template-rows: auto auto auto;
}

.rs-footer__entry {
    border-radius: 30px;
    padding: 40px 40px 15px 40px;
    background: #f1f3f8;
}

.rs-footer._init .footer-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.rs-footer._init .footer-title::after,
.rs-footer._init .footer-title::before {
    content: "";
    position: absolute;
    background-color: #000;
}

.rs-footer._init .footer-title::after {
    right: 18px;
    width: 2px;
    height: 14px;
}

.rs-footer._init .footer-title::before {
    top: 9px;
    right: 12px;
    height: 2px;
    width: 14px;
}

.rs-footer._init .footer-title._active::after {
    transform: rotate(90deg);
}

.rs-footer._init .footer-title._active::before {
    transform: scale(0);
}

.rs-footer._init .not-spoller.footer-title::after,
.rs-footer._init .not-spoller.footer-title::before {
    display: none;
}

.rs-footer .footer-title {
    font-weight: 600;
    font-size: 19px;
    line-height: 110%;
    color: #000;
}

.rs-footer .footer-contacts {
    position: relative;
}

.rs-footer .footer-contacts__list {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 19px;
    line-height: 165%;
    color: #1a1a1a;
}

.rs-footer .footer-contacts__list li:not(:last-child) {
    margin-bottom: 13px;
}

.rs-footer .footer-menu {
    position: relative;
}

.rs-footer .footer-menu__list {
    padding-top: 15px;
    padding-bottom: 15px;
}

.rs-footer .footer-menu__list li:not(:last-child) {
    margin-bottom: 13px;
}

.rs-footer .footer-menu__list li a {
    font-weight: 400;
    font-size: 19px;
    line-height: 165%;
    color: #1a1a1a;
}

.rs-footer .footer-acc {
    position: relative;
}

.rs-footer .footer-acc__list {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 19px;
    line-height: 165%;
    color: #1a1a1a;
}

.rs-footer .footer-acc__list li:not(:last-child) {
    margin-bottom: 13px;
}

.rs-footer .footer-copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    color: #1a1a1a;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-footer .footer-copyright p {
    margin-bottom: 45px;
}

.rs-footer .footer-copyright a {
    opacity: 0.5;
    margin-top: auto;
}

.rs-footer .footer-btn {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 1px solid #0132cb;
    border-radius: 30px;
    padding: 15px 15px 15px 30px;
}

.rs-footer .footer-btn__title {
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.rs-footer .footer-btn__icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 49px;
    height: 49px;
    background: #0132cb;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 50%;
}

@media (min-width: 767.98px) {
    .footer-menu_grid .footer-menu__list {
        column-count: 2;
        column-gap: 16px;
    }

    .rs-footer__entry:nth-child(5) {
        grid-column: span 2;
    }

    .rs-footer__btn {
        grid-column: span 2;
    }

    .rs-footer .footer-copyright {
        min-height: 111px;
    }
}

@media (min-width: 1023.98px) {
    .rs-footer .footer-menu__list {
        column-count: 3;
        column-gap: 16px;
    }
}

@media (min-width: 1500px) {
    .rs-footer__entry:nth-child(1) {
        grid-row: span 3;
    }

    .rs-footer__entry:nth-child(2) {
        grid-row: span 3;
    }

    .rs-footer__entry:nth-child(3) {
        grid-column: span 2;
    }

    .rs-footer__entry:nth-child(4) {
        grid-row: span 2;
    }

    .rs-footer__entry:nth-child(5) {
        grid-column: auto;
    }

    .rs-footer__btn {
        grid-column: auto;
    }
}

@media (max-width: 1500px) {
    .rs-footer__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 767.98px) {
    .footer-menu__list li:not(:last-child) {
        margin-bottom: 8px;
    }

    .rs-footer {
        margin: 15px auto;
    }

    .rs-footer__wrapper {
        grid-template-columns: 1fr;
    }

    .rs-footer__entry {
        padding: 30px 20px;
    }
}

@media (any-hover: hover) {
    .footer-menu__list li a:hover {
        color: var(--zolotoy);
    }
}