.rs-fos {
    padding-bottom: 130px;
}

.rs-fos__content {
    display: grid;
    grid-template-columns: 49% 1fr;
    gap: 170px;
}

.rs-fos__head {
    margin-bottom: 40px;
}

.rs-fos__head h3 {
    color: #202020;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.rs-fos__head p {
    color: #202020;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 135%;
}

.rs-fos__form {
    padding-left: 130px;
}

.rs-fos__picture {
    position: relative;
    -webkit-mask-image: url("../../img/fos_mask.png");
    mask-image: url("../../img/fos_mask.png");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-position: right;
    mask-position: right;
}

.rs-fos__picture img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (min-width: 767.98px) {
    .rs-fos__wrapper {
        border-radius: 40px;
        background: #f3f3f3;
        padding: 50px;
    }

    .rs-fos__picture {
        opacity: 0;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        transition: opacity 0.45s ease-out, -webkit-transform 0.45s ease-out;
        transition: opacity 0.45s ease-out, transform 0.45s ease-out;
        transition: opacity 0.45s ease-out, transform 0.45s ease-out, -webkit-transform 0.45s ease-out;
    }

    .rs-fos__picture.in-view {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .rs-fos__head,
  .rs-fos form > * {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        transition: opacity 0.45s ease-out, -webkit-transform 0.45s ease-out;
        transition: opacity 0.45s ease-out, transform 0.45s ease-out;
        transition: opacity 0.45s ease-out, transform 0.45s ease-out, -webkit-transform 0.45s ease-out;
    }

    .rs-fos__head.in-view,
  .rs-fos form > *.in-view {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@media (max-width: 1866px) {
    .rs-fos__content {
        gap: 50px;
    }

    .rs-fos__form {
        padding-left: 0;
    }
}

@media (max-width: 991.98px) {
    .rs-fos__content {
        grid-template-columns: 1fr;
    }

    .rs-fos__picture {
        padding-bottom: 100%;
    }
}

@media (max-width: 767.98px) {
    .rs-fos {
        padding: 24px 0px;
        margin-bottom: 30px;
        border-radius: 20px;
        background: #f3f3f3;
    }

    .rs-fos__head {
        margin-bottom: 20px;
    }

    .rs-fos__head h3 {
        font-size: 26px;
    }
}