.rs-fos {
    position: relative;
    background: url("../../img/form_2_bg.jpg") right/cover no-repeat;
    border-radius: 20px 0px 0px 20px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 15px;
    padding-right: 15px;
}

.rs-fos__inner {
    max-width: 803px;
}

.rs-fos__inner h4 {
    font-weight: 800;
    font-size: 34px;
    line-height: 137%;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 6px;
}

.rs-fos__inner p {
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 30px;
}

.rs-fos_left {
    background: url("../../img/form_3_bg.jpg") right/cover no-repeat;
    border-radius: 0px 20px 20px 0px;
}

@media (min-width: 1600px) {
    .rs-fos {
        padding-right: calc((100% - 1570px) / 2);
        margin-left: calc((100% - 1570px) / 2);
        padding-left: 132px;
    }

    .rs-fos_left {
        padding-left: calc((100% - 1570px) / 2);
        margin-right: calc((100% - 1570px) / 2);
        padding-right: 132px;
        margin-left: 0;
    }
}

@media (max-width: 767.98px) {
    .rs-fos {
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 0;
    }

    .rs-fos__inner h4 {
        font-size: 16px;
    }

    .rs-fos__inner p {
        font-size: 13px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-fos {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }
}