.rs-forbidden {
    padding-top: 160px;
    padding-bottom: 160px;
    background: #021527;
    padding-left: 15px;
    padding-right: 15px;
}

.rs-forbidden__items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.rs-forbidden .forbidden-item {
    height: 100%;
    border: 1px solid rgba(211, 178, 152, 0.3);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px;
    min-height: 205px;
}

.rs-forbidden .forbidden-item h6 {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #e5d1c1;
    margin-top: 21px;
    margin-bottom: 0;
    text-align: center;
    max-width: 253px;
}

@media (min-width: 1375px) {
    .rs-forbidden {
        padding-left: calc((100% - 1345px) / 2);
        margin-right: calc((100% - 1345px) / 2);
    }
}

@media (max-width: 991.98px) {
    .rs-forbidden__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media (max-width: 767.98px) {
    .rs-forbidden {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-forbidden__items {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-forbidden {
        padding-left: calc((100% - 375px) / 2);
        padding-right: calc((100% - 375px) / 2);
    }
}