.footer-menu__list {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-menu__list li:not(:last-child) {
    margin-bottom: 14px;
}

.footer-menu__list li a {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    transition: color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    color: #7A8593;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-menu_grid .footer-menu__list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
}

.rs-footer__top {
    padding-top: 78px;
    padding-bottom: 62px;
    display: grid;
    grid-template-columns: 35% 190px 190px 190px;
    gap: 120px;
}

.rs-footer._init .footer-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.rs-footer._init .footer-title::after,
.rs-footer._init .footer-title::before {
    content: "";
    position: absolute;
    background-color: #95a3b2;
    transition: -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
}

.rs-footer._init .footer-title::after {
    right: 18px;
    width: 2px;
    height: 14px;
}

.rs-footer._init .footer-title::before {
    top: 50%;
    right: 12px;
    height: 2px;
    width: 14px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-footer._init .footer-title._active::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rs-footer._init .footer-title._active::before {
    -webkit-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
}

.rs-footer._init .not-spoller.footer-title::after,
.rs-footer._init .not-spoller.footer-title::before {
    display: none;
}

.rs-footer .footer-title {
    color: #0F4E9F;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(15, 78, 159, 0.05);
    margin-bottom: 20px;
}

.rs-footer .footer-contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.rs-footer .footer-contacts__logo {
    -ms-flex: 0 0 104px;
    flex: 0 0 104px;
    max-width: 104px;
    margin-right: 100px;
}

.rs-footer .footer-contacts__logo img {
    width: 100%;
}

.rs-footer .footer-contacts__list {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.rs-footer .footer-contacts__list ul {
    margin-top: 0;
    margin-bottom: 0;
}

.rs-footer .footer-contacts__list ul li:not(:last-child) {
    margin-bottom: 12px;
}

.rs-footer .footer-contacts__list ul li p,
.rs-footer .footer-contacts__list ul li a {
    color: #7A8593;
    font-size: 14px;
    letter-spacing: 0.35px;
    transition: color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.rs-footer .footer-contacts__list ul li a[href^="tel:"] {
    color: #0F4E9F;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 1.14px;
}

.rs-footer .footer-contacts__list ul li a:hover {
    color: #00A7DA;
}

.rs-footer .footer-bottom {
    color: #7A8593;
    font-size: 12px;
    padding-top: 27px;
    padding-bottom: 27px;
    border-top: 2px solid rgba(15, 78, 159, 0.05);
}

.rs-footer .footer-bottom__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-footer .footer-bottom p {
    margin-bottom: 0;
    margin-top: 0;
}

.rs-footer .footer-bottom a {
    color: inherit;
    position: relative;
    display: inline-block;
}

@media (max-width: 1790px) {
    .rs-footer__top {
        grid-template-columns: 1fr 190px 190px 190px;
    }
}

@media (max-width: 1500px) {
    .footer-menu_grid .footer-menu__list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .rs-footer__top {
        gap: 35px;
    }

    .rs-footer .footer-contacts {
        display: block;
    }

    .rs-footer .footer-contacts__logo {
        margin-right: 0px;
        margin-bottom: 35px;
    }

    .rs-footer .footer-contacts__list ul li a[href^="tel:"] {
        font-size: 20px;
    }
}

@media (max-width: 991.98px) {
    .footer-menu__list li a {
        font-size: 13px;
    }

    .rs-footer__top {
        grid-template-columns: 1fr;
        padding-top: 30px;
        padding-bottom: 0px;
        gap: 0px;
    }

    .rs-footer .footer-wrapper {
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .rs-footer .footer-title {
        margin-bottom: 0;
        font-size: 16px;
        padding-top: 20px;
    }

    .rs-footer .footer-contacts__list ul li p,
  .rs-footer .footer-contacts__list ul li a {
        font-size: 13px;
    }

    .rs-footer .footer-bottom {
        border: none;
    }

    .rs-footer .footer-bottom__wrapper {
        -ms-flex-align: center;
        align-items: center;
        display: block;
    }

    .rs-footer .footer-bottom p {
        text-align: center;
    }
}

@media (any-hover: hover) {
    .footer-menu__list li a:hover {
        color: #00A7DA;
    }
}