.rs-intro {
    position: relative;
    max-width: 1816px;
    margin: 15px auto 0;
}

.rs-intro__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rs-intro__bg video,
.rs-intro__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rs-intro__wrapper {
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    min-height: 863px;
    padding-top: 75px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    display: grid;
    -ms-flex-line-pack: end;
    align-content: end;
    justify-items: start;
}

.rs-intro .intro-content {
    position: relative;
    border-radius: 25px;
    padding: clamp(0.9375rem, -0.9544rem + 3.9414vw, 3.125rem);
    max-width: 44%;
    background: #fff;
}

.rs-intro .intro-content h1 {
    font-weight: 400;
    line-height: 110%;
    color: #000;
    margin-top: 0.3947368421em;
    font-size: clamp(16px, -3px + 2.4775vw, 38px);
}

.rs-intro .intro-content span {
    display: inline-block;
    border-radius: 49px;
    padding: 10px 16px;
    background: #f1f3f8;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: clamp(9px, 5.54px + 0.4505vw, 13px);
    text-transform: uppercase;
    color: #0132cb;
}

.rs-intro .intro-scroll-down {
    position: absolute;
    bottom: 0;
    right: 112px;
    background: #fff;
    overflow: hidden;
    width: 286px;
    height: 100px;
    display: grid;
    -webkit-mask-image: url("../../img/icons/scroll_down_mask.svg");
    mask-image: url("../../img/icons/scroll_down_mask.svg");
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center bottom;
    mask-position: center bottom;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.rs-intro .intro-scroll-down__icon {
    display: grid;
    -ms-flex-line-pack: end;
    align-content: end;
}

.rs-intro .intro-scroll-down__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
}

.rs-intro .intro-scroll-down__title {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    font-family: var(--second-family);
}

.rs-intro .intro-scroll-down__arrow {
    width: 38px;
    height: 38px;
    background: #f1f3f8;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width: 1023.98px) {
    .rs-intro__bg img {
        display: none;
    }
}

@media (max-width: 1023.98px) {
    .rs-intro {
        margin: 0 auto;
    }

    .rs-intro__bg video {
        display: none;
    }

    .rs-intro__wrapper {
        min-height: 100svh;
        border-radius: 0px;
        -ms-flex-line-pack: start;
        align-content: start;
        justify-items: center;
    }

    .rs-intro .intro-content {
        max-width: 343px;
    }

    .rs-intro .intro-scroll-down {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 767.98px) {
    .rs-intro .intro-scroll-down {
        width: 225px;
        height: 66px;
    }

    .rs-intro .intro-scroll-down__title {
        font-size: 11px;
    }

    .rs-intro .intro-scroll-down__arrow {
        width: 30px;
        height: 30px;
    }
}