.rs-numbers {
    background: url("../../img/numbers_bg.jpg") 0 0/cover no-repeat;
    height: 239px;
    border-radius: 0px 16px 16px 0px;
    margin-top: -239px;
    position: relative;
    z-index: 3;
    margin-right: 150px;
    padding-left: 15px;
    padding-right: 245px;
}

.rs-numbers__items {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-numbers .numbers-item {
    color: #ffffff;
    line-height: 137%;
}

.rs-numbers .numbers-item h6 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
}

.rs-numbers .numbers-item h6 span {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    font-size: 55px;
}

.rs-numbers .numbers-item h6 span::after {
    content: "+";
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 100%;
}

.rs-numbers .numbers-item p {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0;
}

@media (min-width: 1600px) {
    .rs-numbers {
        margin-right: calc((100% - 1570px) / 2 + 130px);
        padding-left: calc((100% - 1570px) / 2 + 130px);
    }
}

@media (max-width: 991.98px) {
    .rs-numbers {
        margin-top: 0;
        margin-right: 0;
        border-radius: 0;
        padding-right: 15px;
    }
}

@media (max-width: 767.98px) {
    .rs-numbers {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        background: url("../../img/numbers_bg_min.jpg") right/cover no-repeat;
    }

    .rs-numbers__items {
        display: block;
    }

    .rs-numbers__item:not(:last-child) {
        margin-bottom: 37px;
    }

    .rs-numbers .numbers-item h6 span {
        font-size: 40px;
    }

    .rs-numbers .numbers-item p {
        font-size: 13px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-numbers {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }
}