.rs-offer {
    padding-top: 70px;
    padding-bottom: 40px;
}

.rs-offer__holder {
    position: relative;
    padding: 56px 0px 56px 115px;
}

.rs-offer__body {
    margin-right: -15px;
}

.rs-offer__submit {
    margin-top: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}

.rs-offer__submit p {
    max-width: 350px;
}

.rs-offer .offer-slider {
    min-width: 0;
}

.rs-offer .offer-slider__slide {
    background: #fff;
    width: 551px;
    height: auto;
}

.rs-offer .offer-slider__slide img {
    width: 100%;
}

.rs-offer .offer-slider__slide:last-child {
    margin-right: 20px;
}

.rs-offer .offer-page {
    padding: 10px 5px 10px 35px;
    font-size: 11px;
}

.rs-offer .offer-page h3 {
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media (min-width: 767.98px) {
    .rs-offer__holder {
        background: var(--primary-color);
    }
}

@media (min-width: 1384px) {
    .rs-offer__body {
        margin-right: calc((100vw - 1354px) / -2);
    }
}

@media (max-width: 991.98px) {
    .rs-offer__submit {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .rs-offer__submit p {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
}

@media (max-width: 767.98px) {
    .rs-offer {
        padding-bottom: 0px;
        padding-top: 0px;
        background: var(--primary-color);
    }

    .rs-offer__holder {
        padding: 56px 0px;
    }

    .rs-offer__submit {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .rs-offer .offer-slider__slide {
        width: 311px;
    }

    .rs-offer .offer-page {
        padding: 10px;
        font-size: 6px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-offer__body {
        margin-right: calc((100vw - 375px) / -2);
    }
}