@charset "UTF-8";

.rs-projects__container {
    position: relative;
    padding-top: 192px;
    padding-bottom: 100px;
}

.rs-projects__tabs-nav {
    display: grid;
    grid-template-columns: 35% 1fr;
    -ms-flex-align: end;
    align-items: end;
    justify-items: end;
    gap: 20px;
    margin-bottom: 40px;
}

.rs-projects__tabs-nav p {
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    letter-spacing: 0.03em;
    color: #6e8499;
    margin-bottom: 0;
}

.rs-projects__tabs-nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    row-gap: 13px;
}

.rs-projects__tabs-nav ul li:not(:last-child) {
    margin-right: 13px;
}

.rs-projects__tabs-nav ul li a {
    width: 109px;
    height: 52px;
    background: #f5f7f8;
    border-radius: 33px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #353e47;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.rs-projects__tabs-nav ul li.active a {
    color: #ffffff;
    background: #F42408;
}

.rs-projects .project-card {
    background: #f5f7f8;
    box-shadow: 0px 76px 45px rgba(0, 0, 0, 0.02), 0px 34px 34px rgba(0, 0, 0, 0.03), 0px 8px 18px rgba(0, 0, 0, 0.03), 0px 0px 0px rgba(0, 0, 0, 0.03);
    border-radius: 16px;
    padding: 50px 40px;
    display: grid;
    grid-template-columns: 31% 1fr 323px;
    gap: 70px;
}

.rs-projects .project-card__content h4 {
    font-weight: 700;
    font-size: 26px;
    line-height: 137%;
    color: #353e47;
    margin-top: 0;
    margin-bottom: 20px;
}

.rs-projects .project-card__content p {
    font-size: 16px;
    line-height: 137%;
    letter-spacing: 0.03em;
    color: #6e8499;
    margin-bottom: 12px;
}

.rs-projects .project-slider {
    position: relative;
    height: 100%;
}

.rs-projects .project-slider__slider {
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.rs-projects .project-slider__swiper {
    height: 100%;
}

.rs-projects .project-slider__slide {
    height: 100%;
    position: relative;
}

.rs-projects .project-slider__slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-projects .project-slider__nav .slider-arrows {
    width: calc(100% - 24px);
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    left: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-projects .project-slider__nav .slider-arrows .slider-arrow {
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.4);
}

.rs-projects .project-slider__nav .slider-arrows .slider-arrow:before {
    background: #ffffff;
}

.rs-projects .project-slider__nav .slider-paging {
    position: absolute;
    bottom: 17px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.rs-projects .project-price {
    background: #ffffff;
    border-radius: 16px;
    padding: 35px;
}

.rs-projects .project-price__item {
    border: 1px solid #ced7de;
    border-radius: 10px;
    font-size: 16px;
    line-height: 137%;
    letter-spacing: 0.03em;
    color: #6e8499;
    margin-bottom: 17px;
    padding: 12px 12px 12px 77px;
}

.rs-projects .project-price__item:before {
    content: "Итого";
    font-weight: 600;
    font-size: 16px;
    line-height: 137%;
    letter-spacing: 0.03em;
    color: #353e47;
    display: block;
}

.rs-projects .project-price__item_materials {
    background: url("../../img/rs-projects/materials-icon.svg") 20px center no-repeat;
}

.rs-projects .project-price__item_materials:before {
    content: "Материалы";
}

.rs-projects .project-price__item_job {
    background: url("../../img/rs-projects/job-icon.svg") 20px center no-repeat;
}

.rs-projects .project-price__item_job:before {
    content: "Работы";
}

.rs-projects .project-price__total {
    background: url("../../img/rs-projects/total-icon.svg") 20px center no-repeat;
    background-color: #f5f7f8;
    padding: 18px 18px 18px 58px;
    margin-top: 69px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 26px;
    line-height: 137%;
    color: #353e47;
    position: relative;
    text-align: center;
}

.rs-projects .project-price__total:before {
    content: "Итого";
    font-weight: 600;
    font-size: 16px;
    line-height: 137%;
    letter-spacing: 0.03em;
    color: #353e47;
    position: absolute;
    bottom: calc(100% + 12px);
    left: 0;
}

@media (max-width: 1300px) {
    .rs-projects .project-card {
        gap: 15px;
        padding: 20px;
    }
}

@media (max-width: 991.98px) {
    .rs-projects .project-card {
        grid-template-columns: 45% 1fr;
    }

    .rs-projects .project-card__price {
        grid-column: span 2;
    }
}

@media (max-width: 767.98px) {
    .rs-projects__container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .rs-projects__tabs-nav {
        margin-bottom: 20px;
        grid-template-columns: 1fr;
    }

    .rs-projects__tabs-nav p {
        font-size: 13px;
    }

    .rs-projects__tabs-nav ul li a {
        width: 74px;
        height: 42px;
        font-size: 13px;
    }

    .rs-projects .project-card {
        grid-template-columns: 100%;
    }

    .rs-projects .project-card__slider {
        height: 232px;
    }

    .rs-projects .project-card__content h4 {
        font-size: 16px;
    }

    .rs-projects .project-card__content p {
        font-size: 13px;
    }

    .rs-projects .project-card__price {
        grid-column: span 1;
    }

    .rs-projects .project-slider__nav .slider-arrows {
        display: none;
    }

    .rs-projects .project-price__item {
        font-size: 13px;
        margin-bottom: 5px;
        padding: 12px 12px 12px 58px;
    }

    .rs-projects .project-price__item:before {
        font-size: 13px;
    }

    .rs-projects .project-price__item_materials {
        background-size: 25px 25px;
    }

    .rs-projects .project-price__item_job {
        background-size: 25px 25px;
    }

    .rs-projects .project-price__total {
        font-size: 16px;
        padding: 13px 13px 13px 58px;
        background-size: 25px 25px;
        margin-top: 46px;
    }

    .rs-projects .project-price__total:before {
        font-size: 13px;
    }
}