.rs-scope {
    position: relative;
}

.rs-scope::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #dcdcdc;
    position: absolute;
    top: 0;
    left: 0;
}

.rs-scope__wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 117px;
    padding-right: 117px;
}

.rs-scope__holder {
    display: grid;
    grid-template-columns: 1fr 50%;
    column-gap: 150px;
    -ms-flex-align: start;
    align-items: start;
}

.rs-scope__head {
    color: #0c0c0d;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%;
}

.rs-scope__head .section-title {
    margin-bottom: 24px;
}

.rs-scope__items {
    display: grid;
    gap: 24px;
}

.rs-scope .scope-item {
    --hc: #c92628;
    padding: 40px;
    background: #F9F9F9;
    position: relative;
}

.rs-scope .scope-item > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    font-size: 0;
}

.rs-scope .scope-item h3 {
    color: #0c0c0d;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    margin-bottom: 8px;
}

.rs-scope .scope-item p {
    color: #0c0c0d;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%;
}

.rs-scope .scope-item .wrap {
    display: grid;
    grid-template-columns: 195px 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 70px;
    -ms-flex-align: start;
    align-items: start;
    position: relative;
}

.rs-scope .scope-item .wrap .picture {
    grid-row: span 2;
    width: 100%;
    position: relative;
    padding-left: 35px;
}

.rs-scope .scope-item .wrap .picture img {
    max-width: 100%;
}

.rs-scope .scope-item .wrap span {
    position: absolute;
    bottom: 0;
    left: 0px;
    color: #c92628;
    font-family: "Russo One";
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 70%;
}

.rs-scope .scope-item > svg {
    position: absolute;
    bottom: 40px;
    right: 40px;
    transition: transform 0.35s ease;
}

.rs-scope .scope-item > svg path {
    transition: stroke 0.35s ease;
}

.rs-scope .scope-item::after {
    content: "";
    height: 0px;
    width: 100%;
    display: block;
    background: var(--hc);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height 0.35s ease;
}

@media (max-width: 1800px) {
    .rs-scope__holder {
        column-gap: 45px;
    }

    .rs-scope .scope-item {
        padding: 20px;
    }

    .rs-scope .scope-item .wrap {
        column-gap: 25px;
        grid-template-columns: 160px 1fr;
    }

    .rs-scope .scope-item .wrap .picture {
        padding: 0;
    }

    .rs-scope .scope-item > svg {
        bottom: 15px;
        right: 15px;
    }
}

@media (max-width: 991.98px) {
    .rs-scope__holder {
        grid-template-columns: 1fr;
        row-gap: 15px;
    }

    .rs-scope__items {
        gap: 15px;
    }
}

@media (max-width: 767.98px) {
    .rs-scope__wrapper {
        padding: 30px 0px 30px 20px;
    }

    .rs-scope__head {
        font-size: 13px;
    }

    .rs-scope .scope-item h3 {
        font-size: 16px;
    }

    .rs-scope .scope-item p {
        font-size: 13px;
    }

    .rs-scope .scope-item .wrap {
        grid-template-columns: 1fr;
        padding-bottom: 40px;
    }

    .rs-scope .scope-item .wrap .picture {
        margin-bottom: 30px;
        text-align: center;
    }

    .rs-scope .scope-item .wrap .picture img {
        width: 160px;
    }
}

@media (any-hover: hover) {
    .rs-scope .scope-item:hover > svg {
        transform: rotate(-45deg);
    }

    .rs-scope .scope-item:hover > svg path {
        stroke: var(--hc);
    }

    .rs-scope .scope-item:hover::after {
        height: 9px;
    }
}