.rs-status {
    padding-top: 50px;
    background: #f2f4f6;
}

.rs-status__wrapper {
    background: linear-gradient(275deg, #033b7d 4.08%, #0053b5 99.74%);
    padding-left: 15px;
    display: grid;
    grid-template-columns: 46% 1fr;
}

.rs-status__content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.rs-status__content h3 {
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 12px;
}

.rs-status__content p {
    color: #f2f3f5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 12px;
}

.rs-status__picture {
    position: relative;
}

.rs-status__picture img {
    position: absolute;
    max-width: 100%;
    bottom: 0;
    right: 0;
}

@media (min-width: 1600px) {
    .rs-status__wrapper {
        padding-left: calc((100% - 1570px) / 2);
    }
}

@media (max-width: 991.98px) {
    .rs-status__wrapper {
        grid-template-columns: 1fr;
    }

    .rs-status__picture {
        margin-top: -100px;
    }

    .rs-status__picture img {
        position: static;
    }
}

@media (max-width: 767.98px) {
    .rs-status {
        padding-top: 0;
    }

    .rs-status__content h3 {
        font-size: 30px;
    }

    .rs-status__content p {
        font-size: 13px;
    }
}