.rs-scope {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.rs-scope__wrapper {
    padding-right: 95px;
}

.rs-scope__title {
    position: relative;
}

.rs-scope__items {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 31px;
}

.rs-scope .scope-card {
    position: relative;
    height: 100%;
    background: var(--belyy);
    border-radius: var(--fluid-10-20);
    padding: var(--fluid-15-30);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow: hidden;
}

.rs-scope .scope-card > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    font-size: 0;
}

.rs-scope .scope-card .scope-card__fake {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: var(--fluid-10-20);
    padding: var(--fluid-15-30);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #097834;
}

.rs-scope .scope-card .scope-card__fake .scope-card__icon {
    background: var(--belyy);
}

.rs-scope .scope-card .scope-card__fake h4 {
    color: var(--belyy);
}

.rs-scope .scope-card__icon {
    width: 90px;
    height: 53px;
    background: var(--zelenyy);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.rs-scope .scope-card h4 {
    font-weight: 500;
    font-size: var(--fluid-13-18);
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #424242;
    margin-top: 30px;
}

.rs-scope .scope-card button {
    position: absolute;
    bottom: var(--fluid-15-30);
    right: var(--fluid-15-30);
}

.rs-scope .scope-card .scope-card__fake {
    -webkit-clip-path: inset(100% 0 0 0 round var(--fluid-10-20));
    clip-path: inset(100% 0 0 0 round var(--fluid-10-20));
    transition: -webkit-clip-path var(--animation-duration) var(--timing-func);
    transition: clip-path var(--animation-duration) var(--timing-func);
    transition: clip-path var(--animation-duration) var(--timing-func), -webkit-clip-path var(--animation-duration) var(--timing-func);
}

@media (min-width: 767.98px) {
    .rs-scope__item {
        min-height: 165px;
        grid-column: span 4;
    }

    .rs-scope__item.small {
        grid-column: span 3;
    }
}

@media (max-width: 1790px) {
    .rs-scope__wrapper {
        padding-right: 0;
    }
}

@media (max-width: 1023.98px) {
    .rs-scope__items {
        gap: 15px;
    }
}

@media (max-width: 767.98px) {
    .rs-scope {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .rs-scope__items {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }
}

@media (any-hover: hover) {
    .rs-scope .scope-card:hover .scope-card__fake {
        -webkit-clip-path: inset(0 0 0 0 round var(--fluid-10-20));
        clip-path: inset(0 0 0 0 round var(--fluid-10-20));
    }
}