.rs-steps {
    padding-top: 80px;
    padding-bottom: 120px;
}

.rs-steps__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.rs-steps__head {
    grid-row: span 2;
    position: relative;
    padding: 37px 30px;
    background: var(--primary-color);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
}

.rs-steps__head .bg {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 52%;
}

.rs-steps__head .bg img {
    width: 100%;
}

.rs-steps .steps-item {
    position: relative;
    height: 100%;
    background: #fff;
    padding: 40px 100px 30px 30px;
    min-height: 204px;
}

.rs-steps .steps-item p {
    margin-top: 26px;
}

.rs-steps .steps-item .num {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #0b0f19;
}

@media (max-width: 991.98px) {
    .rs-steps__head .bg {
        width: 35%;
    }

    .rs-steps .steps-item {
        padding: 24px;
    }

    .rs-steps .steps-item .num {
        top: 24px;
        right: 24px;
    }
}

@media (max-width: 767.98px) {
    .rs-steps {
        padding-top: 36px;
        padding-bottom: 72px;
    }

    .rs-steps__items {
        grid-template-columns: 1fr;
    }

    .rs-steps__head {
        padding: 0;
        background: none;
        color: #fff;
    }

    .rs-steps__head .bg {
        display: none;
    }

    .rs-steps__head h2 {
        font-size: 32px;
    }

    .rs-steps .steps-item {
        min-height: 182px;
    }
}