.rs-services {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.rs-services__wrapper {
    padding-right: 95px;
}

.rs-services__title {
    position: relative;
}

.rs-services__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 31px;
}

.rs-services .services-card {
    position: relative;
    height: 100%;
    background: var(--belyy);
    border-radius: var(--fluid-10-20);
    padding: var(--fluid-15-30);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow: hidden;
}

.rs-services .services-card > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    font-size: 0;
}

.rs-services .services-card .services-card__fake {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: var(--fluid-10-20);
    padding: var(--fluid-15-30);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #097834;
    background-repeat: no-repeat;
    background-position: calc(100% + 80px) 50%;
    background-size: 311px 311px;
}

.rs-services .services-card .services-card__fake h4 {
    color: var(--belyy);
}

.rs-services .services-card .services-card__fake button {
    border-color: var(--belyy);
}

.rs-services .services-card .services-card__fake button span {
    color: var(--belyy);
}

.rs-services .services-card h4 {
    font-weight: 500;
    font-size: var(--fluid-15-25);
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #424242;
}

.rs-services .services-card button {
    margin-top: 30px;
    height: 36px;
    max-width: 100%;
    border-radius: 60px;
    border: 1px solid var(--seryy-zagolovki);
    padding: 0px 20px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: border var(--animation-duration) var(--timing-func);
}

.rs-services .services-card button span {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: var(--seryy-zagolovki);
    transition: color var(--animation-duration) var(--timing-func);
}

@media (min-width: 767.98px) {
    .rs-services__item {
        min-height: 257px;
    }
}

@media (max-width: 1790px) {
    .rs-services__wrapper {
        padding-right: 0;
    }
}

@media (max-width: 1023.98px) {
    .rs-services__items {
        gap: 15px;
    }
}

@media (max-width: 767.98px) {
    .rs-services {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .rs-services__items {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }
}

@media (any-hover: hover) {
    .rs-services .services-card .services-card__fake {
        -webkit-clip-path: inset(100% 0 0 0 round var(--fluid-10-20));
        clip-path: inset(100% 0 0 0 round var(--fluid-10-20));
        transition: -webkit-clip-path var(--animation-duration) var(--timing-func);
        transition: clip-path var(--animation-duration) var(--timing-func);
        transition: clip-path var(--animation-duration) var(--timing-func), -webkit-clip-path var(--animation-duration) var(--timing-func);
    }

    .rs-services .services-card:hover .services-card__fake {
        -webkit-clip-path: inset(0 0 0 0 round var(--fluid-10-20));
        clip-path: inset(0 0 0 0 round var(--fluid-10-20));
    }
}