.rs-stretch {
    position: relative;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.rs-stretch__wrapper {
    position: relative;
    height: 548px;
    display: grid;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 87px;
}

.rs-stretch .content {
    max-width: 870px;
    height: 100%;
    text-align: center;
}

.rs-stretch .content p {
    margin-top: 16px;
    margin-bottom: 30px;
}

@media (max-width: 1023.98px) {
    .rs-stretch__wrapper {
        padding: 20px;
        height: auto;
    }
}