@charset "UTF-8";

.single-product {
    position: relative;
    margin-bottom: 20px;
}

.single-product__wrapper {
    display: grid;
    grid-template-columns: 59% 1fr;
    gap: 38px;
    min-height: 805px;
}

.single-product__gallery {
    min-width: 0;
}

.single-product__detail {
    display: grid;
    padding: 40px 40px 0px 0px;
}

.single-product .single-product-gallery {
    position: relative;
    height: 100%;
    border-radius: 0px 25px 25px 25px;
    overflow: hidden;
}

.single-product .single-product-gallery__slider {
    height: 100%;
}

.single-product .single-product-gallery__swiper {
    height: 100%;
}

.single-product .single-product-gallery__slide {
    position: relative;
    height: 100%;
}

.single-product .single-product-gallery__slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.single-product .single-product-gallery .single-product-gallery-nav {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    background: #fffaf4;
    border-radius: 25px 25px 0px 0px;
}

.single-product .single-product-gallery .single-product-gallery-nav::before,
.single-product .single-product-gallery .single-product-gallery-nav::after {
    content: "";
    width: 16px;
    height: 16px;
    border-bottom-right-radius: 18px;
    display: block;
    background: transparent;
    position: absolute;
    bottom: 0;
    box-shadow: 3px 3px 0px 3px #fffaf4;
}

.single-product .single-product-gallery .single-product-gallery-nav::before {
    right: 100%;
}

.single-product .single-product-gallery .single-product-gallery-nav::after {
    left: 100%;
    transform: scaleX(-1);
}

.single-product .single-product-gallery .btn-share {
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 30px;
}

.single-product-detail {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.single-product-detail h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: var(--chernyy-shrit);
    margin-top: 10px;
    margin-bottom: 20px;
}

.single-product-detail blockquote {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: var(--rozovyy-akcent);
}

.single-product-detail blockquote::before {
    content: "ⓘ ";
}

.single-product-detail table {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 10px;
    text-align: center;
}

.single-product-detail table th {
    font-weight: 350;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: var(--osnovnoy-shrift);
    padding-top: 10px;
    border-collapse: collapse;
}

.single-product-detail table th:not(:last-child) {
    border-right: 1px solid var(--border);
}

.single-product-detail table td {
    border-collapse: collapse;
    font-weight: 400;
    font-size: 22px;
    color: #424242;
    padding-bottom: 10px;
}

.single-product-detail table td:not(:last-child) {
    border-right: 1px solid var(--border);
}

.single-product-detail__labels {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.single-product-detail__labels li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 42px;
    padding: 0px 20px;
    height: 30px;
    background: var(--rozovyy-akcent);
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--belyy);
}

.single-product-detail__labels li:not(:last-child) {
    margin-right: 10px;
}

.single-product-detail__labels li:nth-child(even) {
    background: var(--zheltyy-fon);
    color: var(--chernyy-shrit);
}

.single-product-detail__consist {
    margin-bottom: 20px;
}

.single-product-detail__consist h4 {
    font-weight: 400;
    font-size: 22px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: #000;
    margin-bottom: 10px;
}

.single-product-detail__consist ul {
    font-weight: 350;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: var(--osnovnoy-shrift);
}

.single-product-detail__consist ul li:not(:last-child) {
    margin-bottom: 5px;
}

.single-product-detail__consist ul li::before {
    content: "o ";
    color: var(--zheltyy);
}

.single-product-detail__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: #a8a8a8;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: auto;
}

.single-product-detail__btn {
    display: grid;
    margin-top: 15px;
}

.single-product-detail .price {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--chernyy-shrit);
}

.single-product-detail .price-amount {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--chernyy-shrit);
}

.single-product-detail .add-to-cart-form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
}

@media (max-width: 1250px) {
    .single-product__wrapper {
        grid-template-columns: 42% 1fr;
    }
}

@media (max-width: 767.98px) {
    .single-product__wrapper {
        grid-template-columns: 1fr;
        min-height: auto;
    }

    .single-product__detail {
        padding: 16px;
    }

    .single-product .single-product-gallery__slide {
        padding-bottom: 70%;
    }
}