@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800);

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "Manrope";
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Manrope";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    background-color: #FFFFFF;
    color: #353E47;
}

body.mobile-menu-opened {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

html {
    font-size: 16px;
}

.wrapper,
.site {
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.wrapper > .main,
.wrapper .site-content,
.site > .main,
.site .site-content {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.wrapper > *,
.site > * {
    min-width: 0;
}

header {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
}

.main,
.site-content {
    padding-top: 98px;
}

[class*=__container] {
    max-width: 1570px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

[class*=-slider__slider] {
    visibility: hidden;
}

[class*=-slider__slider].swiper-initialized {
    visibility: visible;
}

.fancybox__container {
    max-width: none !important;
}

.swiper {
    overflow: hidden;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.swiper-vertical .swiper-wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
    -ms-flex-align: start;
    align-items: flex-start;
}

.swiper-initialized .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
    display: none !important;
}

.swiper-grid > .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0);
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0);
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50px, 0, 0);
        transform: translate3d(-50px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50px, 0, 0);
        transform: translate3d(-50px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes zoomIn {
    from {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoomIn {
    from {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes stroke {
    0% {
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
    }

    100% {
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
    }
}

@keyframes stroke {
    0% {
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
    }

    100% {
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
    }
}

.btn-color {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: #ffffff;
    background: #F42408;
    border-radius: 50px;
    height: 62px;
    padding-left: 32px;
    padding-right: 32px;
    transition: 0.3s cubic-bezier(0.37, 0.01, 0.58, 0.02);
    transition-property: color, background;
}

.btn-color:hover {
    background: #063330;
    color: #ffffff;
}

.btn-color_small {
    height: 44px;
}

.btn-border {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    height: 47px;
    padding-left: 32px;
    padding-right: 32px;
}

.btn-border:hover {
    color: #ffffff;
}

.section-title h3 {
    font-weight: 800;
    font-size: 34px;
    line-height: 137%;
    color: #353e47;
    margin-top: 0;
    margin-bottom: 0;
}

.section-title h3:before {
    content: attr(data-subtitle);
    font-weight: 700;
    font-size: 14px;
    line-height: 137%;
    color: #f42408;
    display: block;
    margin-bottom: 6px;
}

.section-title_light h3 {
    color: #FFFFFF;
}

.section-title_light h3::before {
    color: #FFFFFF;
}

.slider-arrows {
    position: relative;
    display: grid;
    grid-template-columns: 54px 54px;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    pointer-events: none;
}

.slider-arrows .slider-arrow {
    pointer-events: auto;
    width: 54px;
    height: 54px;
    background: #ffffff;
    border-radius: 50%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: 0.15s linear;
    box-shadow: 116px 111px 64px rgba(0, 0, 0, 0.01), 65px 63px 54px rgba(0, 0, 0, 0.05), 29px 28px 40px rgba(0, 0, 0, 0.09), 7px 7px 22px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.slider-arrows .slider-arrow:not(.swiper-button-disabled):hover::before {
    background: #F42408;
}

.slider-arrows .slider-arrow:not(.swiper-button-disabled).is-pressed {
    box-shadow: 13px 15px 12px rgba(0, 0, 0, 0.02), 6px 7px 9px rgba(0, 0, 0, 0.03), 1px 2px 5px rgba(0, 0, 0, 0.03), 0px 0px 0px rgba(0, 0, 0, 0.03);
}

.slider-arrows .slider-arrow:not(.swiper-button-disabled).is-pressed::before {
    background: #F42408;
}

.slider-arrows .slider-arrow.swiper-button-disabled::before {
    background: #8a9fb4;
}

.slider-arrows .slider-arrow:before {
    content: "";
    width: 9px;
    height: 16px;
    display: block;
    background: #1c4a47;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: 0.3s linear;
    transition-property: background;
}

.slider-arrows .slider-arrow_prev::before {
    -webkit-mask-image: url("../../img/icons/chevron-left.svg");
    mask-image: url("../../img/icons/chevron-left.svg");
}

.slider-arrows .slider-arrow_next::before {
    -webkit-mask-image: url("../../img/icons/chevron-right.svg");
    mask-image: url("../../img/icons/chevron-right.svg");
}

.slider-paging.swiper-pagination-progressbar {
    height: 2px;
    width: 100%;
    background: #dddddd;
    position: relative;
}

.slider-paging.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    -webkit-transform-origin: left;
    transform-origin: left;
    display: block;
    height: 3px;
    background: #6150e9;
}

.slider-paging.swiper-pagination-bullets .swiper-pagination-bullet {
    display: inline-block;
    width: 10px;
    height: 3px;
    background: #ffffff;
    border-radius: 3px;
    transition: 0.3s cubic-bezier(0.37, 0.01, 0.58, 0.02);
    transition-property: width, background;
}

.slider-paging.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
    margin-right: 10px;
}

.slider-paging.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 22px;
    background: #f42408;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

#scroll-top {
    background: #ffffff url("../../img/icons/up.svg") center no-repeat;
    width: 46px;
    height: 46px;
    box-shadow: 116px 111px 64px rgba(0, 0, 0, 0.01), 65px 63px 54px rgba(0, 0, 0, 0.05), 29px 28px 40px rgba(0, 0, 0, 0.09), 7px 7px 22px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 49px;
    position: relative;
}

#scroll-top span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #6e8499;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    position: absolute;
    bottom: calc(100% + 17px);
    left: 50%;
    -webkit-transform: rotate(180deg) translateX(50%);
    transform: rotate(180deg) translateX(50%);
}

ul.content-list {
    margin-bottom: 0;
}

ul.content-list li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 16px;
    line-height: 137%;
    letter-spacing: 0.03em;
    color: #6e8499;
}

ul.content-list li:not(:last-child) {
    margin-bottom: 20px;
}

ul.content-list li::before {
    content: url("../../img/icons/list-marker.svg");
    margin-right: 10px;
}

.walkthrough-line {
    position: absolute;
    pointer-events: none;
    z-index: -1;
}

.walkthrough-line_1 {
    top: 0;
    left: -120px;
}

.walkthrough-line_2 {
    bottom: 0px;
    left: -119px;
}

.walkthrough-line_3 {
    height: calc(100% - 648px);
    top: 290px;
    left: -119px;
}

.walkthrough-line_3 span {
    position: absolute;
    top: 0;
    height: 0;
    width: 1px;
    display: block;
    background: #F42408;
}

.walkthrough-line_3 span:nth-child(1) {
    left: 0;
    width: 2px;
    opacity: 0.6;
}

.walkthrough-line_3 span:nth-child(2) {
    left: 47.5px;
    opacity: 0.5;
}

.walkthrough-line_3 span:nth-child(3) {
    left: 94px;
    opacity: 0.2;
}

.walkthrough-line_4 {
    top: calc(100% - 237px);
    right: -155px;
}

.walkthrough-line_5 {
    top: 0;
    left: -120px;
}

.walkthrough-line_6 {
    height: calc(100% - 290px);
    top: 290px;
    left: -119px;
}

.walkthrough-line_6 span {
    position: absolute;
    top: 0;
    height: 0;
    width: 1px;
    display: block;
    background: #F42408;
}

.walkthrough-line_6 span:nth-child(1) {
    left: 0;
    width: 2px;
    opacity: 0.6;
}

.walkthrough-line_6 span:nth-child(2) {
    left: 47.5px;
    opacity: 0.5;
}

.walkthrough-line_6 span:nth-child(3) {
    left: 94px;
    opacity: 0.2;
}

.walkthrough-line_7 {
    top: -127px;
    left: -119px;
}

.walkthrough-line_8 {
    height: calc(100% - 578px);
    bottom: 0;
    right: -30px;
}

.walkthrough-line_8 span {
    position: absolute;
    top: 0;
    height: 0;
    width: 1px;
    display: block;
    background: #F42408;
}

.walkthrough-line_8 span:nth-child(1) {
    left: 0;
    width: 2px;
    opacity: 0.6;
}

.walkthrough-line_8 span:nth-child(2) {
    left: 47.5px;
    opacity: 0.5;
}

.walkthrough-line_9 {
    top: -13px;
    left: -360px;
}

.walkthrough-line_10 {
    bottom: 0;
    left: -370px;
}

.walkthrough-line_11 {
    bottom: -242px;
    left: 394px;
}

@media (min-width: 767.98px) {
    .page-animate [data-animate] {
        visibility: hidden;
    }

    .page-animate [data-animate].in-view {
        visibility: visible;
        -webkit-animation-name: var(--animateName);
        animation-name: var(--animateName);
        -webkit-animation-duration: 0.6s;
        animation-duration: 0.6s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: cubic-bezier(0.37, 0.01, 0.58, 0.02);
        animation-timing-function: cubic-bezier(0.37, 0.01, 0.58, 0.02);
    }

    .page-animate [data-animate-stager] > * {
        visibility: hidden;
    }

    .page-animate [data-animate-stager].in-view > * {
        visibility: visible;
        -webkit-animation-name: var(--animateName);
        animation-name: var(--animateName);
        -webkit-animation-delay: var(--animateDelay);
        animation-delay: var(--animateDelay);
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: cubic-bezier(0.37, 0.01, 0.58, 0.02);
        animation-timing-function: cubic-bezier(0.37, 0.01, 0.58, 0.02);
    }
}

@media (max-width: 1600px) {
    .walkthrough-line {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .main,
  .site-content {
        padding-top: 38px;
    }

    .section-title h3 br {
        display: none;
    }

    #scroll-top {
        display: none;
    }
}

@media (max-width: 767.98px) {
    [class*=__container] {
        max-width: 375px;
    }

    [class*=__container_wide] {
        max-width: none;
    }

    .btn-color {
        height: 48px;
        font-size: 13px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .btn-color_small {
        height: 40px;
    }

    .btn-border {
        font-size: 13px;
    }

    .section-title h3 {
        font-size: 20px;
    }

    .slider-arrows {
        grid-template-columns: 31px 31px;
    }

    .slider-arrows .slider-arrow {
        width: 31px;
        height: 31px;
    }

    .slider-arrows .slider-arrow:before {
        height: 10px;
        width: 6px;
    }

    ul.content-list li:not(:last-child) {
        margin-bottom: 12px;
    }

    ul.content-list li {
        font-size: 13px;
    }
}

@media (any-hover: none) {
    .no-scroll::-webkit-scrollbar {
        width: 0;
    }

    .no-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}