.rs-about {
    background: url("../../img/bg-grid.svg") center bottom no-repeat;
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 88px;
}

.rs-about__wrapper {
    display: grid;
    grid-template-columns: 31% 1fr;
    column-gap: 350px;
}

.rs-about__head {
    margin-bottom: 10px;
}

.rs-about__content {
    padding-top: 40px;
}

.rs-about__content > p {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 0.54px;
}

.rs-about__content > p:not(:last-child) {
    margin-bottom: 10px;
}

@media (max-width: 1790px) {
    .rs-about__wrapper {
        column-gap: 45px;
    }
}

@media (max-width: 767.98px) {
    .rs-about {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .rs-about__wrapper {
        grid-template-columns: 1fr;
    }

    .rs-about__content > p {
        font-size: 13px;
    }
}