.rs-article {
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 45px;
}

.rs-article__wrapper {
    display: grid;
    grid-template-columns: 1fr 49%;
    column-gap: 170px;
}

.rs-article__head {
    margin-bottom: 10px;
}

.rs-article__content {
    padding-top: 40px;
    padding-right: 103px;
}

.rs-article__content h3 {
    font-weight: 300;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 10px;
}

.rs-article__content p,
.rs-article__content ul {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 0.54px;
}

.rs-article__content p:not(:last-child),
.rs-article__content ul:not(:last-child) {
    margin-bottom: 10px;
}

.rs-article__content p strong,
.rs-article__content ul strong {
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #00f1cc;
}

.rs-article__content ul {
    margin-top: 17px;
}

.rs-article__content ul:not(:last-child) {
    margin-bottom: 17px;
}

.rs-article__content ul li {
    list-style: disc inside;
}

.rs-article__accordion {
    margin-top: 75px;
}

.rs-article .accordion__item {
    position: relative;
}

.rs-article .accordion__item::before {
    content: "";
    height: 1.5px;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.3;
}

.rs-article .accordion__title {
    scroll-margin-top: 120px;
    cursor: pointer;
    padding: 42px 0px 42px 145px;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #fff;
}

.rs-article .accordion__title span.num {
    position: absolute;
    left: 0;
    top: 40px;
    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid #fff;
    opacity: 0.5;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

.rs-article .accordion__content {
    padding-bottom: 40px;
    padding-left: 145px;
}

.accordion .accordion-content p,
.accordion .accordion-content ul {
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.03em;
    color: #fff;
}

.accordion .accordion-content p:not(:last-child),
.accordion .accordion-content ul:not(:last-child) {
    margin-bottom: 20px;
}

.accordion .accordion-content p strong,
.accordion .accordion-content ul strong {
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #00f1cc;
}

.accordion .accordion-content ul li {
    list-style: disc inside;
}

.accordion .accordion__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.accordion .accordion__title .expand {
    margin-left: auto;
    width: 30px;
    height: 30px;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    position: relative;
}

.accordion .accordion__title .expand::after,
.accordion .accordion__title .expand::before {
    content: "";
    position: absolute;
    background-color: #00f1cc;
    transition: transform 0.45s linear;
}

.accordion .accordion__title .expand::after {
    top: 50%;
    left: 50%;
    width: 1px;
    height: 100%;
    transform: translate(-50%, -50%);
}

.accordion .accordion__title .expand::before {
    top: 50%;
    left: 50%;
    height: 1px;
    width: 100%;
    transform: translate(-50%, -50%);
}

.accordion .accordion__title.active .expand::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.accordion .accordion__title.active .expand::before {
    transform: translate(-50%, -50%) scale(0);
}

@media (max-width: 1790px) {
    .rs-article__wrapper {
        column-gap: 45px;
    }

    .rs-article__content {
        padding-right: 0;
    }
}

@media (max-width: 767.98px) {
    .rs-article {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-article__wrapper {
        grid-template-columns: 1fr;
    }

    .rs-article__content {
        padding-top: 0px;
    }

    .rs-article__content h3 {
        font-size: 18px;
    }

    .rs-article__content p,
  .rs-article__content ul {
        font-size: 13px;
    }

    .rs-article__content p strong,
  .rs-article__content ul strong {
        font-size: 13px;
    }

    .rs-article__accordion {
        margin-top: 30px;
    }

    .rs-article .accordion__title {
        font-size: 13px;
        padding: 20px 0px 20px 55px;
    }

    .rs-article .accordion__title span.num {
        font-size: 11px;
        top: 20px;
    }

    .rs-article .accordion__content {
        padding-bottom: 20px;
        padding-left: 0;
    }

    .accordion .accordion-content p,
  .accordion .accordion-content ul {
        font-size: 13px;
    }

    .accordion .accordion-content p:not(:last-child),
  .accordion .accordion-content ul:not(:last-child) {
        margin-bottom: 0;
    }

    .accordion .accordion-content p strong,
  .accordion .accordion-content ul strong {
        font-size: 13px;
    }

    .accordion .accordion__title .expand {
        width: 20px;
        height: 20px;
        -ms-flex: 0 0 20px;
        flex: 0 0 20px;
    }
}