.footer-menu__list {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-menu__list li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-menu__list li a {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.footer-menu_grid .footer-menu__list {
    column-count: 2;
    column-gap: 0px;
}

.rs-footer {
    position: relative;
    background: #14222b url("../../img/bg_gradient.png") 0 0 no-repeat;
    padding-top: 58px;
}

.rs-footer__wrapper {
    display: grid;
    grid-template-columns: 47% 1fr 9.5%;
    gap: 55px;
    position: relative;
}

.rs-footer__wrapper::before {
    content: "";
    height: 1.5px;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.3;
}

.rs-footer__info {
    padding-bottom: 6px;
    padding-top: 78px;
}

.rs-footer__info p {
    max-width: 570px;
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%;
    letter-spacing: 1.65px;
    margin-bottom: 44px;
}

.rs-footer__contacts {
    padding-bottom: 65px;
    padding-top: 65px;
}

.rs-footer__menu {
    padding-bottom: 65px;
    padding-top: 65px;
}

.rs-footer__bottom {
    padding: 30px 0px 60px 0px;
    grid-area: auto/1/auto/-1;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 32%;
    row-gap: 5px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rs-footer__bottom::before {
    content: "";
    height: 1.5px;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.3;
}

.rs-footer .footer-title {
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
}

.rs-footer .footer-contacts {
    display: grid;
    grid-template-columns: 1fr 53%;
    gap: 35px 25px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.54px;
}

.rs-footer .footer-contacts ul {
    margin-bottom: 25px;
}

.rs-footer .footer-contacts ul li:not(:last-child) {
    margin-bottom: 5px;
}

.rs-footer .footer-contacts ul li a {
    position: relative;
}

.rs-footer .footer-contacts ul li a::after {
    content: "";
    height: 1px;
    width: 100%;
    background: currentColor;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.rs-footer .footer-contacts ul li a[href^="tel:"] {
    color: #00f1cc;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.78px;
    display: inline-block;
    margin-bottom: 5px;
}

.rs-footer .footer-contacts ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

@media (min-width: 991.98px) {
    .rs-footer .footer-contacts__item:first-child {
        grid-row: span 2;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .rs-footer .footer-contacts__item:first-child .btn-social {
        margin-top: auto;
    }
}

@media (max-width: 1500px) {
    .footer-menu_grid .footer-menu__list {
        column-count: 1;
    }
}

@media (max-width: 1400px) {
    .rs-footer__wrapper {
        grid-template-columns: 33% 1fr 9.5%;
    }
}

@media (max-width: 991.98px) {
    .rs-footer__wrapper {
        grid-template-columns: 1fr;
    }

    .rs-footer__info {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-footer__contacts {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .rs-footer__menu {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media (max-width: 767.98px) {
    .footer-menu__list li a {
        font-size: 13px;
    }

    .rs-footer {
        padding-top: 30px;
    }

    .rs-footer__wrapper {
        gap: 25px;
    }

    .rs-footer__info p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .rs-footer__info .btn-color {
        width: 100%;
    }

    .rs-footer__bottom {
        text-align: center;
        padding: 17px 0px;
    }

    .rs-footer .footer-title {
        font-size: 13px;
        margin-bottom: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .rs-footer .footer-contacts {
        grid-template-columns: 1fr;
    }

    .rs-footer .footer-contacts {
        font-size: 13px;
    }

    .rs-footer .footer-contacts ul li a[href^="tel:"] {
        font-size: 16px;
    }
}

@media (any-hover: hover) {
    .footer-menu__list li a:hover {
        color: #00f1cc;
    }
}