.menu {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 100%;
    font-size: 16px;
}

.menu .menu-wrapper {
    height: 100%;
    position: relative;
}

.menu .menu__list {
    height: 100%;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.menu .menu__list > li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.menu .menu__list > li:not(:last-child) {
    margin-right: 10px;
}

.menu .menu__list > li > a {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 1em;
    line-height: normal;
    font-weight: 400;
    letter-spacing: normal;
    color: #fff;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    text-transform: none;
}

.menu .menu__dropdown {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu .menu__dropdown-list {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    min-width: 295px;
    position: absolute;
    top: 100%;
    left: 0px;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.menu .menu__dropdown-list .menu__dropdown-list {
    top: -20px;
    left: 100%;
}

.menu .menu__dropdown-list li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    color: #fff;
    text-transform: none;
}

.menu {
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.menu .menu__dropdown-list::before {
    content: "";
    height: 10px;
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 100%;
    left: 0;
    display: block;
}

.menu__dropdown-arrow {
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
}

.menu__dropdown-arrow::before {
    content: url("../../img/icons/menu_icon.svg");
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    display: block;
}

.menu .menu__dropdown-list {
    opacity: 0;
    transform: translate(0px, 20px);
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu__dropdown.hover > .menu__dropdown-list {
    visibility: visible;
    opacity: 1;
    transform: translate(0px, 9px);
    pointer-events: auto;
}

.menu-overlay {
    pointer-events: none;
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition-delay: 0.5s;
    transform: scaleY(0);
    transform-origin: bottom;
    opacity: 0;
    transition: transform 0s, opacity 0.5s;
}

.menu-overlay.active {
    transform: scaleY(1);
    transition-delay: 0s;
    opacity: 1;
}

.nav > li > a {
    padding: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.menu-burger {
    -ms-flex: 0 0 34px;
    flex: 0 0 34px;
    display: none;
    position: relative;
    width: 34px;
    height: 34px;
    line-height: 1;
}

.menu-burger span {
    display: block;
    position: absolute;
    top: 11px;
    right: 6px;
    width: 20px;
    height: 2px;
    background: #fff;
    transition: all 0.4s ease;
}

.menu-burger span:nth-child(2) {
    top: 16px;
}

.menu-burger span:nth-child(3) {
    top: 21px;
}

.menu-burger.active span:nth-child(2) {
    opacity: 0;
}

.menu-burger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 15px;
}

.menu-burger.active span:nth-child(3) {
    top: 15px;
    transform: rotate(135deg);
}

.rs-header {
    height: 130px;
}

.rs-header__container {
    height: 100%;
}

.rs-header__wrapper {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-header__logo {
    position: relative;
    z-index: 2;
    -ms-flex-preferred-size: 157px;
    flex-basis: 157px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: auto;
}

.rs-header__logo img {
    width: 100%;
}

.rs-header__btns {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-header__lang {
    margin-right: 40px;
    margin-left: auto;
}

.rs-header__lang ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-header__lang ul li:not(:last-child) {
    margin-right: 20px;
}

.rs-header__lang ul li a {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.54px;
    display: block;
    padding-bottom: 2px;
    position: relative;
}

.rs-header__lang ul li a::after {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform-origin: right;
}

.rs-header__lang ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.rs-header__lang ul li.active a {
    color: #00a98f;
}

.rs-header__lang ul li.active a::after {
    background: #00a98f;
    transform: scaleX(1);
}

.rs-header__mobile-btn {
    position: relative;
}

.rs-header .header-contacts-btns .btn-border {
    width: 100%;
}

@media (min-width: 1023.98px) {
    .menu .menu__dropdown-list li a {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .menu__list li {
        height: 100%;
    }

    .menu__list > li > a {
        border-radius: 3px;
        padding-left: 30px;
        padding-right: 30px;
        height: 100%;
        position: relative;
        transition: color 0.45s, background 0.45s;
    }

    .menu__list > li.active > a,
  .menu__list > li:hover > a {
        color: #1c313d;
        background: rgba(255, 255, 255, 0.7);
    }

    .menu__dropdown.hover .menu__dropdown-arrow::before {
        transform: rotateX(-180deg);
    }

    .menu-overlay {
        display: none;
    }

    .rs-header__mobile-btn {
        display: none;
    }

    .rs-header .header-contacts-btns {
        display: none;
    }
}

@media (max-width: 1790px) {
    .menu .menu__dropdown-list li a {
        white-space: normal;
    }
}

@media (max-width: 1500px) {
    .menu .menu__list > li:not(:last-child) {
        margin-right: 0;
    }

    .rs-header__lang {
        margin-right: 20px;
    }
}

@media (max-width: 1200px) {
    .menu {
        font-size: 13px;
    }
}

@media (max-width: 1023.98px) {
    .menu {
        border-radius: 0px 0px 15px 15px;
        background: #1d1d1d;
        transform: translateY(-100%);
        visibility: hidden;
        pointer-events: none;
        left: 0;
        height: auto;
        max-height: 100vh;
        position: fixed;
        padding-top: 70px;
        top: 0;
        width: 100%;
        transition-duration: 0.5s;
        transition-delay: 0s;
        font-size: 13px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .menu.active {
        visibility: visible;
        pointer-events: auto;
        transform: translateY(0);
    }

    .menu .menu-wrapper {
        height: auto;
        width: 100%;
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
        overflow-y: auto;
    }

    .menu .menu__list {
        display: block;
        height: auto;
    }

    .menu .menu__list > li {
        height: auto;
        margin-right: 0 !important;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0;
    }

    .menu .menu__list > li > a {
        color: #fff;
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal;
    }

    .menu .menu__dropdown {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .menu .menu__dropdown-list {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
        padding: 10px 0px 7px 15px;
        pointer-events: auto;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        height: auto;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu .menu__dropdown-list .menu__dropdown-list {
        padding: 10px 0px 0px 20px;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu .menu__dropdown-list li a {
        white-space: normal;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 13px;
    }

    .menu__dropdown-arrow {
        margin-left: 20px;
    }

    .menu__dropdown .menu__dropdown-arrow._active::before {
        transform: rotateX(-180deg);
    }

    .menu-burger {
        display: block;
        position: relative;
        z-index: 2;
    }

    .rs-header {
        height: 70px;
    }

    .rs-header__logo {
        -ms-flex-preferred-size: 77px;
        flex-basis: 77px;
    }

    .rs-header__btns {
        display: none;
    }
}

@media (min-width: 1023.98px) and (max-width: 1500px) {
    .menu__list > li > a {
        padding-left: 7px;
        padding-right: 7px;
    }
}

@media (any-hover: hover) {
    .menu__dropdown-arrow {
        display: none;
    }

    .menu__dropdown:hover > .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
        transform: translate(0px, 9px);
        pointer-events: auto;
    }
}