@import url(https://fonts.googleapis.com/css?family=Onest:100,200,300,regular,500,600,700,800,900);

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "Onest";
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Onest";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

ul {
    margin-bottom: 0;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background-color: #1C313D;
    color: #FFFFFF;
}

body.mobile-menu-opened,
body.filters-opened {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

html {
    font-size: 16px;
}

.wrapper,
.site {
    overflow: hidden;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.wrapper > .main,
.wrapper .site-content,
.site > .main,
.site .site-content {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.wrapper > *,
.site > * {
    min-width: 0;
}

header {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
}

.main > * {
    background-color: #1C313D;
}

.page-type-inner header {
    background-color: #1C313D;
    height: 130px;
}

.page-type-inner .main,
.page-type-inner .site-content {
    padding-top: 130px;
}

[class*=__container] {
    max-width: 1760px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fancybox__container {
    max-width: none !important;
}

@keyframes stroke {
    0% {
        fill: transparent;
    }

    15% {
        fill: transparent;
        stroke: #ed8c2b;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
    }

    80% {
        fill: transparent;
        stroke: #ed8c2b;
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
    }

    100% {
        fill: #ed8c2b;
        stroke: #ed8c2b;
    }
}

.section-title h2 {
    color: #fff;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.65px;
}

.section-title > span {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid #fff;
    opacity: 0.5;
    margin-bottom: 9px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

.slider-paging.swiper-pagination-progressbar {
    height: 2px;
    width: 100%;
    background: #dddddd;
    position: relative;
}

.slider-paging.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: left;
    display: block;
    height: 3px;
    background: #6150e9;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical {
    display: grid;
    gap: 10px;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet {
    outline: none;
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 6.818px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    opacity: 1;
    transition: background 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active,
.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:hover,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet.swiper-pagination-bullet-active,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet:hover {
    background: #00f1cc;
    box-shadow: 0px 0px 13px 3px #00f1cc;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:focus,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet:focus {
    outline: none;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-clickable .swiper-pagination-bullet,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.slider-paging.swiper-pagination-fraction {
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 153%;
}

.breadcrumbs {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
}

.breadcrumbs__container {
    width: 100%;
}

.breadcrumbs a {
    transition: color 0.3s ease 0s;
    color: inherit;
    white-space: nowrap;
}

.breadcrumbs a:hover {
    color: #00f1cc;
}

.breadcrumbs .sep {
    color: #fff;
    margin: 0px 8px;
}

.breadcrumbs .current {
    color: #00f1cc;
    cursor: default;
    white-space: nowrap;
}

.btn-border {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: background 0.45s, box-shadow 0.45s;
}

.btn-border span {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.45s;
}

.btn-color {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    min-width: 297px;
    height: 79px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 3px;
    background: #00f1cc;
    box-shadow: 0px 29px 58px 0px rgba(0, 193, 164, 0.3);
    outline: none;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: transform 0.45s, box-shadow 0.45s;
}

.btn-color span {
    color: #1c313d;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-color::after {
    content: url("../../img/icons/color-btn-icon.svg");
}

.itc-select {
    position: relative;
    min-width: 280px;
}

.itc-select_bg .itc-select__toggle {
    background: #00a98f;
}

.itc-select__toggle {
    width: 100%;
    height: 100%;
    text-align: left;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.itc-select__toggle::after {
    content: "";
    background: url("../../img/icons/select-icon.svg") center/contain no-repeat;
    width: 29px;
    height: 29px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 10px;
}

.itc-select__toggle:focus {
    outline: none;
}

.itc-select_show .itc-select__toggle::after {
    transform: rotateX(180deg);
}

.itc-select__dropdown {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    left: 0;
    z-index: 2;
    display: none;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(28, 49, 61, 0.5);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    padding: 10px 20px;
}

.itc-select_show .itc-select__dropdown {
    display: block;
}

.itc-select_show .itc-select__backdrop {
    display: block;
}

.itc-select__options {
    margin: 0;
    padding: 0;
    list-style: none;
}

.itc-select__option a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.form .form-group {
    margin-bottom: 25px;
    position: relative;
}

.form .form-submit {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    -ms-flex-align: center;
    align-items: center;
}

.form .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.form input,
.form textarea {
    outline: none;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    height: 79px;
    padding-left: 20px;
    padding-right: 20px;
}

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.form input::placeholder,
.form textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.form input.error,
.form textarea.error {
    border: 1px solid #a05353;
}

.form textarea {
    padding-top: 25px;
    padding-bottom: 12px;
    height: 100%;
    resize: none;
    min-height: 208px;
}

.form .file-upload {
    border-radius: 3px;
    position: relative;
    background: rgba(255, 255, 255, 0.05) url("../../img/icons/upload-icon.png") calc(100% - 40px) center no-repeat;
}

.form .file-upload label:not(.error) {
    width: 100%;
    padding: 25px 100px 25px 40px;
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.form .file-upload label:not(.error) span {
    opacity: 0.5;
}

.form .file-upload input {
    opacity: 0;
    z-index: 2;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.form label.error {
    position: absolute;
    top: 100%;
    left: 0;
    color: #a05353;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tlt {
    visibility: hidden;
}

.tlt.in-view {
    visibility: visible;
}

.tlt [class^=word] {
    overflow: hidden;
}

.tlt.word1 span.word1 {
    color: #00f1cc;
}

.tlt.word2 span.word2 {
    color: #00f1cc;
}

.tlt.word3 span.word3 {
    color: #00f1cc;
}

.tlt.word4 span.word4 {
    color: #00f1cc;
}

.tlt.word5 span.word5 {
    color: #00f1cc;
}

.tlt.word6 span.word6 {
    color: #00f1cc;
}

@keyframes fadeInUpUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.fadeInUpUp {
    animation-name: fadeInUpUp;
}

.arrow-button {
    overflow: hidden;
    width: 29px;
    height: 29px;
    border: 1px solid #fff;
    border-radius: 3px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.arrow-button img {
    position: relative;
    width: 55%;
    height: 55%;
    object-fit: contain;
}

@keyframes framesUpDown {
    0% {
        top: 0;
    }

    75% {
        top: 100%;
    }

    75.1% {
        top: -100%;
    }

    100% {
        top: 0;
    }
}

.page-head {
    position: relative;
    padding-bottom: 60px;
}

.page-head__wrapper {
    display: grid;
    -ms-flex-align: start;
    align-items: start;
    justify-items: start;
    gap: 32px;
}

.page-head__subtitle {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid #fff;
    opacity: 0.5;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

.page-head__title {
    font-weight: 400;
    font-size: 80px;
    line-height: 90%;
    color: #fff;
}

@media (min-width: 767.98px) {
    .page-animate [data-animate] {
        visibility: hidden;
        will-change: transform;
    }

    .page-animate [data-animate].in-view {
        visibility: visible;
        animation-name: var(--animateName);
        animation-duration: var(--animateDuration);
        animation-delay: var(--animateDelay);
        animation-fill-mode: both;
        animation-timing-function: ease-out;
    }

    .page-animate [data-animate-stager] > * {
        visibility: hidden;
        will-change: transform;
    }

    .page-animate [data-animate-stager].in-view > * {
        visibility: visible;
        animation-name: var(--animateName);
        animation-duration: var(--animateDuration);
        animation-delay: var(--animateDelay);
        animation-fill-mode: both;
        animation-timing-function: ease-out;
    }
}

@media (min-width: 991.98px) {
    .page-head__wrapper {
        grid-template-columns: 23% 1fr;
        gap: 77px 192px;
    }

    .page-head__breadcrumbs {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: subgrid;
    }

    .page-head__breadcrumbs .breadcrumbs {
        grid-column: 2/-1;
    }
}

@media (max-width: 1450px) {
    .page-head__title {
        font-size: 48px;
    }
}

@media (max-width: 1023.98px) {
    .page-type-inner header {
        height: 70px;
    }

    .page-type-inner .main,
  .page-type-inner .site-content {
        padding-top: 70px;
    }
}

@media (max-width: 960px) {
    .section-title h2 {
        font-size: 35px;
    }
}

@media (max-width: 767.98px) {
    [class*=__container] {
        max-width: 375px;
    }

    [class*=__container_wide] {
        max-width: none;
    }

    .section-title h2 {
        font-size: 20px;
    }

    .section-title > span {
        font-size: 9px;
        margin-bottom: 5px;
    }

    .slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal,
  .slider-paging.swiper-pagination-bullets.swiper-pagination-vertical {
        gap: 5px;
    }

    .slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet,
  .slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
    }

    .btn-color {
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .btn-color span {
        font-size: 13px;
    }

    .itc-select {
        min-width: auto;
    }

    .itc-select__toggle {
        font-size: 13px;
        padding: 10px;
    }

    .itc-select__toggle::after {
        width: 20px;
        height: 20px;
    }

    .itc-select__dropdown {
        padding: 10px;
    }

    .itc-select__option a {
        font-size: 12px;
    }

    .form .form-submit {
        grid-template-columns: 1fr;
        gap: 15px;
        font-size: 12px;
    }

    .form .form-row {
        grid-template-columns: 1fr;
    }

    .form input,
  .form textarea {
        height: 57px;
        margin-bottom: 10px;
        font-size: 13px;
    }

    .form .file-upload {
        background: rgba(255, 255, 255, 0.05) url("../../img/icons/upload-icon.png") calc(100% - 20px) center no-repeat;
    }

    .form .file-upload label:not(.error) {
        font-size: 13px;
        padding: 10px 80px 10px 20px;
    }

    .page-head {
        padding-bottom: 23px;
    }

    .page-head__subtitle {
        font-size: 13px;
    }

    .page-head__title {
        font-size: 25px;
    }
}

@media (min-width: 991.98px) and (max-width: 1450px) {
    .page-head__wrapper {
        gap: 75px;
    }
}

@media (any-hover: none) {
    .no-scroll::-webkit-scrollbar {
        width: 0;
    }

    .no-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@media (any-hover: hover) {
    .btn-border:hover {
        background: #00f1cc;
        box-shadow: 0px 29px 58px 0px rgba(0, 193, 164, 0.3);
    }

    .btn-border:hover span {
        color: #1c313d;
    }

    .btn-color:hover {
        transform: translatey(10px);
        box-shadow: none;
    }

    .arrow-button:hover img {
        animation: framesUpDown 0.8s;
    }
}