@charset "UTF-8";

.rs-17 .rs-advantages {
    padding-top: 85px;
    padding-bottom: 120px;
    background-color: #44484a;
    color: #FFFFFF;
    font-weight: 500;
}

.rs-17 .rs-advantages__title {
    padding-left: 95px;
    font-size: 30px;
    line-height: 1.2333333333;
    margin-bottom: 47px;
}

.rs-17 .rs-advantages__items {
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: auto;
    display: -ms-flexbox;
    display: flex;
    counter-reset: adv-items;
}

.rs-17 .rs-advantages__item {
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
}

.rs-17 .rs-advantages .adv-item {
    padding-left: 66px;
    position: relative;
}

.rs-17 .rs-advantages .adv-item::before {
    counter-increment: adv-items;
    content: "— 0" counter(adv-items);
    font-size: 18px;
    line-height: 1.2222222222;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}

.rs-17 .rs-advantages .adv-item__title {
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 1.2857142857em;
    line-height: 1.2222222222;
}

.rs-17 .rs-advantages .adv-item__text {
    opacity: 0.85;
    line-height: 1.5;
}

@media (min-width: 1760px) {
    .rs-17 .rs-advantages__items {
        -webkit-column-gap: 72px;
        -moz-column-gap: 72px;
        column-gap: 72px;
    }

    .rs-17 .rs-advantages .adv-item {
        font-size: 14px;
    }
}

@media (max-width: 1790px) {
    .rs-17 .rs-advantages__items {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1200px) {
    .rs-17 .rs-advantages__items {
        -webkit-column-gap: 15px;
        -moz-column-gap: 15px;
        column-gap: 15px;
    }

    .rs-17 .rs-advantages .adv-item {
        font-size: 12px;
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-advantages__item {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        max-width: 370px;
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-advantages__title {
        padding-left: 0;
    }
}

@media (min-width: 1200px) and (max-width: 1760px) {
    .rs-17 .rs-advantages__items {
        -webkit-column-gap: clamp( 15px , -107.1428571429px  +  10.1785714286vw , 72px );
        -moz-column-gap: clamp( 15px , -107.1428571429px  +  10.1785714286vw , 72px );
        column-gap: clamp( 15px , -107.1428571429px  +  10.1785714286vw , 72px );
    }

    .rs-17 .rs-advantages .adv-item {
        font-size: clamp( 12px , 7.7142857143px  +  0.3571428571vw , 14px );
    }
}