.rs-research {
    background: #dfece3;
    padding-top: 160px;
    padding-bottom: 160px;
}

.rs-research__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rs-research__block {
    margin-bottom: 40px;
}

.rs-research__block:nth-child(even) {
    -ms-flex: 0 0 56%;
    flex: 0 0 56%;
    padding-left: 60px;
}

.rs-research__block:nth-child(odd) {
    -ms-flex: 0 0 44%;
    flex: 0 0 44%;
    padding-right: 60px;
}

.rs-research__block h3 {
    color: #263037;
    font-size: 36px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 16px;
}

.rs-research__block h6 {
    color: #263037;
    font-size: 25px;
    font-weight: 500;
    line-height: 140%;
}

.rs-research__block p {
    color: #263037;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 0;
}

.rs-research__block p:not(:last-child) {
    margin-bottom: 20px;
}

.rs-research__block img {
    width: 100%;
}

@media (min-width: 767.98px) {
    .rs-research__block:nth-child(3) {
        border-right: 1px solid #93c3a2;
    }

    .rs-research__block:nth-child(5),
  .rs-research__block:nth-child(6),
  .rs-research__block:nth-child(7),
  .rs-research__block:nth-child(8) {
        border-bottom: 1px solid #93c3a2;
        padding-bottom: 80px;
        margin-bottom: 80px;
    }
}

@media (max-width: 1670px) {
    .rs-research__block:nth-child(even) {
        padding-left: 15px;
    }

    .rs-research__block:nth-child(odd) {
        padding-right: 15px;
    }
}

@media (max-width: 767.98px) {
    .rs-research {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-research__content {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .rs-research__block {
        margin-bottom: 20px;
    }

    .rs-research__block:nth-child(even) {
        padding-left: 0;
    }

    .rs-research__block:nth-child(odd) {
        padding-right: 0;
    }

    .rs-research__block h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .rs-research__block h6 {
        font-size: 18px;
    }

    .rs-research__block p:not(:last-child) {
        margin-bottom: 5px;
    }

    .rs-research__block p {
        font-size: 13px;
    }

    .rs-research__block.empty {
        display: none;
    }

    .rs-research__block:nth-child(1) {
        -ms-flex-order: 1;
        order: 1;
    }

    .rs-research__block:nth-child(2) {
        -ms-flex-order: 2;
        order: 2;
    }

    .rs-research__block:nth-child(3) {
        -ms-flex-order: 5;
        order: 5;
    }

    .rs-research__block:nth-child(4) {
        -ms-flex-order: 3;
        order: 3;
    }

    .rs-research__block:nth-child(5) {
        -ms-flex-order: 10;
        order: 10;
    }

    .rs-research__block:nth-child(6) {
        -ms-flex-order: 4;
        order: 4;
    }

    .rs-research__block:nth-child(7) {
        -ms-flex-order: 7;
        order: 7;
    }

    .rs-research__block:nth-child(8) {
        -ms-flex-order: 6;
        order: 6;
    }

    .rs-research__block:nth-child(9) {
        -ms-flex-order: 9;
        order: 9;
    }

    .rs-research__block:nth-child(10) {
        -ms-flex-order: 8;
        order: 8;
    }
}