.rs-17 .rs-advantage__container {
    display: -ms-flexbox;
    display: flex;
}

.rs-17 .rs-advantage__column:nth-child(1) {
    -ms-flex: 0 1 59%;
    flex: 0 1 59%;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 85px;
    background-color: #011025;
}

.rs-17 .rs-advantage__column:nth-child(2) {
    -ms-flex: 0 1 41%;
    flex: 0 1 41%;
}

.rs-17 .rs-advantage__img {
    z-index: 2;
    height: calc(100% + 55px);
    margin-bottom: -55px;
}

.rs-17 .rs-advantage__head {
    margin-bottom: 48px;
}

.rs-17 .rs-advantage__items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

.rs-17 .rs-advantage__item {
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

.rs-17 .rs-advantage .adv-item__icon {
    margin-bottom: 23px;
}

.rs-17 .rs-advantage .adv-item__icon img {
    transition: all 0.5s ease 0s;
}

.rs-17 .rs-advantage .adv-item__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Noto Sans';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}

.rs-17 .rs-advantage .adv-item__text {
    line-height: 150%;
    color: #7f8ea3;
    margin-top: 0;
    margin-bottom: 0;
}

.rs-17 .rs-advantage .adv-item:hover .adv-item__icon img {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

@media (min-width: 1170px) {
    .rs-17 .rs-advantage__column:nth-child(1) {
        padding-left: calc((100vw - 1140px) / 2);
    }
}

@media (max-width: 1170px) {
    .rs-17 .rs-advantage__items {
        margin-left: calc(-10px + -10 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-advantage__items {
        margin-right: calc(-10px + -10 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-advantage__item {
        padding-left: calc(10px + 10 * ((100vw - 320px) / 850));
    }

    .rs-17 .rs-advantage__item {
        padding-right: calc(10px + 10 * ((100vw - 320px) / 850));
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-advantage__container {
        display: block;
    }

    .rs-17 .rs-advantage__column:nth-child(1) {
        padding-right: 15px;
    }

    .rs-17 .rs-advantage__img {
        margin-bottom: 0;
        height: auto;
    }

    .rs-17 .rs-advantage__img .section-img {
        padding-bottom: 65%;
    }
}