.rs-17 .rs-boat__container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 102px;
}

.rs-17 .rs-boat__head {
    margin-bottom: 39px;
}

.rs-17 .rs-boat .bslider .slick-list {
    overflow: visible;
}

.rs-17 .rs-boat .bslider__slide {
    overflow: hidden;
    margin-right: 20px;
    position: relative;
}

.rs-17 .rs-boat .bslider__slide-img {
    min-height: 530px;
    position: relative;
    padding-bottom: 45%;
}

.rs-17 .rs-boat .bslider__slide-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-17 .rs-boat .bslider__slide-info {
    padding: 40px 24px 33px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(27, 50, 168, 0.7);
}

.rs-17 .rs-boat .bslider__slide-info h4 {
    max-width: 270px;
    font-family: "Noto Sans";
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 30px;
}

.rs-17 .rs-boat .bslider__slide-info table {
    width: 100%;
    line-height: 1.2;
    color: #c4d2e6;
}

.rs-17 .rs-boat .bslider__slide-info table td {
    padding: 8px 0px;
}

.rs-17 .rs-boat .bslider__slide-info table td:nth-child(2) {
    color: #ffffff;
    padding-left: 30px;
}

.bslider__slide .bslider__slide-info {
    transition: all 0.5s ease-out 0s;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.bslider__slide .bslider__slide-info h4,
.bslider__slide .bslider__slide-info table {
    opacity: 0;
    transition: all 0.2s ease-out 0.3s;
}

.bslider__slide.isActive .bslider__slide-info {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.bslider__slide.isActive .bslider__slide-info h4,
.bslider__slide.isActive .bslider__slide-info table {
    opacity: 1;
}

.rs-17 .rs-boat .slick-initialized .slick-prev,
.rs-17 .rs-boat .slick-initialized .slick-next {
    font-size: 0;
    display: block;
    width: 32px;
    height: 12px;
    color: #fff;
    background-color: transparent;
    padding: 0;
    z-index: 2;
    cursor: pointer;
    text-align: center;
    outline: none;
    transition: all 0.3s ease;
    position: absolute;
    bottom: -32px;
}

.rs-17 .rs-boat .slick-initialized .slick-prev {
    left: -44px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.rs-17 .rs-boat .slick-initialized .slick-next {
    right: -44px;
}

.rs-17 .rs-boat .slick-initialized .slick-prev:before {
    content: url("../../img/arrow_light.svg");
}

.rs-17 .rs-boat .slick-initialized .slick-next:before {
    content: url("../../img/arrow_light.svg");
}

.rs-17 .rs-boat .slick-initialized .slick-dots {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -32px;
    counter-reset: bslider;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
}

.rs-17 .rs-boat .slick-initialized .slick-dots li {
    cursor: pointer;
    margin: 0px 10px;
    position: relative;
    counter-increment: bslider;
}

.rs-17 .rs-boat .slick-initialized .slick-dots li:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    width: 0;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.4s ease 0s;
}

.rs-17 .rs-boat .slick-initialized .slick-dots li:after {
    content: "0" counter(bslider);
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
}

.rs-17 .rs-boat .slick-initialized .slick-dots li.slick-active {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.rs-17 .rs-boat .slick-initialized .slick-dots li.slick-active:before {
    width: 100%;
}

.rs-17 .rs-boat .slick-initialized .slick-dots li.slick-active::after {
    font-size: 0;
}

.rs-17 .rs-boat .slick-initialized .slick-dots button {
    display: none;
}