.rs-17 .rs-service {
    position: relative;
    padding-top: 20px;
}

.rs-17 .rs-service__head {
    margin-bottom: 35px;
}

.rs-17 .rs-service__items {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rs-17 .rs-service__item {
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
}

.rs-17 .rs-service .service-item {
    position: relative;
    height: 100%;
    background: #06234b;
    border: 1px solid #1f395d;
    padding-top: 44px;
    padding-right: 20px;
    padding-bottom: 35px;
    padding-left: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-17 .rs-service .service-item::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #0fafeb;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: all 0.5s ease 0s;
}

.rs-17 .rs-service .service-item:hover::before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.rs-17 .rs-service .service-item:hover .service-item__icon img {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.rs-17 .rs-service .service-item__title {
    display: block;
    font-family: 'Noto Sans';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
    transition: all 0.3s ease 0s;
}

.rs-17 .rs-service .service-item__title:hover {
    color: #0fafeb;
}

.rs-17 .rs-service .service-item__text {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 14px;
    line-height: 150%;
    color: #7f8ea3;
    margin-bottom: 30px;
}

.rs-17 .rs-service .service-item__icon {
    margin-bottom: 15px;
}

.rs-17 .rs-service .service-item__icon img {
    transition: all 0.5s ease 0s;
}

.rs-17 .rs-service .service-item__link {
    line-height: 1.2;
    color: #ffffff;
    transition: all 0.3s ease 0s;
}

.rs-17 .rs-service .service-item__link::after {
    content: '\f105';
    font-family: fontAwesome;
    margin-left: 11px;
}

.rs-17 .rs-service .service-item__link:hover {
    color: #0fafeb;
}

@media (max-width: 991.98px) {
    .rs-17 .rs-service__item {
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-service__item {
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
    }
}