@import url(https://fonts.googleapis.com/css?family=Commissioner:100,200,300,regular,500,600,700,800,900);

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "Commissioner";
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Commissioner";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    margin-bottom: 0;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background-color: #FFFFFF;
    color: #000000;
}

body.mobile-menu-opened {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

html {
    font-size: 16px;
}

.wrapper,
.site {
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.wrapper > .main,
.wrapper .site-content,
.site > .main,
.site .site-content {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.wrapper > *,
.site > * {
    min-width: 0;
}

header {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
}

section:not(.sticky-content) {
    overflow: hidden;
}

.main,
.site-content {
    padding-top: 95px;
}

.page-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.page-content .page-aside {
    position: sticky;
    top: 10%;
    -ms-flex: 0 0 319px;
    flex: 0 0 319px;
}

.page-content .page-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 60px;
}

.page-content_rev .page-aside {
    -ms-flex-order: 2;
    order: 2;
}

.page-content_rev .page-body {
    -ms-flex-order: 1;
    order: 1;
    padding-left: 0;
    padding-right: 60px;
}

[class*=__container] {
    max-width: 1760px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fancybox__container {
    max-width: none !important;
}

.swiper {
    overflow: hidden;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.swiper-vertical .swiper-wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
    -ms-flex-align: start;
    align-items: flex-start;
}

.swiper-initialized .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
    display: none !important;
}

.swiper-grid > .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
}

@-webkit-keyframes stroke {
    0% {
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
    }

    100% {
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
    }
}

@keyframes stroke {
    0% {
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
    }

    100% {
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
    }
}

.section-title {
    max-width: 900px;
}

.section-title > span {
    display: block;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.section-title > span::before {
    content: "";
    width: 5px;
    height: 5px;
    background: #39B645;
    margin-right: 13px;
}

.section-title h2 {
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    margin-top: 20px;
}

.section-title h2 > span {
    color: #39B645;
    display: block;
}

.slider-arrows {
    position: relative;
    display: grid;
    grid-template-columns: 42px 42px;
    -webkit-column-gap: 19px;
    -moz-column-gap: 19px;
    column-gap: 19px;
    pointer-events: none;
}

.slider-arrows .slider-arrow {
    pointer-events: auto;
    width: 42px;
    height: 42px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: 0.3s linear;
    transition-property: background;
}

.slider-arrows .slider-arrow:not(.swiper-button-disabled):hover::before {
    background: #39B645;
}

.slider-arrows .slider-arrow.swiper-button-disabled::before {
    background: #d9d9d9;
}

.slider-arrows .slider-arrow:before {
    content: "";
    width: 32px;
    height: 10px;
    display: block;
    background: #d9d9d9;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: 0.3s linear;
    transition-property: background;
}

.slider-arrows .slider-arrow_prev::before {
    -webkit-mask-image: url("../../img/icons/arrow.svg");
    mask-image: url("../../img/icons/arrow.svg");
}

.slider-arrows .slider-arrow_next::before {
    -webkit-mask-image: url("../../img/icons/arrow.svg");
    mask-image: url("../../img/icons/arrow.svg");
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.slider-paging.swiper-pagination-progressbar {
    height: 2px;
    width: 100%;
    background: #dddddd;
    position: relative;
}

.slider-paging.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    -webkit-transform-origin: left;
    transform-origin: left;
    display: block;
    height: 3px;
    background: #6150e9;
}

.slider-paging.swiper-pagination-bullets .swiper-pagination-bullet {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    background: #fff;
    transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.slider-paging.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
    margin-right: 8px;
}

.slider-paging.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #39B645;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.slider-paging.swiper-pagination-fraction {
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 153%;
}

.btn-border {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 48px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0;
    border: 1px solid #505050;
    background: transparent;
}

.btn-border .text {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.39px;
    text-transform: uppercase;
    transition: color 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    z-index: 2;
}

.btn-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: #000;
    transition: -webkit-transform 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.8s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    z-index: 1;
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.btn-border_bp {
    padding-left: 65px;
    padding-right: 65px;
}

@-webkit-keyframes titleIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes titleIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.mgm {
    position: relative;
    overflow: hidden;
    will-change: transform;
    transition: all 1s cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.mgm img {
    position: relative;
    z-index: 3;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    transition: -webkit-transform 1s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.mgm.in-view {
    visibility: visible;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.mgm.in-view img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.mgm_left {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.mgm_left img {
    -webkit-transform-origin: left;
    transform-origin: left;
}

.mgm_right {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.mgm_right img {
    -webkit-transform-origin: right;
    transform-origin: right;
}

.social-links ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.social-links ul li:not(:last-child) {
    margin-right: 16px;
}

.social-links ul li a {
    display: inline-block;
    width: 48px;
    height: 48px;
    border: 1px solid #000;
    background: #fff;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.social-links ul li a svg path {
    transition: fill 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.social-links_bdtr ul li a {
    border-color: transparent;
}

@media (min-width: 767.98px) {
    .page-animate [data-animate] {
        visibility: hidden;
    }

    .page-animate [data-animate].in-view {
        visibility: visible;
        -webkit-animation-name: var(--animateName);
        animation-name: var(--animateName);
        -webkit-animation-duration: var(--animateDuration);
        animation-duration: var(--animateDuration);
        -webkit-animation-delay: var(--animateDelay);
        animation-delay: var(--animateDelay);
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    .page-animate [data-animate-stager] > * {
        visibility: hidden;
    }

    .page-animate [data-animate-stager].in-view > * {
        visibility: visible;
        -webkit-animation-name: var(--animateName);
        animation-name: var(--animateName);
        -webkit-animation-duration: var(--animateDuration);
        animation-duration: var(--animateDuration);
        -webkit-animation-delay: var(--animateDelay);
        animation-delay: var(--animateDelay);
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    .tlt {
        visibility: hidden;
    }

    .tlt.in-view {
        visibility: visible;
        -webkit-animation-name: titleIn;
        animation-name: titleIn;
        -webkit-animation-duration: 0.8s;
        animation-duration: 0.8s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
        animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    }
}

@media (max-width: 991.98px) {
    .main,
  .site-content {
        padding-top: 62px;
    }

    .page-content {
        display: block;
    }

    .page-content .page-aside {
        display: none;
    }

    .page-content .page-body {
        padding-left: 0;
    }

    .page-content_rev .page-body {
        padding-right: 0;
    }

    .btn-border_bp {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767.98px) {
    [class*=__container] {
        max-width: 375px;
    }

    [class*=__container_wide] {
        max-width: none;
    }

    .section-title h2 {
        font-size: 18px;
    }

    .social-links ul li a {
        height: 38px;
        width: 38px;
    }

    .social-links_bdtr ul {
        display: block;
    }

    .social-links_bdtr ul li a {
        width: 30px;
        height: 30px;
    }

    .social-links_bdtr ul li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .social-links_bdtr ul li a svg {
        width: 12px;
        height: 12px;
    }
}

@media (any-hover: none) {
    .no-scroll::-webkit-scrollbar {
        width: 0;
    }

    .no-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@media (any-hover: hover) {
    .btn-border:hover .text {
        color: #fff;
    }

    .btn-border:hover:after {
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .social-links ul li a:hover {
        background: #000;
    }

    .social-links ul li a:hover svg path {
        fill: #fff;
    }

    .social-links ul li a:hover svg path[fill=white] {
        fill: #000;
    }
}