.rs-catalog {
    position: relative;
}

.rs-catalog__wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 117px;
    padding-right: 117px;
}

.rs-catalog__items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.rs-catalog .catalog-item {
    --hc: #c92628;
    height: 240px;
    padding: 40px;
    background: #efefef;
    color: #0c0c0d;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    overflow: hidden;
    position: relative;
}

.rs-catalog .catalog-item > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    font-size: 0;
}

.rs-catalog .catalog-item .wrap {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    z-index: 3;
}

.rs-catalog .catalog-item .wrap svg {
    margin-top: auto;
    transition: transform 0.35s ease;
}

.rs-catalog .catalog-item .wrap svg path {
    transition: stroke 0.35s ease;
}

.rs-catalog .catalog-item > svg {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 70%;
}

.rs-catalog .catalog-item > svg path {
    transition: fill 0.35s ease;
}

.rs-catalog .catalog-item > img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    max-height: 100%;
    max-width: 100%;
}

.rs-catalog .catalog-item::after {
    content: "";
    height: 0px;
    width: 100%;
    display: block;
    background: var(--hc);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height 0.35s ease;
}

@media (max-width: 991.98px) {
    .rs-catalog .catalog-item {
        font-size: 16px;
        padding: 20px;
        height: 281px;
    }
}

@media (max-width: 767.98px) {
    .rs-catalog__wrapper {
        padding: 30px 0px 30px 20px;
    }

    .rs-catalog__items {
        grid-template-columns: 1fr;
        gap: 15px;
        margin-top: 15px;
    }
}

@media (any-hover: hover) {
    .rs-catalog .catalog-item:hover .wrap svg {
        transform: rotate(-45deg);
    }

    .rs-catalog .catalog-item:hover .wrap svg path {
        stroke: var(--hc);
    }

    .rs-catalog .catalog-item:hover svg path {
        fill: var(--hc);
    }

    .rs-catalog .catalog-item:hover::after {
        height: 9px;
    }
}