.metrics {
    position: relative;
    background: url("../img/bg_nums.jpg") center/cover fixed no-repeat;
    padding: 110px 0px;
}

.metrics__head {
    margin-bottom: 44px;
    font-weight: 500;
    font-size: var(--fluid-72-22);
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
}

.metrics__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.metrics__item {
    height: 100%;
    display: grid;
    place-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 0px 35px;
    height: 248px;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    background: rgba(255, 255, 255, 0.03);
    text-align: center;
}

.metrics__item-title {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: var(--fluid-64-22);
    color: var(--primary-color);
}

.metrics__item-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: var(--fluid-21-16);
    color: #fff;
    margin-top: 7px;
}

.rs-metrics {
    padding-top: 68px;
    padding-bottom: 68px;
}

@media (max-width: 1023.98px) {
    .rs-metrics {
        padding-top: 34px;
        padding-bottom: 34px;
    }
}

@media (max-width: 767.98px) {
    .metrics {
        padding: 64px 0px;
    }

    .metrics__items {
        grid-template-columns: 1fr;
    }

    .metrics__item {
        height: auto;
        padding: 24px;
    }
}