.projects {
    position: relative;
    padding-top: 136px;
    padding-bottom: 74px;
}

.projects__head {
    margin-bottom: 52px;
    max-width: 885px;
}

.projects__items {
    display: grid;
    grid-template-columns: 47.1% 26.3% 1fr;
    gap: 56px;
}

.project-card {
    position: relative;
}

.project-card > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    font-size: 0;
}

.project-card__photo {
    position: relative;
    border-radius: var(--block-radius);
    overflow: hidden;
    padding-bottom: 75.26%;
}

.project-card__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-func);
}

.project-card__title {
    font-weight: 600;
    font-size: var(--fluid-21-16);
    margin-top: 1.1428571429em;
    transition: color var(--animation-duration) var(--timing-func);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 5px;
}

.project-card__title::after {
    content: "";
    width: 12px;
    height: 12px;
    -webkit-mask-image: url("../../img/icons/arrow_icon.svg");
    mask-image: url("../../img/icons/arrow_icon.svg");
    background: var(--main-text-color);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: background var(--animation-duration) var(--timing-func);
}

.project-card_small .project-card__photo {
    padding-bottom: 97.29%;
}

.projects-cb {
    background: linear-gradient(42deg, #0090ff 0%, #1346c5 100%);
    border-radius: var(--block-radius);
    overflow: hidden;
    padding: 36px;
    color: #fff;
}

.projects-cb h4 {
    font-weight: 600;
    font-size: var(--fluid-21-16);
    margin-bottom: 16px;
}

.projects-cb p {
    font-size: var(--fluid-18-14);
    line-height: 160%;
}

.projects-cb a {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-transform: lowercase;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
}

.projects-cb a::after {
    content: "";
    width: 12px;
    height: 12px;
    -webkit-mask-image: url("../../img/icons/arrow_icon.svg");
    mask-image: url("../../img/icons/arrow_icon.svg");
    background: #fff;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.projects-cb__footer {
    margin-top: 48px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 5px;
}

.rs-projects {
    background: url("../img/map.svg") center/contain no-repeat;
}

@media (min-width: 1023.98px) {
    .projects__item:nth-child(2) {
        margin-top: 40px;
    }

    .projects__item:nth-child(3) {
        margin-top: -110px;
    }
}

@media (max-width: 1023.98px) {
    .projects__items {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .project-card__photo {
        padding-bottom: 50%;
    }

    .project-card_small .project-card__photo {
        padding-bottom: 50%;
    }
}

@media (max-width: 767.98px) {
    .projects-cb {
        padding: 22px;
    }
}

@media (any-hover: hover) {
    .project-card:hover .project-card__title {
        color: var(--primary-color);
    }

    .project-card:hover .project-card__title::after {
        background: var(--primary-color);
    }

    .project-card:hover .project-card__photo img {
        transform: scale(1.1);
    }
}