.partners {
    border: 1px solid var(--border-color);
    border-radius: var(--block-radius);
    padding: 80px 48px;
    background: url("../img/partners_bg.png") center no-repeat;
}

.partners__head {
    margin-bottom: 40px;
}

.partners .partners-slider {
    position: relative;
}

.partners .partners-slider__slider {
    margin-right: -48px;
}

.partners .partners-slider__slide {
    width: 343px;
}

.partners .partners-slider__nav {
    margin-top: 37px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.partners-card {
    display: block;
    border: 1px solid var(--border-color);
    border-radius: var(--block-radius);
    aspect-ratio: 1.8743;
    overflow: hidden;
}

.partners-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rs-partners {
    padding-top: 68px;
    padding-bottom: 68px;
}

@media (max-width: 1023.98px) {
    .partners {
        padding: 32px;
    }

    .partners .partners-slider__slider {
        margin-right: -32px;
    }

    .rs-partners {
        padding-top: 34px;
        padding-bottom: 34px;
    }
}

@media (max-width: 767.98px) {
    .partners__head {
        margin-bottom: 22px;
    }
}

@media (max-width: 479.98px) {
    .partners {
        padding: 18px;
    }

    .partners .partners-slider__slider {
        margin-right: -18px;
    }

    .partners .partners-slider__slide {
        width: 270px;
    }
}