.team__head {
    margin-bottom: 44px;
}

.team__head p {
    font-weight: 400;
    font-size: var(--fluid-18-14);
    line-height: 160%;
    margin-top: 2.4444444444em;
}

.team .team-slider {
    position: relative;
}

.team .team-slider__slide {
    height: auto;
}

.team .team-slider__nav {
    padding-top: 24px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.team-card {
    position: relative;
}

.team-card__photo {
    aspect-ratio: 1.7028;
    position: relative;
    border-radius: var(--block-radius);
    overflow: hidden;
}

.team-card__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-card__content {
    margin-top: 22px;
}

.team-card__name {
    font-weight: 700;
    font-size: var(--fluid-21-16);
    margin-bottom: 0.380952381em;
}

.team-card__job {
    font-size: var(--fluid-18-14);
    line-height: 160%;
    color: var(--primary-color);
    margin-bottom: 1.2222222222em;
}

.team-card__quote {
    font-size: var(--fluid-18-14);
    line-height: 160%;
}

.rs-team {
    padding-top: 68px;
    padding-bottom: 68px;
}

@media (max-width: 1023.98px) {
    .rs-team {
        padding-top: 34px;
        padding-bottom: 34px;
    }
}