.rs-catalog {
    background: #F8F9FB;
    padding-top: 60px;
    padding-bottom: 60px;
}

.rs-catalog__items {
    display: grid;
    gap: 15px;
    grid-template-columns: 40% 1fr;
}

.rs-catalog__item:nth-child(1) {
    grid-row: span 3;
}

.catalog-item {
    min-height: 197px;
    height: 100%;
    background: #e2e4e9;
    padding: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.catalog-item__img {
    position: relative;
    transition: all 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    will-change: transform;
}

.catalog-item__img img {
    width: 100%;
}

.catalog-item__wrapper {
    margin-left: 24px;
    position: relative;
    z-index: 2;
}

.catalog-item__title {
    font-family: "Rubik";
    display: block;
    font-weight: 600;
    line-height: 1.2;
    color: #212121;
}

.catalog-item__title:not(:last-child) {
    margin-bottom: 40px;
}

.catalog-item__title:hover {
    color: inherit;
}

.catalog-item:hover .catalog-item__img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.catalog-item_service .catalog-item__title {
    color: #FFFFFF;
}

.catalog-item_service .catalog-item__wrapper {
    margin-left: 0;
}

.catalog-item_service .catalog-item__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.catalog-item_service .catalog-item__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.catalog-item_vertical {
    background: #0640A7;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
}

.catalog-item_vertical .catalog-item__title {
    color: #FFFFFF;
}

.catalog-item_vertical .catalog-item__wrapper {
    -ms-flex-order: 1;
    order: 1;
    margin-left: 0;
}

.catalog-item_vertical .catalog-item__img {
    -ms-flex-order: 2;
    order: 2;
    margin-top: auto;
    -ms-flex-item-align: center;
    align-self: center;
}

@media (min-width: 1140px) {
    .catalog-item__title {
        font-size: 28px;
    }
}

@media (max-width: 767.98px) {
    .rs-catalog__items {
        grid-template-columns: 1fr;
    }

    .catalog-item {
        padding: 20px;
    }

    .catalog-item_vertical .catalog-item__img {
        margin-top: 15px;
    }
}

@media (max-width: 320px) {
    .catalog-item__title {
        font-size: 20px;
    }
}

@media (min-width: 320px) and (max-width: 1140px) {
    .catalog-item__title {
        font-size: clamp( 20px , 16.8780487805px  +  0.9756097561vw , 28px );
    }
}