.footer-menu {
    font-size: 14px;
    font-family: "Roboto";
    line-height: 1.4;
}

.footer-menu__list {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-menu__list li:not(:last-child) {
    margin-bottom: 0.3571428571em;
}

.footer-menu__list li a {
    display: inline-block;
    font-size: 1em;
    color: #DEE2E6;
    background: linear-gradient(0deg, currentColor, currentColor) var(--d, 201%) 100%/200% 3px no-repeat;
    transition: 0.5s;
    padding-bottom: 5px;
}

.footer-menu__list li a:hover {
    --d: -101%;
}

.rs-footer {
    background: #0640A7;
}

.rs-footer__container {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: -ms-flexbox;
    display: flex;
    padding-top: 40px;
    padding-bottom: 60px;
}

.rs-footer__contacts {
    max-width: 285px;
    margin-right: 60px;
}

.rs-footer__info {
    margin-left: auto;
    max-width: 445px;
}

.rs-footer._init .footer-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.rs-footer._init .footer-title::after,
.rs-footer._init .footer-title::before {
    content: "";
    position: absolute;
    background-color: #FFFFFF;
    transition: -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
}

.rs-footer._init .footer-title::after {
    right: 18px;
    width: 2px;
    height: 14px;
}

.rs-footer._init .footer-title::before {
    top: 50%;
    right: 12px;
    height: 2px;
    width: 14px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-footer._init .footer-title._active::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rs-footer._init .footer-title._active::before {
    -webkit-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
}

.rs-footer._init .not-spoller.footer-title::after,
.rs-footer._init .not-spoller.footer-title::before {
    display: none;
}

.rs-footer .footer-title {
    font-family: "Rubik";
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 20px;
}

.rs-footer .footer-contacts .footer-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
}

.rs-footer .footer-contacts__link {
    display: inline-block;
    font-size: 14px;
    color: #DEE2E6;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 5px;
    background: linear-gradient(0deg, currentColor, currentColor) var(--d, 201%) 100%/200% 3px no-repeat;
    transition: 0.5s;
    padding-bottom: 5px;
}

.rs-footer .footer-contacts__link:hover {
    --d: -101%;
}

.rs-footer .footer-contacts p {
    font-size: 14px;
    color: #DEE2E6;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0;
}

.rs-footer .footer-contacts p:not(:last-child) {
    margin-bottom: 10px;
}

.rs-footer .footer-contacts__social {
    margin-top: 28px;
}

.rs-footer .footer-info {
    font-size: 14px;
    color: #DEE2E6;
    line-height: 1.5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
}

.rs-footer .footer-info p {
    margin-bottom: 40px;
}

.rs-footer .footer-info__copy {
    margin-bottom: 20px;
}

.rs-footer .footer-info__dev {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #DEE2E6;
}

.rs-footer .footer-info__dev img {
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .rs-footer__container {
        display: block;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .rs-footer__contacts {
        margin-right: 0 !important;
        max-width: none;
    }

    .rs-footer__info {
        max-width: none;
    }

    .rs-footer .footer-wrapper {
        padding-bottom: 40px;
    }

    .rs-footer .footer-info {
        -ms-flex-align: center;
        align-items: center;
        display: block;
        max-width: none;
    }

    .rs-footer .footer-info__copy {
        text-align: center;
    }

    .rs-footer .footer-info__dev {
        -ms-flex-pack: center;
        justify-content: center;
    }
}