.rs-fos {
    padding-top: 83px;
    position: relative;
    background: url("../../img/FOS_bg.png") right bottom no-repeat;
}

.rs-fos__form {
    margin-top: 55px;
    background: #ffda2d;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 180px;
    padding-left: 15px;
    margin-right: 170px;
}

.rs-fos .section-title {
    padding-left: 40px;
}

.rs-fos .fos-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 65px;
    -moz-column-gap: 65px;
    column-gap: 65px;
}

.rs-fos .fos-form__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
}

.rs-fos .fos-form__submit .form-group {
    max-width: 444px;
    margin-right: 15px;
}

@media (min-width: 767.98px) {
    .rs-fos .fos-form__submit {
        grid-column: span 2;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media (min-width: 1600px) {
    .rs-fos__form {
        padding-left: calc((100% - 1570px) / 2);
        margin-right: calc((100% - 1570px) / 2 + 170px);
    }
}

@media (max-width: 1300px) {
    .rs-fos__form {
        padding-right: 15px;
    }

    .rs-fos .fos-form {
        -webkit-column-gap: 15px;
        -moz-column-gap: 15px;
        column-gap: 15px;
    }
}

@media (max-width: 991.98px) {
    .rs-fos__form {
        margin-right: 0;
        margin-top: 20px;
    }

    .rs-fos .fos-form__row {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767.98px) {
    .rs-fos .fos-form {
        max-width: 375px;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }

    .rs-fos .fos-form__submit .btn-border {
        width: 100%;
    }
}