@charset "UTF-8";

.rs-jobs {
    padding-top: 80px;
    padding-bottom: 80px;
}

.rs-jobs h1 {
    font-weight: 400;
    font-size: 42px;
    line-height: 130%;
    color: #101B22;
    margin-top: 0;
    margin-bottom: 20px;
}

.rs-jobs__breadcrumbs {
    margin-bottom: 24px;
}

.rs-jobs__item:not(:last-child) {
    margin-bottom: 24px;
}

.rs-jobs .jobs-item {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}

.rs-jobs .jobs-item__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}

.rs-jobs .jobs-item__title {
    font-weight: 400;
    font-size: 1.4285714286em;
    line-height: 130%;
    color: #101B22;
}

.rs-jobs .jobs-item__salary {
    font-weight: 400;
    font-size: 1.1428571429em;
    line-height: 160%;
    text-align: right;
    color: #535c62;
}

.rs-jobs .jobs-item__conditions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rs-jobs .jobs-item__conditions p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 0.8571428571em;
    line-height: 160%;
    color: #535c62;
}

.rs-jobs .jobs-item__conditions p:not(:last-child) {
    margin-right: 30px;
}

.rs-jobs .jobs-item__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-jobs .jobs-item__content button {
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.rs-jobs .jobs-item__content button span:nth-child(1) {
    display: inline;
}

.rs-jobs .jobs-item__content button span:nth-child(2) {
    display: none;
}

.rs-jobs .jobs-item__content button._active span:nth-child(1) {
    display: none;
}

.rs-jobs .jobs-item__content button._active span:nth-child(2) {
    display: inline;
}

.rs-jobs .jobs-item__description {
    padding-bottom: 10px;
    -ms-flex-order: 1;
    order: 1;
}

.rs-jobs .jobs-item__description h3 {
    font-weight: 700;
    font-size: 1.1428571429em;
    line-height: 160%;
    color: #535c62;
    margin-top: 0;
    margin-bottom: 0.75em;
}

.rs-jobs .jobs-item__description ul {
    font-weight: 400;
    font-size: 1.1428571429em;
    line-height: 160%;
    color: #535c62;
    margin-top: 0;
    margin-bottom: 1.25em;
}

.rs-jobs .jobs-item__description ul li:before {
    content: "•";
    margin-right: 5px;
}

@media (min-width: 1170px) {
    .rs-jobs .jobs-item {
        padding: 38px;
    }

    .rs-jobs .jobs-item {
        font-size: 14px;
    }
}

@media (max-width: 991.98px) {
    .rs-jobs {
        padding-top: 10px;
    }
}

@media (max-width: 767.98px) {
    .rs-jobs .jobs-item__row {
        display: block;
    }

    .rs-jobs .jobs-item__salary {
        -moz-text-align-last: left;
        text-align-last: left;
    }

    .rs-jobs .jobs-item__conditions p {
        margin-bottom: 15px;
        font-size: 1.0714285714em;
    }
}

@media (max-width: 320px) {
    .rs-jobs .jobs-item {
        padding: 10px;
    }

    .rs-jobs .jobs-item {
        font-size: 10px;
    }
}

@media (min-width: 320px) and (max-width: 1170px) {
    .rs-jobs .jobs-item {
        padding: clamp( 10px , -0.5411764706px  +  3.2941176471vw , 38px );
    }

    .rs-jobs .jobs-item {
        font-size: clamp( 10px , 8.4941176471px  +  0.4705882353vw , 14px );
    }
}