.rs-news {
    padding-top: 80px;
    padding-bottom: 80px;
}

.rs-news__items {
    padding-top: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

.rs-news__pagination {
    margin-top: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.rs-news_bg {
    background-color: #F3F3F9;
}