@charset "UTF-8";

.rs-portfolio {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #F3F3F9;
}

.rs-portfolio__body {
    margin-top: 50px;
}

.rs-portfolio__thumb {
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rs-portfolio__thumb-item {
    display: block;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 30px;
}

.rs-portfolio__thumb-item.current {
    display: none;
}

.rs-portfolio__thumb-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-portfolio .ba-slider {
    position: relative;
    overflow: hidden;
}

.rs-portfolio .ba-slider::before,
.rs-portfolio .ba-slider:after {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 32px;
    width: 104px;
    height: 47px;
    background-color: #ffffff;
    z-index: 5;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #101B22;
}

.rs-portfolio .ba-slider:before {
    content: "до";
    left: 32px;
}

.rs-portfolio .ba-slider::after {
    content: "после";
    right: 32px;
}

.rs-portfolio .ba-slider img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-portfolio .ba-slider .resize {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.rs-portfolio .ba-slider .handle {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -2px;
    background: #ffffff;
    cursor: pointer;
}

.rs-portfolio .ba-slider .handle:after {
    position: absolute;
    top: 50%;
    width: 112px;
    height: 56px;
    margin: -28px 0 0 -56px;
    content: url(../../img/icons/ba-slider-arrow.svg);
    transition: all 0.3s ease;
}

.rs-portfolio .ba-slider .draggable:after {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

@media (min-width: 1170px) {
    .rs-portfolio__slider {
        margin-bottom: 30px;
    }

    .rs-portfolio__thumb {
        margin-left: -15px;
    }

    .rs-portfolio__thumb {
        margin-right: -15px;
    }

    .rs-portfolio__thumb-item {
        width: 165px;
    }

    .rs-portfolio__thumb-item {
        height: 120px;
    }

    .rs-portfolio__thumb-item {
        -ms-flex-preferred-size: 165px;
        flex-basis: 165px;
    }

    .rs-portfolio__thumb-item {
        margin-left: 15px;
    }

    .rs-portfolio__thumb-item {
        margin-right: 15px;
    }

    .rs-portfolio .ba-slider {
        height: 550pxpx;
    }
}

@media (max-width: 991.98px) {
    .rs-portfolio__thumb {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

@media (max-width: 767.98px) {
    .rs-portfolio .ba-slider::before,
  .rs-portfolio .ba-slider:after {
        display: none;
    }
}

@media (max-width: 320px) {
    .rs-portfolio__slider {
        margin-bottom: 10px;
    }

    .rs-portfolio__thumb {
        margin-left: -5px;
    }

    .rs-portfolio__thumb {
        margin-right: -5px;
    }

    .rs-portfolio__thumb-item {
        width: 91px;
    }

    .rs-portfolio__thumb-item {
        height: 66px;
    }

    .rs-portfolio__thumb-item {
        -ms-flex-preferred-size: 91px;
        flex-basis: 91px;
    }

    .rs-portfolio__thumb-item {
        margin-left: 5px;
    }

    .rs-portfolio__thumb-item {
        margin-right: 5px;
    }

    .rs-portfolio .ba-slider {
        height: 340pxpx;
    }
}

@media (min-width: 320px) and (max-width: 1170px) {
    .rs-portfolio__slider {
        margin-bottom: clamp( 10px , 2.4705882353px  +  2.3529411765vw , 30px );
    }

    .rs-portfolio__thumb {
        margin-left: clamp( -5px , -1.2352941176px  +  -1.1764705882vw , -15px );
    }

    .rs-portfolio__thumb {
        margin-right: clamp( -5px , -1.2352941176px  +  -1.1764705882vw , -15px );
    }

    .rs-portfolio__thumb-item {
        width: clamp( 91px , 63.1411764706px  +  8.7058823529vw , 165px );
    }

    .rs-portfolio__thumb-item {
        height: clamp( 66px , 45.6705882353px  +  6.3529411765vw , 120px );
    }

    .rs-portfolio__thumb-item {
        -ms-flex-preferred-size: clamp( 91px , 63.1411764706px  +  8.7058823529vw , 165px );
        flex-basis: clamp( 91px , 63.1411764706px  +  8.7058823529vw , 165px );
    }

    .rs-portfolio__thumb-item {
        margin-left: clamp( 5px , 1.2352941176px  +  1.1764705882vw , 15px );
    }

    .rs-portfolio__thumb-item {
        margin-right: clamp( 5px , 1.2352941176px  +  1.1764705882vw , 15px );
    }

    .rs-portfolio .ba-slider {
        height: clamp( 340pxpx , 260.9411764706pxpx  +  24.7058823529pxvw , 550pxpx );
    }
}