.rs-quote {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F3F3F9;
    text-align: center;
}

.rs-quote__btn {
    margin-top: 40px;
}

@media (max-width: 767.98px) {
    .rs-quote__btn {
        text-align: left;
    }
}