@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,600,700&display=swap);

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "Inter";
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Inter";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    background-color: #ffffff;
    color: #181618;
}

body._lock {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

html {
    font-size: 16px;
}

.wrapper,
.site {
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.wrapper > main,
.wrapper .site-content,
.site > main,
.site .site-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.wrapper > *,
.site > * {
    min-width: 0;
}

header {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
}

[class*=__container] {
    max-width: 1140px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 15px;
}

.swiper {
    overflow: hidden;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.swiper-vertical .swiper-wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
    -ms-flex-align: start;
    align-items: flex-start;
}

.swiper-initialized .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
    display: none !important;
}

.swiper-grid > .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
}

.btn-color {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    height: 57px;
    color: #ffffff;
    background-color: #347CCA;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;
    overflow: hidden;
    transition-duration: 0.4s;
    white-space: nowrap;
}

.btn-color span:not(.tilt) {
    position: relative;
    z-index: 2;
}

.btn-color svg {
    position: relative;
    z-index: 2;
    margin-left: 12px;
}

.btn-color svg path {
    fill: #ffffff;
}

.btn-color:hover {
    color: #101B22;
    background-color: #ffffff;
}

.btn-color:hover svg path {
    fill: #101B22;
}

.btn-color_dark {
    background-color: #073462;
    font-size: 11px;
    padding-left: 19px;
    padding-right: 29px;
}

.btn-border {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    height: 57px;
    border: 1px solid #347CCA;
    color: #347CCA;
    background-color: transparent;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 18px;
    text-transform: uppercase;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;
    overflow: hidden;
    transition-duration: 0.4s;
    white-space: nowrap;
}

.btn-border span:not(.tilt) {
    position: relative;
    z-index: 2;
}

.btn-border svg {
    position: relative;
    z-index: 2;
    margin-left: 12px;
}

.btn-border svg path {
    fill: #347CCA;
}

.btn-border:hover {
    color: #ffffff;
    background-color: #347CCA;
}

.btn-border:hover svg path {
    fill: #ffffff;
}

.btn-border_thin {
    height: 37px;
    font-size: 10px;
}

.btn-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #073462;
    position: relative;
}

.btn-link:before,
.btn-link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #073462;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.btn-link:before {
    height: 100%;
    top: 0;
    opacity: 0;
    content: "";
}

.btn-link::after {
    content: "";
    transition: opacity 0.3s;
}

.btn-link:hover {
    text-decoration: none;
}

.btn-link:focus {
    text-decoration: none;
}

.btn-link_small {
    font-size: 11px;
}

@-webkit-keyframes coverUp {
    0% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale3d(1, 0.045, 1);
        transform: scale3d(1, 0.045, 1);
    }

    50% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    51% {
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    100% {
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scale3d(1, 0.045, 1);
        transform: scale3d(1, 0.045, 1);
    }
}

@keyframes coverUp {
    0% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale3d(1, 0.045, 1);
        transform: scale3d(1, 0.045, 1);
    }

    50% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    51% {
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    100% {
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scale3d(1, 0.045, 1);
        transform: scale3d(1, 0.045, 1);
    }
}

.section-title {
    color: #101B22;
    font-weight: 400;
    line-height: 1.3;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

.section-title span:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 12px;
}

.section-title span:nth-child(1):before {
    content: "";
    width: 27px;
    height: 1px;
    background-color: #101B22;
    margin-right: 12px;
}

.section-title span:nth-child(2) {
    font-size: 3em;
}

.section-title_center {
    text-align: center;
}

.section-title_center span:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 12px;
}

.section-title_center span:nth-child(1):after {
    content: "";
    width: 27px;
    height: 1px;
    background-color: #101B22;
    margin-left: 12px;
}

.section-title_small span:nth-child(2) {
    font-size: 2.2857142857em;
}

.section-title_light {
    color: #ffffff;
}

.section-title_light span:nth-child(2) {
    font-size: 2.2857142857em;
}

.section-title_light span:nth-child(1):before {
    background-color: #ffffff;
}

.news-card {
    background-color: #ffffff;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    transition-duration: 0.3s;
}

.news-card__photo {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.news-card__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.news-card__wrapper {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.news-card__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #535C62;
    margin-top: 0;
    margin-bottom: auto;
}

.news-card h4 {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.3;
    color: #101B22;
    letter-spacing: 0.8px;
    transition-duration: 0.3s;
    border-bottom: 1px solid #101B22;
    padding-bottom: 16px;
    padding-right: 26px;
    margin-top: 8px;
    margin-bottom: 0;
    position: relative;
}

.news-card h4::after {
    content: url(../../img/icons/link_button_icon.svg);
    display: block;
    position: absolute;
    right: 0;
    bottom: 16px;
    width: 10px;
    height: 10px;
    -webkit-mask-image: url(../../img/icons/link_button_icon.svg);
    mask-image: url(../../img/icons/link_button_icon.svg);
    background: #101B22;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    z-index: 2;
    transition-duration: 0.3s;
}

.news-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #535C62;
    margin-top: 16px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news-card a {
    font-size: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.news-card:hover h4 {
    color: #347CCA;
    border-color: #347CCA;
}

.news-card:hover h4::after {
    background: #347CCA;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.breadcrumbs {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: #ffffff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    overflow-x: auto;
}

.breadcrumbs__container {
    width: 100%;
}

.breadcrumbs a {
    transition: color 0.3s ease 0s;
    color: inherit;
    white-space: nowrap;
    border-bottom: 1px solid transparent;
}

.breadcrumbs a:hover {
    border-color: #c5c5c5;
}

.breadcrumbs .sep {
    margin: 0px 10px;
}

.breadcrumbs .current {
    white-space: nowrap;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.breadcrumbs_dark {
    color: #c5c5c5;
    font-size: 14px;
}

.breadcrumbs_dark .current {
    color: #000000;
    border-bottom: 1px solid #000000;
}

.breadcrumbs_color .current {
    color: #347CCA;
    border: 0;
}

.aside-menu__list {
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #ebebeb;
}

.aside-menu__list li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #101B22;
    padding-left: 16px;
    padding-right: 16px;
    border-left: 2px solid transparent;
}

.aside-menu__list > li {
    padding-top: 20px;
    padding-bottom: 20px;
}

.aside-menu__list > li:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
}

.aside-menu__list > li.active > a {
    border-color: #3893d4;
}

.aside-menu__list > li.active .aside-menu__dropdown-list {
    display: block;
}

.aside-menu__dropdown-list {
    padding-top: 20px;
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
}

.aside-menu__dropdown-list li:not(:last-child) {
    margin-bottom: 16px;
}

.page-pagination {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
}

.page-pagination span,
.page-pagination a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    color: #535c62;
}

.page-pagination span:not(:last-child),
.page-pagination a:not(:last-child) {
    border-right: 1px solid #E0E0E0;
}

.page-pagination .prev,
.page-pagination .next {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-pagination .next::after {
    content: url(../../img/icons/last_page_icon.svg);
    display: block;
    width: 16px;
    height: 16px;
}

.page-pagination .prev::before {
    content: url(../../img/icons/last_page_icon.svg);
    display: block;
    width: 16px;
    height: 16px;
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.page-pagination .current {
    background-color: #101B22;
    color: #ffffff;
}

.sidenote {
    text-align: center;
    padding: 44px 22px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}

.sidenote h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #535c62;
    margin-top: 13px;
    margin-bottom: 5px;
}

.sidenote p {
    font-weight: 400;
    font-size: 12px;
    line-height: 118.5%;
    color: #535c62;
    margin-top: 0;
    margin-bottom: 20px;
}

.page-type-inner header {
    background-color: #ffffff;
}

.page-type-inner main {
    padding-top: 143px;
}

.no-scroll::-webkit-scrollbar {
    width: 0;
}

.no-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.page-title {
    font-weight: 500;
    font-size: 44px;
    line-height: 1.2;
    color: #101B22;
    margin-top: 0;
    margin-bottom: 16px;
}

.page-subtitle {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: #535C62;
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 1110px;
}

.page-content {
    display: -ms-flexbox;
    display: flex;
}

.page-content .page-aside {
    -ms-flex: 0 0 264px;
    flex: 0 0 264px;
}

.page-content .page-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 30px;
}

.page-content_rev .page-aside {
    -ms-flex-order: 2;
    order: 2;
}

.page-content_rev .page-body {
    -ms-flex-order: 1;
    order: 1;
    padding-left: 0;
    padding-right: 30px;
}

.btn-hover {
    position: relative;
    overflow: hidden;
}

.btn-hover:hover span.tilt {
    width: 225%;
    height: 562.5px;
}

.btn-hover span.tilt {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #347CCA;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-hover_color span.tilt {
    background-color: #ffffff;
}

@media (min-width: 1170px) {
    .section-title {
        font-size: 14px;
    }

    .page-title {
        font-size: 44px;
    }
}

@media (max-width: 991.98px) {
    .section-title br {
        display: none;
    }

    .page-type-inner main {
        padding-top: 92px;
    }

    .page-content {
        display: block;
    }

    .page-content .page-aside {
        display: none;
    }

    .page-content .page-body {
        padding-left: 0;
    }

    .page-content_rev .page-body {
        padding-right: 0;
    }
}

@media (max-width: 767.98px) {
    .section-title_center {
        text-align: left;
    }

    .section-title_center span:nth-child(1) {
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media (max-width: 320px) {
    .section-title {
        font-size: 12px;
    }

    .page-title {
        font-size: 36px;
    }
}

@media (min-width: 320px) and (max-width: 1170px) {
    .section-title {
        font-size: clamp( 12px , 11.2470588235px  +  0.2352941176vw , 14px );
    }

    .page-title {
        font-size: clamp( 36px , 32.9882352941px  +  0.9411764706vw , 44px );
    }
}

@media (any-hover: hover) {
    .btn-link:hover {
        color: #073462;
    }

    .btn-link:hover::before {
        opacity: 1;
        -webkit-animation: coverUp 0.3s ease forwards;
        animation: coverUp 0.3s ease forwards;
    }

    .btn-link:hover::after {
        opacity: 0;
    }
}