.rs-17 .rs-services {
    padding: 74px 0px 44px;
}

.rs-17 .rs-services__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px -19px;
}

.rs-17 .rs-services__item {
    position: relative;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    margin-bottom: 30px;
    padding-right: 19px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 80px;
}

.rs-17 .rs-services__number {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-weight: 900;
    color: #f1f0f6;
    z-index: 2;
    margin-left: 15px;
    pointer-events: none;
    font-size: 150px;
}

.rs-17 .rs-services__body {
    position: relative;
    background-color: #f7f8f9;
    padding-right: 10px;
    height: 100%;
    padding-left: 130px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.rs-17 .rs-services__body::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.rs-17 .rs-services__body h3 {
    font-size: 21px;
    line-height: 114.28571%;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #000000;
    margin: 0px 0px 5px 0px;
}

.rs-17 .rs-services__body p {
    font-size: 14px;
    line-height: 178.57143%;
    font-weight: 400;
    color: #555555;
}

.rs-17 .rs-services__item .rs-services__body::after {
    -webkit-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
    background-color: #1c1c1c;
}

.rs-17 .rs-services__item:nth-child(1) .rs-services__body::after {
    -webkit-transform: translate(-30px, 30px);
    transform: translate(-30px, 30px);
    background-color: #ffdd00;
}

.rs-17 .rs-services__item:nth-child(2) .rs-services__body::after {
    -webkit-transform: translate(-30px, -30px);
    transform: translate(-30px, -30px);
    background-color: #2a3cb7;
}

.rs-17 .rs-services__item:nth-child(3) .rs-services__body::after {
    -webkit-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
    background-color: #1c1c1c;
}

.rs-17 .rs-services__item:hover .rs-services__body::after,
.rs-17 .rs-services__item:nth-child(1):hover .rs-services__body::after,
.rs-17 .rs-services__item:nth-child(2):hover .rs-services__body::after,
.rs-17 .rs-services__item:nth-child(3):hover .rs-services__body::after {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

@media (max-width: 1630px) {
    .rs-17 .rs-services__item {
        padding-left: calc(20px + 60 * ((100vw - 320px) / 1310));
    }

    .rs-17 .rs-services__number {
        font-size: calc(30px + 120 * ((100vw - 320px) / 1310));
    }

    .rs-17 .rs-services__body {
        padding-left: calc(50px + 80 * ((100vw - 320px) / 1310));
    }

    .rs-17 .rs-services__body {
        padding-top: calc(15px + 30 * ((100vw - 320px) / 1310));
    }

    .rs-17 .rs-services__body {
        padding-bottom: calc(15px + 30 * ((100vw - 320px) / 1310));
    }

    .rs-17 .rs-services__body h3 {
        font-size: calc(14px + 7 * ((100vw - 320px) / 1310));
    }

    .rs-17 .rs-services__body p {
        font-size: calc(10px + 4 * ((100vw - 320px) / 1310));
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-services__item .rs-services__body::after {
        -webkit-transform: translate(15px, 15px);
        transform: translate(15px, 15px);
    }

    .rs-17 .rs-services__item:nth-child(1) .rs-services__body::after {
        -webkit-transform: translate(-15px, 15px);
        transform: translate(-15px, 15px);
    }

    .rs-17 .rs-services__item:nth-child(2) .rs-services__body::after {
        -webkit-transform: translate(-15px, -15px);
        transform: translate(-15px, -15px);
    }

    .rs-17 .rs-services__item:nth-child(3) .rs-services__body::after {
        -webkit-transform: translate(15px, 15px);
        transform: translate(15px, 15px);
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-services__container {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .rs-17 .rs-services__item:nth-child(1) .rs-services__body::after {
        -webkit-transform: translate(15px, 15px);
        transform: translate(15px, 15px);
    }

    .rs-17 .rs-services__item:nth-child(2) .rs-services__body::after {
        -webkit-transform: translate(15px, 15px);
        transform: translate(15px, 15px);
    }
}