.rs-footnote {
    background: #021c33;
    padding-top: 72px;
    padding-bottom: 80px;
    text-align: center;
}

.rs-footnote__content {
    margin-top: -152px;
}

.rs-footnote__content p {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #ffffff;
    margin-top: 12px;
    margin-bottom: 60px;
    max-width: 631px;
    margin-left: auto;
    margin-right: auto;
}

.rs-footnote__logo {
    display: inline-block;
    opacity: 0.5;
}

.rs-footnote__logo img {
    width: 100%;
}

@media (max-width: 767.98px) {
    .rs-footnote {
        padding-top: 23px;
        padding-bottom: 38px;
    }

    .rs-footnote__content {
        margin-top: 18px;
    }

    .rs-footnote__content p {
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 21px;
    }

    .rs-footnote__logo {
        width: 55.34px;
        height: 79px;
    }
}