.rs-schedule {
    padding-top: 180px;
    padding-bottom: 200px;
    padding-left: 15px;
}

.rs-schedule__inner {
    display: grid;
    grid-template-columns: 1fr 41%;
    -webkit-column-gap: 196px;
    -moz-column-gap: 196px;
    column-gap: 196px;
}

.rs-schedule__content h3 {
    font-family: "Cormorant";
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 110%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000e1c;
    margin-top: 67px;
    margin-bottom: 8px;
}

.rs-schedule__img {
    position: relative;
    overflow: hidden;
}

.rs-schedule__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-schedule .schedule-tabs__nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 56px;
}

.rs-schedule .schedule-tabs__nav ul li:not(:last-child) {
    margin-right: 24px;
}

.rs-schedule .schedule-tabs__nav ul li.active a {
    color: #000e1c;
}

.rs-schedule .schedule-tabs__nav ul li.active a::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.rs-schedule .schedule-tabs__nav ul li a {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(0, 14, 28, 0.5);
    transition: color 0.3s ease-out;
    position: relative;
}

.rs-schedule .schedule-tabs__nav ul li a::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #d3b298;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform-origin: left;
    transform-origin: left;
    position: absolute;
    bottom: 0;
}

.rs-schedule .schedule-tabs__nav ul li a:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.rs-schedule .schedule-tab h4 {
    font-family: "Cormorant";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #122223;
    margin-top: 0;
    margin-bottom: 8px;
}

.rs-schedule .schedule-tab p {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #122223;
    margin-bottom: 0;
}

.rs-schedule .schedule-tab table {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #021c33;
    margin-bottom: 10px;
    width: 100%;
}

.rs-schedule .schedule-tab table tr {
    border-bottom: 1px solid #d9d9d9;
}

.rs-schedule .schedule-tab table td {
    padding-top: 19px;
    padding-bottom: 19px;
}

.rs-schedule .schedule-tab table td:last-child {
    text-align: right;
}

@media (min-width: 1375px) {
    .rs-schedule {
        padding-left: calc((100% - 1345px) / 2);
    }
}

@media (max-width: 1375px) {
    .rs-schedule__inner {
        -webkit-column-gap: 55px;
        -moz-column-gap: 55px;
        column-gap: 55px;
    }
}

@media (max-width: 767.98px) {
    .rs-schedule {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 15px;
    }

    .rs-schedule__inner {
        display: block;
    }

    .rs-schedule__content h3 {
        font-size: 20px;
        margin-top: 0;
    }

    .rs-schedule .schedule-tabs__nav ul {
        margin-bottom: 30px;
    }

    .rs-schedule .schedule-tabs__nav ul li a {
        font-size: 13px;
    }

    .rs-schedule .schedule-tab h4 {
        font-size: 16px;
    }

    .rs-schedule .schedule-tab p {
        font-size: 13px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-schedule {
        margin-right: calc((100vw - 375px) / 2);
        margin-left: calc((100vw - 375px) / 2);
    }
}