.rs-benefit {
    position: relative;
    background: #f3f1f1;
}

.rs-benefit__head {
    padding-top: 120px;
    padding-bottom: 48px;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 15px;
    padding-right: 15px;
}

.rs-benefit__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.rs-benefit__item {
    border-right: 1px solid #d6d6d6;
}

.rs-benefit__item:first-child {
    border-left: 1px solid #d6d6d6;
}

.rs-benefit_wide {
    background: transparent;
}

.rs-benefit_wide .rs-benefit__items {
    grid-template-columns: repeat(6, 1fr);
}

.rs-benefit_wide .rs-benefit__container {
    display: contents;
}

.rs-benefit_wide .rs-benefit__items {
    padding-right: 0 !important;
}

.rs-benefit .benefit-item {
    color: #1c1c1c;
    position: relative;
    height: 100%;
    padding: 64px 32px;
    transition: color var(--animation-duration) var(--timing-func), background var(--animation-duration) var(--timing-func);
}

.rs-benefit .benefit-item > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    font-size: 0;
}

.rs-benefit .benefit-item .icon {
    width: 56px;
    height: 56px;
}

.rs-benefit .benefit-item .icon img {
    max-width: 100%;
}

.rs-benefit .benefit-item h5 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.rs-benefit .benefit-item p {
    color: #827e7d;
}

@media (min-width: 1310px) {
    .rs-benefit__head {
        padding-left: calc((100% - 1280px) / 2);
        padding-right: calc((100% - 1280px) / 2);
    }

    .rs-benefit_wide .rs-benefit__items {
        max-width: 1920px;
        margin: 0 auto;
    }
}

@media (max-width: 1450px) {
    .rs-benefit_wide .rs-benefit__items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 991.98px) {
    .rs-benefit .benefit-item {
        padding: 32px 15px;
    }
}

@media (max-width: 767.98px) {
    .rs-benefit__head {
        padding-top: 60px;
        padding-bottom: 24px;
    }

    .rs-benefit__items {
        grid-template-columns: 274px;
        grid-auto-flow: column;
        grid-auto-columns: 274px;
        overflow-x: auto;
        overflow-y: hidden;
        margin-right: -15px;
        padding-right: 15px;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    }

    .rs-benefit__item {
        scroll-snap-align: start;
    }

    .rs-benefit_wide .rs-benefit__items {
        grid-template-columns: 274px;
        grid-auto-flow: column;
        grid-auto-columns: 274px;
        overflow-x: auto;
        overflow-y: hidden;
        margin-right: -15px;
        padding-right: 15px;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    }

    .rs-benefit_wide .rs-benefit__items {
        margin-right: 0 !important;
    }

    .rs-benefit .benefit-item .icon {
        width: 40px;
        height: 40px;
    }

    .rs-benefit .benefit-item h5 {
        margin-top: 8px;
        margin-bottom: 4px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-benefit__head {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }

    .rs-benefit__items {
        margin-right: calc((100vw - 375px) / -2);
    }

    .rs-benefit_wide .rs-benefit__items {
        margin-right: calc((100vw - 375px) / -2);
    }
}

@media (any-hover: hover) {
    .rs-benefit .benefit-item:hover {
        background: #242323;
        color: #fff;
    }
}