.rs-contacts {
    position: relative;
}

.rs-contacts__head {
    padding-top: 120px;
    padding-bottom: 70px;
    padding-left: 15px;
    padding-right: 15px;
}

.rs-contacts__map {
    filter: grayscale(1);
}

.rs-contacts__map iframe {
    width: 100%;
    height: 100%;
}

.rs-contacts__entry {
    color: #fff;
    padding-left: 80px;
    padding-top: 80px;
    padding-bottom: 105px;
}

.rs-contacts__entry h3 {
    margin-bottom: 16px;
}

.rs-contacts__entry p {
    font-size: 19px;
}

.rs-contacts__entry ul {
    margin-top: 30px;
    max-width: 550px;
}

.rs-contacts__entry ul li {
    padding: 32px 0px;
}

.rs-contacts__entry ul li:not(:last-child) {
    border-bottom: 1px solid #373737;
}

.rs-contacts__entry ul li p,
.rs-contacts__entry ul li a {
    font-size: 19px;
    color: #a9a6a5;
    margin-top: 20px;
    display: inline-block;
}

.rs-contacts__entry ul li a {
    transition: color var(--animation-duration) var(--timing-func);
}

.rs-contacts .contacts-row {
    background: #242323;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rs-contacts .contacts-row_rev .rs-contacts__map {
    -ms-flex-order: 2;
    order: 2;
}

.rs-contacts .contacts-row_rev .rs-contacts__entry {
    padding-right: 80px;
}

@media (min-width: 767.98px) {
    .rs-contacts__head {
        text-align: center;
    }
}

@media (min-width: 1310px) {
    .rs-contacts__head {
        padding-left: calc((100% - 1280px) / 2);
        padding-right: calc((100% - 1280px) / 2);
    }

    .rs-contacts__entry {
        padding-right: calc((100vw - 1280px) / 2);
    }

    .rs-contacts .contacts-row_rev .rs-contacts__entry {
        padding-left: calc((100vw - 1280px) / 2);
    }
}

@media (max-width: 991.98px) {
    .rs-contacts__entry {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
    }
}

@media (max-width: 767.98px) {
    .rs-contacts__head {
        padding-top: 60px;
        padding-bottom: 24px;
    }

    .rs-contacts__map {
        height: 378px;
        -ms-flex-order: 2;
        order: 2;
    }

    .rs-contacts__entry {
        padding: 0;
    }

    .rs-contacts__entry h3 {
        margin-bottom: 8px;
    }

    .rs-contacts__entry ul li {
        padding: 16px 0px;
    }

    .rs-contacts .contacts-row {
        grid-template-columns: 1fr;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-contacts__head {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }

    .rs-contacts .contacts-row {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }
}

@media (any-hover: hover) {
    .rs-contacts__entry ul li a:hover {
        color: var(--primary-color);
    }
}