.footer-menu__list li:not(:last-child) {
    margin-bottom: 13px;
}

.footer-menu__list li a {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #a9a6a5;
    transition: color var(--animation-duration) var(--timing-func);
}

.footer-menu_grid .footer-menu__list {
    column-count: 2;
    column-width: auto;
    column-fill: balance;
    column-gap: 90px;
}

.rs-footer {
    background: #242323;
}

.rs-footer__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rs-footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 80px;
}

.rs-footer .footer-title {
    font-weight: 600;
    font-size: 23px;
    line-height: 120%;
    color: #fff;
    padding-bottom: 32px;
}

.rs-footer .footer-parallax {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.rs-footer .footer-parallax img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rs-footer .footer-parallax__content {
    color: #fff;
    text-align: center;
    position: relative;
    max-width: 575px;
    margin: 0px auto;
    padding: 32px;
}

.rs-footer .footer-parallax__content h3 {
    margin-bottom: 56px;
}

.rs-footer .footer-contacts ul li:not(:last-child) {
    margin-bottom: 13px;
}

.rs-footer .footer-contacts ul li p,
.rs-footer .footer-contacts ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #a9a6a5;
    transition: color var(--animation-duration) var(--timing-func);
}

.rs-footer .footer-contacts ul li a:hover {
    color: var(--primary-color);
}

.rs-footer .footer-copyright {
    padding: 20px 0px;
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    color: #a9a6a5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-footer .footer-copyright a {
    text-transform: uppercase;
    text-decoration: underline;
}

@media (min-width: 767.98px) {
    .rs-footer .footer-copyright {
        border-top: 1px solid #373737;
    }
}

@media (min-width: 1310px) {
    .rs-footer__content {
        padding-right: calc((100vw - 1280px) / 2);
    }
}

@media (max-width: 1310px) {
    .footer-menu_grid .footer-menu__list {
        column-gap: 45px;
    }
}

@media (max-width: 1250px) {
    .rs-footer__content {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 26px;
        gap: 26px;
    }
}

@media (max-width: 767.98px) {
    .footer-menu_grid .footer-menu__list {
        column-count: auto;
    }

    .rs-footer__top {
        grid-template-columns: 1fr;
    }

    .rs-footer__content {
        grid-template-columns: 1fr;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .rs-footer__parallax {
        min-height: 516px;
    }

    .rs-footer .footer-title {
        display: none;
    }

    .rs-footer .footer-parallax__content h3 {
        margin-bottom: 30px;
    }

    .rs-footer .footer-copyright {
        -ms-flex-align: center;
        align-items: center;
        display: block;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-footer__content {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }
}

@media (any-hover: hover) {
    .footer-menu__list li a:hover {
        color: var(--primary-color);
    }
}