.menu {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 100%;
    font-size: 17px;
}

.menu .menu__list {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.menu .menu__list > li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.menu .menu__list > li:not(:last-child) {
    margin-right: 48px;
}

.menu .menu__list > li > a {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 1em;
    line-height: normal;
    font-weight: 600;
    letter-spacing: normal;
    color: #242323;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    text-transform: none;
}

.menu .menu__dropdown {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu .menu__dropdown-list {
    min-width: 270px;
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #fff;
    border: 1px solid #d9d9d9;
}

.menu .menu__dropdown-list .menu__dropdown-list {
    top: -1px;
    left: 100%;
}

.menu .menu__dropdown-list li a {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: normal;
    color: #242323;
    text-transform: none;
}

.menu .menu__dropdown-arrow {
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
}

.menu .menu__dropdown-arrow::before {
    content: url("../../img/icons/menu_icon.svg");
    transition: transform var(--animation-duration) var(--timing-func);
    display: block;
}

.menu .menu__dropdown-list {
    opacity: 0;
    transform: rotateX(-90deg);
    transition: all 700ms ease;
    transform-origin: top;
    transform-style: preserve-3d;
}

.menu__dropdown.hover > .menu__dropdown-list {
    visibility: visible;
    opacity: 1;
    transform: rotateX(0deg);
    pointer-events: auto;
}

.menu-overlay {
    pointer-events: none;
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transform: scaleY(0);
    transform-origin: bottom;
    opacity: 0;
    transition: transform 0s, opacity 0.5s;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.menu-overlay.active {
    transform: scaleY(1);
    opacity: 1;
}

.nav > li > a {
    padding: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.menu-burger {
    -ms-flex: 0 0 52px;
    flex: 0 0 52px;
    display: none;
    position: relative;
    background: #ed2224;
    width: 52px;
    height: 52px;
    line-height: 1;
    transition: background var(--animation-duration) var(--timing-func);
}

.menu-burger span {
    display: block;
    position: absolute;
    top: 17px;
    right: 15px;
    width: 22px;
    height: 2px;
    background: #fff;
    transition: all 0.4s ease;
}

.menu-burger span:nth-child(2) {
    top: 24px;
}

.menu-burger span:nth-child(3) {
    top: 31px;
}

.menu-burger.active {
    background: #242323;
}

.menu-burger.active span:nth-child(2) {
    opacity: 0;
}

.menu-burger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 24px;
}

.menu-burger.active span:nth-child(3) {
    top: 24px;
    transform: rotate(135deg);
}

.rs-header {
    position: relative;
    background: #fff;
}

.rs-header .menu {
    margin-right: auto;
}

.rs-header__wrapper {
    position: relative;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    height: 124px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-header__logo {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px 15px;
}

.rs-header__logo img {
    width: 100%;
}

.rs-header__btn {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px 5px;
}

.rs-header__contacts {
    margin-left: auto;
    padding: 0px 32px;
    margin-left: 15px;
    font-weight: 600;
    font-size: 17px;
    line-height: 160%;
    color: #827e7d;
    border-left: 1px solid #d6d6d6;
    display: grid;
}

.rs-header__contacts a {
    white-space: nowrap;
    transition: color var(--animation-duration) var(--timing-func);
}

.rs-header__contacts a:not(:first-child) {
    border-top: 1px solid #414042;
}

.rs-header .catalog-link {
    font-weight: 600;
    font-size: 17px;
    line-height: 160%;
    text-align: center;
    color: #242323;
    padding: 14px 32px;
    border-right: 1px solid #d6d6d6;
    margin-right: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    transition: color var(--animation-duration) var(--timing-func);
}

.rs-header .catalog-link::before {
    content: "";
    width: 24px;
    height: 24px;
    margin-right: 8px;
    -webkit-mask-image: url("../../img/icons/catalog_link_icon.svg");
    mask-image: url("../../img/icons/catalog_link_icon.svg");
    background: #242323;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: background var(--animation-duration) var(--timing-func);
}

@keyframes rotate {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    25% {
        transform: rotate3d(0, 0, 1, 90deg);
    }

    50% {
        transform: rotate3d(0, 0, 1, 180deg);
    }

    75% {
        transform: rotate3d(0, 0, 1, 270deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.rs-header .header-contacts-mobile {
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    color: #fff;
}

.rs-header .header-contacts-mobile ul li:not(:last-child) {
    margin-bottom: 20px;
}

.rs-header .header-contacts-mobile a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-header .header-contacts-mobile a::before {
    content: "";
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 0;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    margin-right: 8px;
}

.rs-header .header-contacts-mobile a[href^="tel:"]::before {
    content: url("../../img/icons/phone_icon.svg");
}

.rs-header .header-contacts-mobile a[href^="mailto:"]::before {
    content: url("../../img/icons/mail_icon.svg");
}

.rs-header .header-buttons-mobile .menu-wrapper {
    display: grid;
    gap: 8px;
}

@media (min-width: 1149.98px) {
    .menu .menu-wrapper {
        display: contents;
    }

    .menu .menu__dropdown-list li:not(:last-child) {
        border-bottom: 1px solid #d9d9d9;
    }

    .menu .menu__dropdown-list li a {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .menu .menu__list li {
        height: 100%;
    }

    .menu .menu__list > li > a {
        height: 100%;
        position: relative;
        transition: color var(--animation-duration) var(--timing-func);
    }

    .menu .menu__list > li > a::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--primary-color);
        transform: scaleX(0);
        transition: transform var(--animation-duration) var(--timing-func);
        transform-origin: right;
    }

    .menu .menu__list > li.current-menu-item > a,
  .menu .menu__list > li:hover > a {
        color: var(--primary-color);
    }

    .menu .menu__list > li.current-menu-item > a::after,
  .menu .menu__list > li:hover > a::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .menu .menu__dropdown-list li > a {
        transition: color var(--animation-duration) var(--timing-func);
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        white-space: nowrap;
    }

    .menu .menu__dropdown-list li:hover > a {
        color: var(--primary-color);
    }

    .menu .menu__dropdown.hover .menu__dropdown-arrow::before {
        transform: rotateX(-180deg);
    }

    .menu-overlay {
        display: none;
    }

    .rs-header .header-contacts-mobile {
        display: none;
    }

    .rs-header .header-buttons-mobile {
        display: none;
    }
}

@media (min-width: 1650px) {
    .rs-header__logo {
        width: calc((100vw - 1280px) / 2);
        position: absolute;
        right: 100%;
        max-width: 320px;
    }

    .rs-header__btn {
        width: calc((100vw - 1300px) / 2);
        position: absolute;
        left: 100%;
        max-width: 320px;
    }
}

@media (max-width: 1650px) {
    .menu {
        font-size: 13px;
    }

    .menu .menu__list > li:not(:last-child) {
        margin-right: 15px;
    }

    .rs-header__logo {
        -ms-flex: 0 0 160px;
        flex: 0 0 160px;
    }

    .rs-header__contacts {
        padding: 0px 15px;
        font-size: 13px;
    }

    .rs-header .catalog-link {
        margin-right: 15px;
        padding: 14px 10px;
        font-size: 13px;
    }
}

@media (max-width: 1149.98px) {
    .menu {
        background: #242323;
        height: auto;
        max-height: calc(100svh - 52px);
        position: fixed;
        left: 0;
        top: 52px;
        width: 100%;
        font-size: 15px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        transition: all var(--animation-duration) var(--timing-func);
        -webkit-clip-path: inset(0 0 100% 0);
        clip-path: inset(0 0 100% 0);
    }

    .menu.active {
        pointer-events: auto;
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
    }

    .menu .menu-wrapper {
        height: auto;
        width: 100%;
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 16px;
        padding-bottom: 16px;
        overflow-y: auto;
    }

    .menu .menu__list {
        display: block;
        height: auto;
    }

    .menu .menu__list > li {
        height: auto;
        margin-right: 0 !important;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-left: 0;
        border-bottom: 1px solid #696868;
    }

    .menu .menu__list > li > a {
        color: #fff;
        font-weight: 600;
        line-height: normal;
        letter-spacing: normal;
    }

    .menu .menu__dropdown {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .menu .menu__dropdown-list {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
        pointer-events: auto;
        background-color: transparent;
        border: 0;
        height: auto;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        padding-top: 12px;
    }

    .menu .menu__dropdown-list .menu__dropdown-list {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu .menu__dropdown-list li {
        border-top: 1px solid #696868;
    }

    .menu .menu__dropdown-list li:last-child a {
        padding-bottom: 0;
    }

    .menu .menu__dropdown-list li a {
        padding-left: 16px;
        padding-right: 0;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 15px;
        color: #fff;
    }

    .menu .menu__dropdown-arrow {
        margin-left: 20px;
    }

    .menu .menu__dropdown .menu__dropdown-arrow {
        width: 30px;
        height: 30px;
        background: #ed2224;
        border-radius: 2px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .menu .menu__dropdown .menu__dropdown-arrow::before {
        content: url("../../img/icons/chevron-down.svg");
        display: block;
        line-height: 0;
    }

    .menu .menu__dropdown .menu__dropdown-arrow._active::before {
        transform: rotateZ(90deg);
    }

    .menu-burger {
        display: block;
        position: relative;
        z-index: 2;
    }

    .rs-header__wrapper {
        height: 52px;
    }

    .rs-header__logo {
        -ms-flex: 0 0 127px;
        flex: 0 0 127px;
        margin-right: auto;
    }

    .rs-header__btn {
        display: none;
    }

    .rs-header__contacts {
        display: none;
    }

    .rs-header .catalog-link {
        display: none;
    }
}

@media (any-hover: hover) {
    .menu .menu__dropdown-arrow {
        display: none;
    }

    .menu__dropdown:hover > .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
        transform: rotateX(0deg);
        pointer-events: auto;
    }

    .rs-header__contacts a:hover {
        color: var(--primary-color);
    }

    .rs-header .catalog-link:hover {
        color: var(--primary-color);
    }

    .rs-header .catalog-link:hover::before {
        background: var(--primary-color);
        animation: rotate 3s normal linear infinite;
    }
}