.rs-intro {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.rs-intro__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.rs-intro__wrapper {
    border-left: 1px solid rgba(255, 255, 255, 0.35);
    border-right: 1px solid rgba(255, 255, 255, 0.35);
    position: relative;
    display: grid;
    grid-template-columns: 53.5% 1fr;
    gap: 110px;
    -ms-flex-align: center;
    align-items: center;
}

.rs-intro__form {
    padding-top: 46px;
    padding-bottom: 46px;
}

.rs-intro .intro-content {
    color: #fff;
    padding-left: 32px;
}

.rs-intro .intro-content__logo {
    margin-bottom: 24px;
}

.rs-intro .intro-content__logo img {
    max-width: 100%;
}

.rs-intro .intro-content ul {
    margin-top: 24px;
}

.rs-intro .intro-content ul li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.rs-intro .intro-content ul li:not(:last-child) {
    margin-bottom: 8px;
}

.rs-intro .intro-content ul li::before {
    content: url("../../img/icons/list_marker.png");
    margin-right: 10px;
}

.rs-intro .intro-content .btn-color {
    margin-top: 30px;
}

.rs-intro .intro-form {
    color: #fff;
    background: #242323;
    border-top: 4px solid #ed2224;
    padding: 48px;
}

.rs-intro .intro-form h4 {
    margin-bottom: 40px;
}

.rs-intro {
    --tf: ease-out;
}

.rs-intro .intro-content > * {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.4s var(--tf);
}

.rs-intro .intro-content > *:nth-child(1) {
    transition-delay: 0.3s;
}

.rs-intro .intro-content > *:nth-child(2) {
    transition-delay: 0.6s;
}

.rs-intro .intro-content > *:nth-child(3) {
    transition-delay: 0.9s;
}

.rs-intro .intro-content > *:nth-child(4) {
    transition-delay: 1.2s;
}

.rs-intro .intro-form {
    opacity: 0;
    transform: translateX(40px);
    transition: all 0.4s var(--tf) 1.6s;
}

.rs-intro .rs-intro__bg {
    opacity: 0;
    transition: opacity 0.2s linear, transform 12.3s var(--tf);
}

.rs-intro.in-view .intro-content > * {
    opacity: 1;
    transform: translateY(0px);
}

.rs-intro.in-view .intro-form {
    opacity: 1;
    transform: translateX(0px);
}

.rs-intro.in-view .rs-intro__bg {
    opacity: 1;
    transform: scale(1.2);
}

@media (min-width: 767.98px) {
    .rs-intro .intro-content .btn-color {
        display: none;
    }
}

@media (max-width: 1310px) {
    .rs-intro__wrapper {
        gap: 30px;
    }
}

@media (max-width: 767.98px) {
    .rs-intro__wrapper {
        grid-template-columns: 1fr;
        min-height: 600px;
        -ms-flex-align: start;
        align-items: start;
        border: none;
    }

    .rs-intro__content {
        padding-top: 55px;
    }

    .rs-intro__form {
        display: none;
    }

    .rs-intro .intro-content {
        padding-left: 15px;
        padding-right: 15px;
    }
}