@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

ul {
    margin-bottom: 0;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --font-family: "Manrope", sans-serif;
    --main-bg-color: #fff;
    --main-text-color: #827e7d;
    --primary-color: #ed2224;
    --error-color: #ff603a;
    --animation-duration: 0.35s;
    --timing-func: ease-out;
}

html {
    font-size: 16px;
    height: 100%;
    min-width: 320px;
}

body {
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: normal;
    font-style: normal;
}

body.mobile-menu-opened,
body.filters-opened {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.site-wrapper,
.site {
    overflow: hidden;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.site-wrapper > .main,
.site-wrapper .site-content,
.site > .main,
.site .site-content {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.site-wrapper > *,
.site > * {
    min-width: 0;
}

header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
}

footer {
    position: relative;
}

.main,
.site-content {
    position: relative;
    padding-top: 124px;
}

[class*=__container] {
    max-width: 1280px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fancybox__container {
    max-width: none !important;
}

@keyframes stroke {
    0% {
        fill: transparent;
    }

    15% {
        fill: transparent;
        stroke: #ed8c2b;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
    }

    80% {
        fill: transparent;
        stroke: #ed8c2b;
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
    }

    100% {
        fill: #ed8c2b;
        stroke: #ed8c2b;
    }
}

.base-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--main-text-color);
}

.base-content p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.base-content p span {
    color: var(--primary-color);
}

.base-content h1,
.base-content h2 {
    font-weight: 700;
    font-size: 52px;
    line-height: 120%;
}

.base-content h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
}

.base-content h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
}

.base-content h5 {
    font-weight: 600;
    font-size: 23px;
    line-height: 120%;
}

.base-content h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.base-content .table table {
    width: 100%;
}

.base-content .table table th {
    font-weight: 600;
    font-size: 23px;
    line-height: 120%;
    color: #1c1c1c;
}

.base-content .table table tr:nth-child(even) {
    background: #f3f1f1;
}

.base-content .table table td,
.base-content .table table th {
    border: 1px solid #d6d6d6;
    padding: 20px;
}

.base-content .table table td:nth-child(3),
.base-content .table table th:nth-child(3) {
    width: 25%;
}

.base-content .table table td:first-child {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #1c1c1c;
}

.form form {
    display: grid;
    gap: 16px;
}

.form .form-group {
    margin-bottom: 0;
    position: relative;
}

.form .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form .form-submit {
    margin-top: 16px;
    display: grid;
    gap: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #827e7d;
}

.form input,
.form textarea,
.form select {
    outline: none;
    width: 100%;
    border-radius: 0px;
    padding: 0px 12px;
    height: 49px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(214, 214, 214, 0.3);
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #827e7d;
}

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder, .form select:-ms-input-placeholder {
    color: #827e7d;
}

.form input::placeholder,
.form textarea::placeholder,
.form select::placeholder {
    color: #827e7d;
}

.form textarea {
    height: 100%;
    resize: none;
    min-height: 110px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.form select {
    background: rgba(255, 255, 255, 0.1) url("../../img/icons/select_arrow.png") calc(100% - 12px) 50% no-repeat;
    cursor: pointer;
    -webkit-appearance: none !important;
    appearance: none !important;
}

.form select::-ms-expand {
    display: none;
}

.form select:focus {
    outline: none;
}

.form select option {
    font-weight: normal;
}

.form .file-upload {
    display: inline-block;
    position: relative;
    background: url("../../img/icons/upload_icon.png") 0px 50% no-repeat;
}

.form .file-upload label:not(.error) {
    width: 100%;
    padding-left: 32px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.form .file-upload span {
    border-bottom: 1px dashed #827e7d;
}

.form .file-upload input {
    opacity: 0;
    z-index: 2;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.section-title h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #1c1c1c;
    margin-top: 20px;
}

.section-title span {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #827e7d;
    padding-bottom: 12px;
    border-bottom: 1px solid #ed2224;
}

.slider-arrows {
    position: relative;
    display: inline-grid;
    grid-template-columns: 64px 64px;
    gap: 16px;
    pointer-events: none;
}

.slider-arrows .slider-arrow {
    pointer-events: auto;
    width: 64px;
    height: 52px;
    background: var(--primary-color);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: background var(--animation-duration) var(--timing-func);
}

.slider-arrows .slider-arrow_prev {
    transform: scaleX(-1);
}

.slider-arrows .slider-arrow:not(.swiper-button-disabled):hover {
    background: #242323;
}

.slider-arrows .slider-arrow.swiper-button-disabled {
    opacity: 0.5;
}

.btn-color {
    position: relative;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    min-height: 52px;
    max-width: 100%;
    background: var(--primary-color);
    border-radius: 0px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px 20px;
    transition: background var(--animation-duration) var(--timing-func);
}

.btn-color span.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    transition: color var(--animation-duration) var(--timing-func);
}

.btn-color_dark {
    background: #242323;
}

.btn-color_white {
    background: #fff;
}

.btn-color_white span.title {
    color: #242323;
}

.btn-color_arrow {
    background: #fff;
}

.btn-color_arrow span.title {
    color: #242323;
}

.btn-color_arrow span.icon {
    display: inline-block;
    background: #242323;
    border-radius: 32px;
    width: 28px;
    height: 28px;
    margin-left: 8px;
    transition: background var(--animation-duration) var(--timing-func);
}

.btn-color_arrow span.icon::before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 32px;
    -webkit-mask-image: url("../../img/icons/button_arrow.svg");
    mask-image: url("../../img/icons/button_arrow.svg");
    background: #fff;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: background var(--animation-duration) var(--timing-func);
}

.btn-color_video {
    background: #242323;
}

.btn-color_video span.title {
    color: #fff;
}

.btn-color_video span.icon {
    display: inline-block;
    background: #fff;
    border-radius: 32px;
    width: 28px;
    height: 28px;
    margin-left: 8px;
}

.btn-color_video span.icon::before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 32px;
    -webkit-mask-image: url("../../img/icons/button_video.svg");
    mask-image: url("../../img/icons/button_video.svg");
    background: #242323;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

@media (min-width: 767.98px) {
    .page-animate [data-animate] {
        visibility: hidden;
        will-change: transform;
    }

    .page-animate [data-animate].in-view {
        visibility: visible;
        animation-name: var(--animateName);
        animation-duration: var(--animateDuration, 0.4s);
        animation-delay: var(--animateDelay);
        animation-fill-mode: both;
        animation-timing-function: ease-out;
        will-change: none;
    }

    .page-animate [data-animate-stager] > * {
        visibility: hidden;
        will-change: transform;
    }

    .page-animate [data-animate-stager].in-view > * {
        visibility: visible;
        animation-name: var(--animateName);
        animation-duration: var(--animateDuration, 0.4s);
        animation-delay: var(--animateDelay);
        animation-fill-mode: both;
        animation-timing-function: ease-out;
        will-change: none;
    }
}

@media (max-width: 1149.98px) {
    .main,
  .site-content {
        padding-top: 52px;
    }
}

@media (max-width: 767.98px) {
    [class*=__container] {
        max-width: 375px;
    }

    .base-content {
        font-size: 13px;
    }

    .base-content h1,
  .base-content h2 {
        font-size: 23px;
    }

    .base-content h3 {
        font-size: 21px;
    }

    .base-content h4 {
        font-size: 18px;
    }

    .base-content h5 {
        font-size: 18px;
    }

    .base-content h6 {
        font-size: 13px;
    }

    .base-content .table {
        overflow-x: auto;
    }

    .base-content .table table td,
  .base-content .table table th {
        padding: 10px;
    }

    .form .form-row {
        display: contents;
    }

    .section-title h2 {
        font-size: 21px;
    }
}

@media (any-hover: none) {
    [data-hidescroll]::-webkit-scrollbar {
        width: 0;
    }

    [data-hidescroll] {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@media (any-hover: hover) {
    .btn-color:hover {
        background: #242323;
    }

    .btn-color_dark:hover {
        background: var(--primary-color);
    }

    .btn-color_light:hover {
        background: #fff;
    }

    .btn-color_light:hover span.title {
        color: #242323;
    }

    .btn-color_arrow:hover {
        background: var(--primary-color);
    }

    .btn-color_arrow:hover span.title {
        color: #fff;
    }

    .btn-color_arrow:hover span.icon {
        background: #fff;
    }

    .btn-color_arrow:hover span.icon::before {
        background: #242323;
    }

    .btn-color_video:hover {
        background: var(--primary-color);
    }
}