.rs-benefit {
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 67px;
    text-align: center;
    background: #ebf7fe;
    border-radius: 75px;
}

.rs-benefit__items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 125px;
}

.rs-benefit .benefit-item {
    height: 100%;
}

.rs-benefit .benefit-item img {
    margin-bottom: 26px;
    margin-top: 0px;
}

.rs-benefit .benefit-item p {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #3d577b;
    padding-bottom: 0;
}

@media (max-width: 767.98px) {
    .rs-benefit {
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 0;
    }

    .rs-benefit__items {
        grid-template-columns: 1fr;
        gap: 35px;
    }

    .rs-benefit .benefit-item p {
        font-size: 13px;
    }
}