.rs-gallery {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.rs-gallery::before {
    content: url(../../img/bg_1.png);
    position: absolute;
    top: -50px;
    left: -190px;
    z-index: -1;
}

.rs-gallery__inner {
    margin-top: 32px;
}

.rs-gallery .gallery-slider {
    position: relative;
    padding-left: 56px;
    padding-right: 56px;
}

.rs-gallery .gallery-slider__slider {
    height: 232px;
}

.rs-gallery .gallery-slider__slide {
    position: relative;
    border-radius: 43px;
    overflow: hidden;
}

.rs-gallery .gallery-slider__slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-gallery .gallery-slider__arrows {
    pointer-events: none;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-gallery .gallery-slider__arrow {
    pointer-events: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #2d79b7;
    border-radius: 50%;
}

.rs-gallery .gallery-slider__arrow:before {
    content: url(../../img/icons/arrow-slider.svg);
}

.rs-gallery .gallery-slider__arrow_next {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}