.rs-17 .rs-news {
    background-color: #f8f8f8;
    position: relative;
    color: #fff;
    padding: 45px 0px;
}

.rs-17 .rs-news__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-17 .rs-news__header a {
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
}

.rs-17 .rs-news__container {
    display: -ms-flexbox;
    display: flex;
    margin: 40px -15px 0px -15px;
}

.rs-17 .rs-news .slick-track {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

.rs-17 .rs-news__item {
    padding: 0px 15px;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    margin-bottom: 35px;
}

.news-item {
    height: 100%;
    background-color: #ffffff;
    color: #0e1115;
}

.news-item__image {
    position: relative;
    width: 100%;
    padding-bottom: 76%;
    overflow: hidden;
}

.news-item__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.news-item__inner {
    padding-top: 29px;
    padding-bottom: 40px;
    padding-left: 37px;
    padding-right: 10px;
}

.news-item__date {
    font-family: Oswald;
    font-size: 16px;
    line-height: 27px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ff8400;
    margin-bottom: 20px;
}

.news-item__link {
    font-family: Oswald;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: inherit;
}

.news-item__link::after {
    content: url("../../img/button_arrow_black.svg");
    margin-left: 9px;
}

.news-item__link:hover {
    color: inherit;
}

.news-item h4 {
    font-family: Oswald;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #0e1115;
    margin-bottom: 15px;
}

.news-item p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #0e1115;
    margin-bottom: 30px;
}

@media (max-width: 1170px) {
    .news-item__inner {
        padding-top: calc(15px + 14 * ((100vw - 320px) / 850));
    }

    .news-item__inner {
        padding-bottom: calc(15px + 25 * ((100vw - 320px) / 850));
    }

    .news-item__inner {
        padding-left: calc(10px + 27 * ((100vw - 320px) / 850));
    }

    .news-item__inner {
        padding-right: calc(10px + 0 * ((100vw - 320px) / 850));
    }

    .news-item__date {
        margin-bottom: calc(10px + 10 * ((100vw - 320px) / 850));
    }

    .news-item h4 {
        font-size: calc(16px + 4 * ((100vw - 320px) / 850));
    }

    .news-item h4 {
        margin-bottom: calc(10px + 5 * ((100vw - 320px) / 850));
    }

    .news-item p {
        font-size: calc(11px + 3 * ((100vw - 320px) / 850));
    }

    .news-item p {
        margin-bottom: calc(10px + 20 * ((100vw - 320px) / 850));
    }
}

@media (max-width: 767.98px) {
    .news-item__image {
        padding-bottom: 46%;
    }
}