<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Зенит-Север | О комапании</title>

	<script src="js/jquery-2.1.3.min.js" defer></script>

	<script src="js/validate/jquery.validate.min.js" defer></script>
	

	<script src="js/fancybox.js" defer></script>
	<link rel="stylesheet" type="text/css" href="css/fancybox.css" />

	<script src="js/swiper-bundle.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css" />

	<script src="js/gsap/gsap.min.js" defer></script>
	<script src="js/gsap/ScrollTrigger.min.js" defer></script>
	<script src="js/gsap/CustomEase.min.js" defer></script>	
	<script src="js/gsap/ScrollToPlugin.min.js" defer></script>	
	
		
	<link rel="stylesheet" type="text/css" href="css/block-css/style.css" />
	<script src="js/app.js" defer></script>

</head>

  <body class="internal-layout">
    
    
      
      
    
    
    <div class="site-wrapper">      
      
      <header>
        <span class="menu-overlay" data-js-overlay></span>
        <link rel="stylesheet" href="css/block-css/rs-header.css" />
<div class="rs-header">
	<div class="rs-header__container">
		<div class="rs-header__wrapper">

			<a href="index.html" class="rs-header__logo">
				<img src="img/logo.png" alt="" />
			</a>

			
<nav class="menu">

	<div class="menu-wrapper">
		<ul class="menu__list">			
			<li class="menu__dropdown">
				<a href="single-product.html"><span>Продукция</span></a>
				<button type="button" class="menu__dropdown-arrow"></button>
				<ul class="menu__dropdown-list">
					<li class="switch-back">Продукция</li>	
					<li><a href="#"><span>ЛОС (Ливневые очистные сооружения)</span></a></li>
					<li class="menu__dropdown">
						<a href="#"><span>Емкости из стеклопластика</span></a>
						<button type="button" class="menu__dropdown-arrow"></button>
						<ul class="menu__dropdown-list">
							<li class="switch-back">Емкости из стеклопластика</li>	
							<li><a href="#"><span>ЛОС (Ливневые очистные сооружения)</span></a></li>
							<li><a href="#"><span>Емкости из стеклопластика</span></a></li>
							<li><a href="#"><span>Очистные хозяйственно-бытовых стоков</span></a></li>
						</ul>
					</li>	
					<li><a href="#"><span>Очистные хозяйственно-бытовых стоков</span></a></li>
					<li><a href="#"><span>Очистные промышленных стоков</span></a></li>
					<li><a href="#"><span>Установки водоподготовки</span></a></li>
					<li><a href="#"><span>Канализационные насосные станции (КНС)</span></a></li>
					<li><a href="#"><span>Противопожарные насосные станции</span></a></li>
					<li><a href="#"><span>Повысительные насосные станции</span></a></li>
				</ul>
			</li>			
			<li><a href="worksheet.html"><span>Опросные листы</span></a></li>
			<li><a href="single-service.html"><span>Услуги</span></a></li>
			<li><a href="about.html"><span>О компании</span></a></li>
			<li><a href="projects.html"><span>Проекты</span></a></li>
			<li><a href="reviews.html"><span>Отзывы</span></a></li>
			<li><a href="#"><span>Контакты</span></a></li>
		</ul>
	</div>

	<div class="menu-footer">		
		<div class="mobile-menu-contacts">
			<div class="mobile-menu-contacts__title">Свяжитесь с нами</div>
			<ul class="mobile-menu-contacts__list">
				<li><a href="tel:+74991306045">+7 (499) 130-60-45</a></li>
				<li><a href="mailto:info@zenit-sever.ru">info@zenit-sever.ru</a></li>
			</ul>
		</div>
		<form action="#" class="mobile-menu-search">
  <div class="mobile-menu-search__box">
    <input type="search" name="search" placeholder="Введите ваш запрос">
    <button type="submit"><img src="img/icons/search_black_icon.svg" alt=""></button>
  </div>  
</form>		
	</div>

</nav>




			<ul class="header-contacts">
				<li><a href="mailto:info@zenit-sever.ru">info@zenit-sever.ru</a></li>
				<li><a href="tel:+74991306045">+7 (499) 130-60-45</a></li>
			</ul>

			<button class="btn-cb" data-fancybox data-src="#callbackModal"><span>Оставить заявку</span></button>			

			<div class="rs-header__search">
				<button class="header-search-open"><img src="img/icons/search_black_icon.svg" alt=""></button>
<div class="header-search">
	<form action="#">		
		<input type="text" name="headerSearch" placeholder="Введите ваш запрос" />
		<button type="reset"></button>
		<button type="submit"><img src="img/icons/search_black_icon.svg" alt=""></button>
	</form>	
</div>
 
			</div>

			<button class="menu-burger">
  <span></span>
  <span></span>
  <span></span>
</button>

		</div>
	</div>
</div>
 
      </header>
      
      <div class="main">        
        
   







<div class="page-head">
  <div class="stripes">
	<div class="stripes__container">
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>		
	</div>
</div>

  <div class="page-head__container">
    <div class="page-head__wrapper">
      <div class="page-head__content">
        
  <div class="breadcrumbs " data-hidescroll>    
    
      <span><a href="#">Главная</a></span>
      <span class="sep">—</span>
        
    <span class="current">О компании</span>    
  </div>

        <h1>Качественное оборудование, соответствующее самым высоким стандартам и&nbsp;требованиям</h1>
      </div>
    </div>    
  </div>
</div>












  <!-- rs-about -->
  <link rel="stylesheet" href="css/block-css/rs-about.css" />
<section class="rs-about">
  <div class="stripes">
	<div class="stripes__container">
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>		
	</div>
</div>

  <div class="rs-about__container">
    <div class="rs-about__wrapper">
      
 






<div class="about">  
  <div class="about__wrapper" data-animate-stager="fadeInUp:250">
    <div class="about__head">
      
<div class="section-title ">
	
	
	<h2>Суммарные производственные мощности более&nbsp;27&nbsp;000&nbsp;кв.м, инженерно-технологический штат 27&nbsp;человек.</h2>	
	
	
</div>

    </div>
    <div class="about__content about__content_column base-content">
      <p>Благодаря собственной научно-исследовательской деятельности, а также систематической переквалификации наших специалистов, в своей работе мы применяем самые современные технические решения. </p>
      <p>ООО НПО «Зенит-Север» предлагает полный цикл услуг: предпроектное обследование, выработку решения, разработку проектной документации, производство, монтаж (или шефмонтаж), пусконаладку и сдачу объектов в эксплуатацию.</p>
      <p>Мы хорошо понимаем с какими вопросами на стадии реализации сталкиваются наши клиенты. Наши решения учитывают все тонкости строительных и эксплуатационных процессов.</p>
      <h6>В своей работе мы руководствуемся двумя принципами:</h6>
      <ul>
        <li>Изготовление качественного оборудования с запасом ресурса эксплуатации;</li>
        <li>Соблюдение всех взятых на себя обязательств.</li>
      </ul>
    </div>    
  </div>  
</div>

    </div>
  </div>
</section>
  <!-- rs-frame -->
  <link rel="stylesheet" href="css/block-css/rs-frame.css" />
<section class="rs-frame">
  <div class="rs-frame__wrapper">
    


<div class="zm-frame">
  <div class="zm-frame__picture">
    <img src="img/5_parallax.jpg" alt="">
  </div>
</div>

  </div>
  <div class="stripes">
	<div class="stripes__container">
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>		
	</div>
</div>
  
</section>
  <!-- rs-benefit -->
  <link rel="stylesheet" href="css/block-css/rs-benefit.css" />
<section class="rs-benefit">
  <div class="stripes">
	<div class="stripes__container">
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>		
	</div>
</div>

  <div class="rs-benefit__container">
    <div class="rs-benefit__wrapper">
       



















<div class="benefit">
  <div class="benefit__head" data-animate="fadeInUp">
    
<div class="section-title ">
	
	
	<h2>Принципы, которыми мы руководствуемся</h2>	
	
	
</div>

  </div>
  <div class="benefit__wrapper">    
    <div class="benefit__items" data-animate-stager="fadeInUp:0::350">      
      <div class="benefit__item">
<div class="benefit-card">	
  <div class="benefit-card__icon"><img src="img/benefit_2.svg" alt=""></div>
  <h4 class="benefit-card__title">Стоимость</h4>
  <p class="benefit-card__text">Мы знаем, насколько важно  соблюдение бюджета, и поэтому наши эксперты внимательно изучат ваши потребности и предложат оптимальные варианты оборудования, которые будут соответствовать вашим финансовым возможностям и при этом обеспечат максимальную эффективность. При выборе оборудования важно учитывать не только его первоначальную стоимость, но и затраты на его эксплуатацию в долгосрочной перспективе. Мы стараемся сделать так, чтобы вложения окупались благодаря минимизации затрат при эксплуатации.</p>
</div>
</div>
      <div class="benefit__item">
<div class="benefit-card">	
  <div class="benefit-card__icon"><img src="img/benefit_2.svg" alt=""></div>
  <h4 class="benefit-card__title">Опыт</h4>
  <p class="benefit-card__text">За годы работы наша команда накопила значительный опыт в решении сложных инженерных задач. Мы глубоко понимаем особенности каждого проекта и подходим к работе с учетом индивидуальных потребностей вашего объекта. Наш опыт позволяет не только профессионально консультировать на всех этапах проекта, но и минимизировать эксплуатационные затраты, избегая ошибок при выборе и установке оборудования. Мы не просто выполняем технические задачи, а стремимся к созданию долгосрочных и эффективных решений, которые будут работать на благо вашего бизнеса в будущем.  Каждый проект уникален и требует индивидуального подхода.  Поэтому мы тщательно анализируем все аспекты вашего объекта, включая его технические характеристики, эксплуатационные условия и будущие планы развития.</p>
</div>
</div>
      <div class="benefit__item">
<div class="benefit-card">	
  <div class="benefit-card__icon"><img src="img/benefit_1.svg" alt=""></div>
  <h4 class="benefit-card__title">Надежность</h4>
  <p class="benefit-card__text">В современном мире, где информация распространяется с невероятной скоростью, важно не только говорить о своих принципах и ценностях, но и демонстрировать их на практике. Мы всегда выполняем обещанное, и для нас важно поддерживать открытые и прозрачные отношения с клиентами. Для достижения этой цели мы делаем все возможное, чтобы наши процессы и методы работы были понятны и доступны. Это не только помогает укрепить доверие к нам, но и позволяет нашим клиентам точно знать, что и как мы делаем на каждом этапе. Такой подход не только повышает уровень удовлетворенности клиентов, но и способствует созданию долгосрочных партнерских отношений. Открытость и честность – это основные принципы, на которых строится наша работа. Мы считаем, что именно благодаря таким качествам можно достичь высоких результатов и построить прочные отношения с клиентами.</p>
</div>
</div>
      <div class="benefit__plug"></div>
      <div class="benefit__item">
<div class="benefit-card">	
  <div class="benefit-card__icon"><img src="img/benefit_5.svg" alt=""></div>
  <h4 class="benefit-card__title">Доступность</h4>
  <p class="benefit-card__text">Для нас доступность – это не просто слово, это образ жизни. Мы живем этим принципом каждый день, стремясь к тому, чтобы каждый клиент чувствовал себя уверенно и комфортно в нашем сотрудничестве. Мы не просто предоставляем услуги, мы создаем отношения, основанные на доверии, взаимопонимании и доступности. Это наш подход к работе, и мы уверены, что именно он позволяет нам достигать успеха вместе с нашими клиентами. Наша команда всегда на связи, готова оперативно ответить на вопросы и предложить решение любых проблем, которые могут возникнуть.</p>
</div>
</div>
      <div class="benefit__item">
<div class="benefit-card">	
  <div class="benefit-card__icon"><img src="img/benefit_3.svg" alt=""></div>
  <h4 class="benefit-card__title">Сроки</h4>
  <p class="benefit-card__text">Сроки – это важнейший аспект любого проекта, который требует тщательного планирования и контроля. Мы гордимся тем, что 90% наших проектов завершены раньше запланированных сроков. Это стало возможным благодаря высокому профессионализму нашей команды, широкому опыту и использованию современных технологий. Наши специалисты обладают глубокими знаниями в своей области это позволяет им эффективно планировать каждый этап работы и следить за его выполнением, что, в свою очередь, ускоряет процесс без потери качества. Таким образом, вы получаете готовый проект в кратчайшие сроки.</p>
</div>
</div>
      <div class="benefit__plug"></div>
      <div class="benefit__plug"></div>
      <div class="benefit__item">
<div class="benefit-card">	
  <div class="benefit-card__icon"><img src="img/benefit_6.svg" alt=""></div>
  <h4 class="benefit-card__title">Адаптивность</h4>
  <p class="benefit-card__text">Независимо от того, нужно ли увеличить мощность оборудования, перенести установку на другой объект или адаптировать проект под изменившиеся условия – мы предоставим эффективные решения. Это позволит вам избежать лишних затрат и сохранить высокое качество работы при минимальных вложениях.</p>
</div>
</div>
    </div>
    <div class="benefit__picture"><img src="img/benefit_about.jpg" alt=""></div>
  </div>
</div>
    </div>
  </div>
</section>

      </div>

      <footer>       
         
 









<link rel="stylesheet" href="css/block-css/rs-footer.css" />
<section class="rs-footer">

	<div class="rs-footer__container">
		<div class="rs-footer__wrapper">
			<div class="rs-footer__info">
				<div class="footer-logo"><img src="img/logo_footer.png" alt=""></div>
				
<div class="footer-copyright">	
	<p>© ООО НПО «Зенит-Север» 2024. Все права защищены.</p>
	<a href="#">Разработано в Россайт</a>
</div>

			</div>
			<div class="rs-footer__contacts">				
				
<div class="footer-contacts">
	<ul class="footer-contacts__list">
		<li><a href="tel:+74991306045">+7 (499) 130-60-45</a></li>
		<li><a href="mailto:info@zenit-sever.ru">info@zenit-sever.ru</a></li>
		<li><a href="#">Москва, Нововладыкинский&nbsp;пр-д, д.&nbsp;8, стр.&nbsp;5. БЦ&nbsp;«Красивый дом»</a></li>
		<li><p>Пн-Пт с 9:00 до 18:00</p></li>
	</ul>
	
<a href="#" class="btn-color btn-color_tg">
	<span>Написать нам в Telegram</span>
</a>

</div>	

			</div>
			<div class="rs-footer__menu">
				<h4 class="footer-title">Услуги</h4>
				
<nav class="footer-menu ">  
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>ЛОС (Ливневые очистные сооружения)</span></a></li>
    
    <li><a href="#"><span>Емкости из стеклопластика</span></a></li>
    
    <li><a href="#"><span>Очистные хозяйственно-бытовых стоков</span></a></li>
    
    <li><a href="#"><span>Очистные промышленных стоков</span></a></li>
    
    <li><a href="#"><span>Установки водоподготовки</span></a></li>
    
    <li><a href="#"><span>Канализационные насосные станции (КНС)</span></a></li>
    
    <li><a href="#"><span>Противопожарные насосные станции</span></a></li>
    
    <li><a href="#"><span>Повысительные насосные станции</span></a></li>
       
  </ul>
</nav>

			</div>
			<div class="rs-footer__menu">
				<h4 class="footer-title">меню</h4>
				
<nav class="footer-menu ">  
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Главная </span></a></li>
    
    <li><a href="#"><span>Опросные листы</span></a></li>
    
    <li><a href="#"><span>Услуги</span></a></li>
    
    <li><a href="#"><span>О компании</span></a></li>
    
    <li><a href="#"><span>Отзывы</span></a></li>
    
    <li><a href="#"><span>Проекты</span></a></li>
    
    <li><a href="#"><span>Отзывы</span></a></li>
    
    <li><a href="#"><span>Контакты</span></a></li>
       
  </ul>
</nav>

			</div>
		</div>
	</div>

	<div class="stripes">
	<div class="stripes__container">
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>		
	</div>
</div>


</section>
 


      </footer>

      <div class="modals">
        <div class="modal-dialog" id="callbackModal">
  <div class="modal-dialog-header">
    <h4>Заголовок</h4>
    <p>Подзаголовок, Тут будет текст для Формы обратной связи</p>
  </div>
  <div class="modal-dialog-content">
    
 

<div class="md-fos" >	
	<div class="md-fos__wrapper">		
		<div class="md-fos__content">			
			<form action="#" id="mdFosForm" class="base-form">	
				<div class="form-group">
					 
   
<input type="text" id="mdFosName" name="mdFosName" placeholder="Ваше имя" required>

				</div>
				<div class="form-group">						
					 
   
<input type="email" id="mdFosMail" name="mdFosMail" placeholder="Email" required>

				</div>				
				<div class="form-group">
					 
   
<input type="tel" id="mdFosPhone" name="mdFosPhone" placeholder="Телефон" required maxlength="18" data-tel-input>

				</div>						
				<div class="form-group">					
					
   
<textarea id="mdFosMessage" name="mdFosMessage" placeholder="Ваше сообщение" required></textarea>

				</div>									
				<div class="form-submit form-submit_clm">
					<p>Нажимая кнопку «Отправить заявку» вы соглашаетесь на обработку ваших персональных данных в соответствии с <a href="#">пользовательским соглашением</a></p>
					<button type="submit" class="btn-color"><span>Отправить заявку</span></button>
				</div>
			</form>
		</div>			
	</div>
</div>
              
  </div>
  <div class="modal-dialog-footer">
    <img src="img/fos_footer.jpg" alt="">
  </div>
</div>

      </div>
      
    </div>
  </body>
</html>
