<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Зенит-Север | Наши услуги</title>

	<script src="js/jquery-2.1.3.min.js" defer></script>

	<script src="js/validate/jquery.validate.min.js" defer></script>
	

	<script src="js/fancybox.js" defer></script>
	<link rel="stylesheet" type="text/css" href="css/fancybox.css" />

	<script src="js/swiper-bundle.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css" />

	<script src="js/gsap/gsap.min.js" defer></script>
	<script src="js/gsap/ScrollTrigger.min.js" defer></script>
	<script src="js/gsap/CustomEase.min.js" defer></script>	
	<script src="js/gsap/ScrollToPlugin.min.js" defer></script>	
	
		
	<link rel="stylesheet" type="text/css" href="css/block-css/style.css" />
	<script src="js/app.js" defer></script>

</head>

  <body class="internal-layout">
    
    
      
      
    
    
    <div class="site-wrapper">      
      
      <header>
        <span class="menu-overlay" data-js-overlay></span>
        <link rel="stylesheet" href="css/block-css/rs-header.css" />
<div class="rs-header">
	<div class="rs-header__container">
		<div class="rs-header__wrapper">

			<a href="index.html" class="rs-header__logo">
				<img src="img/logo.png" alt="" />
			</a>

			
<nav class="menu">

	<div class="menu-wrapper">
		<ul class="menu__list">			
			<li class="menu__dropdown">
				<a href="single-product.html"><span>Продукция</span></a>
				<button type="button" class="menu__dropdown-arrow"></button>
				<ul class="menu__dropdown-list">
					<li class="switch-back">Продукция</li>	
					<li><a href="#"><span>ЛОС (Ливневые очистные сооружения)</span></a></li>
					<li class="menu__dropdown">
						<a href="#"><span>Емкости из стеклопластика</span></a>
						<button type="button" class="menu__dropdown-arrow"></button>
						<ul class="menu__dropdown-list">
							<li class="switch-back">Емкости из стеклопластика</li>	
							<li><a href="#"><span>ЛОС (Ливневые очистные сооружения)</span></a></li>
							<li><a href="#"><span>Емкости из стеклопластика</span></a></li>
							<li><a href="#"><span>Очистные хозяйственно-бытовых стоков</span></a></li>
						</ul>
					</li>	
					<li><a href="#"><span>Очистные хозяйственно-бытовых стоков</span></a></li>
					<li><a href="#"><span>Очистные промышленных стоков</span></a></li>
					<li><a href="#"><span>Установки водоподготовки</span></a></li>
					<li><a href="#"><span>Канализационные насосные станции (КНС)</span></a></li>
					<li><a href="#"><span>Противопожарные насосные станции</span></a></li>
					<li><a href="#"><span>Повысительные насосные станции</span></a></li>
				</ul>
			</li>			
			<li><a href="worksheet.html"><span>Опросные листы</span></a></li>
			<li><a href="single-service.html"><span>Услуги</span></a></li>
			<li><a href="about.html"><span>О компании</span></a></li>
			<li><a href="projects.html"><span>Проекты</span></a></li>
			<li><a href="reviews.html"><span>Отзывы</span></a></li>
			<li><a href="#"><span>Контакты</span></a></li>
		</ul>
	</div>

	<div class="menu-footer">		
		<div class="mobile-menu-contacts">
			<div class="mobile-menu-contacts__title">Свяжитесь с нами</div>
			<ul class="mobile-menu-contacts__list">
				<li><a href="tel:+74991306045">+7 (499) 130-60-45</a></li>
				<li><a href="mailto:info@zenit-sever.ru">info@zenit-sever.ru</a></li>
			</ul>
		</div>
		<form action="#" class="mobile-menu-search">
  <div class="mobile-menu-search__box">
    <input type="search" name="search" placeholder="Введите ваш запрос">
    <button type="submit"><img src="img/icons/search_black_icon.svg" alt=""></button>
  </div>  
</form>		
	</div>

</nav>




			<ul class="header-contacts">
				<li><a href="mailto:info@zenit-sever.ru">info@zenit-sever.ru</a></li>
				<li><a href="tel:+74991306045">+7 (499) 130-60-45</a></li>
			</ul>

			<button class="btn-cb" data-fancybox data-src="#callbackModal"><span>Оставить заявку</span></button>			

			<div class="rs-header__search">
				<button class="header-search-open"><img src="img/icons/search_black_icon.svg" alt=""></button>
<div class="header-search">
	<form action="#">		
		<input type="text" name="headerSearch" placeholder="Введите ваш запрос" />
		<button type="reset"></button>
		<button type="submit"><img src="img/icons/search_black_icon.svg" alt=""></button>
	</form>	
</div>
 
			</div>

			<button class="menu-burger">
  <span></span>
  <span></span>
  <span></span>
</button>

		</div>
	</div>
</div>
 
      </header>
      
      <div class="main">        
        
   










<div class="page-head">
  <div class="stripes">
	<div class="stripes__container">
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>		
	</div>
</div>

  <div class="page-head__container">
    <div class="page-head__wrapper">
      <div class="page-head__content">
        
  <div class="breadcrumbs " data-hidescroll>    
    
      <span><a href="#">Главная</a></span>
      <span class="sep">—</span>
        
    <span class="current">Продукция</span>    
  </div>

        <h1>наши услуги</h1>
      </div>
    </div>    
  </div>
</div>









  <!-- rs-single-service -->
  <link rel="stylesheet" href="css/block-css/rs-single-service.css" />
<section class="rs-single-service">
  <div class="stripes">
	<div class="stripes__container">
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>		
	</div>
</div>

  <div class="rs-single-service__container">
    <div class="page-sidebar">
      <div class="page-aside">
        
<nav class="sidebar-menu" data-spollers="1023.98, max">
	<button type="button" data-spoller><span>Каталог услуг</span></button>
	<ul class="sidebar-menu__list">
		<li><a href="#"><span>Предпроектные изыскания</span></a></li>
		<li><a href="#"><span>Проектирование</span></a></li>
		<li><a href="#"><span>Ремонт стеклопластиковых емкостей и резервуаров</span></a></li>
		<li class="current-menu-item"><a href="#"><span>Шеф-монтаж</span></a></li>
		<li><a href="#"><span>Пуско-наладочные работы</span></a></li>
		<li><a href="#"><span>Обучение персонала</span></a></li>
		<li><a href="#"><span>Обслуживание оборудования</span></a></li>
	</ul>
</nav>







      </div>
      <div class="page-content">
        
 


<div class="single-service">
	<div class="single-service-banner">
		<img src="img/banner.jpg" alt="">
		<h3 class="single-service-banner__title">Доверьте нам качество и&nbsp;безопасность вашего продукта</h3>
	</div>
	<div class="single-service__wrapper">		
		<div class="single-service__content base-content" >
			<h3>Шеф-монтаж</h3>
			<p>Шеф-монтажные работы являются неотъемлемой частью любого проекта, поскольку они обеспечивают качество и безопасность конечного продукта. Важным аспектом шеф-монтажа является проверка правильности проведения СМР (строительно-монтажных работ) и соблюдения требований нормативных актов.</p>
			<p>Что включает в себя контроль качества материалов, используемых в строительстве, а также проверку соответствия проектных решений и технологий строительства действующим нормам и стандартам. Одной из ключевых задач шеф-монтажа является обеспечение того, чтобы все работы выполнялись в соответствии с утвержденными проектными документами.</p>
			<p>Это означает, что каждый этап строительства должен быть тщательно спланирован и согласован с проектными требованиями, чтобы избежать возможных ошибок и недочетов. Кроме того, шеф-монтажные работы включают в себя проверку соответствия используемых материалов и технологий строительства действующим нормам и стандартам.</p>
			<p>Безопасность является еще одним важным аспектом шеф-монтажа. Все работы должны выполняться с соблюдением всех необходимых требований безопасности, чтобы предотвратить возможные риски для рабочих и окружающей среды.</p>
			<p>Для этого необходимо использование соответствующего оборудования и средств индивидуальной защиты, а также проведение регулярных инструктажей и обучения персонала. Проверка правильности проведения СМР и соблюдения требований нормативных актов является ключевым аспектом шеф-монтажа.</p>
			<p>Мы контролируем качество материалов, используемых в строительстве, а также проверку соответствия проектных решений и технологий строительства действующим нормам и стандартам.</p>
			<p>Важно, чтобы все работы выполнялись в соответствии с утвержденными проектными документами и с соблюдением всех необходимых требований безопасности.</p>
			<p>В заключение, шеф-монтажные работы играют критически важную роль в обеспечении качества и безопасности строительных проектов. Проверка правильности проведения СМР и соблюдения требований нормативных актов, контроль качества материалов и соблюдение требований безопасности являются ключевыми аспектами шеф-монтажа, которые должны быть тщательно соблюдены на каждом этапе строительства.</p>
			<p>Проведение шеф-монтажных работ на высоком уровне качества является для нас залогом успешного выполнения проекта и достижения желаемых результатов.</p>			
		</div>   
    <div class="single-service__btn">
      
<a href="#" class="btn-color ">
	<span>Отправить заявку</span>
</a>

    </div>
	</div>
</div>

      </div>
    </div>
  </div>
</section> 

      </div>

      <footer>       
         
 









<link rel="stylesheet" href="css/block-css/rs-footer.css" />
<section class="rs-footer">

	<div class="rs-footer__container">
		<div class="rs-footer__wrapper">
			<div class="rs-footer__info">
				<div class="footer-logo"><img src="img/logo_footer.png" alt=""></div>
				
<div class="footer-copyright">	
	<p>© ООО НПО «Зенит-Север» 2024. Все права защищены.</p>
	<a href="#">Разработано в Россайт</a>
</div>

			</div>
			<div class="rs-footer__contacts">				
				
<div class="footer-contacts">
	<ul class="footer-contacts__list">
		<li><a href="tel:+74991306045">+7 (499) 130-60-45</a></li>
		<li><a href="mailto:info@zenit-sever.ru">info@zenit-sever.ru</a></li>
		<li><a href="#">Москва, Нововладыкинский&nbsp;пр-д, д.&nbsp;8, стр.&nbsp;5. БЦ&nbsp;«Красивый дом»</a></li>
		<li><p>Пн-Пт с 9:00 до 18:00</p></li>
	</ul>
	
<a href="#" class="btn-color btn-color_tg">
	<span>Написать нам в Telegram</span>
</a>

</div>	

			</div>
			<div class="rs-footer__menu">
				<h4 class="footer-title">Услуги</h4>
				
<nav class="footer-menu ">  
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>ЛОС (Ливневые очистные сооружения)</span></a></li>
    
    <li><a href="#"><span>Емкости из стеклопластика</span></a></li>
    
    <li><a href="#"><span>Очистные хозяйственно-бытовых стоков</span></a></li>
    
    <li><a href="#"><span>Очистные промышленных стоков</span></a></li>
    
    <li><a href="#"><span>Установки водоподготовки</span></a></li>
    
    <li><a href="#"><span>Канализационные насосные станции (КНС)</span></a></li>
    
    <li><a href="#"><span>Противопожарные насосные станции</span></a></li>
    
    <li><a href="#"><span>Повысительные насосные станции</span></a></li>
       
  </ul>
</nav>

			</div>
			<div class="rs-footer__menu">
				<h4 class="footer-title">меню</h4>
				
<nav class="footer-menu ">  
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Главная </span></a></li>
    
    <li><a href="#"><span>Опросные листы</span></a></li>
    
    <li><a href="#"><span>Услуги</span></a></li>
    
    <li><a href="#"><span>О компании</span></a></li>
    
    <li><a href="#"><span>Отзывы</span></a></li>
    
    <li><a href="#"><span>Проекты</span></a></li>
    
    <li><a href="#"><span>Отзывы</span></a></li>
    
    <li><a href="#"><span>Контакты</span></a></li>
       
  </ul>
</nav>

			</div>
		</div>
	</div>

	<div class="stripes">
	<div class="stripes__container">
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>
		<div class="stripes__stripe"></div>		
	</div>
</div>


</section>
 


      </footer>

      <div class="modals">
        <div class="modal-dialog" id="callbackModal">
  <div class="modal-dialog-header">
    <h4>Заголовок</h4>
    <p>Подзаголовок, Тут будет текст для Формы обратной связи</p>
  </div>
  <div class="modal-dialog-content">
    
 

<div class="md-fos" >	
	<div class="md-fos__wrapper">		
		<div class="md-fos__content">			
			<form action="#" id="mdFosForm" class="base-form">	
				<div class="form-group">
					 
   
<input type="text" id="mdFosName" name="mdFosName" placeholder="Ваше имя" required>

				</div>
				<div class="form-group">						
					 
   
<input type="email" id="mdFosMail" name="mdFosMail" placeholder="Email" required>

				</div>				
				<div class="form-group">
					 
   
<input type="tel" id="mdFosPhone" name="mdFosPhone" placeholder="Телефон" required maxlength="18" data-tel-input>

				</div>						
				<div class="form-group">					
					
   
<textarea id="mdFosMessage" name="mdFosMessage" placeholder="Ваше сообщение" required></textarea>

				</div>									
				<div class="form-submit form-submit_clm">
					<p>Нажимая кнопку «Отправить заявку» вы соглашаетесь на обработку ваших персональных данных в соответствии с <a href="#">пользовательским соглашением</a></p>
					<button type="submit" class="btn-color"><span>Отправить заявку</span></button>
				</div>
			</form>
		</div>			
	</div>
</div>
              
  </div>
  <div class="modal-dialog-footer">
    <img src="img/fos_footer.jpg" alt="">
  </div>
</div>

      </div>
      
    </div>
  </body>
</html>
