.footer-menu {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
}

.footer-menu__list {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-menu__list li:not(:last-child) {
    margin-bottom: 1.125em;
}

.footer-menu__list li a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1em;
    color: #6D7FA8;
    transition: 0.3s;
}

.footer-menu__list li a:hover {
    color: #0BBBEF;
}

.rs-footer__top {
    padding-top: 110px;
    padding-bottom: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rs-footer__menu {
    min-width: 319px;
    position: relative;
    margin-bottom: 20px;
}

.rs-footer__menu:not(:last-child) {
    margin-right: 30px;
}

.rs-footer__contacts {
    margin-right: 30px;
    max-width: 319px;
}

.rs-footer__info {
    max-width: 313px;
    margin-right: 146px;
    margin-bottom: 20px;
}

.rs-footer._init .footer-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.rs-footer._init .footer-title::after,
.rs-footer._init .footer-title::before {
    content: "";
    position: absolute;
    background-color: #95a3b2;
    transition: -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
}

.rs-footer._init .footer-title::after {
    right: 18px;
    width: 2px;
    height: 14px;
}

.rs-footer._init .footer-title::before {
    top: 50%;
    right: 12px;
    height: 2px;
    width: 14px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-footer._init .footer-title._active::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rs-footer._init .footer-title._active::before {
    -webkit-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
}

.rs-footer._init .not-spoller.footer-title::after,
.rs-footer._init .not-spoller.footer-title::before {
    display: none;
}

.rs-footer .footer-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: #241E46;
    margin-top: 0;
    margin-bottom: 32px;
}

.rs-footer .footer-info__logo {
    width: 198px;
    margin-bottom: 32px;
}

.rs-footer .footer-info__logo img {
    width: 100%;
}

.rs-footer .footer-info p {
    color: #6D7FA8;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.rs-footer .footer-contacts__list {
    margin-top: 0;
    margin-bottom: 0;
}

.rs-footer .footer-contacts__list li:not(:last-child) {
    margin-bottom: 18px;
}

.rs-footer .footer-contacts__list li p,
.rs-footer .footer-contacts__list li a {
    font-size: 16px;
    line-height: 1.25;
    color: #6D7FA8;
    margin-top: 0;
    margin-bottom: 8px;
    transition: color 0.3s;
}

.rs-footer .footer-contacts__list li a:hover {
    color: #0BBBEF;
}

.rs-footer .footer-bottom {
    font-size: 16px;
    color: #241E46;
    line-height: 1.4;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid rgba(36, 30, 70, 0.2);
}

.rs-footer .footer-bottom__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-footer .footer-bottom p {
    margin-bottom: 0;
    margin-top: 0;
}

.rs-footer .footer-bottom a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #241E46;
}

.rs-footer .footer-bottom a img {
    margin-left: 8px;
}

@media (max-width: 1506px) {
    .rs-footer__menu {
        min-width: auto;
    }
}

@media (max-width: 991.98px) {
    .rs-footer__top {
        display: block;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .rs-footer__menu:not(:last-child) {
        margin-right: 0;
    }

    .rs-footer__menu {
        margin-bottom: 0;
    }

    .rs-footer__contacts {
        max-width: none;
        margin-right: 0;
    }

    .rs-footer__info {
        margin-right: 0 !important;
        width: auto;
    }

    .rs-footer .footer-wrapper {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .rs-footer .footer-title {
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 16px;
    }

    .rs-footer .footer-bottom__wrapper {
        -ms-flex-align: center;
        align-items: center;
        display: block;
        max-width: none;
    }

    .rs-footer .footer-bottom p {
        text-align: center;
    }

    .rs-footer .footer-bottom a {
        -ms-flex-pack: center;
        justify-content: center;
    }
}