.rs-subscribe {
    padding-top: 0px;
    padding-bottom: 10px;
    position: relative;
}

.rs-subscribe__container {
    position: relative;
    display: grid;
    grid-template-columns: 41% 1fr;
    -webkit-column-gap: 202px;
    -moz-column-gap: 202px;
    column-gap: 202px;
    row-gap: 35px;
    -ms-flex-align: center;
    align-items: center;
}

.rs-subscribe__container::before {
    content: url("../../img/dots2_bg.svg");
    position: absolute;
    left: -165px;
    bottom: 50px;
    -webkit-animation: moving 9s linear infinite;
    animation: moving 9s linear infinite;
}

.rs-subscribe__col {
    position: relative;
}

.rs-subscribe__photo {
    height: 100%;
    position: relative;
}

.rs-subscribe__photo img {
    width: 100%;
}

.rs-subscribe__photo::after {
    content: url(../../img/rs-subscribe/subscribe_arrow.svg);
    position: absolute;
    top: 68%;
    left: calc(100% - 20px);
    width: 0;
    overflow: hidden;
    transition: width 0.5s linear 0.2s;
}

.rs-subscribe__photo.in-viewport::after {
    width: 165px;
}

.rs-subscribe__content {
    margin-top: 32px;
}

.rs-subscribe__content > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #6d7fa8;
    margin-top: 0;
    margin-bottom: 32px;
}

.rs-subscribe__quote {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding-left: 112px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    background: #ffffff url("../../img/icons/quote_icon.svg") 24px 24px no-repeat;
    margin-bottom: 16px;
}

.rs-subscribe__quote > h6 {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #241e46;
}

.rs-subscribe__quote > p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #241e46;
}

@media (max-width: 991.98px) {
    .rs-subscribe__container {
        grid-template-columns: 1fr;
    }

    .rs-subscribe__col:nth-child(1) {
        grid-row: 2/3;
    }

    .rs-subscribe__photo::after {
        display: none;
    }
}