@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "Roboto";
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Roboto";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    background-color: #FFFFFF;
    color: #181618;
}

body._lock {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

html {
    font-size: 16px;
}

.wrapper,
.site {
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.wrapper > main,
.wrapper .site-content,
.site > main,
.site .site-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.wrapper > *,
.site > * {
    min-width: 0;
}

header {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
}

main {
    padding-top: 142px;
}

[class*=__container] {
    max-width: 1476px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 15px;
}

.swiper {
    overflow: hidden;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.swiper-vertical .swiper-wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
    -ms-flex-align: start;
    align-items: flex-start;
}

.swiper-initialized .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
    display: none !important;
}

.swiper-grid > .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
}

.btn-color {
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    height: 58px;
    padding-left: 22px;
    padding-right: 22px;
    outline: none;
    overflow: hidden;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    transition: 0.25s ease;
    background-color: #241E46;
    color: #FFFFFF;
}

.btn-color::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    -webkit-mask-image: url(../../img/icons/dots-icon.svg);
    mask-image: url(../../img/icons/dots-icon.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: #FFFFFF;
    transition: 0.25s ease;
}

.btn-color:hover {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.08);
    color: #FFFFFF;
    background-color: #0bbbef;
}

.btn-color_white {
    background-color: #FFFFFF;
    color: #241E46;
}

.btn-color_white::before {
    background-color: #241E46;
}

.btn-color_white:hover {
    color: #FFFFFF;
}

.btn-color_white:hover::before {
    background-color: #FFFFFF;
}

.btn-color_rocket::before {
    -webkit-mask-image: url(../../img/icons/rocket-icon.svg);
    mask-image: url(../../img/icons/rocket-icon.svg);
}

.btn-color_paper::before {
    -webkit-mask-image: url(../../img/icons/newspaper-icon.svg);
    mask-image: url(../../img/icons/newspaper-icon.svg);
}

.btn-color_book::before {
    -webkit-mask-image: url(../../img/icons/book-icon.svg);
    mask-image: url(../../img/icons/book-icon.svg);
}

.btn-color_video::before {
    -webkit-mask-image: url(../../img/icons/video-icon.svg);
    mask-image: url(../../img/icons/video-icon.svg);
}

.btn-color_reviews::before {
    -webkit-mask-image: url(../../img/icons/reviews-icon.svg);
    mask-image: url(../../img/icons/reviews-icon.svg);
}

.btn-color_noicon::before {
    display: none;
}

.button-link {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-transform: capitalize;
    color: #241E46;
    position: relative;
}

.button-link::before,
.button-link::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #241E46;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.button-link::before {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.button-link::after {
    top: calc(100% + 4px);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.button-link:hover::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.button-link:hover::after {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
}

.section-title h3 {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.1;
    color: #241E46;
    margin-top: 0;
    margin-bottom: 0;
}

.section-title h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #505f80;
    margin-top: 0;
    margin-bottom: 24px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
}

.section-title h4::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #E30613;
    border-radius: 50%;
    margin-right: 12px;
}

.section-title_small h3 {
    font-size: 40px;
}

.section-title_center {
    text-align: center;
}

.section-title_yellow h4:before {
    background-color: #FFD500;
}

.section-title_cyan h4:before {
    background-color: #0BBBEF;
}

.form-group {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
    width: 100%;
}

.form-group .error {
    color: #ff3844;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

.form-group .form-control {
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #231F20;
    border: 2px solid #d7e2fc;
    background-color: #FFFFFF;
}

.form-group .form-control::-webkit-input-placeholder {
    color: #a7b3ce;
    transition-duration: 0.3s;
}

.form-group .form-control::-moz-placeholder {
    color: #a7b3ce;
    transition-duration: 0.3s;
}

.form-group .form-control:-ms-input-placeholder {
    color: #a7b3ce;
    transition-duration: 0.3s;
}

.form-group .form-control::-ms-input-placeholder {
    color: #a7b3ce;
    transition-duration: 0.3s;
}

.form-group .form-control::placeholder {
    color: #a7b3ce;
    transition-duration: 0.3s;
}

.form-group .form-control:hover::-webkit-input-placeholder {
    color: #241E46;
}

.form-group .form-control:hover::-moz-placeholder {
    color: #241E46;
}

.form-group .form-control:hover:-ms-input-placeholder {
    color: #241E46;
}

.form-group .form-control:hover::-ms-input-placeholder {
    color: #241E46;
}

.form-group .form-control:hover::placeholder {
    color: #241E46;
}

.form-group .form-control.error {
    border-color: #ff3844;
}

.form-group label {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #241e46;
    margin-bottom: 8px;
}

.form-group input[type=text] {
    height: 58px;
}

.form-group input[type=email] {
    height: 58px;
}

.form-group input[type=tel] {
    height: 58px;
}

.form-group input[type=tel].expanded {
    margin-top: 8px;
}

.form-group textarea {
    height: 172px;
    resize: none;
}

.slider-arrows {
    position: relative;
}

.slider-arrows .slider-arrow {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 4px;
    margin-right: 4px;
    position: relative;
    transition: 0.25s ease;
    background-color: #241E46;
}

.slider-arrows .slider-arrow:before {
    content: url(../../img/icons/arrow-left-icon.svg);
}

.slider-arrows .slider-arrow:hover {
    background-color: #0bbbef;
    box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.08);
}

.slider-arrows .slider-arrow_prev {
    -webkit-transform: none;
    transform: none;
}

.slider-arrows .slider-arrow_prev:hover {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}

.slider-arrows .slider-arrow_next {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.slider-arrows .slider-arrow_next:hover {
    -webkit-transform: scaleX(-1) translateY(-6px);
    transform: scaleX(-1) translateY(-6px);
}

.card-slider {
    position: relative;
}

.card-slider__slider {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.card-slider__swiper {
    will-change: transform;
}

.card-slider__nav {
    position: absolute;
    right: 0;
    bottom: 100%;
}

@-webkit-keyframes moving {
    0% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }

    20% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }

    50% {
        -webkit-transform: translatey(-40px);
        transform: translatey(-40px);
    }

    100% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
}

@keyframes moving {
    0% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }

    20% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }

    50% {
        -webkit-transform: translatey(-40px);
        transform: translatey(-40px);
    }

    100% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 991.98px) {
    main {
        padding-top: 106px;
    }
}

@media (max-width: 767.98px) {
    .section-title h3 {
        font-size: 30px;
    }

    .card-slider__nav {
        display: none;
    }
}

@media (any-hover: none) {
    .no-scroll::-webkit-scrollbar {
        width: 0;
    }

    .no-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}