<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="css/block-css/style.css" />
	<title>AV group</title>
</head>

  <body class="page-type-default">   
    <div class="preloader">
  <span class="vline"></span>  
  <div class="preloader__percent">
    <span>Loading ...</span>
    <p><span id="percent">0</span>%</p>
  </div>  
  <span class="hline"></span>
</div>     
    <button id="scroll-top" type="button">  
</button>

    <div class="wrapper">
      
      <header>        
        




<link rel="stylesheet" href="css/block-css/rs-header.css" />
<div class="rs-header">	
	<div class="rs-header__container">
		<div class="rs-header__logo"><a href="#" class="logo"><img src="img/icons/logo.svg" alt="" /></a></div>
		<button class="menu-burger">
  <span></span>
  <span></span>
  <span></span>
</button>
		<span class="menu-overlay"></span>

<nav class="menu" data-spollers="991, max">
	<ul class="menu__list nav">		
		<li><a href="#">About us</a></li>	
		<li><a href="#"><span>Services</span></a></li>
		<li><a href="#"><span>Partners</span></a></li>
		<li><a href="#"><span>Contacts</span></a></li>
	</ul>

	<div class="mobile-menu-block">
	<a href="#" class="mobile-menu-block__btn">Ask a question</a>
	<div class="mobile-menu-block__wrapper">
    <div class="mobile-menu-block__contacts">
      <a href="tel:+70000000000 ">+7 (000) 000-00-00 </a>
			<a href="mailto:mail@mail.ru">mail@mail.ru</a>
		</div>
    <div class="mobile-menu-block__lang-picker"><div class="lang-picker">
  <button type="button" class="lang-picker__current">    
    <span>EN</span>
  </button>
  <ul class="lang-picker__dropdown">
    <li>
      <a href="#">RU</a>
    </li>
  </ul>		
</div>
</div>
		<div class="mobile-menu-block__loc"><a href="#">Moscow</a></div>
	</div>
</div>

</nav>



		<ul class="rs-header__contacts">
			<li><a href="mailto:mail@mail.ru">mail@mail.ru</a></li>
			<li><a href="tel:+70000000000 ">+7 (000) 000-00-00</a></li>			
		</ul>
		<a href="#" class="rs-header__btn">Ask a question</a>
		<div class="rs-header__lang"><div class="lang-picker">
  <button type="button" class="lang-picker__current">    
    <span>EN</span>
  </button>
  <ul class="lang-picker__dropdown">
    <li>
      <a href="#">RU</a>
    </li>
  </ul>		
</div>
</div>
	</div>
</div>


      </header>

      <main>
        

<!-- rs-slider -->
<link rel="stylesheet" href="css/block-css/rs-slider.css" />
<section class="rs-slider">	
	<div class="rs-slider__slider">
		<div class="rs-slider__swiper">
			<div class="rs-slider__slide">				
				<picture>
					<source media="(max-width: 991.98px)" srcset="img/rs-slider/slider_1_min.webp">
					<img class="rs-slider__bg" src="img/rs-slider/slider_1.webp" alt="">
				</picture>
			</div>
			<div class="rs-slider__slide">				
				<picture>
					<source media="(max-width: 991.98px)" srcset="img/rs-slider/slider_2_min.webp">
					<img class="rs-slider__bg" src="img/rs-slider/slider_2.webp" alt="">
				</picture>
			</div>		
			<div class="rs-slider__slide">				
				<picture>
					<source media="(max-width: 991.98px)" srcset="img/rs-slider/slider_3_min.webp">
					<img class="rs-slider__bg" src="img/rs-slider/slider_3.webp" alt="">
				</picture>
			</div>		
		</div>		
	</div>
	<div class="slider-foreground">
		<span class="h-strip"  style="--d: 1.2s"></span>		
		<div class="slider-foreground__container">		
			<div class="slider-foreground__content">
				<span class="v-strip" style="--d: 2s"></span>
				<span class="v-strip v-strip_r" style="--d: 2s"></span>
				<h1>Full service mining operations</h1>
				<ol>
					<li>Providing open pit and underground mining operations under any conditions</li>
					<li>Our priorities are safety, quality and reliability</li>
					<li>Advanced technologies and best international practices</li>
					<li>Highly experienced team of specialists</li>
				</ol>
			</div>				
			<div class="slider-foreground__logo">
				<svg width="1172" height="850" viewBox="0 0 1172 850" xmlns="http://www.w3.org/2000/svg">
					<path d="M732.207 0L293.74 435.373C308.621 434.443 333.019 433.978 348.845 433.978C427.619 433.978 465.022 458.392 486.46 479.349C508.408 500.786 519.352 528.207 519.352 566.586V706.929C519.352 721.887 519.352 735.342 521.863 742.86C527.335 756.283 554.771 807.652 554.771 807.652L489.144 850L434.61 809.652C423.62 815.604 393.704 832.05 378.761 838.049C352.332 848.512 325.408 850 312.48 850C290.516 850 262.088 845.52 234.682 830.082C206.766 814.643 174.865 780.216 174.865 721.391C174.865 610.716 286.548 597.262 347.341 596.75L415.172 596.27V569.578C415.172 543.134 404.058 531.105 390.107 521.634C376.637 512.148 343.854 509.761 318.448 509.761H219.368L0 735V850H489.144H759.643H675.965L537.813 439.233H657.943L752.683 750.827H759.643L854.367 439.233H973.04L876.208 731.761L1171.6 436.35V0H732.207ZM277.077 718.399C277.077 738.349 288.563 760.763 306.512 769.226C346.365 789.191 403.733 759.802 417.187 750.811V665.046H352.859C284.533 665.046 277.077 698.001 277.077 718.399Z"/>
				</svg>					
			</div>			
		</div>
	</div>	
</section>

<!-- rs-ceo -->




<link rel="stylesheet" href="css/block-css/rs-ceo.css" />
<section class="rs-ceo">
	<span class="h-strip"  style="--d: 1.2s"></span>	
	<div class="rs-ceo__container">
		<div class="rs-ceo__border">
			<span class="v-strip" style="--d: 2s"></span>
			<span class="v-strip v-strip_r" style="--d: 2s"></span>
			<div class="rs-ceo__content">
				
<div class="section-title ">	
	<h2>Ilya Chernilovsky, <br> CEO</h2>	
</div>

				<div class="rs-ceo__wrapper">
					<p>Nunc et eros ut arcu congue sodales. Ut imperdiet, ligula et posuere vulputate, est nibh dapibus elit, sed elementum est mauris id velit. Donec sollicitudin erat est, eu elementum nunc luctus id. Vivamus vehicula pharetra eros vitae accumsan. Mauris malesuada eros non est venenatis, at vulputate nibh finibus. Duis faucibus a enim et luctus. Phasellus porta interdum varius.</p>
					<p>Vestibulum vestibulum odio vitae mauris dignissim aliquet. Maecenas dapibus rutrum ultrices. In hac habitasse platea dictumst. Phasellus placerat viverra nisi quis aliquam. Etiam est mi, tincidunt ut bibendum ut, hendrerit et est. Nullam sodales magna ac tincidunt ullamcorper. Nam venenatis est sed tortor interdum finibus. Nullam pretium magna ipsum, at placerat elit hendrerit et. Pellentesque rhoncus efficitur ipsum, non auctor lacus posuere euismod. Quisque tincidunt ex risus, ornare aliquet nulla finibus id. Vestibulum in lacus vel velit eleifend dignissim.</p>
					<p>Mauris elementum iaculis elementum. Donec placerat lorem non pharetra auctor. Aenean laoreet risus arcu, sed condimentum urna ultricies eget. Phasellus dignissim lacinia placerat. Donec efficitur lorem congue leo posuere consequat. Curabitur ut erat justo. Maecenas consequat tempor nibh ut consequat. Quisque volutpat vehicula dui, quis lacinia felis. Nulla molestie, libero eget euismod facilisis, nisl risus mollis nulla, non egestas diam massa et nisi. Curabitur a lorem mauris. In vitae nisl vestibulum, molestie augue non, elementum nunc. In vel lectus a massa finibus pulvinar.</p>
				</div>
			</div>
			<div class="rs-ceo__photo">
				<span class="v-strip" style="--d: 2s"></span>
				<span class="v-strip v-strip_m" style="--d: 2.5s"></span>
				<div class="rs-ceo__photo-holder">
					<img src="img/rs-ceo/Ilya_Chernilovsky.webp" alt="">
				</div>
			</div>
		</div>
	</div>
</section>



<!-- rs-about -->










<link rel="stylesheet" href="css/block-css/rs-about.css" />
<section class="rs-about">
	<span class="h-strip" style="--d: 1.2s"></span>
	<div class="rs-about__container">
		<div class="rs-about__wrapper">
			<span class="v-strip" style="--d: 2s"></span>
			<span class="v-strip v-strip_r" style="--d: 2s"></span>
			<div class="rs-about__slider">
<div class="about-slider">
	<div class="about-slider__column">
		<div class="about-slider__slider">
			<div class="about-slider__swiper">
				<div class="about-slider__slide"><img src="img/rs-about/Leading_mining_img_1.webp" alt=""></div>
				<div class="about-slider__slide"><img src="img/rs-about/Leading_mining_img_2.webp" alt=""></div>
				<div class="about-slider__slide"><img src="img/rs-about/Leading_mining_img_3.webp" alt=""></div>
				<div class="about-slider__slide"><img src="img/rs-about/Leading_mining_img_4.webp" alt=""></div>
			</div>
		</div>
	</div>
	<div class="about-slider__column">
		<div class="about-slider__title">
<div class="section-title ">	
	<h2>Leading mining service company</h2>	
</div>
</div>
		<div class="about-slider__arrow"><img src="img/rs-about/Leading_mining_arrow.svg" alt=""></div>
	</div>
</div>
</div>
			<div class="rs-about__info">
<div class="about-info">
	<div class="about-info__load">
		<span class="v-strip" style="--d: 1.2s"></span>
			<span class="v-strip v-strip_r" style="--d: 1.2s"></span>
		<h6>Presentation about the company</h6>
		<a href="#"><img src="img/rs-about/presentation.png" alt=""></a>
	</div>
	<div class="about-info__content">
		<p>AV Group is the largest vertically integrated service company in the CIS with a full range of services for open-pit and underground mining, being a leader in the production of explosives and means of initiation.</p>
		<div class="about-info__btn">
<a href="#" class="btn-border ">
	<span>Video about the company</span> 	
</a>
</div>
	</div>
</div>
</div>
		</div>
	</div>
</section>



<!-- rs-metrics -->








<link rel="stylesheet" href="css/block-css/rs-metrics.css" />
<section class="rs-metrics">
	<span class="h-strip" style="--d: 1.2s"></span>	
	<div class="rs-metrics__container">
		<div class="rs-metrics__border">
			<span class="v-strip" style="--d: 2s"></span>
			<span class="v-strip v-strip_r" style="--d: 2s"></span>
			<div class="rs-metrics__items">
				<div class="rs-metrics__item">
<div class="section-title ">	
	<h2>AV Group in numbers</h2>	
</div>
</div>
				<div class="rs-metrics__item">
<div class="metrics-item">	
	<h6><span class="counter">2002</span></h6>	
	<p>AV Group foundation</p>
</div>
</div>
				<div class="rs-metrics__item">
<div class="metrics-item">	
	<h6><span class="counter">6500</span>+</h6>	
	<p>AV Group experts</p>
</div>
</div>
				<div class="rs-metrics__item">
<div class="metrics-item">	
	<h6><span class="counter">423</span>+</h6>	
	<p>mln. m<sup>3</sup> of blasted rock mass per year</p>
</div>
</div>
				<div class="rs-metrics__item">
<div class="metrics-item">	
	<h6><span class="counter">332</span>+</h6>	
	<p>k. tons of explosives per year</p>
</div>
</div>
				<div class="rs-metrics__item">
<div class="metrics-item">	
	<h6><span class="counter">68</span>+</h6>	
	<p>mln.m<sup>3</sup> of rock mass per year – capacity of the excavator fleet</p>
</div>
</div>
				<div class="rs-metrics__item">
<div class="metrics-item">	
	<h6><span class="counter">15</span></h6>	
	<p>specialized plants in emulsion explosives manufacturing</p>
</div>
</div>
				<div class="rs-metrics__item">
<div class="metrics-item">	
	<h6><span class="counter">5</span></h6>	
	<p>production facilities of initiating means</p>
</div>
</div>
				<div class="rs-metrics__item">
<div class="metrics-item">	
	<h6><span class="counter">392</span>+</h6>	
	<p>ton-km per year – the capacity of the mining transport park</p>
</div>
</div>
			</div>
		</div>
	</div>
</section>



<!-- rs-mission -->




<link rel="stylesheet" href="css/block-css/rs-mission.css" />
<section class="rs-mission">
	<span class="h-strip" style="--d: 1.2s"></span>
	<div class="rs-mission__container">
		<div class="rs-mission__border">
			<span class="v-strip" style="--d: 2s"></span>
			<span class="v-strip v-strip_r" style="--d: 2s"></span>
			<div class="rs-mission__slider">
				<div class="rs-mission__swiper">
					<div class="rs-mission__slide">
						<div class="rs-mission__content">
							<h3>Our mission <br> & values</h3>
							<p>We support our customers in the efficient extraction of minerals in various geographical, mine-geological and climatic conditions. We work hard to create high technology, reliable and safe mine solutions for open pit and underground mining operations.</p>
						</div>
						<div class="rs-mission__img"><img src="img/our_mission_bg.svg" alt=""></div>
					</div>
					<div class="rs-mission__slide">
						<div class="rs-mission__content">
							<h3>Quality <br> & reliability</h3>
							<p>We are constantly improving the quality of our services and products by adopting technological innovations, applying the best practices and enhancing our skills in order to achieve the best results.</p>
						</div>
						<div class="rs-mission__img"><img src="img/our_mission_bg.svg" alt=""></div>
					</div>
					<div class="rs-mission__slide">
						<div class="rs-mission__content">
							<h3>Safety <br> & Sustainability</h3>
							<p>We have strict control over our production processes by providing a safe working environment and minimizing the impact of our operations on the surrounding environment.</p>
						</div>
						<div class="rs-mission__img"><img src="img/our_mission_bg.svg" alt=""></div>
					</div>
					<div class="rs-mission__slide">
						<div class="rs-mission__content">
							<h3>Client <br> approach</h3>
							<p>We closely analyze the needs of mining companies, respond quickly to their requests and maintain an open conversation with our clients every step of the way.</p>
						</div>
						<div class="rs-mission__img"><img src="img/our_mission_bg.svg" alt=""></div>
					</div>
					<div class="rs-mission__slide">
						<div class="rs-mission__content">
							<h3>Our <br> people</h3>
							<p>We know that people are the ones who run any business. We strive to become an industry-leading employer because we care about our people. In addition, we provide good working conditions and support our employees in their career and personal growth</p>
						</div>
						<div class="rs-mission__img"><img src="img/our_mission_bg.svg" alt=""></div>
					</div>
				</div>
			</div>			
			<div class="slider-arrows">
  <button type="button" class="slider-arrow slider-arrow_prev"></button>
  <button type="button" class="slider-arrow slider-arrow_next"></button>
</div>
		</div>
	</div>
</section>





<!-- rs-parallax -->




<link rel="stylesheet" href="css/block-css/rs-parallax.css" />
<section class="rs-parallax">
	<div class="rs-parallax__container">
		<div class="rs-parallax__wrapper">
			<div class="rs-parallax__photo"><img src="img/paralax_1_img.webp" alt=""></div>
			<div class="rs-parallax__logo"><img src="img/paralax_1_logo.svg" alt=""></div>
		</div>
	</div>
</section>



<!-- rs-services -->




<link rel="stylesheet" href="css/block-css/rs-services.css" />
<section class="rs-services">
	<div class="rs-services__container">
		<div class="rs-services__border block-border">
			<div class="rs-services__title">
<div class="section-title ">	
	<h2>services</h2>	
</div>
</div>
			<div class="rs-services__wrapper">
				<div class="services-slider">
					<div class="services-slider__wrapper">
						<div class="services-slider__slider">
							<div class="services-slider__swiper">
								<div class="services-slider__slide">
									<img src="img/rs-services/service_1.webp" alt="">
									<div class="services-slider__slide-content">										
										<h3><span>Service</span> Initiating means and explosives</h3>
										<p>Wide range of safe and highly effective initiating means of all types for various operating conditions. Advanced and safe explosives certified according to international standards.</p>
									</div>
								</div>								
								<div class="services-slider__slide">
									<img src="img/rs-services/service_2.webp" alt="">
									<div class="services-slider__slide-content">										
										<h3>Initiating means and explosives</h3>
										<p>Wide range of safe and highly effective initiating means of all types for various operating conditions. Advanced and safe explosives certified according to international standards.</p>
									</div>
								</div>
								<div class="services-slider__slide">
									<img src="img/rs-services/service_3.webp" alt="">
									<div class="services-slider__slide-content">										
										<h3><span>Service</span> Initiating means and explosives</h3>
										<p>Wide range of safe and highly effective initiating means of all types for various operating conditions. Advanced and safe explosives certified according to international standards.</p>
									</div>
								</div>
								<div class="services-slider__slide">
									<img src="img/rs-services/service_4.webp" alt="">
									<div class="services-slider__slide-content">										
										<h3><span>Service</span> Initiating means and explosives</h3>
										<p>Wide range of safe and highly effective initiating means of all types for various operating conditions. Advanced and safe explosives certified according to international standards.</p>
									</div>
								</div>
							</div>
						</div>
					</div>				
					<div class="services-slider__arrows">
						<button type="button" class="services-slider__arrow services-slider__arrow_prev"></button>
						<button type="button" class="services-slider__arrow services-slider__arrow_next"></button>
					</div>					
					<div class="services-slider__paging"></div>
				</div>
			</div>
		</div>
	</div>
</section>



<!-- rs-fleet -->








<link rel="stylesheet" href="css/block-css/rs-fleet.css" />
<section class="rs-fleet">
	<span class="h-strip" style="--d: 1.2s"></span>
	<div class="rs-fleet__container">
		<div class="rs-fleet__border">
			<span class="v-strip" style="--d: 2s"></span>
			<span class="v-strip v-strip_r" style="--d: 2s"></span>
			<div class="rs-fleet__title">
				<span class="h-strip h-strip_b" style="--d: 1.2s"></span>
				
<div class="section-title ">	
	<h2>Large equipment <br> fleet</h2>	
</div>

			</div>
			<div class="rs-fleet__items">
				<div class="rs-fleet__item plug"></div>
				<div class="rs-fleet__item">
<div class="fleet-item">	
	<h6><span class="counter">565</span>+</h6>	
	<p>AV Group foundation</p>
</div>
</div>
				<div class="rs-fleet__item">
<div class="fleet-item">	
	<h6><span class="counter">174</span>+</h6>	
	<p>AV Group experts</p>
</div>
</div>
				<div class="rs-fleet__item">
<div class="fleet-item">	
	<h6><span class="counter">2002</span></h6>	
	<p>AV Group foundation</p>
</div>
</div>
				<div class="rs-fleet__item plug"></div>
				<div class="rs-fleet__item plug"><img src="img/figure.png" alt=""></div>
				<div class="rs-fleet__item plug"></div>
				<div class="rs-fleet__item plug"></div>
				<div class="rs-fleet__item">
<div class="fleet-item">	
	<h6><span class="counter">68</span>+</h6>	
	<p>mln.m<sup>3</sup> of rock mass per year – capacity of the excavator fleet</p>
</div>
</div>
				<div class="rs-fleet__item">
<div class="fleet-item">	
	<h6><span class="counter">15</span></h6>	
	<p>specialized plants in emulsion explosives manufacturing</p>
</div>
</div>
				<div class="rs-fleet__item">
<div class="fleet-item">	
	<h6><span class="counter">5</span></h6>	
	<p>production facilities of initiating means</p>
</div>
</div>	
				<div class="rs-fleet__item plug"></div>
			</div>
			<div class="rs-fleet__bg"><img src="img/numbers_2_bg.svg" alt=""></div>
		</div>
	</div>
</section>



<!-- rs-parallax -->




<link rel="stylesheet" href="css/block-css/rs-parallax.css" />
<section class="rs-parallax">
	<div class="rs-parallax__container">
		<div class="rs-parallax__wrapper">
			<div class="rs-parallax__photo"><img src="img/paralax_2_img.webp" alt=""></div>
			<div class="rs-parallax__logo"><img src="img/paralax_1_logo.svg" alt=""></div>
		</div>
	</div>
</section>



<!-- rs-partners -->





<link rel="stylesheet" href="css/block-css/rs-partners.css" />
<section class="rs-partners">
	<div class="rs-partners__container">
		<div class="rs-partners__border">
			<span class="v-strip" style="--d: 2s"></span>
			<span class="v-strip v-strip_r" style="--d: 2s"></span>
			
<div class="section-title ">	
	<h2>They are already cooperating with us</h2>	
</div>

			<div class="rs-partners__slider">
				<div class="partners-slider">
					<div class="partners-slider__slider">
						<div class="partners-slider__swiper">
							<div class="partners-slider__slide">
								<a href="#"><img src="img/rs-partners/logo_1.svg" alt=""></a>
							</div>
							<div class="partners-slider__slide">
								<a href="#"><img src="img/rs-partners/logo_2.svg" alt=""></a>
							</div>
							<div class="partners-slider__slide">
								<a href="#"><img src="img/rs-partners/logo_3.svg" alt=""></a>
							</div>
							<div class="partners-slider__slide">
								<a href="#"><img src="img/rs-partners/logo_4.svg" alt=""></a>
							</div>
							<div class="partners-slider__slide">
								<a href="#"><img src="img/rs-partners/logo_5.svg" alt=""></a>
							</div>
							<div class="partners-slider__slide">
								<a href="#"><img src="img/rs-partners/logo_6.svg" alt=""></a>
							</div>
						</div>
					</div>
					<div class="partners-slider__nav"><div class="slider-arrows">
  <button type="button" class="slider-arrow slider-arrow_prev"></button>
  <button type="button" class="slider-arrow slider-arrow_next"></button>
</div></div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- rs-fos -->
 



<link rel="stylesheet" href="css/block-css/rs-fos.css" />
<section class="rs-fos">	
	<span class="h-strip" style="--d: 1.2s"></span>
	<div class="rs-fos__container">
		<div class="rs-fos__border">
			<span class="v-strip" style="--d: 2s"></span>
			<span class="v-strip v-strip_r" style="--d: 2s"></span>
			<div class="rs-fos__wrapper">
				<div class="rs-fos__col">
					
<div class="section-title ">	
	<h2>How to <br> contact us</h2>	
</div>

					<div class="rs-fos__map-holder">
						<div class="rs-fos__map" data-da=".map-mobile-holder,991,1">
							<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A78fbce04c0ff2cfa7b86cfb16ac3fe917057b5bb1b26905e4fcc7420fada5320&amp;source=constructor"></iframe>
						</div>
					</div>
				</div>

				<div class="rs-fos__col">
					<div class="rs-fos__contacts">
						<div class="fos-contacts">
							<button class="fos-contacts__loc">Moscow</button>
							<a href="tel:+70000000000">+7 (000) 000-00-00</a>
							<a href="mailto:mail@mail.ru">mail@mail.ru</a>
						</div>
					</div>
					<div class="rs-fos__form">
						<form action="#" class="fos-form" id="fosForm">
							
<div class="form-group">  
  
    <label for="fosName">Name</label>
     
  <input type="text" class="form-control " id="fosName" name="fosName" placeholder="" required>
</div>


							<div class="fos-form__row">
								
<div class="form-group">  
  
    <label for="fosCompany">Company</label>
     
  <input type="text" class="form-control " id="fosCompany" name="fosCompany" placeholder="" required>
</div>

								
<div class="form-group">  
  
    <label for="fosCountry">Country</label>
     
  <input type="text" class="form-control " id="fosCountry" name="fosCountry" placeholder="" required>
</div>

							</div>
							<div class="fos-form__row">
								
<div class="form-group">
  
    <label for="fosEmail">E-mail</label>
     
  <input type="email" class="form-control " id="fosEmail" name="fosEmail" placeholder="" required>  
</div>

								
<div class="form-group">
  
    <label for="fosPhone">Phone number</label>
     
  <input type="tel" class="form-control " id="fosPhone" name="fosPhone" placeholder="" data-tel-input maxlength="18" required>  
</div>

							</div>
							
<div class="form-group">  
  
    <label for="fosEnquiry">Enquiry</label>
     
  <input type="text" class="form-control " id="fosEnquiry" name="fosEnquiry" placeholder="" required>
</div>

							<div class="fos-form__submit">
								
<button type="submit" class="btn-border ">
	<span>Leave an application</span>
</button>

							</div>
						</form>
					</div>


				</div>			
			</div>

		</div>
	</div>
	<div class="map-mobile-holder"></div>
</section>


       
      </main>

      <footer>        
        






<link rel="stylesheet" href="css/block-css/rs-footer.css" />
<section class="rs-footer block-border-top">
	<div class="rs-footer__container ">
		<div class="rs-footer__wrapper block-border">
			<p>© AV Group 2022. All rights reserved.</p>
			<a href="#"><span>Developed in </span><img src="img/icons/rosait_logo.svg" alt=""></a>
		</div>
	</div>	
</section>


      </footer>
      
    </div>    
    
    <script src="js/jquery-2.1.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/nouislider.js"></script>
<link rel="stylesheet" href="css/nouislider.css" />
<script src="js/wNumb.min.js"></script>

<script src="js/jquery.validate.min.js"></script>

<script src="js/moment-with-locales.min.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="css/bootstrap-datetimepicker.css" />


<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>

<script src="js/gsap/gsap.min.js"></script>
<script src="js/gsap/ScrollTrigger.min.js"></script>
<script src="js/gsap/ScrollSmoother.min.js"></script>
<script src="js/gsap/InertiaPlugin.min.js"></script>
<script src="js/gsap/Draggable.min.js"></script>

<script src="js/app.js"></script>

  </body>
</html>
