@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap);

@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap);

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "Roboto Condensed";
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Roboto Condensed";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    background-color: #0D0D0D;
    color: #FCFBFB;
}

body._lock {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.wrapper,
.site {
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.wrapper > main,
.wrapper .site-content,
.site > main,
.site .site-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.wrapper > *,
.site > * {
    min-width: 0;
}

header {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
}

main {
    margin-top: 133px;
}

[class*=__container] {
    max-width: 1570px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 15px;
}

[class*=-ibg] {
    position: relative;
}

[class*=-ibg] img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

[class*=-ibg_contain] img {
    -o-object-fit: contain;
    object-fit: contain;
}

.swiper {
    overflow: hidden;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.swiper-vertical .swiper-wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
    -ms-flex-align: start;
    align-items: flex-start;
}

.swiper-initialized .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
    display: none !important;
}

.btn-color {
    position: relative;
    background: transparent;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    background: #FF8424;
    height: 60px;
    padding: 0px 37px;
    overflow: hidden;
}

.btn-color__title {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.1666666667;
    color: #1d1c1b;
}

.btn-color__plus {
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 15px;
    background: url("../../img/svgicons/plus_icon.svg") center/52px 52px no-repeat;
    transition: -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
}

.btn-color:hover .btn-color__plus {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.btn-cb {
    position: relative;
    background: transparent;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    background: #FF8424;
    height: 40px;
    padding: 0px 63px;
    overflow: hidden;
}

.btn-cb__title {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.1428571429;
    color: #1d1c1b;
}

.btn-cb__title::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #1d1c1b;
    transition: -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
}

.btn-cb:hover .btn-cb__title:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.btn-border {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #FF8424;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #FCFBFB;
}

.btn-border:hover {
    color: #FCFBFB;
}

.btn-round {
    background-color: transparent;
    border: 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-height: 40px;
    position: relative;
}

.btn-round__text {
    font-size: 18px;
    line-height: 1.2;
    color: #FCFBFB;
    margin-left: 23px;
    margin-top: 10px;
}

.btn-round__icon {
    display: inline-block;
    left: 0;
    position: absolute;
    top: 0;
}

.btn-round__icon-arc-1 {
    fill: none;
    stroke-width: 1px;
    stroke: #FCFBFB;
    stroke-dasharray: 251;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 0.6;
    stroke-dashoffset: 251;
    transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.btn-round__icon-arc-2 {
    fill: none;
    stroke-width: 1px;
    stroke: #FCFBFB;
    stroke-dasharray: 251;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 0.3;
    stroke-dashoffset: 165;
}

.btn-round:hover .btn-round__icon-arc-1 {
    stroke-dashoffset: 165;
}

.btn-round:hover .btn-round__icon-arc-2 {
    opacity: 0.3;
    stroke-dashoffset: 165;
}

.section-title {
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto";
    color: #FCFBFB;
}

.section-title__sub {
    font-size: 1em;
    line-height: 1;
    letter-spacing: -0.03em;
    opacity: 0.02;
    position: relative;
    left: -75px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.section-title__main {
    font-size: 0.2941176471em;
    line-height: 1.475;
    margin-top: -60px;
    margin-bottom: 0px;
}

.no-scroll::-webkit-scrollbar {
    width: 0;
}

.no-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.arrows {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.arrow {
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
}

.arrow:not(:last-child) {
    margin-right: 8px;
}

.arrow:before,
.arrow:after {
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgba(255, 132, 36, 0.5);
}

.arrow_white:before,
.arrow_white:after {
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
}

.arrow_white svg {
    stroke: #ffffff;
}

.arrow span {
    display: block;
    position: absolute;
    margin: -10px 0 0 -10px;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
}

.arrow span:before,
.arrow span:after {
    content: "";
    width: 10px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #ffffff;
    margin: -1px 0 0 -5px;
    display: block;
    -webkit-transform-origin: 9px 50%;
    transform-origin: 9px 50%;
}

.arrow span:before {
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

.arrow span:after {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

.arrow svg {
    z-index: 1;
    stroke-width: 2px;
    stroke-dashoffset: 126;
    stroke-dasharray: 126 126 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    stroke: #ff8424;
}

.arrow_prev {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.arrow:hover svg {
    -webkit-animation: stroke 1s ease forwards 0.3s;
    animation: stroke 1s ease forwards 0.3s;
}

.arrow:hover span {
    -webkit-animation: arrow 1.6s ease forwards;
    animation: arrow 1.6s ease forwards;
}

.arrow:hover span:before {
    -webkit-animation: arrowUp 1.6s ease forwards;
    animation: arrowUp 1.6s ease forwards;
}

.arrow:hover span:after {
    -webkit-animation: arrowDown 1.6s ease forwards;
    animation: arrowDown 1.6s ease forwards;
}

@-webkit-keyframes stroke {
    52% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        stroke-dashoffset: 0;
    }

    52.1% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        stroke-dashoffset: 0;
    }

    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        stroke-dashoffset: 126;
    }
}

@keyframes stroke {
    52% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        stroke-dashoffset: 0;
    }

    52.1% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        stroke-dashoffset: 0;
    }

    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        stroke-dashoffset: 126;
    }
}

@-webkit-keyframes arrow {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    23% {
        -webkit-transform: translateX(17px);
        transform: translateX(17px);
        opacity: 1;
    }

    24%, 80% {
        -webkit-transform: translateX(-22px);
        transform: translateX(-22px);
        opacity: 0;
    }

    81% {
        opacity: 1;
        -webkit-transform: translateX(-22px);
        transform: translateX(-22px);
    }
}

@keyframes arrow {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    23% {
        -webkit-transform: translateX(17px);
        transform: translateX(17px);
        opacity: 1;
    }

    24%, 80% {
        -webkit-transform: translateX(-22px);
        transform: translateX(-22px);
        opacity: 0;
    }

    81% {
        opacity: 1;
        -webkit-transform: translateX(-22px);
        transform: translateX(-22px);
    }
}

@-webkit-keyframes arrowUp {
    0%, 100% {
        -webkit-transform: rotate(-40deg) scaleX(1);
        transform: rotate(-40deg) scaleX(1);
    }

    20%, 80% {
        -webkit-transform: rotate(0deg) scaleX(0.1);
        transform: rotate(0deg) scaleX(0.1);
    }
}

@keyframes arrowUp {
    0%, 100% {
        -webkit-transform: rotate(-40deg) scaleX(1);
        transform: rotate(-40deg) scaleX(1);
    }

    20%, 80% {
        -webkit-transform: rotate(0deg) scaleX(0.1);
        transform: rotate(0deg) scaleX(0.1);
    }
}

@-webkit-keyframes arrowDown {
    0%, 100% {
        -webkit-transform: rotate(40deg) scaleX(1);
        transform: rotate(40deg) scaleX(1);
    }

    20%, 80% {
        -webkit-transform: rotate(0deg) scaleX(0.1);
        transform: rotate(0deg) scaleX(0.1);
    }
}

@keyframes arrowDown {
    0%, 100% {
        -webkit-transform: rotate(40deg) scaleX(1);
        transform: rotate(40deg) scaleX(1);
    }

    20%, 80% {
        -webkit-transform: rotate(0deg) scaleX(0.1);
        transform: rotate(0deg) scaleX(0.1);
    }
}

@media (min-width: 1760px) {
    .section-title {
        font-size: 136px;
    }
}

@media (max-width: 1600px) {
    .section-title__sub {
        white-space: normal;
        font-size: 0.7em;
    }

    .section-title__main br {
        display: none;
    }
}

@media (max-width: 991.98px) {
    main {
        margin-top: 87px;
    }
}

@media (max-width: 991px) {
    .section-title {
        font-size: 86px;
    }
}

@media (min-width: 991px) and (max-width: 1760px) {
    .section-title {
        font-size: clamp( 86px , 21.5656697009px  +  6.5019505852vw , 136px );
    }
}