.rs-contacts {
    padding-top: 60px;
    padding-bottom: 90px;
}

.rs-contacts .contacts {
    display: grid;
    grid-template-columns: 310px 1fr;
    -webkit-column-gap: 190px;
    -moz-column-gap: 190px;
    column-gap: 190px;
}

.rs-contacts .contacts__content h3 {
    color: #2f2f2f;
    font-family: Brygada 1918;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 0;
    margin-bottom: 20px;
}

.rs-contacts .contacts__content p,
.rs-contacts .contacts__content a {
    display: block;
    color: #424242;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 10px;
}

.rs-contacts .contacts .contacts-form__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
}

.rs-contacts .contacts .contacts-form__submit {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 15px;
    justify-items: start;
}

.rs-contacts .contacts .contacts-form__submit p {
    color: #616161;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 0;
}

.rs-contacts .contacts .contacts-form .form-control {
    margin-bottom: 10px;
    background: #ffffff;
    width: 100%;
    color: #bbb;
    font-size: 13px;
    line-height: 141.6%;
    border-radius: 7px;
    border: 1px solid #e6e6e6;
    height: 46px;
    padding-left: 16px;
    padding-right: 16px;
}

.rs-contacts .contacts .contacts-form .form-control::-webkit-input-placeholder {
    color: #bbb;
    transition-duration: 0.3s;
}

.rs-contacts .contacts .contacts-form .form-control::-moz-placeholder {
    color: #bbb;
    transition-duration: 0.3s;
}

.rs-contacts .contacts .contacts-form .form-control:-ms-input-placeholder {
    color: #bbb;
    transition-duration: 0.3s;
}

.rs-contacts .contacts .contacts-form .form-control::-ms-input-placeholder {
    color: #bbb;
    transition-duration: 0.3s;
}

.rs-contacts .contacts .contacts-form .form-control::placeholder {
    color: #bbb;
    transition-duration: 0.3s;
}

.rs-contacts .contacts .contacts-form .form-control:hover::-webkit-input-placeholder {
    color: #bbb;
}

.rs-contacts .contacts .contacts-form .form-control:hover::-moz-placeholder {
    color: #bbb;
}

.rs-contacts .contacts .contacts-form .form-control:hover:-ms-input-placeholder {
    color: #bbb;
}

.rs-contacts .contacts .contacts-form .form-control:hover::-ms-input-placeholder {
    color: #bbb;
}

.rs-contacts .contacts .contacts-form .form-control:hover::placeholder {
    color: #bbb;
}

.rs-contacts .contacts .contacts-form .form-control.error {
    border-color: #ff3844;
}

.rs-contacts .contacts .contacts-form textarea {
    padding-top: 14px;
    padding-bottom: 14px;
    height: 100%;
    resize: none;
    min-height: 112px;
}

.rs-contacts .options {
    margin-bottom: 60px;
}

.rs-contacts .options__title {
    color: #2f2f2f;
    font-size: 26px;
    font-family: "Brygada 1918";
    line-height: 130%;
    margin-bottom: 20px;
}

.rs-contacts .options__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.rs-contacts .options__item {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid var(--stroke, #e6e6e6);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #424242;
    font-size: 18px;
    font-family: "Brygada 1918";
    font-weight: 500;
    line-height: 120%;
}

.rs-contacts .options__item img {
    margin-bottom: 8px;
}

@media (max-width: 1506px) {
    .rs-contacts .contacts {
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }
}

@media (max-width: 1250px) {
    .rs-contacts .contacts {
        grid-template-columns: 210px 1fr;
    }

    .rs-contacts .contacts__content h3 {
        font-size: 18px;
    }

    .rs-contacts .contacts__content p,
  .rs-contacts .contacts__content a {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .rs-contacts .contacts .contacts-form__submit {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767.98px) {
    .rs-contacts {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-contacts .contacts {
        grid-template-columns: 1fr;
    }

    .rs-contacts .contacts .contacts-form__row {
        grid-template-columns: 1fr;
    }

    .rs-contacts .options__title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .rs-contacts .options__items {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .rs-contacts .options__item {
        font-size: 15px;
    }
}