.rs-fos {
    position: relative;
    height: 410px;
    padding-bottom: 40px;
}

.rs-fos__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-fos__container {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.rs-fos__inner {
    position: relative;
    max-width: 723px;
    margin-top: 45px;
    padding-right: 50px;
}

.rs-fos__inner h3 {
    color: #fff;
    font-size: 42px;
    font-family: "Brygada 1918";
    margin-bottom: 20px;
}

.rs-fos__inner p {
    color: #fff;
    font-size: 18px;
    line-height: 141.6%;
    margin-bottom: 40px;
}

@media (max-width: 767.98px) {
    .rs-fos__container {
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .rs-fos__inner h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .rs-fos__inner p {
        font-size: 13px;
        margin-bottom: 15px;
    }
}