.rs-page-head {
    padding-top: 40px;
}

.rs-page-head h1 {
    color: #424242;
    font-size: 52px;
    font-family: "Brygada 1918";
    line-height: 120%;
}

.rs-page-head__breadcrumbs {
    margin-bottom: 16px;
}

@media (max-width: 767.98px) {
    .rs-page-head h1 {
        font-size: 32px;
    }
}