.rs-benefit {
    position: relative;
    padding-top: 30px;
    padding-bottom: 110px;
}

.rs-benefit__picture {
    position: relative;
    grid-row: span 2;
    margin-right: calc(-100% + 15px);
    -webkit-mask-image: url("../../img/about_mask.png");
    mask-image: url("../../img/about_mask.png");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    mask-position: center;
}

.rs-benefit__picture img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: right;
}

.rs-benefit .benefit-slider__slide {
    height: auto;
}

.rs-benefit .benefit-slider__slide:nth-child(odd) .benefit-item {
    background: #006dd2;
}

.rs-benefit .benefit-slider__slide:nth-child(odd) .benefit-item .icon {
    background: #fff;
}

.rs-benefit .benefit-slider__slide:nth-child(odd) .benefit-item .content * {
    color: #fff;
}

.rs-benefit .benefit-slider .slider-nav {
    margin-top: 15px;
}

.rs-benefit .benefit-item {
    background: #f5faff;
    border-radius: 15px;
    padding: 30px 25px;
    height: 100%;
    min-height: 274px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-benefit .benefit-item > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    font-size: 0;
}

.rs-benefit .benefit-item .content {
    margin-top: 15px;
}

.rs-benefit .benefit-item .content h5 {
    margin-bottom: 5px;
}

.rs-benefit .benefit-item .icon {
    margin-bottom: auto;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 50px;
    height: 50px;
    background: #006dd2;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}

@media (min-width: 1023.98px) {
    .rs-benefit__wrapper {
        display: grid;
        grid-template-columns: 25% 1fr;
        column-gap: 5px;
    }

    .rs-benefit__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .benefit-slider,
  .benefit-slider__slider,
  .benefit-slider__swiper {
        display: contents;
    }

    .rs-benefit .benefit-slider .slider-nav {
        display: none;
    }
}

@media (max-width: 1200px) {
    .rs-benefit .benefit-item {
        padding: 15px;
    }

    .rs-benefit .benefit-item .content {
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

@media (max-width: 1023.98px) {
    .rs-benefit .benefit-slider__slider {
        overflow: visible;
    }

    .rs-benefit .benefit-slider__slide {
        width: 320px;
    }

    .rs-benefit .benefit-slider__slide.empty {
        display: none;
    }

    .rs-benefit .benefit-item {
        min-height: 198px;
    }

    .rs-benefit .benefit-item .content {
        -webkit-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    .rs-benefit .benefit-item .icon {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 767.98px) {
    .rs-benefit {
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .rs-benefit .benefit-slider__slide {
        width: 252px;
    }
}