@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900);

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

ul {
    margin-bottom: 0;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --font-family: "Nunito", sans-serif;
    --main-bg-color: #fff;
    --main-text-color: #767a8b;
    --primary-color: #006dd2;
    --error-color: #ff7d82;
    --akcent: #006dd2;
    --akcent-2: #00aced;
    --fon: #eef2f6;
    --belyy: #fff;
    --shrift-zagolovki: #000;
    --shrift-teksty: #767a8b;
    --border: #e3e7eb;
    --animation-duration: 0.65s;
    --timing-func: cubic-bezier(.785,.135,.15,.86);
}

html {
    font-size: 16px;
    height: 100%;
    min-width: 320px;
}

body {
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: normal;
    font-style: normal;
    opacity: 0;
}

body.loaded {
    opacity: 1;
}

body.mobile-menu-opened,
body.toolbar-mobile-opened,
body.modal-open {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.site-wrapper,
.site {
    overflow: hidden;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.site-wrapper > .main,
.site-wrapper .site-content,
.site > .main,
.site .site-content {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.site-wrapper > *,
.site > * {
    min-width: 0;
}

header {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    position: relative;
}

.main,
.site-content {
    position: relative;
    padding-top: 107px;
}

[class*=__container] {
    max-width: 1770px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fancybox__container {
    max-width: none !important;
}

[data-animate] {
    visibility: hidden;
    will-change: transform;
}

[data-animate].in-view {
    visibility: visible;
    animation-name: var(--animateName);
    animation-duration: var(--animateDuration, 450ms);
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    will-change: auto;
}

[data-animate-stager] > * {
    visibility: hidden;
    will-change: transform;
}

[data-animate-stager] > *.in-view {
    visibility: visible;
    animation-name: var(--animateName);
    animation-duration: var(--animateDuration, 450ms);
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    will-change: auto;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.site-wrapper,
.site {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.site-wrapper p,
.site p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.site-wrapper h1,
.site-wrapper h2,
.site h1,
.site h2 {
    font-weight: 400;
    font-size: 50px;
    line-height: 120%;
    color: var(--shrift-zagolovki);
}

.site-wrapper h3,
.site h3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: var(--shrift-zagolovki);
}

.site-wrapper h4,
.site h4 {
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: var(--shrift-zagolovki);
}

.site-wrapper h5,
.site h5 {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--shrift-zagolovki);
}

.form form {
    display: grid;
    gap: 20px;
}

.form .form-group {
    margin-bottom: 0;
    position: relative;
}

.form .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form .form-submit {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 43px;
    -ms-flex-align: center;
    align-items: center;
}

.form .form-submit p {
    font-weight: 400;
    font-size: 12px;
    line-height: normal;
    color: var(--shrift-teksty);
}

.form input,
.form textarea {
    outline: none;
    width: 100%;
    padding: 0px 20px;
    height: 45px;
    background: var(--belyy);
    border-radius: 54px;
    border: 1px solid #fff;
    font-weight: 400;
    font-size: 14px;
    color: var(--shrift-teksty);
    transition: border-color var(--animation-duration) var(--timing-func);
}

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
    color: var(--shrift-teksty);
}

.form input::placeholder,
.form textarea::placeholder {
    color: var(--shrift-teksty);
}

.form input.valid,
.form textarea.valid {
    border-color: #4bc47d;
}

.form input.error,
.form textarea.error {
    border-color: var(--error-color);
}

.form textarea {
    height: 100%;
    resize: none;
    min-height: 120px;
    padding-top: 14px;
}

.form .checkbox {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.form .checkbox > input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.form .checkbox span {
    text-align: left;
    display: inline-block;
    padding-left: 26px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #757575;
    position: relative;
}

.form .checkbox span a {
    text-decoration: underline;
}

.form .checkbox span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #b22727;
}

.form .checkbox span:after {
    content: url("../../img/icons/checkmark_icon.svg");
    position: absolute;
    top: 0px;
    left: 0px;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.form .checkbox input:checked + span.checkbox__text {
    color: #2f2f2f;
}

.form .checkbox input:checked + span:after {
    transform: scale(1);
}

.form label.error {
    position: absolute;
    color: var(--error-color);
    left: 20px;
    top: 42px;
    font-weight: 400;
    font-size: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.form label.error::before {
    content: url("../../img/icons/warn_icon.png");
    line-height: 1;
    margin-right: 7px;
}

header .rs-header__wrapper {
    transition: height var(--animation-duration) var(--timing-func);
}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 42px 0 rgba(0, 0, 0, 0.1);
    background: var(--belyy);
    border-radius: 0px 0px 20px 20px;
}

.slider-paging.swiper-pagination-progressbar {
    height: 3px;
    width: 100%;
    background: #d9d9d9;
    position: relative;
}

.slider-paging.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: left;
    display: block;
    height: 3px;
    background: var(--primary-color);
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical {
    display: -ms-flexbox;
    display: flex;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet {
    margin: 0;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background: var(--border);
    opacity: 1;
    transition: all var(--animation-duration) var(--timing-func);
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:not(:last-child),
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet:not(:last-child) {
    margin-right: 5px;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--akcent-2);
    width: 38px;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:focus,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet:focus {
    outline: none;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-clickable .swiper-pagination-bullet,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.slider-paging.swiper-pagination-fraction {
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 153%;
}

.header-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 107px;
    background: #fff;
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
    transition: opacity var(--animation-duration) var(--timing-func), transform var(--animation-duration) var(--timing-func);
    z-index: 99;
    padding-left: 15px;
    padding-right: 15px;
}

.header-search form {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header-search form input {
    height: 44px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    color: var(--shrift-teksty);
    outline: none;
    padding: 0px 40px;
    background-color: transparent;
}

.header-search form input:-ms-input-placeholder {
    color: var(--shrift-teksty);
}

.header-search form input::placeholder {
    color: var(--shrift-teksty);
}

.header-search form button[type=reset] {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.header-search form button[type=reset]:before,
.header-search form button[type=reset]:after {
    content: "";
    display: block;
    background: #000;
    height: 2px;
    width: 18px;
    position: relative;
    position: absolute;
    left: 5px;
}

.header-search form button[type=reset]:before {
    transform: rotate(45deg);
}

.header-search form button[type=reset]:after {
    transform: rotate(-45deg);
}

.header-search form button[type=submit] {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url("../../img/icons/search_icon.png") center/20px 20px no-repeat;
}

.search-is-open .header-search {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.header-search-open {
    width: 40px;
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-search-open::before {
    content: "";
    width: 18px;
    height: 18px;
    background: #000;
    -webkit-mask-image: url("../../img/icons/search_icon.png");
    mask-image: url("../../img/icons/search_icon.png");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    transition: background var(--animation-duration) var(--timing-func);
}

.header-search-open:hover::before {
    background: var(--primary-color);
}

.btn-color {
    position: relative;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    height: 44px;
    max-width: 100%;
    border-radius: 22px;
    background: var(--fon);
    padding: 0px 3px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn-color span.title {
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    color: var(--shrift-zagolovki);
    padding: 0px 27px;
    position: relative;
    transition: color var(--animation-duration) var(--timing-func);
}

.btn-color span.icon {
    -ms-flex: 0 0 38px;
    flex: 0 0 38px;
    width: 38px;
    height: 38px;
    border-radius: 22px;
    -webkit-mask-image: url("../../img/icons/button_arrow.svg");
    mask-image: url("../../img/icons/button_arrow.svg");
    background: #fff;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    position: relative;
}

.btn-color::before {
    content: "";
    background: var(--primary-color);
    position: absolute;
    inset: 0;
    -webkit-clip-path: inset(3px 3px 3px calc(100% - 41px) round 38px);
    clip-path: inset(3px 3px 3px calc(100% - 41px) round 38px);
    transition: -webkit-clip-path var(--animation-duration) var(--timing-func);
    transition: clip-path var(--animation-duration) var(--timing-func);
    transition: clip-path var(--animation-duration) var(--timing-func), -webkit-clip-path var(--animation-duration) var(--timing-func);
}

.btn-color._active span.title {
    color: #fff;
}

.btn-color._active::before {
    -webkit-clip-path: inset(-1px round 38px);
    clip-path: inset(-1px round 38px);
}

.btn-color_light {
    background: var(--akcent-2);
}

.btn-color_light::before {
    background: #fff;
}

.btn-color_light span.title {
    color: #fff;
}

.btn-color_light span.icon {
    background: var(--akcent-2);
}

.btn-color_to span.icon {
    transform: rotate(-90deg);
}

.btn-color_to::before {
    background: var(--akcent-2);
}

.btn-color_white {
    background: #fff;
}

.btn-color_cart span.icon {
    -webkit-mask-image: url("../../img/icons/button_cart.svg");
    mask-image: url("../../img/icons/button_cart.svg");
}

@media (min-width: 767.98px) {
    [data-animate].in-view {
        animation-delay: var(--animateDelay);
    }

    [data-animate-stager] > *.in-view {
        animation-delay: var(--animateDelay);
    }
}

@media (min-width: 1199.98px) {
    header.sticky .rs-header__wrapper {
        height: 107px;
    }
}

@media (min-width: 1800px) {
    .header-search {
        padding-left: calc((100vw - 1770px) / 2);
        padding-right: calc((100vw - 1770px) / 2);
    }

    .header-search form button[type=reset] {
        right: calc((100% - 1770px) / 2);
    }
}

@media (max-width: 1199.98px) {
    .main,
  .site-content {
        padding-top: 69px;
    }
}

@media (max-width: 1023.98px) {
    [class*=__container] {
        max-width: 768px;
    }
}

@media (max-width: 767.98px) {
    [class*=__container] {
        max-width: 375px;
    }

    .site-wrapper,
  .site {
        font-size: 13px;
    }

    .site-wrapper h1,
  .site-wrapper h2,
  .site h1,
  .site h2 {
        font-size: 20px;
    }

    .site-wrapper h3,
  .site h3 {
        font-size: 16px;
    }

    .site-wrapper h4,
  .site h4 {
        font-size: 16px;
    }

    .site-wrapper h5,
  .site h5 {
        font-size: 13px;
    }

    .form .form-row {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .form .form-submit {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}

@media (any-hover: none) {
    [data-hidescroll]::-webkit-scrollbar {
        width: 0;
    }

    [data-hidescroll] {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@media (any-hover: hover) {
    .btn-color:hover span.title {
        color: #fff;
    }

    .btn-color:hover::before {
        -webkit-clip-path: inset(1px round 38px);
        clip-path: inset(1px round 38px);
    }

    .btn-color_light:hover span.title {
        color: #000;
    }
}