.rs-benefit__container {
    position: relative;
    padding-bottom: 200px;
}

.rs-benefit__inner {
    background: #f5f7f8;
    box-shadow: 0px 76px 45px rgba(0, 0, 0, 0.02), 0px 34px 34px rgba(0, 0, 0, 0.03), 0px 8px 18px rgba(0, 0, 0, 0.03), 0px 0px 0px rgba(0, 0, 0, 0.03);
    border-radius: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-benefit__img img {
    width: 100%;
}

.rs-benefit__content {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 100px;
    padding-left: 35px;
}

.rs-benefit__items {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 42px;
}

.rs-benefit .benefit-item {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-benefit .benefit-item__icon {
    margin-right: 22px;
    -ms-flex: 0 0 61px;
    flex: 0 0 61px;
    width: 61px;
    height: 61px;
    background: #eaeeef;
    padding: 12px;
    border-radius: 10px;
    transition: background 0.3s cubic-bezier(0.37, 0.01, 0.58, 0.02);
}

.rs-benefit .benefit-item__icon span {
    width: 100%;
    height: 100%;
    display: block;
    background: #353e47;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: background 0.3s cubic-bezier(0.37, 0.01, 0.58, 0.02);
}

.rs-benefit .benefit-item > h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    letter-spacing: 0.03em;
    color: #6e8499;
    margin-top: 0px;
    margin-bottom: 0px;
}

.rs-benefit .benefit-item > a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    font-size: 0;
}

.rs-benefit .benefit-item:hover .benefit-item__icon {
    background: #353e47;
}

.rs-benefit .benefit-item:hover .benefit-item__icon span {
    background: #eaeeef;
}

@media (min-width: 767.98px) {
    .rs-benefit__img {
        -ms-flex: 0 0 47.86%;
        flex: 0 0 47.86%;
    }
}

@media (max-width: 1600px) {
    .rs-benefit__content {
        padding-right: 0;
        padding-left: 0;
    }

    .rs-benefit__items {
        gap: 20px;
        margin-top: 30px;
    }
}

@media (max-width: 991.98px) {
    .rs-benefit .benefit-item__icon {
        -ms-flex: 0 0 40px;
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
        padding: 8px;
    }

    .rs-benefit .benefit-item > h6 {
        font-size: 13px;
    }
}

@media (max-width: 767.98px) {
    .rs-benefit__container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .rs-benefit__inner {
        display: block;
        box-shadow: 0px 26px 10px rgba(0, 0, 0, 0.02), 0px 14px 14px rgba(0, 0, 0, 0.03), 0px 6px 14px rgba(0, 0, 0, 0.03), 0px 0px 0px rgba(0, 0, 0, 0.03);
    }

    .rs-benefit__content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .rs-benefit__items {
        grid-template-columns: 1fr;
    }
}