.rs-steps {
    background: #3d6043;
    position: relative;
    z-index: 6;
}

.rs-steps__wrapper {
    border-left: 1px solid #5e7a63;
    border-right: 1px solid #5e7a63;
    padding-top: 140px;
    padding-bottom: 140px;
}

.rs-steps__head {
    padding: 0px 65px 30px 65px;
}

.rs-steps__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.rs-steps__item {
    outline: 1px solid #5e7a63;
    border: 1px solid transparent;
    background: #3d6043;
    transition: background 0.3s ease, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, background 0.3s ease;
    transition: transform 0.3s ease, background 0.3s ease, -webkit-transform 0.3s ease;
}

.rs-steps .steps-item {
    overflow: hidden;
    height: 100%;
    position: relative;
    padding: 65px;
}

.rs-steps .steps-item h6 {
    color: #fff;
    font-family: Unbounded;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
}

.rs-steps .steps-item h6 span {
    opacity: 0.3;
}

.rs-steps .steps-item p {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.48px;
    margin-top: 20px;
}

.rs-steps .steps-item .picture {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}

.rs-steps .steps-item .picture img {
    width: 100%;
}

@media (max-width: 1600px) {
    .rs-steps .steps-item {
        padding: 35px;
    }
}

@media (max-width: 991.98px) {
    .rs-steps__items {
        grid-template-columns: 1fr 1fr;
    }

    .rs-steps .steps-item {
        padding: 20px;
    }

    .rs-steps .steps-item h6 {
        font-size: 14px;
    }

    .rs-steps .steps-item p {
        font-size: 13px;
        margin-top: 10px;
    }
}

@media (max-width: 767.98px) {
    .rs-steps__wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        border: none;
    }

    .rs-steps__head {
        padding: 0px 20px 20px 20px;
    }

    .rs-steps__items {
        grid-template-columns: 270px;
        grid-auto-flow: column;
        grid-auto-columns: 290px;
        overflow-x: auto;
        overflow-y: hidden;
        margin-right: -15px;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    }

    .rs-steps__item {
        scroll-snap-align: start;
    }

    .rs-steps__item {
        outline: none;
        border: 1px solid #5e7a63;
    }

    .rs-steps .steps-item .picture {
        margin-bottom: 10px;
        width: 33px;
        height: 33px;
        -ms-flex: 0 0 33px;
        flex: 0 0 33px;
        margin-right: 10px;
    }

    .rs-steps .steps-item .wrap {
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-steps__items {
        margin-right: calc((100vw - 375px) / -2);
    }
}

@media (any-hover: hover) {
    .rs-steps__item:hover {
        z-index: 2;
        -webkit-transform: scale3d(1.05, 1.05, 1);
        transform: scale3d(1.05, 1.05, 1);
        border-color: #5e7a63;
        background: #315437;
    }
}