.rs-text-block {
    position: relative;
    z-index: 6;
}

.rs-text-block__wrapper {
    padding-top: 140px;
    padding-bottom: 140px;
}

.rs-text-block__logo {
    width: 115px;
    height: 115px;
    margin: 30px auto 0px;
}

.rs-text-block__logo img {
    width: 100%;
}

.rs-text-block .section-title {
    max-width: 1230px;
    margin: 0 auto;
}

@media (max-width: 767.98px) {
    .rs-text-block__wrapper {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .rs-text-block__logo {
        width: 63px;
        height: 63px;
    }
}