.rs-benefit__items {
    margin-top: 40px;
    margin-bottom: 32px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 17% 1fr;
    grid-auto-rows: 1fr;
}

.rs-benefit__item {
    min-height: 150px;
}

.rs-benefit__item:nth-child(6n+1) {
    grid-row: span 2;
    grid-column: span 2;
}

.rs-benefit__item:nth-child(6) {
    grid-row: 3/5;
    grid-column: 2/4;
}

.rs-benefit__item:nth-child(3n+2) .benefit-item {
    background-color: #ebf2f2;
    color: #000000;
}

.rs-benefit_rev .rs-benefit__item {
    grid-row: span 1;
    grid-column: span 1;
}

.rs-benefit_rev .rs-benefit__item:nth-child(6n+3) {
    grid-row: 1/3;
    grid-column: -1/2;
}

.rs-benefit_rev .rs-benefit__item:nth-child(4) {
    grid-row: span 2;
    grid-column: span 2;
}

.rs-benefit .benefit-item {
    height: 100%;
    background: #ff9a00;
    border-radius: 20px;
    padding: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #ffffff;
}

.rs-benefit .benefit-item__wrap {
    margin-top: auto;
}

.rs-benefit .benefit-item h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    margin-top: 0;
    margin-bottom: 5px;
}

.rs-benefit .benefit-item p {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 0;
}

@media (max-width: 767.98px) {
    .rs-benefit__items {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .rs-benefit__item:nth-child(6n+1) {
        grid-row: span 1;
        grid-column: span 1;
    }

    .rs-benefit__item:nth-child(6) {
        grid-row: span 1;
        grid-column: span 1;
    }

    .rs-benefit_rev .rs-benefit__item:nth-child(6n+3) {
        grid-row: span 1;
        grid-column: span 1;
    }

    .rs-benefit_rev .rs-benefit__item:nth-child(4) {
        grid-row: span 1;
        grid-column: span 1;
    }

    .rs-benefit .benefit-item h4 {
        font-size: 18px;
    }

    .rs-benefit .benefit-item p {
        font-size: 13px;
    }
}