.rs-benefit-main .benefit-card {
    height: 100%;
    width: 520px;
    background-color: #FF9A00;
    border-radius: 25px;
    position: relative;
    padding: 52px 48px 68px 48px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rs-benefit-main .benefit-card__icon {
    margin-bottom: 69px;
}

.rs-benefit-main .benefit-card__wrapper {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-bottom: 70px;
}

.rs-benefit-main .benefit-card__wrapper h4 {
    word-break: break-word;
    font-weight: 500;
    font-size: 28px;
    line-height: 111.5%;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 16px;
}

.rs-benefit-main .benefit-card__wrapper p {
    font-weight: 400;
    font-size: 18px;
    line-height: 166%;
    color: #ffffff;
    margin-bottom: 0;
}

.rs-benefit-main .benefit-card_dark {
    background-color: #ebf2f2;
}

.rs-benefit-main .benefit-card_dark .benefit-card__wrapper h4 {
    color: #000000;
}

.rs-benefit-main .benefit-card_dark .benefit-card__wrapper p {
    color: #000000;
}

.rs-benefit-main .benefit-card_img {
    width: 1071px;
}

.rs-benefit-main {
    padding-bottom: 140px;
    padding-left: 15px;
}

@media (min-width: 1340px) {
    .rs-benefit-main {
        padding-left: calc((100vw - 1325px) / 2);
    }
}

@media (max-width: 767.98px) {
    .rs-benefit-main .benefit-card {
        width: 274px;
        padding: 36px;
    }

    .rs-benefit-main .benefit-card__icon {
        margin-bottom: 21px;
    }

    .rs-benefit-main .benefit-card__wrapper {
        margin-bottom: 21px;
    }

    .rs-benefit-main .benefit-card__wrapper h4 {
        font-size: 16px;
    }

    .rs-benefit-main .benefit-card__wrapper p {
        font-size: 13px;
    }
}