.rs-logistic {
    padding-top: 80px;
    padding-bottom: 40px;
}

.rs-logistic__container {
    position: relative;
}

.rs-logistic__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-logistic__header p {
    max-width: 640px;
    padding-left: 30px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 173%;
    text-align: justify;
    color: #121212;
}

.rs-logistic__banner {
    padding-left: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.rs-logistic__banner-wrap {
    position: relative;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
    padding-bottom: 36%;
}

.rs-logistic__banner-wrap img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-logistic__text-block {
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
}

.rs-logistic__text-block h3 {
    font-weight: 500;
    font-size: 48px;
    line-height: 117%;
    color: #000000;
    margin-top: 0;
    margin-bottom: 30px;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.rs-logistic__text-block h3.span-all {
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
}

.rs-logistic__text-block p {
    font-weight: 400;
    font-size: 16px;
    line-height: 173%;
    text-align: justify;
    color: #121212;
}

.rs-logistic__text-block p.selected {
    background: #ebf2f2;
    border-radius: 25px;
    padding: 37px 34px;
    margin-top: 30px;
    margin-bottom: 0;
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
}

.rs-logistic__text-block .text-img {
    position: relative;
    display: inline-block;
    padding-bottom: 36%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.rs-logistic__text-block .text-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-logistic__map {
    margin-top: 45px;
    margin-bottom: 55px;
    border-radius: 25px;
    overflow: hidden;
}

.rs-logistic__map * {
    width: 100%;
    height: 100%;
}

.rs-logistic__bg {
    position: absolute;
    top: -20px;
    right: calc(100% - 270px);
    z-index: -1;
}

.rs-logistic__bg svg {
    opacity: 0;
}

.rs-logistic__bg.in-viewport svg {
    opacity: 1;
}

.rs-logistic__bg.in-viewport svg path {
    -webkit-animation: stroke 5s alternate;
    animation: stroke 5s alternate;
}

@media (min-width: 1340px) {
    .rs-logistic__banner {
        padding-left: calc((100vw - 1325px) / 2);
    }

    .rs-logistic__map {
        height: 775px;
    }
}

@media (max-width: 991.98px) {
    .rs-logistic__header {
        display: block;
    }

    .rs-logistic__header p {
        max-width: none;
        padding-left: 0;
        margin-top: 30px;
    }

    .rs-logistic__text-block h3 {
        font-size: 28px;
    }

    .rs-logistic__text-block p {
        font-size: 13px;
    }
}

@media (max-width: 767.98px) {
    .rs-logistic__banner-wrap {
        padding-bottom: 66%;
    }

    .rs-logistic__text-block {
        -webkit-column-count: auto;
        -moz-column-count: auto;
        column-count: auto;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (max-width: 320px) {
    .rs-logistic__map {
        height: 225px;
    }
}

@media (min-width: 320px) and (max-width: 1340px) {
    .rs-logistic__map {
        height: clamp( 225px , 52.4509803922px  +  53.9215686275vw , 775px );
    }
}