.rs-prod-assets {
    padding-top: 50px;
    padding-bottom: 40px;
}

.rs-prod-assets__container {
    position: relative;
}

.rs-prod-assets__slider {
    margin-top: 50px;
    padding-left: 15px;
}

.rs-prod-assets__bg {
    position: absolute;
    top: 1010px;
    right: calc(100% - 170px);
    z-index: -1;
}

.rs-prod-assets__bg svg {
    opacity: 0;
}

.rs-prod-assets__bg.in-viewport svg {
    opacity: 1;
}

.rs-prod-assets__bg.in-viewport svg path {
    -webkit-animation: stroke 5s alternate;
    animation: stroke 5s alternate;
}

.rs-prod-assets .text-block {
    display: -ms-flexbox;
    display: flex;
    margin-top: 130px;
}

.rs-prod-assets .text-block__content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: 60px;
}

.rs-prod-assets .text-block__content h4 {
    font-weight: 500;
    font-size: 32px;
    line-height: 117%;
    color: #000000;
    margin-top: 0;
    margin-bottom: 20px;
}

.rs-prod-assets .text-block__content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 173%;
    text-align: justify;
    color: #121212;
    margin-bottom: 25px;
}

.rs-prod-assets .text-block__content p.selected {
    background: #ebf2f2;
    border-radius: 25px;
    padding: 37px 34px;
    margin-bottom: 0;
}

.rs-prod-assets .text-block__img {
    -ms-flex: 1 0 44%;
    flex: 1 0 44%;
    position: relative;
}

.rs-prod-assets .text-block__img-wrapper {
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
}

.rs-prod-assets .text-block__img-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-prod-assets .text-block__labels {
    position: absolute;
    top: 0;
    left: 0;
}

.rs-prod-assets .text-block__label {
    width: 255px;
    padding: 48px 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 173%;
    text-align: center;
    color: #ffffff;
    background: #fba420;
    border-radius: 20px;
}

.rs-prod-assets .text-block__label:not(:last-child) {
    margin-bottom: 20px;
}

.rs-prod-assets .text-block__label h6 {
    font-weight: 500;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 5px;
}

.rs-prod-assets .text-block__label p {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.rs-prod-assets .text-block__label_dark {
    color: #000000;
    background: #ebf2f2;
}

.rs-prod-assets .text-block:nth-child(2n+2) .text-block__content {
    -ms-flex-order: 2;
    order: 2;
    margin-left: 60px;
    margin-right: 0;
}

.rs-prod-assets .text-block:nth-child(1) .text-block__img {
    margin-bottom: 30px;
}

.rs-prod-assets .text-block:nth-child(1) .text-block__labels {
    bottom: -30px;
    right: 0;
    left: auto;
    top: auto;
}

.rs-prod-assets .text-block:nth-child(2) .text-block__img {
    overflow: hidden;
}

.rs-prod-assets .text-block:nth-child(2) .text-block__labels {
    bottom: 30px;
    right: auto;
    left: -25px;
    top: auto;
}

.rs-prod-assets .text-block:nth-child(3) .text-block__img {
    overflow: hidden;
}

.rs-prod-assets .text-block:nth-child(3) .text-block__labels {
    bottom: auto;
    right: -25px;
    left: auto;
    top: 75px;
}

.rs-prod-assets .text-block:nth-child(4) .text-block__img {
    margin-bottom: 30px;
    margin-left: 30px;
}

.rs-prod-assets .text-block:nth-child(4) .text-block__labels {
    bottom: -30px;
    right: auto;
    left: -30px;
    top: auto;
}

.rs-prod-assets .prodassets-slider {
    position: relative;
}

.rs-prod-assets .prodassets-slider__slide h4 {
    font-weight: 500;
    color: #000;
    font-size: 13px;
    line-height: 140%;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 120px;
    min-height: 44px;
}

.rs-prod-assets .prodassets-slider__slide-img {
    height: 220px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 18px;
}

.rs-prod-assets .prodassets-slider__slide-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-prod-assets .prodassets-slider__nav {
    position: absolute;
    bottom: 0;
    right: 0;
}

.rs-prod-assets .prodassets-slider .prodassets-slider__slide h4 {
    opacity: 0;
    transition: 0.3s;
}

.rs-prod-assets .prodassets-slider .prodassets-slider__slide.swiper-slide-active.is-active h4 {
    opacity: 1;
}

@media (min-width: 767.98px) {
    .rs-prod-assets .prodassets-slider__slider {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .rs-prod-assets .prodassets-slider__slide h4 {
        font-size: 16px;
        line-height: 173%;
        color: #ffffff;
        position: relative;
        margin-top: auto;
        min-height: auto;
    }

    .rs-prod-assets .prodassets-slider__slide {
        height: 582px;
        position: relative;
        padding-left: 140px;
        padding-bottom: 27px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .rs-prod-assets .prodassets-slider__slide-img {
        border-radius: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .rs-prod-assets .prodassets-slider__nav {
        bottom: 20px;
        left: 30px;
        right: auto;
    }
}

@media (min-width: 1340px) {
    .rs-prod-assets__slider {
        padding-left: calc((100vw - 1325px) / 2);
    }
}

@media (max-width: 991.98px) {
    .rs-prod-assets .text-block {
        display: block;
        margin-top: 60px;
    }

    .rs-prod-assets .text-block__content {
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .rs-prod-assets .text-block__img-wrapper {
        padding-bottom: 85%;
    }
}

@media (max-width: 767.98px) {
    .rs-prod-assets__slider {
        padding-right: 15px;
    }

    .rs-prod-assets .text-block__content h4 {
        font-size: 18px;
    }

    .rs-prod-assets .text-block__content p {
        font-size: 12px;
    }

    .rs-prod-assets .text-block__label h6 {
        font-size: 26px;
    }

    .rs-prod-assets .prodassets-slider .prodassets-slider__nav .slider-arrow {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .rs-prod-assets .prodassets-slider .prodassets-slider__nav .slider-arrow:before {
        background: #000;
    }
}

@media (max-width: 479.98px) {
    .rs-prod-assets .text-block__label {
        width: 165px;
        padding: 10px;
    }

    .rs-prod-assets .text-block__label h6 {
        font-size: 16px;
    }

    .rs-prod-assets .text-block__label p {
        font-size: 10px;
    }

    .rs-prod-assets .text-block:nth-child(2) .text-block__labels {
        left: 0;
    }

    .rs-prod-assets .text-block:nth-child(3) .text-block__labels {
        right: 0;
    }
}