.rs-slider {
    position: relative;
    background-color: #000000;
}

.rs-slider__slider {
    height: 800px;
}

.rs-slider__swiper {
    height: 100%;
}

.rs-slider__slide {
    height: 100%;
    position: relative;
}

.rs-slider__slide-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}