.rs-video {
    padding-bottom: 130px;
}

.rs-video__inner {
    height: 775px;
    position: relative;
    padding: 94px 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-video__inner h3 {
    position: relative;
    font-weight: 500;
    font-size: 55px;
    line-height: 117%;
    color: #ffffff;
    margin-top: auto;
    margin-bottom: 0;
}

.rs-video__btn {
    width: 84px;
    height: 84px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background: #fba420;
    position: absolute;
    right: 70px;
    bottom: 94px;
    transition: 0.3s;
}

.rs-video__btn svg {
    fill: #ffffff;
    margin-left: 5px;
    width: 19px;
    height: 22px;
    transition: 0.3s;
}

.rs-video__btn:hover {
    background: #ffffff;
}

.rs-video__btn:hover svg {
    fill: #FF9A00;
}

.rs-video__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 25px;
    overflow: hidden;
}

.rs-video__content img,
.rs-video__content video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 991.98px) {
    .rs-video__inner h3 {
        font-size: 36px;
    }
}

@media (max-width: 767.98px) {
    .rs-video__inner {
        padding: 25px;
    }

    .rs-video__inner h3 {
        margin-top: 0;
    }
}