@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900);

@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900);

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "Montserrat";
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Montserrat";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    background-color: #FFFFFF;
    color: #000000;
}

body._lock {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

html {
    font-size: 16px;
}

.wrapper,
.site {
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.wrapper > main,
.wrapper .site-content,
.site > main,
.site .site-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.wrapper > *,
.site > * {
    min-width: 0;
}

header {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
}

[class*=__container] {
    max-width: 1310px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 15px;
}

.swiper {
    overflow: hidden;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.swiper-vertical .swiper-wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
    -ms-flex-align: start;
    align-items: flex-start;
}

.swiper-initialized .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
    display: none !important;
}

.swiper-grid > .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
}

.btn-border {
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid #000000;
    height: 56px;
    padding-left: 33px;
    padding-right: 33px;
    outline: none;
    overflow: hidden;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    transition: 0.25s ease;
    color: #000000;
}

.btn-border:hover {
    color: #FFFFFF;
    background-color: #000000;
}

.btn-border_white {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.btn-border_white:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.btn-callback {
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
    height: 56px;
    padding-left: 33px;
    padding-right: 33px;
    outline: none;
    overflow: hidden;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #FF9A00;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    transition: 0.25s ease;
    color: #FFFFFF;
}

.btn-callback_black {
    background-color: #EBF2EF;
    color: #000000;
}

.section-title {
    overflow: hidden;
}

.section-title h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 117%;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}

.section-title_fat h2 {
    font-weight: 600;
    font-size: 60px;
}

.form-group {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 26px;
    width: 100%;
}

.form-group .error {
    color: #ff3844;
    font-size: 12px;
    font-weight: 400;
}

.form-group .form-control {
    width: 100%;
    padding: 16px 33px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #AFAFAF;
    border: none;
    background-color: #FFFFFF;
}

.form-group .form-control::-webkit-input-placeholder {
    color: #AFAFAF;
    transition-duration: 0.3s;
}

.form-group .form-control::-moz-placeholder {
    color: #AFAFAF;
    transition-duration: 0.3s;
}

.form-group .form-control:-ms-input-placeholder {
    color: #AFAFAF;
    transition-duration: 0.3s;
}

.form-group .form-control::-ms-input-placeholder {
    color: #AFAFAF;
    transition-duration: 0.3s;
}

.form-group .form-control::placeholder {
    color: #AFAFAF;
    transition-duration: 0.3s;
}

.form-group .form-control:hover::-webkit-input-placeholder {
    color: #241E46;
}

.form-group .form-control:hover::-moz-placeholder {
    color: #241E46;
}

.form-group .form-control:hover:-ms-input-placeholder {
    color: #241E46;
}

.form-group .form-control:hover::-ms-input-placeholder {
    color: #241E46;
}

.form-group .form-control:hover::placeholder {
    color: #241E46;
}

.form-group .form-control.error {
    border-color: #ff3844;
}

.form-group input[type=text] {
    height: 56px;
}

.form-group input[type=email] {
    height: 56px;
}

.form-group input[type=tel] {
    height: 56px;
}

.form-group input[type=tel].expanded {
    margin-top: 8px;
}

.slider-arrows {
    position: relative;
}

.slider-arrows .slider-arrow {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
    border: 1px solid rgba(235, 242, 239, 0.2);
    transition: 0.25s ease;
}

.slider-arrows .slider-arrow.swiper-button-disabled {
    opacity: 0.3;
}

.slider-arrows .slider-arrow:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    z-index: 2;
    -webkit-mask-image: url(../../img/icons/caretLeft.svg);
    mask-image: url(../../img/icons/caretLeft.svg);
    background: #fff;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    transition: 0.3s;
}

.slider-arrows .slider-arrow::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: 0.3s;
}

.slider-arrows .slider-arrow:hover::after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.slider-arrows .slider-arrow:hover::before {
    background: #000;
}

.slider-arrows .slider-arrow_prev {
    -webkit-transform: none;
    transform: none;
}

.slider-arrows .slider-arrow_next {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.card-slider {
    position: relative;
}

.card-slider__slider {
    padding-top: 40px;
    padding-bottom: 45px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.card-slider__swiper {
    will-change: transform;
}

.card-slider__nav {
    position: absolute;
    bottom: 100%;
    right: 15px;
}

.card-slider__nav .slider-arrow {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.card-slider__nav .slider-arrow:before {
    background: #000;
}

.card-slider__pagging .swiper-pagination-bullet {
    display: inline-block;
    width: 74px;
    height: 2px;
    background: #ebf2f2;
    transition: 0.3s;
    margin-left: 3px;
    margin-right: 3px;
}

.card-slider__pagging .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #000000;
}

.page-type-inner main {
    padding-top: 103px;
}

.slider-cursor {
    pointer-events: none;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    transition: 0.1s left, 0.1s top, 0.3s width;
}

.slider-cursor img {
    width: 100%;
}

.slider-cursor.active {
    width: 100px;
}

@-webkit-keyframes stroke {
    0% {
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
    }

    100% {
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
    }
}

@keyframes stroke {
    0% {
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
    }

    100% {
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 80px, 0);
        transform: translate3d(0, 80px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 80px, 0);
        transform: translate3d(0, 80px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@media (min-width: 767.98px) {
    .rs-slider {
        opacity: 0;
        transition: opacity 0.8s ease-out;
    }

    .rs-slider.in-viewport {
        opacity: 1;
    }

    section:not(.rs-slider, .rs-logistic),
  .text-block,
  .rs-logistic__text-block,
  .history-spollers,
  .history-today,
  .catalog-spollers {
        visibility: hidden;
    }

    section:not(.rs-slider, .rs-logistic).in-viewport,
  .text-block.in-viewport,
  .rs-logistic__text-block.in-viewport,
  .history-spollers.in-viewport,
  .history-today.in-viewport,
  .catalog-spollers.in-viewport {
        visibility: visible;
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 0.8s;
        animation-duration: 0.8s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    .section-title h2 {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    }

    .section-title.in-viewport h2 {
        -webkit-transform: none;
        transform: none;
    }
}

@media (min-width: 1340px) {
    .card-slider__nav {
        right: calc((100vw - 1325px) / 2);
    }
}

@media (max-width: 991.98px) {
    .page-type-inner main {
        padding-top: 103px;
    }
}

@media (max-width: 767.98px) {
    .section-title h2 {
        font-size: 26px;
    }

    .card-slider__nav {
        display: none;
    }

    .card-slider__pagging {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6px, 1fr));
        padding-right: 15px;
    }

    .card-slider__pagging .swiper-pagination-bullet {
        width: auto;
    }
}

@media (any-hover: none) {
    .no-scroll::-webkit-scrollbar {
        width: 0;
    }

    .no-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .slider-cursor {
        display: none;
    }
}