.rs-17 .rs-top-header {
    margin-top: 20px;
    color: #fff;
    font-size: 10px;
}

.rs-17 .rs-top-header__container {
    height: 88px;
    border-top: 1px solid #585858;
    border-bottom: 1px solid #585858;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-17 .rs-top-header__logo {
    -ms-flex: 0 0 88px;
    flex: 0 0 88px;
    height: 100%;
    border-right: 1px solid #585858;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.rs-17 .rs-top-header__logo img {
    width: 58px;
    height: 58px;
}

.rs-17 .rs-top-header__text {
    padding-left: 33px;
    padding-right: 10px;
    font-size: 1.6em;
    line-height: 1.5;
    font-weight: 300;
    color: #ffffff;
    margin-right: auto;
}

.rs-17 .rs-top-header__item {
    padding-left: 44px;
    position: relative;
}

.rs-17 .rs-top-header__item:not(:last-child) {
    margin-right: 81px;
}

.rs-17 .rs-top-header__item a,
.rs-17 .rs-top-header__item span {
    white-space: nowrap;
    display: block;
    font-size: 1.6em;
    line-height: 1.5;
    font-weight: 300;
    color: inherit;
}

.rs-17 .rs-top-header__item a {
    transition: color 0.3s ease 0s;
}

.rs-17 .rs-top-header__item a:hover,
.rs-17 .rs-top-header__item a:focus {
    color: #f4d178;
}

.rs-17 .rs-top-header__item_social {
    padding-left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-17 .rs-top-header__item_social a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 34px;
    height: 34px;
    position: relative;
}

.rs-17 .rs-top-header__item_social a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 34px;
    height: 34px;
    background: #fff;
    border-radius: 50%;
    z-index: -1;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}

.rs-17 .rs-top-header__item_social a:hover::before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.rs-17 .rs-top-header__item-icon {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 3.3em;
    height: 3.3em;
    fill: #fff;
}

.rs-17 .rs-top-header__btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.rs-17 .rs-top-header__btn {
    width: 88px;
    -ms-flex: 0 0 88px;
    flex: 0 0 88px;
    height: 100%;
    border-left: 1px solid #585858;
}

@media (max-width: 1600px) {
    .rs-17 .rs-top-header {
        font-size: calc(5px + 5 * ((100vw - 320px) / 1280));
    }

    .rs-17 .rs-top-header__text {
        padding-left: calc(-10px + 43 * ((100vw - 320px) / 1280));
    }

    .rs-17 .rs-top-header__item:not(:last-child) {
        margin-right: calc(-20px + 101 * ((100vw - 320px) / 1280));
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-top-header {
        font-size: 10px;
    }

    .rs-17 .rs-top-header__item {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-top-header__logo {
        margin-right: auto;
    }

    .rs-17 .rs-top-header__text {
        display: none;
    }
}