.footer-menu__list li:not(:last-child) {
    margin-bottom: 16px;
}

.footer-menu__list li a {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    transition: color 0.35s ease;
}

.footer-menu_grid .footer-menu__list {
    column-count: 2;
    column-width: auto;
    column-fill: balance;
    column-gap: 90px;
}

.rs-footer {
    position: relative;
    padding-top: 45px;
    padding-bottom: 32px;
    border-top: 1px solid #acacac;
}

.rs-footer__wrapper {
    display: grid;
    grid-template-columns: auto 1fr 1fr 440px;
    gap: 40px 115px;
}

.rs-footer__logo img {
    max-width: 100%;
}

.rs-footer .footer-contacts ul {
    display: grid;
    gap: 8px;
}

.rs-footer .footer-contacts ul li a {
    font-weight: 600;
    font-size: 28px;
    line-height: 153%;
    color: #fff;
    transition: color 0.35s ease;
}

.rs-footer .bot-link {
    position: relative;
}

.rs-footer .bot-link h3 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 44px;
    line-height: 109%;
    color: #eee;
    margin-bottom: 20px;
}

.rs-footer .bot-link p {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    margin-bottom: 24px;
    max-width: 354px;
}

.rs-footer .bot-link p span {
    color: var(--primary-color);
}

.rs-footer .bot-link a svg {
    transition: transform 0.35s ease;
}

@media (max-width: 1384px) {
    .footer-menu_grid .footer-menu__list {
        column-gap: 45px;
    }

    .rs-footer__wrapper {
        grid-template-columns: auto 1fr 1fr 340px;
        gap: 40px 30px;
    }
}

@media (max-width: 991.98px) {
    .rs-footer__wrapper {
        grid-template-columns: auto 1fr 1fr 240px;
    }
}

@media (max-width: 767.98px) {
    .footer-menu_grid .footer-menu__list {
        column-count: auto;
    }

    .rs-footer__wrapper {
        grid-template-columns: 1fr;
    }

    .rs-footer__logo {
        position: absolute;
        bottom: 0;
        right: 15px;
    }

    .rs-footer__link {
        -ms-flex-order: -1;
        order: -1;
    }

    .rs-footer .bot-link h3 {
        font-size: 32px;
    }
}

@media (any-hover: hover) {
    .footer-menu__list li a:hover {
        color: var(--primary-color);
    }

    .rs-footer .footer-contacts ul li a:hover {
        color: var(--primary-color);
    }

    .rs-footer .bot-link a:hover svg {
        transform: translateX(10px);
    }
}