.rs-promo {
    position: relative;
}

.rs-promo__wrapper {
    background: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 46% 1fr;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 40px 10px 40px;
}

.rs-promo__wrapper img {
    max-width: 100%;
}

.rs-promo__wrapper img:last-child {
    position: relative;
    transform: translateX(25px);
}

.rs-promo__content {
    text-align: center;
}

.rs-promo__content h3 {
    margin-bottom: 30px;
}

@media (max-width: 767.98px) {
    .rs-promo__wrapper {
        grid-template-columns: 1fr;
        padding: 32px 16px;
    }

    .rs-promo__wrapper img:last-child {
        display: none;
    }
}