.rs-delivery-terms {
    padding-top: 32px;
    padding-bottom: 64px;
    position: relative;
}

.rs-delivery-terms__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}

.rs-delivery-terms__info {
    margin-top: 30px;
}

.rs-delivery-terms .term-item {
    border-radius: 32px;
    background: #e1eae4;
    padding: 46px;
    color: #666;
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
}

.rs-delivery-terms .term-item img {
    max-width: 100%;
}

.rs-delivery-terms .term-item h3 {
    color: #05251d;
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 16px;
    margin-top: 46px;
}

.rs-delivery-terms .term-item p:not(:last-child) {
    margin-bottom: 8px;
}

.rs-delivery-terms .term-item ul {
    margin-top: 16px;
    padding-left: 20px;
}

.rs-delivery-terms .term-item ul li {
    list-style: disc outside;
}

.rs-delivery-terms .info-item {
    border-radius: 32px;
    background: #fff;
    padding: 46px;
    color: #666;
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
}

.rs-delivery-terms .info-item:not(:last-child) {
    margin-bottom: 30px;
}

.rs-delivery-terms .info-item h3 {
    color: #05251d;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 16px;
}

.rs-delivery-terms .info-item p:not(:last-child) {
    margin-bottom: 8px;
}

@media (max-width: 767.98px) {
    .rs-delivery-terms {
        padding-top: 0;
        padding-bottom: 30px;
    }

    .rs-delivery-terms__items {
        grid-template-columns: 1fr;
    }

    .rs-delivery-terms .term-item {
        font-size: 13px;
    }

    .rs-delivery-terms .term-item {
        padding: 26px;
        border-radius: 16px;
    }

    .rs-delivery-terms .term-item h3 {
        font-size: 22px;
    }

    .rs-delivery-terms .info-item {
        font-size: 13px;
    }

    .rs-delivery-terms .info-item {
        padding: 26px;
        border-radius: 16px;
    }

    .rs-delivery-terms .info-item h3 {
        font-size: 18px;
    }
}