.rs-slider {
    margin-top: 15px;
    margin-bottom: 35px;
    position: relative;
}

.rs-slider__container {
    position: relative;
}

.rs-slider__slider {
    border-radius: 32px;
    background: #e1eae4;
    height: 550px;
}

.rs-slider__slider::before {
    content: "";
    display: block;
    width: 717px;
    height: 717px;
    border-radius: 50%;
    background: #84faa1;
    position: absolute;
    top: -298px;
    right: -47px;
}

.rs-slider__swiper {
    height: 100%;
}

.rs-slider__slide {
    pointer-events: none;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 50% 1fr;
}

.rs-slider__slide-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: right bottom;
    object-position: right bottom;
}

.rs-slider__slide-inner {
    margin-top: -20px;
    padding-left: 120px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}

.rs-slider__slide-inner h2 {
    color: #05251d;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.rs-slider__slide-inner p {
    color: #05251d;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}

.rs-slider__slide-inner .rs-slider__slide-btns {
    margin-top: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-slider__slide-inner .rs-slider__slide-btns a {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rs-slider__slide-inner .rs-slider__slide-btns a:not(:last-child) {
    margin-right: 24px;
}

.rs-slider__arrows {
    position: absolute;
    top: 50%;
    left: 50px;
    width: calc(100% - 100px);
    pointer-events: none;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}

.rs-slider__arrows .slider-arrows {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-slider__arrows .slider-arrow {
    padding: 10px;
    background: transparent;
}

.rs-slider__arrows .slider-arrow.swiper-button-disabled {
    background: transparent;
}

.rs-slider__paging {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
    left: 50%;
    bottom: 32px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.rs-slider__slide .rs-slider__slide-img,
.rs-slider__slide h2,
.rs-slider__slide p,
.rs-slider__slide .rs-slider__slide-btns {
    transition-duration: 0s;
    transition-timing-function: ease-in;
}

.rs-slider__slide .rs-slider__slide-img {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
}

.rs-slider__slide h2 {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
}

.rs-slider__slide p {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
}

.rs-slider__slide .rs-slider__slide-btns {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
}

.rs-slider__slide.swiper-slide-active.is-active a {
    pointer-events: auto;
}

.rs-slider__slide.swiper-slide-active.is-active .rs-slider__slide-img {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    transition-duration: 0.8s;
}

.rs-slider__slide.swiper-slide-active.is-active h2 {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    transition-duration: 0.8s;
}

.rs-slider__slide.swiper-slide-active.is-active p {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    transition-duration: 0.5s;
    transition-delay: 0.4s;
}

.rs-slider__slide.swiper-slide-active.is-active .rs-slider__slide-btns {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    transition-duration: 0.5s;
    transition-delay: 0.4s;
}

@media (max-width: 991.98px) {
    .rs-slider__slide {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 49px;
    }

    .rs-slider__slide-inner {
        padding-right: 120px;
    }

    .rs-slider__slide-inner h2 {
        font-size: 20px;
    }

    .rs-slider__slide-inner p {
        font-size: 16px;
    }

    .rs-slider__slide-inner .rs-slider__slide-btns {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .rs-slider__arrows {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .rs-slider {
        margin-bottom: 30px;
    }

    .rs-slider__slider::before {
        width: 300px;
        height: 300px;
        top: auto;
        bottom: -90px;
        right: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .rs-slider__slider {
        height: 583px;
    }

    .rs-slider__slide-inner {
        padding-left: 20px;
        padding-right: 20px;
    }

    .rs-slider__slide-inner .rs-slider__slide-btns a:not(:last-child) {
        margin-right: 0;
    }

    .rs-slider__paging {
        bottom: -15px;
    }
}