.rs-banner {
    position: relative;
    padding-bottom: 30px;
}

.rs-banner__wrapper {
    height: 860px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.rs-banner__container {
    height: 100%;
}

.rs-banner__bg {
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rs-banner__bg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-banner__inner {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rs-banner__logo {
    position: relative;
    justify-self: end;
    -ms-flex-item-align: end;
    align-self: end;
    margin: 0px -20px -15px 0px;
}

.rs-banner__logo svg {
    width: 100%;
}

.rs-banner__content {
    color: #fff;
    position: relative;
    padding-left: 140px;
    padding-bottom: 75px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: start;
    align-items: flex-start;
}

.rs-banner__content h2 {
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.rs-banner__content p {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 20px;
    margin-bottom: 35px;
}

.rs-banner {
    opacity: 0;
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
    transition: all 0.8s ease-out;
    will-change: transform;
}

.rs-banner .rs-banner__logo svg #line {
    opacity: 0;
    transition: opacity 0.5s linear 5s;
}

.rs-banner .rs-banner__logo svg #letters {
    opacity: 0;
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
    transition: all 1s ease-out 3.5s;
}

.rs-banner.in-view {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.rs-banner.in-view .rs-banner__logo svg #triangle {
    -webkit-animation: stroke 3.5s ease-out alternate;
    animation: stroke 3.5s ease-out alternate;
}

.rs-banner.in-view .rs-banner__logo svg #line {
    opacity: 1;
}

.rs-banner.in-view .rs-banner__logo svg #letters {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

@media (min-width: 767.98px) {
    .rs-banner__logo {
        margin: -38px -69px -32px 0px;
        width: calc(100% + 183px);
        height: calc(100% + 60px);
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: end;
        align-items: flex-end;
    }
}

@media (max-width: 1828px) {
    .rs-banner__content {
        padding-left: 15px;
    }
}

@media (max-width: 1300px) {
    .rs-banner__content h2 {
        font-size: 35px;
    }

    .rs-banner__content p {
        font-size: 22px;
    }
}

@media (max-width: 767.98px) {
    .rs-banner__wrapper {
        margin-top: 71px;
        height: 517px;
    }

    .rs-banner__bg {
        border-radius: 5px;
    }

    .rs-banner__inner {
        grid-template-columns: 1fr;
    }

    .rs-banner__logo svg #line {
        display: none;
    }

    .rs-banner__content {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 55px;
        padding-bottom: 18px;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .rs-banner__content h2 {
        font-size: 20px;
    }

    .rs-banner__content p {
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}