.rs-feedback {
    position: relative;
    overflow: hidden;
    padding-top: 135px;
    padding-bottom: 80px;
}

.rs-feedback__wrapper {
    display: grid;
    grid-template-columns: 20% 1fr;
    -webkit-column-gap: 85px;
    -moz-column-gap: 85px;
    column-gap: 85px;
    padding-left: 140px;
    padding-right: 140px;
}

.rs-feedback__head {
    margin-bottom: 30px;
}

.rs-feedback__content {
    min-width: 0;
}

.rs-feedback .feedback-slider__nav {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-feedback .feedback-slider .swiper-3d .swiper-slide-shadow {
    background: #232323;
    border-radius: 10px;
}

.rs-feedback .feedback-item {
    height: 100%;
    border-radius: 10px;
    background: #313131;
    padding: 60px 30px;
    display: grid;
    grid-template-columns: 1fr 37%;
    gap: 30px;
}

.rs-feedback .feedback-item__wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 35px;
}

.rs-feedback .feedback-item__image {
    position: relative;
}

.rs-feedback .feedback-item__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: contain;
    object-fit: contain;
}

.rs-feedback .feedback-item .content {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.54px;
}

.rs-feedback .feedback-item .by {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    letter-spacing: 0.54px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-feedback .feedback-item .icon {
    width: 85px;
    height: 85px;
    background: #424242;
    border-radius: 5px;
    padding: 11px 17px;
    margin-right: 30px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.rs-feedback .feedback-item .icon img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

@media (min-width: 767.98px) {
    .rs-feedback .feedback-slider {
        height: 670px;
        padding-right: 90px;
        position: relative;
    }

    .rs-feedback .feedback-slider__slider {
        width: 100%;
        height: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (max-width: 1828px) {
    .rs-feedback__wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .rs-feedback__wrapper {
        -webkit-column-gap: 50px;
        -moz-column-gap: 50px;
        column-gap: 50px;
    }
}

@media (max-width: 991.98px) {
    .rs-feedback__wrapper {
        display: block;
    }
}

@media (max-width: 767.98px) {
    .rs-feedback {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .rs-feedback .feedback-slider__slider {
        overflow: visible;
    }

    .rs-feedback .feedback-slider__swiper {
        display: grid;
        gap: 20px;
        width: auto;
    }

    .rs-feedback .feedback-slider__swiper {
        grid-template-columns: 290px;
        grid-auto-flow: column;
        grid-auto-columns: 290px;
        overflow-x: auto;
        overflow-y: hidden;
        margin-right: -15px;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    }

    .rs-feedback .feedback-slider__slide {
        scroll-snap-align: start;
    }

    .rs-feedback .feedback-slider__nav {
        display: none;
    }

    .rs-feedback .feedback-item {
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 10px;
    }

    .rs-feedback .feedback-item__wrapper {
        -ms-flex-order: 2;
        order: 2;
    }

    .rs-feedback .feedback-item__image {
        -ms-flex-order: 1;
        order: 1;
        height: 120px;
    }

    .rs-feedback .feedback-item__image {
        width: 93px;
    }

    .rs-feedback .feedback-item .content {
        font-size: 13px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .rs-feedback .feedback-item .by {
        font-size: 13px;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .rs-feedback .feedback-item .icon {
        width: 60px;
        height: 60px;
        padding: 7px 12px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-feedback .feedback-slider__swiper {
        margin-right: calc((100vw - 375px) / -2);
    }
}