.footer-menu__list {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-menu__list li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-menu__list li a {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 7px 15px;
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.39px;
    transition: background 0.3s ease;
}

.footer-menu__list li a::after {
    content: url("../../img/icons/arrow-icon.svg");
    margin-left: 10px;
}

.footer-menu_grid .footer-menu__list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
}

.rs-footer {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.rs-footer__wrapper {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 26.3% 26.3%;
}

.rs-footer__info {
    padding: 30px 30px 60px 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.rs-footer__info .logo {
    margin-bottom: auto;
}

.rs-footer__info p {
    max-width: 622px;
    margin-top: 30px;
}

.rs-footer__contacts {
    padding: 30px 30px 60px 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.rs-footer__menu {
    padding: 30px 30px 60px 30px;
}

.rs-footer__bottom {
    padding: 20px 30px;
    grid-column: span 3;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.rs-footer .footer-title {
    margin-bottom: 20px;
    color: #949494;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.rs-footer .footer-contacts {
    display: grid;
    gap: 57px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.rs-footer .footer-contacts ul {
    display: grid;
    gap: 17px;
}

.rs-footer .footer-contacts a:not(.loc) {
    display: inline-block;
    border-radius: 50px;
    padding: 7px 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: background 0.3s ease;
}

.rs-footer .footer-contacts a.loc {
    transition: color 0.3s ease;
}

.rs-footer .footer-bottom {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.rs-footer .footer-bottom__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 1500px) {
    .footer-menu_grid .footer-menu__list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (max-width: 991.98px) {
    .rs-footer__wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .rs-footer__info {
        grid-column: span 2;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        border-right: none;
    }

    .rs-footer__bottom {
        grid-column: span 2;
    }
}

@media (max-width: 767.98px) {
    .rs-footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .rs-footer__wrapper {
        grid-template-columns: 1fr;
    }

    .rs-footer__info {
        grid-column: span 1;
        font-size: 13px;
        padding: 20px;
    }

    .rs-footer__contacts {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        border-right: none;
        padding: 20px;
    }

    .rs-footer__menu {
        padding: 20px;
    }

    .rs-footer__bottom {
        grid-column: span 1;
        padding: 20px;
    }

    .rs-footer .footer-title {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .rs-footer .footer-contacts {
        font-size: 13px;
        gap: 20px;
    }

    .rs-footer .footer-bottom__wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 10px;
    }
}

@media (any-hover: hover) {
    .footer-menu__list li a:hover {
        background: #ed8c2b;
    }

    .rs-footer .footer-contacts a:not(.loc):hover {
        background: #ed8c2b;
    }

    .rs-footer .footer-contacts a.loc:hover {
        color: #ed8c2b;
    }
}