.rs-17 .rs-about {
    background: #24303f;
    padding-top: 100px;
    padding-bottom: 120px;
}

.rs-17 .rs-about__content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 800px;
}

.rs-17 .rs-about__img {
    position: relative;
}

.rs-17 .rs-about__img img {
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.rs-17 .rs-about__name {
    position: absolute;
    left: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 16px 32px;
    background: #1c2632;
    max-width: 310px;
}

.rs-17 .rs-about__name h5 {
    font-size: 26px;
    font-weight: 700;
    color: #B38339;
    line-height: 1.2;
    margin-top: 0;
}

.rs-17 .rs-about__name p {
    color: #ECECEC;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
}

.rs-17 .rs-about__wrapper {
    position: relative;
    max-width: 770px;
}

.rs-17 .rs-about__wrapper p {
    font-size: 18px;
    line-height: 1.6;
    color: #ECECEC;
    margin-bottom: 20px;
}

.rs-17 .rs-about__wrapper p span {
    color: #B38339;
}

.rs-17 .rs-about__title {
    position: relative;
    margin-bottom: 35px;
    margin-top: 0;
}

.rs-17 .rs-about__title h4 {
    color: #FFFFFF;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 68px;
    padding-left: 92px;
    position: relative;
}

.rs-17 .rs-about__title .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 165px;
    height: 181px;
}

.rs-17 .rs-about__title .icon path {
    -webkit-animation: stroke 5s infinite alternate;
    animation: stroke 5s infinite alternate;
}

.rs-17 .rs-about__btn {
    margin-top: 40px;
    margin-bottom: 60px;
}

.rs-17 .rs-about__submit {
    border: 1px solid #B38339;
    padding: 24px 32px;
    display: grid;
    gap: 26px;
    grid-template-columns: 1fr auto;
    -ms-flex-align: center;
    align-items: center;
}

.rs-17 .rs-about__submit p {
    margin-top: 0;
    margin-bottom: 15px;
}

@media (max-width: 1400px) {
    .rs-17 .rs-about__content {
        display: block;
    }

    .rs-17 .rs-about__img img {
        position: static;
        margin-top: -350px;
    }

    .rs-17 .rs-about__wrapper {
        max-width: none;
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-about__img {
        display: none;
    }

    .rs-17 .rs-about__submit {
        display: block;
    }
}

@media (max-width: 479.98px) {
    .rs-17 .rs-about__title h4 {
        padding-top: 35px;
        padding-left: 0;
    }

    .rs-17 .rs-about__title .icon {
        display: none;
    }
}