@charset "UTF-8";

.rs-17 .rs-faq {
    background: #24303f;
    padding-top: 120px;
    padding-bottom: 120px;
}

.rs-17 .rs-faq__content {
    margin-top: 60px;
    display: -ms-flexbox;
    display: flex;
}

.rs-17 .rs-faq__items {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    z-index: 2;
}

.rs-17 .rs-faq__items._init .rs-faq__title {
    position: relative;
}

.rs-17 .rs-faq__items._init .rs-faq__title::after,
.rs-17 .rs-faq__items._init .rs-faq__title::before {
    content: "";
    position: absolute;
    background-color: #FFFFFF;
    transition: -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
}

.rs-17 .rs-faq__items._init .rs-faq__title::after {
    top: 38px;
    right: 19px;
    width: 2px;
    height: 26px;
}

.rs-17 .rs-faq__items._init .rs-faq__title::before {
    top: 50px;
    right: 8px;
    height: 2px;
    width: 26px;
}

.rs-17 .rs-faq__items._init .rs-faq__title._active::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rs-17 .rs-faq__items._init .rs-faq__title._active::before {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.rs-17 .rs-faq__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.rs-17 .rs-faq__item:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.rs-17 .rs-faq__title {
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 90px;
    font-size: 2.1428571429em;
    font-weight: 600;
    line-height: 1.2;
    color: #FFFFFF;
}

.rs-17 .rs-faq__body {
    font-size: 1.2857142857em;
    line-height: 1.6;
    color: #ECECEC;
    padding-bottom: 30px;
    padding-right: 50px;
}

.rs-17 .rs-faq__body p {
    margin-bottom: 0;
}

.rs-17 .rs-faq__body p:not(:last-child) {
    margin-bottom: 10px;
}

.rs-17 .rs-faq__body ul {
    margin-top: 0;
    margin-bottom: 0;
}

.rs-17 .rs-faq__body ul li {
    position: relative;
    padding-left: 34px;
}

.rs-17 .rs-faq__body ul li:not(:last-child) {
    margin-bottom: 17px;
}

.rs-17 .rs-faq__body ul li:before {
    content: "•";
    color: #B38339;
    font-size: 18px;
    position: absolute;
    top: 0px;
    left: 11px;
}

.rs-17 .rs-faq__logo {
    position: relative;
    z-index: 1;
    margin-right: -100px;
    right: -100px;
}

.rs-17 .rs-faq__logo svg path {
    -webkit-animation: stroke 5s infinite alternate;
    animation: stroke 5s infinite alternate;
}

@media (min-width: 1600px) {
    .rs-17 .rs-faq {
        font-size: 14px;
    }
}

@media (max-width: 1600px) {
    .rs-17 .rs-faq__logo {
        left: 0;
        margin-left: -50px;
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-faq__logo {
        display: none;
    }
}

@media (max-width: 320px) {
    .rs-17 .rs-faq {
        font-size: 9px;
    }
}

@media (min-width: 320px) and (max-width: 1600px) {
    .rs-17 .rs-faq {
        font-size: clamp( 9px , 7.75px  +  0.390625vw , 14px );
    }
}