.rs-17 .rs-metrics {
    padding-top: 60px;
    padding-bottom: 120px;
}

.rs-17 .rs-metrics__items {
    margin-top: 60px;
    display: grid;
    row-gap: 80px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.rs-17 .rs-metrics.line {
    padding-top: 90px;
}

.rs-17 .rs-metrics.line .rs-metrics__items {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.metrics-item {
    text-align: center;
}

.metrics-item h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 54px;
    font-weight: 400;
    line-height: 1.2;
    color: #B38339;
}

.metrics-item p {
    font-size: 22px;
    line-height: 1.3;
    color: #13181D;
    margin-bottom: 0;
}

.metrics-item img {
    margin-bottom: 16px;
    -webkit-clip-path: inset(0 50% 0 50%);
    clip-path: inset(0 50% 0 50%);
    transition: all 0s linear 0s;
}

.metrics-item.in-viewport img {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    transition: all 1s linear 0.5s;
}

@media (max-width: 479.98px) {
    .rs-17 .rs-metrics__items {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
}