.rs-17 .rs-steps {
    padding-top: 120px;
    padding-bottom: 60px;
}

.rs-17 .rs-steps__items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 60px -15px 0px;
}

.rs-17 .rs-steps__item {
    margin-bottom: 30px;
    padding: 0px 15px;
    text-align: center;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}

.rs-17 .rs-steps__item h4 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    color: #B38339;
    margin-top: 24px;
    margin-bottom: 0;
}

.rs-17 .rs-steps__item p {
    color: #484848;
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 0;
    margin-top: 8px;
}

.rs-17 .rs-steps__item-number {
    position: relative;
}

.rs-17 .rs-steps__item-number:before {
    content: attr(data-number);
    font-size: 65px;
    font-weight: 700;
    color: #B38339;
    position: absolute;
    top: 50%;
    left: calc(50% - 4px);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-filter: url(#outerText);
    filter: url(#outerText);
}

.rs-17 .rs-steps.third .rs-steps__item {
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
}

@media (max-width: 1300px) {
    .rs-17 .rs-steps__item {
        -ms-flex: 0 0 33.333%;
        flex: 0 0 33.333%;
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-steps {
        padding-top: 30px;
        padding-bottom: 0;
    }

    .rs-17 .rs-steps__item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }

    .rs-17 .rs-steps.third .rs-steps__item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-steps__item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .rs-17 .rs-steps.third .rs-steps__item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}