@charset "UTF-8";

.rs-about {
    padding-top: 60px;
    padding-bottom: 95px;
    position: relative;
}

.rs-about:before {
    content: url("../../img/background/bg_6_lines.svg");
    position: absolute;
    left: 0;
    top: -510px;
    z-index: -1;
}

.rs-about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 52px;
    -moz-column-gap: 52px;
    column-gap: 52px;
    row-gap: 35px;
}

.rs-about__column {
    position: relative;
}

.rs-about__pic {
    position: relative;
}

.rs-about__pic svg {
    position: absolute;
    top: 56px;
    left: 14px;
    overflow: visible;
}

.rs-about__pic svg .foreground {
    stroke-dasharray: 1800;
    stroke-dashoffset: 1800;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
    transition: all 1s ease;
}

.rs-about__pic.in-viewport svg .foreground {
    stroke-dashoffset: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.rs-about__content {
    margin-top: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #616670;
}

.rs-about__content p:not(:last-child) {
    margin-bottom: 16px;
}

.rs-about__content ul {
    margin-top: 0;
    margin-bottom: 32px;
}

.rs-about__content ul li:before {
    content: "●";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #FAA432;
    margin-right: 16px;
}

.rs-about__fos {
    padding: 25px 21px;
    background: url("../../img/rs-about/about_FOS_img.jpg") center/cover no-repeat;
    position: absolute;
    -webkit-filter: drop-shadow(3px 4px 42px rgba(0, 0, 0, 0.07));
    filter: drop-shadow(3px 4px 42px rgba(0, 0, 0, 0.07));
    border-radius: 4px;
    width: 251px;
    height: 244px;
    right: 0px;
    bottom: -20px;
}

.rs-about__fos h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #232323;
    margin-top: 0;
    margin-bottom: 41px;
}

@media (max-width: 991.98px) {
    .rs-about:before {
        display: none;
    }

    .rs-about__container {
        grid-template-columns: 1fr;
    }

    .rs-about__pic img {
        width: 100%;
    }

    .rs-about__pic svg {
        display: none;
    }

    .rs-about__fos {
        left: 0;
        right: auto;
    }
}