.rs-leaders {
    padding-top: 55px;
    padding-bottom: 40px;
    position: relative;
}

.rs-leaders:before {
    content: url("../../img/background/bg_2_lines.svg");
    position: absolute;
    left: -10px;
    top: -140px;
    z-index: -1;
}

.rs-leaders:after {
    content: url("../../img/background/bg_3_ellipse.svg");
    position: absolute;
    left: 0;
    top: -165px;
    z-index: -2;
}

.rs-leaders .leaders-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-leaders .leaders-card__photo {
    position: relative;
    width: 100%;
    padding-bottom: 111%;
    background: #f4edea;
    border-radius: 4px;
    margin-bottom: 16px;
}

.rs-leaders .leaders-card__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    transition-duration: 0.4s;
}

.rs-leaders .leaders-card__wrapper {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-leaders .leaders-card__price {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #30353b;
}

.rs-leaders .leaders-card__price del {
    color: #aeaeae;
    font-weight: 400;
    margin-left: 8px;
}

.rs-leaders .leaders-card__price span {
    background: #f8a120;
    border-radius: 4px;
    margin-left: 8px;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
    color: #ffffff;
    padding: 2px 8px;
}

.rs-leaders .leaders-card h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-transform: capitalize;
    color: #30353b;
}

.rs-leaders .leaders-card a {
    font-size: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.rs-leaders .leaders-card:hover .leaders-card__photo img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (max-width: 991.98px) {
    .rs-leaders:before {
        display: none;
    }

    .rs-leaders:after {
        display: none;
    }

    .rs-leaders .leaders-card {
        width: 264px;
        height: 386px;
    }
}