.rs-services {
    padding-top: 55px;
    padding-bottom: 90px;
    position: relative;
}

.rs-services:before {
    content: url("../../img/background/bg_4_lines.svg");
    position: absolute;
    right: 0;
    top: -155px;
    z-index: -1;
}

.rs-services:after {
    content: url("../../img/background/bg_5_elliose.svg");
    position: absolute;
    right: 0;
    top: -10px;
    z-index: -2;
}

.rs-services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 35px;
}

.rs-services__column {
    position: relative;
}

.rs-services__pic {
    margin-top: 40px;
}

.rs-services__pic img {
    width: 100%;
}

.rs-services__content {
    margin-top: 58px;
}

.rs-services__item:not(:last-child) {
    margin-bottom: 30px;
}

.rs-services .services-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-services .services-item__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
}

.rs-services .services-item__img img {
    width: 100%;
}

.rs-services .services-item__wrapper {
    margin-left: 24px;
}

.rs-services .services-item__wrapper p {
    font-weight: 600;
    line-height: 1.2;
    color: #181618;
    margin-top: 0;
    margin-bottom: 16px;
}

.rs-services .services-item__wrapper p span {
    color: #FAA432;
}

.rs-services .services-item__wrapper a {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-transform: capitalize;
    color: #30353b;
    position: relative;
}

@media (min-width: 1176px) {
    .rs-services .services-item__wrapper p {
        font-size: 18px;
    }
}

@media (max-width: 991.98px) {
    .rs-services:before {
        display: none;
    }

    .rs-services:after {
        display: none;
    }

    .rs-services__container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        max-width: 560px;
    }

    .rs-services__column:nth-child(1) {
        grid-row: 2/3;
    }
}

@media (max-width: 767.98px) {
    .rs-services__container {
        max-width: 375.7px;
    }

    .rs-services .services-item__img {
        width: 96px;
        height: 96px;
        -ms-flex: 0 0 96px;
        flex: 0 0 96px;
    }
}

@media (max-width: 320px) {
    .rs-services .services-item__wrapper p {
        font-size: 12px;
    }
}

@media (min-width: 320px) and (max-width: 1176px) {
    .rs-services .services-item__wrapper p {
        font-size: clamp( 12px , 9.7570093458px  +  0.7009345794vw , 18px );
    }
}