@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,600,700,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=Mulish:600&display=swap);

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "Manrope";
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Manrope";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    background-color: #ffffff;
    color: #181618;
}

body._lock {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

html {
    font-size: 16px;
}

.wrapper,
.site {
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.wrapper > main,
.wrapper .site-content,
.site > main,
.site .site-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.wrapper > *,
.site > * {
    min-width: 0;
}

header {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #232323;
}

main {
    padding-top: 88px;
}

[class*=__container] {
    max-width: 1146px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 15px;
}

.swiper {
    overflow: hidden;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.swiper-vertical .swiper-wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
    -ms-flex-align: start;
    align-items: flex-start;
}

.swiper-initialized .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
    display: none !important;
}

.swiper-grid > .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
}

.btn-color {
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    height: 42px;
    padding-left: 32px;
    padding-right: 32px;
    outline: none;
    overflow: hidden;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #FAA432;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    position: relative;
    white-space: nowrap;
}

.btn-color span {
    position: relative;
    z-index: 2;
    color: #ffffff;
    transition: color 0.3s 0.1s ease-out;
}

.btn-color::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    border-radius: 50%;
    display: block;
    width: 260px;
    height: 260px;
    left: -30px;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
}

.btn-color:hover span {
    color: #232323;
}

.btn-color:hover::before {
    box-shadow: inset 0 0 0 10em #ffffff;
}

.btn-callback-submit {
    width: 50px;
    height: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.button-link {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 42px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #232323;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
    position: relative;
    overflow: hidden;
}

.button-link span {
    position: relative;
    z-index: 2;
    color: #ffffff;
    transition: color 0.3s 0.1s ease-out;
}

.button-link::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    border-radius: 50%;
    display: block;
    width: 260px;
    height: 260px;
    left: -50px;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
}

.button-link:hover::before {
    box-shadow: inset 0 0 0 10em #f8a120;
}

.btn-arrow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.btn-arrow span {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
    position: relative;
    margin-left: 12px;
}

.btn-arrow span::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #fff;
}

.btn-arrow:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.btn-arrow i {
    display: block;
    position: absolute;
    width: 42px;
    height: 42px;
    left: 0;
    top: 0;
}

.btn-arrow i:before,
.btn-arrow i:after {
    content: "";
    width: 10px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #ffffff;
    margin: -1px 0 0 -5px;
    display: block;
    -webkit-transform-origin: 9px 50%;
    transform-origin: 9px 50%;
}

.btn-arrow i:before {
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

.btn-arrow i:after {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

.btn-arrow svg {
    display: block;
    position: relative;
    z-index: 1;
    stroke-width: 2px;
    stroke-dashoffset: 126;
    stroke-dasharray: 126 126 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.btn-arrow:hover svg {
    -webkit-animation: stroke 1s ease forwards 0.3s;
    animation: stroke 1s ease forwards 0.3s;
}

.btn-arrow:hover i {
    -webkit-animation: arrow 1.6s ease forwards;
    animation: arrow 1.6s ease forwards;
}

.btn-arrow:hover i:before {
    -webkit-animation: arrowUp 1.6s ease forwards;
    animation: arrowUp 1.6s ease forwards;
}

.btn-arrow:hover i:after {
    -webkit-animation: arrowDown 1.6s ease forwards;
    animation: arrowDown 1.6s ease forwards;
}

@-webkit-keyframes stroke {
    52% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        stroke-dashoffset: 0;
    }

    52.1% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        stroke-dashoffset: 0;
    }

    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        stroke-dashoffset: 126;
    }
}

@keyframes stroke {
    52% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        stroke-dashoffset: 0;
    }

    52.1% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        stroke-dashoffset: 0;
    }

    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        stroke-dashoffset: 126;
    }
}

@-webkit-keyframes arrow {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    23% {
        -webkit-transform: translateX(17px);
        transform: translateX(17px);
        opacity: 1;
    }

    24%, 80% {
        -webkit-transform: translateX(-22px);
        transform: translateX(-22px);
        opacity: 0;
    }

    81% {
        opacity: 1;
        -webkit-transform: translateX(-22px);
        transform: translateX(-22px);
    }
}

@keyframes arrow {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    23% {
        -webkit-transform: translateX(17px);
        transform: translateX(17px);
        opacity: 1;
    }

    24%, 80% {
        -webkit-transform: translateX(-22px);
        transform: translateX(-22px);
        opacity: 0;
    }

    81% {
        opacity: 1;
        -webkit-transform: translateX(-22px);
        transform: translateX(-22px);
    }
}

@-webkit-keyframes arrowUp {
    0%, 100% {
        -webkit-transform: rotate(-40deg) scaleX(1);
        transform: rotate(-40deg) scaleX(1);
    }

    20%, 80% {
        -webkit-transform: rotate(0deg) scaleX(0.1);
        transform: rotate(0deg) scaleX(0.1);
    }
}

@keyframes arrowUp {
    0%, 100% {
        -webkit-transform: rotate(-40deg) scaleX(1);
        transform: rotate(-40deg) scaleX(1);
    }

    20%, 80% {
        -webkit-transform: rotate(0deg) scaleX(0.1);
        transform: rotate(0deg) scaleX(0.1);
    }
}

@-webkit-keyframes arrowDown {
    0%, 100% {
        -webkit-transform: rotate(40deg) scaleX(1);
        transform: rotate(40deg) scaleX(1);
    }

    20%, 80% {
        -webkit-transform: rotate(0deg) scaleX(0.1);
        transform: rotate(0deg) scaleX(0.1);
    }
}

@keyframes arrowDown {
    0%, 100% {
        -webkit-transform: rotate(40deg) scaleX(1);
        transform: rotate(40deg) scaleX(1);
    }

    20%, 80% {
        -webkit-transform: rotate(0deg) scaleX(0.1);
        transform: rotate(0deg) scaleX(0.1);
    }
}

.section-title {
    color: #232323;
    font-weight: 700;
    line-height: 1.2;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    text-align: center;
}

.section-title span {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FAA432;
    margin-bottom: 8px;
}

.section-title_left {
    text-align: left;
}

.section-title_left span {
    text-align: left;
}

.section-title_light {
    color: #ffffff;
}

.form-group {
    position: relative;
    font-size: 14px;
    line-height: 1.2142857143;
    margin-bottom: 30px;
    width: 100%;
}

.form-group .error {
    color: #ff3844;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

.form-group .form-control {
    width: 100%;
    padding: 12px;
    border-radius: 0;
    font-family: "Manrope";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #232323;
    border-right: 1px solid #D3D4DA;
}

.form-group .form-control::-webkit-input-placeholder {
    color: #999999;
    transition-duration: 0.3s;
}

.form-group .form-control::-moz-placeholder {
    color: #999999;
    transition-duration: 0.3s;
}

.form-group .form-control:-ms-input-placeholder {
    color: #999999;
    transition-duration: 0.3s;
}

.form-group .form-control::-ms-input-placeholder {
    color: #999999;
    transition-duration: 0.3s;
}

.form-group .form-control::placeholder {
    color: #999999;
    transition-duration: 0.3s;
}

.form-group .form-control:hover::-webkit-input-placeholder {
    color: #232323;
}

.form-group .form-control:hover::-moz-placeholder {
    color: #232323;
}

.form-group .form-control:hover:-ms-input-placeholder {
    color: #232323;
}

.form-group .form-control:hover::-ms-input-placeholder {
    color: #232323;
}

.form-group .form-control:hover::placeholder {
    color: #232323;
}

.form-group .form-control.error {
    border-color: #ff3844;
}

.form-group .form-control_radius {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.form-group .form-control_provider {
    border-radius: 30px;
}

.form-group label {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #181618;
    margin-bottom: 4px;
}

.form-group label span {
    color: #FAA432;
}

.form-group input[type=text] {
    height: 50px;
}

.form-group input[type=email] {
    height: 50px;
}

.form-group input[type=tel] {
    height: 50px;
}

.form-group input[type=tel].expanded {
    margin-top: 8px;
}

.form-group textarea {
    height: 127px;
    resize: none;
}

.form-group .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.form-group .checkbox > input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.form-group .checkbox__text {
    display: inline-block;
    padding-left: 32px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: #5c5c5c;
    position: relative;
}

.form-group .checkbox__text span {
    color: #999999;
    display: inline-block;
    margin-left: 12px;
}

.form-group .checkbox__text:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #E0E0E0;
    background-color: #ffffff;
}

.form-group .checkbox__text:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    -webkit-transform: scale(0);
    transform: scale(0);
    background: url(../../img/icons/check_icon.svg) 50% 50% no-repeat;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    transition: -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
}

.form-group .checkbox__text input {
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    height: 22px;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
}

.form-group .checkbox__text input:focus {
    outline: none;
}

.form-group .checkbox input:checked + span.checkbox__text {
    color: #5c5c5c;
}

.form-group .checkbox input:checked + span:before {
    background-color: #FAA432;
    border-color: #FAA432;
}

.form-group .checkbox input:checked + span:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.form-group .checkbox:hover span.checkbox__text {
    color: #5c5c5c;
}

.range-slider__values {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.range-slider__value {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.range-slider__value span {
    position: absolute;
    left: 16px;
    font-size: 14px;
    line-height: 140%;
    color: #616670;
}

.range-slider__value input {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    height: 40px;
    width: 120px;
    padding-left: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #616670;
}

.range-slider .noUi-target {
    margin-top: 27px;
    margin-bottom: 27px;
    background: #dddddd;
    border: none;
    border-radius: 3px;
    height: 6px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.range-slider .noUi-connect {
    background: #FAA432;
}

.range-slider .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    right: -10px;
    top: -7px;
    border-radius: 50%;
}

.range-slider .noUi-handle {
    background: #FAA432;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.range-slider .noUi-handle::before {
    content: "";
    display: block;
    background: rgba(56, 147, 212, 0.3);
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    transition-duration: 0.3s;
}

.range-slider .noUi-handle:hover::before {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.card-slider {
    position: relative;
}

.card-slider__slider {
    padding-top: 40px;
}

.card-slider__swiper {
    will-change: transform;
}

.card-slider__arrows {
    pointer-events: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 42px;
}

.card-slider__arrow {
    pointer-events: auto;
    cursor: pointer;
}

.no-scroll::-webkit-scrollbar {
    width: 0;
}

.no-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider-arrows {
    position: relative;
}

.slider-arrows span.indicator {
    position: absolute;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    left: 50%;
    top: 0px;
    background: #f8f3ed;
    z-index: -1;
    transition-duration: 0.3s;
}

.slider-arrows .slider-arrow {
    width: 32px;
    height: 69px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
}

.slider-arrows .slider-arrow:before {
    content: "";
    width: 32px;
    height: 32px;
    display: block;
    -webkit-mask-image: url(../../img/icons/ArrowsLeftRight-1.svg);
    mask-image: url(../../img/icons/ArrowsLeftRight-1.svg);
    background: #262626;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    z-index: 2;
    transition-duration: 0.3s;
}

.slider-arrows .slider-arrow_prev {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.slider-arrows .slider-arrow_next {
    -webkit-transform: none;
    transform: none;
}

.slider-arrows .slider-arrow:nth-child(1):hover ~ .indicator {
    -webkit-transform: translateX(-72px);
    transform: translateX(-72px);
}

.link--carpo::before,
.link--carpo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link--carpo::before {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.link--carpo::after {
    top: calc(100% + 4px);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.link--carpo:hover::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.link--carpo:hover::after {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
}

@media (min-width: 1176px) {
    .section-title {
        font-size: 32px;
    }
}

@media (max-width: 991.98px) {
    .card-slider {
        margin-right: -15px;
    }
}

@media (max-width: 767.98px) {
    .form-group .form-control_radius {
        border-radius: 0;
    }
}

@media (max-width: 320px) {
    .section-title {
        font-size: 22px;
    }
}

@media (min-width: 320px) and (max-width: 1176px) {
    .section-title {
        font-size: clamp( 22px , 18.261682243px  +  1.1682242991vw , 32px );
    }
}