@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "Inter";
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Inter";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    background-color: #FFFFFF;
    color: #111111;
}

body._lock {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

html {
    font-size: 16px;
}

.wrapper,
.site {
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.wrapper > main,
.wrapper .site-content,
.site > main,
.site .site-content {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.wrapper > *,
.site > * {
    min-width: 0;
}

header {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
}

main {
    padding-top: 161px;
}

[class*=__container] {
    max-width: 1560px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 15px;
}

.swiper {
    overflow: hidden;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.swiper-vertical .swiper-wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
    -ms-flex-align: start;
    align-items: flex-start;
}

.swiper-initialized .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
    display: none !important;
}

.swiper-grid > .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50px, 0, 0);
        transform: translate3d(-50px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50px, 0, 0);
        transform: translate3d(-50px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes zoomIn {
    from {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoomIn {
    from {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.btn-color {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #f86f33;
    background: #f2f2f7;
    border: none;
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    transition: color 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btn-color span {
    position: relative;
}

.btn-color::before {
    content: "";
    background: #dc3d16;
    width: 120%;
    height: 100%;
    top: 0;
    left: -10%;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    transition: -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1), -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    position: absolute;
}

.btn-color:hover {
    color: #ffffff;
}

.btn-color:hover::before {
    -webkit-transform: translate3d(0, 0, 0) skew(30deg);
    transform: translate3d(0, 0, 0) skew(30deg);
}

.btn-color_dark {
    color: #ffffff;
    background: #f86f33;
}

.btn-color_middle {
    font-size: 14px;
    height: 38px;
    background: #ffffff;
}

.section-title h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    color: #111111;
    margin-top: 0;
    margin-bottom: 0;
}

.slider-arrows {
    position: relative;
    display: grid;
    grid-template-columns: 40px 40px;
    -webkit-column-gap: 12px;
    -moz-column-gap: 12px;
    column-gap: 12px;
}

.slider-arrows .slider-arrow {
    width: 40px;
    height: 40px;
    background: #f0f0f0;
    border-radius: 20px;
    position: relative;
    transition: 0.3s ease-out;
}

.slider-arrows .slider-arrow:hover {
    background: #f6723a;
}

.slider-arrows .slider-arrow:hover::before {
    background: #ffffff;
}

.slider-arrows .slider-arrow:before {
    content: "";
    width: 40px;
    height: 40px;
    display: block;
    -webkit-mask-image: url("../../img/icons/slider-arrow.svg");
    mask-image: url("../../img/icons/slider-arrow.svg");
    background: #111111;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: 0.3s ease-out;
}

.slider-arrows .slider-arrow_prev {
    -webkit-transform: none;
    transform: none;
}

.slider-arrows .slider-arrow_next {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@media (min-width: 767.98px) {
    .page-animate [data-animate] {
        visibility: hidden;
    }

    .page-animate [data-animate].in-view {
        visibility: visible;
        -webkit-animation-name: var(--animateName);
        animation-name: var(--animateName);
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    .page-animate [data-animate-stager] > * {
        visibility: hidden;
    }

    .page-animate [data-animate-stager].in-view > * {
        visibility: visible;
        -webkit-animation-name: var(--animateName);
        animation-name: var(--animateName);
        -webkit-animation-delay: var(--animateDelay);
        animation-delay: var(--animateDelay);
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@media (max-width: 991.98px) {
    main {
        padding-top: 65px;
    }
}

@media (max-width: 767.98px) {
    main {
        padding-top: 45px;
    }

    [class*=__container] {
        max-width: 375px;
    }

    [class*=__container_full] {
        max-width: none;
    }

    .btn-color {
        font-size: 13px;
        height: 37px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .section-title h3 {
        font-size: 18px;
    }
}

@media (any-hover: none) {
    .no-scroll::-webkit-scrollbar {
        width: 0;
    }

    .no-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}