@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700);

@font-face {
    font-family: "Rawline";
  src: url("../../fonts/Rawline-SemiBold.woff2") format("woff2"), url("../../fonts/Rawline-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Rawline";
  src: url("../../fonts/Rawline-Light.woff2") format("woff2"), url("../../fonts/Rawline-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Rawline";
  src: url("../../fonts/Rawline-Bold.woff2") format("woff2"), url("../../fonts/Rawline-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Rawline";
  src: url("../../fonts/Rawline-Medium.woff2") format("woff2"), url("../../fonts/Rawline-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Rawline";
  src: url("../../fonts/Rawline-Regular.woff2") format("woff2"), url("../../fonts/Rawline-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

ul {
    margin-bottom: 0;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --font-family: "Rawline", sans-serif;
    --second-family: "Open Sans", sans-serif;
    --main-bg-color: #000;
    --main-text-color: #fff;
    --primary-color: #ff3f40;
}

html {
    font-size: 16px;
    height: 100%;
    min-width: 320px;
}

body {
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-style: normal;
}

body.mobile-menu-opened,
body.filters-opened {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.site-wrapper,
.site {
    overflow: hidden;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.site-wrapper > .main,
.site-wrapper .site-content,
.site > .main,
.site .site-content {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.site-wrapper > *,
.site > * {
    min-width: 0;
}

header {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    position: relative;
}

.main,
.site-content {
    position: relative;
    padding-top: 140px;
}

[class*=__container] {
    position: relative;
    max-width: 1570px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fancybox__container {
    max-width: none !important;
}

@keyframes stroke {
    0% {
        fill: transparent;
    }

    15% {
        fill: transparent;
        stroke: #ed8c2b;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
    }

    80% {
        fill: transparent;
        stroke: #ed8c2b;
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
    }

    100% {
        fill: #ed8c2b;
        stroke: #ed8c2b;
    }
}

.form form {
    display: grid;
    gap: 15px;
}

.form .form-group {
    margin-bottom: 0;
    position: relative;
}

.form .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form .form-submit {
    display: grid;
    gap: 15px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #fff;
}

.form input,
.form textarea {
    outline: none;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 0px 18px;
    height: 56px;
    background: transparent;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    color: #fff;
    height: 58px;
    padding-left: 20px;
    padding-right: 20px;
}

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
    color: #fff;
}

.form input::placeholder,
.form textarea::placeholder {
    color: #fff;
}

header .rs-header {
    transition: background 0.45s ease;
}

header .rs-header .rs-header__wrapper {
    transition: height 0.45s ease;
}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header.sticky .rs-header {
    background: #000009;
}

.btn-color {
    position: relative;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    min-height: 54px;
    background: var(--primary-color);
    padding: 0px 20px;
    border-radius: 8px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: background 0.35s ease;
}

.btn-color span {
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #fff;
    transition: color 0.35s ease;
}

.btn-color_tr {
    background: #4C4CFF;
}

.btn-color_white {
    background: #fff;
}

.btn-color_white span {
    color: #424242;
}

@keyframes rotate {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    25% {
        transform: rotate3d(0, 0, 1, 90deg);
    }

    50% {
        transform: rotate3d(0, 0, 1, 180deg);
    }

    75% {
        transform: rotate3d(0, 0, 1, 270deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes rotateTranslate {
    0% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 0deg);
    }

    25% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 90deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 180deg);
    }

    75% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 270deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 360deg);
    }
}

[class*=__container]::before,
[class*=__container]::after {
    animation: rotateTranslate 15s normal linear infinite;
}

.tlt {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: transform 0.35s ease;
}

.tlt.in-view {
    opacity: 1;
    transform: none;
    visibility: visible;
}

@media (min-width: 767.98px) {
    .page-animate [data-animate] {
        visibility: hidden;
    }

    .page-animate [data-animate].in-view {
        visibility: visible;
        animation-name: var(--animateName);
        animation-duration: var(--animateDuration, 0.45s);
        animation-delay: var(--animateDelay);
        animation-fill-mode: both;
        animation-timing-function: ease-out;
    }

    .page-animate [data-animate-stager] > * {
        visibility: hidden;
    }

    .page-animate [data-animate-stager].in-view > * {
        visibility: visible;
        animation-name: var(--animateName);
        animation-duration: var(--animateDuration, 0.45s);
        animation-delay: var(--animateDelay);
        animation-fill-mode: both;
        animation-timing-function: ease-out;
    }
}

@media (min-width: 991.98px) {
    header.sticky .rs-header .rs-header__wrapper {
        height: 80px;
    }

    .btn-color_wide {
        min-width: 200px;
    }
}

@media (max-width: 991.98px) {
    .main,
  .site-content {
        padding-top: 55px;
    }
}

@media (max-width: 767.98px) {
    [class*=__container] {
        max-width: 375px;
    }

    .form form {
        gap: 8px;
    }

    .form .form-row {
        display: contents;
    }

    .form .form-submit {
        font-size: 12px;
    }

    .form input,
  .form textarea {
        font-size: 13px;
    }
}

@media (any-hover: none) {
    [data-hidescroll]::-webkit-scrollbar {
        width: 0;
    }

    [data-hidescroll] {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@media (any-hover: hover) {
    .btn-color:hover {
        background: #00f;
    }

    .btn-color_tr:hover {
        background: #f0f5fc;
    }

    .btn-color_tr:hover span {
        color: #424242;
    }

    .btn-color_white:hover {
        background: #f0f5fc;
    }
}