.mobile-menu-tabs {
    display: none;
    color: #FFFFFF;
    width: 100%;
    padding-bottom: 20px;
}

.mobile-menu-tabs a {
    color: inherit;
}

.mobile-menu-tabs__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
    border: none;
    margin-bottom: 18px;
}

.mobile-menu-tabs__list li {
    margin: 0px 5px;
}

.mobile-menu-tabs__list li.active .mobile-menu-tabs__link {
    background-color: #FFFFFF;
}

.mobile-menu-tabs__list li.active .mobile-menu-tabs__link span {
    color: #7CCCBF;
}

.mobile-menu-tabs__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.mobile-menu-tabs__pane {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.mobile-menu-tabs__pane a,
.mobile-menu-tabs__pane span {
    display: block;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.mobile-menu-search {
    display: none;
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
}

.mobile-menu-search__box {
    position: relative;
    height: 100%;
}

.mobile-menu-search__input {
    width: 100%;
    height: 100%;
    color: #616161;
    border-radius: 10px;
    background-color: #ffffff;
    padding-left: 48px;
}

.mobile-menu-search__button {
    position: absolute;
    left: 18px;
    top: 50%;
    color: #616161;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent;
}

.menu {
    height: 133px;
    font-size: 13px;
    z-index: 9;
}

.menu__list {
    height: 100%;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.menu__list > li {
    height: 100%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.menu__list > li > a {
    position: relative;
    font-size: 1em;
    line-height: 1.2;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.menu__dropdown {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu__dropdown-arrow {
    position: relative;
    background-color: transparent;
    margin-left: 3px;
    margin-right: 3px;
    width: 20px;
    height: 15px;
    color: #FFFFFF;
    transition: -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
}

.menu__dropdown-arrow._active {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.menu__dropdown-list .menu__dropdown-arrow {
    display: block;
}

.menu__dropdown-list {
    padding-bottom: 12px;
    padding-top: 12px;
    position: absolute;
    top: 100%;
    left: -15px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.8s cubic-bezier(0.24, 0.002, 0.002, 1);
    background-color: #FFFFFF;
}

.menu__dropdown-list .menu__dropdown-list {
    top: -2px;
    left: 100%;
}

.menu__dropdown-list li {
    padding-right: 45px;
    padding-left: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.menu__dropdown-list a {
    font-size: 1em;
    font-weight: 800;
    letter-spacing: normal;
    line-height: 1.2;
    color: #293755;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    white-space: nowrap;
}

.menu__dropdown.hover > .menu__dropdown-list {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.menu-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
    -webkit-transform-origin: top;
    transform-origin: top;
}

.menu-overlay.active {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
}

.menu-burger {
    -ms-flex: 0 0 42px;
    flex: 0 0 42px;
    display: none;
    position: relative;
    width: 42px;
    height: 40px;
    padding: 13px 10px;
    line-height: 1;
    z-index: 15;
}

.menu-burger span {
    display: block;
    position: absolute;
    top: 13px;
    left: auto;
    right: 10px;
    width: 22px;
    height: 2px;
    background: #FFFFFF;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: color 0.3s cubic-bezier(0.28, 0, 0.49, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: color 0.3s cubic-bezier(0.28, 0, 0.49, 1), transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: color 0.3s cubic-bezier(0.28, 0, 0.49, 1), transform 0.3s cubic-bezier(0.42, 0, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
}

.menu-burger span:nth-child(2) {
    top: 19px;
    width: 16px;
}

.menu-burger span:nth-child(3) {
    top: 25px;
}

.menu-burger.active span {
    background: #FFFFFF;
}

.menu-burger.active span:nth-child(1) {
    -webkit-transform: rotate(45deg) translateY(4px) translateX(4px);
    transform: rotate(45deg) translateY(4px) translateX(4px);
}

.menu-burger.active span:nth-child(2) {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.menu-burger.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-4.5px) translateX(4.5px);
    transform: rotate(-45deg) translateY(-4.5px) translateX(4.5px);
}

.header-search {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
}

.header-search__box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.header-search__input {
    height: 51px;
    width: 240px;
    font-weight: 400;
    font-size: 13px;
    color: #A6A7A9;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
}

.header-search__reset {
    height: 51px;
    width: 51px;
    position: absolute;
    top: 0;
    right: 0;
    color: #A0A9BD;
}

.header-search__submit {
    display: none;
    height: 30px;
    width: 30px;
    background: url("../../img/svgicons/search_icon.svg") center/13px 13px no-repeat;
    border: 1px solid #FFFFFF;
}

.search-is-open .header-search {
    opacity: 1;
    visibility: visible;
}

.rs-17 .rs-header {
    position: relative;
    height: 133px;
}

.rs-17 .rs-header__container {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-17 .rs-header__logo {
    position: absolute;
    left: 120px;
    top: 30px;
}

.rs-17 .rs-header__logo img {
    width: 100%;
}

.rs-17 .rs-header__lang {
    position: absolute;
    top: 40px;
    right: 15px;
}

.rs-17 .rs-header .menu {
    margin-left: 145px;
}

.rs-17 .rs-header__actions {
    display: -ms-flexbox;
    display: flex;
    margin-right: 80px;
}

.rs-17 .rs-header__search {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.lang-picker {
    position: relative;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.08em;
}

.lang-picker__current {
    border: 2px solid #7CCCBF;
}

.lang-picker__current button {
    padding: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.lang-picker__current button span {
    color: #FFFFFF;
}

.lang-picker__current button .icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    stroke: #FFFFFF;
}

.lang-picker__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 2px solid #FFFFFF;
    border-top: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.24, 0.002, 0.002, 1);
}

.lang-picker__dropdown li a {
    display: block;
    padding: 16px;
    color: #FFFFFF;
}

.lang-picker__dropdown li a:hover {
    color: #7CCCBF;
}

.lang-picker.hover .lang-picker__dropdown {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.sticky .rs-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
}

.sticky.out .rs-header {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

@media (min-width: 991.98px) {
    .menu__dropdown-list .menu__dropdown-arrow {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .menu__dropdown.hover > .menu__dropdown-arrow {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    .menu__dropdown-list li > a {
        transition: color 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    }

    .menu__dropdown-list li:hover > a {
        color: #7CCCBF;
    }

    .menu__list > li > a {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
    }

    .menu__list > li > a::before {
        content: "";
        position: absolute;
        width: 60%;
        height: 2px;
        background: #7CCCBF;
        top: calc(100% + 30px);
        left: 0;
        pointer-events: none;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        transition: -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
        transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
        transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    }

    .menu__list > li:hover > a::before,
  .menu__list > li.active > a::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .menu-overlay {
        display: none;
    }
}

@media (any-hover: hover) and (min-width: 991.98px) {
    .menu__dropdown:hover > .menu__dropdown-arrow {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

@media (min-width: 991.98px) and (min-width: 991.98px) {
    .menu__dropdown-list li:hover > .menu__dropdown-arrow,
  .menu__dropdown-list li.hover > .menu__dropdown-arrow {
        -webkit-transform: rotate(-90deg) translateY(10px);
        transform: rotate(-90deg) translateY(10px);
    }
}

@media (min-width: 1335px) {
    .rs-17 .rs-header__lang {
        right: calc((100vw - 1305px) / 5);
    }
}

@media (min-width: 1570px) {
    .menu__list > li:not(:last-child) {
        margin-right: 32px;
    }
}

@media (max-width: 1900px) {
    .rs-17 .rs-header__logo {
        left: 15px;
    }
}

@media (max-width: 1350px) {
    .rs-17 .rs-header .menu {
        margin-left: 160px;
    }

    .rs-17 .rs-header__actions {
        margin-right: 110px;
    }
}

@media (max-width: 992px) {
    .menu__list > li:not(:last-child) {
        margin-right: 15px;
    }
}

@media (max-width: 991.98px) {
    .mobile-menu-tabs {
        display: block;
    }

    .mobile-menu-search {
        display: block;
    }

    .menu {
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        width: 87vw;
        background-color: #7CCCBF;
        -webkit-transform: translateX(87vw);
        transform: translateX(87vw);
        transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        overflow-y: auto;
    }

    .menu.active {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .menu__list {
        display: block;
        height: auto;
    }

    .menu__list > li {
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 20px;
        height: auto;
        margin-right: 0 !important;
    }

    .menu__dropdown {
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .menu__dropdown-list {
        position: static;
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        margin: 0;
        padding: 0px 0px 0px 15px;
        pointer-events: auto;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        height: auto;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu__dropdown-list .menu__dropdown-list {
        background-color: transparent;
        padding: 10px 0px 0px 20px;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu__dropdown-list li {
        padding-right: 0;
        padding-left: 0;
    }

    .menu__dropdown-list a {
        color: #FFFFFF;
        white-space: normal;
    }

    .header-search-open {
        display: none;
    }

    .rs-17 .rs-header__lang {
        right: 65px;
    }

    .rs-17 .rs-header__actions {
        margin-left: auto;
    }
}

@media (max-width: 991px) {
    .menu-burger {
        display: block;
    }
}

@media (max-width: 479.98px) {
    .rs-17 .rs-header__logo {
        width: 100px;
    }
}

@media (min-width: 992px) and (max-width: 1570px) {
    .menu__list > li:not(:last-child) {
        margin-right: clamp( 15px , -14.1764705882px  +  2.9411764706vw , 32px );
    }
}

@media (any-hover: hover) {
    .menu__dropdown-arrow {
        display: none;
    }

    .menu__dropdown:hover > .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    .lang-picker:hover .lang-picker__dropdown {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .lang-picker:hover .lang-picker__current {
        border-color: #FFFFFF;
    }

    .lang-picker:hover .lang-picker__current button {
        background-color: #FFFFFF;
    }

    .lang-picker:hover .lang-picker__current button span {
        color: #293755;
    }

    .lang-picker:hover .lang-picker__current button .icon {
        stroke: #293755;
    }
}