.rs-17 .rs-news {
    position: relative;
    margin-top: -264px;
}

.rs-17 .rs-news__container {
    position: relative;
    box-sizing: border-box;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 110px;
    z-index: 2;
}

.rs-17 .rs-news__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: #384A72;
    z-index: -1;
}

.rs-17 .rs-news__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 44px;
    margin-top: 0;
}

.rs-17 .rs-news__title h4 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
}

.rs-17 .rs-news__slider {
    margin-bottom: 50px;
}

.rs-17 .rs-news__slide {
    position: relative;
}

.rs-17 .rs-news__slide::after {
    content: "";
    height: 100%;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    right: -30px;
}

.rs-17 .rs-news__controls {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-17 .rs-news .slide {
    position: relative;
    height: 100%;
    font-size: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-17 .rs-news .slide h4 {
    font-size: 1.2857142857em;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 20px;
}

.rs-17 .rs-news .slide p {
    font-size: 1.1428571429em;
    line-height: 1.4;
    font-weight: 400;
    color: #A0A9BD;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.rs-17 .rs-news .slide__img {
    position: relative;
    padding-bottom: 76%;
    display: block;
    margin-bottom: 14px;
    overflow: hidden;
}

.rs-17 .rs-news .slide__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    transition: -webkit-transform 0.8s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.8s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.8s cubic-bezier(0.24, 0.002, 0.002, 1), -webkit-transform 0.8s cubic-bezier(0.24, 0.002, 0.002, 1);
}

.rs-17 .rs-news .slide__meta {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-17 .rs-news .slide__meta span {
    line-height: 1.6;
    letter-spacing: 0.08em;
    font-weight: 500;
}

.rs-17 .rs-news .slide__meta span:nth-child(1) {
    font-size: 0.9285714286em;
    color: #7CCCBF;
    display: block;
    text-transform: uppercase;
    background: #4c5c80;
    padding: 2px 6px;
}

.rs-17 .rs-news .slide__meta span:nth-child(2) {
    font-size: 1em;
    color: #A0A9BD;
}

.rs-17 .rs-news .slide__arrow {
    margin-top: auto;
}

.rs-17 .rs-news .slide__arrow img {
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: -webkit-transform 0.8s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.8s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.8s cubic-bezier(0.24, 0.002, 0.002, 1), -webkit-transform 0.8s cubic-bezier(0.24, 0.002, 0.002, 1);
}

.rs-17 .rs-news .slide__link {
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.rs-17 .rs-news .slide:hover .slide__img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.rs-17 .rs-news .slide:hover .slide__arrow img {
    -webkit-transform: scaleX(1.4);
    transform: scaleX(1.4);
}

.rs-17 .rs-news .pagging {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    position: relative;
}

.rs-17 .rs-news .pagging .swiper-pagination-progressbar-fill {
    background-color: #7CCCBF;
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: left;
    transform-origin: left;
}

.rs-17 .rs-news .arrows {
    display: -ms-flexbox;
    display: flex;
    margin-left: 40px;
}

.rs-17 .rs-news .arrows .arrow_prev {
    margin-right: 20px;
}

.rs-17 .rs-news .fraction {
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #A0A9BD;
}

@media (max-width: 1335px) {
    .rs-17 .rs-news__container {
        padding-left: 15px;
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-news__slide::after {
        right: -15px;
    }
}