.menu {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 100%;
    font-size: 16px;
}

.menu {
    position: relative;
}

.menu .menu-wrapper {
    height: 100%;
    position: relative;
    display: grid;
}

.menu .menu__list {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.menu .menu__list > li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.menu .menu__list > li:not(:last-child) {
    margin-right: 30px;
}

.menu .menu__list > li > a {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 1em;
    line-height: normal;
    font-weight: 400;
    letter-spacing: normal;
    color: #13151B;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    text-transform: none;
}

.menu .menu__dropdown {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu .menu__dropdown-list {
    min-width: 280px;
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #DCDCDC;
}

.menu .menu__dropdown-list .menu__dropdown-list {
    top: -8px;
    left: 100%;
}

.menu .menu__dropdown-list li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    color: #000;
    text-transform: none;
}

.menu .menu__dropdown-arrow {
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
}

.menu .menu__dropdown-arrow::before {
    content: url("../../img/icons/menu_icon.svg");
    transition: -webkit-transform 0.35s ease;
    transition: transform 0.35s ease;
    transition: transform 0.35s ease, -webkit-transform 0.35s ease;
    display: block;
}

.menu .menu__dropdown-list {
    opacity: 0;
    -webkit-transform: translate(0px, 20px);
    transform: translate(0px, 20px);
    transition: all 0.35s ease;
}

.menu__dropdown.hover > .menu__dropdown-list {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    pointer-events: auto;
}

.menu-overlay {
    pointer-events: none;
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition-delay: 0.5s;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
    transition: opacity 0.5s, -webkit-transform 0s;
    transition: transform 0s, opacity 0.5s;
    transition: transform 0s, opacity 0.5s, -webkit-transform 0s;
}

.menu-overlay.active {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition-delay: 0s;
    opacity: 1;
}

.nav > li > a {
    padding: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.menu-burger {
    -ms-flex: 0 0 53px;
    flex: 0 0 53px;
    display: none;
    position: relative;
    width: 53px;
    height: 32px;
    line-height: 1;
}

.menu-burger span {
    display: block;
    position: absolute;
    top: 9px;
    right: 14px;
    width: 22px;
    height: 2px;
    background: #13151B;
    transition: all 0.4s ease;
}

.menu-burger span:nth-child(2) {
    top: 16px;
}

.menu-burger span:nth-child(3) {
    top: 23px;
}

.menu-burger.active span:nth-child(2) {
    opacity: 0;
}

.menu-burger.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 15px;
}

.menu-burger.active span:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.rs-header {
    background: #f5f5f5;
}

.rs-header__container {
    display: grid;
    grid-template-rows: 50px 110px;
}

.rs-header__logo {
    position: relative;
    -ms-flex: 0 0 258px;
    flex: 0 0 258px;
    margin-right: 25px;
}

.rs-header__logo img {
    width: 100%;
}

.rs-header__top {
    border-bottom: 1px solid rgba(59, 63, 63, 0.2);
}

.rs-header__bottom {
    border-bottom: 1px solid rgba(59, 63, 63, 0.2);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rs-header__buttons {
    margin-left: 24px;
}

.rs-header__buttons a {
    white-space: nowrap;
}

.rs-header__contacts {
    position: relative;
    margin-left: 55px;
}

.rs-header__search {
    position: relative;
}

.rs-header__menu-catalog {
    margin-right: 24px;
}

.rs-header .menu-catalog {
    position: relative;
    height: 100%;
}

.rs-header .menu-catalog > button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 50px;
    background: transparent;
    border-radius: 100px;
    border: 2px solid #13151b;
    padding-left: 25px;
    padding-right: 25px;
    color: #13151b;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    transition: background 0.3s ease, color 0.3s ease;
}

.rs-header .menu-catalog > button span {
    margin-left: 8px;
}

.rs-header .menu-catalog > button svg path {
    transition: fill 0.3s ease;
}

.rs-header .menu-catalog > button:hover {
    background: #13151b;
    color: #fff;
}

.rs-header .menu-catalog > button:hover svg path {
    fill: #fff;
}

.rs-header .menu-catalog__list {
    position: absolute;
    left: 0;
    top: calc(100% + 15px);
    padding: 20px 30px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 24px 20px 0px rgba(20, 82, 67, 0.05);
}

.rs-header .menu-catalog__list li a {
    display: block;
    white-space: nowrap;
    color: #13151b;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rs-header .header-search {
    height: 100%;
}

.rs-header .header-search__box {
    height: 58px;
    position: relative;
}

.rs-header .header-search__input {
    height: 100%;
    width: 100%;
    background: #fff;
    padding-left: 64px;
    padding-right: 24px;
    border-radius: 58px;
    color: #13151b;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.rs-header .header-search__input::-webkit-input-placeholder {
    color: rgba(19, 21, 27, 0.5);
}

.rs-header .header-search__input:-ms-input-placeholder {
    color: rgba(19, 21, 27, 0.5);
}

.rs-header .header-search__input::-ms-input-placeholder {
    color: rgba(19, 21, 27, 0.5);
}

.rs-header .header-search__input::placeholder {
    color: rgba(19, 21, 27, 0.5);
}

.rs-header .header-search__input:focus {
    outline: none;
}

.rs-header .header-search__submit {
    position: absolute;
    left: 0;
    top: 0;
    width: 72px;
    height: 100%;
    background: transparent;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid transparent;
}

.rs-header .header-search__submit::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    -webkit-mask-image: url("../../img/icons/search_icon.svg");
    mask-image: url("../../img/icons/search_icon.svg");
    background: #13151b;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.rs-header .header-search-open {
    width: 32px;
    height: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.rs-header .header-contacts a {
    white-space: nowrap;
    color: #13151b;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    transition: color 0.35s ease;
}

.rs-header .header-contacts a span {
    display: block;
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-align: right;
}

@media (min-width: 991.98px) {
    .menu .menu__dropdown-list li a {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .menu .menu__list > li:last-child {
        margin-left: auto;
    }

    .menu .menu__list li {
        height: 100%;
    }

    .menu .menu__list > li > a {
        height: 100%;
        position: relative;
        transition: color 0.35s ease;
    }

    .menu .menu__list > li.active > a,
  .menu .menu__list > li:hover > a {
        color: #C3966A;
    }

    .menu .menu__dropdown-list li > a {
        transition: color 0.35s ease;
    }

    .menu .menu__dropdown-list li:hover > a {
        color: #C3966A;
    }

    .menu .menu__dropdown.hover .menu__dropdown-arrow::before {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }

    .menu-overlay {
        display: none;
    }

    .rs-header__search {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .rs-header .header-search-open {
        display: none;
    }

    .rs-header .header-contacts a img {
        display: none;
    }
}

@media (max-width: 1556px) {
    .rs-header__logo {
        margin-right: 15px;
    }

    .rs-header__buttons {
        margin-left: 15px;
    }

    .rs-header__contacts {
        margin-left: 15px;
    }

    .rs-header__menu-catalog {
        margin-right: 15px;
    }
}

@media (max-width: 1200px) {
    .rs-header__logo {
        -ms-flex: 0 0 190px;
        flex: 0 0 190px;
    }
}

@media (max-width: 991.98px) {
    .menu {
        background: #F5F5F5;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: hidden;
        pointer-events: none;
        height: auto;
        max-height: 100vh;
        position: fixed;
        padding-top: 74px;
        left: 0;
        top: 0;
        width: 100%;
        font-size: 14px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        transition: all 0.35s ease;
    }

    .menu.active {
        visibility: visible;
        pointer-events: auto;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .menu::before {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        top: 75px;
        left: 0;
        background: rgba(59, 63, 63, 0.2);
    }

    .menu .menu-wrapper {
        height: auto;
        width: 100%;
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        overflow-y: auto;
        border-top: 1px solid #f2f2f2;
    }

    .menu .menu__list {
        display: block;
        height: auto;
    }

    .menu .menu__list > li {
        height: auto;
        margin-right: 0 !important;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0;
    }

    .menu .menu__list > li > a {
        color: #13151B;
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal;
        padding-left: 0;
        padding-right: 0;
    }

    .menu .menu__dropdown {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .menu .menu__dropdown-list {
        position: static;
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        pointer-events: auto;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        height: auto;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu .menu__dropdown-list .menu__dropdown-list {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu .menu__dropdown-list li a {
        padding-left: 0;
        padding-right: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 14px;
    }

    .menu .menu__dropdown-arrow {
        margin-left: 20px;
    }

    .menu .menu__dropdown .menu__dropdown-arrow._active::before {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }

    .rs-header__container {
        grid-template-rows: 0px 74px;
    }

    .rs-header__logo {
        -ms-flex: 0 0 162px;
        flex: 0 0 162px;
        margin-right: auto;
    }

    .rs-header__buttons {
        display: none;
    }

    .rs-header__menu-catalog {
        display: none;
    }

    .rs-header .header-search__box {
        position: absolute;
        top: calc(100% + 20px);
        right: 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.35s ease;
    }

    .rs-header .header-search__input {
        width: 260px;
    }

    .search-is-open .rs-header .header-search .header-search__box {
        visibility: visible;
        opacity: 1;
    }

    .rs-header .header-contacts a {
        font-size: 0;
        width: 24px;
        height: 24px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .rs-header .header-contacts a span {
        font-size: 0;
    }
}

@media (max-width: 991px) {
    .menu-burger {
        display: block;
        position: relative;
        z-index: 2;
    }
}

@media (any-hover: hover) {
    .menu .menu__dropdown-arrow {
        display: none;
    }

    .menu__dropdown:hover > .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        pointer-events: auto;
    }

    .rs-header .menu-catalog__list li a:hover {
        color: #c3966a;
    }

    .rs-header .header-contacts a:hover {
        color: #c3966a;
    }
}