.rs-banner {
    position: relative;
    padding-left: 15px;
}

.rs-banner__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rs-banner__left {
    pointer-events: none;
    position: relative;
    z-index: 2;
    margin-left: -53px;
    padding-top: 200px;
}

.rs-banner__photo {
    position: relative;
    height: 1034px;
}

.rs-banner__photo img {
    -webkit-clip-path: polygon(13% 0, 100% 0, 100% 100%, 13% 100%, 0 93%, 0 7%);
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 13% 100%, 0 93%, 0 7%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-banner__photo::before {
    content: url(../../img/rs-banner/bg_banner.svg);
    position: absolute;
    left: -150px;
    top: 4%;
}

.rs-banner .video-link {
    display: grid;
    grid-template-columns: 255px 221px;
    -webkit-column-gap: 70px;
    -moz-column-gap: 70px;
    column-gap: 70px;
    -ms-flex-align: center;
    align-items: center;
}

.rs-banner .video-link h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #293c42;
}

.rs-banner .video-link h6 span {
    color: #fdc300;
}

.rs-banner .video-link a {
    width: 221px;
    height: 221px;
    background: #ffd700;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.rs-banner .video-link a img {
    width: 74px;
    height: 74px;
}

@media (min-width: 767.98px) {
    .rs-banner__video-link {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-65%, -20%);
        transform: translate(-65%, -20%);
    }
}

@media (min-width: 991.98px) {
    .rs-banner__video-link {
        -webkit-transform: translate(calc(-50% - 160px), -10%);
        transform: translate(calc(-50% - 160px), -10%);
    }
}

@media (min-width: 1475px) {
    .rs-banner {
        padding-left: calc((100% - 1445px) / 2);
    }
}

@media (max-width: 1600px) {
    .rs-banner__left {
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .rs-banner__photo {
        height: 770px;
    }
}

@media (max-width: 767.98px) {
    .rs-banner {
        border-bottom: 1px dashed #fdc300;
        padding-right: 15px;
    }

    .rs-banner__wrapper {
        display: block;
    }

    .rs-banner__wrapper {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
        border-left: 1px dashed #fdc300;
        border-right: 1px dashed #fdc300;
    }

    .rs-banner__left {
        padding-top: 0px;
        margin-bottom: 20px;
    }

    .rs-banner__right {
        margin-bottom: 20px;
    }

    .rs-banner__photo {
        height: 383px;
    }

    .rs-banner__photo img {
        -webkit-clip-path: polygon(13% 0, 100% 0, 100% 100%, 5% 100%, 0 95%, 0 7%);
        clip-path: polygon(13% 0, 100% 0, 100% 100%, 5% 100%, 0 95%, 0 7%);
    }

    .rs-banner__photo::before {
        display: none;
    }

    .rs-banner .video-link {
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
        grid-template-columns: 1fr 64px;
    }

    .rs-banner .video-link h6 {
        font-size: 13px;
    }

    .rs-banner .video-link a img {
        width: 21px;
        height: 21px;
    }

    .rs-banner .video-link a {
        width: 64px;
        height: 64px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-banner {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }
}