.rs-benefit {
    background: url("../../img/bg.svg") 100% -20px no-repeat;
    position: relative;
    padding-top: 118px;
    padding-bottom: 130px;
}

.rs-benefit__inner {
    position: relative;
    margin-top: 70px;
}

.rs-benefit__img {
    width: 46%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.rs-benefit__img img {
    width: 100%;
}

.rs-benefit__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 95px;
    -moz-column-gap: 95px;
    column-gap: 95px;
    row-gap: 170px;
    padding-bottom: 93px;
}

.rs-benefit_about {
    background: none;
}

.rs-benefit .benefit-item {
    padding-top: 64px;
    position: relative;
}

.rs-benefit .benefit-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 13px;
    height: 13px;
    border: 13px solid transparent;
    border-top: 13px solid #fdc300;
    border-right: 13px solid #fdc300;
}

.rs-benefit .benefit-item h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #293c42;
    margin-top: 0;
    margin-bottom: 12px;
}

.rs-benefit .benefit-item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #272735;
    margin-bottom: 0;
}

@media (max-width: 1475px) {
    .rs-benefit__items {
        -webkit-column-gap: 35px;
        -moz-column-gap: 35px;
        column-gap: 35px;
        row-gap: 100px;
    }
}

@media (max-width: 991.98px) {
    .rs-benefit {
        background: none;
    }

    .rs-benefit__img {
        width: 100%;
        position: static;
    }

    .rs-benefit__items {
        grid-template-columns: repeat(2, 1fr);
    }

    .rs-benefit__item.empty {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .rs-benefit {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: 1px dashed #fdc300;
    }

    .rs-benefit__wrapper {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
        padding-bottom: 30px;
        border-left: 1px dashed #fdc300;
        border-right: 1px dashed #fdc300;
    }

    .rs-benefit__inner {
        margin-top: 30px;
    }

    .rs-benefit__items {
        grid-template-columns: 1fr;
        row-gap: 30px;
        padding-bottom: 30px;
    }

    .rs-benefit .benefit-item {
        padding-top: 40px;
    }

    .rs-benefit .benefit-item::before {
        width: 10px;
        height: 10px;
        border: 10px solid transparent;
        border-top: 10px solid #fdc300;
        border-right: 10px solid #fdc300;
    }

    .rs-benefit .benefit-item h6 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .rs-benefit .benefit-item p {
        font-size: 13px;
    }
}