.rs-catalog {
    min-height: 100vh;
    position: relative;
    padding-left: 15px;
}

.rs-catalog__wrapper {
    height: 100%;
    padding-top: 50px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 57%;
}

.rs-catalog__left {
    pointer-events: none;
    position: relative;
    z-index: 2;
    padding-top: 45px;
}

.rs-catalog__right {
    position: relative;
}

.rs-catalog__right::before {
    content: url(../../img/products/bg.svg);
    position: absolute;
    left: -133px;
    bottom: 37px;
}

.rs-catalog__photo {
    position: relative;
    height: 60vh;
}

.rs-catalog__photo img {
    -webkit-clip-path: polygon(11% 0, 100% 0, 100% 100%, 11% 100%, 0 89%, 0 11%);
    clip-path: polygon(11% 0, 100% 0, 100% 100%, 11% 100%, 0 89%, 0 11%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left;
    object-position: left;
}

.rs-catalog__items {
    position: absolute;
    bottom: 120px;
    display: -ms-flexbox;
    display: flex;
    z-index: 15;
}

.rs-catalog__item {
    margin-right: 35px;
}

.rs-catalog .catalog-item {
    height: 100%;
    position: relative;
    width: 720px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    padding: 35px;
}

.rs-catalog .catalog-item__icon {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 236px;
    height: 236px;
}

.rs-catalog .catalog-item__icon img {
    width: 100%;
}

.rs-catalog .catalog-item__wrapper {
    margin-left: 35px;
}

.rs-catalog .catalog-item h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #293c42;
    margin-top: 0;
    margin-bottom: 13px;
}

.rs-catalog .catalog-item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #272735;
    margin-bottom: 0;
}

.rs-catalog .catalog-item > a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    font-size: 0;
}

@media (min-width: 1475px) {
    .rs-catalog {
        padding-left: calc((100% - 1445px) / 2);
    }
}

@media (max-width: 1475px) {
    .rs-catalog .catalog-item__wrapper {
        margin-left: 15px;
    }
}

@media (max-width: 991.98px) {
    .rs-catalog .catalog-item {
        display: block;
    }

    .rs-catalog .catalog-item__icon {
        width: 80px;
        height: 80px;
    }

    .rs-catalog .catalog-item__wrapper {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 767.98px) {
    .rs-catalog {
        border-bottom: 1px dashed #fdc300;
        padding-right: 15px;
    }

    .rs-catalog__wrapper {
        height: 100%;
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 90px;
        border-left: 1px dashed #fdc300;
        border-right: 1px dashed #fdc300;
    }

    .rs-catalog__left {
        padding-top: 0px;
        margin-bottom: 20px;
    }

    .rs-catalog__right {
        margin-bottom: 20px;
    }

    .rs-catalog__right::before {
        display: none;
    }

    .rs-catalog__photo {
        height: 258px;
        margin-left: -20px;
        margin-right: -20px;
    }

    .rs-catalog__items {
        bottom: 60px;
    }

    .rs-catalog__item {
        margin-right: 20px;
    }

    .rs-catalog .catalog-item {
        width: 316px;
        padding: 15px;
    }

    .rs-catalog .catalog-item h6 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .rs-catalog .catalog-item p {
        font-size: 13px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-catalog {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }
}