.rs-topic {
    position: relative;
    padding-top: 115px;
    padding-bottom: 4px;
    padding-left: 15px;
}

.rs-topic__body {
    display: grid;
    grid-template-columns: 35% 1fr;
    -webkit-column-gap: 130px;
    -moz-column-gap: 130px;
    column-gap: 130px;
    margin-top: 70px;
}

.rs-topic__content {
    font-weight: 400;
    font-size: 21px;
    line-height: 180%;
    color: #27272e;
}

.rs-topic__right {
    min-width: 0;
    z-index: 2;
}

.rs-topic__slider {
    position: relative;
    z-index: 3;
}

.rs-topic__photo {
    position: relative;
    height: 663px;
    -webkit-clip-path: polygon(90% 0, 100% 15%, 100% 100%, 26% 100%, 22% 94%, 0 94%, 0 0);
    clip-path: polygon(90% 0, 100% 15%, 100% 100%, 26% 100%, 22% 94%, 0 94%, 0 0);
}

.rs-topic__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-topic_rev .rs-topic__photo {
    -webkit-clip-path: polygon(100% 0, 100% 94%, 78% 94%, 74% 100%, 0 100%, 0 15%, 10% 0);
    clip-path: polygon(100% 0, 100% 94%, 78% 94%, 74% 100%, 0 100%, 0 15%, 10% 0);
}

.rs-topic .topic-slider {
    position: relative;
    height: 663px;
}

.rs-topic .topic-slider__slider {
    height: 100%;
}

.rs-topic .topic-slider__swiper {
    height: 100%;
}

.rs-topic .topic-slider__slide {
    height: 100%;
}

.rs-topic .topic-slider__nav {
    position: absolute;
    bottom: 24px;
    right: 73px;
}

.rs-topic .topic-slide {
    height: 100%;
    position: relative;
}

.rs-topic .topic-slide__photo {
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(90% 0, 100% 15%, 100% 100%, 26% 100%, 22% 94%, 0 94%, 0 0);
    clip-path: polygon(90% 0, 100% 15%, 100% 100%, 26% 100%, 22% 94%, 0 94%, 0 0);
}

.rs-topic .topic-slide__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-topic .topic-slide__title {
    position: absolute;
    bottom: 5%;
    left: 28%;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #ffffff;
    z-index: 2;
    padding-right: 120px;
}

.rs-topic .topic-slide__title h4 {
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 767.98px) {
    .rs-topic_pb {
        padding-bottom: 125px;
    }

    .rs-topic_rev {
        padding-left: 0px !important;
    }

    .rs-topic_rev .rs-topic__head {
        padding-left: 15px;
    }

    .rs-topic_rev .rs-topic__body {
        grid-template-columns: 1fr 35%;
    }

    .rs-topic_rev .rs-topic__right {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .rs-topic_rev .rs-topic__left {
        grid-column: -1/2;
    }
}

@media (min-width: 767.98px) and (min-width: 1475px) {
    .rs-topic_rev {
        padding-right: calc((100% - 1445px) / 2);
    }

    .rs-topic_rev .rs-topic__head {
        padding-left: calc((100vw - 1445px) / 2);
    }
}

@media (min-width: 1475px) {
    .rs-topic {
        padding-left: calc((100% - 1445px) / 2);
    }
}

@media (max-width: 1475px) {
    .rs-topic__body {
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }

    .rs-topic .topic-slider__nav {
        right: 24px;
    }
}

@media (max-width: 991.98px) {
    .rs-topic__content {
        font-size: 13px;
    }

    .rs-topic__photo {
        height: 227px;
    }

    .rs-topic .topic-slider {
        height: 227px;
    }

    .rs-topic .topic-slide__title {
        font-size: 13px;
    }
}

@media (max-width: 767.98px) {
    .rs-topic {
        padding-top: 0;
        border-bottom: 1px dashed #fdc300;
        padding-right: 15px;
        margin-top: 0;
    }

    .rs-topic__wrapper {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 50px;
        border-left: 1px dashed #fdc300;
        border-right: 1px dashed #fdc300;
    }

    .rs-topic__body {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .rs-topic__slider {
        padding-bottom: 50px;
    }

    .rs-topic .topic-slider__slider {
        overflow: visible;
    }

    .rs-topic .topic-slider__nav {
        bottom: auto;
        top: calc(100% + 10px);
        right: 0;
    }

    .rs-topic .topic-slide__title {
        color: #27272e;
        font-size: 13px;
        left: 0;
        top: calc(100% + 10px);
        bottom: auto;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-topic {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }
}