<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.min.css" />
    <title>Free landing page</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__row">
          <div class="header__burger">
            <span></span>
          </div>
          <nav class="header__menu">
            <ul class="header__list">
              <li>
                <a href="#home" class="header__link">Home</a>
              </li>
              <li>
                <a href="#about" class="header__link">About me</a>
              </li>
              <li>
                <a href="#skills" class="header__link">Skills</a>
              </li>
              <li>
                <a href="#portfolio" class="header__link">Portfolio</a>
              </li>
              <li>
                <a href="#contacts" class="header__link">Contacts</a>
              </li>
            </ul>
            <div class="header__lang">
              <a href="#" class="header__link">ru</a>
              <span>|</span>
              <a href="#" class="header__link">eng</a>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <main class="content">
      <section class="home" id="home">
        <div class="container">
          <div class="home__row">
            <div class="home__name">Denis Novik</div>
            <div class="home__who">
              <p>UX | UI designer</p>
              <p>24 years old, Minsk</p>
            </div>
          </div>
          <div class="home__photo">
            <img src="img/main.jpg" alt="" />
          </div>
        </div>
      </section>
      <section class="about" id="about">
        <div class="container">
          <h2 class="about__title title">About me</h2>
          <div class="about__text">
            <p>Hi, I'm Denis – UX/UI designer from Minsk. I'm interested in design and everything connected with it.</p>
            <p>I'm studying at courses "Web and mobile design interfaces" in IT-Academy.</p>
            <p>Ready to implement excellent projects with wonderful people.</p>
          </div>
        </div>
      </section>
      <section class="skills" id="skills">
        <div class="container">
          <h2 class="skills__title title">Skills</h2>
          <div class="skills__subtitle subtitle">I work in such programs as</div>
          <div class="skills__row">
            <div class="skills__column">
              <div class="skills__item">
                <div class="skills__img">
                  <img src="img/PS.png" alt="" />
                </div>
                <div class="skills__name">
                  Adobe <br />
                  PhotoshopAdobe
                </div>
                <div class="skills_rating">
                  <div class="skills__star star star_active"></div>
                  <div class="skills__star star star_active"></div>
                  <div class="skills__star star star_active"></div>
                  <div class="skills__star star star_active"></div>
                  <div class="skills__star star"></div>
                </div>
              </div>
            </div>
            <div class="skills__column">
              <div class="skills__item">
                <div class="skills__img">
                  <img src="img/AI.png" alt="" />
                </div>
                <div class="skills__name">
                  Adobe <br />
                  Ilustrator
                </div>
                <div class="skills_rating">
                  <div class="skills__star star star_active"></div>
                  <div class="skills__star star star_active"></div>
                  <div class="skills__star star star_active"></div>
                  <div class="skills__star star"></div>
                  <div class="skills__star star"></div>
                </div>
              </div>
            </div>
            <div class="skills__column">
              <div class="skills__item">
                <div class="skills__img">
                  <img src="img/AE.png" alt="" />
                </div>
                <div class="skills__name">
                  Adobe <br />
                  After Effects
                </div>
                <div class="skills_rating">
                  <div class="skills__star star star_active"></div>
                  <div class="skills__star star star_active"></div>
                  <div class="skills__star star star_active"></div>
                  <div class="skills__star star star_active"></div>
                  <div class="skills__star star"></div>
                </div>
              </div>
            </div>
            <div class="skills__column">
              <div class="skills__item">
                <div class="skills__img">
                  <img src="img/Figma.png" alt="" />
                </div>
                <div class="skills__name">Figma</div>
                <div class="skills_rating">
                  <div class="skills__star star star_active"></div>
                  <div class="skills__star star star_active"></div>
                  <div class="skills__star star star_active"></div>
                  <div class="skills__star star star_active"></div>
                  <div class="skills__star star"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="portfolio" id="portfolio">
        <div class="container">
          <h2 class="portfolio__title title">Portfolio</h2>
          <div class="portfolio__item">
            <div class="portfolio__img">
              <img src="img/portfolio-1.jpg" alt="" />
            </div>
            <div class="portfolio__link">
              <a href="#">Online fashion store - Homepage</a>
            </div>
          </div>
          <div class="portfolio__item">
            <div class="portfolio__img">
              <img src="img/portfolio-2.jpg" alt="" />
            </div>
            <div class="portfolio__link">
              <a href="#">Reebok Store - Concept</a>
            </div>
          </div>
          <div class="portfolio__item">
            <div class="portfolio__img">
              <img src="img/portfolio-3.jpg" alt="" />
            </div>
            <div class="portfolio__link">
              <a href="#">Braun Landing Page - Concept</a>
            </div>
          </div>
        </div>
      </section>
      <section class="contacts" id="contacts">
        <div class="container">
          <h2 class="contacts__title title">Contacts</h2>
          <div class="contacts__subtitle subtitle">
            Wont to know more or just chat? <br />
            You are welcome!
          </div>
          <div class="contacts__button">
            <a href="#">Send message</a>
          </div>
          <div class="contacts__social social">
            <div class="social__row">
              <div class="social__icon">
                <a href="#"><img src="img/Linkedln.svg" alt="" /></a>
              </div>
              <div class="social__icon">
                <a href="#"><img src="img/instagram.svg" alt="" /></a>
              </div>
              <div class="social__icon">
                <a href="#"><img src="img/behance.svg" alt="" /></a>
              </div>
              <div class="social__icon">
                <a href="#"><img src="img/dribble.svg" alt="" /></a>
              </div>
            </div>
            <div class="social__text">
              Like me on <br />
              Linkedln, Instagram, Behance, Dribble
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/script.min.js"></script>
  </body>
</html>
