.rs-17 .rs-advantages__container {
    max-width: 1920px;
}

.rs-17 .rs-advantages__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    grid-auto-rows: 1fr;
}

.rs-17 .rs-advantages__head {
    padding-top: 53px;
    padding-left: 76px;
    padding-bottom: 53px;
    border: 1px solid #292929;
    overflow: hidden;
}

.rs-17 .rs-advantages__item {
    padding-top: 76px;
    padding-left: 76px;
    padding-bottom: 134px;
    padding-right: 10px;
    border: 1px solid #292929;
}

.rs-17 .rs-advantages__icon {
    margin-bottom: 30px;
}

.rs-17 .rs-advantages__title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (max-width: 1790px) {
    .rs-17 .rs-advantages__head {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .rs-17 .rs-advantages__item {
        padding-top: 25px;
        padding-left: 25px;
        padding-bottom: 25px;
        padding-right: 10px;
    }

    .rs-17 .rs-advantages__item br {
        display: none;
    }
}

@media (max-width: 1200px) {
    .rs-17 .rs-advantages__wrapper {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-advantages__wrapper {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
}