.rs-17 .rs-benefits {
    background: url("../../img/rs-benefits/adv_background.jpg") center/cover no-repeat;
    padding-bottom: 100px;
    padding-top: 15px;
}

.rs-17 .rs-benefits__container {
    display: -ms-flexbox;
    display: flex;
}

.rs-17 .rs-benefits__column {
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
}

.rs-17 .rs-benefits__column:last-child {
    margin-left: 80px;
}

.benefits-adv {
    margin-top: 40px;
    margin-right: 70px;
    color: #FFFFFF;
}

.benefits-adv .slick-track {
    display: -ms-flexbox;
    display: flex;
}

.benefits-adv .slick-slide {
    height: auto;
}

.benefits-adv__item {
    min-height: 190px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 69px;
    padding-left: 111px;
    position: relative;
    background: rgba(64, 64, 64, 0.06);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    margin-bottom: 30px;
}

.benefits-adv__icon {
    position: absolute;
    top: 23px;
    left: 31px;
}

.benefits-adv__inner h6 {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 1.4285714286em;
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
}

.benefits-adv__inner p {
    font-size: 1.1428571429em;
    line-height: 1.6;
    margin-top: 0px;
    margin-bottom: 0px;
}

.benefits-srv {
    margin-top: 40px;
    color: #FFFFFF;
    line-height: 1.6;
}

.benefits-srv__list {
    margin-top: 0;
    margin-bottom: 0;
}

.benefits-srv__list li {
    background: url("../../img/icons/check.png") 0 5px no-repeat;
    padding-left: 35px;
}

.benefits-srv__list li:not(:last-child) {
    margin-bottom: 1.5em;
}

@media (min-width: 1760px) {
    .benefits-adv {
        font-size: 14px;
    }

    .benefits-srv {
        font-size: 20px;
    }
}

@media (max-width: 1790px) {
    .rs-17 .rs-benefits__column:last-child {
        margin-left: 15px;
    }

    .benefits-adv {
        margin-right: 15px;
    }

    .benefits-adv__item {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 95px;
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-benefits__container {
        display: block;
    }

    .rs-17 .rs-benefits__column:last-child {
        margin-left: 0;
    }

    .benefits-adv {
        margin-right: 0;
    }

    .benefits-adv__item {
        margin: 0px 5px;
        min-height: auto;
    }
}

@media (max-width: 991px) {
    .benefits-adv {
        font-size: 11px;
    }

    .benefits-srv {
        font-size: 14px;
    }
}

@media (max-width: 479.98px) {
    .benefits-adv__inner h6 {
        min-height: 50px;
    }

    .benefits-adv__inner p {
        margin-left: -65px;
    }
}

@media (min-width: 991px) and (max-width: 1760px) {
    .benefits-adv {
        font-size: clamp( 11px , 7.1339401821px  +  0.3901170351vw , 14px );
    }

    .benefits-srv {
        font-size: clamp( 14px , 6.2678803641px  +  0.7802340702vw , 20px );
    }
}