.mobile-menu-tabs {
    display: none;
    color: #fff;
    width: 100%;
    padding-bottom: 20px;
}

.mobile-menu-tabs a {
    color: inherit;
}

.mobile-menu-tabs__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
    border: none;
    margin-bottom: 18px;
}

.mobile-menu-tabs__list li {
    margin: 0px 5px;
}

.mobile-menu-tabs__list li.active .mobile-menu-tabs__link {
    background-color: #fff;
    color: #292929;
}

.mobile-menu-tabs__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.mobile-menu-tabs__pane {
    font-size: 0.875em;
    font-weight: 500;
    text-align: center;
}

.mobile-menu-tabs__pane a,
.mobile-menu-tabs__pane span {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.mobile-menu-search {
    display: none;
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
}

.mobile-menu-search__box {
    position: relative;
    height: 100%;
}

.mobile-menu-search__input {
    width: 100%;
    height: 100%;
    color: #616161;
    border-radius: 10px;
    background-color: #ffffff;
    padding-left: 48px;
}

.mobile-menu-search__button {
    position: absolute;
    left: 18px;
    top: 50%;
    color: #616161;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent;
}

.menu {
    height: 80px;
    font-size: 16px;
}

.menu__list {
    height: 100%;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.menu__list > li {
    height: 100%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.menu__list > li > a {
    position: relative;
    font-size: 1em;
    line-height: 1.2;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
}

.menu__dropdown {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.menu__dropdown-arrow {
    position: relative;
    background-color: transparent;
    margin-left: 3px;
    margin-right: 3px;
    width: 20px;
    height: 15px;
    color: #FFFFFF;
    transition: -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
}

.menu__dropdown-arrow._active {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.menu__dropdown-list {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 15px;
    position: absolute;
    top: 100%;
    left: -15px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.8s cubic-bezier(0.24, 0.002, 0.002, 1);
    background-color: #1B1B1B;
}

.menu__dropdown-list li {
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu__dropdown-list a {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.2;
    color: #FFFFFF;
    white-space: nowrap;
    transition: color 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
}

.menu__dropdown.hover > .menu__dropdown-list {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.menu-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
}

.menu-overlay.active {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.menu-burger {
    -ms-flex: 0 0 42px;
    flex: 0 0 42px;
    display: none;
    position: relative;
    width: 42px;
    height: 40px;
    padding: 13px 10px;
    line-height: 1;
    z-index: 15;
}

.menu-burger span {
    display: block;
    position: absolute;
    top: 13px;
    left: auto;
    right: 10px;
    width: 22px;
    height: 2px;
    background: #FFFFFF;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: color 0.3s cubic-bezier(0.28, 0, 0.49, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: color 0.3s cubic-bezier(0.28, 0, 0.49, 1), transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
    transition: color 0.3s cubic-bezier(0.28, 0, 0.49, 1), transform 0.3s cubic-bezier(0.42, 0, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
}

.menu-burger span:nth-child(2) {
    top: 19px;
    width: 16px;
}

.menu-burger span:nth-child(3) {
    top: 25px;
}

.menu-burger.active span {
    background: #FFFFFF;
}

.menu-burger.active span:nth-child(1) {
    -webkit-transform: rotate(45deg) translateY(4px) translateX(4px);
    transform: rotate(45deg) translateY(4px) translateX(4px);
}

.menu-burger.active span:nth-child(2) {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.menu-burger.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-4.5px) translateX(4.5px);
    transform: rotate(-45deg) translateY(-4.5px) translateX(4.5px);
}

.rs-17 .rs-header {
    position: relative;
    background: rgba(64, 64, 64, 0.06);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 40px;
}

.rs-17 .rs-header__logo {
    margin-right: auto;
}

.rs-17 .rs-header__logo img {
    width: 100%;
}

.rs-17 .rs-header__actions {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
}

.rs-17 .rs-header__calc {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.rs-17 .rs-header__calc span {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.1875;
    color: #FFFFFF;
}

.rs-17 .rs-header__calc span::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #FFFFFF;
    transition: -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
}

.rs-17 .rs-header__calc:hover span::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.rs-17 .rs-header__calc .icon {
    width: 19px;
    height: 19px;
    margin-right: 10px;
}

.rs-17 .rs-header__cb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80px;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    background-color: #FFCC60;
    transition: all 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
}

.rs-17 .rs-header__cb .icon {
    width: 26px;
    height: 30px;
    transition: all 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
}

.rs-17 .rs-header__cb:hover {
    background-color: #1d1c1b;
}

.rs-17 .rs-header__cb:hover .icon {
    fill: #FFCC60;
}

@media (any-hover: hover) and (min-width: 991.98px) {
    .menu__dropdown:hover > .menu__dropdown-arrow {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

@media (min-width: 991.98px) {
    .menu__dropdown.hover > .menu__dropdown-arrow {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    .menu__dropdown-list li {
        overflow: hidden;
    }

    .menu__dropdown-list li > a {
        display: block;
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
        transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    }

    .menu__dropdown-list li > a:before {
        content: "+";
        display: inline-block;
        color: #FFFFFF;
        margin-right: 10px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    }

    .menu__dropdown-list li:hover > a {
        -webkit-transform: none;
        transform: none;
    }

    .menu__dropdown-list li:hover > a:before {
        -webkit-transform: none;
        transform: none;
    }

    .menu__list > li > a {
        height: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
    }

    .menu__list > li > a::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: #FFCC60;
        position: absolute;
        bottom: -1px;
        left: 0;
        pointer-events: none;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right;
        transform-origin: right;
        transition: -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
        transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
        transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
    }

    .menu__list > li:hover > a::after,
  .menu__list > li.active > a::after {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: left;
        transform-origin: left;
    }

    .menu-overlay {
        display: none;
    }

    .rs-17 .rs-header {
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }
}

@media (min-width: 1760px) {
    .menu__list > li:not(:last-child) {
        margin-right: 40px;
    }

    .rs-17 .rs-header__actions {
        margin-left: 80px;
    }
}

@media (max-width: 1790px) {
    .rs-17 .rs-header {
        padding-left: 15px;
    }
}

@media (max-width: 1400px) {
    .menu__list > li:not(:last-child) {
        margin-right: 15px;
    }

    .rs-17 .rs-header__actions {
        margin-left: 15px;
    }

    .rs-17 .rs-header__calc {
        padding-left: 30px;
        padding-right: 30px;
    }

    .rs-17 .rs-header__calc span {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .mobile-menu-tabs {
        display: block;
    }

    .mobile-menu-search {
        display: block;
    }

    .menu {
        height: calc(100% - 80px);
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        background-color: #292929;
        -webkit-transform: translateY(calc(-100% - 80px));
        transform: translateY(calc(-100% - 80px));
        transition: -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
        transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
        transition: transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1), -webkit-transform 0.3s cubic-bezier(0.24, 0.002, 0.002, 1);
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        overflow-y: auto;
    }

    .menu.active {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .menu__list {
        display: block;
        height: auto;
    }

    .menu__list > li {
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-bottom: 20px;
        height: auto;
        margin-right: 0 !important;
    }

    .menu__dropdown {
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .menu__dropdown-list {
        position: static;
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        margin: 0;
        padding: 0px 0px 0px 15px;
        pointer-events: auto;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        height: auto;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .menu__dropdown-list .menu__dropdown-list {
        background-color: transparent;
        padding: 10px 0px 0px 20px;
    }

    .menu__dropdown-list li {
        padding-right: 0;
    }

    .menu__dropdown-list a {
        color: #FFFFFF;
        white-space: normal;
    }

    .rs-17 .rs-header__logo {
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .menu-burger {
        display: block;
    }
}

@media (max-width: 479.98px) {
    .rs-17 .rs-header__calc {
        display: none;
    }
}

@media (max-width: 320px) {
    .rs-17 .rs-header__logo {
        width: 130px;
    }
}

@media (min-width: 991px) and (max-width: 1400px) {
    .menu {
        font-size: clamp( 14px , 9.1540342298px  +  0.488997555vw , 16px );
    }
}

@media (min-width: 1400px) and (max-width: 1760px) {
    .menu__list > li:not(:last-child) {
        margin-right: clamp( 15px , -82.2222222222px  +  6.9444444444vw , 40px );
    }

    .rs-17 .rs-header__actions {
        margin-left: clamp( 15px , -237.7777777778px  +  18.0555555556vw , 80px );
    }
}

@media (min-width: 320px) and (max-width: 1150px) {
    .rs-17 .rs-header__logo {
        width: clamp( 130px , 118.4337349398px  +  3.6144578313vw , 160px );
    }
}

@media (any-hover: hover) {
    .menu__dropdown-arrow {
        display: none;
    }

    .menu__dropdown:hover > .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}