.rs-goods {
    position: relative;
    padding-top: 30px;
}

.rs-goods__head {
    margin-bottom: 10px;
}

.rs-goods .goods-slider {
    position: relative;
}

.rs-goods .goods-slider__swiper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.rs-goods .goods-slider__slide {
    height: auto;
}

.rs-goods .goods-slider .slider-nav {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 60px;
}

.rs-goods .goods-item {
    border-radius: 30px;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-goods .goods-item > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    font-size: 0;
}

.rs-goods .goods-item .label {
    position: absolute;
    bottom: 100%;
    padding: 5px;
    background: #fff;
    border-radius: 18px 18px 0px 0px;
}

.rs-goods .goods-item .label::before,
.rs-goods .goods-item .label::after {
    content: "";
    width: 16px;
    height: 16px;
    border-bottom-right-radius: 18px;
    display: block;
    background: transparent;
    position: absolute;
    bottom: 0;
    box-shadow: 3px 3px 0px 3px #fff;
}

.rs-goods .goods-item .label::before {
    right: 100%;
}

.rs-goods .goods-item .label::after {
    left: 100%;
    transform: scaleX(-1);
}

.rs-goods .goods-item .label span {
    z-index: 2;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 110%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--belyy);
    border-radius: 42px;
    padding: 0px 17px;
    height: 27px;
    background: var(--rozovyy-akcent);
}

.rs-goods .goods-item .content {
    position: relative;
    color: var(--chernyy-shrit);
    padding: 19px 28px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}

.rs-goods .goods-item .photo {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}

.rs-goods .goods-item .photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-func);
}

.rs-goods .goods-item button {
    position: relative;
    overflow: hidden;
    z-index: 5;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--belyy);
    height: 33px;
    border-radius: 36px;
    padding: 0px 20px;
    background: var(--zheltyy);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: background var(--animation-duration) var(--timing-func);
    margin-top: 19px;
}

.rs-goods .goods-item button::after {
    content: "";
    background: var(--zelnyy);
    border-radius: 100%;
    width: 5em;
    height: 5em;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: -1;
    top: 100%;
    bottom: auto;
    left: 0%;
    right: 0%;
    transition: transform 0.45s linear;
}

.rs-goods .goods-item_new .label span {
    background: var(--zelnyy);
}

@media (max-width: 1023.98px) {
    .rs-goods .goods-slider__slider {
        overflow: visible;
    }

    .rs-goods .goods-slider__slide {
        width: 244px;
    }

    .rs-goods .goods-slider .slider-nav {
        display: none;
    }

    .rs-goods .goods-item .content {
        padding: 16px;
    }

    .rs-goods .goods-item button {
        margin-top: 8px;
    }
}

@media (max-width: 767.98px) {
    .rs-goods {
        padding-top: 20px;
    }

    .rs-goods__head {
        margin-bottom: 0;
    }
}

@media (any-hover: hover) {
    .rs-goods .goods-item button:hover::after {
        transform: translate3d(0px, -100%, 0px) scale3d(3.8, 3.8, 1);
    }

    .rs-goods .goods-item:hover .photo img {
        transform: scale(1.6);
    }
}