.catalog {
    position: relative;
}

.catalog__head {
    max-width: 893px;
}

.catalog__body {
    margin-top: -20px;
}

.catalog__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}

.catalog__item:nth-child(5n+1) {
    --shadow: rgba(246, 0, 236, 0.5);
}

.catalog__item:nth-child(5n+2) {
    --shadow: rgba(32, 103, 255, 0.5);
}

.catalog__item:nth-child(5n+3) {
    --shadow: rgba(255, 179, 133, 0.5);
}

.catalog__item:nth-child(5n+4) {
    --shadow: rgba(32, 255, 65, 0.25);
}

.catalog__item:nth-child(5n+5) {
    --shadow: rgba(246, 0, 236, 0.5);
}

.catalog-card {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--block-radius);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.05);
    aspect-ratio: 1.10877;
    transition: all var(--animation-duration) var(--timing-func);
}

.catalog-card > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    font-size: 0;
}

.catalog-card > img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.catalog-card__title {
    padding: 24px;
    font-weight: 600;
    font-size: var(--fluid-24-14);
    line-height: 140%;
    color: #fff;
}

.rs-catalog {
    padding-top: 54px;
    padding-bottom: 54px;
}

@media (min-width: 405px) and (max-width: 767px) {
    .catalog__items {
        margin-right: calc((100vw - 375px) / -2);
    }
}

@media (max-width: 1023.98px) {
    .catalog__body {
        margin-top: -8px;
    }

    .catalog__items {
        display: grid;
        gap: 24px;
        grid-template-columns: 230px;
        grid-auto-flow: column;
        grid-auto-columns: 230px;
        overflow-x: auto;
        overflow-y: hidden;
        margin-right: -15px;
        padding-right: 15px;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    }

    .catalog__item {
        scroll-snap-align: start;
    }

    .rs-catalog {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (any-hover: hover) {
    .catalog-card:hover {
        box-shadow: 0 5px 25px 0 var(--shadow);
        transform: translateY(-10px);
    }
}