.rs-delivery {
    margin-bottom: 24px;
}

.delivery {
    padding-top: 108px;
    padding-bottom: 108px;
}

.delivery__head {
    margin-bottom: 36px;
    max-width: 969px;
}

.delivery__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.delivery__column {
    border-radius: var(--block-radius);
    background: #fff;
    padding: 64px;
}

.delivery h3 {
    font-weight: 500;
    font-size: var(--fluid-40-20);
    line-height: 100%;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    color: var(--zagolovki);
    margin-bottom: 0.85em;
}

.delivery h4 {
    font-weight: 600;
    font-size: var(--fluid-24-14);
    line-height: 160%;
    color: var(--zagolovki);
}

.delivery p {
    font-weight: 400;
    font-size: var(--fluid-24-14);
    line-height: 160%;
    color: var(--text-color-2);
    margin-bottom: 1.3333333333em;
}

@media (max-width: 1400px) {
    .delivery__column {
        padding: 24px;
    }
}

@media (max-width: 767.98px) {
    .delivery {
        padding-top: 55px;
        padding-bottom: 55px;
    }

    .delivery__row {
        grid-template-columns: 1fr;
    }
}