.rs-17 .rs-comfort {
  background: url('../../img/paralax_background.jpg') no-repeat center;
  background-size: cover;
  min-height: 550px;
  position: relative;
  overflow: hidden;
  padding-top: 85px;
}
.rs-17 .rs-comfort .comfort-block {
  margin-bottom: 25px;
}
.rs-17 .rs-comfort .comfort-bg {
  position: absolute;
  width: 400px;
}
.rs-17 .rs-comfort .comfort-bg:nth-child(1) {
  left: 0;
  top: 0;
}
.rs-17 .rs-comfort .comfort-bg:nth-child(2) {
  right: 0;
  top: 0;
}
.rs-17 .rs-comfort .comfort-title {
  color: #000000;
  margin-bottom: 70px;
}
.rs-17 .rs-comfort .comfort-title h2 {
  font-size: 43px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 1.93px;
  text-align: center;
}
.block-icon {
  width: 98px;
  height: 72px;
  margin-bottom: 30px;
}
.block-icon img {
  width: 100%;
}
.rs-17 .rs-comfort .block-content h4 {
  color: #424242;
  font-family: Commissioner;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.rs-17 .rs-comfort .block-content p {
  color: #616161;
  font-family: Commissioner;
  font-size: 15px;
  line-height: 21px;
}
@media (max-width: 767px) {
  .rs-17 .rs-comfort .comfort-title h2 {
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .rs-17 .rs-comfort .comfort-bg:nth-child(2) {
    display: none;
  }
}
