.rs-17 .rs-footer {
  background-color: #005a46;
  color: #ffffff;
  font-family: Commissioner;
}
.rs-17 .rs-footer h4 {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 15px;
}
.rs-17 .rs-footer .form-block p {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  letter-spacing: 0.3px;
  margin-bottom: 25px;
}
.rs-17 .rs-footer .footer-container {
  display: flex;
  padding-right: 0;
  padding-left: 0;
}
.rs-17 .rs-footer .form-block {
  flex: 0 0 390px;
  margin-right: 80px;
  padding-top: 44px;
  padding-bottom: 45px;
  padding-left: 15px;
  padding-right: 15px;
}
.rs-17 .rs-footer .footer-logo {
  display: block;
  width: 163px;
  height: 59px;
  margin-bottom: 45px;
}
.rs-17 .rs-footer .footer-logo img {
  width: 100%;
}
.rs-17 .rs-footer .form-group {
  margin-left: 0px;
  margin-right: 0px;
}
/* ----------------------------------- */
.rs-17 .rs-footer .contacts-top {
  padding-left: 55px;
}
.rs-17 .rs-footer .contacts-block {
  background-color: #faf3f1;
  padding-left: 0;
  padding-right: 0;
  color: #000000;
  padding-top: 60px;
  width: 100%;
}
.rs-17 .rs-footer .contacts-map {
  width: 100%;
}
.rs-17 .rs-footer .contacts-map iframe {
  margin-right: -300px;
}
.rs-17 .rs-footer .contacts-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.rs-17 .rs-footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.rs-17 .rs-footer .btn-outline {
  width: 100%;
}
.rs-17 .rs-footer .footer-copy {
  margin-top: 35px;
}
.rs-17 .rs-footer .footer-copy a {
  color: inherit;
}
.rs-17 .rs-footer .contacts-block a {
  color: inherit;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.rs-17 .rs-footer .contacts-block .contacts-list a:hover {
  color: #005a46;
}
.rs-17 .rs-footer .contacts-list li {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 25px;
}
.rs-17 .rs-footer .social-list li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 25px;
}
.rs-17 .rs-footer .social-list li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #e3e3e3;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #005a46;
  transition: all 0.3s ease 0s;
}
.rs-17 .rs-footer .social-list li a:hover {
  background-color: #00aa46;
}
.rs-17 .rs-footer .social-list li a:hover {
  background-color: #424242;
}
.rs-17 .rs-footer .social-list li a i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 991px) {
  .rs-17 .rs-footer .footer-container {
    display: block;
  }
  .rs-17 .rs-footer .form-block {
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  .rs-17 .rs-footer .contacts-block {
    margin-right: calc((100vw - 1440px) / -2);
  }
  .rs-17 .rs-footer .contacts-top {
    padding-right: calc((100vw - 1440px) / 2);
  }
}
