.rs-17 .rs-rooms {
  padding: 80px 15px;
  color: #000000;
  font-family: Commissioner;
  font-size: 13px;
  letter-spacing: 2.6px;
  line-height: 26px;
}
.rs-17 .rs-rooms .rooms-title {
  text-align: center;
  margin-bottom: 52px;
}
.rs-17 .rs-rooms .rooms-title h2 {
  font-size: 43px;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: 1.94px;
}
.rs-17 .rs-rooms .rooms-tab {
  background: url('../../img/paralax_background.jpg') no-repeat center;
  background-size: cover;
  padding: 38px 42px 45px 33px;
}
.rs-17 .rs-rooms .rooms-tab-nav {
  list-style: none;
}
.rs-17 .rs-rooms .rooms-tab-nav li {
  text-align: left;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.rs-17 .rs-rooms .rooms-tab-nav li > a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.rs-17 .rs-rooms .rooms-tab-nav li:hover > a {
  border-bottom: 1px solid #005a46;
}
.rs-17 .rs-rooms .rooms-tab-content {
  min-height: 400px;
  position: relative;
}
.rs-17 .rs-rooms .rooms-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.rs-17 .rs-rooms .rooms-block.active {
  z-index: 2;
}
.rs-17 .rs-rooms .item-desc table {
  width: 100%;
  margin-bottom: 45px;
}
.rs-17 .rs-rooms .item-desc table tr {
  border-bottom: 1px solid #e4e4e4;
  height: 50px;
  vertical-align: middle;
  text-transform: uppercase;
}
.rs-17 .rs-rooms .item-desc table tr td:last-child {
  text-align: right;
}
/* -------------------- */
.rs-17 .rs-rooms .btn-outline {
  color: #005a46;
  border: 1px solid #005a46;
}
.rs-17 .rs-rooms .btn-border-holder {
  border: 1px solid rgba(0, 90, 70, 0.5);
}
.rs-17 .rs-rooms .btn-top-border,
.rs-17 .rs-rooms .btn-right-border,
.rs-17 .rs-rooms .btn-bottom-border,
.rs-17 .rs-rooms .btn-left-border {
  background-color: #005a46;
}
/* -------------------- */
@media (max-width: 1349px) {
  .rs-17 .rs-rooms .rooms-tab {
    padding: 15px;
  }
}
