* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  min-width: 360px;
  overflow-x: hidden;
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
/* ------------------------------------ */
.btn-outline {
  position: relative;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  white-space: normal;
  border-radius: 0;
  padding: 12px 30px;
}
.btn-border-holder {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.btn-top-border,
.btn-right-border,
.btn-bottom-border,
.btn-left-border {
  position: absolute;
  transition: 0.5s cubic-bezier(0.71, 0.29, 0.18, 0.97);
  background-color: #ffffff;
}
.btn-top-border,
.btn-bottom-border {
  width: 0;
  height: 1px;
}
.btn-right-border,
.btn-left-border {
  width: 1px;
  height: 0;
}
.btn-top-border {
  top: -1px;
  right: 0;
}
.btn-right-border {
  top: 0;
  right: -1px;
}
.btn-bottom-border {
  bottom: -1px;
  left: 0;
}
.btn-left-border {
  bottom: 0;
  left: -1px;
}
.btn-outline:hover {
  color: #ffffff;
}
.btn-outline:hover .btn-top-border,
.btn-outline:hover .btn-bottom-border {
  width: calc(100% + 1px);
}
.btn-outline:hover .btn-right-border,
.btn-outline:hover .btn-left-border {
  height: calc(100% + 1px);
}
/* ---------------------------------- */
.btn-more {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  line-height: 44px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}
.btn-more > span {
  margin-right: 15px;
}
.btn-more svg circle:nth-child(2) {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  -webkit-transition: all 1.5s cubic-bezier(0.45, 0, 0.14, 1.03);
  -o-transition: all 1.5s cubic-bezier(0.45, 0, 0.14, 1.03);
  transition: all 1.5s cubic-bezier(0.45, 0, 0.14, 1.03);
  -webkit-transform: rotate(-200deg);
  -ms-transform: rotate(-200deg);
  transform: rotate(-200deg);
  -webkit-transform-origin: 71% 50%;
  -ms-transform-origin: 71% 50%;
  transform-origin: 71% 50%;
}
.btn-more:hover svg circle:nth-child(2) {
  stroke-dashoffset: 0;
  -webkit-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  transform: rotate(55deg);
  -webkit-transition: 1.2s cubic-bezier(0.38, 0.67, 0.76, 0.66);
  -o-transition: 1.2s cubic-bezier(0.38, 0.67, 0.76, 0.66);
  transition: 1.2s cubic-bezier(0.38, 0.67, 0.76, 0.66);
}
/* ------------------------------------- */
.wrapper {
  min-height: 100vh;
}
.rs-17 .container-fluid {
  max-width: 1440px;
}
/* ------------------------------------- */
.form-control:focus {
  box-shadow: none;
}
