.rs-fos {
    position: relative;
    overflow: hidden;
    margin-top: -118px;
}

.rs-fos__container {
    position: relative;
}

.rs-fos__wrapper {
    position: relative;
    border-radius: 50px;
    background: #fff;
    padding: 118px 125px 110px 80px;
}

.rs-fos__content {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.rs-fos__head h3 {
    color: #141515;
    font-size: 60px;
    font-style: normal;
    font-weight: 200;
    line-height: 110%;
    margin-top: 43px;
}

.rs-fos__head p {
    color: #b1b3bf;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rs-fos__form {
    padding-top: 86px;
}

.rs-fos .backstage {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    height: 100%;
    background: #fff;
    border-radius: 50px;
}

@media (max-width: 1400px) {
    .rs-fos__wrapper {
        padding: 118px 40px 40px 40px;
    }

    .rs-fos__content {
        gap: 50px;
    }
}

@media (max-width: 991.98px) {
    .rs-fos__wrapper {
        border-radius: 20px;
    }

    .rs-fos__content {
        grid-template-columns: 1fr;
    }

    .rs-fos__form {
        padding-top: 0;
    }

    .rs-fos .backstage {
        border-radius: 20px;
    }
}

@media (max-width: 767.98px) {
    .rs-fos__wrapper {
        padding: 20px;
    }

    .rs-fos__content {
        gap: 20px;
    }

    .rs-fos__head h3 {
        font-size: 20px;
        margin-top: 10px;
    }

    .rs-fos__head p {
        font-size: 13px;
    }
}