.footer-menu__list li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-menu__list li a {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-menu__list li a::before {
    content: url("../../img/icons/menu_marker.svg");
    margin-right: 15px;
    transition: transform 0.35s ease;
}

.footer-menu_grid .footer-menu__list {
    column-count: 2;
    column-width: auto;
    column-fill: balance;
    column-gap: 90px;
}

.rs-footer {
    position: relative;
    padding-bottom: 50px;
}

.rs-footer__over {
    padding-top: 129px;
    padding-bottom: 153px;
    display: grid;
    gap: 110px;
    grid-template-columns: 280px 17% 1fr;
}

.rs-footer__logo {
    text-align: center;
}

.rs-footer__logo img {
    max-width: 100%;
}

.rs-footer__bottom {
    border-radius: 50px;
    background: #fff;
    padding: 48px 79px 0px 79px;
    display: grid;
    grid-template-columns: 20% 1fr 16%;
    gap: 0px 230px;
}

.rs-footer__copyright {
    grid-column: 1/-1;
    margin-top: 45px;
}

.rs-footer .footer-title {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}

.rs-footer._init .footer-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.rs-footer._init .footer-title::after,
.rs-footer._init .footer-title::before {
    content: "";
    position: absolute;
    background-color: #fff;
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.002, 1);
}

.rs-footer._init .footer-title::after {
    right: 17px;
    width: 2px;
    height: 12px;
}

.rs-footer._init .footer-title::before {
    top: 50%;
    right: 12px;
    height: 2px;
    width: 12px;
    transform: translateY(-50%);
}

.rs-footer._init .footer-title._active::after {
    transform: rotate(90deg);
}

.rs-footer._init .footer-title._active::before {
    transform: translateY(-50%) scale(0);
}

.rs-footer._init .not-spoller.footer-title::after,
.rs-footer._init .not-spoller.footer-title::before {
    display: none;
}

.rs-footer .footer-contacts ul {
    display: grid;
    gap: 36px;
}

.rs-footer .footer-contacts span {
    color: #616e8f;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    margin-top: 10px;
    display: block;
}

.rs-footer .footer-contacts a {
    display: block;
    color: #141515;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
    transition: color 0.35s ease;
}

.rs-footer .footer-address ul {
    display: grid;
    gap: 29px;
}

.rs-footer .footer-address span {
    display: block;
    color: #616e8f;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
}

.rs-footer .footer-address h6 {
    color: #424242;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.45px;
}

.rs-footer .footer-shedule ul {
    display: grid;
    gap: 29px;
    margin-bottom: 34px;
}

.rs-footer .footer-shedule span {
    display: block;
    color: #616e8f;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
}

.rs-footer .footer-shedule a,
.rs-footer .footer-shedule p {
    color: #424242;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.45px;
}

.rs-footer .footer-copyright {
    border-top: 1px solid #bbcdd4;
    padding: 20px 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #424242;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1770px) {
    .footer-menu_grid .footer-menu__list {
        column-gap: 45px;
    }

    .rs-footer__over {
        grid-template-columns: 173px 17% 1fr;
        gap: 35px;
    }

    .rs-footer__bottom {
        gap: 0px 55px;
        grid-template-columns: 35% 1fr 20%;
        padding: 45px 45px 0px 45px;
    }
}

@media (max-width: 1400px) {
    .rs-footer__over {
        grid-template-columns: 30% 1fr;
    }

    .rs-footer__logo {
        grid-column: 1/-1;
    }
}

@media (max-width: 991.98px) {
    .footer-menu__list li a {
        font-size: 13px;
    }

    .rs-footer {
        padding-bottom: 80px;
    }

    .rs-footer__over {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-footer__bottom {
        grid-template-columns: 25% 1fr 20%;
        border-radius: 20px;
    }

    .rs-footer .footer-title {
        font-size: 13px;
    }

    .rs-footer .footer-contacts ul {
        gap: 20px;
    }

    .rs-footer .footer-contacts span {
        font-size: 13px;
    }

    .rs-footer .footer-contacts a {
        font-size: 16px;
    }

    .rs-footer .footer-address ul {
        gap: 10px;
    }

    .rs-footer .footer-address span {
        font-size: 13px;
    }

    .rs-footer .footer-address h6 {
        font-size: 13px;
    }

    .rs-footer .footer-shedule ul {
        gap: 10px;
        margin-bottom: 10px;
    }

    .rs-footer .footer-shedule span {
        font-size: 13px;
    }

    .rs-footer .footer-shedule a,
  .rs-footer .footer-shedule p {
        font-size: 13px;
    }

    .rs-footer .footer-copyright {
        padding: 10px 0px;
    }
}

@media (max-width: 767.98px) {
    .footer-menu {
        padding-top: 20px;
    }

    .footer-menu_grid .footer-menu__list {
        column-count: auto;
    }

    .rs-footer__over {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .rs-footer__logo {
        grid-column: auto;
    }

    .rs-footer__bottom {
        padding: 20px 20px 0px 20px;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .rs-footer__copyright {
        margin-top: 30px;
    }

    .rs-footer .footer-title {
        margin-bottom: 0;
    }

    .rs-footer .footer-copyright {
        display: block;
    }

    .rs-footer .footer-copyright p {
        margin-bottom: 10px;
    }
}

@media (any-hover: hover) {
    .footer-menu__list li a:hover::before {
        transform: translateX(5px);
    }

    .rs-footer .footer-contacts a:hover {
        color: #3b7eff;
    }
}