.rs-goods {
    position: relative;
}

.rs-goods__head {
    padding-left: 15px;
    padding-right: 15px;
}

.rs-goods__slider {
    margin-top: 50px;
}

.rs-goods .goods-slider__slider {
    padding-left: 15px;
}

.rs-goods .goods-slider__swiper {
    padding-bottom: 40px;
}

.rs-goods .goods-slider__slide {
    width: 855px;
}

.rs-goods .goods-slider__nav {
    padding-left: 15px;
    padding-right: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
}

.rs-goods .goods-slider__nav .slider-arrows {
    margin-right: 30px;
}

.rs-goods .goods-item {
    height: 100%;
    border: 1px solid #bbcdd4;
    border-radius: 30px;
    padding: 30px;
    position: relative;
    display: grid;
    grid-template-columns: 293px 1fr;
    column-gap: 40px;
    transition: box-shadow 0.35s ease;
}

.rs-goods .goods-item > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    font-size: 0;
}

.rs-goods .goods-item__photo {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.rs-goods .goods-item__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1.25;
}

.rs-goods .goods-item__content {
    padding-right: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-goods .goods-item__content h4 {
    font-weight: 300;
    font-size: 25px;
    color: #141515;
}

.rs-goods .goods-item__content p {
    font-weight: 300;
    font-size: 18px;
    color: #5f5f5f;
}

.rs-goods .goods-item__content .price {
    font-weight: 300;
    font-size: 30px;
    color: #141515;
    margin-top: auto;
}

.rs-goods .goods-item .button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    transition: background 0.35s ease;
    width: 45px;
    height: 45px;
    background: #141515;
    border-radius: 50%;
}

.rs-goods .goods-item .button::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    -webkit-mask-image: url("../../img/icons/go_icon.svg");
    mask-image: url("../../img/icons/go_icon.svg");
    background: #fff;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

@media (min-width: 1770px) {
    .rs-goods__head {
        padding-left: calc((100% - 1740px) / 2);
        padding-right: calc((100% - 1740px) / 2);
    }

    .rs-goods .goods-slider__slider {
        padding-left: calc((100% - 1740px) / 2);
    }

    .rs-goods .goods-slider__nav {
        padding-left: calc((100% - 1740px) / 2);
        padding-right: calc((100% - 1740px) / 2);
    }
}

@media (max-width: 991.98px) {
    .rs-goods .goods-slider__slide {
        width: 730px;
    }

    .rs-goods .goods-item__content {
        padding: 0;
    }

    .rs-goods .goods-item .button {
        width: 25px;
        height: 25px;
    }

    .rs-goods .goods-item .button::before {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 767.98px) {
    .rs-goods__slider {
        margin-top: 10px;
    }

    .rs-goods .goods-slider__slide {
        width: 335px;
    }

    .rs-goods .goods-slider__nav .slider-arrows {
        margin-right: 19px;
    }

    .rs-goods .goods-item {
        padding: 20px;
        grid-template-columns: 1fr;
    }

    .rs-goods .goods-item__photo {
        margin-bottom: 10px;
    }

    .rs-goods .goods-item__content h4 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .rs-goods .goods-item__content p {
        font-size: 13px;
    }

    .rs-goods .goods-item__content .price {
        margin-top: 5px;
        font-size: 20px;
    }

    .rs-goods .goods-item .button {
        bottom: 20px;
        right: 20px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-goods__head {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }

    .rs-goods .goods-slider__slider {
        padding-left: calc((100vw - 375px) / 2);
    }

    .rs-goods .goods-slider__nav {
        padding-left: calc((100vw - 375px) / 2);
        padding-right: calc((100vw - 375px) / 2);
    }
}

@media (any-hover: hover) {
    .rs-goods .goods-item:hover {
        box-shadow: 0 15px 16px 0 rgba(69, 110, 133, 0.1);
    }
}