.rs-parallax {
    position: relative;
    padding-top: 110px;
    padding-bottom: 110px;
}

.rs-parallax__wrapper {
    border-radius: 50px;
    height: 798px;
    overflow: hidden;
    position: relative;
}

.rs-parallax__logo {
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 2;
}

.rs-parallax__logo img {
    width: 100%;
}

.rs-parallax__picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rs-parallax__picture img {
    position: absolute;
    width: 100%;
    height: 145%;
    bottom: 0;
    left: 0;
    object-fit: cover;
}

@media (min-width: 1740px) {
    .rs-parallax__wrapper {
        height: 798px;
    }

    .rs-parallax__logo {
        width: 117px;
    }
}

@media (max-width: 991.98px) {
    .rs-parallax__wrapper {
        border-radius: 20px;
    }

    .rs-parallax__logo {
        left: 15px;
        top: 15px;
    }
}

@media (max-width: 767.98px) {
    .rs-parallax {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .rs-parallax__wrapper {
        height: 480px;
    }

    .rs-parallax__logo {
        width: 72px;
    }
}

@media (min-width: 767px) and (max-width: 1740px) {
    .rs-parallax__wrapper {
        height: clamp( 480px , 229.3257965057px  +  32.6824254882vw , 798px );
    }

    .rs-parallax__logo {
        width: clamp( 72px , 36.5272353546px  +  4.6248715313vw , 117px );
    }
}