.rs-slider {
    position: relative;
    min-height: 150svh;
    overflow: hidden;
}

.rs-slider__container {
    padding-top: calc(var(--ht) - 20px);
}

.rs-slider__wrapper {
    position: relative;
    border-radius: 50px;
    background: #fff;
    padding: 215px 50px 55px 50px;
    height: 682px;
    overflow: hidden;
    display: grid;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.rs-slider__slider {
    max-width: 920px;
    margin: 0;
    min-width: 0;
}

.rs-slider__logo {
    position: absolute;
    right: -99px;
    bottom: -16px;
}

.rs-slider__logo img {
    width: 100%;
}

.rs-slider__exchange {
    position: relative;
    z-index: 2;
}

.rs-slider__bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rs-slider__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scroll-down {
    position: absolute;
    z-index: 2;
    bottom: -63px;
    left: 67px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 12px;
}

.scroll-down span {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #bbcdd4;
}

.rs-slider .slide {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rs-slider .slide h2 {
    color: #141515;
    font-size: 60px;
    font-style: normal;
    font-weight: 200;
    line-height: 96%;
    margin-bottom: 25px;
}

.rs-slider .slide__btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rs-slider .slide__btns a {
    white-space: nowrap;
}

.rs-slider__slide .slide .lettering > span {
    display: inline-block;
    overflow: hidden;
}

.rs-slider__slide .slide .lettering > span > span {
    display: inline-block;
    transform: translateY(100%);
    transition: transform 0.75s ease 0.3s;
}

.rs-slider__slide .slide__btns {
    transform: translateY(30px);
    opacity: 0;
    transition: transform 0.75s ease 0.3s, opacity 0.75s ease 0.3s;
}

.rs-slider__slide.swiper-slide-active .slide .lettering > span > span {
    transform: translateY(0%);
}

.rs-slider__slide.swiper-slide-active .slide__btns {
    transform: translateY(0px);
    opacity: 1;
}

@media (min-width: 767.98px) {
    .rs-slider .rs-slider__wrapper {
        --tf: cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-clip-path: inset(100% 0 0 0);
        clip-path: inset(100% 0 0 0);
        transition: -webkit-clip-path 1.15s var(--tf);
        transition: clip-path 1.15s var(--tf);
        transition: clip-path 1.15s var(--tf), -webkit-clip-path 1.15s var(--tf);
    }

    .rs-slider .rs-slider__wrapper .rs-slider__slider {
        transform: translateY(30px);
        opacity: 0;
        transition: transform 0.45s ease 0.8s, opacity 0.45s ease 0.8s;
    }

    .rs-slider .rs-slider__wrapper.in-view {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
    }

    .rs-slider .rs-slider__wrapper.in-view .rs-slider__slider {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (min-width: 1920px) {
    .rs-slider__logo {
        width: 685px;
    }
}

@media (max-width: 991.98px) {
    .rs-slider__wrapper {
        border-radius: 20px;
        padding: 115px 20px 38px 20px;
    }
}

@media (max-width: 767.98px) {
    .rs-slider {
        min-height: 100svh;
    }

    .rs-slider__wrapper {
        min-height: 467px;
        height: auto;
    }

    .rs-slider__logo {
        right: -45px;
        bottom: 20px;
    }

    .scroll-down {
        left: 20px;
    }

    .scroll-down span {
        font-size: 13px;
    }

    .rs-slider .slide h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .rs-slider .slide__btns {
        margin-bottom: 35px;
    }
}

@media (max-width: 767px) {
    .rs-slider__logo {
        width: 226px;
    }
}

@media (min-width: 767px) and (max-width: 1920px) {
    .rs-slider__logo {
        width: clamp( 226px , -79.3365134432px  +  39.8091934085vw , 685px );
    }
}