.rs-reviews {
    padding-top: 65px;
    padding-bottom: 65px;
    position: relative;
}

.reviews {
    position: relative;
}

.reviews__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    row-gap: 30px;
}

.reviews__item {
    padding-right: 30px;
}

.reviews .review {
    border-radius: 7px;
    background: var(--sveto-seryy-fon);
    padding: 20px 44px;
    transition: background var(--animation-duration) var(--timing-func);
}

.reviews .review img {
    width: 100%;
}

@media (max-width: 1024.98px) {
    .rs-reviews {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .reviews__items {
        gap: 15px;
        grid-template-columns: 1fr 1fr;
    }

    .reviews__item {
        padding-right: 0;
    }

    .reviews .review {
        padding: 15px;
    }
}

@media (any-hover: hover) {
    .reviews .review:hover {
        background: var(--primary-color);
    }
}