.rs-about {
    padding-top: 112px;
    padding-bottom: 56px;
}

.rs-about__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 49%;
    -ms-flex-align: center;
    align-items: center;
    gap: 180px;
}

.rs-about__slider {
    min-width: 0;
}

.rs-about__content {
    padding-top: 45px;
    padding-bottom: 45px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: var(--color-6);
}

.rs-about__content .section-title {
    margin-bottom: 25px;
}

.rs-about__content ul {
    margin-top: 25px;
    margin-bottom: 45px;
    display: grid;
    gap: 25px;
}

.rs-about__content ul li {
    display: grid;
    grid-template-columns: 67px 1fr;
    gap: 24px;
}

.rs-about__content ul li img {
    width: 100%;
}

.rs-about .about-slider {
    border-radius: 30px;
    overflow: hidden;
}

.rs-about .about-slider__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: inset(100% round 0px);
    clip-path: inset(100% round 0px);
    transition: -webkit-clip-path var(--animation-duration) var(--timing-func) var(--animation-duration);
    transition: clip-path var(--animation-duration) var(--timing-func) var(--animation-duration);
    transition: clip-path var(--animation-duration) var(--timing-func) var(--animation-duration), -webkit-clip-path var(--animation-duration) var(--timing-func) var(--animation-duration);
}

.rs-about .about-slider__slide.swiper-slide-active img {
    -webkit-clip-path: inset(0% round 30px);
    clip-path: inset(0% round 30px);
    transition: -webkit-clip-path var(--animation-duration) var(--timing-func) 0s;
    transition: clip-path var(--animation-duration) var(--timing-func) 0s;
    transition: clip-path var(--animation-duration) var(--timing-func) 0s, -webkit-clip-path var(--animation-duration) var(--timing-func) 0s;
}

.rs-about__slider {
    opacity: 0;
    transform: translateX(90px);
    transition: opacity var(--animation-duration) var(--timing-func), transform var(--animation-duration) var(--timing-func);
}

.rs-about__slider.in-view {
    opacity: 1;
    transform: translateX(0px);
}

@media (min-width: 767.98px) {
    .rs-about__slider {
        transition-delay: 1s;
    }
}

@media (max-width: 1556px) {
    .rs-about__wrapper {
        gap: 45px;
    }
}

@media (max-width: 1023.98px) {
    .rs-about__wrapper {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-bottom: 74px;
    }

    .rs-about__content {
        padding-top: 0;
        padding-bottom: 0;
    }

    .rs-about .btn-color {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .rs-about {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .rs-about__content {
        font-size: 13px;
    }

    .rs-about__content .section-title {
        margin-bottom: 15px;
    }

    .rs-about__content ul {
        gap: 15px;
        margin-top: 15px;
        margin-bottom: 0;
    }

    .rs-about__content ul li {
        grid-template-columns: 40px 1fr;
        gap: 12px;
    }
}