.rs-contacts {
    padding-top: 112px;
    padding-bottom: 60px;
}

.rs-contacts__wrapper {
    display: grid;
    grid-template-columns: 1fr 50%;
    gap: 168px;
    -ms-flex-align: center;
    align-items: center;
}

.rs-contacts__content ul {
    margin-top: 45px;
    display: grid;
    gap: 20px;
}

.rs-contacts__content ul li a,
.rs-contacts__content ul li p {
    font-weight: 700;
    font-size: 17px;
    color: var(--color-6);
}

.rs-contacts__content ul li span {
    display: block;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: var(--color-6);
    margin-bottom: 5px;
}

@media (max-width: 1556px) {
    .rs-contacts__wrapper {
        gap: 50px;
    }
}

@media (max-width: 1023.98px) {
    .rs-contacts__wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767.98px) {
    .rs-contacts {
        padding-top: 60px;
        padding-bottom: 30px;
    }
}