.rs-category {
    position: relative;
    padding-top: 110px;
    padding-bottom: 110px;
}

.rs-category__content {
    display: -ms-flexbox;
    display: flex;
}

.rs-category__aside {
    -ms-flex: 0 0 440px;
    flex: 0 0 440px;
}

.rs-category__table {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 24px;
}

.rs-category__items {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.rs-category__footer {
    margin-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rs-category .catalog-filter {
    background: var(--color-5);
    border-radius: 15px;
    padding: 40px 26px;
}

.rs-category .catalog-filter .filter-form__head {
    font-weight: 700;
    font-size: 28px;
    line-height: 105%;
    letter-spacing: -0.01em;
    color: #000;
    margin-bottom: 30px;
}

.rs-category .catalog-filter .filter-form__holder {
    display: grid;
    gap: 30px;
}

.rs-category .catalog-filter .filter-form__label {
    font-weight: 700;
    font-size: 17px;
    color: var(--color-3);
    margin-bottom: 12px;
}

.rs-category .catalog-filter .filter-form__submit {
    width: 100%;
}

.rs-category .catalog-filter .filter-form .filter-block {
    display: grid;
    gap: 20px;
}

.rs-category .catalog-filter .filter-form .filter-block_line {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 12px;
    justify-items: start;
}

.rs-category .catalog-filter .filter-form .filter-block__separate {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 12px;
    margin-top: 12px;
}

.rs-category .catalog-filter .filter-form .filter-block .checkbox.round {
    margin: 0;
    cursor: pointer;
}

.rs-category .catalog-filter .filter-form .filter-block .checkbox.round > input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
}

.rs-category .catalog-filter .filter-form .filter-block .checkbox.round span {
    border-radius: 53px;
    background: var(--color-4);
    height: 39px;
    padding: 0px 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    font-family: var(--second-family);
}

.rs-category .catalog-filter .filter-form .filter-block .checkbox.round input:checked + span {
    background: var(--color-2);
    color: #fff;
}

.rs-category .category-description {
    margin-top: 60px;
}

.rs-category .category-description h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 95%;
    letter-spacing: -0.01em;
    color: var(--color-3);
    margin-bottom: 25px;
}

.rs-category .category-description p {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: var(--color-3);
}

.rs-category .show-mobile-filters-wrapper {
    padding-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rs-category .toolbar-mobile-show-btn {
    width: 100%;
    border-radius: 32px;
    padding: 0px 45px;
    height: 55px;
    background: var(--color-2);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.rs-category .toolbar-mobile-show-btn span {
    font-weight: 700;
    font-size: 15px;
    color: var(--color-4);
    margin-left: 10px;
}

.rs-category .toolbar-mobile-hide-btn {
    font-size: 35px;
    font-weight: 300;
    color: #565973;
    width: 36px;
    height: 36px;
    background: #f6f9ff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 12px;
}

@media (min-width: 1023.98px) {
    .rs-category .show-mobile-filters-wrapper {
        display: none;
    }

    .rs-category .toolbar-mobile-hide-btn {
        display: none;
    }

    .rs-category .sidebar .toolbar-mobile {
        display: contents;
    }
}

@media (max-width: 1023.98px) {
    .rs-category__content {
        display: block;
    }

    .rs-category__table {
        padding-left: 0;
    }

    .rs-category .catalog-filter {
        overflow-y: auto;
        max-height: calc(100vh - 120px);
    }

    .rs-category .sidebar .toolbar-mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 55;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.6);
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity var(--animation-duration) var(--timing-func);
    }

    .rs-category .sidebar .toolbar-mobile.is-show {
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 767.98px) {
    .rs-category {
        padding-top: 16px;
        padding-bottom: 30px;
    }

    .rs-category__footer {
        margin-top: 20px;
    }

    .rs-category .category-description {
        margin-top: 35px;
    }

    .rs-category .category-description h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .rs-category .category-description p {
        font-size: 13px;
    }
}