@charset "UTF-8";

@font-face {
    font-family: "Halvar Breit";
  src: url("../../fonts/Halvar Breit-Bold.woff2") format("woff2"), url("../../fonts/Halvar Breit-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Inter";
  src: url("../../fonts/Inter-Medium.woff2") format("woff2"), url("../../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Inter";
  src: url("../../fonts/Inter-Regular.woff2") format("woff2"), url("../../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Open Sans";
  src: url("../../fonts/OpenSans-Regular.woff2") format("woff2"), url("../../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

ul {
    margin-bottom: 0;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --font-family: "Halvar Breit", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Open Sans", sans-serif;
    --main-bg-color: #fff;
    --main-text-color: #08222e;
    --primary-color: #e11446;
    --error-color: #e11446;
    --color-1: #28324b;
    --color-2: #e11446;
    --color-3: #141615;
    --color-3-30p: rgba(20, 22, 21, 0.3);
    --color-4: #fff;
    --color-4-30p: rgba(255, 255, 255, 0.3);
    --color-5: #ebedee;
    --color-6: #08222e;
    --color-7: rgba(150, 160, 170, 0.3);
    --temno-seryy: #202020;
    --belyy: #fff;
    --animation-duration: 0.45s;
    --timing-func: ease-out;
    --bdrd: 50px;
}

html {
    font-size: 16px;
    height: 100%;
    min-width: 320px;
}

body {
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: normal;
    font-style: normal;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

body.loaded {
    overflow: auto;
    -ms-touch-action: auto;
    touch-action: auto;
}

body.mobile-menu-opened,
body.toolbar-mobile-opened,
body.modal-open,
body.filters-opened {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.site-wrapper,
.site {
    overflow: hidden;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.site-wrapper > .main,
.site-wrapper .site-content,
.site > .main,
.site .site-content {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.site-wrapper > *,
.site > * {
    min-width: 0;
}

header {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    position: relative;
}

.page-type-inner .main,
.page-type-inner .site-content {
    padding-top: 174px;
}

.page-type-inner header:not(.sticky) .rs-header .menu .menu__list > li > a,
.page-type-inner header:not(.sticky) .rs-header .rs-header__contacts,
.page-type-inner header:not(.sticky) .rs-header .rs-header__lang ul li.current {
    color: var(--color-3);
}

.page-type-inner header:not(.sticky) .rs-header .rs-header__lang ul li:not(:last-child) {
    border-right: 2px solid var(--color-3);
}

.page-type-inner header:not(.sticky) .rs-header .rs-header__lang ul li {
    color: var(--color-3-30p);
}

[class*=__container] {
    max-width: 1526px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fancybox__container {
    max-width: none !important;
}

.hidden {
    display: none !important;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    margin-bottom: 8px;
}

.tab {
    cursor: pointer;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--color-3);
    opacity: 0.3;
}

.tab:not(:last-child) {
    margin-right: 15px;
}

.tab.active {
    opacity: 1;
    text-decoration: underline;
}

header {
    transition: box-shadow var(--animation-duration) var(--timing-func);
}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    transform: translateY(calc(-100% - var(--bdrd)));
    transition: transform 0s;
}

header.sticky::after {
    content: "";
    display: block;
    height: var(--bdrd);
    width: var(--bdrd);
    border-top-left-radius: var(--bdrd);
    background: transparent;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: -10px -10px 0px 10px rgb(255, 255, 255);
}

header.sticky::before {
    content: "";
    display: block;
    height: var(--bdrd);
    width: var(--bdrd);
    border-top-right-radius: var(--bdrd);
    background: transparent;
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 10px -10px 0px 10px rgb(255, 255, 255);
}

header.sticky.out {
    transform: none;
    transition: transform 0.5s;
}

header.sticky .rs-header .logo,
header.sticky .rs-header .logo-mobile {
    display: none;
}

header.sticky .rs-header .logo-sticky {
    display: block;
}

header.sticky .rs-header .menu .menu__list > li > a,
header.sticky .rs-header .rs-header__contacts,
header.sticky .rs-header .rs-header__lang ul li.current {
    color: var(--color-3);
}

header.sticky .rs-header .rs-header__lang ul li:not(:last-child) {
    border-right: 2px solid var(--color-3);
}

header.sticky .rs-header .rs-header__lang ul li {
    color: var(--color-3-30p);
}

.site-wrapper,
.site {
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
}

.site-wrapper p,
.site p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.site-wrapper h3,
.site h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 95%;
    letter-spacing: -0.01em;
}

.site-wrapper h4,
.site h4 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 105%;
    letter-spacing: -0.01em;
    color: var(--color-3);
}

.site-wrapper h6,
.site h6 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    color: var(--color-6);
}

.site-wrapper blockquote,
.site blockquote {
    border-radius: 30px;
    padding: 20px 30px;
    background: var(--color-5);
    border: none;
}

.site-wrapper .page-content,
.site .page-content {
    font-family: var(--third-family);
    line-height: 170%;
}

.site-wrapper .page-content p.selected,
.site .page-content p.selected {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    line-height: normal;
}

.site-wrapper .page-content p.selected::before,
.site .page-content p.selected::before {
    content: url("../../img/icons/marker_icon.svg");
    margin-right: 8px;
}

.site-wrapper .page-content h3,
.site .page-content h3 {
    margin-bottom: 47px;
}

.site-wrapper .page-content h5,
.site .page-content h5 {
    margin-bottom: 15px;
}

.site-wrapper .page-content .page-row,
.site .page-content .page-row {
    display: grid;
    grid-template-columns: 1fr 49%;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 112px;
    padding-bottom: 112px;
    gap: 160px;
}

.site-wrapper .page-content .page-row.rev,
.site .page-content .page-row.rev {
    grid-template-columns: 49% 1fr;
}

.site-wrapper .page-content .grid,
.site .page-content .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.site-wrapper .page-content.page-content-entry,
.site .page-content.page-content-entry {
    display: grid;
}

.site-wrapper .page-content.page-content-entry:not(:last-child),
.site .page-content.page-content-entry:not(:last-child) {
    margin-bottom: 30px;
}

.site-wrapper .page-content .content,
.site .page-content .content {
    padding-top: 64px;
    padding-bottom: 64px;
}

.site-wrapper .page-content .picture,
.site .page-content .picture {
    position: relative;
    height: 851px;
    border-radius: 30px;
    overflow: hidden;
}

.site-wrapper .page-content .picture img,
.site .page-content .picture img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.site-wrapper .page-content ul.adv-list,
.site .page-content ul.adv-list {
    margin-top: 25px;
    margin-bottom: 45px;
    display: grid;
    gap: 25px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 23px;
    line-height: 105%;
    letter-spacing: -0.01em;
    color: var(--color-3);
}

.site-wrapper .page-content ul.adv-list li,
.site .page-content ul.adv-list li {
    display: grid;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: 67px 1fr;
    gap: 24px;
}

.site-wrapper .page-content ul.adv-list li img,
.site .page-content ul.adv-list li img {
    width: 100%;
}

.site-wrapper .page-content ul.defis li,
.site .page-content ul.defis li {
    list-style-position: inside;
}

.site-wrapper .page-content ul.defis li::marker,
.site .page-content ul.defis li::marker {
    content: "— ";
}

.site-wrapper .page-content ul.marker,
.site .page-content ul.marker {
    padding-left: 16px;
}

.site-wrapper .page-content ul.marker li,
.site .page-content ul.marker li {
    list-style: outside url("../../img/icons/marker_icon.svg");
}

.site-wrapper .page-content ul.marker li:not(:last-child),
.site .page-content ul.marker li:not(:last-child) {
    margin-bottom: 10px;
}

.site-wrapper .page-content ul:not(:last-child),
.site-wrapper .page-content ol:not(:last-child),
.site-wrapper .page-content p:not(:last-child),
.site-wrapper .page-content h4:not(:last-child),
.site .page-content ul:not(:last-child),
.site .page-content ol:not(:last-child),
.site .page-content p:not(:last-child),
.site .page-content h4:not(:last-child) {
    margin-bottom: 15px;
}

.site-wrapper .page-content .map,
.site .page-content .map {
    height: 390px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 60px;
}

.site-wrapper .page-content .map > *,
.site .page-content .map > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.site-wrapper .page-content .table,
.site .page-content .table {
    display: grid;
    overflow-x: auto;
}

.site-wrapper .page-content .table table,
.site .page-content .table table {
    padding: 0px 20px;
    border: 1px solid #bbb;
    border-radius: 19px;
    text-align: left;
    border-spacing: 0px 40px;
}

.site-wrapper .page-content .table tr:not(:last-child),
.site .page-content .table tr:not(:last-child) {
    position: relative;
}

.site-wrapper .page-content .table tr:not(:last-child)::after,
.site .page-content .table tr:not(:last-child)::after {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    background: #bbb;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.site-wrapper .page-content .table th,
.site-wrapper .page-content .table td,
.site .page-content .table th,
.site .page-content .table td {
    padding: 0px 20px;
    white-space: nowrap;
}

.site-wrapper .page-content .table th:not(:first-child),
.site-wrapper .page-content .table td:not(:first-child),
.site .page-content .table th:not(:first-child),
.site .page-content .table td:not(:first-child) {
    border-left: 1px solid #bbb;
}

.site-wrapper .page-content .table tr:first-child th,
.site .page-content .table tr:first-child th {
    padding-top: 0;
}

.site-wrapper .page-content .table tr:last-child td,
.site .page-content .table tr:last-child td {
    border-bottom: none;
    padding-bottom: 0;
}

.site-wrapper .page-content .table th,
.site .page-content .table th {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 13px;
    line-height: 103%;
    color: var(--color-3);
}

.site-wrapper .page-content .table td,
.site .page-content .table td {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: var(--color-3);
}

.form form {
    display: grid;
    gap: 27px;
}

.form .form-group {
    margin-bottom: 0;
    position: relative;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.form .form-row {
    display: -ms-flexbox;
    display: flex;
}

.form .form-submit {
    display: grid;
    grid-template-columns: 1fr;
    gap: 27px;
}

.form .form-submit p {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    text-align: center;
    color: var(--color-6);
}

.form input,
.form textarea {
    outline: none;
    width: 100%;
    padding: 0px 18px;
    height: 67px;
    background: var(--color-5);
    border: 1px solid var(--color-5);
    border-radius: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: var(--color-3);
}

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
    color: var(--color-3-30p);
}

.form input::placeholder,
.form textarea::placeholder {
    color: var(--color-3-30p);
}

.form input.error,
.form textarea.error {
    border-color: var(--color-2);
}

.form textarea {
    height: 100%;
    resize: none;
    min-height: 243px;
    padding-top: 20px;
}

.form .checkbox {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.form .checkbox > input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.form .checkbox span {
    text-align: left;
    display: inline-block;
    padding-left: 26px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #757575;
    position: relative;
}

.form .checkbox span a {
    text-decoration: underline;
}

.form .checkbox span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #b22727;
}

.form .checkbox span:after {
    content: url("../../img/icons/checkmark_icon.svg");
    position: absolute;
    top: 0px;
    left: 0px;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.form .checkbox input:checked + span.checkbox__text {
    color: #2f2f2f;
}

.form .checkbox input:checked + span:after {
    transform: scale(1);
}

.form label.error {
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    text-align: center;
    color: var(--color-2);
    position: absolute;
    top: 100%;
    left: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.form label.error::before {
    content: url("../../img/icons/warn_icon.png");
    line-height: normal;
    margin-right: 10px;
}

.page-sidebar {
    padding-top: 112px;
    padding-bottom: 112px;
}

.page-sidebar .page-sidebar__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.page-sidebar .page-sidebar__aside {
    position: relative;
    z-index: 2;
    -ms-flex: 0 0 440px;
    flex: 0 0 440px;
}

.page-sidebar .page-sidebar__content {
    position: relative;
    z-index: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 24px;
}

.page-sidebar_rev .page-sidebar__aside {
    -ms-flex-order: 2;
    order: 2;
}

.page-sidebar_rev .page-sidebar__content {
    -ms-flex-order: 1;
    order: 1;
    padding-left: 0;
    padding-right: 40px;
}

.slider-arrows {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    pointer-events: none;
}

.slider-arrows .slider-arrow {
    pointer-events: auto;
    width: 43px;
    height: 43px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider-arrows .slider-arrow_prev {
    transform: scaleX(-1);
}

.slider-arrows .slider-arrow.swiper-button-disabled {
    opacity: 0.5;
    cursor: default;
}

@keyframes referringArrow-A {
    0% {
        transform: translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0);
    }

    50% {
        transform: translateZ(0);
    }

    75% {
        transform: translate3d(-4px, 0, 0);
    }
}

.slider-paging {
    margin-left: 16px;
    margin-right: 16px;
}

.slider-paging.swiper-pagination-progressbar {
    height: 3px;
    width: 100%;
    background: #d9d9d9;
    position: relative;
}

.slider-paging.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: left;
    display: block;
    height: 3px;
    background: var(--primary-color);
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical {
    display: -ms-flexbox;
    display: flex;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet {
    margin: 0;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #d9d9d9;
    opacity: 1;
    transition: all var(--animation-duration) var(--timing-func);
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:not(:last-child),
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet:not(:last-child) {
    margin-right: 10px;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #7e5ddd;
    width: 50px;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:focus,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet:focus {
    outline: none;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-clickable .swiper-pagination-bullet,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.slider-paging.swiper-pagination-fraction {
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 153%;
}

.section-title h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 95%;
    letter-spacing: -0.01em;
    color: var(--color-3);
}

.breadcrumbs {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: var(--color-4);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.breadcrumbs__container {
    width: 100%;
}

.breadcrumbs a {
    transition: color 0.3s ease 0s;
    color: inherit;
}

.breadcrumbs .sep {
    margin: 0px 12px;
}

.breadcrumbs .current {
    color: #fff;
    cursor: default;
}

.page-pagination {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.page-pagination span,
.page-pagination a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 43px;
    height: 43px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: var(--color-1);
    border: 1px solid var(--color-1);
    border-radius: 50%;
}

.page-pagination span:not(:last-child),
.page-pagination a:not(:last-child) {
    margin-right: 12px;
}

.page-pagination a {
    transition: border-color var(--animation-duration) var(--timing-func);
}

.page-pagination .prev {
    transform: scaleX(-1);
}

.page-pagination .current {
    color: var(--color-4);
    background: var(--color-2);
    border-color: var(--color-2);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    opacity: 0;
    transition: opacity 0.15s linear;
    pointer-events: none;
}

.modal .modal-dialog {
    transform: translate(0, -25%);
    transition: transform 0.3s ease-out;
}

.modal.is-show {
    opacity: 1;
}

.modal.is-show .modal-dialog {
    pointer-events: auto;
    transform: translate(0, 0);
}

.modal.is-show .modal-backdrop {
    pointer-events: auto;
}

.modal .modal-backdrop {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal .modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal .close {
    width: 30px;
    height: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 31px;
    right: 42px;
}

.modal .modal-dialog {
    position: relative;
    width: 90%;
    max-width: 852px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal .modal-content {
    border-radius: 30px;
    padding: 55px 46px;
    background: var(--color-4);
}

.modal .modal-header {
    padding: 0;
    border-bottom: 0;
    margin-bottom: 27px;
}

.modal .modal-header h6 {
    font-weight: 700;
    font-size: 50px;
    line-height: 95%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-3);
    margin-bottom: 15px;
}

.modal .modal-header p {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    text-align: center;
    color: var(--color-6);
}

.modal .modal-body {
    padding: 0;
}

.preloader {
    pointer-events: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: var(--color-4);
    padding: 24px;
    transition: 0.3s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.preloader img {
    max-width: 100%;
}

.sidebar-menu {
    background: var(--color-5);
    border-radius: 15px;
    padding: 26px;
}

.sidebar-menu__head {
    font-weight: 700;
    font-size: 23px;
    line-height: 105%;
    letter-spacing: -0.01em;
    color: #000;
    margin-bottom: 12px;
}

.sidebar-menu__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sidebar-menu__list:not(:last-child) {
    margin-bottom: 28px;
}

.sidebar-menu__list li {
    margin-bottom: 12px;
}

.sidebar-menu__list li:not(:last-child) {
    margin-right: 12px;
}

.sidebar-menu__list li a {
    display: block;
    border-radius: 50px;
    background: var(--color-4);
    padding: 9px 15px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    font-family: var(--second-family);
}

.sidebar-menu__list li.current-menu-item > a {
    background: var(--color-2);
    color: var(--color-4);
}

.btn-color {
    position: relative;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    height: 68px;
    border-radius: 64px;
    background: var(--color-1);
    transition: background 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 14px;
}

.btn-color span.icon {
    width: 35px;
    height: 35px;
    background: var(--color-4);
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-clip-path: circle(0 at 50% 50%);
    clip-path: circle(0 at 50% 50%);
    transition: -webkit-clip-path 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: clip-path 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: clip-path 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-clip-path 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-color span.icon::before {
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    -webkit-mask-image: url("../../img/icons/arrow_button.gif");
    mask-image: url("../../img/icons/arrow_button.gif");
    background: var(--color-1);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    transform: translateX(-17px);
    transition: transform 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-color span.title {
    padding: 0px 10px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    color: var(--color-4);
    line-height: normal;
    text-align: center;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    transform: translateX(17px);
    transition: transform 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86), color 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-color_small {
    height: 57px;
}

.btn-color_phone {
    background: var(--color-2);
}

.btn-color_phone span.icon::before {
    -webkit-mask-image: url("../../img/icons/phone_button.gif");
    mask-image: url("../../img/icons/phone_button.gif");
    width: 21px;
    height: 21px;
}

.btn-color_price span.icon::before {
    -webkit-mask-image: url("../../img/icons/price_button.gif");
    mask-image: url("../../img/icons/price_button.gif");
    width: 15px;
    height: 15px;
}

.btn-color_news span.icon::before {
    -webkit-mask-image: url("../../img/icons/news_button.gif");
    mask-image: url("../../img/icons/news_button.gif");
}

.btn-color_kp span.icon::before {
    -webkit-mask-image: url("../../img/icons/kp_button.gif");
    mask-image: url("../../img/icons/kp_button.gif");
}

.btn-color_light {
    background: var(--color-2);
}

.btn-color_light span.icon {
    background: var(--color-2);
}

.btn-color_light span.icon::before {
    background: #fff;
}

.btn-color_rev span.icon {
    -ms-flex-order: 1;
    order: 1;
}

.btn-video {
    position: relative;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    height: 68px;
    border-radius: 64px;
    background: var(--color-1);
    transition: background 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 5px;
}

.btn-video span.icon {
    width: 55px;
    height: 55px;
    background: url("../../img/icons/video_button.jpg") center/cover no-repeat;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn-video span.icon::before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    -webkit-mask-image: url("../../img/icons/video_button_icon.svg");
    mask-image: url("../../img/icons/video_button_icon.svg");
    background: #fff;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.btn-video span.title {
    padding: 0px 10px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    color: var(--color-4);
    text-align: center;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.button-link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    color: var(--color-3);
    transition: color var(--animation-duration) var(--timing-func);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.button-link span.icon {
    margin-left: 5px;
}

@keyframes slide1 {
    0%, 100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}

.error-404 {
    text-align: center;
    max-width: 855px;
    margin: 0 auto;
    padding-bottom: 112px;
}

.error-404 img {
    max-width: 100%;
}

.error-404 h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 95%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-3);
    margin-bottom: 5px;
    margin-top: 75px;
}

.error-404 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    text-align: center;
    color: var(--color-6);
    margin-bottom: 25px;
}

.error-404 a {
    width: 100%;
    max-width: 639px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 68px;
    padding: 0 20px;
    background: var(--color-1);
    border-radius: 40px;
}

.error-404 a span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    color: var(--color-4);
}

[data-wow] > * {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity var(--animation-duration) var(--timing-func), transform var(--animation-duration) var(--timing-func);
}

[data-wow] > *.in-view {
    opacity: 1;
    transform: translateY(0px);
}

.social-bar {
    position: fixed;
    z-index: 5;
    top: 114px;
    right: calc((100vw - 1830px) / 2);
}

.social-bar ul {
    display: grid;
    gap: 15px;
}

.social-bar ul li a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--color-1);
    transition: background var(--animation-duration) var(--timing-func);
}

.social-bar ul li a img {
    max-width: 60%;
}

.slider-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px;
    position: relative;
    padding-left: 43px;
    padding-right: 43px;
    height: 43px;
    width: 100%;
    max-width: 468px;
}

.goods-item {
    height: 100%;
    background: var(--color-5);
    border-radius: 15px;
    padding: 42px;
}

.goods-item__head {
    margin-bottom: 16px;
}

.goods-item__head h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 105%;
    letter-spacing: -0.01em;
    color: var(--color-3);
    margin-bottom: 11px;
}

.goods-item__head ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 19px;
    color: var(--color-3);
}

.goods-item__head ul li:not(:last-child) {
    margin-right: 12px;
}

.goods-item__footer {
    margin-top: 39px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 24px;
}

.goods-item .goods-item-slider {
    position: relative;
}

.goods-item .goods-item-slider__slide {
    position: relative;
    padding-bottom: 70%;
}

.goods-item .goods-item-slider__slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}

.goods-item .goods-item-slider__arrows {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.goods-item .goods-item-slider__arrow {
    pointer-events: auto;
    height: 100%;
    width: 30px;
    cursor: pointer;
    position: relative;
    background: url("../../img/icons/slider_arrow.svg") center/16px 28px no-repeat;
}

.goods-item .goods-item-slider__arrow.prev {
    transform: scaleX(-1);
}

.accordion__item:not(:last-child) {
    margin-bottom: 12px;
}

.accordion__title {
    margin-bottom: 12px;
    scroll-margin-top: 100px;
    background: #f6f9ff;
    cursor: pointer;
    border-radius: 35px;
    padding: 10px 10px 10px 26px;
    background: var(--color-5);
    font-weight: 700;
    font-size: 17px;
    color: var(--color-6);
}

.accordion__content {
    padding: 20px;
    background: var(--color-5);
    border-radius: 35px;
}

.accordion .accordion-content {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: var(--color-6);
    font-family: var(--third-family);
}

.accordion._init .accordion__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.accordion._init .accordion__title .expand {
    margin-left: 15px;
    width: 50px;
    height: 50px;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    border-radius: 50%;
    background: var(--color-1);
    position: relative;
    transition: all var(--animation-duration) var(--timing-func);
}

.accordion._init .accordion__title .expand::after,
.accordion._init .accordion__title .expand::before {
    content: "";
    position: absolute;
    background-color: #fff;
    transition: transform var(--animation-duration) var(--timing-func);
}

.accordion._init .accordion__title .expand::after {
    top: 50%;
    left: 50%;
    width: 2px;
    height: 20px;
    transform: translate(-50%, -50%);
}

.accordion._init .accordion__title .expand::before {
    top: 50%;
    left: 50%;
    height: 2px;
    width: 20px;
    transform: translate(-50%, -50%);
}

.accordion._init .accordion__title._active .expand::after {
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(90deg);
}

.accordion._init .accordion__title._active .expand::before {
    background-color: #fff;
    transform: translate(-50%, -50%) scale(0);
}

.under-fix {
    position: relative;
    z-index: 2;
    background: #fff;
    border-radius: var(--bdrd);
}

@media (min-width: 767.98px) {
    .site-wrapper .page-content .column,
  .site .page-content .column {
        column-count: 2;
        column-gap: 16px;
    }

    .form .form-submit_row {
        grid-template-columns: 1fr auto;
        gap: 35px;
    }

    .form .form-submit_row p {
        text-align: left;
        font-size: 15px;
    }

    [data-wow] > *:nth-child(1) {
        transition-delay: 0.15s;
    }

    [data-wow] > *:nth-child(2) {
        transition-delay: 0.3s;
    }

    [data-wow] > *:nth-child(3) {
        transition-delay: 0.45s;
    }

    [data-wow] > *:nth-child(4) {
        transition-delay: 0.6s;
    }

    [data-wow] > *:nth-child(5) {
        transition-delay: 0.75s;
    }

    [data-wow] > *:nth-child(6) {
        transition-delay: 0.9s;
    }

    [data-wow] > *:nth-child(7) {
        transition-delay: 1.05s;
    }

    [data-wow] > *:nth-child(8) {
        transition-delay: 1.2s;
    }

    [data-wow] > *:nth-child(9) {
        transition-delay: 1.35s;
    }

    [data-wow] > *:nth-child(10) {
        transition-delay: 1.5s;
    }

    [data-wow] > *:nth-child(11) {
        transition-delay: 1.65s;
    }

    [data-wow] > *:nth-child(12) {
        transition-delay: 1.8s;
    }

    [data-wow] > *:nth-child(13) {
        transition-delay: 1.95s;
    }

    [data-wow] > *:nth-child(14) {
        transition-delay: 2.1s;
    }

    [data-wow] > *:nth-child(15) {
        transition-delay: 2.25s;
    }

    [data-wow] > *:nth-child(16) {
        transition-delay: 2.4s;
    }

    [data-wow] > *:nth-child(17) {
        transition-delay: 2.55s;
    }

    [data-wow] > *:nth-child(18) {
        transition-delay: 2.7s;
    }

    [data-wow] > *:nth-child(19) {
        transition-delay: 2.85s;
    }
}

@media (min-width: 1023.98px) {
    .site-wrapper .page-content .page-row.rev .content,
  .site .page-content .page-row.rev .content {
        -ms-flex-order: 2;
        order: 2;
    }
}

@media (max-width: 1556px) {
    .site-wrapper .page-content .page-row,
  .site .page-content .page-row {
        gap: 45px;
    }
}

@media (max-width: 1023.98px) {
    :root {
        --bdrd: 20px;
    }

    .page-type-inner .main,
  .page-type-inner .site-content {
        padding-top: 56px;
    }

    [class*=__container] {
        max-width: 768px;
    }

    .tab {
        font-size: 12px;
    }

    .site-wrapper .page-content .page-row,
  .site .page-content .page-row {
        grid-template-columns: 1fr;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .site-wrapper .page-content .page-row.rev,
  .site .page-content .page-row.rev {
        grid-template-columns: 1fr;
    }

    .site-wrapper .page-content .content,
  .site .page-content .content {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .page-sidebar .page-sidebar__container {
        display: block;
    }

    .page-sidebar .page-sidebar__aside {
        display: none;
    }

    .page-sidebar .page-sidebar__content {
        padding-left: 0;
    }

    .page-sidebar_rev .page-sidebar__content {
        padding-right: 0;
    }

    .slider-arrows .slider-arrow {
        width: 37px;
        height: 37px;
    }

    .breadcrumbs {
        color: var(--color-3-30p);
    }

    .breadcrumbs .current {
        color: var(--color-3-30p);
    }

    .btn-color {
        height: 54px;
    }

    .btn-color span.title {
        font-size: 15px;
    }

    .btn-color_small {
        height: 33px;
    }

    .btn-color_small span.title {
        font-size: 11px;
    }

    .btn-video {
        height: 54px;
    }

    .btn-video span.title {
        font-size: 15px;
    }

    .button-link {
        font-size: 13px;
    }

    .slider-nav {
        max-width: none;
        margin-top: 20px;
        height: 37px;
        padding-left: 37px;
        padding-right: 37px;
    }

    .goods-item {
        padding: 25px 18px;
    }

    .goods-item__head h4 {
        font-size: 16px;
    }

    .goods-item__head ul {
        font-size: 12px;
    }

    .goods-item .goods-item-slider__arrow {
        background: url("../../img/icons/slider_arrow.svg") center/7px 12px no-repeat;
        width: 15px;
    }
}

@media (max-width: 767.98px) {
    [class*=__container] {
        max-width: 375px;
    }

    .site-wrapper,
  .site {
        font-size: 13px;
    }

    .site-wrapper h3,
  .site h3 {
        font-size: 20px;
    }

    .site-wrapper h4,
  .site h4 {
        font-size: 18px;
    }

    .site-wrapper blockquote,
  .site blockquote {
        border-radius: 10px;
        padding: 15px;
    }

    .site-wrapper .page-content h3,
  .site .page-content h3 {
        margin-bottom: 25px;
    }

    .site-wrapper .page-content .page-row,
  .site .page-content .page-row {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .site-wrapper .page-content .grid,
  .site .page-content .grid {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .site-wrapper .page-content .picture,
  .site .page-content .picture {
        height: auto;
        padding-bottom: 100%;
    }

    .site-wrapper .page-content ul.adv-list,
  .site .page-content ul.adv-list {
        font-size: 13px;
        gap: 15px;
        margin-top: 15px;
        margin-bottom: 0;
    }

    .site-wrapper .page-content ul.adv-list li,
  .site .page-content ul.adv-list li {
        grid-template-columns: 40px 1fr;
        gap: 12px;
    }

    .site-wrapper .page-content .map,
  .site .page-content .map {
        border-radius: 10px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .form form {
        gap: 12px;
    }

    .form .form-row {
        display: contents;
    }

    .page-sidebar {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:not(:last-child),
  .slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet:not(:last-child) {
        margin-right: 5px;
    }

    .slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active,
  .slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 30px;
    }

    .section-title h2 {
        font-size: 24px;
    }

    .modal .modal-content {
        padding: 30px;
    }

    .modal .modal-header h6 {
        font-size: 34px;
    }

    .error-404 {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .error-404 h1 {
        font-size: 30px;
        margin-top: 30px;
    }

    .accordion .accordion-content {
        font-size: 13px;
    }
}

@media (any-hover: none) {
    [data-hidescroll]::-webkit-scrollbar {
        width: 0;
    }

    [data-hidescroll] {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@media (any-hover: hover) {
    .slider-arrows .slider-arrow:hover svg {
        animation: referringArrow-A 0.8s infinite linear;
    }

    .page-pagination a:hover {
        border-color: var(--color-2);
    }

    .btn-color:hover {
        background: var(--color-2);
    }

    .btn-color:hover span.icon {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
    }

    .btn-color:hover span.icon::before {
        transform: translateX(0px);
    }

    .btn-color:hover span.title {
        transform: translateX(0px);
    }

    .btn-color_light:hover {
        background: var(--color-4);
    }

    .btn-color_light:hover span.title {
        color: var(--color-1);
    }

    .btn-video:hover {
        background: var(--color-2);
    }

    .button-link:hover {
        color: var(--color-2);
    }

    .button-link:hover span.icon {
        animation: slide1 1s ease-in-out infinite;
    }

    .social-bar ul li a:hover {
        background: var(--color-2);
    }
}