<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>ООО ИТС - О компании</title>

	<script src="js/jquery-2.1.3.min.js" defer></script>

	
	

	
	

	<script src="js/swiper-bundle.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css" />

	<script src="js/gsap/gsap.min.js" defer></script>
	<script src="js/gsap/ScrollTrigger.min.js" defer></script>
	<script src="js/gsap/CustomEase.min.js" defer></script>	
	<script src="js/gsap/ScrollToPlugin.min.js" defer></script>	
	
		
	<link rel="stylesheet" type="text/css" href="css/block-css/style.css" />
	<script src="js/app.js" defer></script>

</head>

  <body class="page-type-default">
    
    
      
      
    
    
    <div class="site-wrapper">      
      <div class="stripes">
	<div class="stripes__container">
    <div class="stripes__stripe"></div>
    <div class="stripes__stripe"></div>
    <div class="stripes__stripe"></div>
    <div class="stripes__stripe stripes__stripe_right"></div>
	</div>
</div>
      
      <header>
        <span class="menu-overlay" data-js-overlay></span>
        


<link rel="stylesheet" href="css/block-css/rs-header.css" />
<div class="rs-header">			
		<div class="rs-header__wrapper">

			<a href="#" class="rs-header__logo">
				<img src="img/logo.png" alt="">
			</a>
			
			<nav class="menu" data-spollers="1149.98, max">	
	
	<div class="menu-wrapper">
		<span class="nav-line"></span>
		<ul class="menu__list">			
			<li ><a href="#"><span>Главная</span></a></li>
			<li class="menu__dropdown ">
				<a href="#"><span>каталог</span></a>
				<button type="button" class="menu__dropdown-arrow" data-spoller></button>
				<ul class="menu__dropdown-list">
					<li><a href="#"><span>Кабельно-проводниковая продукция</span></a></li>
					<li><a href="#"><span>Силовые трансформаторы</span></a></li>
					<li class="menu__dropdown">
						<a href="#"><span>Автотрансформаторы</span></a>
						<button type="button" class="menu__dropdown-arrow" data-spoller></button>
						<ul class="menu__dropdown-list">
							<li><a href="#"><span>Кабельно-проводниковая продукция</span></a></li>
							<li><a href="#"><span>Силовые трансформаторы</span></a></li>
							<li><a href="#"><span>Автотрансформаторы</span></a></li>
							<li><a href="#"><span>Арматура СИП</span></a></li>
							<li><a href="#"><span>Арматура ВЛ</span></a></li>
							<li><a href="#"><span>Опоры (ЖБ и деревянные)</span></a></li>
						</ul>
					</li>
					<li><a href="#"><span>Арматура СИП</span></a></li>
					<li><a href="#"><span>Арматура ВЛ</span></a></li>
					<li><a href="#"><span>Опоры (ЖБ и деревянные)</span></a></li>
				</ul>
			</li>
			<li  ><a href="#"><span>услуги</span></a></li>
			<li class="current-menu-item"><a href="#"><span>О компании</span></a></li>
			<li><a href="#"><span>Новости</span></a></li>
			<li><a href="#"><span>контакты</span></a></li>
		</ul>
	</div>

	<div class="mobile-menu-contacts">
		<div class="menu-wrapper">
			<ul>
				<li><a href="tel:+78126421515">+7 812 642-15-15</a></li>
				<li><a href="mailto:info@itsenergy.pro">info@itsenergy.pro</a></li>
			</ul>
		</div>
	</div>


</nav>








			<ul class="header-contacts">
				<li><a href="tel:+78126421515">+7 812 642-15-15</a></li>
				<li><a href="mailto:info@itsenergy.pro">info@itsenergy.pro</a></li>
			</ul>


			<a href="#" class="btn-search"></a>
			<a href="#" class="btn-call"></a>
			
			<button class="menu-burger">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#09244b">
    <rect width="4.8" height="4.8"></rect>
    <rect y="19.2" width="4.8" height="4.8"></rect>
    <rect x="9.59998" y="9.6001" width="4.8" height="4.8"></rect>
    <rect x="19.2" width="4.8" height="4.8"></rect>
    <rect x="19.2" y="19.2" width="4.8" height="4.8"></rect>	    
    <rect y="9.6001" width="4.8" height="4.8"></rect>
    <rect x="9.59998" width="4.8" height="4.8"></rect>
    <rect x="9.59998" y="19.2" width="4.8" height="4.8"></rect>
    <rect x="19.2" y="9.6001" width="4.8" height="4.8"></rect>
  </svg>
</button>

		
		</div>
</div>
  
      </header>
      
      <div class="main">        
        
  <!-- rs-intro -->
  <link rel="stylesheet" href="css/block-css/rs-intro.css" />
<section class="rs-intro">	
	<div class="rs-intro__wrapper">
		 






















<div class="intro">
	<div class="intro-content intro-content_wide">
		<div class="intro-content__container">
			<div class="intro-content__wrapper">
				<div class="intro-content__head">
					
  <div class="breadcrumbs " data-hidescroll>    
    
      <span><a href="#">Главная</a></span>
      <span class="sep">
        <svg width="5" height="13" viewBox="0 0 5 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.31936 0.272949H4.61162L1.30494 12.7271H0L3.31936 0.272949Z" fill="#0036D6" />
        </svg>
      </span>
        
    <span class="current">О компании</span>    
  </div>

					<h1 data-split-text>О компании</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="intro-picture" data-parallax>
		<img src="img/intro_4.jpg" alt="" />
		<div class="intro-cover">
			<div class="intro-cover__container">
				<div class="intro-cover__link blank-right"><a href="#" class="btn-color btn-color_dark"><span>Связаться с нами</span></a></div>
			</div>
		</div>
	</div>
</div>

	</div>
</section>
  <!-- rs-about -->
  <link rel="stylesheet" href="css/block-css/rs-about.css" />
<section class="rs-about">
	<div class="rs-about__wrapper">
		
 







<div class="about">
  <div class="about__container">
    <div class="about__wrapper">
      <div class="about__head" data-animate="fadeInUp">
        
<div class="section-title section-title_small">
	
	<span>О компании</span>
	
	
	<h2>Информационно-технологические системы</h2>	
	
	
</div>

      </div>
      <div class="about__content base-content" data-animate="fadeInUp::300">
        <p>Мы рады представить вам компанию «ИТС», основанную в 2015 году. С момента своего создания мы динамично развиваемся и заслужили репутацию надежного поставщика на рынке электротехнической продукции. Наши решения востребованы крупнейшими энергетическими компаниями России, такими как ПАО «Россети Ленэнерго» и ПАО «Федеральная сетевая компания Россети».</p>
        <p>Наши специалисты, обладая многолетним опытом, обеспечивают высочайший уровень услуг для наших клиентов. Мы постоянно стремимся к тому, чтобы предлагать надежные и эффективные решения в области электротехники. Продукция и услуги компании «ИТС» способствуют поддержанию и развитию энергетической инфраструктуры России. Активное участие в тендерах подчеркивает наш стратегический курс на расширение и укрепление позиций на рынке.</p>
        <p>Мы благодарны вам за проявленный интерес к нашей компании и надеемся на долгосрочное и взаимовыгодное сотрудничество.</p>
        <blockquote>Предоставляя клиентам качественную электротехническую продукцию и профессиональные услуги, мы обеспечиваем надежную и безопасную работу энергетических объектов России.</blockquote>
      </div>
      <div class="about__btn" data-animate="fadeInUp::600">
<a href="#" class="btn-color btn-color_dark">
	<span>начать сотрудничество</span>
</a>
</div>
    </div>
  </div>
  <div class="about__picture" data-animate="fadeInUp::300">
    <img src="img/about_1.jpg" alt="">
  </div>
</div>

	</div> 
</section>
  <!-- rs-benefit -->
  <link rel="stylesheet" href="css/block-css/rs-benefit.css" />
<section class="rs-benefit">
  <div class="rs-benefit__container">
    <div class="rs-benefit__wrapper">
       
















<div class="benefit">
  <div class="benefit__wrapper">
    <div class="benefit__head" data-animate="fadeIn">
      
<div class="section-title ">
	
	<span>Ценности компании</span>
	
	
	
</div>

    </div>
    <div class="benefit__items" data-animate-stager="fadeIn:350">
      
      <div class="benefit__item">
<div class="benefit-card">	
  <div class="benefit-card__num">01</div>
  <h4 class="benefit-card__title">Профессионализм</h4>
  <p class="benefit-card__text">Наши сотрудники – это квалифицированные специалисты с глубокими знаниями и опытом, готовые предложить экспертную консультацию и помощь в выборе продукции.</p>
</div>
</div>
      
      <div class="benefit__item">
<div class="benefit-card">	
  <div class="benefit-card__num">02</div>
  <h4 class="benefit-card__title">Ответственность</h4>
  <p class="benefit-card__text">Мы осознаем свою ответственность перед клиентами, партнерами и обществом, строго соблюдаем законы, заботимся о безопасности окружающей среды и поддерживаем социальные проекты.</p>
</div>
</div>
      
      <div class="benefit__item">
<div class="benefit-card">	
  <div class="benefit-card__num">03</div>
  <h4 class="benefit-card__title">Партнерство</h4>
  <p class="benefit-card__text">Мы строим долгосрочные отношения с клиентами и поставщиками, готовы к сотрудничеству, обмену опытом и совместному решению сложных задач.</p>
</div>
</div>
      
    </div>
  </div>
</div>
    </div>
  </div>
</section>
  <!-- rs-team -->
  <link rel="stylesheet" href="css/block-css/rs-team.css" />
<section class="rs-team">		
	<div class="rs-team__container">			
		<div class="rs-team__wrapper">
			












<div class="team">
  <div class="team__head" data-animate="fadeInUp">
    
<div class="section-title ">
	
	<span>ИТС</span>
	
	
	<h2>Наша команда </h2>	
	
	
</div>

  </div>
  <div class="team__content" data-animate="fadeInUp::300">
    <div class="team-slider">
      <div class="team-slider__slider">
        <div class="team-slider__swiper">
          
          <div class="team-slider__slide">
<article class="team-card">
	<div class="team-card__photo">
    
    <img src="img/services_3.jpg" alt="">
    
  </div>	
  <h4 class="team-card__name">Непорада Евгений Иванович</h4>
  <p class="team-card__job">Генеральный директор</p>
</article>
</div>
          
          <div class="team-slider__slide">
<article class="team-card">
	<div class="team-card__photo">
    
  </div>	
  <h4 class="team-card__name">Муравьёв Владимир Григорьевич</h4>
  <p class="team-card__job">Руководитель отдела</p>
</article>
</div>
          
          <div class="team-slider__slide">
<article class="team-card">
	<div class="team-card__photo">
    
  </div>	
  <h4 class="team-card__name">Анохина Влада Сергеевна</h4>
  <p class="team-card__job">Менеджер</p>
</article>
</div>
          
          <div class="team-slider__slide">
<article class="team-card">
	<div class="team-card__photo">
    
  </div>	
  <h4 class="team-card__name">Имя</h4>
  <p class="team-card__job">Должность</p>
</article>
</div>
          
          <div class="team-slider__slide">
<article class="team-card">
	<div class="team-card__photo">
    
  </div>	
  <h4 class="team-card__name">Имя</h4>
  <p class="team-card__job">Должность</p>
</article>
</div>
          
        </div>
      </div>
      <div class="team-slider__nav">
        <div class="slider-arrows">
	<button type="button" class="slider-arrow slider-arrow_prev">назад</button>
	<button type="button" class="slider-arrow slider-arrow_next">Вперед</button>
</div>

        <div class="slider-paging"></div>
      </div>
    </div>
  </div>
</div>
		</div>		
	</div>
</section>


  <!-- rs-billboard -->
  <link rel="stylesheet" href="css/block-css/rs-billboard.css" />
<section class="rs-billboard">
  <div class="rs-billboard__container">
    <div class="rs-billboard__wrapper">
       

<div class="billboard" data-animate="fadeIn">
  <div class="billboard__wrapper" data-parallax>
    <img src="img/billboard.jpg" alt="">
  </div>  
</div>
    </div>
  </div>
</section>
  <!-- rs-feedback -->
  <link rel="stylesheet" href="css/block-css/rs-feedback.css" />
<section class="rs-feedback">		
	<div class="rs-feedback__container">			
		<div class="rs-feedback__wrapper">
			



<div class="feedback">
  <div class="feedback__head" data-animate="fadeInUp">
    
<div class="section-title section-title_light section-title_small">
	
	<span>Нас рекомендуют</span>
	
	
	<h2>Благодарственные письма</h2>	
	
	
</div>

  </div>
  <div class="feedback__content" data-animate="fadeInUp::300">
    <div class="feedback-slider">
      <div class="feedback-slider__slider">
        <div class="feedback-slider__swiper">
          <div class="feedback-slider__slide">
            <div class="feedback-slide"><img src="img/news.jpg" alt=""></div>
          </div>
          <div class="feedback-slider__slide">
            <div class="feedback-slide"></div>
          </div>
          <div class="feedback-slider__slide">
            <div class="feedback-slide"></div>
          </div>
          <div class="feedback-slider__slide">
            <div class="feedback-slide"></div>
          </div>
          <div class="feedback-slider__slide">
            <div class="feedback-slide"></div>
          </div>
          <div class="feedback-slider__slide">
            <div class="feedback-slide"></div>
          </div>
        </div>
      </div>
      <div class="feedback-slider__nav">
        <div class="slider-arrows">
	<button type="button" class="slider-arrow slider-arrow_prev">назад</button>
	<button type="button" class="slider-arrow slider-arrow_next">Вперед</button>
</div>

        <div class="slider-paging"></div>
      </div>
    </div>
  </div>
</div>
		</div>		
	</div>
</section>


  <!-- rs-documents -->
  <link rel="stylesheet" href="css/block-css/rs-documents.css" />
<section class="rs-documents">
  <div class="rs-documents__container">
    <div class="rs-documents__wrapper">
       


<div class="documents">
  <div class="documents__head" data-animate="fadeInUp">
    
<div class="section-title section-title_light">
	
	<span>Документы</span>
	
	
	<h2>Сертификаты дилера</h2>	
	
	
</div>

  </div>
  <div class="documents__content" data-animate="fadeInUp::300">
    <div class="documents__table">
      <div class="documents__record"><a href="#" class="document-link"><span>сертификат 1</span></a></div>
      <div class="documents__record"><a href="#" class="document-link"><span>сертификат 2</span></a></div>
      <div class="documents__record"><a href="#" class="document-link"><span>сертификат 3</span></a></div>
      <div class="documents__record"><a href="#" class="document-link"><span>сертификат 2</span></a></div>
      <div class="documents__record"><a href="#" class="document-link"><span>сертификат 3</span></a></div>
      <div class="documents__record"><a href="#" class="document-link"><span>сертификат 4</span></a></div>
    </div>    
  </div>
</div>
    </div>
  </div>
</section>

      </div>

      <footer>       
         









<link rel="stylesheet" href="css/block-css/rs-footer.css" />
<section class="rs-footer">

	<div class="rs-footer__container">
		<div class="rs-footer__wrapper">
			<div class="rs-footer__contacts js-hover-line">
				<h4 class="footer-title">контакты</h4>
				
<div class="footer-contacts">
	<span class="footer-hover-line"></span>
	<ul class="footer-contacts__list">
		<li><a href="tel:+78126421515">+7 812 642-15-15</a></li>
		<li><a href="mailto:info@itsenergy.pro">info@itsenergy.pro</a></li>
		<li><p>Пн-Пт: с 10:00 до 18:00</p></li>
		<li><a href="#">191123, г. Санкт-Петербург, <br>ул. Радищева, д. 39Д, офис 228</a></li>
	</ul>
</div>	

			</div>
			<div class="rs-footer__menu js-hover-line">
				<h4 class="footer-title">продукция</h4>
				
<nav class="footer-menu ">
  <span class="footer-hover-line"></span>
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Кабельно-проводниковая продукция</span></a></li>
    
    <li><a href="#"><span>Силовые трансформаторы</span></a></li>
    
    <li><a href="#"><span>Автотрансформаторы</span></a></li>
    
    <li><a href="#"><span>Арматура СИП</span></a></li>
    
    <li><a href="#"><span>Арматура ВЛ</span></a></li>
    
    <li><a href="#"><span>Опоры (ЖБ и деревянные)</span></a></li>
       
  </ul>
</nav>

			</div>
			<div class="rs-footer__menu js-hover-line">
				<h4 class="footer-title">меню</h4>
				
<nav class="footer-menu ">
  <span class="footer-hover-line"></span>
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Главная</span></a></li>
    
    <li><a href="#"><span>Услуги</span></a></li>
    
    <li><a href="#"><span>О компании</span></a></li>
    
    <li><a href="#"><span>Новости</span></a></li>
    
    <li><a href="#"><span>Контакты</span></a></li>
       
  </ul>
</nav>

			</div>
		</div>
	</div>

	<div class="rs-footer__copyright">
<div class="footer-copyright">
	<div class="footer-copyright__container">
		<a href="#" class="dev-link">Разработано в Россайт</a>
		<p>© ООО «ИТС» 2024. Все права защищены.</p>
		<a href="#top" class="scroll-top-btn" data-anchor>Вернуться в начало</a>
	</div>
</div>
</div>
		
</section>

      </footer>

      
        
      
      
    </div>
  </body>
</html>
