<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>ООО ИТС - Главная</title>

	<script src="js/jquery-2.1.3.min.js" defer></script>

	
	

	
	

	<script src="js/swiper-bundle.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css" />

	<script src="js/gsap/gsap.min.js" defer></script>
	<script src="js/gsap/ScrollTrigger.min.js" defer></script>
	<script src="js/gsap/CustomEase.min.js" defer></script>	
	<script src="js/gsap/ScrollToPlugin.min.js" defer></script>	
	
		
	<link rel="stylesheet" type="text/css" href="css/block-css/style.css" />
	<script src="js/app.js" defer></script>

</head>

  <body class="page-type-default">
    
    
      
      
    
    
    <div class="site-wrapper">      
      <div class="stripes">
	<div class="stripes__container">
    <div class="stripes__stripe"></div>
    <div class="stripes__stripe"></div>
    <div class="stripes__stripe"></div>
    <div class="stripes__stripe stripes__stripe_right"></div>
	</div>
</div>
      
      <header>
        <span class="menu-overlay" data-js-overlay></span>
        


<link rel="stylesheet" href="css/block-css/rs-header.css" />
<div class="rs-header">			
		<div class="rs-header__wrapper">

			<a href="#" class="rs-header__logo">
				<img src="img/logo.png" alt="">
			</a>
			
			<nav class="menu" data-spollers="1149.98, max">	
	
	<div class="menu-wrapper">
		<span class="nav-line"></span>
		<ul class="menu__list">			
			<li class="current-menu-item"><a href="#"><span>Главная</span></a></li>
			<li class="menu__dropdown ">
				<a href="#"><span>каталог</span></a>
				<button type="button" class="menu__dropdown-arrow" data-spoller></button>
				<ul class="menu__dropdown-list">
					<li><a href="#"><span>Кабельно-проводниковая продукция</span></a></li>
					<li><a href="#"><span>Силовые трансформаторы</span></a></li>
					<li class="menu__dropdown">
						<a href="#"><span>Автотрансформаторы</span></a>
						<button type="button" class="menu__dropdown-arrow" data-spoller></button>
						<ul class="menu__dropdown-list">
							<li><a href="#"><span>Кабельно-проводниковая продукция</span></a></li>
							<li><a href="#"><span>Силовые трансформаторы</span></a></li>
							<li><a href="#"><span>Автотрансформаторы</span></a></li>
							<li><a href="#"><span>Арматура СИП</span></a></li>
							<li><a href="#"><span>Арматура ВЛ</span></a></li>
							<li><a href="#"><span>Опоры (ЖБ и деревянные)</span></a></li>
						</ul>
					</li>
					<li><a href="#"><span>Арматура СИП</span></a></li>
					<li><a href="#"><span>Арматура ВЛ</span></a></li>
					<li><a href="#"><span>Опоры (ЖБ и деревянные)</span></a></li>
				</ul>
			</li>
			<li  ><a href="#"><span>услуги</span></a></li>
			<li ><a href="#"><span>О компании</span></a></li>
			<li><a href="#"><span>Новости</span></a></li>
			<li><a href="#"><span>контакты</span></a></li>
		</ul>
	</div>

	<div class="mobile-menu-contacts">
		<div class="menu-wrapper">
			<ul>
				<li><a href="tel:+78126421515">+7 812 642-15-15</a></li>
				<li><a href="mailto:info@itsenergy.pro">info@itsenergy.pro</a></li>
			</ul>
		</div>
	</div>


</nav>








			<ul class="header-contacts">
				<li><a href="tel:+78126421515">+7 812 642-15-15</a></li>
				<li><a href="mailto:info@itsenergy.pro">info@itsenergy.pro</a></li>
			</ul>


			<a href="#" class="btn-search"></a>
			<a href="#" class="btn-call"></a>
			
			<button class="menu-burger">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#09244b">
    <rect width="4.8" height="4.8"></rect>
    <rect y="19.2" width="4.8" height="4.8"></rect>
    <rect x="9.59998" y="9.6001" width="4.8" height="4.8"></rect>
    <rect x="19.2" width="4.8" height="4.8"></rect>
    <rect x="19.2" y="19.2" width="4.8" height="4.8"></rect>	    
    <rect y="9.6001" width="4.8" height="4.8"></rect>
    <rect x="9.59998" width="4.8" height="4.8"></rect>
    <rect x="9.59998" y="19.2" width="4.8" height="4.8"></rect>
    <rect x="19.2" y="9.6001" width="4.8" height="4.8"></rect>
  </svg>
</button>

		
		</div>
</div>
  
      </header>
      
      <div class="main">        
        
  <!-- rs-intro -->
  <link rel="stylesheet" href="css/block-css/rs-intro.css" />
<section class="rs-intro">	
	<div class="rs-intro__wrapper">
		 




<div class="intro">
	<div class="intro-content">
		<div class="intro-content__container">
			<div class="intro-content__wrapper">
				<div class="intro-content__head">
					<span>ИТС</span>
					<h1 data-split-text>Надёжное оборудование для энергетики</h1>
				</div>
				<div class="intro-content__text">
					<p>Гарантируем поставку высококачественной электротехнической продукции, которая поддержит работу ваших объектов на высшем уровне</p>
				</div>
			</div>
		</div>
	</div>
	<div class="intro-picture" data-parallax>
		<img src="img/intro.jpg" alt="" />
		<div class="intro-cover">
			<div class="intro-cover__container">
				<div class="intro-cover__link blank-right"><a href="#" class="btn-color btn-color_dark"><span>Перейти в каталог</span></a></div>
			</div>
		</div>
	</div>
</div>



















	</div>
</section>
  <!-- rs-catalog -->
  <link rel="stylesheet" href="css/block-css/rs-catalog.css" />
<section class="rs-catalog">
	<div class="rs-catalog__container">	
    <div class="rs-catalog__wrapper">
       







<div class="catalog">
  <div class="catalog__head" data-animate="fadeInUp">
    
<div class="section-title ">
	
	<span>Поставка</span>
	
	
	<h2>Каталог оборудования</h2>	
	
	
</div>

  </div>
  <div class="catalog__body">
    <div class="catalog__items" data-animate-stager="fadeInUp:0::300">
      
      <div class="catalog__item">
<article class="catalog-card">	
  <div class="catalog-card__photo">
    <img src="img/kt_1.jpg" alt="">
    <button type="button"></button>
  </div>
  <h5 class="catalog-card__title">Кабельно-проводниковая продукция</h5>	
	<a href="#">Кабельно-проводниковая продукция</a>
</article>
</div>
      
      <div class="catalog__item">
<article class="catalog-card">	
  <div class="catalog-card__photo">
    <img src="img/kt_2.jpg" alt="">
    <button type="button"></button>
  </div>
  <h5 class="catalog-card__title">Силовые трансформаторы</h5>	
	<a href="#">Силовые трансформаторы</a>
</article>
</div>
      
      <div class="catalog__item">
<article class="catalog-card">	
  <div class="catalog-card__photo">
    <img src="img/kt_3.jpg" alt="">
    <button type="button"></button>
  </div>
  <h5 class="catalog-card__title">Автотрансформаторы</h5>	
	<a href="#">Автотрансформаторы</a>
</article>
</div>
      
      <div class="catalog__item">
<article class="catalog-card">	
  <div class="catalog-card__photo">
    <img src="img/kt_4.jpg" alt="">
    <button type="button"></button>
  </div>
  <h5 class="catalog-card__title">Арматура СИП</h5>	
	<a href="#">Арматура СИП</a>
</article>
</div>
      
      <div class="catalog__item">
<article class="catalog-card">	
  <div class="catalog-card__photo">
    <img src="img/kt_5.jpg" alt="">
    <button type="button"></button>
  </div>
  <h5 class="catalog-card__title">Арматура ВЛ</h5>	
	<a href="#">Арматура ВЛ</a>
</article>
</div>
      
      <div class="catalog__item">
<article class="catalog-card">	
  <div class="catalog-card__photo">
    <img src="img/kt_6.jpg" alt="">
    <button type="button"></button>
  </div>
  <h5 class="catalog-card__title">Опоры (ЖБ и деревянные)</h5>	
	<a href="#">Опоры (ЖБ и деревянные)</a>
</article>
</div>
      
    </div>
  </div>
</div>

		</div>    
	</div>
</section>
  <!-- rs-goods -->
  <link rel="stylesheet" href="css/block-css/rs-goods.css" />
<section class="rs-goods">
	<div class="rs-goods__container">	
    <div class="rs-goods__wrapper">
      
 
















<div class="goods">
  <div class="goods__head" data-animate="fadeInUp">
    
<div class="section-title ">
	
	<span>Продукция</span>
	
	
	<h2>Новое поступление</h2>	
	
	
</div>

  </div>
  <div class="goods__body">
    <div class="goods__items" data-animate-stager="fadeInUp:0::300">
      
      <div class="goods__item">
<article class="goods-card">	
  <h5 class="goods-card__title">Трансформатор ТМГ 2500 10(6)/0,4 кВ</h5>	
  <div class="goods-card__photo">
    <img src="img/goods_1.png" alt="">    
  </div>
	
<a href="#" class="btn-color ">
	<span>Подробнее</span>
</a>

</article>
</div>
      
      <div class="goods__item">
<article class="goods-card">	
  <h5 class="goods-card__title">Трансформатор ТМГ 2500 10(6)/0,4 кВ</h5>	
  <div class="goods-card__photo">
    <img src="img/goods_1.png" alt="">    
  </div>
	
<a href="#" class="btn-color ">
	<span>Подробнее</span>
</a>

</article>
</div>
      
      <div class="goods__item">
<article class="goods-card">	
  <h5 class="goods-card__title">Трансформатор ТМГ 2500 10(6)/0,4 кВ</h5>	
  <div class="goods-card__photo">
    <img src="img/goods_1.png" alt="">    
  </div>
	
<a href="#" class="btn-color ">
	<span>Подробнее</span>
</a>

</article>
</div>
      
    </div>
  </div>
</div>




		</div>    
	</div>
</section>
  <!-- rs-about -->
  <link rel="stylesheet" href="css/block-css/rs-about.css" />
<section class="rs-about">
	<div class="rs-about__wrapper">
		
 



<div class="about">
  <div class="about__container">
    <div class="about__wrapper">
      <div class="about__head" data-animate="fadeInUp">
        
<div class="section-title section-title_small">
	
	<span>О компании</span>
	
	
	<h2>Информационно-технологические системы</h2>	
	
	
</div>

      </div>
      <div class="about__content base-content" data-animate="fadeInUp::300">
        <p><strong>Уважаемые коллеги и партнёры!</strong></p>
        <p>Рады представить вам компанию «ИТС», основанную в 2015 году. За годы своего существования мы достигли значительных успехов, став одним из ведущих игроков на рынке электротехнической продукции. Нашими ключевыми партнёрами являются крупнейшие энергетические компании России, такие как ПАО «Россети Ленэнерго» и ПАО «Федеральная сетевая компания Россети». Мы гордимся тем, что наша продукция и услуги способствуют поддержанию и развитию энергетической инфраструктуры страны.</p>
        <p>Компания «ИТС» специализируется на поставке высококачественного оборудования и материалов. Наши специалисты предоставляют клиентам профессиональные консультации и гарантируют надёжные решения в области электротехники. Мы активно участвуем в тендерах, что подтверждает нашу приверженность стратегии роста и расширения на рынке.</p>
        <blockquote>Наша миссия заключается в обеспечении надёжной и безопасной работы энергетических объектов России. Мы ценим профессионализм, ответственность и партнёрство, которые являются основой нашей работы.</blockquote>
      </div>
      <div class="about__btn" data-animate="fadeInUp::600">
<a href="#" class="btn-color btn-color_dark">
	<span>Подробнее о нас</span>
</a>
</div>
    </div>
  </div>
  <div class="about__picture" data-animate="fadeInUp::300">
    <img src="img/about.jpg" alt="">
  </div>
</div>





	</div> 
</section>
  <!-- rs-benefit -->
  <link rel="stylesheet" href="css/block-css/rs-benefit.css" />
<section class="rs-benefit">
  <div class="rs-benefit__container">
    <div class="rs-benefit__wrapper">
       
















<div class="benefit">
  <div class="benefit__wrapper">
    <div class="benefit__head" data-animate="fadeIn">
      
<div class="section-title ">
	
	<span>Наши преимущества</span>
	
	
	
</div>

    </div>
    <div class="benefit__items" data-animate-stager="fadeIn:350">
      
      <div class="benefit__item">
<div class="benefit-card">	
  <div class="benefit-card__num">01</div>
  <h4 class="benefit-card__title">Лучшая цена</h4>
  <p class="benefit-card__text">Предлагаем конкурентоспособные цены, гарантируя наилучшие условия на рынке электротехнической продукции</p>
</div>
</div>
      
      <div class="benefit__item">
<div class="benefit-card">	
  <div class="benefit-card__num">02</div>
  <h4 class="benefit-card__title">Быстрая доставка</h4>
  <p class="benefit-card__text">Обеспечиваем короткие сроки поставки, чтобы ваш проект не останавливался ни на минуту</p>
</div>
</div>
      
      <div class="benefit__item">
<div class="benefit-card">	
  <div class="benefit-card__num">03</div>
  <h4 class="benefit-card__title">Широкий выбор</h4>
  <p class="benefit-card__text">Сотрудничаем с множеством поставщиков, предоставляя разнообразные решения для любых ваших потребностей</p>
</div>
</div>
      
    </div>
  </div>
</div>
    </div>
  </div>
</section>
  <!-- rs-documents -->
  <link rel="stylesheet" href="css/block-css/rs-documents.css" />
<section class="rs-documents">
  <div class="rs-documents__container">
    <div class="rs-documents__wrapper">
       


<div class="documents">
  <div class="documents__head" data-animate="fadeInUp">
    
<div class="section-title section-title_light">
	
	<span>Документы</span>
	
	
	<h2>Сертификаты дилера</h2>	
	
	
</div>

  </div>
  <div class="documents__content" data-animate="fadeInUp::300">
    <div class="documents__table">
      <div class="documents__record"><a href="#" class="document-link"><span>сертификат 1</span></a></div>
      <div class="documents__record"><a href="#" class="document-link"><span>сертификат 2</span></a></div>
      <div class="documents__record"><a href="#" class="document-link"><span>сертификат 3</span></a></div>
      <div class="documents__record"><a href="#" class="document-link"><span>сертификат 2</span></a></div>
      <div class="documents__record"><a href="#" class="document-link"><span>сертификат 3</span></a></div>
      <div class="documents__record"><a href="#" class="document-link"><span>сертификат 4</span></a></div>
    </div>    
  </div>
</div>
    </div>
  </div>
</section>
  <!-- rs-services -->
  <link rel="stylesheet" href="css/block-css/rs-services.css" />
<section class="rs-services">
  <div class="rs-services__container">
    <div class="rs-services__wrapper">
       







<div class="services">
  <div class="services__head" data-animate="fadeInUp">
    
<div class="section-title section-title_small">
	
	<span>Услуги</span>
	
	
	<h2>обеспечение надёжной и безопасной работы энергетических объектов</h2>	
	
	
</div>

  </div>
  <div class="services__body">
    <div class="services__items" data-animate-stager="fadeInUp:0::300">
      
      <div class="services__item">
<article class="services-card">	
  <img src="img/services_1.jpg" alt="">
  <h5 class="services-card__title">Продажа электрооборудования</h5>	
  <button type="button"></button>
	<a href="#">Продажа электрооборудования</a>
</article>
</div>
      
      <div class="services__item">
<article class="services-card">	
  <img src="img/services_2.jpg" alt="">
  <h5 class="services-card__title">Доставка электрооборудования заказчику</h5>	
  <button type="button"></button>
	<a href="#">Доставка электрооборудования заказчику</a>
</article>
</div>
      
      <div class="services__item">
<article class="services-card">	
  <img src="img/services_3.jpg" alt="">
  <h5 class="services-card__title">Монтаж и шефнадзор</h5>	
  <button type="button"></button>
	<a href="#">Монтаж и шефнадзор</a>
</article>
</div>
      
    </div>
  </div>
</div>

    </div>
  </div>
</section>
  <!-- rs-banner -->
  <link rel="stylesheet" href="css/block-css/rs-banner.css" />
<section class="rs-banner">
  <div class="rs-banner__container">
    <div class="rs-banner__wrapper">
       

<div class="banner" data-animate="fadeIn">
  <div class="banner__wrapper" data-parallax>
    <img src="img/banner.jpg" alt="">
  </div>
  <div class="banner__btn">
<a href="#" class="btn-color btn-color_dark">
	<span>связаться с нами</span>
</a>
</div>
</div>
    </div>
  </div>
</section>
  <!-- rs-news -->
  <link rel="stylesheet" href="css/block-css/rs-news.css" />
<section class="rs-news">
	<div class="rs-news__container">	
    <div class="rs-news__wrapper">
       







<div class="news">
  <div class="news__head" data-animate="fadeInUp">
    
<div class="section-title ">
	
	<span>ИТС</span>
	
	
	<h2>Новости компании</h2>	
	
	
</div>

  </div>
  <div class="news__body">
    <div class="news__items" data-animate-stager="fadeInUp:0::300">
      
      <div class="news__item">
<article class="news-card">	
  <div class="news-card__photo">
    <img src="img/news.jpg" alt="">
    <button type="button"></button>
  </div>
  <div class="news-card__date">27.09.2024</div>
  <h5 class="news-card__title">Сотрудники «ИТС» посетили крупнейшую энергетическую выставку</h5>	
	<a href="#">Сотрудники «ИТС» посетили крупнейшую энергетическую выставку</a>
</article>
</div>
      
      <div class="news__item">
<article class="news-card">	
  <div class="news-card__photo">
    <img src="img/news.jpg" alt="">
    <button type="button"></button>
  </div>
  <div class="news-card__date">27.09.2024</div>
  <h5 class="news-card__title">Сотрудники «ИТС» посетили крупнейшую энергетическую выставку</h5>	
	<a href="#">Сотрудники «ИТС» посетили крупнейшую энергетическую выставку</a>
</article>
</div>
      
      <div class="news__item">
<article class="news-card">	
  <div class="news-card__photo">
    <img src="img/news.jpg" alt="">
    <button type="button"></button>
  </div>
  <div class="news-card__date">27.09.2024</div>
  <h5 class="news-card__title">Сотрудники «ИТС» посетили крупнейшую энергетическую выставку</h5>	
	<a href="#">Сотрудники «ИТС» посетили крупнейшую энергетическую выставку</a>
</article>
</div>
      
    </div>
  </div>
</div>

		</div>    
	</div>
</section>

      </div>

      <footer>       
         









<link rel="stylesheet" href="css/block-css/rs-footer.css" />
<section class="rs-footer">

	<div class="rs-footer__container">
		<div class="rs-footer__wrapper">
			<div class="rs-footer__contacts js-hover-line">
				<h4 class="footer-title">контакты</h4>
				
<div class="footer-contacts">
	<span class="footer-hover-line"></span>
	<ul class="footer-contacts__list">
		<li><a href="tel:+78126421515">+7 812 642-15-15</a></li>
		<li><a href="mailto:info@itsenergy.pro">info@itsenergy.pro</a></li>
		<li><p>Пн-Пт: с 10:00 до 18:00</p></li>
		<li><a href="#">191123, г. Санкт-Петербург, <br>ул. Радищева, д. 39Д, офис 228</a></li>
	</ul>
</div>	

			</div>
			<div class="rs-footer__menu js-hover-line">
				<h4 class="footer-title">продукция</h4>
				
<nav class="footer-menu ">
  <span class="footer-hover-line"></span>
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Кабельно-проводниковая продукция</span></a></li>
    
    <li><a href="#"><span>Силовые трансформаторы</span></a></li>
    
    <li><a href="#"><span>Автотрансформаторы</span></a></li>
    
    <li><a href="#"><span>Арматура СИП</span></a></li>
    
    <li><a href="#"><span>Арматура ВЛ</span></a></li>
    
    <li><a href="#"><span>Опоры (ЖБ и деревянные)</span></a></li>
       
  </ul>
</nav>

			</div>
			<div class="rs-footer__menu js-hover-line">
				<h4 class="footer-title">меню</h4>
				
<nav class="footer-menu ">
  <span class="footer-hover-line"></span>
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Главная</span></a></li>
    
    <li><a href="#"><span>Услуги</span></a></li>
    
    <li><a href="#"><span>О компании</span></a></li>
    
    <li><a href="#"><span>Новости</span></a></li>
    
    <li><a href="#"><span>Контакты</span></a></li>
       
  </ul>
</nav>

			</div>
		</div>
	</div>

	<div class="rs-footer__copyright">
<div class="footer-copyright">
	<div class="footer-copyright__container">
		<a href="#" class="dev-link">Разработано в Россайт</a>
		<p>© ООО «ИТС» 2024. Все права защищены.</p>
		<a href="#top" class="scroll-top-btn" data-anchor>Вернуться в начало</a>
	</div>
</div>
</div>
		
</section>

      </footer>

      
        
      
      
    </div>
  </body>
</html>
