<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>ООО ИТС - Кабельно-проводниковая продукция</title>

	<script src="js/jquery-2.1.3.min.js" defer></script>

	
	

	
	

	<script src="js/swiper-bundle.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css" />

	<script src="js/gsap/gsap.min.js" defer></script>
	<script src="js/gsap/ScrollTrigger.min.js" defer></script>
	<script src="js/gsap/CustomEase.min.js" defer></script>	
	<script src="js/gsap/ScrollToPlugin.min.js" defer></script>	
	
		
	<link rel="stylesheet" type="text/css" href="css/block-css/style.css" />
	<script src="js/app.js" defer></script>

</head>

  <body class="page-type-default">
    
    
      
      
    
    
    <div class="site-wrapper">      
      <div class="stripes">
	<div class="stripes__container">
    <div class="stripes__stripe"></div>
    <div class="stripes__stripe"></div>
    <div class="stripes__stripe"></div>
    <div class="stripes__stripe stripes__stripe_right"></div>
	</div>
</div>
      
      <header>
        <span class="menu-overlay" data-js-overlay></span>
        


<link rel="stylesheet" href="css/block-css/rs-header.css" />
<div class="rs-header">			
		<div class="rs-header__wrapper">

			<a href="#" class="rs-header__logo">
				<img src="img/logo.png" alt="">
			</a>
			
			<nav class="menu" data-spollers="1149.98, max">	
	
	<div class="menu-wrapper">
		<span class="nav-line"></span>
		<ul class="menu__list">			
			<li ><a href="#"><span>Главная</span></a></li>
			<li class="menu__dropdown current-menu-item">
				<a href="#"><span>каталог</span></a>
				<button type="button" class="menu__dropdown-arrow" data-spoller></button>
				<ul class="menu__dropdown-list">
					<li><a href="#"><span>Кабельно-проводниковая продукция</span></a></li>
					<li><a href="#"><span>Силовые трансформаторы</span></a></li>
					<li class="menu__dropdown">
						<a href="#"><span>Автотрансформаторы</span></a>
						<button type="button" class="menu__dropdown-arrow" data-spoller></button>
						<ul class="menu__dropdown-list">
							<li><a href="#"><span>Кабельно-проводниковая продукция</span></a></li>
							<li><a href="#"><span>Силовые трансформаторы</span></a></li>
							<li><a href="#"><span>Автотрансформаторы</span></a></li>
							<li><a href="#"><span>Арматура СИП</span></a></li>
							<li><a href="#"><span>Арматура ВЛ</span></a></li>
							<li><a href="#"><span>Опоры (ЖБ и деревянные)</span></a></li>
						</ul>
					</li>
					<li><a href="#"><span>Арматура СИП</span></a></li>
					<li><a href="#"><span>Арматура ВЛ</span></a></li>
					<li><a href="#"><span>Опоры (ЖБ и деревянные)</span></a></li>
				</ul>
			</li>
			<li  ><a href="#"><span>услуги</span></a></li>
			<li ><a href="#"><span>О компании</span></a></li>
			<li><a href="#"><span>Новости</span></a></li>
			<li><a href="#"><span>контакты</span></a></li>
		</ul>
	</div>

	<div class="mobile-menu-contacts">
		<div class="menu-wrapper">
			<ul>
				<li><a href="tel:+78126421515">+7 812 642-15-15</a></li>
				<li><a href="mailto:info@itsenergy.pro">info@itsenergy.pro</a></li>
			</ul>
		</div>
	</div>


</nav>








			<ul class="header-contacts">
				<li><a href="tel:+78126421515">+7 812 642-15-15</a></li>
				<li><a href="mailto:info@itsenergy.pro">info@itsenergy.pro</a></li>
			</ul>


			<a href="#" class="btn-search"></a>
			<a href="#" class="btn-call"></a>
			
			<button class="menu-burger">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#09244b">
    <rect width="4.8" height="4.8"></rect>
    <rect y="19.2" width="4.8" height="4.8"></rect>
    <rect x="9.59998" y="9.6001" width="4.8" height="4.8"></rect>
    <rect x="19.2" width="4.8" height="4.8"></rect>
    <rect x="19.2" y="19.2" width="4.8" height="4.8"></rect>	    
    <rect y="9.6001" width="4.8" height="4.8"></rect>
    <rect x="9.59998" width="4.8" height="4.8"></rect>
    <rect x="9.59998" y="19.2" width="4.8" height="4.8"></rect>
    <rect x="19.2" y="9.6001" width="4.8" height="4.8"></rect>
  </svg>
</button>

		
		</div>
</div>
  
      </header>
      
      <div class="main">        
        
  <!-- rs-intro -->
  <link rel="stylesheet" href="css/block-css/rs-intro.css" />
<section class="rs-intro">	
	<div class="rs-intro__wrapper">
		 








<div class="intro">
	<div class="intro-content">
		<div class="intro-content__container">
			<div class="intro-content__wrapper">
				<div class="intro-content__head">
					
  <div class="breadcrumbs " data-hidescroll>    
    
      <span><a href="#">Главная</a></span>
      <span class="sep">
        <svg width="5" height="13" viewBox="0 0 5 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.31936 0.272949H4.61162L1.30494 12.7271H0L3.31936 0.272949Z" fill="#0036D6" />
        </svg>
      </span>
    
      <span><a href="#">Каталог</a></span>
      <span class="sep">
        <svg width="5" height="13" viewBox="0 0 5 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.31936 0.272949H4.61162L1.30494 12.7271H0L3.31936 0.272949Z" fill="#0036D6" />
        </svg>
      </span>
        
    <span class="current">Кабельно-проводниковая продукция</span>    
  </div>

					<h1>Кабельно-проводниковая продукция</h1>
				</div>				
			</div>
		</div>
	</div>
	<div class="intro-picture" data-parallax>
		<img src="img/intro_1.jpg" alt="" />
		<div class="intro-cover">
			<div class="intro-cover__container">
				<div class="intro-cover__link blank-right"><a href="#" class="btn-color btn-color_dark"><span>Связаться с нами</span></a></div>
			</div>
		</div>
	</div>
</div>















	</div>
</section>
  <!-- rs-goods -->
  <link rel="stylesheet" href="css/block-css/rs-goods.css" />
<section class="rs-goods">
	<div class="rs-goods__container">	
    <div class="rs-goods__wrapper">
      
 



















<div class="goods">
  <div class="goods__head" data-animate="fadeInUp">
    
<div class="section-title section-title_mini">
	
	<span>О продукции</span>
	
	
	<h2>поставка высококачественных материалов</h2>	
	
	
</div>

    <p>Представленный на сайте ассортимент — это лишь малая часть того, что мы можем предложить. Готовы быстро найти и доставить любую продукцию под ваш запрос. Если вам нужен специфический товар, которого нет на сайте, оперативно подберём его, используя наш опыт и связи с проверенными поставщиками.</p>
    <p>Мы гордимся тем, что можем предложить индивидуальные решения для каждого клиента, независимо от сложности запроса.</p>
  </div>
  <div class="goods__body">
    <div class="goods__items" data-animate-stager="fadeInUp:0::300">
      
      <div class="goods__item">
<article class="goods-card">	
  <h5 class="goods-card__title">Силовой кабель 0,66–3 кВ</h5>	
  <div class="goods-card__photo">
    <img src="img/goods_2.png" alt="">    
  </div>
	
<a href="#" class="btn-color ">
	<span>Запросить цену</span>
</a>

</article>
</div>
      
      <div class="goods__item">
<article class="goods-card">	
  <h5 class="goods-card__title">Силовой кабель 6–35 кВ</h5>	
  <div class="goods-card__photo">
    <img src="img/goods_3.png" alt="">    
  </div>
	
<a href="#" class="btn-color ">
	<span>Запросить цену</span>
</a>

</article>
</div>
      
      <div class="goods__item">
<article class="goods-card">	
  <h5 class="goods-card__title">Силовой кабель 64/110 кВ</h5>	
  <div class="goods-card__photo">
    <img src="img/goods_4.png" alt="">    
  </div>
	
<a href="#" class="btn-color ">
	<span>Запросить цену</span>
</a>

</article>
</div>
      
      <div class="goods__item">
<article class="goods-card">	
  <h5 class="goods-card__title">Кабели и провода гибкие</h5>	
  <div class="goods-card__photo">
    <img src="img/goods_5.png" alt="">    
  </div>
	
<a href="#" class="btn-color ">
	<span>Запросить цену</span>
</a>

</article>
</div>
      
      <div class="goods__item">
<article class="goods-card">	
  <h5 class="goods-card__title">Самонесущий изолированный провод</h5>	
  <div class="goods-card__photo">
    <img src="img/goods_6.png" alt="">    
  </div>
	
<a href="#" class="btn-color ">
	<span>Запросить цену</span>
</a>

</article>
</div>
      
      <div class="goods__item">
<article class="goods-card">	
  <h5 class="goods-card__title">Грозозащитный трос коррозионностойкий</h5>	
  <div class="goods-card__photo">
    <img src="img/goods_7.png" alt="">    
  </div>
	
<a href="#" class="btn-color ">
	<span>Запросить цену</span>
</a>

</article>
</div>
      
      <div class="goods__item">
<article class="goods-card">	
  <h5 class="goods-card__title">Неизолированный провод</h5>	
  <div class="goods-card__photo">
    <img src="img/goods_8.png" alt="">    
  </div>
	
<a href="#" class="btn-color ">
	<span>Запросить цену</span>
</a>

</article>
</div>
      
      <div class="goods__item">
<article class="goods-card">	
  <h5 class="goods-card__title">Технологическая продукция</h5>	
  <div class="goods-card__photo">
    <img src="img/goods_9.png" alt="">    
  </div>
	
<a href="#" class="btn-color ">
	<span>Запросить цену</span>
</a>

</article>
</div>
      
    </div>
  </div>
</div>

		</div>    
	</div>
</section>

      </div>

      <footer>       
         









<link rel="stylesheet" href="css/block-css/rs-footer.css" />
<section class="rs-footer">

	<div class="rs-footer__container">
		<div class="rs-footer__wrapper">
			<div class="rs-footer__contacts js-hover-line">
				<h4 class="footer-title">контакты</h4>
				
<div class="footer-contacts">
	<span class="footer-hover-line"></span>
	<ul class="footer-contacts__list">
		<li><a href="tel:+78126421515">+7 812 642-15-15</a></li>
		<li><a href="mailto:info@itsenergy.pro">info@itsenergy.pro</a></li>
		<li><p>Пн-Пт: с 10:00 до 18:00</p></li>
		<li><a href="#">191123, г. Санкт-Петербург, <br>ул. Радищева, д. 39Д, офис 228</a></li>
	</ul>
</div>	

			</div>
			<div class="rs-footer__menu js-hover-line">
				<h4 class="footer-title">продукция</h4>
				
<nav class="footer-menu ">
  <span class="footer-hover-line"></span>
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Кабельно-проводниковая продукция</span></a></li>
    
    <li><a href="#"><span>Силовые трансформаторы</span></a></li>
    
    <li><a href="#"><span>Автотрансформаторы</span></a></li>
    
    <li><a href="#"><span>Арматура СИП</span></a></li>
    
    <li><a href="#"><span>Арматура ВЛ</span></a></li>
    
    <li><a href="#"><span>Опоры (ЖБ и деревянные)</span></a></li>
       
  </ul>
</nav>

			</div>
			<div class="rs-footer__menu js-hover-line">
				<h4 class="footer-title">меню</h4>
				
<nav class="footer-menu ">
  <span class="footer-hover-line"></span>
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Главная</span></a></li>
    
    <li><a href="#"><span>Услуги</span></a></li>
    
    <li><a href="#"><span>О компании</span></a></li>
    
    <li><a href="#"><span>Новости</span></a></li>
    
    <li><a href="#"><span>Контакты</span></a></li>
       
  </ul>
</nav>

			</div>
		</div>
	</div>

	<div class="rs-footer__copyright">
<div class="footer-copyright">
	<div class="footer-copyright__container">
		<a href="#" class="dev-link">Разработано в Россайт</a>
		<p>© ООО «ИТС» 2024. Все права защищены.</p>
		<a href="#top" class="scroll-top-btn" data-anchor>Вернуться в начало</a>
	</div>
</div>
</div>
		
</section>

      </footer>

      
        
      
      
    </div>
  </body>
</html>
