<!DOCTYPE html>
<html lang="ru">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>ООО ИТС - Монтаж и шефнадзор</title>

	<script src="js/jquery-2.1.3.min.js" defer></script>

	
	

	
	

	<script src="js/swiper-bundle.min.js" defer></script>
	<link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css" />

	<script src="js/gsap/gsap.min.js" defer></script>
	<script src="js/gsap/ScrollTrigger.min.js" defer></script>
	<script src="js/gsap/CustomEase.min.js" defer></script>	
	<script src="js/gsap/ScrollToPlugin.min.js" defer></script>	
	
		
	<link rel="stylesheet" type="text/css" href="css/block-css/style.css" />
	<script src="js/app.js" defer></script>

</head>

  <body class="page-type-default">
    
    
      
      
    
    
    <div class="site-wrapper">      
      <div class="stripes">
	<div class="stripes__container">
    <div class="stripes__stripe"></div>
    <div class="stripes__stripe"></div>
    <div class="stripes__stripe"></div>
    <div class="stripes__stripe stripes__stripe_right"></div>
	</div>
</div>
      
      <header>
        <span class="menu-overlay" data-js-overlay></span>
        


<link rel="stylesheet" href="css/block-css/rs-header.css" />
<div class="rs-header">			
		<div class="rs-header__wrapper">

			<a href="#" class="rs-header__logo">
				<img src="img/logo.png" alt="">
			</a>
			
			<nav class="menu" data-spollers="1149.98, max">	
	
	<div class="menu-wrapper">
		<span class="nav-line"></span>
		<ul class="menu__list">			
			<li ><a href="#"><span>Главная</span></a></li>
			<li class="menu__dropdown ">
				<a href="#"><span>каталог</span></a>
				<button type="button" class="menu__dropdown-arrow" data-spoller></button>
				<ul class="menu__dropdown-list">
					<li><a href="#"><span>Кабельно-проводниковая продукция</span></a></li>
					<li><a href="#"><span>Силовые трансформаторы</span></a></li>
					<li class="menu__dropdown">
						<a href="#"><span>Автотрансформаторы</span></a>
						<button type="button" class="menu__dropdown-arrow" data-spoller></button>
						<ul class="menu__dropdown-list">
							<li><a href="#"><span>Кабельно-проводниковая продукция</span></a></li>
							<li><a href="#"><span>Силовые трансформаторы</span></a></li>
							<li><a href="#"><span>Автотрансформаторы</span></a></li>
							<li><a href="#"><span>Арматура СИП</span></a></li>
							<li><a href="#"><span>Арматура ВЛ</span></a></li>
							<li><a href="#"><span>Опоры (ЖБ и деревянные)</span></a></li>
						</ul>
					</li>
					<li><a href="#"><span>Арматура СИП</span></a></li>
					<li><a href="#"><span>Арматура ВЛ</span></a></li>
					<li><a href="#"><span>Опоры (ЖБ и деревянные)</span></a></li>
				</ul>
			</li>
			<li  class="current-menu-item"><a href="#"><span>услуги</span></a></li>
			<li ><a href="#"><span>О компании</span></a></li>
			<li><a href="#"><span>Новости</span></a></li>
			<li><a href="#"><span>контакты</span></a></li>
		</ul>
	</div>

	<div class="mobile-menu-contacts">
		<div class="menu-wrapper">
			<ul>
				<li><a href="tel:+78126421515">+7 812 642-15-15</a></li>
				<li><a href="mailto:info@itsenergy.pro">info@itsenergy.pro</a></li>
			</ul>
		</div>
	</div>


</nav>








			<ul class="header-contacts">
				<li><a href="tel:+78126421515">+7 812 642-15-15</a></li>
				<li><a href="mailto:info@itsenergy.pro">info@itsenergy.pro</a></li>
			</ul>


			<a href="#" class="btn-search"></a>
			<a href="#" class="btn-call"></a>
			
			<button class="menu-burger">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#09244b">
    <rect width="4.8" height="4.8"></rect>
    <rect y="19.2" width="4.8" height="4.8"></rect>
    <rect x="9.59998" y="9.6001" width="4.8" height="4.8"></rect>
    <rect x="19.2" width="4.8" height="4.8"></rect>
    <rect x="19.2" y="19.2" width="4.8" height="4.8"></rect>	    
    <rect y="9.6001" width="4.8" height="4.8"></rect>
    <rect x="9.59998" width="4.8" height="4.8"></rect>
    <rect x="9.59998" y="19.2" width="4.8" height="4.8"></rect>
    <rect x="19.2" y="9.6001" width="4.8" height="4.8"></rect>
  </svg>
</button>

		
		</div>
</div>
  
      </header>
      
      <div class="main">        
        
  <!-- rs-intro -->
  <link rel="stylesheet" href="css/block-css/rs-intro.css" />
<section class="rs-intro">	
	<div class="rs-intro__wrapper">
		 



















<div class="intro">
	<div class="intro-content intro-content_wide">
		<div class="intro-content__container">
			<div class="intro-content__wrapper">
				<div class="intro-content__head">
					
  <div class="breadcrumbs " data-hidescroll>    
    
      <span><a href="#">Главная</a></span>
      <span class="sep">
        <svg width="5" height="13" viewBox="0 0 5 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.31936 0.272949H4.61162L1.30494 12.7271H0L3.31936 0.272949Z" fill="#0036D6" />
        </svg>
      </span>
    
      <span><a href="#">Услуги</a></span>
      <span class="sep">
        <svg width="5" height="13" viewBox="0 0 5 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.31936 0.272949H4.61162L1.30494 12.7271H0L3.31936 0.272949Z" fill="#0036D6" />
        </svg>
      </span>
        
    <span class="current">Монтаж и шефнадзор</span>    
  </div>

					<h1 data-split-text>Монтаж и шефнадзор</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="intro-picture" data-parallax>
		<img src="img/intro_3.jpg" alt="" />
		<div class="intro-cover">
			<div class="intro-cover__container">
				<div class="intro-cover__link blank-right"><a href="#" class="btn-color btn-color_dark"><span>Связаться с нами</span></a></div>
			</div>
		</div>
	</div>
</div>




	</div>
</section>
  <!-- rs-single-service -->
  <link rel="stylesheet" href="css/block-css/rs-single-service.css" />
<section class="rs-single-service">
	<div class="rs-single-service__container">
		<div class="rs-single-service__wrapper">
			
 






<div class="single-service">
	<div class="single-service__wrapper">
		<div class="single-service__head" data-animate="fadeInUp">
			
<div class="section-title section-title_small">
	
	<span>О компании</span>
	
	
	<h2>Информационно-технологические системы</h2>	
	
	
</div>

		</div>
		<div class="single-service__content base-content" data-animate="fadeInUp::300">
			<p>При поставке сложного технологического оборудования наша компания предлагает услуги шефмонтажа. Это значит, что установка оборудования выполняется на площадке заказчика под руководством нашего представителя. Гарантируем качественное выполнение работ, что обеспечивает надёжную эксплуатацию поставленного оборудования.</p>
			<p>По запросу заказчика наши квалифицированные специалисты могут выполнить не только шефмонтаж, но и наладку оборудования, поставленного как нашей компанией, так и сторонними поставщиками. Мы понимаем, что простой производственных линий, например, в бумажной или картонной промышленности, может стоить заказчику миллионы рублей упущенной прибыли, поэтому выполняем все работы максимально быстро и с соблюдением всех сроков.</p>
			<p>Опыт наших специалистов, использование профессионального инструмента и строгое соблюдение технологических стандартов монтажа и наладки позволяют гарантировать долговечность и бесперебойную работу оборудования. Также предоставляем сервисное обслуживание, включая параметрические замеры, с последующей выдачей технического заключения и рекомендаций по дальнейшему обслуживанию. Это помогает нашим клиентам избегать простоев и поддерживать оборудование на высоком уровне эксплуатационной готовности.</p>	
		</div>
    <div class="single-service__picture" data-animate="fadeInUp::300">
      <img src="img/single-service_2.jpg" alt="" />
    </div>
    <div class="single-service__btn" data-animate="fadeInUp::600">
      
<a href="#" class="btn-color btn-color_dark">
	<span>Получить консультацию</span>
</a>

    </div>
	</div>
</div>

		</div>
	</div> 
</section>

      </div>

      <footer>       
         









<link rel="stylesheet" href="css/block-css/rs-footer.css" />
<section class="rs-footer">

	<div class="rs-footer__container">
		<div class="rs-footer__wrapper">
			<div class="rs-footer__contacts js-hover-line">
				<h4 class="footer-title">контакты</h4>
				
<div class="footer-contacts">
	<span class="footer-hover-line"></span>
	<ul class="footer-contacts__list">
		<li><a href="tel:+78126421515">+7 812 642-15-15</a></li>
		<li><a href="mailto:info@itsenergy.pro">info@itsenergy.pro</a></li>
		<li><p>Пн-Пт: с 10:00 до 18:00</p></li>
		<li><a href="#">191123, г. Санкт-Петербург, <br>ул. Радищева, д. 39Д, офис 228</a></li>
	</ul>
</div>	

			</div>
			<div class="rs-footer__menu js-hover-line">
				<h4 class="footer-title">продукция</h4>
				
<nav class="footer-menu ">
  <span class="footer-hover-line"></span>
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Кабельно-проводниковая продукция</span></a></li>
    
    <li><a href="#"><span>Силовые трансформаторы</span></a></li>
    
    <li><a href="#"><span>Автотрансформаторы</span></a></li>
    
    <li><a href="#"><span>Арматура СИП</span></a></li>
    
    <li><a href="#"><span>Арматура ВЛ</span></a></li>
    
    <li><a href="#"><span>Опоры (ЖБ и деревянные)</span></a></li>
       
  </ul>
</nav>

			</div>
			<div class="rs-footer__menu js-hover-line">
				<h4 class="footer-title">меню</h4>
				
<nav class="footer-menu ">
  <span class="footer-hover-line"></span>
  <ul class="footer-menu__list">
    
    <li><a href="#"><span>Главная</span></a></li>
    
    <li><a href="#"><span>Услуги</span></a></li>
    
    <li><a href="#"><span>О компании</span></a></li>
    
    <li><a href="#"><span>Новости</span></a></li>
    
    <li><a href="#"><span>Контакты</span></a></li>
       
  </ul>
</nav>

			</div>
		</div>
	</div>

	<div class="rs-footer__copyright">
<div class="footer-copyright">
	<div class="footer-copyright__container">
		<a href="#" class="dev-link">Разработано в Россайт</a>
		<p>© ООО «ИТС» 2024. Все права защищены.</p>
		<a href="#top" class="scroll-top-btn" data-anchor>Вернуться в начало</a>
	</div>
</div>
</div>
		
</section>

      </footer>

      
        
      
      
    </div>
  </body>
</html>
