.rs-17 .rs-call {
    position: relative;
    z-index: 2;
}

.rs-17 .rs-call .call-row {
    padding: 29px 43px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: url("../../img/form_background.jpg") 0 0/cover no-repeat;
}

.rs-17 .rs-call .call-button {
    margin-left: 185px;
}

.rs-17 .rs-call .call-content {
    color: #ffffff;
}

.rs-17 .rs-call .call-content h4 {
    font-size: 29px;
    line-height: 1.2;
    font-weight: 600;
}

.rs-17 .rs-call .call-content p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}

@media (max-width: 1170px) {
    .rs-17 .rs-call .call-button {
        margin-left: calc(20px + 165 * ((100vw - 320px) / 850));
    }
}

@media (max-width: 991.98px) {
    .rs-17 .rs-call .call-row {
        display: block;
        text-align: center;
    }

    .rs-17 .rs-call .call-button {
        margin-left: 0;
    }

    .rs-17 .rs-call .call-content {
        margin-bottom: 30px;
    }

    .rs-17 .rs-call .btn-color {
        font-size: 11px;
    }
}

@media (max-width: 767.98px) {
    .rs-17 .rs-call .call-row {
        padding-left: 15px;
        padding-right: 15px;
    }
}