.rs-services {
    background: #151e22;
}

.services-slider {
    position: relative;
}

.services-slider__wrapper {
    position: relative;
}

.services-slider__slide {
    height: 100%;
    position: relative;
    padding: 90px 170px;
}

.services-slider__slide img {
    width: 100%;
}

.services-slider__slide-content {
    max-width: 764px;
    position: relative;
    z-index: 3;
    color: rgba(255, 255, 255, 0.7);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.48px;
}

.services-slider__slide-content p {
    margin-bottom: 10px;
}

.services-slider__slide-content h3 {
    color: #fff;
    font-family: Russo One;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.35px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.services-slider__slide-content .buttons {
    margin-top: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 32px;
}

.services-slider__slide-content .download-link {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
}

.services-slider__nav {
    position: absolute;
    z-index: 5;
    bottom: 76px !important;
    left: 170px !important;
}

.services-slider__counter {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
}

.services-slider__paging {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.services-slider__paging .swiper-pagination-bullet {
    width: 33px;
    height: 3px;
    background: #ffffff;
    opacity: 0.5;
    transition: 0.3s;
    border-radius: 0;
}

.services-slider__paging .swiper-pagination-bullet:not(:last-child) {
    margin-right: 8px;
}

.services-slider__paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    width: 100px;
}

@media (min-width: 991.98px) {
    .rs-services__container {
        padding-bottom: 400px;
        padding-top: 50px;
    }

    .rs-services__wrapper {
        height: 100vh;
    }

    .services-slider__wrapper {
        margin-left: 293px;
        width: 700px;
        height: 300px;
    }

    .services-slider__slider {
        height: 100%;
        overflow: visible;
    }

    .services-slider__swiper {
        height: 100%;
    }

    .services-slider__slide img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center bottom;
        object-position: center bottom;
    }

    .services-slider__nav,
  .services-slider__arrows,
  .services-slider__slide-content {
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    .show .services-slider__nav,
  .show .services-slider__arrows,
  .show .services-slider__slide-content {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 991.98px) {
    .services-slider__swiper {
        display: grid;
    }

    .services-slider__slide {
        padding: 40px 15px 0px 15px;
    }

    .services-slider__slide-content {
        max-width: none;
    }

    .services-slider__slide-content {
        font-size: 14px;
    }

    .services-slider__slide-content p {
        margin-bottom: 3px;
    }

    .services-slider__slide-content h3 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .services-slider__slide-content .buttons {
        gap: 15px;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .services-slider__nav {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .services-slider__slide-content {
        margin-bottom: -50px;
    }
}

@media (max-width: 479.98px) {
    .services-slider__slide-content h3 {
        font-size: 18px;
    }
}