.rs-about {
    position: relative;
    z-index: 2;
}

.rs-about__wrapper {
    display: grid;
    grid-template-columns: 55% 1fr;
}

.rs-about__content {
    border-radius: 0px 15px 15px 15px;
    background: #38aee4;
    padding-left: 15px;
    padding-top: 120px;
    padding-bottom: 30px;
    padding-right: 177px;
}

.rs-about__content > span {
    color: #fff;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    display: block;
    margin-bottom: 16px;
}

.rs-about__content h3 {
    color: #fff;
    font-family: "TT Travels Next";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 121%;
    margin-bottom: 16px;
}

.rs-about__content p,
.rs-about__content ul,
.rs-about__content blockquote {
    color: #fff;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    margin-bottom: 20px;
}

.rs-about__content ul {
    padding-left: 35px;
}

.rs-about__content ul li {
    list-style: disc;
}

.rs-about__content ul li:not(:last-child) {
    margin-bottom: 10px;
}

.rs-about__content blockquote {
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
}

.rs-about__content blockquote a {
    text-decoration: underline;
}

.rs-about__content .btn-color {
    margin-right: 28px;
}

.rs-about__picture {
    margin-top: 96px;
    margin-bottom: -96px;
    margin-left: -95px;
}

.rs-about__holder-picture {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.rs-about__holder-picture img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

@media (min-width: 991.98px) {
    .rs-about__content {
        min-height: 780px;
    }
}

@media (min-width: 1555px) {
    .rs-about__content {
        padding-left: calc((100vw - 1525px) / 2);
    }
}

@media (min-width: 1920px) {
    .rs-about__holder-picture {
        height: 744px;
    }
}

@media (max-width: 1555px) {
    .rs-about__content {
        padding-top: 35px;
        padding-bottom: 35px;
        padding-right: 70px;
    }

    .rs-about__content h3 {
        font-size: 26px;
    }

    .rs-about__picture {
        margin-left: -30px;
    }
}

@media (max-width: 991.98px) {
    .rs-about__wrapper {
        grid-template-columns: 1fr;
    }

    .rs-about__content {
        border-radius: 0;
        padding: 35px 25px;
    }

    .rs-about__content h3 {
        font-size: 21px;
        margin-bottom: 8px;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    .rs-about__content p,
  .rs-about__content ul,
  .rs-about__content blockquote {
        font-size: 13px;
        margin-bottom: 16px;
    }

    .rs-about__picture {
        margin: 0;
    }

    .rs-about__holder-picture {
        padding-bottom: 0;
        border-radius: 0;
    }
}

@media (max-width: 767.98px) {
    .rs-about__content > span {
        font-size: 13px;
        margin-bottom: 8px;
    }

    .rs-about__content .btn-color {
        margin-bottom: 28px;
    }
}

@media (max-width: 375px) {
    .rs-about__holder-picture {
        height: 300px;
    }
}

@media (min-width: 375px) and (max-width: 1920px) {
    .rs-about__holder-picture {
        height: clamp( 300px , 192.2330097087px  +  28.7378640777vw , 744px );
    }
}