.rs-about {
    position: relative;
    z-index: 2;
}

.rs-about__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rs-about__content {
    background: #F1F3F6;
}

.rs-about__holder-content {
    border-radius: 0px 15px 15px 15px;
    background: #38aee4;
    padding-left: 15px;
    padding-top: 160px;
    padding-bottom: 160px;
    padding-right: 177px;
}

.rs-about__holder-content h3 {
    color: #fff;
    font-family: "TT Travels Next";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 121%;
    margin-bottom: 16px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.rs-about__holder-content p {
    color: #fff;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    margin-bottom: 28px;
}

.rs-about__picture {
    margin-top: 95px;
    margin-left: -95px;
}

.rs-about__holder-picture {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.rs-about__holder-picture img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (min-width: 1555px) {
    .rs-about__holder-content {
        padding-left: calc((100vw - 1525px) / 2);
    }
}

@media (min-width: 1920px) {
    .rs-about__holder-picture {
        height: 744px;
    }
}

@media (max-width: 1555px) {
    .rs-about__holder-content {
        padding-top: 35px;
        padding-bottom: 35px;
        padding-right: 70px;
    }

    .rs-about__holder-content h3 {
        font-size: 26px;
    }

    .rs-about__picture {
        margin-left: -30px;
    }
}

@media (max-width: 991.98px) {
    .rs-about__wrapper {
        grid-template-columns: 1fr;
    }

    .rs-about__holder-content {
        border-radius: 0;
        padding: 35px 25px;
    }

    .rs-about__holder-content h3 {
        font-size: 21px;
        margin-bottom: 8px;
    }

    .rs-about__holder-content p {
        font-size: 13px;
        margin-bottom: 17px;
    }

    .rs-about__picture {
        margin: 0;
    }

    .rs-about__holder-picture {
        padding-bottom: 0;
        border-radius: 0;
    }
}

@media (max-width: 991px) {
    .rs-about__holder-picture {
        height: 300px;
    }
}

@media (min-width: 991px) and (max-width: 1920px) {
    .rs-about__holder-picture {
        height: clamp( 300px , -173.6318622174px  +  47.7933261572vw , 744px );
    }
}