@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

@font-face {
    font-family: "TT Travels Next";
  src: url("../../fonts/TT_Travels_Next_Bold.woff") format("woff"), url("../../fonts/TT_Travels_Next_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "Inter";
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Inter";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

ul {
    margin-bottom: 0;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background-color: #FFF;
    color: #071F34;
}

body.mobile-menu-opened,
body.filters-opened {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

html {
    font-size: 16px;
}

.wrapper,
.site {
    overflow: hidden;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.wrapper > .main,
.wrapper .site-content,
.site > .main,
.site .site-content {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.wrapper > *,
.site > * {
    min-width: 0;
}

header {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
}

.main,
.site-content {
    position: relative;
}

[class*=__container] {
    max-width: 1525px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fancybox__container {
    max-width: none !important;
}

@-webkit-keyframes stroke {
    0% {
        fill: transparent;
    }

    15% {
        fill: transparent;
        stroke: #ed8c2b;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
    }

    80% {
        fill: transparent;
        stroke: #ed8c2b;
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
    }

    100% {
        fill: #ed8c2b;
        stroke: #ed8c2b;
    }
}

@keyframes stroke {
    0% {
        fill: transparent;
    }

    15% {
        fill: transparent;
        stroke: #ed8c2b;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
    }

    80% {
        fill: transparent;
        stroke: #ed8c2b;
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
    }

    100% {
        fill: #ed8c2b;
        stroke: #ed8c2b;
    }
}

.lang-picker {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    border-radius: 20px;
    padding: 0px 18px;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.lang-picker__current {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.lang-picker__current::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    -webkit-mask-image: url("../../img/icons/chevron_down.svg");
    mask-image: url("../../img/icons/chevron_down.svg");
    background: #fff;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    margin-left: 5px;
    transition: -webkit-transform 0.35s ease;
    transition: transform 0.35s ease;
    transition: transform 0.35s ease, -webkit-transform 0.35s ease;
}

.lang-picker__dropdown {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 40px;
    overflow: hidden;
    height: 0;
    transition: height 0.35s ease;
}

.lang-picker__dropdown a {
    transition: color 0.35s ease;
}

.lang-picker.hover .lang-picker__dropdown {
    height: 40px;
}

.lang-picker.hover .lang-picker__current::after {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.slider-paging.swiper-pagination-progressbar {
    height: 2px;
    width: 100%;
    background: #dddddd;
    position: relative;
}

.slider-paging.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    -webkit-transform-origin: left;
    transform-origin: left;
    display: block;
    height: 3px;
    background: #6150e9;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical {
    display: -ms-flexbox;
    display: flex;
    gap: 26px;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet {
    color: rgba(255, 255, 255, 0.5);
    font-family: "TT Travels Next";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    transition: color 0.3s linear;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet > span,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet > span {
    display: block;
    width: 0px;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    margin-left: 26px;
    transition: width 0.3s linear;
    position: relative;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet > span::before,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet > span::before {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    transition: width 5s linear;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet.swiper-pagination-bullet-active {
    color: #fff;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active > span,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet.swiper-pagination-bullet-active > span {
    width: 100px;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active > span::before,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet.swiper-pagination-bullet-active > span::before {
    width: 100%;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:focus,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet:focus {
    outline: none;
}

.slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-clickable .swiper-pagination-bullet,
.slider-paging.swiper-pagination-bullets.swiper-pagination-vertical.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.slider-paging.swiper-pagination-fraction {
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 153%;
}

.section-title h2 {
    color: #071f34;
    font-family: "TT Travels Next";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
}

.btn-color {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: 64px;
    padding-left: 29px;
    padding-right: 29px;
    border-radius: 100px;
    background: #fff;
    outline: none;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.btn-color:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #B8D049;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    transition: -webkit-transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s;
    transition: transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s;
    transition: transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s, -webkit-transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s;
}

.btn-color span {
    color: #071f34;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 148.858%;
    text-shadow: 0px -64px 0px #071F34;
    transition: -webkit-transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s;
    transition: transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s;
    transition: transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s, -webkit-transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s;
}

.btn-color_rev {
    background: #B8D049;
}

.btn-border {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: 64px;
    padding-left: 29px;
    padding-right: 29px;
    border-radius: 50px;
    border: 1px solid rgba(184, 194, 208, 0.6);
    background: transparent;
    outline: none;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.btn-border:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #B8D049;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    transition: -webkit-transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s;
    transition: transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s;
    transition: transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s, -webkit-transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s;
}

.btn-border span {
    color: #071f34;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 148.858%;
    text-shadow: 0px -64px 0px #071F34;
    transition: -webkit-transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s;
    transition: transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s;
    transition: transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s, -webkit-transform cubic-bezier(0.87, 0, 0.13, 1) 0.6s;
}

.btn-border_light {
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.btn-border_light span {
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.btn-border_small {
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

@media (min-width: 767.98px) {
    .page-animate [data-animate] {
        visibility: hidden;
        will-change: transform;
    }

    .page-animate [data-animate].in-view {
        visibility: visible;
        -webkit-animation-name: var(--animateName);
        animation-name: var(--animateName);
        -webkit-animation-duration: var(--animateDuration);
        animation-duration: var(--animateDuration);
        -webkit-animation-delay: var(--animateDelay);
        animation-delay: var(--animateDelay);
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    .page-animate [data-animate-stager] > * {
        visibility: hidden;
        will-change: transform;
    }

    .page-animate [data-animate-stager].in-view > * {
        visibility: visible;
        -webkit-animation-name: var(--animateName);
        animation-name: var(--animateName);
        -webkit-animation-duration: var(--animateDuration);
        animation-duration: var(--animateDuration);
        -webkit-animation-delay: var(--animateDelay);
        animation-delay: var(--animateDelay);
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@media (max-width: 991.98px) {
    .lang-picker {
        border: 1px solid rgba(184, 194, 208, 0.6);
        background: #FFF;
        color: #071F34;
    }

    .lang-picker__current {
        height: 34px;
    }

    .lang-picker__current::after {
        display: none;
    }

    .btn-color span {
        font-size: 13px;
    }

    .btn-color {
        height: 49px;
    }

    .btn-border {
        height: 49px;
    }
}

@media (max-width: 767.98px) {
    [class*=__container] {
        max-width: 375px;
    }

    .slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal,
  .slider-paging.swiper-pagination-bullets.swiper-pagination-vertical {
        gap: 15px;
    }

    .slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet,
  .slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet {
        font-size: 13px;
    }

    .slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet > span,
  .slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet > span {
        margin-left: 15px;
    }

    .slider-paging.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active > span,
  .slider-paging.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet.swiper-pagination-bullet-active > span {
        width: 72px;
    }

    .section-title h2 {
        font-size: 21px;
    }
}

@media (any-hover: none) {
    [data-hidescroll]::-webkit-scrollbar {
        width: 0;
    }

    [data-hidescroll] {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@media (any-hover: hover) {
    .lang-picker__dropdown a:hover {
        color: #38AEE4;
    }

    .lang-picker:hover .lang-picker__dropdown {
        height: 40px;
    }

    .lang-picker:hover .lang-picker__current::after {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

    .btn-color:hover:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    .btn-color:hover span {
        -webkit-transform: translateY(64px);
        transform: translateY(64px);
    }

    .btn-border:hover:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    .btn-border:hover span {
        -webkit-transform: translateY(64px);
        transform: translateY(64px);
    }
}