.rs-about {
    background: url("../../img/bg_img_1.svg") 31% 5% no-repeat;
    padding-top: 120px;
    padding-bottom: 120px;
}

.rs-about__header {
    display: grid;
    grid-template-columns: 1fr 51%;
    gap: 185px;
    padding-bottom: 40px;
}

.rs-about__photo {
    position: relative;
    padding-bottom: 41%;
}

.rs-about__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-about .about-adv {
    padding-top: 55px;
    border-top: 1px solid #d9d9d9;
}

.rs-about .about-adv ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 65px;
}

.rs-about .about-adv h6 {
    color: #000;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.8%;
    margin-bottom: 11px;
}

.rs-about .about-adv p {
    color: #303030;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 153%;
}

@media (max-width: 1790px) {
    .rs-about__header {
        gap: 20px;
    }

    .rs-about .about-adv ul {
        gap: 35px;
    }
}

@media (max-width: 767.98px) {
    .rs-about {
        padding-top: 30px;
        padding-bottom: 235px;
        background-size: 375px;
        background-position: center bottom;
    }

    .rs-about__header {
        padding-bottom: 0;
        grid-template-columns: 1fr;
    }

    .rs-about .about-adv {
        padding-top: 15px;
        border: 0;
    }

    .rs-about .about-adv ul {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .rs-about .about-adv h6 {
        font-size: 16px;
    }

    .rs-about .about-adv p {
        font-size: 13px;
    }
}