.rs-slider {
    position: relative;
}

.rs-slider__slider {
    position: relative;
    height: 800px;
    margin-left: -40px;
    margin-right: -40px;
}

.rs-slider__swiper {
    height: 100%;
}

.rs-slider__slide {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-left: 230px;
}

.rs-slider__photo {
    position: relative;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rs-slider__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.rs-slider__slide-inner {
    max-width: 935px;
    background: #fff;
    position: relative;
    z-index: 2;
    padding-left: 55px;
    padding-right: 20px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.rs-slider__slide-content h1 {
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 103.3%;
    margin-bottom: 35px;
}

.rs-slider__slide-content ul {
    display: -ms-flexbox;
    display: flex;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    counter-reset: sliderContent;
}

.rs-slider__slide-content ul li {
    counter-increment: sliderContent;
}

.rs-slider__slide-content ul li:not(:last-child) {
    margin-right: 65px;
}

.rs-slider__slide-content ul li::before {
    content: "0" counter(sliderContent);
    color: #39b645;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.rs-slider__social {
    position: absolute;
    z-index: 2;
    bottom: 35px;
    left: 42px;
}

.rs-slider__slider {
    opacity: 0;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
}

.rs-slider__slider.swiper-initialized {
    opacity: 1;
}

.rs-slider__slide.swiper-slide-active.is-active .rs-slider__slide-inner .buttons {
    pointer-events: auto;
}

@media (min-width: 1790px) {
    .rs-slider {
        padding-left: calc((100% - 1760px) / 2);
        padding-right: calc((100% - 1760px) / 2);
    }
}

@media (max-width: 1790px) {
    .rs-slider__slider {
        margin-right: 0;
        margin-left: 0;
    }

    .rs-slider__slide-content ul li:not(:last-child) {
        margin-right: 20px;
    }
}

@media (max-width: 767.98px) {
    .rs-slider__slider {
        height: 605px;
    }

    .rs-slider__slide {
        padding-left: 0;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .rs-slider__slide-inner {
        padding-top: 28px;
        padding-bottom: 28px;
        padding-left: 15px;
    }

    .rs-slider__slide-content h1 {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .rs-slider__slide-content ul {
        font-size: 13px;
        display: block;
    }

    .rs-slider__social {
        right: calc((100vw - 375px) / 2);
        left: auto;
    }
}

@media (max-width: 479.98px) {
    .rs-slider__slide-inner {
        max-width: 240px;
    }

    .rs-slider__social {
        right: 15px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-slider__slide {
        padding-right: calc((100vw - 375px) / 2 + 50px);
    }

    .rs-slider__slide-inner {
        padding-left: calc((100vw - 375px) / 2);
    }
}