.rs-article {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.rs-article__wrapper {
    position: relative;
    padding-left: 154px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rs-article__content {
    position: relative;
    z-index: 2;
    max-width: 749px;
}

.rs-article__picture {
    margin-left: -40%;
    -webkit-mask-image: url("../../img/article_mask.png");
    mask-image: url("../../img/article_mask.png");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.rs-article__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rs-article__metrics {
    display: grid;
    -ms-flex-pack: end;
    justify-content: end;
}

.rs-article .article-content {
    padding-top: 50px;
}

.rs-article .article-content h3 {
    font-weight: 500;
    font-size: var(--fluid-20-50);
    line-height: 109%;
    color: #232323;
    margin-bottom: 0.32em;
}

.rs-article .article-content p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: var(--fluid-15-18);
    line-height: 166%;
    color: #232323;
    margin-bottom: 0.4444444444em;
}

.rs-article .article-content blockquote {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.6);
    border-radius: 1.1111111111em;
    padding: 1.5em 1.6666666667em;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: var(--fluid-15-18);
    line-height: 166%;
    color: #232323;
    margin-top: 1.5555555556em;
    margin-bottom: 1.5555555556em;
}

@media (min-width: 767.98px) {
    .rs-article__metrics {
        position: absolute;
        right: 54px;
        bottom: 93px;
    }
}

@media (max-width: 1838px) {
    .rs-article__wrapper {
        padding-left: 54px;
    }
}

@media (max-width: 1024.98px) {
    .rs-article {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-article__wrapper {
        padding-left: 0;
        padding-right: max(15px, (100vw - 1808px) / 2);
    }

    .rs-article__wrapper {
        grid-template-columns: 1fr;
    }

    .rs-article__picture {
        margin-left: -10%;
    }

    .rs-article .article-content {
        padding-top: 0;
    }
}

@media (max-width: 1024.98px) and (max-width: 1024.98px) {
    .rs-article__wrapper {
        padding-right: max(15px, (100vw - 768px) / 2);
    }
}

@media (max-width: 1024.98px) and (max-width: 767.98px) {
    .rs-article__wrapper {
        padding-right: max(15px, (100vw - 375px) / 2);
    }
}