.rs-banner {
    position: relative;
}

.rs-banner__container {
    position: relative;
}

.rs-banner__wrapper {
    position: relative;
    height: 784px;
}

.rs-banner__media {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-mask-image: url("../../img/slider_mask.png");
    mask-image: url("../../img/slider_mask.png");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    mask-position: center;
}

.rs-banner__media video,
.rs-banner__media img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: right;
}

.rs-banner__content {
    position: relative;
    z-index: 2;
    color: var(--belyy);
    padding: 85px 154px 85px 154px;
    max-width: 60%;
}

.rs-banner__title {
    font-weight: 500;
    font-size: var(--fluid-20-50);
    line-height: 109%;
    margin-bottom: 0.32em;
}

.rs-banner__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: var(--fluid-15-18);
    line-height: 166%;
}

.rs-banner__metrics {
    position: relative;
    z-index: 2;
}

@media (min-width: 767.98px) {
    .rs-banner__metrics {
        margin-top: 0;
        position: absolute;
        right: 30px;
        bottom: 30px;
    }
}

@media (min-width: 1024.98px) {
    .rs-banner__metrics {
        right: 81px;
        bottom: 110px;
    }
}

@media (max-width: 1550px) {
    .rs-banner__content {
        padding: 50px;
    }
}

@media (max-width: 1024.98px) {
    .rs-banner__wrapper {
        height: 558px;
    }

    .rs-banner__media {
        -webkit-mask-image: url("../../img/slider_mask_tablet.png");
        mask-image: url("../../img/slider_mask_tablet.png");
    }

    .rs-banner__media video,
  .rs-banner__media img {
        object-position: center;
    }

    .rs-banner__content {
        max-width: none;
    }
}

@media (max-width: 767.98px) {
    .rs-banner__media {
        -webkit-mask-image: url("../../img/slider_mask_mobile.png");
        mask-image: url("../../img/slider_mask_mobile.png");
    }

    .rs-banner__content {
        padding: 30px;
    }
}