.rs-benefit {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.rs-benefit__wrapper {
    padding-left: 154px;
}

.rs-benefit__head {
    position: relative;
    margin-bottom: 40px;
}

.rs-benefit .benefit-slider {
    position: relative;
}

.rs-benefit .benefit-slider__slide {
    height: auto;
}

.rs-benefit .benefit-card {
    height: 100%;
    position: relative;
    padding: 20px 20px 30px 40px;
    -webkit-mask-image: url("../../img/benefit_mask.png");
    mask-image: url("../../img/benefit_mask.png");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background: var(--belyy);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-benefit .benefit-card__icon {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.rs-benefit .benefit-card__num {
    text-align: right;
    font-weight: 500;
    font-size: var(--fluid-25-60);
    line-height: 109%;
    color: var(--dop-cvet);
}

.rs-benefit .benefit-card__title {
    font-weight: 600;
    font-size: var(--fluid-18-26);
    line-height: 127%;
    color: #232323;
    margin-top: 0.8076923077em;
    margin-bottom: 0.2307692308em;
}

.rs-benefit .benefit-card__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: var(--fluid-15-18);
    line-height: 166%;
    color: #232323;
    margin-bottom: 1.4444444444em;
}

.rs-benefit .benefit-card__paging {
    margin-top: auto;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
}

.rs-benefit .benefit-card__paging span {
    width: var(--fluid-13-16);
    height: var(--fluid-13-16);
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: var(--dop-cvet);
    border-radius: 50%;
}

.rs-benefit .benefit-card__paging span.active {
    background: var(--cvet-2);
}

@media (min-width: 1808px) {
    .rs-benefit .benefit-slider__slide {
        width: 422px;
    }
}

@media (max-width: 1838px) {
    .rs-benefit__wrapper {
        padding-left: 54px;
    }
}

@media (max-width: 1024.98px) {
    .rs-benefit {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-benefit__wrapper {
        padding: 0;
    }

    .rs-benefit__head {
        margin-bottom: 20px;
    }

    .rs-benefit .benefit-card {
        padding: 15px;
    }

    .rs-benefit .benefit-card__paging {
        gap: 4px;
    }
}

@media (max-width: 320px) {
    .rs-benefit .benefit-slider__slide {
        width: 275px;
    }
}

@media (min-width: 320px) and (max-width: 1808px) {
    .rs-benefit .benefit-slider__slide {
        width: clamp( 275px , 243.3870967742px  +  9.8790322581vw , 422px );
    }
}