.rs-chapter {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.rs-chapter__wrapper {
    position: relative;
}

.rs-chapter__content {
    margin-left: 154px;
    padding: 125px 0px 109px 126px;
    background: var(--cvet-1);
}

.rs-chapter .chapter-content {
    display: grid;
    grid-template-columns: 42% 1fr;
    gap: 85px;
}

.rs-chapter .chapter-content__title {
    font-weight: 600;
    font-size: var(--fluid-18-26);
    line-height: 120%;
    color: var(--belyy);
}

.rs-chapter .chapter-content__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: var(--fluid-15-18);
    line-height: 166%;
    color: var(--belyy);
}

.rs-chapter .chapter-content__text p:not(:last-child) {
    margin-bottom: 8px;
}

@media (min-width: 767.98px) {
    .rs-chapter__content {
        -webkit-mask-image: url("../../img/metrics_mask.png");
        mask-image: url("../../img/metrics_mask.png");
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }
}

@media (max-width: 1838px) {
    .rs-chapter__content {
        margin-left: 54px;
        padding: 54px;
    }
}

@media (max-width: 1024.98px) {
    .rs-chapter {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-chapter__content {
        margin-left: 0;
    }

    .rs-chapter .chapter-content {
        gap: 35px;
    }
}

@media (max-width: 767.98px) {
    .rs-chapter__content {
        padding: 25px;
    }

    .rs-chapter .chapter-content {
        grid-template-columns: 1fr;
    }
}