.footer-menu {
    position: relative;
}

.footer-menu__list li:not(:last-child) {
    margin-bottom: 9px;
}

.footer-menu__list li a {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #232323;
    transition: color var(--animation-duration) var(--timing-func);
}

.rs-footer {
    position: relative;
    margin-top: 58px;
    margin-bottom: 58px;
}

.rs-footer__wrapper {
    background: #fff;
}

.rs-footer__content {
    padding: 58px 154px 80px 154px;
    display: grid;
    grid-template-columns: 27% 1fr;
    gap: 210px;
}

.rs-footer__col {
    display: grid;
}

.rs-footer__col:last-child {
    grid-template-columns: 1fr auto;
    gap: 55px;
    -ms-flex-align: end;
    align-items: end;
}

.rs-footer__map {
    grid-column: span 2;
}

.rs-footer__copyright {
    margin-top: auto;
}

.rs-footer .footer-map {
    border-radius: 20px;
    height: 375px;
    overflow: hidden;
    position: relative;
}

.rs-footer .footer-map > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.rs-footer .footer-contacts {
    position: relative;
}

.rs-footer .footer-contacts__logo {
    width: 100%;
    max-width: 231px;
    margin-bottom: 76px;
}

.rs-footer .footer-contacts__logo img {
    width: 100%;
}

.rs-footer .footer-contacts__list {
    font-weight: 400;
    font-size: var(--fluid-15-18);
    line-height: 122%;
    color: #232323;
    position: relative;
    display: grid;
    gap: 1.3888888889em;
}

.rs-footer .footer-contacts__list li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 7px;
}

.rs-footer .footer-contacts__list a[href^="tel:"] {
    font-weight: 700;
    font-size: var(--fluid-18-40);
    line-height: 109%;
    color: var(--cvet-2);
}

.rs-footer .footer-contacts__list a {
    transition: color var(--animation-duration) var(--timing-func);
}

.rs-footer .footer-copyright {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: #424242;
    opacity: 0.5;
}

.rs-footer .footer-copyright p {
    margin-bottom: 7px;
}

.rs-footer .footer-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px;
    background: var(--dop-cvet);
    padding: 0px 40px;
    border-radius: 100px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 17px;
    line-height: 118%;
    color: #232323;
    transition: color, background;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--timing-func);
}

.rs-footer .footer-btn::after {
    content: "";
    width: 15px;
    height: 15px;
    -webkit-mask-image: url("../../img/icons/arrow_top_icon.svg");
    mask-image: url("../../img/icons/arrow_top_icon.svg");
    background: #e91a22;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    margin-left: 6px;
}

.rs-footer .footer-btn::after {
    transition: background var(--animation-duration) var(--timing-func);
}

@media (min-width: 767.98px) {
    .footer-menu_grid .footer-menu__list {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 78px;
        -ms-flex-pack: start;
        justify-content: start;
        grid-auto-flow: column;
    }
}

@media (min-width: 1024.98px) {
    .rs-footer__wrapper {
        -webkit-mask-image: url("../../img/footer_mask.png");
        mask-image: url("../../img/footer_mask.png");
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        mask-position: center;
    }
}

@media (max-width: 1838px) {
    .rs-footer__content {
        gap: 45px;
        padding: 54px;
    }
}

@media (max-width: 1300px) {
    .rs-footer__col:last-child {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .rs-footer__map {
        grid-column: auto;
    }
}

@media (max-width: 1024.98px) {
    .rs-footer__content {
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 15px;
    }

    .rs-footer .footer-contacts__logo {
        margin-bottom: 35px;
    }

    .rs-footer .rs-footer__col {
        display: contents;
    }

    .rs-footer .rs-footer__copyright {
        -ms-flex-order: 1;
        order: 1;
    }
}

@media (any-hover: hover) {
    .footer-menu__list li a:hover {
        color: var(--primary-color);
    }

    .rs-footer .footer-contacts__list a:hover {
        color: var(--primary-color);
    }

    .rs-footer .footer-btn:hover {
        background: var(--cvet-2);
        color: var(--belyy);
    }

    .rs-footer .footer-btn:hover::after {
        background: #fff;
    }
}