.rs-steps {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.rs-steps__wrapper {
    padding-left: 154px;
}

.rs-steps__head {
    max-width: 890px;
    position: relative;
    margin-bottom: 40px;
}

.rs-steps__content {
    display: grid;
    grid-template-columns: 230px 1fr;
    -ms-flex-align: start;
    align-items: start;
}

.rs-steps .steps-title {
    display: inline-block;
    border-radius: 20px;
    padding: 30px;
    background: var(--cvet-2);
    color: var(--belyy);
    z-index: 2;
    position: relative;
    max-width: 225px;
    margin-top: 72px;
}

.rs-steps .steps-title h6 {
    font-weight: 600;
    font-size: var(--fluid-25-55);
    text-align: center;
}

.rs-steps .steps-title p {
    font-weight: 400;
    font-size: var(--fluid-13-16);
    line-height: 166%;
    text-align: center;
}

.rs-steps .steps-slider {
    position: relative;
    min-width: 0;
    margin-left: -75px;
}

.rs-steps .steps-slider__slide {
    height: auto;
}

.rs-steps .steps-card {
    height: 100%;
    position: relative;
    padding: 30px;
    -webkit-mask-image: url("../../img/benefit_mask.png");
    mask-image: url("../../img/benefit_mask.png");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-position: center;
    background-size: cover;
    color: var(--color);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rs-steps .steps-card__num {
    font-weight: 500;
    font-size: var(--fluid-25-60);
    line-height: 109%;
    text-align: right;
    margin-bottom: auto;
}

.rs-steps .steps-card__title {
    font-weight: 600;
    font-size: var(--fluid-18-26);
    line-height: 127%;
    margin-top: 0.8076923077em;
    margin-bottom: 0.2307692308em;
}

.rs-steps .steps-card__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: var(--fluid-15-18);
    line-height: 166%;
}

@media (min-width: 1808px) {
    .rs-steps .steps-slider__slide {
        width: 422px;
    }

    .rs-steps .steps-card {
        min-height: 483px;
    }
}

@media (max-width: 1838px) {
    .rs-steps__wrapper {
        padding-left: 54px;
    }
}

@media (max-width: 1024.98px) {
    .rs-steps {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .rs-steps__wrapper {
        padding: 0;
    }

    .rs-steps__head {
        margin-bottom: 20px;
    }

    .rs-steps .steps-card {
        padding: 15px;
    }
}

@media (max-width: 767.98px) {
    .rs-steps__content {
        grid-template-columns: 1fr;
    }

    .rs-steps .steps-title {
        display: none;
    }

    .rs-steps .steps-slider {
        margin-left: 0;
    }
}

@media (max-width: 320px) {
    .rs-steps .steps-slider__slide {
        width: 275px;
    }

    .rs-steps .steps-card {
        min-height: 275px;
    }
}

@media (min-width: 320px) and (max-width: 1808px) {
    .rs-steps .steps-slider__slide {
        width: clamp( 275px , 243.3870967742px  +  9.8790322581vw , 422px );
    }

    .rs-steps .steps-card {
        min-height: clamp( 275px , 230.2688172043px  +  13.9784946237vw , 483px );
    }
}