.rs-services {
    position: relative;
    z-index: 3;
    padding-top: 120px;
    padding-bottom: 60px;
}

.rs-services__head {
    margin-bottom: 40px;
}

.rs-services__items {
    padding-left: 154px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.rs-services__item {
    min-height: 483px;
}

.rs-services .services-card {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow: hidden;
    -webkit-mask-image: url("../../img/services_mask.png");
    mask-image: url("../../img/services_mask.png");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    mask-position: center;
    padding: 30px;
    background-position: center;
    background-size: cover;
    transition: transform var(--animation-duration) var(--timing-func);
}

.rs-services .services-card > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    font-size: 0;
}

.rs-services .services-card__title {
    font-weight: 600;
    font-size: var(--fluid-20-28);
    line-height: 118%;
    color: var(--color);
    padding-right: 60px;
}

.rs-services .services-card__icon {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

@media (max-width: 1838px) {
    .rs-services__items {
        padding-left: 0;
        gap: 15px;
    }

    .rs-services .services-card__title {
        padding-right: 0;
    }
}

@media (max-width: 1024.98px) {
    .rs-services {
        padding-top: 60px;
        padding-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .rs-services__head {
        margin-bottom: 20px;
    }

    .rs-services__items {
        display: grid;
        gap: 24px;
        grid-template-columns: 290px;
        grid-auto-flow: column;
        grid-auto-columns: 290px;
        overflow-x: auto;
        overflow-y: hidden;
        margin-right: -15px;
        padding-right: 15px;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    }

    .rs-services__item {
        scroll-snap-align: start;
    }

    .rs-services__item {
        min-height: 283px;
    }
}

@media (min-width: 405px) and (max-width: 767px) {
    .rs-services__items {
        margin-right: calc((100vw - 375px) / -2);
    }
}

@media (any-hover: hover) {
    .rs-services .services-card:hover {
        transform: translateY(-20px);
    }
}